<div id="portfolio" class={{vleController.layoutState}} ng-controller='PortfolioController as portfolioController'>
	<input ng-show='!portfolioController.isVisible' type='button' value='Portfolio' ng-click='portfolioController.open()'></input>
	<div ng-show='portfolioController.isVisible' style='border: 1px dotted; resize: both; overflow: auto'>
        <h3>My Portfolio <input type='button' value='X' ng-click='portfolioController.close()'></input></h3>
		
		Items:<br/>
		<ul id="portfolioItems" ui-sortable="sortableOptions" ng-model="portfolioController.portfolio.items" ng-show="portfolioController.portfolio.items.length" ng-cloak>
            <li ng-repeat="item in portfolioController.portfolio.items track by $index">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span class="portfolio-index">{{$index+1}}</span>
                        <span class="portfolio-item"><button class="link button" title="View Item">{{item}} <span class="fa fa-search-plus fa-flip-horizontal"></span></button></span>
                        <input type='button' value='X' ng-click='portfolioController.deleteItem(item)'></input>
                        <!--  
                        <a class="portfolio-delete" title="Delete" ng-click="portfolioController.deleteItem(item)"><span class="fa fa-trash fa-fw"></span></a>
                        -->
                    </div>
                </div>
            </li>
        </ul>
		
		<hr/>
		Deleted Items:<br/>
		<div ng-repeat='deletedItem in portfolioController.portfolio.deletedItems'>
            {{deletedItem}}
        </div>
		
	</div>
</div>