<link rel="stylesheet" type="text/css" href="wise5/lib/drawingTool/drawing-tool.css">

<div ng-controller='DrawController as drawController' flex>
    <div ng-if='drawController.mode === "authoring"'>
                <textarea ng-model='drawController.authoringComponentContent.prompt'
                          ng-change='drawController.authoringViewComponentChanged()'
                          ng-model-options='{ debounce: 1000 }'
                          rows='10'
                          cols='100'></textarea>
                <br/>
                <label>
                    <input type='checkbox'
                       ng-model='drawController.authoringComponentContent.tools.select'
                       ng-change='drawController.authoringViewComponentChanged()'/>
                    Select Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.line'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Line Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.shape'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Shape Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.freeHand'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Free Hand Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.text'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Text Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.stamp'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Stamp Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.clone'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Clone Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.strokeColor'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Stroke Color Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.fillColor'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Fill Color Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.strokeWidth'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Stroke Width Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.sendBack'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Send Back Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.sendForward'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Send Forward Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.undo'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Undo Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.redo'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Redo Tool
                </label>
                <br/>
                <label>
                    <input type='checkbox'
                           ng-model='drawController.authoringComponentContent.tools.delete'
                           ng-change='drawController.authoringViewComponentChanged()'/>
                    Delete Tool
                </label>
                <br/>
                Max Score:
                <input type='number'
                       ng-model='drawController.authoringComponentContent.maxScore'
                       ng-change='drawController.authoringViewComponentChanged()'
                       ng-model-options='{ debounce: 1000 }'
                       style='width: 3em'/>
                <br/>
                Show Previous Work Step:
                <select ng-model='drawController.authoringComponentContent.showPreviousWorkNodeId'
                        ng-change='drawController.authoringShowPreviousWorkNodeIdChanged()'>
                    <option></option>
                    <option ng-repeat='item in drawController.idToOrder | toArray | orderBy : "order"'
                            value='{{item.$key}}'
                            ng-if='drawController.isApplicationNode(item.$key)'>{{drawController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
                </select>
                <br/>
                Show Previous Work Component:
                <select ng-model='drawController.authoringComponentContent.showPreviousWorkComponentId'
                        ng-change='drawController.authoringViewComponentChanged()'>
                    <option></option>
                    <option ng-repeat='component in drawController.getComponentsByNodeId(drawController.authoringComponentContent.showPreviousWorkNodeId)' value='{{component.id}}'>{{component.type}}</option>
                </select>
                <br/>
                Show Previous Work Prompt:
                <input type='checkbox'
                       ng-model='drawController.authoringComponentContent.showPreviousWorkPrompt'
                       ng-change='drawController.authoringViewComponentChanged()'/>
                <br/>
                <textarea ng-model='drawController.authoringComponentContentJSONString'
                          ng-change='drawController.advancedAuthoringViewComponentChanged()'
                          ng-model-options='{ debounce: 1000 }'
                          rows='10'
                          cols='100'></textarea>
    </div>
    <div class="component__prompt">
        <div class="component__prompt__content" compile='drawController.getPrompt()'></div>
        <possible-score max-score="drawController.componentContent.maxScore"
                        ng-if="drawController.mode === 'student' && !drawController.latestAnnotations.score"></possible-score>
    </div>
    <div class="component__actions" layout="row">
        <md-button class="md-accent" ng-show="drawController.isStudentAttachmentEnabled"
                   ng-click="nodeController.showStudentAssets($event, component.id, drawController.isDisabled)">
            <md-icon>image</md-icon> Insert file
        </md-button>
    </div>
    <md-button class="md-accent"
            ng-click="drawController.resetButtonClicked()"
            ng-show="drawController.isResetButtonVisible">
            <md-icon> restore </md-icon> Reset
    </md-button>
    <md-button class="md-accent md-primary"
            ng-click='drawController.snipDrawing($event)'
            ng-show='drawController.showSnipDrawingButton()'>
        <md-icon> content_cut </md-icon> Add to Notebook
    </md-button>
    <div data-drop="true"
         jqyoui-droppable="{onDrop: 'drawController.dropCallback(item, $index)'}">
        <div id="{{drawController.drawingToolId}}"></div>
        <!--
        <h2>API examples:</h2>
        <div>
          <button id="set-background">Set background</button>
          <input type="text" id="background-src" value="https://ccshutterbugtest.s3.amazonaws.com/7a72684bb7e.png" size="70" />
          <button id="resize-background">Resize background to canvas</button>
          <button id="resize-canvas">Resize cavas to background</button>
          <button id="shrink-background">Shrink background to cavas</button>
        </div>
        <div>
          <button id="clear">Clear</button>
          <button id="save">Save</button>
          <button id="load" disabled>Load</button>
        </div>
        -->
    </div>
    <component-annotations ng-if="drawController.mode === 'student'"
                           score-annotation='drawController.latestAnnotations.score'
                           comment-annotation='drawController.latestAnnotations.comment'
                           max-score="drawController.componentContent.maxScore"></component-annotations>
    <md-button class="revision md-icon-button" ng-click='nodeController.showRevisions($event, component.id)'
               ng-if="nodeController.getRevisions(component.id).length > 1">
        <md-icon> history </md-icon>
        <md-tooltip md-direction="top">{{nodeController.getRevisions(component.id).length}} Versions</md-tooltip>
    </md-button>
    <div class="component__actions" layout="row" layout-align="start center">
      <md-button class="md-raised md-primary"
                 ng-click='drawController.submitButtonClicked()'
                 ng-disabled='drawController.isDisabled || !drawController.isSubmitDirty'
                 ng-show='drawController.showSubmitButton()'>Submit</md-button>
      <md-button class="md-primary"
                 ng-class="{'md-raised': !drawController.showSubmitButton()}"
                 ng-click='drawController.saveButtonClicked()'
                 ng-disabled='drawController.isDisabled || !drawController.isDirty'
                 ng-show='drawController.showSaveButton()'>Save</md-button>
           <span ng-if="drawController.showSaveButton() || drawController.showSubmitButton()"
                 ng-show="drawController.saveMessage.text"
                 class="component__actions__info md-caption">
                 {{drawController.saveMessage.text}} <span class="component__actions__more"><md-tooltip md-direction="top">{{ drawController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}</md-tooltip><span am-time-ago="drawController.saveMessage.time"></span></span>
           </span>
    </div>
    <div ng-if='drawController.mode === "grading"'>
        <annotation ng-if='drawController.componentContent.maxScore > -1'
                    type='score'
                    mode='drawController.mode'
                    node-id='drawController.nodeId'
                    component-id='drawController.componentId'
                    from-workgroup-id='teacherWorkgroupId'
                    to-workgroup-id='workgroupId'
                    component-state-id='componentState.id'
                    active='true'></annotation>
        <br ng-if='drawController.componentContent.maxScore > -1'/>
        <annotation type='comment'
                    mode='drawController.mode'
                    node-id='drawController.nodeId'
                    component-id='drawController.componentId'
                    from-workgroup-id='teacherWorkgroupId'
                    to-workgroup-id='workgroupId'
                    component-state-id='componentState.id'
                    active='true'></annotation>
    </div>
</div>
