.prompt {
  width: 100%;
}

.dimension-input {
  width: 120px;
  margin-right: 20px;
}

.data-origin-input {
  width: 150px;
  margin-right: 20px;
}

.radio-button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.add-button-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-button-label {
  margin-right: 10px;
}

.object-container {
  border: 2px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px 20px 10px 20px;
}

.object-image-input-container {
  width: 60%;
  margin-right: 20px;
}

.object-image-input {
  width: 90%;
  margin-right: 20px;
}

.object-text-input {
  width: 60%;
  margin-right: 20px;
}

.button {
  margin-right: 10px;
}

.image-dimension {
  width: 150px;
  margin-right: 20px;
}

.image-moving-input {
  width: 250px;
  margin-right: 10px;
}

.image-button {
  margin-right: 20px;
}

.image-location {
  width: 150px;
  margin-right: 20px;
}

.image-data {
  width: 100px;
  margin-right: 20px;
}

.data-point-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.data-point-input {
  width: 80px;
  margin-right: 20px;
}

.data-point-image {
  width: 200px;
  margin-right: 20px;
}

.choose-step {
  width: 300px;
  margin-right: 20px;
}

.choose-component {
  width: 300px;
  margin-right: 20px;
}

.index-input {
  width: 100px;
  margin-right: 20px;
}