<div class="blurb mat-elevation-z4">
  <img *ngIf="imgSrc"
       class="blurb__image"
       src="{{ imgSrc }}"
       alt="{{ imgDescription }}" />
  <hr class="blurb__divider accent-2-bg" />
  <div class="blurb__content">
    <ng-template #defaultHeadline>{{ headline }}</ng-template>
    <h2 *ngIf="headline || headlineRef" class="accent">
      <ng-container *ngTemplateOutlet="headlineRef ? headlineRef: defaultHeadline"></ng-container>
    </h2>
    <ng-template #defaultContent>{{ content }}</ng-template>
    <p *ngIf="content || contentRef" class="accent-1 mat-subheading-2">
      <ng-container *ngTemplateOutlet="contentRef ? contentRef: defaultContent"></ng-container>
    </p>
  </div>
</div>
