<header class="header">
  <mat-toolbar class="header__content section--slant">
    <div class="content" fxLayout="row" fxLayoutAlign="start center">
      <a routerLink="/" class="header__logo">
        <picture>
          <source type="image/webp" srcset="assets/img/wise-web-header-img.webp, assets/img/wise-web-header-img@2x.webp 2x">
          <source srcset="assets/img/wise-web-header-img.png, assets/img/wise-web-header-img@2x.png 2x">
          <img src="assets/img/wise-web-header-img@2x.png" i18n-alt alt="WISE header logo" />
        </picture>
      </a>
      <span fxFlex="1 1 auto"></span>
      <app-header-links fxHide fxShow.gt-sm [user]="user" [location]="location"></app-header-links>
      <app-header-account-menu *ngIf="role" [user]="user"></app-header-account-menu>
      <button *ngIf="!location" mat-icon-button fxHide.gt-sm (click)="showMobileMenu()">
        <mat-icon i18n-aria-label aria-label="Main menu">menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>
