@import
  '~style/abstracts/variables',
  '~style/abstracts/functions',
  '~style/abstracts/mixins';

.header {
  position: fixed;
  top: 0;
  min-height: 80px;
  z-index: 1;
  font-size: 14px;

  &::after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-1deg);
    transform-origin: 100%;
    z-index: -1;
  }
}

.header__logo {
  width: 200px;
  max-width: 248px;
  margin-top: 1.5%;

  @media (min-width: breakpoint('sm.min')) {
    width: 36%;
  }

  img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }
}

.mat-icon-button {
  @include mat-icon-button-size(32px);
}
