<style>
    .stepHeader {
        margin-left: 20px !important;
    }
    .branchPathStepHeader {
        margin-left: 20px !important;
    }
    .componentHeader {
        margin-left: 40px !important;
    }
    .md-button {
        text-transform: none;
    }
    md-checkbox.md-checked .md-icon {
        background-color: rgba(21,101,192,0.87);
    }
    .exportComponentDataButton {
      min-height: 30px !important;
      min-width: 46px !important;
      font-size: 12px !important;
      line-height: 0px;
    }
</style>

<div class="view-content view-content--with-sidemenu">
    <div class="l-constrained" layout="column">
        <div style="float:right">
            <div ng-if="dataExportController.exportType == null">
                <md-button class="md-raised" ng-click="dataExportController.exportOneWorkgroupPerRowClicked()" translate="exportOneWorkgroupPerRow" id="downloadOneWorkgroupPerRowButton" aria-label="{{ ::'exportOneWorkgroupPerRow' | translate }}"></md-button>
                <br/>
                <md-button class="md-raised" ng-click="dataExportController.exportType = 'latestStudentWork'" translate="exportLatestStudentWork" id="downloadLatestStudentWorkButton" aria-label="{{ ::'exportLatestStudentWork' | translate }}"></md-button>
                <br/>
                <md-button class="md-raised" ng-click="dataExportController.exportType = 'allStudentWork'" translate="exportAllStudentWork" id="downloadStudentWorkButton" aria-label="{{ ::'exportAllStudentWork' | translate }}"></md-button>
                <br/>
                <md-button class="md-raised" ng-click="dataExportController.exportType = 'events'" translate="exportEvents" id="downloadStudentEventsButton" aria-label="{{ ::'exportEvents' | translate }}"></md-button>
                <br/>
                <md-button class="md-raised" ng-click="dataExportController.export('latestNotebookItems')" translate="exportLatestNotebookItems" id="downloadLatestNotebookButton" aria-label="{{ ::'exportLatestNotebookItems' | translate }}"></md-button>
                <md-button class="md-raised" ng-click="dataExportController.export('allNotebookItems')" translate="exportAllNotebookItems" id="downloadAllNotebookButton" aria-label="{{ ::'exportAllNotebookItems' | translate }}"></md-button>
                <br/>
                <md-button class="md-raised" ng-click="dataExportController.export('notifications')" translate="exportNotifications" id="downloadNotificationsButton" aria-label="{{ ::'exportNotifications' | translate }}"></md-button>
                <br/>
                <md-button class="md-raised" ng-click="dataExportController.export('studentAssets')" translate="exportStudentAssets" id="downloadStudentAssetsButton" aria-label="{{ ::'exportStudentAssets' | translate }}"></md-button>
                <br/>
                <md-button class="md-raised" ng-click="dataExportController.showExportComponentDataPage()" translate="exportComponentData" id="downloadComponentDataButton" aria-label="{{ ::'exportComponentData' | translate }}"></md-button>
                <br/>
                <md-button class="md-raised" ng-click="dataExportController.rawDataExportClicked()" translate="exportRawData" id="downloadRawDataButton" aria-label="{{ ::'exportRawData' | translate }}"></md-button>
                <br/>
                <md-button class="md-raised" ng-click="dataExportController.exportVisitsClicked()" translate="exportStepVisitEvents" id="exportVisitsDataButton" aria-label="{{ ::'exportVisits' | translate }}"></md-button>
            </div>
            <div ng-if="dataExportController.exportType == 'latestStudentWork' || dataExportController.exportType == 'allStudentWork' || dataExportController.exportType == 'events' || dataExportController.exportType == 'oneWorkgroupPerRow' || dataExportController.exportType == 'rawData' ">
                <h4>{{ dataExportController.exportType | translate }}</h4>
                <div ng-if="dataExportController.exportType == 'oneWorkgroupPerRow'">
                    <md-button class="md-raised" ng-click="dataExportController.defaultClicked()">{{ ::'default' | translate }}</md-button>
                    <md-button class="md-raised" ng-click="dataExportController.everythingClicked()">{{ ::'everything' | translate }}</md-button>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeStudentWork">{{ ::'includeStudentWork' | translate }}</md-checkbox>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeStudentWorkIds">{{ ::'includeStudentWorkIDs' | translate }}</md-checkbox>
                    <br ng-if="dataExportController.canViewStudentNames"/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeStudentNames" ng-if="dataExportController.canViewStudentNames">{{ ::'includeStudentNames' | translate }}</md-checkbox>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeStudentWorkTimestamps">{{ ::'includeStudentWorkTimestamps' | translate }}</md-checkbox>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeBranchPathTaken">{{ ::'includeBranchPathTaken' | translate }}</md-checkbox>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeBranchPathTakenNodeId">{{ ::'includeBranchPathTakenNodeId' | translate }}</md-checkbox>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeBranchPathTakenStepTitle">{{ ::'includeBranchPathTakenStepTitle' | translate }}</md-checkbox>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeScores">{{ ::'includeScores' | translate }}</md-checkbox>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeScoreTimestamps">{{ ::'includeScoreTimestamps' | translate }}</md-checkbox>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeComments">{{ ::'includeComments' | translate }}</md-checkbox>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeCommentTimestamps">{{ ::'includeCommentTimestamps' | translate }}</md-checkbox>
                </div>
                <div ng-if="dataExportController.exportType == 'rawData'">
                    <md-button class="md-raised" ng-click="dataExportController.defaultClicked()">{{ ::'default' | translate }}</md-button>
                    <md-button class="md-raised" ng-click="dataExportController.everythingClicked()">{{ ::'everything' | translate }}</md-button>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeStudentWork">{{ ::'includeStudentWork' | translate }}</md-checkbox>
                    <br ng-if="dataExportController.canViewStudentNames"/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeStudentNames" ng-if="dataExportController.canViewStudentNames">{{ ::'includeStudentNames' | translate }}</md-checkbox>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeAnnotations">{{ ::'includeAnnotations' | translate }}</md-checkbox>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeEvents">{{ ::'includeEvents' | translate }}</md-checkbox>
                    <br/>
                </div>
                <div ng-if="dataExportController.exportType == 'latestStudentWork' || dataExportController.exportType == 'allStudentWork'">
                  <br ng-if="dataExportController.canViewStudentNames"/>
                  <md-checkbox class="md-primary" ng-model="dataExportController.includeStudentNames" ng-if="dataExportController.canViewStudentNames">{{ ::'includeStudentNames' | translate }}</md-checkbox>
                </div>
                <div ng-if="dataExportController.exportType === 'events'">
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeStudentEvents">Include Student Events</md-checkbox>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeTeacherEvents">Include Teacher Events</md-checkbox>
                    <br/>
                    <md-checkbox class="md-primary" ng-model="dataExportController.includeNames">Include Names</md-checkbox>
                </div>
                <md-radio-group ng-if="dataExportController.exportType == 'latestStudentWork' || dataExportController.exportType == 'allStudentWork' || dataExportController.exportType == 'oneWorkgroupPerRow' || dataExportController.exportType == 'rawData'"
                                ng-model="dataExportController.exportStepSelectionType">
                    <md-radio-button value="exportAllSteps" class="md-primary">{{ ::'exportAllSteps' | translate }}</md-radio-button>
                    <md-radio-button value="exportSelectSteps" class="md-primary">{{ ::'exportSelectSteps' | translate }}</md-radio-button>
                </md-radio-group>
                <md-button class="md-raised" ng-click="dataExportController.export()" translate="export" id="doExportButton" aria-label="{{ ::'export' | translate }}"></md-button>
                <md-button class="md-raised" ng-click="dataExportController.exportType = null" translate="cancel" id="cancel" aria-label="{{ ::'cancel' | translate }}"></md-button>
                <div ng-if="dataExportController.exportStepSelectionType == 'exportSelectSteps'">
                    <md-button translate="selectAll" ng-click="dataExportController.selectAll()" aria-label="{{ ::'selectAll' | translate }}"></md-button>
                    <md-button translate="deselectAll" ng-click="dataExportController.deselectAll()" aria-label="{{ ::'deselectAll' | translate }}"></md-button><br/>
                    <h4 style='display:inline'>{{dataExportController.project.metadata.title}}</h4>
                    <span style="cursor:pointer" ng-click='dataExportController.previewProject()'>
                        <md-tooltip md-direction="right"><span translate="preview"></span></md-tooltip>
                        <md-icon>pageview</md-icon>
                    </span><br/>
                    <div ng-repeat='projectItem in dataExportController.projectIdToOrder'>
                        <md-checkbox ng-model='projectItem.checked'
                                    ng-change="dataExportController.nodeItemClicked(projectItem)"
                                    ng-if='projectItem.order != 0'
                                    ng-class='{"md-primary": true, "groupHeader": dataExportController.isGroupNode(projectItem.node.id), "stepHeader": !dataExportController.isGroupNode(projectItem.node.id), "branchPathStepHeader": dataExportController.isNodeInAnyBranchPath(projectItem.node.id) && !dataExportController.isGroupNode(projectItem.node.id)}'
                                    aria-label='{{ ::"step" | translate }}'>
                            <h6 style='display: inline; cursor: pointer' ng-if='projectItem.order != 0'>
                                {{::dataExportController.getNodePositionById(projectItem.node.id)}} {{::dataExportController.getNodeTitleByNodeId(projectItem.node.id)}}
                            </h6>
                        </md-checkbox>
                        <span style="cursor:pointer" ng-if='projectItem.node.type != "group"'
                                ng-click='dataExportController.previewNode(projectItem.node)'>
                            <md-tooltip md-direction="right"><span translate="preview"></span></md-tooltip>
                            <md-icon>pageview</md-icon>
                        </span>
                        <div ng-if='projectItem.order != 0 && projectItem.node.type != "group" && projectItem.node.components.length > 0'
                             ng-repeat='componentItem in ::projectItem.node.components track by $index'>
                            <md-checkbox ng-model='componentItem.checked' class='md-primary componentHeader' aria-label='{{ ::componentItem.type }}'>
                                {{::($index + 1)}} {{::componentItem.type}}
                            </md-checkbox>
                        </div>
                    </div>
                    <md-button class="md-raised" ng-click="dataExportController.export()" translate="export" id="doExportButton2" aria-label="{{ ::'export' | translate }}"></md-button>
                    <md-button class="md-raised" ng-click="dataExportController.exportType = null" translate="cancel" id="cancel" aria-label="{{ ::'cancel' | translate }}"></md-button>
                </div>
            </div>
            <div ng-if='dataExportController.exportType == "componentData"'>
              <md-button class="md-raised" ng-click="dataExportController.exportType = null" id="cancel" aria-label="{{ ::'cancel' | translate }}">
                  <md-icon>arrow_back</md-icon>
                  <md-tooltip>
                      {{ ::'back' | translate }}
                  </md-tooltip>
              </md-button>
              <h4>{{ ::'exportComponentData' | translate }}</h4>
              <br/>
              <md-checkbox class="md-primary" ng-model="dataExportController.includeStudentNames" ng-if="dataExportController.canViewStudentNames">{{ ::'includeStudentNames' | translate }}</md-checkbox>
              <br ng-if="dataExportController.canViewStudentNames"/>
              <md-checkbox class="md-primary" ng-model="dataExportController.includeCorrectnessColumns">{{ ::'includeCorrectnessColumns' | translate }}</md-checkbox>
              <br/>
              <md-checkbox class="md-primary" ng-model="dataExportController.includeOnlySubmits">{{ ::'includeOnlySubmits' | translate }}</md-checkbox>
              <br/>
              <h4 style='display:inline'>{{dataExportController.project.metadata.title}}</h4>
              <span style="cursor:pointer" ng-click='dataExportController.previewProject()'>
                  <md-tooltip md-direction="right"><span translate="preview"></span></md-tooltip>
                  <md-icon>pageview</md-icon>
              </span><br/>
              <div ng-repeat='projectItem in dataExportController.projectIdToOrder'>
                  <h6 style='display: inline; cursor: pointer'
                      ng-if='projectItem.order != 0'
                      ng-class='{ "stepHeader" : !dataExportController.isGroupNode(projectItem.node.id) }'>
                      {{::dataExportController.getNodePositionById(projectItem.node.id)}} {{::dataExportController.getNodeTitleByNodeId(projectItem.node.id)}}
                  </h6>
                  <span style="cursor:pointer" ng-if='projectItem.node.type != "group"'
                          ng-click='dataExportController.previewNode(projectItem.node)'>
                      <md-tooltip md-direction="right"><span translate="preview"></span></md-tooltip>
                      <md-icon>pageview</md-icon>
                  </span>
                  <div ng-if='projectItem.order != 0 && projectItem.node.type != "group" && projectItem.node.components.length > 0'
                       ng-repeat='componentItem in ::projectItem.node.components track by $index'
                       class='componentHeader'>
                      <div>
                        {{::($index + 1)}}. {{::componentItem.type}}
                        <md-button ng-if='dataExportController.canExportAllRevisionsForComponentDataType(componentItem.type)'
                            class='md-primary md-raised exportComponentDataButton'
                            ng-click='dataExportController.exportComponentAllRevisions(projectItem.node.id, componentItem)'>
                          <md-icon>file_download</md-icon>
                          <span>{{ ::'all' | translate }}</span>
                          <md-tooltip>{{ ::'downloadAllRevisionsExport' | translate }}</md-tooltip>
                        </md-button>
                        <md-button ng-if='dataExportController.canExportLatestRevisionsForComponentDataType(componentItem.type)'
                            class='md-primary md-raised exportComponentDataButton'
                            ng-click='dataExportController.exportComponentLatestRevisions(projectItem.node.id, componentItem)'>
                          <md-icon>file_download</md-icon>
                          <span>{{ ::'latest' | translate }}</span>
                          <md-tooltip>{{ ::'downloadLatestRevisionsExport' | translate }}</md-tooltip>
                        </md-button>
                        <span ng-if='dataExportController.componentExportTooltips[componentItem.type] != null'>
                          <md-icon>help</md-icon>
                          <md-tooltip md-direction='right'>{{ dataExportController.componentExportTooltips[componentItem.type] }}</md-tooltip>
                        </span>
                      </div>
                  </div>
              </div>
              <md-button class="md-raised" ng-click="dataExportController.exportType = null" id="cancel">
                  <md-icon>arrow_back</md-icon>
                  <md-tooltip>
                      {{ ::'back' | translate }}
                  </md-tooltip>
              </md-button>
            </div>
        </div>
    </div>
</div>
