<h2 class="standalone__title accent" i18n>Teacher Forgot Username or Password</h2>
<div class="standalone__content forgot"
     fxLayout="row"
     fxLayout.xs="column"
     fxFlexLayoutAlign="center center">
  <app-call-to-action fxFlex
                      icon="account_box"
                      iconColor="accent"
                      i18n-headline
                      headline="Username"
                      i18n-content
                      content="Look up username"
                      destination="username"></app-call-to-action>
  <app-call-to-action fxFlex
                      icon="lock"
                      iconColor="accent"
                      i18n-headline
                      headline="Password"
                      i18n-content
                      content="Reset password"
                      destination="password"></app-call-to-action>
</div>
