 /* Primary Styles
    Author: Jonathan Lim-Breitbart
 */
body {
	min-width:924px;
	background-color: #ffffff;
}

.ui-widget {
	/*font-size:1em !important;*/
}

header {
	margin:0;
}

#response {
	display:none;
}

#prompt {
	position:relative;
}

#showResponse {
	position:absolute;
	right:0;
	top:.45em;
	margin:0 .5em;
	display:none;
}

#promptLabel {
	margin-right:135px;
}

#addNew {
  margin:0.5em;
}

#explanationSpace {
	background: none repeat scroll 0 0 #CCCCCC;
    margin: 0 auto;
    padding: 1em;
}

#ideas, #explanation {
  height:488px;
  border: 2px solid #777777;
  background: none repeat scroll 0 0 #FFFFFF;
}

#ideas {
	margin-right:650px;
}

#ideasWrapper {
  border-bottom: 1px solid #CCCCCC;
  height: 450px;
  overflow: auto;
  padding: 3px 3px 0;
}

#ideasWrapper.hover, #ideasWrapper.hover td {
  background-color:#FFEEED;
}

#target.hover {
  border-color:#FF563F;
}

#ideasEmpty {
  margin: .5em;
}

table.tablesorter {
  width:100%;
}

table#activeIdeas {
  margin-top:0;
  margin-bottom:0;
}

table#activeIdeas th, table#activeIdeas td {
  width:25px;
  max-width:50%;
}

table#activeIdeas th.icon, table#activeIdeas td.icon {
  max-width:25px;
  text-align:center;
}

table.tablesorter tbody tr {
  line-height: 1.5em;
}

table.tablesorter tbody tr.ui-draggable.drag td, table.tablesorter tbody tr.ui-draggable.inuse td {
  background-color:#eee;
  color: #777;
}

table#activeIdeas tr td {
	opacity:.35;
	filter:Alpha(Opacity=35);
}

table#activeIdeas tr.ui-draggable td {
	opacity:1;
	filter:Alpha(Opacity=100);
}

.drag-idea table {
  margin:0;
}

#explanation {
  border: 2px solid #777777;
  position:relative;
  width:648px;
  float:right;
}

#explanationIdeas {
	padding:3px;
	background-color:#EEEEEE;
}

#target {
  height:480px;
  width:640px;
  border:1px solid #CCCCCC;
  position:relative;
  background-color:#FFFFFF;
}

#spacePrompt {
	padding:.25em;
	text-align:center;
}

#spacePromptText {
	background: none repeat scroll 0 0 rgb(250, 250, 250);
	background: none repeat scroll 0 0 rgba(250, 250, 250, 0.95);
	border: 1px solid #777777;
	box-shadow: 0 0 2px #777777;
	margin: 8em 2em 0;
	padding: 0.5em;
}

.exIdea {
  width: 150px;
  padding: .5em;
  border: 2px solid #222;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color:rgb(38, 84, 207);
  /*background-color:#2654CF;*/
  color:#fff;
  text-align:center;
  cursor:move;
  opacity:.95;
}

.exIdea span:hover {
  border-color: #FFFFFF !important;
}

.exIdea.deleted {
  color:#333333;
}

.exIdea.deleted span:hover {
  color:#333333;
}

.exIdea.selected {
  -moz-box-shadow: 0 0 2px 1px #222222;
  -webkit-box-shadow: 0 0 2px 1px #222222;
  box-shadow: 0 0 2px 1px #222222;
  /*border-color: #dadf8b;*/
  color: #FFFFFF;
}

.exIdea .ui-resizable-se {
	background-color:rgb(200,200,200);
	background-color: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 2px 0 4px 0;
    -webkit-border-radius: 2px 0 4px 0;
    border-radius: 12px 0 4px 0;
    bottom: 0;
    height: 15px;
    right: 0;
    width: 15px;
}

#colorPicker {
  position:absolute;
  width:26px;
  top:0;
  right:0;
  border:2px solid #333;
  display:none;
  z-index:1000;
  background-color:#333;
}

.color {
  width:20px;
  height:20px;
  margin:2px;
  border:1px solid #222;
  cursor:pointer;
}

.current {
  border-color:#eee;
  border-width:2px;
  width:18px;
  height:18px;
}

#instructionsText {
}

.saveWrapper {
	text-align:center;
	margin-top:.5em;
	position:relative;
}

#cancel.disabled {
	cursor:default;
	color:#999999;
}

#saveConfirm {
	background: none repeat scroll 0 0 rgb(250, 250, 250);
	background: none repeat scroll 0 0 rgba(250, 250, 250, 0.75);
    border: 1px solid #CCCCCC;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 2px #d9d9d9 inset;
    -moz-box-shadow: 0 0 2px #d9d9d9 inset;
    box-shadow: 0 0 2px #d9d9d9 inset;
    color: #FF563F;
    display: none;
    padding: 0.25em 0.5em;
    position: absolute;
    right: 0;
    top: 0;
}

img.notification {
	top: -13px;
    position: absolute;
    left: -13px;
    cursor:pointer;
}

/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
	display:none;
	/*background:transparent url('/vlewrapper/vle/jquery/css/jquerytools/black_arrow_132w.png');
	font-size:12px;
	height:60px;
	width:176px;
	padding:25px 25px 45px;
	color:#fff;
	z-index:1000;
	text-align:left;*/
}

/*.tooltip.bottom {
	background:transparent url('/vlewrapper/vle/jquery/css/jquerytools/black_arrow_132w_bottom.png');
	padding-top:40px;
	height:45px;
}*/

#miniTip {
	font-size:.9em;
	background-color: rgba(50, 50, 50, 0.95);
}

.notificationLinks {
	text-align:right;
	/*margin-top:10px;*/
}

a.notificationLink {
	margin-left:10px;
	color:#FFFFFF;
	font-weight:bold;
}

a.notificationLink:hover {
	text-decoration:underline;
	color:#FBCB09;
}