<div class='openResponse' flex>
  <style>
    {{openResponseController.nodeContent.style}}
  </style>
  <div>
    <div class='advancedAuthoringDiv'
         ng-if='openResponseController.showAdvancedAuthoring'>
      <div>
        <h6>{{ ::'advancedAuthoringOptions' | translate }}</h6>
      </div>
      <p>{{ ::'openResponse.starterSentence' | translate }} ({{ ::'openResponse.optional' | translate }}):</p>
      <textarea ng-model='openResponseController.authoringComponentContent.starterSentence'
                ng-change='openResponseController.authoringViewComponentChanged()'
                ng-model-options='{ debounce: 1000 }'
                rows='2'
                cols='100'></textarea>
      <br/>
      <md-input-container style='width: 310px; margin-top: 30px;'>
        <label>{{ ::'openResponse.textareaHeightNumberOfRows' | translate }}</label>
        <input type='number'
               min="1"
               placeholder="3"
               ng-model='openResponseController.authoringComponentContent.numRows'
               ng-model-options='{ debounce: 1000 }'
               ng-change='openResponseController.authoringViewComponentChanged()'/>
      </md-input-container>
      <br/>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='openResponseController.authoringComponentContent.isStudentAudioRecordingEnabled'
                     ng-change='openResponseController.authoringViewComponentChanged()'>
          {{ ::'openResponse.enableStudentAudioResponse' | translate }}
        </md-checkbox>
      </div>
      <span>{{ ::'openResponse.enableCRater' | translate }}:</span>
      <input type='checkbox'
             ng-model='openResponseController.authoringComponentContent.enableCRater'
             ng-change='openResponseController.enableCRaterClicked()'/>
      <div ng-if='openResponseController.authoringComponentContent.enableCRater'>
        <span>{{ ::'openResponse.itemId' | translate }}:</span>
        <input type='text'
               ng-model='openResponseController.authoringComponentContent.cRater.itemId'
               ng-change='openResponseController.authoringViewComponentChanged()'
               size='30'/>
        <button ng-click="openResponseController.verifyCRaterItemId(openResponseController.authoringComponentContent.cRater.itemId)">
          {{ ::'openResponse.verify' | translate }}
        </button>
        <span ng-if="openResponseController.isVerifyingCRaterItemId === true">{{ ::'openResponse.verifying' | translate }}...</span>
        <span ng-if="openResponseController.cRaterItemIdIsValid === true" style="color: green;">{{ ::'openResponse.valid' | translate }}</span>
        <span ng-if="openResponseController.cRaterItemIdIsValid === false" style="color: red;">{{ ::'openResponse.invalid' | translate }}</span>
        <br/>
        <span>{{ ::'openResponse.scoreOn' | translate }}:</span>
        <input type='radio'
               ng-model='openResponseController.authoringComponentContent.cRater.scoreOn'
               value='submit'
               ng-change='openResponseController.authoringViewComponentChanged()'/> <span>{{ ::'SUBMIT' | translate }}</span>
        <input type='radio'
               ng-model='openResponseController.authoringComponentContent.cRater.scoreOn'
               value='save'
               ng-change='openResponseController.authoringViewComponentChanged()'/> <span>{{ ::'SAVE' | translate }}</span>
        <input type='radio'
               ng-model='openResponseController.authoringComponentContent.cRater.scoreOn'
               value='change'
               ng-change='openResponseController.authoringViewComponentChanged()'/> <span>{{ ::'openResponse.change' | translate }}</span>
        <br/>
        <input type='checkbox'
               ng-model='openResponseController.authoringComponentContent.cRater.showScore'
               ng-change='openResponseController.authoringViewComponentChanged()'/> <span>{{ ::'SHOW_SCORE' | translate }}</span>
        <br/>
        <input type='checkbox'
               ng-model='openResponseController.authoringComponentContent.cRater.showFeedback'
               ng-change='openResponseController.authoringViewComponentChanged()'/> <span>{{ ::'SHOW_FEEDBACK' | translate }}</span>
        <br/>
        <button ng-click='openResponseController.addScoringRule()'>{{ ::'openResponse.addScoringRule' | translate }}</button>
        <div ng-repeat='scoringRule in openResponseController.authoringComponentContent.cRater.scoringRules'>
          <span>{{ ::'SCORE' | translate }}:</span> <input type='text'
                                                         ng-model='scoringRule.score'
                                                         ng-model-options='{ debounce: 500 }'
                                                         ng-change='openResponseController.authoringViewComponentChanged()'
                                                         style='width: 3em'/>
          <span>{{ ::'openResponse.feedbackText' | translate }}:</span> <textarea type='text'
                                                                                ng-model='scoringRule.feedbackText'
                                                                                rows='5'
                                                                                cols='100'
                                                                                ng-model-options='{ debounce: 500 }'
                                                                                ng-change='openResponseController.authoringViewComponentChanged()'></textarea>
          <button ng-click='openResponseController.scoringRuleUpClicked($index)'>{{ ::'UP' | translate }}</button>
          <button ng-click='openResponseController.scoringRuleDownClicked($index)'>{{ ::'DOWN' | translate }}</button>
          <button ng-click='openResponseController.scoringRuleDeleteClicked($index)'>{{ ::'DELETE' | translate }}</button>
        </div>
        <button ng-click='openResponseController.addScoringRule()'>{{ ::'openResponse.addScoringRule' | translate }}</button>
        <br/>
        <span>{{ ::'openResponse.enableMultipleAttemptFeedback' | translate }}</span>
        <input type='checkbox'
               ng-model='openResponseController.authoringComponentContent.cRater.enableMultipleAttemptScoringRules'
               ng-click='openResponseController.enableMultipleAttemptScoringRulesClicked()'/>
        <br/>
        <div ng-if='openResponseController.authoringComponentContent.cRater.enableMultipleAttemptScoringRules'>
          <div ng-repeat='multipleAttemptScoringRule in openResponseController.authoringComponentContent.cRater.multipleAttemptScoringRules'>
            <span>{{ ::'openResponse.previousScore' | translate }}:</span> <input type='text'
                                                                                ng-model='multipleAttemptScoringRule.scoreSequence[0]'
                                                                                size='5'
                                                                                ng-model-options='{ debounce: 500 }'
                                                                                ng-change='openResponseController.authoringViewComponentChanged()'/>
            <span>{{ ::'openResponse.currentScore' | translate }}:</span> <input type='text'
                                                                               ng-model='multipleAttemptScoringRule.scoreSequence[1]'
                                                                               size='5'
                                                                               ng-model-options='{ debounce: 500 }'
                                                                               ng-change='openResponseController.authoringViewComponentChanged()'/>
            <span>{{ ::'openResponse.feedbackToStudent' | translate }}:</span>
            <textarea
              type='text'
              ng-model='multipleAttemptScoringRule.feedbackText'
              rows='5'
              cols='100'
              ng-model-options='{ debounce: 500 }'
              ng-change='openResponseController.authoringViewComponentChanged()'></textarea>
            <button ng-click='openResponseController.multipleAttemptScoringRuleUpClicked($index)'>{{ ::'UP' | translate }}</button>
            <button ng-click='openResponseController.multipleAttemptScoringRuleDownClicked($index)'>{{ ::'DOWN' | translate }}</button>
            <button ng-click='openResponseController.multipleAttemptScoringRuleDeleteClicked($index)'>{{ ::'DELETE' | translate }}</button>
          </div>
          <button ng-click='openResponseController.addMultipleAttemptScoringRule()'
                  ng-if='openResponseController.authoringComponentContent.cRater.enableMultipleAttemptScoringRules'>
            {{ ::'openResponse.addMultipleAttemptScoringRule' | translate }}
          </button>
          <br/>
        </div>
        <span>{{ ::'openResponse.enableNotifications' | translate }}:</span>
        <input type='checkbox'
               ng-model='openResponseController.authoringComponentContent.enableNotifications'
               ng-change='openResponseController.enableNotificationsClicked()'/>
        <div ng-if='openResponseController.authoringComponentContent.enableNotifications'>
          <div style='border:.5px dotted; padding: 5px' ng-repeat='notification in openResponseController.authoringComponentContent.notificationSettings.notifications'>
            <span>{{ ::'openResponse.previousScore' | translate }}:</span> <input type='text'
                                                                                ng-model='notification.enableCriteria.scoreSequence[0]'
                                                                                size='5'
                                                                                ng-model-options='{ debounce: 500 }'
                                                                                ng-change='openResponseController.authoringViewComponentChanged()'/>
            <span>{{ ::'openResponse.currentScore' | translate }}:</span> <input type='text'
                                                                               ng-model='notification.enableCriteria.scoreSequence[1]'
                                                                               size='5'
                                                                               ng-model-options='{ debounce: 500 }'
                                                                               ng-change='openResponseController.authoringViewComponentChanged()'/>
            <br/>
            <span>{{ ::'openResponse.enableAmbientDisplayDismissMode' | translate }}</span>
            <input type='checkbox'
                   ng-model='notification.isAmbient' />
            <div ng-if='notification.isAmbient'>
              <span>{{ ::'openResponse.dismissCode' | translate }}:</span>
              <input ng-model='notification.dismissCode'
                     ng-model-options='{ debounce: 500 }'
                     ng-change='openResponseController.authoringViewComponentChanged()' />
            </div>
            <br/>
            <span>{{ ::'openResponse.notifyStudent' | translate }}</span>
            <input type='checkbox'
                   ng-model='notification.isNotifyStudent' />
            <br/>
            <div ng-if='notification.isNotifyStudent'>
              <span>{{ ::'openResponse.feedbackToStudent' | translate }}:</span>
              <textarea type='text'
                        ng-model='notification.notificationMessageToStudent'
                        rows='5'
                        cols='100'
                        ng-model-options='{ debounce: 500 }'
                        ng-change='openResponseController.authoringViewComponentChanged()'></textarea>
            </div>
            <span>{{ ::'openResponse.notifyTeacher' | translate }}</span>
            <input type='checkbox'
                   ng-model='notification.isNotifyTeacher' />
            <div ng-if='notification.isNotifyTeacher'>
              <span>{{ ::'openResponse.feedbackToTeacher' | translate }}:</span>
              <textarea type='text'
                        ng-model='notification.notificationMessageToTeacher'
                        rows='5'
                        cols='100'
                        ng-model-options='{ debounce: 500 }'
                        ng-change='openResponseController.authoringViewComponentChanged()'></textarea>
            </div>
            <br/>
            <button ng-click='openResponseController.notificationUpClicked($index)'>{{ ::'UP' | translate }}</button>
            <button ng-click='openResponseController.notificationDownClicked($index)'>{{ ::'DOWN' | translate }}</button>
            <button ng-click='openResponseController.notificationDeleteClicked($index)'>{{ ::'DELETE' | translate }}</button>
          </div>
          <button ng-click='openResponseController.addNotification()'>
            {{ ::'openResponse.addNewNotification' | translate }}
          </button>
        </div>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='openResponseController.authoringComponentContent.showSaveButton'
                     ng-change='openResponseController.authoringViewComponentChanged()'>
          {{ ::'SHOW_SAVE_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='openResponseController.authoringComponentContent.showSubmitButton'
                     ng-change='openResponseController.authoringViewComponentChanged()'>
          {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-if='openResponseController.isNotebookEnabled()'
                     ng-model='openResponseController.authoringComponentContent.showAddToNotebookButton'
                     ng-change='openResponseController.authoringViewComponentChanged()'>
          {{ ::'SHOW_ADD_TO_NOTEBOOK_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                            ng-if='openResponseController.authoringComponentContent.showSubmitButton'>
          <label>{{ ::'MAX_SUBMIT' | translate }}</label>
          <input type='number'
                 ng-model='openResponseController.authoringComponentContent.maxSubmitCount'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='openResponseController.authoringViewComponentChanged()'/>
        </md-input-container>
      </div>
      <div layout="column" layout-align="start start">
        <edit-component-max-score [authoring-component-content]="openResponseController.authoringComponentContent"></edit-component-max-score>
        <edit-component-width [authoring-component-content]="openResponseController.authoringComponentContent"></edit-component-width>
        <edit-component-rubric [authoring-component-content]="openResponseController.authoringComponentContent"></edit-component-rubric>
      </div>
      <div>
        <div style="border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;">
          <md-checkbox class='md-primary'
                       ng-model='openResponseController.useCustomCompletionCriteria'
                       ng-change='openResponseController.useCustomCompletionCriteriaClicked()'>
            {{ ::'useCustomCompletionCriteria' | translate }}
          </md-checkbox>
          <div ng-if='openResponseController.useCustomCompletionCriteria'>
            <div ng-repeat='criteria in openResponseController.authoringComponentContent.completionCriteria.criteria track by $index'>
              <div flex>
                <md-input-container style='margin-right: 20; width: 300;'>
                  <label>{{ ::'step' | translate }}</label>
                  <md-select ng-model='criteria.nodeId'
                             ng-change='openResponseController.authoringViewComponentChanged()'
                             style='width: 300'>
                    <md-option ng-repeat='item in openResponseController.idToOrder | toArray | orderBy : "order"'
                               value='{{item.$key}}'
                               ng-if='openResponseController.isApplicationNode(item.$key)'>
                      {{ openResponseController.getNodePositionAndTitleByNodeId(item.$key) }}
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container style='margin-right: 20; width: 280;'>
                  <label>{{ ::'component' | translate }}</label>
                  <md-select ng-model='criteria.componentId'
                             ng-change='openResponseController.authoringViewComponentChanged()'
                             style='width: 280'>
                    <md-option ng-repeat='(componentIndex, component) in openResponseController.getComponentsByNodeId(criteria.nodeId)'
                               value='{{component.id}}'>
                      {{ componentIndex + 1 }}. {{ component.type }} <span ng-if='component.id == openResponseController.componentId'>({{ ::'thisComponent' | translate }})</span>
                    </md-option>
                  </md-select>
                </md-input-container>
                <md-input-container style='margin-right: 20; width: 100;'>
                  <label>Action</label>
                  <md-select ng-model='criteria.name'
                             ng-change='openResponseController.authoringViewComponentChanged()'
                             style='width: 100'>
                    <md-option value='isSubmitted'>
                      {{ ::'SUBMIT' | translate }}
                    </md-option>
                    <md-option value='isSaved'>
                      {{ ::'SAVE' | translate }}
                    </md-option>
                  </md-select>
                </md-input-container>
                <span flex></span>
                <md-input-container style='margin-left: 20;'>
                  <md-button class='topButton md-raised md-primary' ng-click='openResponseController.moveCompletionCriteriaUp($index)'>
                    <md-icon>arrow_upward</md-icon>
                    <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'moveUp' | translate }}</md-tooltip>
                  </md-button>
                  <md-button class='topButton md-raised md-primary' ng-click='openResponseController.moveCompletionCriteriaDown($index)'>
                    <md-icon>arrow_downward</md-icon>
                    <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'moveDown' | translate }}</md-tooltip>
                  </md-button>
                  <md-button class='topButton md-raised md-primary'
                             ng-click='openResponseController.deleteCompletionCriteria($index)'>
                    <md-icon>delete</md-icon>
                    <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
                  </md-button>
                </md-input-container>
              </div>
            </div>
            <md-button class='topButton md-raised md-primary'
                       ng-click='openResponseController.addCompletionCriteria()'>
              <md-icon>add</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'addCompletionCriteria' | translate }}
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
      <div>
        <div style='height: 50;'>
          <label class='node__label--vertical-alignment'>
            {{ ::'CONNECTED_COMPONENTS' | translate }}
          </label>
          <md-button class='topButton md-raised md-primary'
                     ng-click='openResponseController.addConnectedComponent()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'ADD_CONNECTED_COMPONENT' | translate }}
            </md-tooltip>
          </md-button>
        </div>
        <div ng-repeat='connectedComponent in openResponseController.authoringComponentContent.connectedComponents track by $index'
             style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'
             layout='row'>
          <div flex>
            <md-input-container style='margin-right: 20; width: 300;'>
              <label>{{ ::'step' | translate }}</label>
              <md-select ng-model='connectedComponent.nodeId'
                         ng-change='openResponseController.connectedComponentNodeIdChanged(connectedComponent)'
                         style='width: 300'>
                <md-option ng-repeat='item in openResponseController.idToOrder | toArray | orderBy : "order"'
                           value='{{item.$key}}'
                           ng-if='openResponseController.isApplicationNode(item.$key)'>
                  {{ openResponseController.getNodePositionAndTitleByNodeId(item.$key) }}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container style='margin-right: 20; width: 300;'>
              <label>{{ ::'component' | translate }}</label>
              <md-select ng-model='connectedComponent.componentId'
                         ng-change='openResponseController.connectedComponentComponentIdChanged(connectedComponent)'
                         style='width: 300'>
                <md-option ng-repeat='(componentIndex, component) in openResponseController.getComponentsByNodeId(connectedComponent.nodeId)'
                           value='{{component.id}}'
                           ng-disabled='!openResponseController.isConnectedComponentTypeAllowed(component.type) || component.id == openResponseController.componentId'>
                  {{ componentIndex + 1 }}. {{ component.type }} <span ng-if='component.id == openResponseController.componentId'>({{ ::'thisComponent' | translate }})</span>
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container style='margin-right: 20; width: 200;'>
              <label>{{ ::'type' | translate }}</label>
              <md-select ng-model='connectedComponent.type'
                         ng-change='openResponseController.authoringViewComponentChanged()'
                         style='width: 200'>
                <md-option value='importWork'>
                  {{ ::'importWork' | translate }}
                </md-option>
                <md-option value='showWork'>
                  {{ ::'showWork' | translate }}
                </md-option>
              </md-select>
            </md-input-container>
            <span flex></span>
            <md-input-container style='margin-left: 20;'>
              <md-button class='topButton md-raised md-primary'
                         ng-click='openResponseController.deleteConnectedComponent($index)'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
              </md-button>
            </md-input-container>
          </div>
        </div>
      </div>
      <div style='margin-top: 10px; margin-bottom: 10px;'>
        <div style='height: 50;'>
          <label class='node__label--vertical-alignment'>
            {{ ::'tags' | translate }}
          </label>
          <md-button class='topButton md-raised md-primary'
                     ng-click='openResponseController.addTag()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'addTag' | translate }}
            </md-tooltip>
          </md-button>
        </div>
        <div ng-repeat='tag in openResponseController.authoringComponentContent.tags track by $index'>
          <div layout='row'>
            <md-input-container style='margin-bottom: 0px'>
              <label></label>
              <input ng-model='openResponseController.authoringComponentContent.tags[$index]'
                     ng-change='openResponseController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'
                     size='100'
                     placeholder='{{ "enterTag" | translate }}'/>
            </md-input-container>
            <md-button class='moveComponentButton md-raised md-primary' ng-click='openResponseController.moveTagUp($index)'>
              <md-icon>arrow_upward</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'moveUp' | translate }}</md-tooltip>
            </md-button>
            <md-button class='moveComponentButton md-raised md-primary' ng-click='openResponseController.moveTagDown($index)'>
              <md-icon>arrow_downward</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'moveDown' | translate }}</md-tooltip>
            </md-button>
            <md-button class='moveComponentButton md-raised md-primary' ng-click='openResponseController.deleteTag($index)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
      <edit-component-json [node-id]="openResponseController.nodeId" [component-id]="openResponseController.componentId"></edit-component-json>
    </div>
    <div ng-if='!openResponseController.authoringComponentContent.showPreviousWork'>
      <md-input-container style='width:100%'>
        <label>{{ ::'PROMPT' | translate }}</label><span><md-icon>announcement</md-icon><md-tooltip md-direction='right'>{{ ::'openResponse.promptTip' | translate }}</md-tooltip></span>
        <textarea rows='1'
                  ng-model='openResponseController.authoringComponentContent.prompt'
                  ng-change='openResponseController.authoringViewComponentChanged()'
                  ng-model-options='{ debounce: 1000 }'
                  placeholder='{{ "enterPromptHere" | translate }}'>
      </textarea>
      </md-input-container>
    </div>
  </div>
  <div ng-style='{"border": "5px solid black", "padding": "20px"}'>
    <div>
      <h5>{{ ::'studentPreview' | translate }}</h5>
    </div>
    <preview-component component-content='openResponseController.componentContent'/>
  </div>
</div>
