<html>
    <head>
        <!--<link rel="stylesheet" href="wise5/lib/bootstrap/bootstrap.min.css">-->
        <!--<link rel="stylesheet" href="wise5/lib/bootstrap/bootstrap-theme.min.css">-->
        <link data-require="font-awesome@*" data-semver="4.3.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <!--link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" /-->
        <link rel='stylesheet' href='wise5/lib/angularTextAngular/textAngular.css'>
    <style>
    .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
        margin:20px 0;
    }

    .studentAssetReference {
        width: auto;
        height: auto;
        max-width: 200px;
        max-height: 200px;
        padding: 10px;
        margin: 5px;
        border: 3px solid #DDD;
    }
    </style>
    </head>
    <body>
        <div class='openResponse' ng-controller='OpenResponseController as openResponseController'>
            <style>
            {{openResponseController.nodeContent.style}}
            </style>

            <md-input-container class="node-input-container" flex>
                <label class="node-input-label md-no-float" compile="openResponseController.getPrompt()" ng-if="openResponseController.getPrompt()"></label>
                <textarea columns="1" class="node-input--textarea node-input--textarea--hasaction"
                          rows='{{openResponseController.getNumRows() || 3}}'
                          ng-model='openResponseController.studentResponse'
                          ng-disabled='openResponseController.isDisabled'
                          ta-disabled='openResponseController.isDisabled'
                          ng-change='openResponseController.studentDataChanged()'
                          data-drop="true"
                          jqyoui-droppable="{onDrop: 'openResponseController.dropCallback(item, $index)'}"></textarea>
                <md-button class="node-input--textarea__action md-icon-button" ng-click='nodeCtrl.addStudentWorkItemToNotebook(component.id)'
                        ng-disabled="!openResponseController.getStudentResponse()">
                    <md-icon> book </md-icon>
                    <md-tooltip md-direction="top">Add to Notebook</md-tooltip>
                </md-button>
                <md-button class="node-input--textarea__action node-input--textarea__action--revision md-icon-button" ng-click='nodeCtrl.showRevisions($event, component.id)'
                           ng-disabled="nodeCtrl.getRevisions(component.id).length == 0">
                    <md-icon> history </md-icon>
                    <md-tooltip md-direction="top">{{nodeCtrl.getRevisions(component.id).length}} Revisions</md-tooltip>
                </md-button>
            </md-input-container>
            <div class="component-content--actions" layout="row">
                <md-button class="md-raised md-primary"
                           ng-click='openResponseController.saveButtonClicked()'
                           ng-disabled='openResponseController.isDisabled'
                           ng-show='openResponseController.showSaveButton()'>Save</md-button>
                <md-button class="md-raised md-primary"
                        ng-click='openResponseController.submitButtonClicked()'
                        ng-disabled='openResponseController.isDisabled'
                        ng-show='openResponseController.showSubmitButton()'>Submit</md-button>
            </div>
        </div>
    </body>
</html>
