<div class='openResponse' ng-controller='OpenResponseController as openResponseController' flex>
    <style>
        {{openResponseController.nodeContent.style}}
    </style>

    <div ng-if='openResponseController.mode === "authoring" && !openResponseController.authoringComponentContent.showPreviousWork'>
        {{ 'PROMPT' | translate }}:
        <br/>
        <textarea ng-model='openResponseController.authoringComponentContent.prompt'
                  ng-change='openResponseController.authoringViewComponentChanged()'
                  ng-model-options='{ debounce: 1000 }'
                  rows='10'
                  cols='100'></textarea>
        <br/>
        {{ 'openResponse.starterSentence' | translate }} ({{ 'openResponse.optional' | translate }}):
        <br/>
        <textarea ng-model='openResponseController.authoringComponentContent.starterSentence'
                  ng-change='openResponseController.authoringViewComponentChanged()'
                  ng-model-options='{ debounce: 1000 }'
                  rows='2'
                  cols='100'></textarea>
        <br/>
        {{ 'SHOW_SAVE_BUTTON' | translate }}:
        <input type='checkbox'
               ng-model='openResponseController.authoringComponentContent.showSaveButton'
               ng-change='openResponseController.authoringViewComponentChanged()'/>
        <br/>
        {{ 'SHOW_SUBMIT_BUTTON' | translate }}:
        <input type='checkbox'
               ng-model='openResponseController.authoringComponentContent.showSubmitButton'
               ng-change='openResponseController.authoringViewComponentChanged()'/>
        <div ng-show='openResponseController.authoringComponentContent.showSubmitButton'
             style='display:inline'>
            {{ 'MAX_SUBMIT' | translate }}:
            <input type='number'
                   ng-model='openResponseController.authoringComponentContent.maxSubmitCount'
                   ng-change='openResponseController.authoringViewComponentChanged()'/>
        </div>
        <br/>
        {{ 'MAX_SCORE' | translate }}:
        <input type='number'
               ng-model='openResponseController.authoringComponentContent.maxScore'
               ng-change='openResponseController.authoringViewComponentChanged()'
               ng-model-options='{ debounce: 1000 }'
               style='width: 3em'/>
        <br/>
        {{ 'openResponse.enableCRater' | translate }}:
        <input type='checkbox'
               ng-model='openResponseController.authoringComponentContent.enableCRater'
               ng-change='openResponseController.authoringViewEnableCRaterClicked()'/>
        <div ng-show='openResponseController.authoringComponentContent.enableCRater'>
            {{ 'openResponse.type' | translate }}:
            <input type='radio'
                   ng-model='openResponseController.authoringComponentContent.cRater.itemType'
                   value='CRATER'
                   ng-change='openResponseController.authoringViewComponentChanged()'/> {{ 'openResponse.cRater' | translate }}
            <input type='radio'
                   ng-model='openResponseController.authoringComponentContent.cRater.itemType'
                   value='HENRY'
                   ng-change='openResponseController.authoringViewComponentChanged()'/> {{ 'openResponse.henry' | translate }}
            <br/>
            {{ 'openResponse.itemId' | translate }}:
            <input type='text'
                   ng-model='openResponseController.authoringComponentContent.cRater.itemId'
                   ng-change='openResponseController.authoringViewComponentChanged()'
                   size='30'/>
            <br/>
            {{ 'openResponse.scoreOn' | translate }}:
            <input type='radio'
                   ng-model='openResponseController.authoringComponentContent.cRater.scoreOn'
                   value='submit'
                   ng-change='openResponseController.authoringViewComponentChanged()'/> {{ 'SUBMIT' | translate }}
            <input type='radio'
                   ng-model='openResponseController.authoringComponentContent.cRater.scoreOn'
                   value='save'
                   ng-change='openResponseController.authoringViewComponentChanged()'/> {{ 'SAVE' | translate }}
            <input type='radio'
                   ng-model='openResponseController.authoringComponentContent.cRater.scoreOn'
                   value='change'
                   ng-change='openResponseController.authoringViewComponentChanged()'/> {{ 'openResponse.change' | translate }}
            <br/>
            <input type='checkbox'
                   ng-model='openResponseController.authoringComponentContent.cRater.showScore'
                   ng-change='openResponseController.authoringViewComponentChanged()'/> {{ 'SHOW_SCORE' | translate }}
            <br/>
            <input type='checkbox'
                   ng-model='openResponseController.authoringComponentContent.cRater.showFeedback'
                   ng-change='openResponseController.authoringViewComponentChanged()'/> {{ 'SHOW_FEEDBACK' | translate }}
            <br/>
            <button ng-click='openResponseController.authoringAddScoringRule()'>{{ 'openResponse.addScoringRule' | translate }}</button>
            <div ng-repeat='scoringRule in openResponseController.authoringComponentContent.cRater.scoringRules'>
                {{ 'SCORE' | translate }}: <input type='text'
                              ng-model='scoringRule.score'
                              ng-model-options='{ debounce: 500 }'
                              ng-change='openResponseController.authoringViewComponentChanged()'
                              style='width: 3em'/>
                {{ 'openResponse.feedbackText' | translate }}: <textarea type='text'
                                 ng-model='scoringRule.feedbackText'
                                 rows='5'
                                 cols='100'
                                 ng-model-options='{ debounce: 500 }'
                                 ng-change='openResponseController.authoringViewComponentChanged()'/>
                <button ng-click='openResponseController.authoringViewScoringRuleUpClicked($index)'>{{ 'UP' | translate }}</button>
                <button ng-click='openResponseController.authoringViewScoringRuleDownClicked($index)'>{{ 'DOWN' | translate }}</button>
                <button ng-click='openResponseController.authoringViewScoringRuleDeleteClicked($index)'>{{ 'DELETE' | translate }}</button>
            </div>
            <button ng-click='openResponseController.authoringAddScoringRule()'>{{ 'openResponse.addScoringRule' | translate }}</button>
            <br/>
            <br/>
            {{ 'openResponse.enableMultipleAttemptFeedback' | translate }}
            <input type='checkbox'
                   ng-model='openResponseController.authoringComponentContent.cRater.enableMultipleAttemptScoringRules'
                   ng-click='openResponseController.enableMultipleAttemptScoringRulesClicked()'/>
            <br/>
            <button ng-click='openResponseController.authoringAddMultipleAttemptScoringRule()'
                    ng-show='openResponseController.authoringComponentContent.cRater.enableMultipleAttemptScoringRules'>
                    {{ 'openResponse.addMultipleAttemptScoringRule' | translate }}
            </button>
            <br/>
            <div ng-repeat='multipleAttemptScoringRule in openResponseController.authoringComponentContent.cRater.multipleAttemptScoringRules'
                 ng-show='openResponseController.authoringComponentContent.cRater.enableMultipleAttemptScoringRules'>
                {{ 'openResponse.previousScore' | translate }}: <input type='text'
                                       ng-model='multipleAttemptScoringRule.scoreSequence[0]'
                                       size='5'
                                       ng-model-options='{ debounce: 500 }'
                                       ng-change='openResponseController.authoringViewComponentChanged()'/>
                {{ 'openResponse.currentScore' | translate }}: <input type='text'
                                      ng-model='multipleAttemptScoringRule.scoreSequence[1]'
                                      size='5'
                                      ng-model-options='{ debounce: 500 }'
                                      ng-change='openResponseController.authoringViewComponentChanged()'/>
                {{ 'openResponse.feedbackToStudent' | translate }}: <textarea type='text'
                                         ng-model='multipleAttemptScoringRule.feedbackText'
                                         rows='5'
                                         cols='100'
                                         ng-model-options='{ debounce: 500 }'
                                         ng-change='openResponseController.authoringViewComponentChanged()'/>
                 <button ng-click='openResponseController.authoringViewMultipleAttemptScoringRuleUpClicked($index)'>{{ 'UP' | translate }}</button>
                 <button ng-click='openResponseController.authoringViewMultipleAttemptScoringRuleDownClicked($index)'>{{ 'DOWN' | translate }}</button>
                 <button ng-click='openResponseController.authoringViewMultipleAttemptScoringRuleDeleteClicked($index)'>{{ 'DELETE' | translate }}</button>
            </div>
            <br/>
            <button ng-click='openResponseController.authoringAddMultipleAttemptScoringRule()'
                    ng-show='openResponseController.authoringComponentContent.cRater.enableMultipleAttemptScoringRules'>
                    {{ 'openResponse.addMultipleAttemptScoringRule' | translate }}
            </button>
            <br/>
            <br/>
            {{ 'openResponse.enableNotifications' | translate }}:
            <input type='checkbox'
                   ng-model='openResponseController.authoringComponentContent.enableNotifications'
                   ng-change='openResponseController.authoringViewEnableNotificationsClicked()'/>
            <div ng-show='openResponseController.authoringComponentContent.enableNotifications'>
                <div style="border:.5px dotted; padding: 5px" ng-repeat='notification in openResponseController.authoringComponentContent.notificationSettings.notifications'>
                    {{ 'openResponse.previousScore' | translate }}: <input type='text'
                                           ng-model='notification.enableCriteria.scoreSequence[0]'
                                           size='5'
                                           ng-model-options='{ debounce: 500 }'
                                           ng-change='openResponseController.authoringViewComponentChanged()'/>
                    {{ 'openResponse.currentScore' | translate }}: <input type='text'
                                          ng-model='notification.enableCriteria.scoreSequence[1]'
                                          size='5'
                                          ng-model-options='{ debounce: 500 }'
                                          ng-change='openResponseController.authoringViewComponentChanged()'/>
                    <br/>
                    {{ 'openResponse.enableAmbientDisplayDismissMode' | translate }}
                    <input type='checkbox'
                           ng-model='notification.isAmbient' />
                    <div ng-show='notification.isAmbient'>
                        {{ 'openResponse.dismissCode' | translate }}:
                        <input ng-model='notification.dismissCode'
                               ng-model-options='{ debounce: 500 }'
                               ng-change='openResponseController.authoringViewComponentChanged()' />
                    </div>
                    <br/>
                    {{ 'openResponse.notifyStudent' | translate }}
                    <input type='checkbox'
                           ng-model='notification.isNotifyStudent' />
                    <br/>
                    <div ng-show='notification.isNotifyStudent'>
                    {{ 'openResponse.feedbackToStudent' | translate }}: <textarea type='text'
                                     ng-model='notification.notificationMessageToStudent'
                                     rows='5'
                                     cols='100'
                                     ng-model-options='{ debounce: 500 }'
                                     ng-change='openResponseController.authoringViewComponentChanged()'/>
                    </div>
                    {{ 'openResponse.notifyTeacher' | translate }}
                    <input type='checkbox'
                           ng-model='notification.isNotifyTeacher' />
                    <div ng-show='notification.isNotifyTeacher'>
                    {{ 'openResponse.feedbackToTeacher' | translate }}: <textarea type='text'
                                                        ng-model='notification.notificationMessageToTeacher'
                                                        rows='5'
                                                        cols='100'
                                                        ng-model-options='{ debounce: 500 }'
                                                        ng-change='openResponseController.authoringViewComponentChanged()'/>
                    </div>
                    <br/>
                    <button ng-click='openResponseController.authoringViewNotificationUpClicked($index)'>{{ 'UP' | translate }}</button>
                    <button ng-click='openResponseController.authoringViewNotificationDownClicked($index)'>{{ 'DOWN' | translate }}</button>
                    <button ng-click='openResponseController.authoringViewNotificationDeleteClicked($index)'>{{ 'DELETE' | translate }}</button>
                 </div>
                <button ng-click='openResponseController.authoringAddNotification()'>
                    {{ 'openResponse.addNewNotification' | translate }}
                </button>
            </div>
        </div>
        <br/>
    </div>
    <div ng-if='openResponseController.mode === "authoring"'>
        {{ 'IMPORT_PREVIOUS_WORK' | translate }}:
        <input type='checkbox'
               ng-model='openResponseController.authoringComponentContent.importPreviousWork'
               ng-click='openResponseController.authoringImportPreviousWorkClicked()'
               ng-change='openResponseController.authoringViewComponentChanged()'/>
    </div>
    <div ng-if='openResponseController.mode === "authoring" && openResponseController.authoringComponentContent.importPreviousWork'>
        {{ 'IMPORT_PREVIOUS_WORK_STEP' | translate }}:
        <select ng-model='openResponseController.authoringComponentContent.importPreviousWorkNodeId'
                ng-change='openResponseController.authoringImportPreviousWorkNodeIdChanged()'>
            <option></option>
            <option ng-repeat='item in openResponseController.idToOrder | toArray | orderBy : "order"'
                    value='{{item.$key}}'
                    ng-if='openResponseController.isApplicationNode(item.$key)'>{{openResponseController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
        </select>
        <br/>
        {{ 'IMPORT_PREVIOUS_WORK_COMPONENT' | translate }}:
        <select ng-model='openResponseController.authoringComponentContent.importPreviousWorkComponentId'
                ng-change='openResponseController.authoringImportPreviousWorkComponentIdChanged()'
                ng-options='component.id as component.type disable when !openResponseController.componentHasWork(component) for component in openResponseController.getComponentsByNodeId(openResponseController.authoringComponentContent.importPreviousWorkNodeId)'>
            <option></option>
        </select>
    </div>
    <div ng-if='openResponseController.mode === "authoring"'>
        {{ 'SHOW_PREVIOUS_WORK' | translate }}:
        <input type='checkbox'
               ng-model='openResponseController.authoringComponentContent.showPreviousWork'
               ng-click='openResponseController.authoringShowPreviousWorkClicked()'
               ng-change='openResponseController.authoringViewComponentChanged()'/>
    </div>
    <div ng-if='openResponseController.mode === "authoring" && openResponseController.authoringComponentContent.showPreviousWork'>
        {{ 'SHOW_PREVIOUS_WORK_STEP' | translate }}:
        <select ng-model='openResponseController.authoringComponentContent.showPreviousWorkNodeId'
                ng-change='openResponseController.authoringShowPreviousWorkNodeIdChanged()'>
            <option></option>
            <option ng-repeat='item in openResponseController.idToOrder | toArray | orderBy : "order"'
                    value='{{item.$key}}'
                    ng-if='openResponseController.isApplicationNode(item.$key)'>{{openResponseController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
        </select>
        <br/>
        {{ 'SHOW_PREVIOUS_WORK_COMPONENT' | translate }}:
        <select ng-model='openResponseController.authoringComponentContent.showPreviousWorkComponentId'
                ng-change='openResponseController.authoringShowPreviousWorkComponentIdChanged()'
                ng-options='component.id as component.type disable when !openResponseController.componentHasWork(component) for component in openResponseController.getComponentsByNodeId(openResponseController.authoringComponentContent.showPreviousWorkNodeId)'>
            <option></option>
        </select>
        <br/>
        {{ 'SHOW_PREVIOUS_WORK_PROMPT' | translate }}:
        <input type='checkbox'
               ng-model='openResponseController.authoringComponentContent.showPreviousWorkPrompt'
               ng-change='openResponseController.authoringViewComponentChanged()'/>
    </div>
    <div ng-if='openResponseController.mode === "authoring"'>
        <button ng-click='openResponseController.addConnectedComponent()'>{{ 'ADD_CONNECTED_COMPONENT' | translate }}</button>
        <div ng-repeat='connectedComponent in openResponseController.authoringComponentContent.connectedComponents track by $index'>
            <table border='1'>
                <tr>
                    <td style='padding:5'>
                        {{ 'CONNECTED_COMPONENT' | translate }}
                    </td>
                    <td style='padding:5'>
                        <div style='display:none'>
                            {{ 'NODE_ID' | translate }}:
                            <select ng-model='connectedComponent.nodeId'
                                    ng-change='openResponseController.authoringViewComponentChanged()'>
                                <option></option>
                                <option ng-repeat='item in openResponseController.idToOrder | toArray | orderBy : "order"'
                                        value='{{item.$key}}'
                                        ng-if='openResponseController.isApplicationNode(item.$key)'>{{openResponseController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
                            </select>
                        </div>
                        <div>
                            {{ 'COMPONENT_ID' | translate }}:
                            <select ng-model='connectedComponent.componentId'
                                    ng-change='openResponseController.authoringViewComponentChanged()'>
                                <option></option>
                                <option ng-repeat='(componentIndex, component) in openResponseController.getComponentsByNodeId(connectedComponent.nodeId)'
                                        ng-disabled='!openResponseController.componentHasWork(component)'
                                        value='{{component.id}}'>
                                    {{componentIndex + 1}}. {{component.type}}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td style='padding:5'>
                        <select ng-model='connectedComponent.updateOn'
                                ng-change='openResponseController.authoringViewComponentChanged()'>
                                <option ng-repeat='updateOnOption in openResponseController.connectedComponentUpdateOnOptions'
                                        value='{{updateOnOption.value}}'>
                                    {{updateOnOption.text}}
                                </option>
                        </select>
                    </td>
                    <td style='padding:5'>
                        <button ng-click='openResponseController.deleteConnectedComponent($index)'>{{ 'DELETE' | translate }}</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-if='openResponseController.mode === "authoring"'>
        <button ng-click='openResponseController.showRubricAuthoring = !openResponseController.showRubricAuthoring'>
            {{ 'EDIT_COMPONENT_RUBRIC' | translate }}
        </button>
        <div ng-show='openResponseController.showRubricAuthoring'>
            <summernote id='{{openResponseController.summernoteRubricId}}'
                        ng-model='openResponseController.summernoteRubricHTML'
                        ng-change='openResponseController.summernoteRubricHTMLChanged()'
                        config='openResponseController.summernoteRubricOptions'
                        ng-model-options='{ debounce: 1000 }'
                        rows='10'
                        cols='100'>
            </summernote>
        </div>
    </div>
    <div ng-if='openResponseController.mode === "authoring"'>
        <button ng-click='openResponseController.showAdvancedAuthoring = !openResponseController.showAdvancedAuthoring'>
                {{ openResponseController.showAdvancedAuthoring ? ('HIDE_ADVANCED_AUTHORING' | translate) : ('SHOW_ADVANCED_AUTHORING' | translate) }}
        </button>
        <br/>
        <div ng-show='openResponseController.showAdvancedAuthoring'>
            <textarea ng-model='openResponseController.authoringComponentContentJSONString'
                   ng-change='openResponseController.advancedAuthoringViewComponentChanged()'
                   ng-model-options="{ updateOn: 'blur' }"
                   rows='10'
                   cols='100'></textarea>
        </div>
    </div>
    <md-input-container class="input-container md-block input-container--open-response input-container--component md-no-float">
        <label class="input-label md-no-float" ng-disabled="openResponseController.isDisabled"
               ng-if="openResponseController.isPromptVisible"><compile data="openResponseController.getPrompt()"></compile></label>
        <possible-score max-score="openResponseController.componentContent.maxScore"
                        ng-if="openResponseController.mode === 'student' && !openResponseController.latestAnnotations.score"></possible-score>
        <div class="input-wrapper" ng-class="{'input-wrapper--richtext': openResponseController.isRichTextEnabled}">
            <textarea ng-if="openResponseController.isRichTextEnabled && !openResponseController.isDisabled"
                      ui-tinymce="openResponseController.tinymceOptions"
                      ng-model="openResponseController.studentResponse"
                      ng-model-options='{ debounce: 100 }'
                      ng-change="openResponseController.studentDataChanged()"></textarea>
            <div ng-if="openResponseController.isRichTextEnabled && openResponseController.isDisabled"
                 class="input--textarea input--textarea--disabled">
                    <compile data="openResponseController.studentResponse"></compile>
            </div>
            <textarea ng-if="!openResponseController.isRichTextEnabled"
                      class="input--textarea input--textarea--hasaction"
                      rows="{{openResponseController.getNumRows() || 3}}"
                      ng-model="openResponseController.studentResponse"
                      ng-model-options='{ debounce: 100 }'
                      ng-disabled="openResponseController.isDisabled"
                      ng-change="openResponseController.studentDataChanged()"
                      md-no-autogrow></textarea>
        </div>
    </md-input-container>
    <div ng-if="nodeController.getRevisions().length > 1" layout="row" layout-align="center end">
        <a ng-click="nodeController.showRevisions($event, component.id, openResponseController.isDisabled)">
           + {{ 'openResponse.previousVersions' | translate }}: {{nodeController.getRevisions().length - 1}}
       </a>
    </div>

    <div class="component__actions" ng-if="openResponseController.isStudentAttachmentEnabled" layout="row" layout-wrap="true">
        <div class="component__add-attachment">
            <md-button class="md-accent"
                       ng-click="nodeController.showStudentAssets($event, component.id, openResponseController.isDisabled)">
                <md-icon>image</md-icon> <span>{{ 'openResponse.addFile' | translate }}</span>
            </md-button>
        </div>
        <div class="component__attachment" ng-repeat="attachment in openResponseController.attachments">
            <img ng-src="{{attachment.iconURL}}" class="component__attachment__content" />
            <md-button ng-show="!openResponseController.isDisabled" class="component__attachment__delete" ng-click='openResponseController.removeAttachment(attachment)' title="Remove file"><md-icon>cancel</md-icon></md-button>
        </div>
    </div>
    <div ng-if="openResponseController.isSaveButtonVisible || openResponseController.isSubmitButtonVisible"
         class="component__actions" layout="row" layout-align="start center">
        <md-button class="md-raised md-primary"
                   ng-class="{'md-raised': !openResponseController.isSubmitButtonVisible}"
                   ng-click="openResponseController.saveButtonClicked()"
                   ng-disabled="openResponseController.isDisabled || !openResponseController.isDirty"
                   ng-if="openResponseController.isSaveButtonVisible"
                   aria-label="Save"
                   translate="SAVE"></md-button>
        <md-button class="md-raised md-primary"
                   ng-click="openResponseController.submitButtonClicked()"
                   ng-disabled="openResponseController.isDisabled || !openResponseController.isSubmitDirty || openResponseController.isSubmitButtonDisabled"
                   ng-if="openResponseController.isSubmitButtonVisible"
                   aria-label="Submit"
                   translate="SUBMIT"></md-button>
        <span ng-show="openResponseController.saveMessage.text"
              class="component__actions__info md-caption">
              {{openResponseController.saveMessage.text}} <span class="component__actions__more"><md-tooltip md-direction="top">{{ openResponseController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}</md-tooltip><span am-time-ago="openResponseController.saveMessage.time"></span></span>
        </span>
    </div>
    <component-annotations ng-if="openResponseController.mode === 'student'"
                           annotations='openResponseController.latestAnnotations'
                           max-score="openResponseController.componentContent.maxScore"></component-annotations>
    <component-grading ng-if="openResponseController.mode === 'grading'"
                       node-id='openResponseController.nodeId'
                       component-id='openResponseController.componentId'
                       max-score="openResponseController.componentContent.maxScore"
                       from-workgroup-id='teacherWorkgroupId'
                       to-workgroup-id='workgroupId'
                       component-state-id='componentState.id'
                       active="true"></component-grading>
</div>
