/* Common styles for WISE step types with assessment components */

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: yellow; /*background: #fe57a1; color: #fff;*/ text-shadow: none; }
::selection { background:yellow; /*background: #fe57a1; color: #fff;*/ text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Jonathan Lim-Breitbart
   ========================================================================== */

body {
	font-size:0.9em;
}

header {
	font-size:0.85em;
}

html, button, input, select, textarea {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}

a, a:visited {
	color: #007391;
    margin: 0;
    text-decoration:none;
    cursor:pointer;
    outline:none;
}

a:hover {
	text-decoration:underline;
	color: #007391;
}

input[type="text"], textarea {
	padding: 0.4em;
    font-size: 0.9em;
    border:1px solid #cccccc;
    background-color: #FFFFFF;
}

input[type="text"]:focus, textarea:focus {
	border-color: #75BFCE;
}

button,input[type="submit"],input[type="button"] {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #F9F9F9;
	padding: .35em .5em;
	border: 1px solid #aaaaaa;
	background: #f5f5f5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f5f5f5 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */
	font-weight: normal;
	color: #444444;
	font-size: .85em;
	font-weight:bold;
	margin: .1em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: visible;
	line-height:1.2em;
}

button:hover,input[type="submit"]:hover,input[type="button"]:hover {
	-moz-box-shadow:0 0 1px #aaaaaa;
	-webkit-box-shadow:0 0 1px #aaaaaa;
	box-shadow:0 0 1px #aaaaaa;
	border: 1px solid #888888;
	color: #222222;
}

button:active,input[type="submit"]:active,input[type="button"]:active {
	border: 1px solid #666666;
	background: #555555;
	color: #ffffff;
}

button[disabled='disabled'],input[type="submit"][disabled="disabled"],input[type="button"][disabled="disabled"] {
	color: #999999;
	background: #F4F4F4;
	border-color: #CCCCCC;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	cursor:default;
}

/* Submit buttons */

a.submit {
    background: #ff553f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5340), color-stop(100%,#ff553f));
    background: -moz-linear-gradient(center top, #ff5340 0%, #ff553f 100%);
    -webkit-box-shadow: 0px -5px 15px #f22b11 inset, 0px 0px 0px 1px #ff361c;
    -moz-box-shadow: 0px -5px 15px #f22b11 inset, 0px 0px 0px 1px #ff361c;
    box-shadow: 0px -5px 15px #f22b11 inset, 0px 0px 0px 1px #ff361c;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*text-shadow: 0px 0px 1px #c21300;*/
    padding: 4px 8px;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    cursor:pointer;
    margin:0 1em;
}
a.submit:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff553f), color-stop(100%,#eb1f0c));
    background: -moz-linear-gradient(center top, #ff553f 0%, #eb1f0c 100%);
    -webkit-box-shadow: 0px -5px 15px #f22b11 inset, 0px 0px 0px 1px #f02005, 0px 0px 0px 1px #de2007 inset;
    -moz-box-shadow: 0px -5px 15px #f22b11 inset, 0px 0px 0px 1px #f02005, 0px 0px 0px 1px #de2007 inset;
    box-shadow: 0px -5px 15px #f22b11 inset, 0px 0px 0px 1px #f02005, 0px 0px 0px 1px #de2007 inset;
    text-decoration:none;
}
a.submit:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff553f), color-stop(100%,#eb1f0c));
    background: -moz-linear-gradient(center top, #ff553f 0%, #eb1f0c 100%);
    -webkit-box-shadow: 0px -5px 15px #c71602 inset, 0px 0px 0px 1px #bd1300, 0px 0px 0px 1px #bd1300 inset;
    -moz-box-shadow: 0px -5px 15px #c71602 inset, 0px 0px 0px 1px #bd1300, 0px 0px 0px 1px #bd1300 inset;
    box-shadow: 0px -5px 15px #c71602 inset, 0px 0px 0px 1px #bd1300, 0px 0px 0px 1px #bd1300 inset;
}
a.submit.disabled {
	color: #999999;
	background: #F4F4F4;
	border-color: #CCCCCC;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	text-shadow:none;
	cursor:default;
}


/* Layout items */

.stepHeader {
	background: url("../images/step_head_bg.png") repeat scroll 0 0 #2E2E2E;
    color: #EEEEEE;
    font-weight: bold;
    padding: 0.5em;
    text-align: left;
    text-transform: uppercase;
    padding: 0.5em 0.6em;
}

#main {
}

.assessmentItem {
	background: none repeat scroll 0 0 #666666;
    border: 0.65em solid #666666;
	font-size:.9em;
	color:#444444;
}


/* Main prompt elements */
.prompt {
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #BBBBBB;
    font-weight: bold;
    padding: 0.75em;
}

.promptText {
	margin: 0 0.25em;
}

.promptLabel {
	color: #FF563F;
    font-size: 1.1em;
}


/* Student response elements */
.response {
	background: url("../images/step_content_bg.png") repeat scroll 0 0 #F5F5F5;
	border-bottom: 1px solid #BBBBBB;
	padding: 0.5em 0.75em;
}

.responseLabel {
	font-weight:bold;
	margin: 0 0.25em 0.25em;
}

.responseWrapper {
	
}

textarea.responseText {
    width: 100%;
    height:80px;
    font-size: 0.95em;
}



/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
