<div class='bodyDiv' style='width: 700px;'>
  <div>
    <label class='node__label--vertical-alignment'>{{ ::'addConstraint' | translate }}</label>
    <md-button class='topButton md-raised md-primary'
        ng-click='$ctrl.addConstraintAndScrollToBottom()'>
      <md-icon>add</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'addConstraint' | translate }}</md-tooltip>
    </md-button>
  </div>
  <div id={{constraint.id}}
      ng-repeat='constraint in $ctrl.node.constraints track by $index'
      style="border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 10px 20px 10px 20px;">
    <b>{{ ::'constraint' | translate }} {{ $index + 1 }}</b>
    <md-button class='topButton md-raised md-primary' ng-click='$ctrl.deleteConstraint($index)'>
      <md-icon>delete</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'deleteConstraint' | translate }}</md-tooltip>
    </md-button>
    <br/>
    <div layout="row">
      <md-input-container>
        <label>{{ ::'action' | translate }}</label>
        <md-select ng-model='constraint.action'
            ng-change='$ctrl.saveProject()'
            class="node-select md-subhead"
            style="width: 300px;">
          <md-option ng-repeat='action in $ctrl.constraintActions track by $index'
              ng-value='action.value'>
            <span layout="row" layout-align="start center">
              <span class="node-select__text" ng-style="$index == 0 && { 'color': 'red' }">{{action.text}}</span>
            </span>
          </md-option>
        </md-select>
      </md-input-container>
      <div style="width: 100px;"></div>
      <md-input-container>
        <label>{{ ::'removalConditional' | translate }}</label>
        <md-select ng-model='constraint.removalConditional'
            ng-change='$ctrl.saveProject()'
            class="node-select md-subhead"
            style="width: 140px;">
          <md-option ng-repeat='availableRemovalConditional in $ctrl.removalConditionals'
              ng-value='availableRemovalConditional.value'>
            <span layout="row" layout-align="start center">
               <span class="node-select__text">{{availableRemovalConditional.text}}</span>
            </span>
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div ng-repeat='criteria in constraint.removalCriteria'
        style="border: 2px solid #dddddd; border-radius: 5px; margin-top: 10px; margin-left: 50px; margin-bottom: 10px; padding: 10px 20px 10px 20px;">
      <b>{{ ::'removalCriteria' | translate }}</b>
      <md-button class='topButton md-raised md-primary'
          ng-click='$ctrl.deleteRemovalCriteria(constraint, $index)'>
        <md-icon>delete</md-icon>
        <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'deleteRemovalCriteria' | translate }}</md-tooltip>
      </md-button>
      <br/>
      <md-input-container>
        <label>{{ ::'removalCriteriaName' | translate }}</label>
        <md-select ng-model='criteria.name'
            ng-change='$ctrl.removalCriteriaNameChanged(criteria)'
            class="node-select md-subhead"
            style="width: 400px;">
          <md-option ng-repeat='availableRemovalCriteria in $ctrl.removalCriteria track by $index'
              ng-value='availableRemovalCriteria.value'>
            <span layout="row" layout-align="start center">
               <span class="node-select__text" ng-style="$index == 0 && { 'color': 'red' }">{{availableRemovalCriteria.text}}</span>
            </span>
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container ng-repeat='param in $ctrl.getRemovalCriteriaParamsByName(criteria.name)'>
        <label ng-if="param.value != 'requireAllCellsInARowToBeFilled' && param.value != 'tableHasHeaderRow'">{{::param.text}}</label>
        <md-select id="nodeIdSelectMenu"
            ng-if='param.value == "nodeId"'
            md-theme="at"
            class="node-select md-subhead"
            ng-model="criteria.params.nodeId"
            ng-change='$ctrl.constraintRemovalCriteriaNodeIdChanged(criteria)'
            aria-label="TransitionCriteriaNode"
            style="width: 400px;">
          <md-option ng-value="''">
            <span layout="row" layout-align="start center">
              <span class="node-select__text" style="color: red">{{ ::'pleaseChooseAStep' | translate }}</span>
            </span>
          </md-option>
          <md-option ng-repeat="item in $ctrl.items | toArray | orderBy : 'order'"
              ng-if="item.$key != 'group0'"
              ng-value="item.$key"
              ng-class="{'node-select-option--group': $ctrl.isGroupNode(item.$key), 'node-select-option--node': !$ctrl.isGroupNode(item.$key)}">
            <span layout="row" layout-align="start center">
              <span class="node-select__text">{{ ::$ctrl.getNodePositionById(item.$key) + ': '}}{{ ::$ctrl.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
            </span>
          </md-option>
        </md-select>
        <md-select id="componentIdSelectMenu"
            ng-if='param.value == "componentId"'
            md-theme="at"
            class="node-select md-subhead"
            ng-model="criteria.params.componentId"
            ng-change='$ctrl.constraintRemovalCriteriaComponentIdChanged()'
            aria-label="TransitionCriteriaComponent"
            style="width: 400px;">
          <md-option ng-value="''">
            <span layout="row" layout-align="start center">
              <span class="node-select__text" style="color: red">{{ ::'pleaseChooseAComponent' | translate }}</span>
            </span>
          </md-option>
          <md-option ng-repeat="component in ::$ctrl.getComponentsByNodeId(criteria.params.nodeId) track by $index"
              ng-value="component.id">
            <span layout="row" layout-align="start center">
              <span class="node-select__text">{{::($index + 1)}}. {{::component.type}} ({{ ::'prompt' | translate }}: {{::component.prompt}})</span>
            </span>
          </md-option>
        </md-select>
        <md-select id="fromNodeIdSelectMenu"
            ng-if='param.value == "fromNodeId"'
            md-theme="at"
            class="node-select md-subhead"
            ng-model="criteria.params.fromNodeId"
            ng-change='$ctrl.saveProject()'
            aria-label="TransitionCriteriaNode"
            style="width: 400px;">
          <md-option ng-value="''">
            <span layout="row" layout-align="start center">
              <span class="node-select__text" style="color: red">{{ ::'pleaseSelectAFromStep' | translate }}</span>
            </span>
          </md-option>
          <md-option ng-repeat="item in $ctrl.items | toArray | orderBy : 'order'"
              ng-value="item.$key"
              ng-if="item.$key != 'group0'"
              ng-class="{'node-select-option--group': $ctrl.isGroupNode(item.$key), 'node-select-option--node': !$ctrl.isGroupNode(item.$key)}">
            <span layout="row" layout-align="start center">
              <span class="node-select__text">{{ ::$ctrl.getNodePositionById(item.$key) + ': '}}{{ ::$ctrl.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
            </span>
          </md-option>
        </md-select>
        <md-select id="toNodeIdSelectMenu"
            ng-if='param.value == "toNodeId"'
            md-theme="at"
            class="node-select md-subhead"
            ng-model="criteria.params.toNodeId"
            ng-change='$ctrl.saveProject()'
            aria-label="TransitionCriteriaNode"
            style="width: 400px;">
          <md-option ng-value="''">
            <span layout="row" layout-align="start center">
              <span class="node-select__text" style="color: red">{{ ::'pleaseSelectAToStep' | translate }}</span>
            </span>
          </md-option>
          <md-option ng-repeat="item in $ctrl.items | toArray | orderBy : 'order'"
              ng-if="item.$key != 'group0'"
              ng-value="item.$key"
              ng-class="{'node-select-option--group': $ctrl.isGroupNode(item.$key), 'node-select-option--node': !$ctrl.isGroupNode(item.$key)}">
            <span layout="row" layout-align="start center">
              <span class="node-select__text">{{ ::$ctrl.getNodePositionById(item.$key) + ': '}}{{ ::$ctrl.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
            </span>
          </md-option>
        </md-select>
        <input type='text'
            ng-if='param.value == "scores"'
            ng-model='criteria.params.scores'
            ng-model-options='{ debounce: 1000 }'
            ng-change='$ctrl.saveProject()'
            ng-list=','/>
        <div ng-if='param.value == "scores" && criteria.params.scores == ""'><span style="color: red">{{ ::'pleaseEnterAScore' | translate }}</span></div>
        <input type='number'
            ng-if='param.value == "requiredSubmitCount"'
            ng-model='criteria.params.requiredSubmitCount'
            ng-model-options='{ debounce: 1000 }'
            style="width: 400px;"
            ng-change='$ctrl.saveProject()'/>
        <div ng-if='param.value == "requiredSubmitCount" && (criteria.params.requiredSubmitCount == null || criteria.params.requiredSubmitCount == "")'><span style="color: red">{{ ::'pleaseEnterTheRequiredNumberOfSubmits' | translate }}</span></div>
        <md-select id="radioChoiceIdsSelectMenu"
            ng-if='param.value == "choiceIds" && "radio" == $ctrl.getChoiceTypeByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)'
            md-theme="at"
            class="node-select md-subhead"
            ng-model="criteria.params.choiceIds"
            ng-change='$ctrl.saveProject()'
            aria-label="TransitionCriteriaNode"
            style="width: 400px;">
          <md-option ng-value="''">
            <span layout="row" layout-align="start center">
              <span class="node-select__text" style="color: red">{{ ::'pleaseSelectAChoice' | translate }}</span>
            </span>
          </md-option>
          <md-optgroup>
            <md-option ng-value="choice.id" ng-repeat="choice in ::$ctrl.getChoicesByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)">
              <span layout="row" layout-align="start center">
                <span class="node-select__text">{{::choice.text}}</span>
              </span>
            </md-option>
          </md-optgroup>
        </md-select>
        <md-select id="checkboxChoiceIdsSelectMenu"
            ng-if='param.value == "choiceIds" && "checkbox" == $ctrl.getChoiceTypeByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)'
            md-theme="at"
            class="node-select md-subhead"
            ng-model="criteria.params.choiceIds"
            ng-change='$ctrl.saveProject()'
            aria-label="TransitionCriteriaNode"
            style="width: 400px;"
            multiple={{$ctrl.getChoiceTypeByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)}}>
          <md-optgroup>
            <md-option ng-value="choice.id" ng-repeat="choice in $ctrl.getChoicesByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)">{{choice.text}}</md-option>
          </md-optgroup>
        </md-select>
        <div ng-if='param.value == "choiceIds" && "checkbox" == $ctrl.getChoiceTypeByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId) && criteria.params.choiceIds == ""' style='margin-left: 10px;'><span style="color: red">{{ ::'pleaseSelectAChoice' | translate }}</span></div>
        <input ng-if='param.value == "requiredNumberOfWords"'
            type='number'
            ng-model='criteria.params.requiredNumberOfWords'
            ng-model-options='{ debounce: 1000 }'
            style="width: 400px;"
            ng-change='$ctrl.saveProject()'/>
        <div ng-if='param.value == "requiredNumberOfWords" && (criteria.params.requiredNumberOfWords == null || criteria.params.requiredNumberOfWords == "")'><span style="color: red">{{ ::'pleaseEnterTheRequiredNumberOfWords' | translate }}</span></div>
        <input ng-if='param.value == "requiredNumberOfNotes"'
            type='number'
            ng-model='criteria.params.requiredNumberOfNotes'
            ng-model-options='{ debounce: 1000 }'
            style="width: 400px;"
            ng-change='$ctrl.saveProject()'/>
        <div ng-if='param.value == "requiredNumberOfNotes" && (criteria.params.requiredNumberOfNotes == null || criteria.params.requiredNumberOfNotes == "")'><span style="color: red">{{ 'pleaseEnterTheRequiredNumberOfNotes' | translate }}</span></div>
        <input ng-if='param.value == "requiredNumberOfFilledRows"'
            type='number'
            ng-model="criteria.params.requiredNumberOfFilledRows"
            ng-model-options='{ debounce: 1000 }'
            style="width: 450px;"
            ng-change='$ctrl.saveProject()'/>
        <div ng-if='param.value == "requiredNumberOfFilledRows" && (criteria.params.requiredNumberOfFilledRows == null || criteria.params.requiredNumberOfFilledRows == "")'><span style="color: red">{{ 'pleaseEnterTheRequiredNumberOfFilledRows' | translate }}</span></div>
        <md-checkbox ng-if="param.value == 'tableHasHeaderRow'"
            ng-model="criteria.params.tableHasHeaderRow"
            style="width: 400px;"
            ng-change='$ctrl.saveProject()'>
          {{ ::param.text }}
        </md-checkbox>
        <md-checkbox ng-if="param.value == 'requireAllCellsInARowToBeFilled'"
            ng-model="criteria.params.requireAllCellsInARowToBeFilled"
            style="width: 400px;"
            ng-change='$ctrl.saveProject()'>
          {{ ::param.text }}
        </md-checkbox>
      </md-input-container>
    </div>
    <div style="margin-left: 50px;">
      <label class='node__label--vertical-alignment'>{{ ::'addRemovalCriteria' | translate }}</label>
      <md-button class='topButton md-raised md-primary'
          ng-click='$ctrl.addRemovalCriteria(constraint)'>
        <md-icon>add</md-icon>
        <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'addRemovalCriteria' | translate }}</md-tooltip>
      </md-button>
    </div>
  </div>
  <div ng-if="$ctrl.node.constraints.length > 0">
    <label class='node__label--vertical-alignment'>{{ ::'addConstraint' | translate }}</label>
    <md-button class='topButton md-raised md-primary' ng-click='$ctrl.addConstraintAndScrollToBottom()'>
      <md-icon>add</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'addConstraint' | translate }}</md-tooltip>
    </md-button>
  </div>
</div>
