<div class="main app-background">
  <div class="content">
    <header fxLayout="row" class="content__header">
      <h1 class="accent"
          fxLayoutAlign="center center"
          fxLayoutGap="8px"
          ngClass="mat-display-1"
          [ngClass.xs]="{ 'mat-display-1': false }">
        <mat-icon>info</mat-icon>
        <span i18n>About Us</span>
      </h1>
    </header>
    <section class="section"
             fxLayout="column"
             fxLayout.gt-xs="row"
             fxLayoutAlign="center center"
             fxLayoutGap="36px"
             fxLayoutGap.gt-md="64px">
      <div fxFlex="100%" fxFlex.gt-xs="50%">
        <h2 class="accent-1" i18n>WISE is the product of more than 25 years of research on teaching and learning with educational technologies</h2>
      </div>
      <div fxFlex="100%" fxFlex.gt-xs="50%">
        <div class="about__intros">
          <picture class="about__intro">
            <source type="image/webp" srcset="assets/img/about/wise-workshop-group-2018-fun.webp, assets/img/about/wise-workshop-group-2018-fun@2x.webp 2x">
            <source srcset="assets/img/about/wise-workshop-group-2018-fun.jpg, assets/img/about/wise-workshop-group-2018-fun@2x.jpg 2x">
            <img class="about__intro" src="assets/img/about/wise-workshop-group-2018-fun.jpg" i18n-alt alt="WISE teacher workshop 2018" />
          </picture>
        </div>
      </div>
    </section>
    <section id="research-practice"
             class="section"
             fxLayout="column"
             fxLayout.gt-xs="row"
             fxLayoutAlign="center center"
             fxLayoutGap="36px"
             fxLayoutGap.gt-xs="36px"
             fxLayoutGap.gt-md="64px">
      <div fxFlex="100%" fxFlex.gt-xs="50%" fxFlexOrder="2" fxFlexOrder.gt-xs="1">
        <div class="about__research-practice about--l">
          <picture class="about__research">
            <source type="image/webp" srcset="assets/img/about/wise-student-and-teacher.webp, assets/img/about/wise-student-and-teacher@2x.webp 2x">
            <source srcset="assets/img/about/wise-student-and-teacher.jpg, assets/img/about/wise-student-and-teacher@2x.jpg 2x">
            <img class="about__research" src="assets/img/about/wise-student-and-teacher.jpg" i18n-alt alt="WISE student and teacher" />
          </picture>
          <picture class="about__research">
            <source type="image/webp" srcset="assets/img/about/wise-teacher-workshop-design.webp, assets/img/about/wise-teacher-workshop-design@2x.webp 2x">
            <source srcset="assets/img/about/wise-teacher-workshop-design.jpg, assets/img/about/wise-teacher-workshop-design@2x.jpg 2x">
            <img class="about__research" src="assets/img/about/wise-teacher-workshop-design.jpg" i18n-alt alt="WISE teacher workshop design" />
          </picture>
          <picture class="about__research">
            <source type="image/webp" srcset="assets/img/about/marcia-wise-workshop.webp, assets/img/about/marcia-wise-workshop@2x.webp 2x">
            <source srcset="assets/img/about/marcia-wise-workshop.jpg, assets/img/about/wise-students-add-note@2x.png 2x">
            <img class="about__research" src="assets/img/about/marcia-wise-workshop.jpg" i18n-alt alt="Marcia at WISE workshop" />
          </picture>
        </div>
      </div>
      <div fxFlex="100%" fxFlex.gt-xs="50%" fxFlexOrder="1" fxFlexOrder.gt-xs="2">
        <h2 class="accent-1" i18n>Based on Research, Refined Through Practice</h2>
        <p i18n>Through our collaborations with teachers, administrators, technology designers, and education researchers, we have refined a set of principles which guide the design of all WISE curriculum materials and tools.</p>
        <p>
          <ng-container i18n>This means that when implementing WISE units, you can be assured that what you're using is grown from a solid foundation, advised by real teachers' experiences, and tested in classrooms with real students.</ng-container>
          <br><br>
          <a mat-raised-button color="accent" href="https://wise-research.berkeley.edu" target="_blank" i18n>Our Research + Team</a>
        </p>
      </div>
    </section>
    <section id="ki"
             class="section"
             fxLayout="column"
             fxLayout.gt-xs="row"
             fxLayoutAlign="center center"
             fxLayoutGap="36px"
             fxLayoutGap.gt-md="64px">
      <div fxFlex="100%" fxFlex.gt-xs="50%">
        <h2 class="accent-1" i18n>Knowledge Integration</h2>
        <p i18n>As students grapple with multiple conflicting and confusing ideas, research has shown that instruction is most effective when student views are used as a starting point for scientific investigations.</p>
        <p>The <strong>Knowledge Integration (KI)</strong> perspective emphasizes building on and strengthening science understanding by incorporating new ideas and sorting out alternative perspectives using evidence. This framework forms the basis of WISE curriculum design, assessments, and evaluation.</p>
      </div>
      <div fxFlex="100%" fxFlex.gt-xs="50%">
        <div class="about--r" fxFlex>
          <div class="content-block">
            <h3 class="content-block__title" i18n>The KI Processes:</h3>
            <ul class="list--icons">
              <li fxLayoutAlign="start start">
                <mat-icon class="accent" svgIcon="ki-elicit" i18n-aria-label aria-label="Elicit Ideas"></mat-icon>
                <span i18n>Elicit Ideas</span>
              </li>
              <li fxLayoutAlign="start start">
                <mat-icon class="accent" svgIcon="ki-add" i18n-aria-label aria-label="Add Ideas"></mat-icon>
                <span i18>Add Ideas</span>
              </li>
              <li fxLayoutAlign="start start">
                <mat-icon class="accent" svgIcon="ki-distinguish" i18n-aria-label aria-label="Distinguish Ideas"></mat-icon>
                <span i18n>Distinguish Ideas</span>
              </li>
              <li fxLayoutAlign="start start">
                <mat-icon class="accent" svgIcon="ki-connect" i18n-aria-label aria-label="Connect Ideas"></mat-icon>
                <span i18n>Connect Ideas</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <h1 class="accent-1 center"
        ngClass="mat-display-1"
        [ngClass.xs]="{ 'mat-display-1': false }"
        i18n>~ WISE Goals ~</h1>
    <section id="goals"
             class="section"
             fxLayout="column"
             fxLayoutGap="36px"
             fxLayoutGap.gt-md="64px">
      <div fxLayout="column"
           fxLayout.gt-xs="row"
           fxLayoutGap="24px"
           fxLayoutGap.gt-xs="36px"
           fxLayoutGap.gt-md="64px">
        <div class="content-block about__goal"
             fxFlex="100%"
             fxFlex.gt-xs="50%">
          <h2 class="accent" i18n>Make Science Meaningful</h2>
          <p i18n>WISE units introduce students to complex science concepts through personally and socially relevant topics. Each unit uses a classroom-tested pattern of instruction that values the ideas students bring with them, helps them connect new information to their personal experiences, and integrates their ideas into a coherent understanding of science.</p>
        </div>
        <div class="content-block about__goal--alt"
             fxFlex="100%"
             fxFlex.gt-xs="50%">
          <h2 class="accent" i18n>Support Diverse Learners</h2>
          <p i18n>Individual students differ in their experiences, interests, and abilities. WISE provides a variety of tools, activity patterns, and instructional scaffolds that afford multiple ways for expressing and assessing understanding. That way, no students' abilities go unrecognized, and all have the chance to succeed.</p>
        </div>
      </div>
      <div fxLayout="column"
           fxLayout.gt-xs="row"
           fxLayoutGap="24px"
           fxLayoutGap.gt-xs="36px"
           fxLayoutGap.gt-md="64px">
        <div class="content-block about__goal"
             ngClass.gt-xs="about__goal--alt"
             fxFlex="100%"
             fxFlex.gt-xs="50%">
          <h2 class="accent" i18n>Increase Participation in Science</h2>
          <p i18n>WISE gives more teachers and students the opportunity to do inquiry-based science. Our units make difficult concepts accessible both for teachers to teach and students to learn. WISE curricula help students see themselves as capable of doing science and realize that, no matter their backgrounds, science can be a potential career.</p>
        </div>
        <div class="content-block about__goal"
             ngClass.xs="about__goal--alt"
             fxFlex="100%"
             fxFlex.gt-xs="50%">
          <h2 class="accent" i18n>Accessible to All</h2>
          <p i18n>WISE is <strong>free</strong> and <strong>open source</strong>! WISE subsists on generous support from the National Science Foundation, which means it's available to anyone with an internet connection. Driven by an active community of developers, WISE is continually being expanded and improved. Bring science inquiry into the classroom, the museum, the after-school, or the home-school environment!</p>
        </div>
      </div>
    </section>
    <section>
      <div class="about__pics">
        <picture class="about__pic">
          <source type="image/webp" srcset="assets/img/about/wise-students-add-note.webp, assets/img/about/wise-students-add-note@2x.webp 2x">
          <source srcset="assets/img/about/wise-students-add-note.jpg, assets/img/about/wise-students-add-note@2x.jpg 2x">
          <img class="about__pic" src="assets/img/about/wise-students-add-note.jpg" i18n-alt alt="WISE on student computer" />
        </picture>
        <picture class="about__pic">
          <source type="image/webp" srcset="assets/img/about/wise-workshop-researcher.webp, assets/img/about/wise-workshop-researcher@2x.webp 2x">
          <source srcset="assets/img/about/wise-workshop-researcher.jpg, assets/img/about/wise-workshop-researcher@2x.jpg 2x">
          <img class="about__pic" src="assets/img/about/wise-workshop-researcher.jpg" i18n-alt alt="WISE researcher" />
        </picture>
        <picture class="about__pic">
          <source type="image/webp" srcset="assets/img/about/wise-teachers-researcher.webp, assets/img/about/wise-teachers-researcher@2x.webp 2x">
          <source srcset="assets/img/about/wise-teachers-researcher.jpg, assets/img/about/wise-teachers-researcher@2x.jpg 2x">
          <img class="about__pic" src="assets/img/about/wise-teachers-researcher.jpg" i18n-alt alt="WISE teachers and researcher" />
        </picture>
        <picture class="about__pic">
          <source type="image/webp" srcset="assets/img/about/wise-tech-teacher-workshop.webp, assets/img/about/wise-tech-teacher-workshop@2x.webp 2x">
          <source srcset="assets/img/about/wise-tech-teacher-workshop.jpg, assets/img/about/wise-tech-teacher-workshop@2x.jpg 2x">
          <img class="about__pic" src="assets/img/about/wise-tech-teacher-workshop.jpg" i18n-alt alt="WISE developers and teacher" />
        </picture>
      </div>
    </section>
  </div>
</div>
