
#answerDiv {
margin:0px;
padding:5px;
float:left;
}

#answerDiv ul {
	border:1px solid black;
	background-color:#000099;
	width:650px;
	margin:0px;
	padding: 5px;
	position:relative;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

#answerDiv ul li {
	font-size:.85em;
	border:1px solid transparent;
	background-color:#999999;
	background-image:none;
	cursor:move;
	list-style-type:none;
	margin:0px 4px 5px 4px;
	padding: 2px 5px;
	position:relative;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#answerDiv ul li input {
	/*width:565px;
	height:35px;*/
}