@import
  '~style/abstracts/variables',
  '~style/abstracts/functions',
  '~style/abstracts/mixins';

.mat-icon-button {
  @include mat-icon-button-size(36px);
  margin-left: 8px;

  @media (min-width: breakpoint('sm.min')) {
    margin: 8px;
  }
}

.header-account-menu {
  min-width: 200px;
}

.user-info {
  margin: 0 16px;
  font-weight: 500;

  mat-icon {
    @include mat-icon-size(36px);
    margin-right: 8px;
  }
}

.user-switch {
  margin: 0 16px;
  font-size: 12px;

  a {
    cursor: pointer;
  }

  form {
    visibility: hidden;
  }
}
