@import
  '~style/abstracts/variables',
  '~style/abstracts/functions',
  '~style/abstracts/mixins';

.form-fields {
  margin-bottom: 0 !important;

  @media (min-width: breakpoint('sm.min')) {
    p {
      margin-bottom: 0;
    }
  }

  // hacks necessary until fxLayoutGap resize bug is fixed: https://github.com/angular/flex-layout/issues/606
  @media (max-width: breakpoint('xs.max')) {
    margin: 0 !important;

    p {
      padding: 0 !important;
    }
  }
}

.actions {
  margin-top: 8px;
}

.google-icon {
  height: 1.8em;
  width: auto;
}

.unlink {
  margin: 8px 0;
}
