<form role="form"
      (submit)="saveChanges()"
      [formGroup]="editProfileFormGroup">
  <div class="form-fields"
       fxLayout="row wrap"
       fxLayoutAlign="center"
       fxLayoutGap="0"
       fxLayoutGap.gt-xs="16px grid">
    <p fxFlex="100" fxFlex.gt-xs="50">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>First Name</mat-label>
        <input matInput
               id="firstName"
               name="firstName"
               formControlName="firstName" />
        <mat-error *ngIf="editProfileFormGroup.controls['firstName'].hasError('required')">First Name Required</mat-error>
      </mat-form-field>
    </p>
    <p fxFlex="100" fxFlex.gt-xs="50">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Last Name</mat-label>
        <input matInput
               id="lastName"
               name="lastName"
               formControlName="lastName" />
        <mat-error *ngIf="editProfileFormGroup.controls['lastName'].hasError('required')">Last Name Required</mat-error>
      </mat-form-field>
    </p>
    <p fxFlex="100" fxFlex.gt-xs="50">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Display Name</mat-label>
        <input matInput
               id="displayName"
               name="displayName"
               formControlName="displayName" />
        <mat-hint>This is the name your students will see.</mat-hint>
        <mat-error *ngIf="editProfileFormGroup.controls['lastName'].hasError('required')">Display Name Required</mat-error>
      </mat-form-field>
    </p>
    <p fxFlex="100" fxFlex.gt-xs="50">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput
               id="email"
               name="email"
               formControlName="email" />
        <mat-error *ngIf="editProfileFormGroup.controls['email'].hasError('required')">Email Required</mat-error>
      </mat-form-field>
    </p>
    <p fxFlex="100" fxFlex.gt-xs="50">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>City</mat-label>
        <input matInput
               id="city"
               name="city"
               formControlName="city" />
        <mat-error *ngIf="editProfileFormGroup.controls['city'].hasError('required')">City Required</mat-error>
      </mat-form-field>
    </p>
    <p fxFlex="100" fxFlex.gt-xs="50">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>State</mat-label>
        <input matInput
               id="state"
               name="state"
               formControlName="state" />
        <mat-error *ngIf="editProfileFormGroup.controls['state'].hasError('required')">State Required</mat-error>
      </mat-form-field>
    </p>
    <p fxFlex="100" fxFlex.gt-xs="50">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Country</mat-label>
        <input matInput
               id="country"
               name="country"
               formControlName="country" />
        <mat-error *ngIf="editProfileFormGroup.controls['country'].hasError('required')">Country Required</mat-error>
      </mat-form-field>
    </p>
    <p fxFlex="100" fxFlex.gt-xs="50">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>School Name</mat-label>
        <input matInput
               id="schoolName"
               name="schoolName"
               formControlName="schoolName" />
        <mat-error *ngIf="editProfileFormGroup.controls['schoolName'].hasError('required')">School Name Required</mat-error>
      </mat-form-field>
    </p>
    <p fxFlex="100" fxFlex.gt-xs="50">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>School Level</mat-label>
        <mat-select formControlName="schoolLevel">
          <mat-option *ngFor="let schoolLevel of schoolLevels" [value]="schoolLevel.id">
            {{schoolLevel.label}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editProfileFormGroup.controls['schoolLevel'].hasError('required')">School Level Required</mat-error>
      </mat-form-field>
    </p>
    <p fxFlex="100" fxFlex.gt-xs="50">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Language</mat-label>
        <mat-select formControlName="language">
          <mat-option *ngFor="let language of languages" [value]="language.locale">
            {{language.language}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editProfileFormGroup.controls['language'].hasError('required')">Language Required</mat-error>
      </mat-form-field>
    </p>
  </div>
  <div>
    <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!editProfileFormGroup.valid"
            fxFlex
            fxFlex.gt-xs="0 0 auto">
      Save Changes
    </button>
  </div>
  <div>{{ message }}</div>
</form>
