<div style='display: flex'>
  <style>
    .rotate90 {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .rotate270 {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  </style>
  <div style='flex: 1'>
    <div>
      <div class='advancedAuthoringDiv'
           ng-if='tableController.showAdvancedAuthoring'>
        <div>
          <h6>{{ ::'advancedAuthoringOptions' | translate }}</h6>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-model='tableController.authoringComponentContent.showSaveButton'
                       ng-change='tableController.authoringViewComponentChanged()'>
            {{ ::'SHOW_SAVE_BUTTON' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-model='tableController.authoringComponentContent.showSubmitButton'
                       ng-change='tableController.authoringViewComponentChanged()'>
            {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-if='tableController.isNotebookEnabled()'
                       ng-model='tableController.authoringComponentContent.showAddToNotebookButton'
                       ng-change='tableController.authoringViewComponentChanged()'>
            {{ ::'SHOW_ADD_TO_NOTEBOOK_BUTTON' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                              ng-if='tableController.authoringComponentContent.showSubmitButton'>
            <label>{{ ::'MAX_SUBMIT' | translate }}</label>
            <input type='number'
                   ng-model='tableController.authoringComponentContent.maxSubmitCount'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='tableController.authoringViewComponentChanged()'/>
          </md-input-container>
        </div>
        <div style='border: 1px solid black'>
          <p>{{ ::'table.dataExplorer' | translate }}</p>
          <div>
            <md-checkbox class='md-primary'
                ng-model='tableController.authoringComponentContent.isDataExplorerEnabled'
                ng-change='tableController.toggleDataExplorer()'>
              {{ ::'table.enableDataExplorer' | translate }}
            </md-checkbox>
          </div>
          <div ng-if='tableController.authoringComponentContent.isDataExplorerEnabled'>
            <div>
              <p>{{ ::'table.allowedGraphTypes' | translate }}</p>
              <md-checkbox class='md-primary'
                  style='margin-right: 40px;'
                  ng-model='tableController.isDataExplorerScatterPlotEnabled'
                  ng-change='tableController.dataExplorerToggleScatterPlot()'>
                {{ ::'table.scatterPlot' | translate }}
              </md-checkbox>
              <md-checkbox class='md-primary'
                  style='margin-right: 40px;'
                  ng-model='tableController.isDataExplorerLineGraphEnabled'
                  ng-change='tableController.dataExplorerToggleLineGraph()'>
                {{ ::'table.lineGraph' | translate }}
              </md-checkbox>
              <md-checkbox class='md-primary'
                  ng-model='tableController.isDataExplorerBarGraphEnabled'
                  ng-change='tableController.dataExplorerToggleBarGraph()'>
                {{ ::'table.barGraph' | translate }}
              </md-checkbox>
            </div>
            <div ng-if='tableController.isDataExplorerScatterPlotEnabled'>
              <md-checkbox class='md-primary'
                  ng-model='tableController.authoringComponentContent.isDataExplorerScatterPlotRegressionLineEnabled'
                  ng-change='tableController.authoringViewComponentChanged()'>
                {{ ::'table.showScatterPlotRegressionLine' | translate }}
              </md-checkbox>
            </div>
            <div>
              <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'>
                <label>{{ ::'table.numberOfSeries' | translate }}</label>
                <input type='number'
                    ng-model='tableController.authoringComponentContent.numDataExplorerSeries'
                    ng-model-options='{ debounce: 1000 }'
                    ng-change='tableController.numDataExplorerSeriesChanged()'/>
              </md-input-container>
            </div>
            <div>
              <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'>
                <label>{{ ::'table.numberOfYAxes' | translate }}</label>
                <input type='number'
                    ng-model='tableController.authoringComponentContent.numDataExplorerYAxis'
                    ng-model-options='{ debounce: 1000 }'
                    ng-change='tableController.numDataExplorerYAxisChanged()'/>
              </md-input-container>
            </div>
            <div ng-if='tableController.authoringComponentContent.numDataExplorerYAxis > 1'>
              <div ng-repeat='s in [].constructor(tableController.authoringComponentContent.numDataExplorerSeries) track by $index'>
                <md-input-container style='margin-right: 20px; width: 300px;'>
                  <label>{{ ::'table.series' | translate }} {{ $index + 1 }}</label>
                  <md-select ng-model='tableController.authoringComponentContent.dataExplorerSeriesParams[$index].yAxis'
                      ng-change='tableController.authoringViewComponentChanged()'
                      style='width: 300px'>
                    <md-option ng-repeat='y in [].constructor(tableController.authoringComponentContent.numDataExplorerYAxis) track by $index'
                        ng-value='$index'>
                      <span>
                        {{ ::'table.yAxis' | translate }} {{ $index + 1 }}
                      </span>
                    </md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>
            <div>
              <md-checkbox class='md-primary'
                  style='margin-right: 40px;'
                  ng-model='tableController.authoringComponentContent.isDataExplorerAxisLabelsEditable'
                  ng-change='tableController.authoringViewComponentChanged()'>
                {{ ::'table.canStudentEditAxisLabels' | translate }}
              </md-checkbox>
            </div>
          </div>
        </div>
        <div layout="column" layout-align="start start">
          <edit-component-max-score [authoring-component-content]="tableController.authoringComponentContent"></edit-component-max-score>
          <edit-component-width [authoring-component-content]="tableController.authoringComponentContent"></edit-component-width>
          <edit-component-rubric [authoring-component-content]="tableController.authoringComponentContent"></edit-component-rubric>
          <edit-component-tags [authoring-component-content]="tableController.authoringComponentContent"></edit-component-tags>
        </div>
        <div>
          <div style='height: 50;'>
            <label class='node__label--vertical-alignment'>
              {{ ::'CONNECTED_COMPONENTS' | translate }}
            </label>
            <md-button class='topButton md-raised md-primary'
                       ng-click='tableController.addConnectedComponent()'>
              <md-icon>add</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'ADD_CONNECTED_COMPONENT' | translate }}
              </md-tooltip>
            </md-button>
          </div>
          <div ng-repeat='connectedComponent in tableController.authoringComponentContent.connectedComponents track by $index'
               style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
            <div flex>
              <md-input-container style='margin-right: 20px; width: 300px;'>
                <label>{{ ::'step' | translate }}</label>
                <md-select ng-model='connectedComponent.nodeId'
                           ng-change='tableController.connectedComponentNodeIdChanged(connectedComponent)'
                           style='width: 300px'>
                  <md-option ng-repeat='item in tableController.idToOrder | toArray | orderBy : "order"'
                             value='{{item.$key}}'
                             ng-if='tableController.isApplicationNode(item.$key)'>
                    {{tableController.getNodePositionAndTitleByNodeId(item.$key)}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container style='margin-right: 20px; width: 300px;'>
                <label>{{ ::'component' | translate }}</label>
                <md-select ng-model='connectedComponent.componentId'
                           ng-change='tableController.connectedComponentComponentIdChanged(connectedComponent)'
                           style='width: 300px'>
                  <md-option ng-repeat='(componentIndex, component) in tableController.getComponentsByNodeId(connectedComponent.nodeId)'
                             value='{{component.id}}'
                             ng-disabled='!tableController.isConnectedComponentTypeAllowed(component.type) || component.id == tableController.componentId'>
                    {{ componentIndex + 1 }}. {{component.type}}
                    <span ng-if='component.id == tableController.componentId'>
                      ({{ ::'thisComponent' | translate }})
                    </span>
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container style='margin-right: 20px; width: 200px;'>
                <label>{{ ::'type' | translate }}</label>
                <md-select ng-model='connectedComponent.type'
                           ng-change='tableController.connectedComponentTypeChanged(connectedComponent)'
                           style='width: 200px'>
                  <md-option value='importWork'>
                    {{ ::'importWork' | translate }}
                  </md-option>
                  <md-option value='showWork'>
                    {{ ::'showWork' | translate }}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container style='margin-right: 20px; width: 200px;'
                                  ng-if='connectedComponent.type == "importWork"'>
                <label>{{ ::'action' | translate }}</label>
                <md-select ng-model='connectedComponent.action'
                           ng-change='tableController.authoringViewComponentChanged()'
                           style='width: 200px'>
                  <md-option value='merge'>
                    {{ ::'merge' | translate }}
                  </md-option>
                  <md-option value='append'>
                    {{ ::'append' | translate }}
                  </md-option>
                </md-select>
              </md-input-container>
              <span flex></span>
              <md-input-container style='margin-left: 20px;'>
                <md-button class='topButton md-raised md-primary'
                           ng-click='tableController.deleteConnectedComponent($index)'>
                  <md-icon>delete</md-icon>
                  <md-tooltip md-direction='top'
                              class='projectButtonTooltip'>
                    {{ ::'DELETE' | translate }}
                  </md-tooltip>
                </md-button>
              </md-input-container>
              <md-input-container ng-if='tableController.getConnectedComponentType(connectedComponent) == "Graph"'>
                <md-checkbox class='md-primary'
                             ng-model='connectedComponent.showDataAtMouseX'
                             ng-change='tableController.authoringViewComponentChanged()'>
                  {{ ::'table.onlyShowDataAtMouseXPosition' | translate }}
                </md-checkbox>
              </md-input-container>
            </div>
          </div>
        </div>
        <edit-component-json [node-id]="tableController.nodeId" [component-id]="tableController.componentId"></edit-component-json>
      </div>
      <br/>
      <div ng-if='!tableController.authoringComponentContent.showPreviousWork'>
        <md-input-container style='width:100%'>
          <label>{{ ::'PROMPT' | translate }}</label>
          <textarea rows='1'
                    ng-model='tableController.authoringComponentContent.prompt'
                    ng-change='tableController.authoringViewComponentChanged()'
                    ng-model-options='{ debounce: 1000 }'
                    aria-label='Prompt'
                    placeholder='{{ "enterPromptHere" | translate }}'>
        </textarea>
        </md-input-container>
        <br/>
        <div style='height: 60px;'>
          <md-input-container>
            <label>{{ ::'table.columns' | translate }}</label>
            <input type='number'
                   style='width: 120px'
                   ng-model='tableController.authoringComponentContent.numColumns'
                   ng-model-options='{ debounce: 500 }'
                   ng-change='tableController.tableNumColumnsChanged({{tableController.authoringComponentContent.numColumns}})'/>
          </md-input-container>
          <md-input-container>
            <label>{{ ::'table.rows' | translate }}</label>
            <input type='number'
                   style='width: 120px'
                   ng-model-options='{ debounce: 500 }'
                   ng-model='tableController.authoringComponentContent.numRows'
                   ng-change='tableController.tableNumRowsChanged({{tableController.authoringComponentContent.numRows}})'/>
          </md-input-container>
          <md-input-container>
            <label>{{ ::'table.globalCellSize' | translate }}</label>
            <input type='number'
                   style='width: 120px'
                   ng-model='tableController.authoringComponentContent.globalCellSize'
                   ng-change='tableController.authoringViewComponentChanged()'/>
          </md-input-container>
        </div>
        <br/>
        <table style='border: 1px solid black;'>
          <tr>
            <td style='border: 1px solid black;'></td>
            <td ng-repeat='x in [].constructor(tableController.authoringComponentContent.numColumns) track by $index'
                style='border: 1px solid black;'>
              <md-button class='topButton md-raised md-primary'
                         ng-click='tableController.insertColumn($index)'>
                <md-icon class='rotate90'>loupe</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'table.insertColumnBefore' | translate }}
                </md-tooltip>
              </md-button>
              <md-button class='topButton md-raised md-primary'
                         ng-click='tableController.deleteColumn($index)'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'table.deleteColumn' | translate }}
                </md-tooltip>
              </md-button>
              <md-button class='topButton md-raised md-primary'
                         ng-if='$last'
                         ng-click='tableController.insertColumn($index + 1)'>
                <md-icon>loupe</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'table.insertColumnAfter' | translate }}
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          <tr ng-repeat='row in tableController.authoringComponentContent.tableData'>
            <td style='border: 1px solid black;'>
              <md-button class='topButton md-raised md-primary'
                         ng-click='tableController.insertRow($index)'>
                <md-icon class='rotate270'>loupe</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'table.insertRowBefore' | translate }}
                </md-tooltip>
              </md-button>
              <br/>
              <md-button class='topButton md-raised md-primary'
                         ng-click='tableController.deleteRow($index)'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'table.deleteRow' | translate }}
                </md-tooltip>
              </md-button>
              <br/>
              <md-button class='topButton md-raised md-primary'
                         ng-if='$last'
                         ng-click='tableController.insertRow($index + 1)'>
                <md-icon>loupe</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'table.insertRowAfter' | translate }}
                </md-tooltip>
              </md-button>
            </td>
            <td ng-repeat='cell in row' style='border: 1px solid black; height: 20;'>
              <md-input-container style='height: 20px;'>
                <input ng-model='cell.text'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='tableController.authoringViewComponentChanged()'
                       aria-label='Text'
                       size='20'/>
              </md-input-container>
              <br/>
              <md-checkbox class='md-primary'
                           style='margin-left: 10px;'
                           ng-model='cell.editable'
                           ng-change='tableController.authoringViewComponentChanged()'>
                {{ ::'table.editableByStudent' | translate }}
              </md-checkbox>
            </td>
          </tr>
          <tr>
            <td></td>
            <td ng-repeat='x in [].constructor(tableController.authoringComponentContent.numColumns) track by $index'>
              &nbsp
            </td>
          </tr>
          <tr>
            <td style='border: 1px solid black; height: 20px;'>
              <label style='padding: 5px;'>{{ ::'OPTIONAL' | translate }}</label>
            </td>
            <td ng-repeat='x in [].constructor(tableController.authoringComponentContent.numColumns) track by $index' style='border: 1px solid black; height: 20px;'>
              <md-input-container style='height: 20px;'>
                <label>{{ ::'table.columnCellSizes' | translate }}</label>
                <input type='number'
                       ng-model='tableController.columnCellSizes[$index]'
                       ng-change='tableController.columnSizeChanged($index)'/>
              </md-input-container>
            </td>
          </tr>
        </table>
        <br/>
        <div layout='row'>
          <md-button class='topButton md-raised md-primary'
                     ng-click='tableController.makeAllCellsEditable()'>
            {{ ::'table.makeAllCellsEditable' | translate }}
          </md-button>
          <md-button class='topButton md-raised md-primary'
                     ng-click='tableController.makeAllCellsUneditable()'>
            {{ ::'table.makeAllCellsUneditable' | translate }}
          </md-button>
        </div>
      </div>
    </div>
    <br/>
    <div ng-style='{"border": "5px solid black"}'>
      <div ng-style='{"padding-top": "20px", "padding-left": "20px"}'>
        <h5>{{ ::'studentPreview' | translate }}</h5>
      </div>
      <preview-component component-content='tableController.componentContent'/>
    </div>
  </div>
