<div style='display: flex'>
  <style>
    .rotate90 {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .rotate270 {
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
    }
  </style>
  <div style='flex: 1'>
    <div>
      <div ng-if='!tableController.authoringComponentContent.showPreviousWork'>
        <md-input-container style='width:100%'>
          <label>{{ ::'PROMPT' | translate }}</label>
          <textarea rows='1'
                    ng-model='tableController.authoringComponentContent.prompt'
                    ng-change='tableController.authoringViewComponentChanged()'
                    ng-model-options='{ debounce: 1000 }'
                    aria-label='Prompt'
                    placeholder='{{ "enterPromptHere" | translate }}'>
        </textarea>
        </md-input-container>
        <br/>
        <div style='height: 60px;'>
          <md-input-container>
            <label>{{ ::'table.columns' | translate }}</label>
            <input type='number'
                   style='width: 120px'
                   ng-model='tableController.authoringComponentContent.numColumns'
                   ng-model-options='{ debounce: 500 }'
                   ng-change='tableController.tableNumColumnsChanged({{tableController.authoringComponentContent.numColumns}})'/>
          </md-input-container>
          <md-input-container>
            <label>{{ ::'table.rows' | translate }}</label>
            <input type='number'
                   style='width: 120px'
                   ng-model-options='{ debounce: 500 }'
                   ng-model='tableController.authoringComponentContent.numRows'
                   ng-change='tableController.tableNumRowsChanged({{tableController.authoringComponentContent.numRows}})'/>
          </md-input-container>
          <md-input-container>
            <label>{{ ::'table.globalCellSize' | translate }}</label>
            <input type='number'
                   style='width: 120px'
                   ng-model='tableController.authoringComponentContent.globalCellSize'
                   ng-change='tableController.authoringViewComponentChanged()'/>
          </md-input-container>
        </div>
        <br/>
        <table style='border: 1px solid black;'>
          <tr>
            <td style='border: 1px solid black;'></td>
            <td ng-repeat='x in [].constructor(tableController.authoringComponentContent.numColumns) track by $index'
                style='border: 1px solid black;'>
              <md-button class='topButton md-raised md-primary'
                         ng-click='tableController.insertColumn($index)'>
                <md-icon class='rotate90'>loupe</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'table.insertColumnBefore' | translate }}
                </md-tooltip>
              </md-button>
              <md-button class='topButton md-raised md-primary'
                         ng-click='tableController.deleteColumn($index)'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'table.deleteColumn' | translate }}
                </md-tooltip>
              </md-button>
              <md-button class='topButton md-raised md-primary'
                         ng-if='$last'
                         ng-click='tableController.insertColumn($index + 1)'>
                <md-icon>loupe</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'table.insertColumnAfter' | translate }}
                </md-tooltip>
              </md-button>
            </td>
          </tr>
          <tr ng-repeat='row in tableController.authoringComponentContent.tableData'>
            <td style='border: 1px solid black;'>
              <md-button class='topButton md-raised md-primary'
                         ng-click='tableController.insertRow($index)'>
                <md-icon class='rotate270'>loupe</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'table.insertRowBefore' | translate }}
                </md-tooltip>
              </md-button>
              <br/>
              <md-button class='topButton md-raised md-primary'
                         ng-click='tableController.deleteRow($index)'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'table.deleteRow' | translate }}
                </md-tooltip>
              </md-button>
              <br/>
              <md-button class='topButton md-raised md-primary'
                         ng-if='$last'
                         ng-click='tableController.insertRow($index + 1)'>
                <md-icon>loupe</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'table.insertRowAfter' | translate }}
                </md-tooltip>
              </md-button>
            </td>
            <td ng-repeat='cell in row' style='border: 1px solid black; height: 20;'>
              <md-input-container style='height: 20px;'>
                <input ng-model='cell.text'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='tableController.authoringViewComponentChanged()'
                       aria-label='Text'
                       size='20'/>
              </md-input-container>
              <br/>
              <md-checkbox class='md-primary'
                           style='margin-left: 10px;'
                           ng-model='cell.editable'
                           ng-change='tableController.authoringViewComponentChanged()'>
                {{ ::'table.editableByStudent' | translate }}
              </md-checkbox>
            </td>
          </tr>
          <tr>
            <td></td>
            <td ng-repeat='x in [].constructor(tableController.authoringComponentContent.numColumns) track by $index'>
              &nbsp
            </td>
          </tr>
          <tr>
            <td style='border: 1px solid black; height: 20px;'>
              <label style='padding: 5px;'>{{ ::'OPTIONAL' | translate }}</label>
            </td>
            <td ng-repeat='x in [].constructor(tableController.authoringComponentContent.numColumns) track by $index' style='border: 1px solid black; height: 20px;'>
              <md-input-container style='height: 20px;'>
                <label>{{ ::'table.columnCellSizes' | translate }}</label>
                <input type='number'
                       ng-model='tableController.columnCellSizes[$index]'
                       ng-change='tableController.columnSizeChanged($index)'/>
              </md-input-container>
            </td>
          </tr>
        </table>
        <br/>
        <div layout='row'>
          <md-button class='topButton md-raised md-primary'
                     ng-click='tableController.makeAllCellsEditable()'>
            {{ ::'table.makeAllCellsEditable' | translate }}
          </md-button>
          <md-button class='topButton md-raised md-primary'
                     ng-click='tableController.makeAllCellsUneditable()'>
            {{ ::'table.makeAllCellsUneditable' | translate }}
          </md-button>
        </div>
      </div>
    </div>
    <br/>
    <div ng-style='{"border": "5px solid black"}'>
      <div ng-style='{"padding-top": "20px", "padding-left": "20px"}'>
        <h5>{{ ::'studentPreview' | translate }}</h5>
      </div>
      <preview-component component-content='tableController.componentContent'/>
    </div>
  </div>
