<div ng-controller='TableController as tableController' style='display: flex'>
    <div style='flex: 1'>
        <div ng-if='tableController.mode === "authoring" && !tableController.authoringComponentContent.showPreviousWork'>
                    <textarea ng-model='tableController.authoringComponentContent.prompt'
                              ng-change='tableController.authoringViewComponentChanged()'
                              ng-model-options='{ debounce: 1000 }'
                              rows='10'
                              cols='100'></textarea>
                    <br/>
                    Show Save Button:
                    <input type='checkbox'
                           ng-model='tableController.authoringComponentContent.showSaveButton'
                           ng-change='tableController.authoringViewComponentChanged()'/>
                    <br/>
                    Show Submit Button:
                    <input type='checkbox'
                           ng-model='tableController.authoringComponentContent.showSubmitButton'
                           ng-change='tableController.authoringViewComponentChanged()'/>
                    <br/>
                    Columns: <input type='number'
                                    ng-model='tableController.authoringComponentContent.numColumns'
                                    ng-change='tableController.authoringViewTableSizeConfirmChange("columns", {{tableController.authoringComponentContent.numColumns}})'
                                    ng-model-options='{ debounce: 1000 }'
                                    style='width: 3em'/>
                    Rows: <input type='number'
                                 ng-model='tableController.authoringComponentContent.numRows'
                                 ng-change='tableController.authoringViewTableSizeConfirmChange("rows", {{tableController.authoringComponentContent.numRows}})'
                                 ng-model-options='{ debounce: 1000 }'
                                 style='width: 3em'/>
                    Cell Size: <input type='number'
                                      ng-model='tableController.authoringComponentContent.globalCellSize'
                                      ng-change='tableController.authoringViewComponentChanged()'
                                      ng-model-options='{ debounce: 1000 }'
                                      style='width: 3em'/>
                    <br/>
                    <table style='border: 1px solid black;'>
                        <tr>
                            <td style='border: 1px solid black;'></td>
                            <td ng-repeat='x in getNumber(tableController.authoringComponentContent.numColumns) track by $index'style='border: 1px solid black;'>
                                <button ng-click='tableController.authoringViewInsertColumn($index)'>I</button>
                                <button ng-click='tableController.authoringViewDeleteColumn($index)'>D</button>
                            </td>
                        </tr>
                        <tr ng-repeat='row in tableController.authoringComponentContent.tableData'>
                            <td style='border: 1px solid black;'>
                                <button ng-click='tableController.authoringViewInsertRow($index)'>I</button>
                                <button ng-click='tableController.authoringViewDeleteRow($index)'>D</button>
                            </td>
                            <td ng-repeat='cell in row' style='border: 1px solid black;'>
                                <input type='text'
                                       ng-model='cell.text'
                                       ng-model-options='{ debounce: 1000 }'
                                       ng-change='tableController.authoringViewComponentChanged()'
                                       size='20'/>
                                <br/>
                                U <input type='checkbox' ng-model='cell.editable' ng-checked='!cell.editable' ng-true-value='false' ng-false-value='true' ng-change='tableController.authoringViewComponentChanged()'/>
                                S <input type='number' ng-model='cell.size'
                                         ng-model-options='{ debounce: 1000 }'
                                         ng-change='tableController.authoringViewComponentChanged()' size='3' style='width: 3em'/>
                            </td>
                        </tr>
                    </table>
                    <br/>
                    Max Score:
                    <input type='number'
                           ng-model='tableController.authoringComponentContent.maxScore'
                           ng-change='tableController.authoringViewComponentChanged()'
                           ng-model-options='{ debounce: 1000 }'
                           style='width: 3em'/>
        </div>
        <div ng-if='tableController.mode === "authoring"'>
            Show Previous Work:
            <input type='checkbox'
                   ng-model='tableController.authoringComponentContent.showPreviousWork'
                   ng-click='tableController.authoringShowPreviousWorkClicked()'
                   ng-change='tableController.authoringViewComponentChanged()'/>
        </div>
        <div ng-if='tableController.mode === "authoring" && tableController.authoringComponentContent.showPreviousWork'>
            Show Previous Work Step:
            <select ng-model='tableController.authoringComponentContent.showPreviousWorkNodeId'
                    ng-change='tableController.authoringShowPreviousWorkNodeIdChanged()'>
                <option></option>
                <option ng-repeat='item in tableController.idToOrder | toArray | orderBy : "order"'
                        value='{{item.$key}}'
                        ng-if='tableController.isApplicationNode(item.$key)'>{{tableController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
            </select>
            <br/>
            Show Previous Work Component:
            <select ng-model='tableController.authoringComponentContent.showPreviousWorkComponentId'
                    ng-change='tableController.authoringShowPreviousWorkComponentIdChanged()'
                    ng-options='component.id as component.type disable when !tableController.componentHasWork(component) for component in tableController.getComponentsByNodeId(tableController.authoringComponentContent.showPreviousWorkNodeId)'>
                <option></option>
            </select>
            <br/>
            Show Previous Work Prompt:
            <input type='checkbox'
                   ng-model='tableController.authoringComponentContent.showPreviousWorkPrompt'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='tableController.authoringViewComponentChanged()'/>
        </div>
        <div ng-if='tableController.mode === "authoring"'>
            <textarea ng-model='tableController.authoringComponentContentJSONString'
                      ng-change='tableController.advancedAuthoringViewComponentChanged()'
                      ng-model-options="{ updateOn: 'blur' }"
                      rows='10'
                      cols='100'></textarea>
        </div>
        <div class="component__prompt">
            <div class="component__prompt__content"><compile data='tableController.getPrompt()'></compile></div>
            <possible-score max-score="tableController.componentContent.maxScore"
                            ng-if="tableController.mode === 'student' && !tableController.latestAnnotations.score"></possible-score>
        </div>
        <div class="component__actions" layout="row">
            <md-button class="md-accent" ng-show="tableController.isStudentAttachmentEnabled"
                       ng-click="nodeController.showStudentAssets($event, component.id, tableController.isDisabled)">
                <md-icon>image</md-icon> Import Data
            </md-button>
        </div>
        <md-button class="md-accent" ng-click='tableController.resetTable()' ng-show='tableController.showResetTableButton()'>
            <md-icon> restore </md-icon> Reset
        </md-button>
        <md-button class="md-accent"
                   ng-click='tableController.snipTable($event)'
                   ng-if='tableController.showSnipTableButton()'>
            <md-icon> content_cut </md-icon>  {{ 'addToNotebook' | translate:{label:tableController.notebookConfig.label} }}
        </md-button>
        <table>
            <tr ng-repeat='row in tableController.getTableDataRows()'>
                <td ng-repeat='cell in row'>
                    <input type='text'
                        ng-model='cell.text'
                        ng-change='tableController.studentDataChanged()'
                        size='{{cell.size || tableController.componentContent.globalCellSize}}'
                        ng-disabled='!cell.editable || tableController.isDisabled'/>
                </td>
            </tr>
        </table>
        <div class="component__actions" layout="row" layout-align="start center">
            <md-button class="md-primary md-raised"
                       ng-click='tableController.saveButtonClicked()'
                       ng-disabled='tableController.isDisabled || !tableController.isDirty'
                       ng-if='tableController.showSaveButton()'
                       aria-label="Save"
                       translate="save">Save</md-button>
            <md-button class="md-raised md-primary"
                       ng-click='tableController.submitButtonClicked()'
                       ng-disabled='tableController.isDisabled || !tableController.isSubmitDirty'
                       ng-show='tableController.showSubmitButton()'
                       aria-label="Submit"
                       translate="submit">Submit</md-button>
            <span ng-if="tableController.showSaveButton() || tableController.showSubmitButton()"
                  ng-show="tableController.saveMessage.text"
                  class="component__actions__info md-caption">
                  {{tableController.saveMessage.text}} <span class="component__actions__more"><md-tooltip md-direction="top">{{ tableController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}</md-tooltip><span am-time-ago="tableController.saveMessage.time"></span></span>
            </span>
        </div>
        <component-annotations ng-if="tableController.mode === 'student'"
                               annotations='tableController.latestAnnotations'
                               max-score="tableController.componentContent.maxScore"></component-annotations>
    </div>
    <div ng-if='tableController.mode === "grading"'>
        <annotation ng-if='tableController.componentContent.maxScore > -1'
                    type='score'
                    mode='tableController.mode'
                    node-id='tableController.nodeId'
                    component-id='tableController.componentId'
                    from-workgroup-id='teacherWorkgroupId'
                    to-workgroup-id='workgroupId'
                    component-state-id='componentState.id'
                    active='true'></annotation>
        <br ng-if='tableController.componentContent.maxScore > -1'/>
        <annotation type='comment'
                    mode='tableController.mode'
                    node-id='tableController.nodeId'
                    component-id='tableController.componentId'
                    from-workgroup-id='teacherWorkgroupId'
                    to-workgroup-id='workgroupId'
                    component-state-id='componentState.id'
                    active='true'></annotation>
    </div>
</div>
