<div style="float: right">
<!--
TODO: implement me. Allow authors to view assets while authoring node conent. Perhaps make ProjectAssets into a directive.
    <button ng-click='nodeAuthoringController.viewProjectAssets()'>View Assets</button>
    -->
    <button ng-click="nodeAuthoringController.previewStep()"
            ng-show="!projectController.isGroupNode(nodeAuthoringController.node.id)"
            ng-disabled="nodeAuthoringController.showEditTransitions"
            translate="previewStep"></button>
    <button ng-click="nodeAuthoringController.previewStepWithoutConstraints()"
            ng-show="!projectController.isGroupNode(nodeAuthoringController.node.id)"
            ng-disabled="nodeAuthoringController.showEditTransitions"
            translate="previewStepWithoutConstraints"></button>
    <button ng-click="nodeAuthoringController.undo()"
            ng-show="!projectController.isGroupNode(nodeAuthoringController.node.id)"
            ng-disabled="nodeAuthoringController.undoStack.length == 0"
            translate="undo"></button>
    <button ng-click="nodeAuthoringController.close()" translate="CLOSE"></button>
</div>
<div><span ng-show="!projectController.isGroupNode(nodeAuthoringController.node.id)" translate="stepTitle"></span>
     <span ng-show="projectController.isGroupNode(nodeAuthoringController.node.id)" translate="activityTitle"></span>
     {{nodeAuthoringController.nodePosition}}:
     <input ng-model='nodeAuthoringController.node.title' ng-change='nodeAuthoringController.authoringViewNodeChanged()' ng-model-options='{ debounce: 500 }' size='60' />
</div>
<button ng-click='nodeAuthoringController.nodeAuthoringViewButtonClicked("addComponent")'
        ng-show='!projectController.isGroupNode(nodeAuthoringController.node.id)'
        translate="addNewComponent"></button>
<button ng-click='nodeAuthoringController.nodeAuthoringViewButtonClicked("editTransitions")'
        translate="editTransitions"></button>
<button ng-click='nodeAuthoringController.nodeAuthoringViewButtonClicked("editConstraints")'
        translate="editConstraints"></button>
<button ng-click='nodeAuthoringController.nodeAuthoringViewButtonClicked("editButtons")'
        translate="editButtons"></button>
<button ng-click='nodeAuthoringController.nodeAuthoringViewButtonClicked("editRubric")'
        translate="editStepRubric"></button>
<button ng-click='nodeAuthoringController.nodeAuthoringViewButtonClicked("createBranch")'
        translate="createBranch"></button>

<div ng-show='nodeAuthoringController.showCreateComponent'>
    <select ng-model='nodeAuthoringController.selectedComponent'>
        <option ng-repeat='componentType in nodeAuthoringController.componentTypes' value='{{componentType.componentType}}'>
            {{componentType.componentName}}
        </option>
    </select>
    <button ng-click='nodeAuthoringController.createComponent()' translate="add"></button>
    <button ng-click='nodeAuthoringController.showCreateComponent = false' translate="CANCEL"></button>
</div>


<div ng-show='nodeAuthoringController.showEditTransitions'>
    <span>{{'transitions' | translate}}:</span>
    <div id="transitions" style="margin-left:40px; margin-bottom:10px; background-color:lightgray; width:700px"
         ng-repeat='(transitionIndex, transition) in nodeAuthoringController.node.transitionLogic.transitions'>
        {{transitionIndex+1}}. {{'transitionToStep' | translate}}:
        <md-select id="stepSelectMenu" md-theme="default" class="node-select md-subhead" ng-model="transition.to"
                   ng-change='nodeAuthoringController.authoringViewNodeChanged()'
                   aria-label="Transitions" style="margin-left:30px; width:600px">
            <md-option ng-repeat="item in projectController.items | toArray | orderBy : 'order'"
                       value="{{ item.$key }}"
                       ng-class="{'node-select-option--group': projectController.isGroupNode(item.$key), 'node-select-option--node': !projectController.isGroupNode(item.$key)}">
                <span layout="row" layout-align="start center">
                    <span class="node-select__text">{{ projectController.getNodePositionById(item.$key) + ': '}}{{ projectController.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
                    <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
                </span>
            </md-option>
        </md-select>
        <br/>
        <div ng-repeat='(criteriaIndex, transitionCriteria) in transition.criteria' style="margin:10px; border: .5px dotted gray">

            {{'transitionCriteriaStep' | translate}}:
            <md-select ng-model='transitionCriteria.name'
                       ng-change='nodeAuthoringController.transitionCriteriaNameChanged(transitionCriteria)'
                       class="node-select md-subhead">
                <md-option ng-repeat='availableTransitionCriteriaName in nodeAuthoringController.transitionCriterias'
                           ng-value='availableTransitionCriteriaName.value'>
                <span layout="row" layout-align="start center">
                   <span class="node-select__text">{{availableTransitionCriteriaName.text}}</span>
                </span>
                </md-option>
            </md-select>
            <div ng-repeat='param in nodeAuthoringController.getTransitionCriteriaParamsByName(transitionCriteria.name)'>
                {{param.text}}:
                <div ng-if='param.value == "nodeId"'>
                    <md-select id="nodeIdSelectMenu"
                               md-theme="default"
                               class="node-select md-subhead"
                               ng-model="transitionCriteria.params.nodeId"
                               ng-change='nodeAuthoringController.transitionCriteriaNodeIdChanged(transitionCriteria)'
                               aria-label="TransitionCriteriaNode"
                               style="margin-left:30px; width:600px">
                        <md-option ng-repeat="item in projectController.items | toArray | orderBy : 'order'"
                                   value="{{ item.$key }}"
                                   ng-class="{'node-select-option--group': projectController.isGroupNode(item.$key), 'node-select-option--node': !projectController.isGroupNode(item.$key)}">
                        <span layout="row" layout-align="start center">
                            <span class="node-select__text">{{ projectController.getNodePositionById(item.$key) + ': '}}{{ projectController.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
                            <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
                        </span>
                        </md-option>
                    </md-select>
                </div>
                <div ng-if='param.value == "componentId"'>
                    <md-select id="componentIdSelectMenu"
                               md-theme="default"
                               class="node-select md-subhead"
                               ng-model="transitionCriteria.params.componentId"
                               ng-change='nodeAuthoringController.transitionCriteriaComponentIdChanged(transitionCriteria)'
                               aria-label="TransitionCriteriaComponent"
                               style="margin-left:30px; width:600px">
                        <md-option ng-repeat="component in projectController.getComponentsByNodeId(transitionCriteria.params.nodeId)"
                                   value="{{ component.id }}">
                        <span layout="row" layout-align="start center">
                            <span class="node-select__text">{{ 'ID' | translate }}: {{component.id}} | {{ 'TYPE' | translate }}: {{component.type}} | {{ 'PROMPT' | translate }}: {{component.prompt}}</span>
                        </span>
                        </md-option>
                    </md-select>
                </div>
                <div ng-if='param.value == "scores"'>
                    <input type='text'
                           ng-model='transitionCriteria.params.scores'
                           ng-model-options='{ debounce: 1000 }'
                           ng-change='nodeAuthoringController.authoringViewNodeChanged()'
                           ng-list=','/>
                </div>
                <div ng-if='param.value == "choiceIds" && "radio" == nodeAuthoringController.getChoiceTypeByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId)'>
                    <md-select id="radioChoiceIdsSelectMenu"
                               md-theme="default"
                               class="node-select md-subhead"
                               ng-model="transitionCriteria.params.choiceIds"
                               ng-list
                               ng-change='nodeAuthoringController.authoringViewNodeChanged()'
                               aria-label="TransitionCriteriaNode"
                               style="margin-left:30px; width:600px">
                        <md-optgroup>
                            <md-option ng-value="choice.id" ng-repeat="choice in nodeAuthoringController.getChoicesByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId)">{{choice.text}}</md-option>
                        </md-optgroup>
                    </md-select>
                </div>
                <div ng-if='param.value == "choiceIds" && "checkbox" == nodeAuthoringController.getChoiceTypeByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId)'>
                    <md-select id="checkboxChoiceIdsSelectMenu"
                               md-theme="default"
                               class="node-select md-subhead"
                               ng-model="transitionCriteria.params.choiceIds"
                               ng-change='nodeAuthoringController.authoringViewNodeChanged()'
                               aria-label="TransitionCriteriaNode"
                               style="margin-left:30px; width:600px"
                               multiple={{nodeAuthoringController.getChoiceTypeByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId)}}>
                        <md-optgroup>
                            <md-option ng-value="choice.id" ng-repeat="choice in nodeAuthoringController.getChoicesByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId)">{{choice.text}}</md-option>
                        </md-optgroup>
                    </md-select>
                </div>
            </div>
            <br/>
            <button ng-click='nodeAuthoringController.deleteTransitionCriteria(transition, criteriaIndex)'
                    translate="deleteTransitionCriteria"></button>
        </div>

        <button ng-click="nodeAuthoringController.addNewTransitionCriteria(transition)"
                translate="addNewTransitionCriteria"></button><br/><br/>
        <button ng-click="nodeAuthoringController.deleteTransition(transition)"
                translate="deleteTransition"></button>
    </div>


    <button style="margin-left:40px; margin-bottom:10px"
            ng-click='nodeAuthoringController.addNewTransition()' translate="addNewTransition"></button>

    <div id="howToChooseAmongAvailablePaths" style="margin-left:40px">
        <span>{{'howToChooseAmongAvailablePaths' | translate}}:</span>
        <md-select id="stepSelectMenu" md-theme="default" class="node-select md-subhead"
                   ng-model="nodeAuthoringController.node.transitionLogic.howToChooseAmongAvailablePaths"
                   ng-change="nodeAuthoringController.authoringViewNodeChanged()"
                   aria-label="howToChooseAmongAvailablePaths" style="margin-left:30px; width:600px">
            <md-option ng-repeat="item in nodeAuthoringController.howToChooseAmongAvailablePathsOptions"
                       value="{{ item }}">
                <span layout="row" layout-align="start center">
                    <span class="node-select__text">{{item}}</span>
                </span>
            </md-option>
        </md-select>
    </div>

    <div id="whenToChoosePath" style="margin-left:40px">
        <span>{{'whenToChoosePath' | translate}}:</span>
        <md-select id="stepSelectMenu" md-theme="default" class="node-select md-subhead"
                   ng-model="nodeAuthoringController.node.transitionLogic.whenToChoosePath"
                   ng-change="nodeAuthoringController.authoringViewNodeChanged()"
                   aria-label="whenToChoosePath" style="margin-left:30px; width:600px">
            <md-option ng-repeat="item in nodeAuthoringController.whenToChoosePathOptions"
                       value="{{ item }}">
                <span layout="row" layout-align="start center">
                    <span class="node-select__text">{{item}}</span>
                </span>
            </md-option>
        </md-select>
    </div>

    <div id="canChangePath" style="margin-left:40px">
        <span>{{'canChangePath' | translate}}:</span>
        <md-select id="stepSelectMenu" md-theme="default" class="node-select md-subhead"
                   ng-model="nodeAuthoringController.node.transitionLogic.canChangePath"
                   ng-change="nodeAuthoringController.authoringViewNodeChanged()"
                   aria-label="canChangePath" style="margin-left:30px; width:600px">
            <md-option ng-repeat="item in nodeAuthoringController.canChangePathOptions"
                       ng-value="item">
                <span layout="row" layout-align="start center">
                    <span class="node-select__text">{{item}}</span>
                </span>
            </md-option>
        </md-select>
    </div>

    <div><span translate="maxPathsVisitable"></span> :
        <input ng-model="nodeAuthoringController.node.transitionLogic.maxPathsVisitable"
               ng-change="nodeAuthoringController.authoringViewNodeChanged()"
               ng-model-options='{ debounce: 1000 }' size='60' />
    </div>

    <button ng-click='nodeAuthoringController.saveTransitions()' translate="SAVE"></button>
</div>

<div ng-show='nodeAuthoringController.showConstraints' style='width:700px'>
    {{ 'constraints' | translate }}
    <br/>
    <div ng-repeat='constraint in nodeAuthoringController.node.constraints' style='border: 1px solid black'>
        {{ 'constraint' | translate }}: {{constraint.id}}
        <button ng-click='nodeAuthoringController.deleteConstraint($index)'>{{ 'deleteConstraint' | translate }}</button>
        <br/>
        {{ 'action' | translate }}: <md-select ng-model='constraint.action'
                           ng-change='nodeAuthoringController.authoringViewNodeChanged()'
                           class="node-select md-subhead">
            <md-option ng-repeat='action in nodeAuthoringController.constraintActions'
                       ng-value='action.value'>
                <span layout="row" layout-align="start center">
                    <span class="node-select__text">{{action.text}}</span>
                </span>
            </md-option>
        </md-select>
        {{ 'removalConditional' | translate }}
        <md-select ng-model='constraint.removalConditional'
                   ng-change='nodeAuthoringController.authoringViewNodeChanged()'
                   class="node-select md-subhead">
            <md-option ng-repeat='availableRemovalConditional in nodeAuthoringController.removalConditionals'
                       ng-value='availableRemovalConditional.value'>
                <span layout="row" layout-align="start center">
                   <span class="node-select__text">{{availableRemovalConditional.text}}</span>
                </span>
            </md-option>
        </md-select>
        <div ng-repeat='criteria in constraint.removalCriteria' style='border: 1px solid red'>
            {{ 'removalCriteriaName' | translate }}:
            <md-select ng-model='criteria.name'
                       ng-change='nodeAuthoringController.removalCriteriaNameChanged(criteria)'
                       class="node-select md-subhead">
                <md-option ng-repeat='availableRemovalCriteria in nodeAuthoringController.removalCriteria'
                           ng-value='availableRemovalCriteria.value'>
                    <span layout="row" layout-align="start center">
                       <span class="node-select__text">{{availableRemovalCriteria.text}}</span>
                    </span>
                </md-option>
            </md-select>
            <div ng-repeat='param in nodeAuthoringController.getRemovalCriteriaParamsByName(criteria.name)'>
                {{param.text}}:
                <div ng-if='param.value == "nodeId"'>
                    <md-select id="nodeIdSelectMenu"
                               md-theme="default"
                               class="node-select md-subhead"
                               ng-model="criteria.params.nodeId"
                               ng-change='nodeAuthoringController.authoringViewNodeChanged()'
                               aria-label="TransitionCriteriaNode"
                               style="margin-left:30px; width:600px">
                        <md-option ng-repeat="item in projectController.items | toArray | orderBy : 'order'"
                                   value="{{ item.$key }}"
                                   ng-class="{'node-select-option--group': projectController.isGroupNode(item.$key), 'node-select-option--node': !projectController.isGroupNode(item.$key)}">
                        <span layout="row" layout-align="start center">
                            <span class="node-select__text">{{ projectController.getNodePositionById(item.$key) + ': '}}{{ projectController.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
                            <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
                        </span>
                        </md-option>
                    </md-select>
                </div>
                <div ng-if='param.value == "componentId"'>
                    <md-select id="componentIdSelectMenu"
                               md-theme="default"
                               class="node-select md-subhead"
                               ng-model="criteria.params.componentId"
                               ng-change='nodeAuthoringController.authoringViewNodeChanged()'
                               aria-label="TransitionCriteriaComponent"
                               style="margin-left:30px; width:600px">
                        <md-option ng-repeat="component in projectController.getComponentsByNodeId(criteria.params.nodeId)"
                                   value="{{ component.id }}">
                        <span layout="row" layout-align="start center">
                            <span class="node-select__text">{{ 'ID' | translate }}: {{component.id}} | {{ 'type' | translate }}: {{component.type}} | {{ 'prompt' | translate }}: {{component.prompt}}</span>
                        </span>
                        </md-option>
                    </md-select>
                </div>
                <div ng-if='param.value == "fromNodeId"'>
                    <md-select id="fromNodeIdSelectMenu"
                               md-theme="default"
                               class="node-select md-subhead"
                               ng-model="criteria.params.fromNodeId"
                               ng-change='nodeAuthoringController.authoringViewNodeChanged()'
                               aria-label="TransitionCriteriaNode"
                               style="margin-left:30px; width:600px">
                        <md-option ng-repeat="item in projectController.items | toArray | orderBy : 'order'"
                                   value="{{ item.$key }}"
                                   ng-class="{'node-select-option--group': projectController.isGroupNode(item.$key), 'node-select-option--node': !projectController.isGroupNode(item.$key)}">
                        <span layout="row" layout-align="start center">
                            <span class="node-select__text">{{ projectController.getNodePositionById(item.$key) + ': '}}{{ projectController.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
                            <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
                        </span>
                        </md-option>
                    </md-select>
                </div>
                <div ng-if='param.value == "toNodeId"'>
                    <md-select id="toNodeIdSelectMenu"
                               md-theme="default"
                               class="node-select md-subhead"
                               ng-model="criteria.params.toNodeId"
                               ng-change='nodeAuthoringController.authoringViewNodeChanged()'
                               aria-label="TransitionCriteriaNode"
                               style="margin-left:30px; width:600px">
                        <md-option ng-repeat="item in projectController.items | toArray | orderBy : 'order'"
                                   value="{{ item.$key }}"
                                   ng-class="{'node-select-option--group': projectController.isGroupNode(item.$key), 'node-select-option--node': !projectController.isGroupNode(item.$key)}">
                        <span layout="row" layout-align="start center">
                            <span class="node-select__text">{{ projectController.getNodePositionById(item.$key) + ': '}}{{ projectController.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
                            <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
                        </span>
                        </md-option>
                    </md-select>
                </div>
                <div ng-if='param.value == "scores"'>
                    <input type='text'
                           ng-model='criteria.params.scores'
                           ng-model-options='{ debounce: 1000 }'
                           ng-change='nodeAuthoringController.authoringViewNodeChanged()'
                           ng-list=','/>
                </div>
                <div ng-if='param.value == "requiredSubmitCount"'>
                    <input type='number'
                           ng-model='criteria.params.requiredSubmitCount'
                           ng-model-options='{ debounce: 1000 }'
                           ng-change='nodeAuthoringController.authoringViewNodeChanged()'/>
                </div>
                <div ng-if='param.value == "choiceIds" && "radio" == nodeAuthoringController.getChoiceTypeByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)'>
                    <md-select id="radioChoiceIdsSelectMenu"
                               md-theme="default"
                               class="node-select md-subhead"
                               ng-model="criteria.params.choiceIds"
                               ng-change='nodeAuthoringController.authoringViewNodeChanged()'
                               aria-label="TransitionCriteriaNode"
                               style="margin-left:30px; width:600px">
                        <md-optgroup>
                            <md-option ng-value="choice.id" ng-repeat="choice in nodeAuthoringController.getChoicesByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)">{{choice.text}}</md-option>
                        </md-optgroup>
                    </md-select>
                </div>
                <div ng-if='param.value == "choiceIds" && "checkbox" == nodeAuthoringController.getChoiceTypeByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)'>
                    <md-select id="checkboxChoiceIdsSelectMenu"
                               md-theme="default"
                               class="node-select md-subhead"
                               ng-model="criteria.params.choiceIds"
                               ng-change='nodeAuthoringController.authoringViewNodeChanged()'
                               aria-label="TransitionCriteriaNode"
                               style="margin-left:30px; width:600px"
                               multiple={{nodeAuthoringController.getChoiceTypeByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)}}>
                        <md-optgroup>
                            <md-option ng-value="choice.id" ng-repeat="choice in nodeAuthoringController.getChoicesByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)">{{choice.text}}</md-option>
                        </md-optgroup>
                    </md-select>
                </div>
            </div>
            <button ng-click='nodeAuthoringController.deleteRemovalCriteria(constraint, $index)' translate='deleteRemovalCriteria'></button>
        </div>
        <br/>
        <button ng-click='nodeAuthoringController.addRemovalCriteria(constraint)' translate='addRemovalCriteria'></button>
    </div>
    <button ng-click='nodeAuthoringController.addConstraint()' translate='addConstraint'></button>
</div>

<div ng-show='nodeAuthoringController.showEditButtons'>
    <br/>
    {{ 'SHOW_SAVE_BUTTON' | translate }}:
    <input type='checkbox'
           ng-model='nodeAuthoringController.node.showSaveButton'
           ng-change='nodeAuthoringController.authoringViewNodeChanged()'/>
    <br/>
    {{ 'SHOW_SUBMIT_BUTTON' | translate }}:
    <input type='checkbox'
           ng-model='nodeAuthoringController.node.showSubmitButton'
           ng-change='nodeAuthoringController.authoringViewNodeChanged()'/>
</div>

<div ng-show='nodeAuthoringController.showRubric'>
    <summernote id='{{nodeAuthoringController.summernoteRubricId}}'
                ng-model='nodeAuthoringController.summernoteRubricHTML'
                ng-change='nodeAuthoringController.summernoteRubricHTMLChanged()'
                config='nodeAuthoringController.summernoteRubricOptions'
                ng-model-options='{ debounce: 1000 }'
                rows='10'
                cols='100'>
    </summernote>
</div>

<div ng-show='nodeAuthoringController.showCreateBranch'>
    {{ 'createBranch' | translate }}
    <br/>

    <div>
        {{ 'numberOfBranchPaths' | translate }}
        <input type='number'
               ng-model='nodeAuthoringController.createBranchNumberOfBranches'
               ng-change='nodeAuthoringController.createBranchNumberOfBranchesChanged()'/>
        <button ng-click='nodeAuthoringController.removeBranchButtonClicked()' translate='removeBranch'></button>
    </div>

    <div ng-show='nodeAuthoringController.createBranchNumberOfBranches > 1'>
        <div>
            {{ 'howToChooseAmongPaths' | translate }}
            <md-select md-theme="default"
                       class="node-select md-subhead"
                       style="margin-left:30px; width:600px"
                       ng-model="nodeAuthoringController.createBranchCriterion"
                       ng-change="nodeAuthoringController.createBranchCriterionChanged()">
                <md-option ng-repeat="branchCriterion in nodeAuthoringController.branchCriteria"
                           value="{{ branchCriterion.value }}">
                    <span layout="row" layout-align="start center">
                        <span class="node-select__text">{{branchCriterion.text}}</span>
                    </span>
                </md-option>
            </md-select>
        </div>

        <div ng-show='nodeAuthoringController.createBranchCriterion == "score" || nodeAuthoringController.createBranchCriterion == "choiceChosen"'>
            {{ 'chooseStep' | translate }}
            <md-select md-theme="default"
                       class="node-select md-subhead"
                       ng-model="nodeAuthoringController.createBranchNodeId"
                       ng-change="nodeAuthoringController.createBranchNodeIdChanged()"
                       style="margin-left:30px; width:600px">
                <md-option ng-repeat="item in projectController.items | toArray | orderBy : 'order'"
                           value="{{ item.$key }}"
                           ng-class="{'node-select-option--group': projectController.isGroupNode(item.$key), 'node-select-option--node': !projectController.isGroupNode(item.$key)}">
                    <span layout="row" layout-align="start center">
                        <span class="node-select__text">{{ projectController.getNodePositionById(item.$key) + ': '}}{{ projectController.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
                        <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
                    </span>
                </md-option>
            </md-select>
        </div>

        <div ng-show='nodeAuthoringController.createBranchCriterion == "score" || nodeAuthoringController.createBranchCriterion == "choiceChosen"'>
            {{ 'chooseComponent' | translate }}
            <md-select md-theme="default"
                       class="node-select md-subhead"
                       ng-model="nodeAuthoringController.createBranchComponentId"
                       ng-change="nodeAuthoringController.createBranchComponentIdChanged()"
                       style="margin-left:30px; width:600px">
                <md-option ng-repeat="component in projectController.getComponentsByNodeId(nodeAuthoringController.createBranchNodeId)"
                           value="{{ component.id }}">
                    <span layout="row" layout-align="start center">
                        <span class="node-select__text">ID: {{component.id}} | Type: {{component.type}} | Prompt: {{component.prompt}}</span>
                    </span>
                </md-option>
            </md-select>
        </div>

        <div ng-repeat='branch in nodeAuthoringController.createBranchBranches'
             style='border: 1px solid black'>
            {{ 'branchPath' | translate }} {{branch.number}}

            <div ng-show='nodeAuthoringController.createBranchCriterion == "workgroupId"'>
                {{ 'WORKGROUP_ID' | translate }}
            </div>

            <div ng-show='nodeAuthoringController.createBranchCriterion == "score"'>
                {{ 'SCORE' | translate }}
                <input type='text'
                       ng-model='branch.scores'
                       ng-change='nodeAuthoringController.createBranchScoreChanged(branch)'
                       ng-list=','/>
            </div>

            <div ng-show='nodeAuthoringController.createBranchCriterion == "choiceChosen"'>
                {{ 'choiceChosen' | translate }}
                <md-select ng-model='branch.choiceId'>
                    <md-option ng-repeat='choice in branch.choices'
                               value='{{ choice.id }}'>
                       <span layout="row" layout-align="start center">
                           <span class="node-select__text">{{ 'ID' | translate }}: {{choice.id}} | {{ 'TEXT' | translate }}: {{choice.text}} | {{ 'IS_CORRECT' | translate }}: {{choice.isCorrect}} | {{ 'FEEDBACK' | translate }}: {{choice.feedback}}</span>
                       </span>
                    </md-option>
                </md-select>
            </div>

            <div ng-show='nodeAuthoringController.createBranchCriterion == "random"'>
                {{ 'random' | translate }}
            </div>

            <button ng-click='branch.openStepsChooser = !branch.openStepsChooser'>{{ branch.openStepsChooser ? ('closeBranchPathXStepsChooser' | translate:'{ branchNumber: ' + branch.number + ' }') : 'openBranchPathXStepsChooser' | translate:'{ branchNumber: ' + branch.number + ' }' }}</button>
            <div ng-show='branch.openStepsChooser'>
                {{ 'chooseStepsInPath' | translate }}
                <br/>
                <div ng-repeat='item in branch.items | toArray | orderBy : "order"'
                     ng-class='{"node-select--group": projectController.isGroupNode(item.$key), "node-select--node": !projectController.isGroupNode(item.$key)}'
                     ng-show='!projectController.importMode'>
                    <input type='checkbox'
                           ng-model='item.checked'
                           ng-if='item.order!==0'
                           ng-click='nodeAuthoringController.createBranchStepClicked(branch, item)'
                           ng-show='!(projectController.showCreateGroup || projectController.showCreateNode || projectController.insertNodeMode || projectController.insertGroupMode)'/>
                    <h6 ng-click='item.checked = !item.checked; nodeAuthoringController.createBranchStepClicked(branch, item)'
                        style='display:inline; cursor:pointer'
                        ng-class='{"groupHeader": projectController.isGroupNode(item.$key), "stepHeader": !projectController.isGroupNode(item.$key)}'
                        ng-if='item.order!==0'>
                        {{projectController.getNodePositionById(item.$key)}} {{projectController.getNodeTitleByNodeId(item.$key)}}
                    </h6>
                </div>
                <button ng-click='branch.openStepsChooser = !branch.openStepsChooser'>{{ branch.openStepsChooser ? ('closeBranchPathXStepsChooser' | translate:'{ branchNumber: ' + branch.number + ' }') : 'openBranchPathXStepsChooser' | translate:'{ branchNumber: ' + branch.number + ' }' }}</button>
            </div>
        </div>
        <div>
            {{ 'chooseMergePoint' | translate }}
            <md-select md-theme="default"
                       class="node-select md-subhead"
                       ng-model="nodeAuthoringController.createBranchMergePointNodeId"
                       ng-change="nodeAuthoringController.createBranchMergePointNodeIdChanged()"
                       style="margin-left:30px; width:600px">
                <md-option ng-repeat="item in projectController.items | toArray | orderBy : 'order'"
                           value="{{ item.$key }}"
                           ng-class="{'node-select-option--group': projectController.isGroupNode(item.$key), 'node-select-option--node': !projectController.isGroupNode(item.$key)}">
                    <span layout="row" layout-align="start center">
                        <span class="node-select__text">{{ projectController.getNodePositionById(item.$key) + ': '}}{{ projectController.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
                        <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
                    </span>
                </md-option>
            </md-select>
        </div>
    </div>
</div>

<div ng-repeat='(componentIndex, component) in nodeAuthoringController.components' style="padding: 0 10px 0 10px; margin: 7px 0 7px 0; border-top: 2px dotted black"">
    <div>
        <span style='font-weight:bold; margin-right:10px'>{{componentIndex + 1}}. {{component.type}}</span>
        <button ng-click='nodeAuthoringController.moveComponentUp(component.id)' ng-disabled='nodeAuthoringController.components.length <= 1' translate="moveUp"></button>
        <button ng-click='nodeAuthoringController.moveComponentDown(component.id)' ng-disabled='nodeAuthoringController.components.length <= 1' translate="moveDown"></button>
        <button ng-click='nodeAuthoringController.deleteComponent(component.id)' translate="DELETE"></button>
    </div>
    <component node-id='{{nodeAuthoringController.nodeId}}' component-id='{{component.id}}' mode='authoring'></component>
</div>
