<nav class="header__links" [ngSwitch]="location" fxLayout="row" fxLayoutAlign="start center">
  <span class="mat-body-1">
    <ng-container *ngSwitchCase="'teacher'" i18n>Welcome {{ user.firstName }}!</ng-container>
    <ng-container *ngSwitchCase="'student'" i18n>Welcome {{ user.firstName }}!</ng-container>
  </span>
  <ng-container *ngSwitchDefault>
    <a mat-button routerLink="/features" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" i18n>Features</a>
    <a mat-button routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" i18n>About Us</a>
    <a mat-button routerLink="/news" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" i18n>News</a>
    <a mat-button href="https://wise-research.berkeley.edu" target="_blank" i18n>Research <mat-icon>call_made</mat-icon></a>
  </ng-container>
  <app-header-signin *ngIf="!role"></app-header-signin>
</nav>
