<md-dialog aria-label="Add Item to Project">
    <md-toolbar md-theme="light">
        <div class="md-toolbar-tools">
            <h2>Add Item to Project</h2>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <md-list>
            <md-list-item ng-repeat="item in navitemCtrl.availablePlanningNodes"
                          class="md-2-line md-long-text nav-item--list md-whiteframe-z1"
                          ng-click="addSelectedPlanningInstance(item.id)"
                          ng-disabled="!navitemCtrl.canAddPlanningNode(item.id)">
                <div class="md-list-item-text">
                    <h3>{{ navitemCtrl.getNodeTitle(item.id) }}</h3>
                    <p>{{ navitemCtrl.getNodeDescription(item.id) }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="close()" class="md-primary">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
