<div ng-if="navitemCtrl.nodeStatus.isVisible">
    <ng-switch on="navitemCtrl.type">
        <md-card ng-switch-when="card" class="nav-item--card" ng-class="{'nav-item--card--group':navitemCtrl.isGroup, 'expanded md-whiteframe-z3':navitemCtrl.expanded}"">
            <md-card-content class="nav-item--card__content" ng-click="navitemCtrl.itemClicked()" role="button" md-ink-ripple layout="row">
                <img ng-if="navitemCtrl.nodeStatus.icon.type === 'img'" ng-animate-ref="{{ navitemCtrl.nodeId }}" ng-class="navitemCtrl.isGroup ? 'avatar--square' : ''" class="md-36 avatar nav-item__avatar" ng-src="{{navitemCtrl.nodeStatus.icon.imgSrc}}" alt="{{navitemCtrl.nodeStatus.icon.imgAlt}}" />
                <div ng-if="navitemCtrl.nodeStatus.icon.type === 'font'" ng-animate-ref="{{ navitemCtrl.nodeId }}" ng-class="navitemCtrl.isGroup ? 'avatar--square' : ''" style="background-color: {{navitemCtrl.nodeStatus.icon.color}};" class="md-36 avatar avatar--icon nav-item__avatar">
                    <md-icon md-font-set="{{navitemCtrl.nodeStatus.icon.fontSet}}" class="md-36 md-light">{{navitemCtrl.nodeStatus.icon.fontName}}</md-icon>
                </div>
                <div class="md-title nav-item__title" style="color: {{navitemCtrl.nodeStatus.icon.color}};" flex>
                    <span>{{ navitemCtrl.nodeTitle }}</span>
                </div>
                <md-icon class="nav-item__collapse" ng-show="navitemCtrl.isGroup && navitemCtrl.expanded" aria-label="collapse">remove</md-icon>
            </md-card-content>
            <md-card-content ng-if="navitemCtrl.isGroup" ng-show="navitemCtrl.expanded" class="nav-contents nav-contents--group">
                <div ng-if="navitemCtrl.isPlanning">
                    Planning Mode: <button ng-click="navitemCtrl.togglePlanningMode()">{{navitemCtrl.planningMode == true ? 'Turn Off' : 'Turn On'}}</button>
                    <br/>
                    <span ng-show="navitemCtrl.planningMode">
                        Available Planning Steps
                        <div ng-repeat="availablePlanningNodeId in navitemCtrl.availablePlanningNodeIds">
                            <button ng-click="navitemCtrl.addPlanningNodeInstanceInside(navitemCtrl.nodeId, availablePlanningNodeId)">
                                {{navitemCtrl.getNodeTitle(availablePlanningNodeId)}}
                            </button>
                            {{navitemCtrl.getNodeDescription(availablePlanningNodeId)}}
                        </div>
                        <div id="tree1-root" ui-tree="navitemCtrl.treeOptions1" data-clone-enabled="true">
                            <ol ui-tree-nodes data-type="node" ng-model="navitemCtrl.availablePlanningNodes">
                                <li ui-tree-node ng-repeat="availablePlanningNode in navitemCtrl.availablePlanningNodes">
                                    <div ui-tree-handle class="tree-node tree-node-content">
                                        {{availablePlanningNode.title}}
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div>Planning Step Instances</div>
                        <div id="tree2-root" ui-tree data-clone-enabled="true">
                            <ol ui-tree-nodes data-type="node" ng-model="navitemCtrl.planningNodeInstances">
                                <li ui-tree-node ng-repeat="planningNodeInstance in navitemCtrl.planningNodeInstances">
                                    <div ui-tree-handle class='category-title angular-ui-tree-handle'>
                                        <span>{{planningNodeInstance.title}}</span>
                                        <button ng-if="planningNodeInstance.id != 'dummyNode'"
                                                ng-click="navitemCtrl.deletePlanningNodeInstance(planningNodeInstance)">
                                                X
                                        </button>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </span>
                </div>
                <md-list class="nav-contents__list">
                    <nav-item ng-repeat="childId in navitemCtrl.item.ids"
                              ng-class="{'expanded': itemExpanded, 'prev': isPrevStep}"
                              aria-label="{{ isPrevNode ? 'Last Visited Item' : null }}"
                              show-position="navitemCtrl.showPosition"
                              node-id="childId" type="'list'" ng-animate-ref="{{ childId }}" class="nav-item ng-enter">
                    </nav-item>
                </md-list>
            </md-card-content>
            <md-card-footer class="nav-item__more" layout="row" layout-align="center center" flex>
                <div class="progress-wrapper">
                    <md-progress-linear class="nav-item__progress" ng-if="navitemCtrl.isGroup" md-mode="determinate" value="{{navitemCtrl.nodeStatus.progress.completionPct}}"></md-progress-linear>
                    <md-tooltip>{{navitemCtrl.nodeStatus.progress.completionPct}}% completed</md-tooltip>
                </div>
                <span ng-if="navitemCtrl.isGroup" class="nav-item__info md-body-1" translate="accountMenuItems" translate-value-item="{{navitemCtrl.nodeStatus.progress.completedItems}}/{{navitemCtrl.nodeStatus.progress.totalItems}}" />
                <span flex></span>
                <node-status-icon node-id="navitemCtrl.nodeId"></node-status-icon>
                <md-icon ng-if="!navitemCtrl.nodeStatus.isVisitable" aria-label="Item is locked"> lock </md-icon>
                <!--<md-button aria-label="Add Bookmark" class="md-icon-button" ng-click="navItemsCtrl.toggleBookmark()" ng-class="{'md-primary': child.isBookmark}">
                    <md-icon> bookmark </md-icon>
                </md-button>-->
            </md-card-footer>
        </md-card>

        <md-list-item ng-switch-when="list" ng-click="navitemCtrl.itemClicked()" class="nav-item--list md-whiteframe-z1" ng-class="{'nav-item--list--group':navitemCtrl.isGroup}">
            <img ng-if="navitemCtrl.nodeStatus.icon.type === 'img'" ng-class="navitemCtrl.isGroup ? 'avatar--square' : ''" class="md-avatar" ng-src="{{navitemCtrl.nodeStatus.icon.imgSrc}}" alt="{{navitemCtrl.nodeStatus.icon.imgAlt}}" />
            <div ng-if="navitemCtrl.nodeStatus.icon.type === 'font'" ng-class="navitemCtrl.isGroup ? 'avatar--square' : ''" style="background-color: {{navitemCtrl.nodeStatus.icon.color}};" class="md-avatar">
                <md-icon md-font-set="{{navitemCtrl.nodeStatus.icon.fontSet}}" class="md-light">{{navitemCtrl.nodeStatus.icon.fontName}}</md-icon>
            </div>
            <p>{{ navitemCtrl.nodeTitle }} <node-status-icon node-id="navitemCtrl.nodeId"></node-status-icon></p>
            <md-icon ng-if="!navitemCtrl.nodeStatus.isVisitable" aria-label="Item is locked"> lock </md-icon>
            <!--<md-button aria-label="Add Bookmark" class="md-icon-button" ng-click="toggleBookmark()" ng-class="{'md-primary': child.isBookmark}">
                <md-icon> bookmark </md-icon>
            </md-button>-->
        </md-list-item>
        <div ng-if="navitemCtrl.isParentGroupPlanning">
            <span ng-show="navitemCtrl.planningMode">
                Available Planning Steps
                <div ng-repeat="availablePlanningNodeId in navitemCtrl.availablePlanningNodeIds">
                    <button ng-click="navitemCtrl.addPlanningNodeInstanceAfter(navitemCtrl.nodeId, availablePlanningNodeId)">
                        {{navitemCtrl.getNodeTitle(availablePlanningNodeId)}}
                    </button>
                    {{navitemCtrl.getNodeDescription(availablePlanningNodeId)}}
                </div>
                <select ng-model="selectedNodeId" ng-change="navitemCtrl.movePlanningNode(selectedNodeId)">
                    <option ng-repeat="siblingNodeId in navitemCtrl.siblingNodeIds" value="{{siblingNodeId}}">{{navitemCtrl.getNodeTitle(siblingNodeId)}}</option>
                </select>
                <button ng-click="navitemCtrl.removePlanningNodeInstance(navitemCtrl.nodeId)">X</button>
            </span>
        </div>
    </ng-switch>
</div>