@import '~style/abstracts/variables','~style/abstracts/functions', '~style/abstracts/mixins';

.workgroup-select-autocomplete {
  width: 100%;
  max-width: 100%;

  @media (min-width: breakpoint('md.min')) {
    width: 360px;
  }

  .mat-form-field-wrapper {
    padding: 0;
  }

  .mat-form-field-flex {
    align-items: center;
  }

  .mat-form-field-infix {
    padding-top: 0;
    border-top-width: 0;
  }

  .mat-select-arrow-wrapper {
    display: block;
  }

  .mat-form-field-label-wrapper {
    display: none;
  }

  .mat-form-field-underline {
    bottom: 0;
  }

  .mat-form-field-suffix .mat-icon-button.workgroup-select-autocomplete-suffix {
    height: auto;
    width: auto;
    margin-top: -0.625em;
  }
}
