<div flex>
  <div>
    <div>
      <div ng-if='!graphController.authoringComponentContent.showPreviousWork'>
        <md-input-container style='width:100%'>
          <label>{{ ::'PROMPT' | translate }}</label>
          <textarea rows='1'
                    ng-model='graphController.authoringComponentContent.prompt'
                    ng-change='graphController.authoringViewComponentChanged()'
                    ng-model-options='{ debounce: 1000 }'
                    placeholder='{{ ::"enterPromptHere" | translate }}'>
          </textarea>
        </md-input-container>
        <div layout='row' style='height: 80px;'>
          <md-input-container style='margin-right: 20px'>
            <label>{{ ::'graph.graphTitle' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.title'
                   ng-change='graphController.authoringViewComponentChanged()'
                   ng-model-options='{ debounce: 1000 }'
                   size='80'
                   placeholder='{{ ::"graph.enterGraphTitleHere" | translate }}'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 120px;'>
            <label>{{ ::'graph.plotType' | translate }}</label>
            <md-select ng-model='graphController.authoringComponentContent.graphType'
                       ng-change='graphController.graphTypeChanged()'
                       style='width: 120px'>
              <md-option ng-repeat='availableGraphType in graphController.availableGraphTypes'
                         value='{{availableGraphType.value}}'>
                {{availableGraphType.text}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 100px;'>
            <label>{{ ::'graph.graphWidth' | translate }}</label>
            <input type='number'
                   ng-model='graphController.authoringComponentContent.width'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.authoringViewComponentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 100px;'>
            <label>{{ ::'graph.graphHeight' | translate }}</label>
            <input type='number'
                   ng-model='graphController.authoringComponentContent.height'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.authoringViewComponentChanged()'/>
          </md-input-container>
        </div>
        <div layout='row'>
          <md-input-container style='margin-right: 20px; width: 80px;'>
            <h6>{{ ::'graph.xAxis' | translate }}</h6>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 200px;'>
            <label>{{ ::'graph.title' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.xAxis.title.text'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.authoringViewComponentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 120px;'>
            <label>{{ ::'graph.axisType' | translate }}</label>
            <md-select ng-model='graphController.authoringComponentContent.xAxis.type'
                       ng-change='graphController.xAxisTypeChanged(graphController.authoringComponentContent.xAxis.type, "{{graphController.authoringComponentContent.xAxis.type}}")'
                       style='width: 120px'>
              <md-option ng-repeat='availableAxisType in graphController.availableXAxisTypes'
                         value='{{availableAxisType.value}}'>
                {{availableAxisType.text}}
              </md-option>
            </md-select>
          </md-input-container>
          <div ng-if='graphController.authoringComponentContent.xAxis.type === "limits" || graphController.authoringComponentContent.xAxis.type === "" || graphController.authoringComponentContent.xAxis.type == null'>
            <md-input-container style='margin-right: 20px; width: 100px;'>
              <label>{{ ::'graph.units' | translate }}</label>
              <input ng-model='graphController.authoringComponentContent.xAxis.units'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='graphController.authoringViewComponentChanged()'/>
            </md-input-container>
            <md-input-container style='margin-right: 20px; width: 100px;'>
              <label>{{ ::'graph.min' | translate }}</label>
              <input type='number'
                     ng-model='graphController.authoringComponentContent.xAxis.min'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='graphController.authoringViewComponentChanged()'/>
            </md-input-container>
            <md-input-container style='margin-right: 20px; width: 100px;'>
              <label>{{ ::'graph.max' | translate }}</label>
              <input type='number'
                     ng-model='graphController.authoringComponentContent.xAxis.max'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='graphController.authoringViewComponentChanged()'/>
            </md-input-container>
            <md-input-container>
              <md-checkbox class='md-primary'
                           ng-model='graphController.authoringComponentContent.xAxis.locked'
                           ng-change='graphController.authoringViewComponentChanged()'>
                {{ ::'graph.locked' | translate }}
              </md-checkbox>
            </md-input-container>
          </div>
          <div ng-if='graphController.authoringComponentContent.xAxis.type == "categories"'
               style='margin-right: 10px'>
            <md-input-container>
              <span>{{ ::'graph.categories' | translate }}</span>
            </md-input-container>
            <md-input-container>
              <md-button class='topButton md-raised md-primary'
                         ng-click='graphController.addXAxisCategory()'>
                <md-icon>equalizer</md-icon>
                <md-tooltip md-direction='top' class='projectButtonTooltip'>Add Category</md-tooltip>
              </md-button>
            </md-input-container>
            <div ng-repeat='category in graphController.authoringComponentContent.xAxis.categories track by $index'>
              <md-input-container>
                <label>{{ ::'graph.categoryName' | translate }}</label>
                <input ng-model='graphController.authoringComponentContent.xAxis.categories[$index]'
                       ng-change='graphController.authoringViewComponentChanged()'
                       size='50'/>
              </md-input-container>
              <md-button ng-click='graphController.deleteXAxisCategory($index)'
                         class='topButton md-raised md-primary'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'graph.deleteCategory' | translate }}</md-tooltip>
              </md-button>
            </div>
          </div>
        </div>
        <div>
          <div layout='row'>
            <div>
              <md-switch ng-model='graphController.enableMultipleYAxes'
                  class='md-primary'
                  ng-change='graphController.enableMultipleYAxesChanged()'>
                {{ ::'graph.enableMultipleYAxes' | translate }}
              </md-switch>
            </div>
            <div ng-if='graphController.enableMultipleYAxes'>
              <md-radio-group ng-model='graphController.numYAxes' class='md-primary'
                  ng-change='graphController.numYAxesChanged(graphController.numYAxes, {{graphController.numYAxes}})'>
                <div layout='row' style='margin-top: 20px;'>
                  <md-radio-button ng-value='{{2}}' style='margin-left: 40px'>2</md-radio-button>
                  <md-radio-button ng-value='{{3}}' style='margin-left: 40px'>3</md-radio-button>
                  <md-radio-button ng-value='{{4}}' style='margin-left: 40px'>4</md-radio-button>
                </div>
              </md-radio-group>
            </div>
          </div>
        </div>
        <div ng-show='!graphController.enableMultipleYAxes' layout='row' style='height: 80px;'>
          <md-input-container style='margin-right: 20px; width: 80px;'>
            <h6>{{ ::'graph.yAxis' | translate }}</h6>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 200px;'>
            <label>{{ ::'graph.title' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.yAxis.title.text'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.authoringViewComponentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <label>{{ ::'graph.color' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.yAxis.labels.style.color'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.yAxisColorChanged(graphController.authoringComponentContent.yAxis)'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 100px;'>
            <label>{{ ::'graph.units' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.yAxis.units'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.authoringViewComponentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 100px;'>
            <label>{{ ::'graph.min' | translate }}</label>
            <input type='number'
                   ng-model='graphController.authoringComponentContent.yAxis.min'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.authoringViewComponentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 100px;'>
            <label>{{ ::'graph.max' | translate }}</label>
            <input type='number'
                   ng-model='graphController.authoringComponentContent.yAxis.max'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.authoringViewComponentChanged()'/>
          </md-input-container>
          <md-input-container>
            <md-checkbox class='md-primary'
                         ng-model='graphController.authoringComponentContent.yAxis.locked'
                         ng-change='graphController.authoringViewComponentChanged()'>
              {{ ::'graph.locked' | translate }}
            </md-checkbox>
          </md-input-container>
        </div>
        <div ng-show='graphController.enableMultipleYAxes'
            ng-repeat='y in [].constructor(graphController.authoringComponentContent.yAxis.length) track by $index'
            layout='row' style='height: 80px;'>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <h6>{{ ::'graph.yAxis' | translate }} {{ $index + 1 }}</h6>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 200px;'>
            <label>{{ ::'graph.title' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.yAxis[$index].title.text'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.authoringViewComponentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <label>{{ ::'graph.color' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.yAxis[$index].labels.style.color'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.yAxisColorChanged($index)'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <label>{{ ::'graph.units' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.yAxis[$index].units'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.authoringViewComponentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <label>{{ ::'graph.min' | translate }}</label>
            <input type='number'
                   ng-model='graphController.authoringComponentContent.yAxis[$index].min'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.authoringViewComponentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <label>{{ ::'graph.max' | translate }}</label>
            <input type='number'
                   ng-model='graphController.authoringComponentContent.yAxis[$index].max'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.authoringViewComponentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <md-checkbox class='md-primary'
                         ng-model='graphController.authoringComponentContent.yAxis[$index].locked'
                         ng-change='graphController.authoringViewComponentChanged()'>
              {{ ::'graph.locked' | translate }}
            </md-checkbox>
          </md-input-container>
          <md-input-container style='margin-top: 0px;'>
            <md-switch ng-model='graphController.authoringComponentContent.yAxis[$index].opposite'
                class='md-primary'
                ng-change='graphController.authoringViewComponentChanged()'>
              <span ng-if='!graphController.authoringComponentContent.yAxis[$index].opposite'>Left</span>
              <span ng-if='graphController.authoringComponentContent.yAxis[$index].opposite'>Right</span>
              Side
            </md-switch>
          </md-input-container>
        </div>
        <div layout='row' style='height: 80px;'>
          <md-input-container>
            <label>{{ ::'BACKGROUND_IMAGE' | translate }} ({{ ::'OPTIONAL' | translate }})</label>
            <input ng-model='graphController.authoringComponentContent.backgroundImage'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.authoringViewComponentChanged()'
                   size='100'/>
          </md-input-container>
          <md-input-container>
            <md-button class='topButton md-raised md-primary'
                       ng-click="graphController.showChooseBackgroundImagePopup()">
              <md-icon>insert_photo</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'chooseAnImage' | translate }}</md-tooltip>
            </md-button>
          </md-input-container>
        </div>
        <div layout='row' style='height: 80px;'>
          <md-input-container style='width: 250px;'>
            <label>{{ ::'graph.roundValuesTo' | translate }}</label>
            <md-select ng-model='graphController.authoringComponentContent.roundValuesTo'
                       ng-change='graphController.authoringViewComponentChanged()'
                       style='width: 250px'>
              <md-option ng-repeat='availableRoundingOption in graphController.availableRoundingOptions'
                         value='{{availableRoundingOption.value}}'>
                {{availableRoundingOption.text}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.enableTrials'
                       ng-change='graphController.enableTrialsClicked()'>
            {{ ::'graph.enableTrials' | translate }}
          </md-checkbox>
          <br/>
          <div ng-if='graphController.authoringComponentContent.enableTrials'>
            <md-checkbox class='md-primary'
                         ng-model='graphController.authoringComponentContent.canCreateNewTrials'
                         ng-change='graphController.authoringViewComponentChanged()'>
              {{ ::'graph.canStudentCreateTrials' | translate }}
            </md-checkbox>
            <br/>
            <md-checkbox class='md-primary'
                         ng-model='graphController.authoringComponentContent.canDeleteTrials'
                         ng-change='graphController.authoringViewComponentChanged()'>
              {{ ::'graph.canStudentDeleteTrials' | translate }}
            </md-checkbox>
            <br/>
            <md-checkbox class='md-primary'
                         ng-model='graphController.authoringComponentContent.hideAllTrialsOnNewTrial'
                         ng-change='graphController.authoringViewComponentChanged()'>
              {{ ::'graph.hideExistingTrialsOnNewTrial' | translate }}
            </md-checkbox>
          </div>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.canStudentHideSeriesOnLegendClick'
                       ng-change='graphController.authoringViewComponentChanged()'>
            {{ ::'graph.canStudentHideSeriesOnLegendClick' | translate }}
          </md-checkbox>
          <br/>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.enableFileUpload'
                       ng-change='graphController.authoringViewComponentChanged()'>
            {{ ::'graph.enableFileUpload' | translate }}
          </md-checkbox>
          <br/>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.hideLegend'
                       ng-change='graphController.authoringViewComponentChanged()'>
            {{ ::'graph.hideLegend' | translate }}
          </md-checkbox>
        </div>
        <br/>
        <div layout='row'>
          <h6>{{ ::'graph.series' | translate }}</h6>
          <md-button class='topButton md-raised md-primary'
                     ng-click='graphController.addSeriesClicked()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'graph.addSeries' | translate }}</md-tooltip>
          </md-button>
        </div>
        <div ng-if='graphController.authoringComponentContent.series == null || graphController.authoringComponentContent.series.length == 0'>
          {{ ::'graph.thereAreNoSeriesClickTheAddSeriesButtonToAddASeries' | translate }}
        </div>
        <div ng-repeat='series in graphController.authoringComponentContent.series track by $index'
             style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
          <md-input-container style='margin-right: 20px; width: 200px; height: 60px;'>
            <label>{{ 'graph.name' | translate }}</label>
            <input ng-model='series.name'
                   ng-change='graphController.authoringViewComponentChanged()'
                   ng-model-options='{ debounce: 1000 }'
                   size='200'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 120px; height: 60px;'>
            <label>{{ ::'graph.color' | translate }}</label>
            <input ng-model='series.color'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.authoringViewComponentChanged()'
                   size='120'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 140px; height: 60px;'
                              ng-if='graphController.authoringComponentContent.graphType == "line" || graphController.authoringComponentContent.graphType == "scatter"'>
            <label>{{ ::'graph.symbol' | translate }}</label>
            <md-select ng-model='series.marker.symbol'
                       ng-change='graphController.authoringViewComponentChanged()'
                       style='width: 140px'>
              <md-option ng-repeat='availableSymbol in graphController.availableSymbols'
                         value='{{availableSymbol.value}}'>
                {{availableSymbol.text}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 120px; height: 60px;'
                              ng-if='graphController.authoringComponentContent.graphType == "line" || graphController.authoringComponentContent.graphType == "scatter"'>
            <label>{{ ::'graph.type' | translate }}</label>
            <md-select ng-model='series.type'
                       ng-change='graphController.seriesTypeChanged(series)'
                       style='width: 120px'>
              <md-option ng-repeat='availableSeriesType in graphController.availableSeriesTypes'
                         value='{{availableSeriesType.value}}'>
                {{availableSeriesType.text}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 120px; height: 60px;'
                              ng-if='series.type == "line" || (series.type == null && graphController.authoringComponentContent.graphType == "line")'>
            <label>{{ ::'graph.lineType' | translate }}</label>
            <md-select ng-model='series.dashStyle'
                       ng-change='graphController.authoringViewComponentChanged()'
                       style='width: 120px'>
              <md-option ng-repeat='availableLineType in graphController.availableLineTypes'
                         value='{{availableLineType.value}}'>
                {{availableLineType.text}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20px; height: 60px;'>
            <md-checkbox class='md-primary'
                         ng-model='series.canEdit'
                         ng-model-options='{ debounce: 1000 }'
                         ng-change='graphController.authoringViewComponentChanged()'>
              {{ ::'graph.canStudentEdit' | translate }}
            </md-checkbox>
          </md-input-container>
          <md-input-container ng-if='graphController.enableMultipleYAxes' style='height: 60px;'>
            <label>{{ ::'graph.yAxis' | translate }}</label>
            <md-select ng-model='series.yAxis'
                       ng-change='graphController.seriesYAxisChanged(series)'
                       style='width: 200px'>
              <md-option ng-repeat='yAxis in graphController.authoringComponentContent.yAxis track by $index'
                         ng-value='{{$index}}'>
                Y Axis {{$index + 1}}: {{yAxis.title.text}}
              </md-option>
            </md-select>
          </md-input-container>
          <br/>
          <span>{{ ::'graph.dataPoints' | translate }}</span>
          <md-button class='topButton md-raised md-primary'
                     ng-click='graphController.addSeriesDataPoint(series)'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ 'graph.addDataPoint' | translate }}</md-tooltip>
          </md-button>
          <br/>
          <div ng-if='series.data == null || series.data.length == 0'>
            {{ ::'graph.thisSeriesHasNoStarterDataPoints' | translate }}
          </div>
          <div ng-repeat='dataPoint in series.data track by $index'>
            <span ng-if='graphController.authoringComponentContent.xAxis.type === "limits" || graphController.authoringComponentContent.xAxis.type === "" || graphController.authoringComponentContent.xAxis.type == null'>
              <md-input-container>
                <label>{{ ::'graph.x' | translate }}</label>
                <input type='number'
                       ng-model='series.data[$index][0]'
                       style='width:5em'
                       ng-change='graphController.authoringViewComponentChanged()'/>
              </md-input-container>
              <md-input-container>
                <label>{{ ::'graph.y' | translate }}</label>
                <input type='number'
                       ng-model='series.data[$index][1]'
                       style='width:5em'
                       ng-change='graphController.authoringViewComponentChanged()'/>
              </md-input-container>
            </span>
            <span ng-if='graphController.authoringComponentContent.xAxis.type === "categories"'>
              <md-input-container>
                <label>{{graphController.authoringComponentContent.xAxis.categories[$index]}}</label>
                <input type='number'
                       ng-model='series.data[$index]'
                       style='width:5em'
                       ng-change='graphController.authoringViewComponentChanged()'/>
              </md-input-container>
            </span>
            <md-button class='topButton md-raised md-primary'
                       ng-click='graphController.moveSeriesDataPointUp(series, $index)'>
              <md-icon>arrow_upward</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'UP' | translate }}</md-tooltip>
            </md-button>
            <md-button class='topButton md-raised md-primary'
                       ng-click='graphController.moveSeriesDataPointDown(series, $index)'>
              <md-icon>arrow_downward</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DOWN' | translate }}</md-tooltip>
            </md-button>
            <md-button class='topButton md-raised md-primary'
                       ng-click='graphController.deleteSeriesDataPoint(series, $index)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'graph.deleteDataPoint' | translate }}</md-tooltip>
            </md-button>
          </div>
          <br/>
          <div layout='row'>
            <span flex></span>
            <md-button class='topButton md-raised md-primary'
                       ng-click='graphController.deleteSeriesClicked($index)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'graph.deleteSeries' | translate }}</md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
    </div>
    <div ng-style='{"border": "5px solid black"}'>
      <div ng-style='{"padding-top": "20px", "padding-left": "20px"}'>
        <h5>{{ ::'studentPreview' | translate }}</h5>
      </div>
      <preview-component component-content='graphController.componentContent'/>
    </div>
  </div>
</div>
