<div flex>
  <div>
    <div>
      <div class='advancedAuthoringDiv'
           ng-if='graphController.showAdvancedAuthoring'>
        <div>
          <md-input-container style='width: 600px;'>
            <label>{{ ::'graph.subtitle' | translate }}</label>
            <input type='text'
                ng-model='graphController.authoringComponentContent.subtitle'
                ng-model-options='{ debounce: 1000 }'
                ng-change='graphController.componentChanged()'/>
          </md-input-container>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.showMouseXPlotLine'
                       ng-change='graphController.componentChanged()'>
            {{ ::'graph.showMouseXPlotLine' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       style='left: 40px;'
                       ng-disabled='!graphController.authoringComponentContent.showMouseXPlotLine'
                       ng-model='graphController.authoringComponentContent.highlightXRangeFromZero'
                       ng-change='graphController.componentChanged()'>
            {{ ::'graph.highlightXRangeFromZero' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.showMouseYPlotLine'
                       ng-change='graphController.componentChanged()'>
            {{ ::'graph.showMouseYPlotLine' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.saveMouseOverPoints'
                       ng-change='graphController.componentChanged()'>
            {{ ::'graph.saveMouseOverPoints' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.hideTrialSelect'
                       ng-change='graphController.componentChanged()'>
            {{ ::'graph.hideTrialSelect' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.showSaveButton'
                       ng-change='graphController.componentChanged()'>
            {{ ::'SHOW_SAVE_BUTTON' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.showSubmitButton'
                       ng-change='graphController.componentChanged()'>
            {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-if='graphController.isNotebookEnabled()'
                       ng-model='graphController.authoringComponentContent.showAddToNotebookButton'
                       ng-change='graphController.componentChanged()'>
            {{ ::'SHOW_ADD_TO_NOTEBOOK_BUTTON' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                              ng-if='graphController.authoringComponentContent.showSubmitButton'>
            <label>{{ ::'MAX_SUBMIT' | translate }}</label>
            <input type='number'
                   ng-model='graphController.authoringComponentContent.maxSubmitCount'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'/>
          </md-input-container>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.useCustomLegend'
                       ng-change='graphController.componentChanged()'>
            {{ ::'graph.useCustomLegend' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-input-container style='width:100%'
                              ng-if='graphController.authoringComponentContent.useCustomLegend'>
            <label>{{ ::'graph.customLegend' | translate }}</label>
            <textarea rows='1'
                      ng-model='graphController.authoringComponentContent.customLegend'
                      ng-change='graphController.componentChanged()'
                      ng-model-options='{ debounce: 1000 }'>
            </textarea>
          </md-input-container>
        </div>
        <div>
          <label class='node__label--vertical-alignment'>{{ 'graph.xAxisPlotLine' | translate }}</label>
          <md-button class='topButton md-raised md-primary'
              ng-click='graphController.addXAxisPlotLine()'>
            <md-icon>add</md-icon>
            <md-tooltip>{{ ::'graph.addXAxisPlotLine' | translate }}</md-tooltip>
          </md-button>
        </div>
        <div ng-repeat='plotLine in graphController.authoringComponentContent.xAxis.plotLines track by $index'>
          <div flex>
            <md-input-container style='width: 400px;'>
              <label>{{ ::'graph.text' | translate }}</label>
              <input type='text'
                  ng-model='plotLine.label.text'
                  ng-model-options='{ debounce: 1000 }'
                  ng-change='graphController.componentChanged()'/>
            </md-input-container>
            <md-input-container>
              <label>{{ ::'graph.xValue' | translate }}</label>
              <input type='text'
                  ng-model='plotLine.value'
                  ng-model-options='{ debounce: 1000 }'
                  ng-change='graphController.componentChanged()'/>
            </md-input-container>
            <md-input-container>
              <label>{{ ::'graph.color' | translate }}</label>
              <input type='text'
                  ng-model='plotLine.color'
                  ng-model-options='{ debounce: 1000 }'
                  ng-change='graphController.componentChanged()'/>
            </md-input-container>
            <span flex></span>
            <md-button class='topButton md-raised md-primary'
                       ng-click='graphController.deleteXAxisPlotLine($index)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
            </md-button>
          </div>
        </div>
        <div>
          <label class='node__label--vertical-alignment'>{{ ::'graph.yAxisPlotLine' | translate }}</label>
          <md-button class='topButton md-raised md-primary'
              ng-click='graphController.addYAxisPlotLine()'>
            <md-icon>add</md-icon>
            <md-tooltip>{{ ::'graph.addYAxisPlotLine' | translate }}</md-tooltip>
          </md-button>
        </div>
        <div ng-repeat='plotLine in graphController.authoringComponentContent.yAxis.plotLines track by $index'>
          <div flex>
            <md-input-container style='width: 400px;'>
              <label>{{ ::'graph.text' | translate }}</label>
              <input type='text'
                  ng-model='plotLine.label.text'
                  ng-model-options='{ debounce: 1000 }'
                  ng-change='graphController.componentChanged()'/>
            </md-input-container>
            <md-input-container>
              <label>{{ ::'graph.yValue' | translate }}</label>
              <input type='text'
                  ng-model='plotLine.value'
                  ng-model-options='{ debounce: 1000 }'
                  ng-change='graphController.componentChanged()'/>
            </md-input-container>
            <md-input-container>
              <label>{{ ::'graph.color' | translate }}</label>
              <input type='text'
                  ng-model='plotLine.color'
                  ng-model-options='{ debounce: 1000 }'
                  ng-change='graphController.componentChanged()'/>
            </md-input-container>
            <span flex></span>
            <md-button class='topButton md-raised md-primary'
                       ng-click='graphController.deleteYAxisPlotLine($index)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
            </md-button>
          </div>
        </div>
        <div layout="column" layout-align="start start">
          <edit-component-max-score [authoring-component-content]="graphController.authoringComponentContent"></edit-component-max-score>
          <edit-component-width [authoring-component-content]="graphController.authoringComponentContent"></edit-component-width>
          <edit-component-rubric [authoring-component-content]="graphController.authoringComponentContent"></edit-component-rubric>
          <edit-component-tags [authoring-component-content]="graphController.authoringComponentContent"></edit-component-tags>
        </div>
        <div>
          <div style='height: 50;'>
            <label class='node__label--vertical-alignment'>
              {{ ::'CONNECTED_COMPONENTS' | translate }}
            </label>
            <md-button class='topButton md-raised md-primary'
                       ng-click='graphController.addConnectedComponent()'>
              <md-icon>add</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'ADD_CONNECTED_COMPONENT' | translate }}</md-tooltip>
            </md-button>
          </div>
          <div ng-repeat='connectedComponent in graphController.authoringComponentContent.connectedComponents track by $index'
               style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
            <div flex>
              <md-input-container style='margin-right: 20px; width: 300px;'>
                <label>{{ ::'step' | translate }}</label>
                <md-select ng-model='connectedComponent.nodeId'
                           ng-change='graphController.connectedComponentNodeIdChanged(connectedComponent)'
                           style='width: 300px'>
                  <md-option ng-repeat='item in graphController.idToOrder | toArray | orderBy : "order"'
                             value='{{item.$key}}'
                             ng-if='graphController.isApplicationNode(item.$key)'>
                    {{graphController.getNodePositionAndTitleByNodeId(item.$key)}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container style='margin-right: 20px; width: 300px;'>
                <label>{{ ::'component' | translate }}</label>
                <md-select ng-model='connectedComponent.componentId'
                           ng-change='graphController.connectedComponentComponentIdChanged(connectedComponent)'
                           style='width: 300px'>
                  <md-option ng-repeat='(componentIndex, component) in graphController.getComponentsByNodeId(connectedComponent.nodeId)'
                             value='{{component.id}}'
                             ng-disabled='!graphController.isConnectedComponentTypeAllowed(component.type) || component.id == graphController.componentId'>
                    {{ componentIndex + 1 }}. {{component.type}} <span ng-if='component.id == graphController.componentId'>({{ ::'thisComponent' | translate }})</span>
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container style='margin-right: 20px; width: 200px;'>
                <label>{{ ::'type' | translate }}</label>
                <md-select ng-model='connectedComponent.type'
                           ng-change='graphController.connectedComponentTypeChanged(connectedComponent)'
                           style='width: 200px'>
                  <md-option value='importWork'>
                    {{ ::'importWork' | translate }}
                  </md-option>
                  <md-option value='showWork'>
                    {{ ::'showWork' | translate }}
                  </md-option>
                  <md-option value='showClassmateWork'
                             ng-if='graphController.getConnectedComponentType(connectedComponent) == "Graph"'>
                    {{ ::'showClassmateWork' | translate }}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container style='margin-right: 20px; width: 270px;'
                                  ng-if='connectedComponent.type == "showClassmateWork" && graphController.getConnectedComponentType(connectedComponent) == "Graph"'>
                <label>{{ ::'showClassmateWorkSource' | translate }}</label>
                <md-select ng-model='connectedComponent.showClassmateWorkSource'
                           style='margin-right: 20px;'
                           ng-change='graphController.componentChanged()'>
                  <md-option value='period'>
                    {{ ::'period' | translate }}
                  </md-option>
                  <md-option value='class'>
                    {{ ::'class' | translate }}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container style='margin-right: 20px; width: 270px;'
                                  ng-if='graphController.getConnectedComponentType(connectedComponent) === "Graph"'>
                <md-checkbox class='md-primary'
                             ng-model='connectedComponent.importGraphSettings'
                             style='margin-right: 20px;'
                             ng-change='graphController.componentChanged()'>
                  {{ ::'graph.importGraphSettings' | translate }}
                </md-checkbox>
              </md-input-container>
              <span flex></span>
              <md-button class='topButton md-raised md-primary'
                         ng-click='graphController.deleteConnectedComponent($index)'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
              </md-button>
            </div>
            <div ng-if='graphController.getConnectedComponentType(connectedComponent) == "Table"' flex>
              <md-checkbox class='md-primary'
                           ng-model='connectedComponent.skipFirstRow'
                           style='margin-right: 20px;'
                           ng-change='graphController.componentChanged()'>
                {{ ::'graph.skipFirstRow' | translate }}
              </md-checkbox>
              <md-input-container style='margin-right: 20px; width: 100px; height: 30px;'>
                <label>{{ ::'graph.xColumn' | translate }}</label>
                <input type='number'
                       ng-model='connectedComponent.xColumn'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='graphController.componentChanged()'/>
              </md-input-container>
              <md-input-container style='margin-right: 20px; width: 100px; height: 30px;'>
                <label>{{ ::'graph.yColumn' | translate }}</label>
                <input type='number'
                       ng-model='connectedComponent.yColumn'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='graphController.componentChanged()'/>
              </md-input-container>
            </div>
            <div ng-if='graphController.getConnectedComponentType(connectedComponent) == "Embedded"' flex>
              <div>
                <md-checkbox class='md-primary'
                             ng-model='connectedComponent.showXPlotLineOnLatestPoint'
                             ng-change='graphController.componentChanged()'>
                  {{ ::'graph.showXPlotLineOnLatestPoint' | translate }}
                </md-checkbox>
                <br/>
                <md-checkbox class='md-primary'
                             ng-model='connectedComponent.highlightLatestPoint'
                             ng-change='graphController.componentChanged()'>
                  {{ ::'graph.highlightLatestPoint' | translate }}
                </md-checkbox>
              </div>
              <div layout='row'>
                <h6>{{ ::'graph.seriesNumbers' | translate }}</h6>
                <md-button class='topButton md-raised md-primary'
                           ng-click='graphController.addConnectedComponentSeriesNumber(connectedComponent)'>
                  <md-icon>add</md-icon>
                  <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'graph.addSeriesNumber' | translate }}</md-tooltip>
                </md-button>
              </div>
              <div ng-repeat='seriesNumber in connectedComponent.seriesNumbers track by $index'>
                <md-input-container style='margin-right: 20px; width: 120px; height: 30px;'>
                  <label>{{ ::'graph.seriesNumber' | translate }}</label>
                  <input type='number'
                         ng-model='seriesNumber'
                         ng-model-options='{ debounce: 1000 }'
                         ng-change='graphController.connectedComponentSeriesNumberChanged(connectedComponent, $index, seriesNumber)'/>
                </md-input-container>
                <md-button class='topButton md-raised md-primary'
                           ng-click='graphController.deleteConnectedComponentSeriesNumber(connectedComponent, $index)'>
                  <md-icon>delete</md-icon>
                  <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'graph.deleteSeriesNumber' | translate }}</md-tooltip>
                </md-button>
              </div>
            </div>
            <div ng-if='graphController.getConnectedComponentType(connectedComponent) == "ConceptMap" || graphController.getConnectedComponentType(connectedComponent) == "Draw" || graphController.getConnectedComponentType(connectedComponent) == "Label"' flex>
              <md-input-container style='margin-right: 20px;'>
                <md-checkbox class='md-primary'
                             ng-model='connectedComponent.importWorkAsBackground'
                             ng-change='graphController.importWorkAsBackgroundClicked(connectedComponent)'
                             ng-disabled='true'>
                  {{ ::'importWorkAsBackground' | translate }}
                </md-checkbox>
              </md-input-container>
            </div>
          </div>
        </div>
        <edit-component-json [node-id]="graphController.nodeId" [component-id]="graphController.componentId"></edit-component-json>
      </div>
      <br/>
      <div ng-if='!graphController.authoringComponentContent.showPreviousWork'>
        <md-input-container style='width:100%'>
          <label>{{ ::'PROMPT' | translate }}</label>
          <textarea rows='1'
                    ng-model='graphController.authoringComponentContent.prompt'
                    ng-change='graphController.componentChanged()'
                    ng-model-options='{ debounce: 1000 }'
                    placeholder='{{ ::"enterPromptHere" | translate }}'>
          </textarea>
        </md-input-container>
        <div layout='row' style='height: 80px;'>
          <md-input-container style='margin-right: 20px'>
            <label>{{ ::'graph.graphTitle' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.title'
                   ng-change='graphController.componentChanged()'
                   ng-model-options='{ debounce: 1000 }'
                   size='80'
                   placeholder='{{ ::"graph.enterGraphTitleHere" | translate }}'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 120px;'>
            <label>{{ ::'graph.plotType' | translate }}</label>
            <md-select ng-model='graphController.authoringComponentContent.graphType'
                       ng-change='graphController.graphTypeChanged()'
                       style='width: 120px'>
              <md-option ng-repeat='availableGraphType in graphController.availableGraphTypes'
                         value='{{availableGraphType.value}}'>
                {{availableGraphType.text}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 100px;'>
            <label>{{ ::'graph.graphWidth' | translate }}</label>
            <input type='number'
                   ng-model='graphController.authoringComponentContent.width'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 100px;'>
            <label>{{ ::'graph.graphHeight' | translate }}</label>
            <input type='number'
                   ng-model='graphController.authoringComponentContent.height'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'/>
          </md-input-container>
        </div>
        <div layout='row'>
          <md-input-container style='margin-right: 20px; width: 80px;'>
            <h6>{{ ::'graph.xAxis' | translate }}</h6>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 200px;'>
            <label>{{ ::'graph.title' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.xAxis.title.text'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 120px;'>
            <label>{{ ::'graph.axisType' | translate }}</label>
            <md-select ng-model='graphController.authoringComponentContent.xAxis.type'
                       ng-change='graphController.xAxisTypeChanged(graphController.authoringComponentContent.xAxis.type, "{{graphController.authoringComponentContent.xAxis.type}}")'
                       style='width: 120px'>
              <md-option ng-repeat='availableAxisType in graphController.availableXAxisTypes'
                         value='{{availableAxisType.value}}'>
                {{availableAxisType.text}}
              </md-option>
            </md-select>
          </md-input-container>
          <div ng-if='graphController.authoringComponentContent.xAxis.type === "limits" || graphController.authoringComponentContent.xAxis.type === "" || graphController.authoringComponentContent.xAxis.type == null'>
            <md-input-container style='margin-right: 20px; width: 100px;'>
              <label>{{ ::'graph.units' | translate }}</label>
              <input ng-model='graphController.authoringComponentContent.xAxis.units'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='graphController.componentChanged()'/>
            </md-input-container>
            <md-input-container style='margin-right: 20px; width: 100px;'>
              <label>{{ ::'graph.min' | translate }}</label>
              <input type='number'
                     ng-model='graphController.authoringComponentContent.xAxis.min'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='graphController.componentChanged()'/>
            </md-input-container>
            <md-input-container style='margin-right: 20px; width: 100px;'>
              <label>{{ ::'graph.max' | translate }}</label>
              <input type='number'
                     ng-model='graphController.authoringComponentContent.xAxis.max'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='graphController.componentChanged()'/>
            </md-input-container>
            <md-input-container>
              <md-checkbox class='md-primary'
                           ng-model='graphController.authoringComponentContent.xAxis.locked'
                           ng-change='graphController.componentChanged()'>
                {{ ::'graph.locked' | translate }}
              </md-checkbox>
            </md-input-container>
          </div>
          <div ng-if='graphController.authoringComponentContent.xAxis.type == "categories"'
               style='margin-right: 10px'>
            <md-input-container>
              <span>{{ ::'graph.categories' | translate }}</span>
            </md-input-container>
            <md-input-container>
              <md-button class='topButton md-raised md-primary'
                         ng-click='graphController.addXAxisCategory()'>
                <md-icon>equalizer</md-icon>
                <md-tooltip md-direction='top' class='projectButtonTooltip'>Add Category</md-tooltip>
              </md-button>
            </md-input-container>
            <div ng-repeat='category in graphController.authoringComponentContent.xAxis.categories track by $index'>
              <md-input-container>
                <label>{{ ::'graph.categoryName' | translate }}</label>
                <input ng-model='graphController.authoringComponentContent.xAxis.categories[$index]'
                       ng-change='graphController.componentChanged()'
                       size='50'/>
              </md-input-container>
              <md-button ng-click='graphController.deleteXAxisCategory($index)'
                         class='topButton md-raised md-primary'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'graph.deleteCategory' | translate }}</md-tooltip>
              </md-button>
            </div>
          </div>
        </div>
        <div>
          <div layout='row'>
            <div>
              <md-switch ng-model='graphController.enableMultipleYAxes'
                  class='md-primary'
                  ng-change='graphController.enableMultipleYAxesChanged()'>
                {{ ::'graph.enableMultipleYAxes' | translate }}
              </md-switch>
            </div>
            <div ng-if='graphController.enableMultipleYAxes'>
              <md-radio-group ng-model='graphController.numYAxes' class='md-primary'
                  ng-change='graphController.numYAxesChanged(graphController.numYAxes, {{graphController.numYAxes}})'>
                <div layout='row' style='margin-top: 20px;'>
                  <md-radio-button ng-value='{{2}}' style='margin-left: 40px'>2</md-radio-button>
                  <md-radio-button ng-value='{{3}}' style='margin-left: 40px'>3</md-radio-button>
                  <md-radio-button ng-value='{{4}}' style='margin-left: 40px'>4</md-radio-button>
                </div>
              </md-radio-group>
            </div>
          </div>
        </div>
        <div ng-show='!graphController.enableMultipleYAxes' layout='row' style='height: 80px;'>
          <md-input-container style='margin-right: 20px; width: 80px;'>
            <h6>{{ ::'graph.yAxis' | translate }}</h6>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 200px;'>
            <label>{{ ::'graph.title' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.yAxis.title.text'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <label>{{ ::'graph.color' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.yAxis.labels.style.color'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.yAxisColorChanged(graphController.authoringComponentContent.yAxis)'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 100px;'>
            <label>{{ ::'graph.units' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.yAxis.units'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 100px;'>
            <label>{{ ::'graph.min' | translate }}</label>
            <input type='number'
                   ng-model='graphController.authoringComponentContent.yAxis.min'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 100px;'>
            <label>{{ ::'graph.max' | translate }}</label>
            <input type='number'
                   ng-model='graphController.authoringComponentContent.yAxis.max'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'/>
          </md-input-container>
          <md-input-container>
            <md-checkbox class='md-primary'
                         ng-model='graphController.authoringComponentContent.yAxis.locked'
                         ng-change='graphController.componentChanged()'>
              {{ ::'graph.locked' | translate }}
            </md-checkbox>
          </md-input-container>
        </div>
        <div ng-show='graphController.enableMultipleYAxes'
            ng-repeat='y in [].constructor(graphController.authoringComponentContent.yAxis.length) track by $index'
            layout='row' style='height: 80px;'>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <h6>{{ ::'graph.yAxis' | translate }} {{ $index + 1 }}</h6>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 200px;'>
            <label>{{ ::'graph.title' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.yAxis[$index].title.text'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <label>{{ ::'graph.color' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.yAxis[$index].labels.style.color'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.yAxisColorChanged($index)'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <label>{{ ::'graph.units' | translate }}</label>
            <input ng-model='graphController.authoringComponentContent.yAxis[$index].units'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <label>{{ ::'graph.min' | translate }}</label>
            <input type='number'
                   ng-model='graphController.authoringComponentContent.yAxis[$index].min'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <label>{{ ::'graph.max' | translate }}</label>
            <input type='number'
                   ng-model='graphController.authoringComponentContent.yAxis[$index].max'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 70px;'>
            <md-checkbox class='md-primary'
                         ng-model='graphController.authoringComponentContent.yAxis[$index].locked'
                         ng-change='graphController.componentChanged()'>
              {{ ::'graph.locked' | translate }}
            </md-checkbox>
          </md-input-container>
          <md-input-container style='margin-top: 0px;'>
            <md-switch ng-model='graphController.authoringComponentContent.yAxis[$index].opposite'
                class='md-primary'
                ng-change='graphController.componentChanged()'>
              <span ng-if='!graphController.authoringComponentContent.yAxis[$index].opposite'>Left</span>
              <span ng-if='graphController.authoringComponentContent.yAxis[$index].opposite'>Right</span>
              Side
            </md-switch>
          </md-input-container>
        </div>
        <div layout='row' style='height: 80px;'>
          <md-input-container>
            <label>{{ ::'BACKGROUND_IMAGE' | translate }} ({{ ::'OPTIONAL' | translate }})</label>
            <input ng-model='graphController.authoringComponentContent.backgroundImage'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'
                   size='100'/>
          </md-input-container>
          <md-input-container>
            <md-button class='topButton md-raised md-primary'
                       ng-click="graphController.showChooseBackgroundImagePopup()">
              <md-icon>insert_photo</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'chooseAnImage' | translate }}</md-tooltip>
            </md-button>
          </md-input-container>
        </div>
        <div layout='row' style='height: 80px;'>
          <md-input-container style='width: 250px;'>
            <label>{{ ::'graph.roundValuesTo' | translate }}</label>
            <md-select ng-model='graphController.authoringComponentContent.roundValuesTo'
                       ng-change='graphController.componentChanged()'
                       style='width: 250px'>
              <md-option ng-repeat='availableRoundingOption in graphController.availableRoundingOptions'
                         value='{{availableRoundingOption.value}}'>
                {{availableRoundingOption.text}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.enableTrials'
                       ng-change='graphController.enableTrialsClicked()'>
            {{ ::'graph.enableTrials' | translate }}
          </md-checkbox>
          <br/>
          <div ng-if='graphController.authoringComponentContent.enableTrials'>
            <md-checkbox class='md-primary'
                         ng-model='graphController.authoringComponentContent.canCreateNewTrials'
                         ng-change='graphController.componentChanged()'>
              {{ ::'graph.canStudentCreateTrials' | translate }}
            </md-checkbox>
            <br/>
            <md-checkbox class='md-primary'
                         ng-model='graphController.authoringComponentContent.canDeleteTrials'
                         ng-change='graphController.componentChanged()'>
              {{ ::'graph.canStudentDeleteTrials' | translate }}
            </md-checkbox>
            <br/>
            <md-checkbox class='md-primary'
                         ng-model='graphController.authoringComponentContent.hideAllTrialsOnNewTrial'
                         ng-change='graphController.componentChanged()'>
              {{ ::'graph.hideExistingTrialsOnNewTrial' | translate }}
            </md-checkbox>
          </div>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.canStudentHideSeriesOnLegendClick'
                       ng-change='graphController.componentChanged()'>
            {{ ::'graph.canStudentHideSeriesOnLegendClick' | translate }}
          </md-checkbox>
          <br/>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.enableFileUpload'
                       ng-change='graphController.componentChanged()'>
            {{ ::'graph.enableFileUpload' | translate }}
          </md-checkbox>
          <br/>
          <md-checkbox class='md-primary'
                       ng-model='graphController.authoringComponentContent.hideLegend'
                       ng-change='graphController.componentChanged()'>
            {{ ::'graph.hideLegend' | translate }}
          </md-checkbox>
        </div>
        <br/>
        <div layout='row'>
          <h6>{{ ::'graph.series' | translate }}</h6>
          <md-button class='topButton md-raised md-primary'
                     ng-click='graphController.addSeriesClicked()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'graph.addSeries' | translate }}</md-tooltip>
          </md-button>
        </div>
        <div ng-if='graphController.authoringComponentContent.series == null || graphController.authoringComponentContent.series.length == 0'>
          {{ ::'graph.thereAreNoSeriesClickTheAddSeriesButtonToAddASeries' | translate }}
        </div>
        <div ng-repeat='series in graphController.authoringComponentContent.series track by $index'
             style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
          <md-input-container style='margin-right: 20px; width: 200px; height: 60px;'>
            <label>{{ 'graph.name' | translate }}</label>
            <input ng-model='series.name'
                   ng-change='graphController.componentChanged()'
                   ng-model-options='{ debounce: 1000 }'
                   size='200'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 120px; height: 60px;'>
            <label>{{ ::'graph.color' | translate }}</label>
            <input ng-model='series.color'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='graphController.componentChanged()'
                   size='120'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 140px; height: 60px;'
                              ng-if='graphController.authoringComponentContent.graphType == "line" || graphController.authoringComponentContent.graphType == "scatter"'>
            <label>{{ ::'graph.symbol' | translate }}</label>
            <md-select ng-model='series.marker.symbol'
                       ng-change='graphController.componentChanged()'
                       style='width: 140px'>
              <md-option ng-repeat='availableSymbol in graphController.availableSymbols'
                         value='{{availableSymbol.value}}'>
                {{availableSymbol.text}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 120px; height: 60px;'
                              ng-if='graphController.authoringComponentContent.graphType == "line" || graphController.authoringComponentContent.graphType == "scatter"'>
            <label>{{ ::'graph.type' | translate }}</label>
            <md-select ng-model='series.type'
                       ng-change='graphController.seriesTypeChanged(series)'
                       style='width: 120px'>
              <md-option ng-repeat='availableSeriesType in graphController.availableSeriesTypes'
                         value='{{availableSeriesType.value}}'>
                {{availableSeriesType.text}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 120px; height: 60px;'
                              ng-if='series.type == "line" || (series.type == null && graphController.authoringComponentContent.graphType == "line")'>
            <label>{{ ::'graph.lineType' | translate }}</label>
            <md-select ng-model='series.dashStyle'
                       ng-change='graphController.componentChanged()'
                       style='width: 120px'>
              <md-option ng-repeat='availableLineType in graphController.availableLineTypes'
                         value='{{availableLineType.value}}'>
                {{availableLineType.text}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20px; height: 60px;'>
            <md-checkbox class='md-primary'
                         ng-model='series.canEdit'
                         ng-model-options='{ debounce: 1000 }'
                         ng-change='graphController.componentChanged()'>
              {{ ::'graph.canStudentEdit' | translate }}
            </md-checkbox>
          </md-input-container>
          <md-input-container ng-if='graphController.enableMultipleYAxes' style='height: 60px;'>
            <label>{{ ::'graph.yAxis' | translate }}</label>
            <md-select ng-model='series.yAxis'
                       ng-change='graphController.seriesYAxisChanged(series)'
                       style='width: 200px'>
              <md-option ng-repeat='yAxis in graphController.authoringComponentContent.yAxis track by $index'
                         ng-value='{{$index}}'>
                Y Axis {{$index + 1}}: {{yAxis.title.text}}
              </md-option>
            </md-select>
          </md-input-container>
          <br/>
          <span>{{ ::'graph.dataPoints' | translate }}</span>
          <md-button class='topButton md-raised md-primary'
                     ng-click='graphController.addSeriesDataPoint(series)'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ 'graph.addDataPoint' | translate }}</md-tooltip>
          </md-button>
          <br/>
          <div ng-if='series.data == null || series.data.length == 0'>
            {{ ::'graph.thisSeriesHasNoStarterDataPoints' | translate }}
          </div>
          <div ng-repeat='dataPoint in series.data track by $index'>
            <span ng-if='graphController.authoringComponentContent.xAxis.type === "limits" || graphController.authoringComponentContent.xAxis.type === "" || graphController.authoringComponentContent.xAxis.type == null'>
              <md-input-container>
                <label>{{ ::'graph.x' | translate }}</label>
                <input type='number'
                       ng-model='series.data[$index][0]'
                       style='width:5em'
                       ng-change='graphController.componentChanged()'/>
              </md-input-container>
              <md-input-container>
                <label>{{ ::'graph.y' | translate }}</label>
                <input type='number'
                       ng-model='series.data[$index][1]'
                       style='width:5em'
                       ng-change='graphController.componentChanged()'/>
              </md-input-container>
            </span>
            <span ng-if='graphController.authoringComponentContent.xAxis.type === "categories"'>
              <md-input-container>
                <label>{{graphController.authoringComponentContent.xAxis.categories[$index]}}</label>
                <input type='number'
                       ng-model='series.data[$index]'
                       style='width:5em'
                       ng-change='graphController.componentChanged()'/>
              </md-input-container>
            </span>
            <md-button class='topButton md-raised md-primary'
                       ng-click='graphController.moveSeriesDataPointUp(series, $index)'>
              <md-icon>arrow_upward</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'UP' | translate }}</md-tooltip>
            </md-button>
            <md-button class='topButton md-raised md-primary'
                       ng-click='graphController.moveSeriesDataPointDown(series, $index)'>
              <md-icon>arrow_downward</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DOWN' | translate }}</md-tooltip>
            </md-button>
            <md-button class='topButton md-raised md-primary'
                       ng-click='graphController.deleteSeriesDataPoint(series, $index)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'graph.deleteDataPoint' | translate }}</md-tooltip>
            </md-button>
          </div>
          <br/>
          <div layout='row'>
            <span flex></span>
            <md-button class='topButton md-raised md-primary'
                       ng-click='graphController.deleteSeriesClicked($index)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'graph.deleteSeries' | translate }}</md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
