<div ng-controller='GraphController as graphController' flex>
    <listen-for-delete-keypress>
        <div>
            <div ng-if='graphController.mode === "authoring" && !graphController.authoringComponentContent.showPreviousWork'>
                <textarea ng-model='graphController.authoringComponentContent.prompt'
                          ng-change='graphController.authoringViewComponentChanged()'
                          ng-model-options='{ debounce: 1000 }'
                          rows='10'
                          cols='100'></textarea>
                <br/>
                {{ 'showSaveButton' | translate }}:
                <input type='checkbox'
                       ng-model='graphController.authoringComponentContent.showSaveButton'
                       ng-change='graphController.authoringViewComponentChanged()'/>
                <br/>
                {{ 'showSubmitButton' | translate }}:
                <input type='checkbox'
                       ng-model='graphController.authoringComponentContent.showSubmitButton'
                       ng-change='graphController.authoringViewComponentChanged()'/>
                <br/>
                {{ 'graphTitle' | translate }}: <input ng-model='graphController.authoringComponentContent.title'
                                    ng-change='graphController.authoringViewComponentChanged()'
                                    ng-model-options='{ debounce: 1000 }'
                                    size='30'/>
                {{ 'graphType' | translate }}: <input ng-model='graphController.authoringComponentContent.graphType'
                                   ng-model-options='{ debounce: 1000 }'
                                   ng-change='graphController.authoringViewComponentChanged()'/>
                <br/>
                {{ 'graphWidth' | translate }}: <input type='number'
                                    ng-model='graphController.authoringComponentContent.width'
                                    ng-model-options='{ debounce: 1000 }'
                                    ng-change='graphController.authoringViewComponentChanged()'/>
                {{ 'graphHeight' | translate }}: <input type='number'
                                     ng-model='graphController.authoringComponentContent.height'
                                     ng-model-options='{ debounce: 1000 }'
                                     ng-change='graphController.authoringViewComponentChanged()'/>
                <br/>
                {{ 'xAxisTitle' | translate }}: <input ng-model='graphController.authoringComponentContent.xAxis.title.text'
                                     ng-model-options='{ debounce: 1000 }'
                                     ng-change='graphController.authoringViewComponentChanged()'/>
                {{ 'xMin' | translate }}: <input type='number'
                              ng-model='graphController.authoringComponentContent.xAxis.min'
                              ng-model-options='{ debounce: 1000 }'
                              ng-change='graphController.authoringViewComponentChanged()'/>
                {{ 'xMax' | translate }}: <input type='number'
                              ng-model='graphController.authoringComponentContent.xAxis.max'
                              ng-model-options='{ debounce: 1000 }'
                              ng-change='graphController.authoringViewComponentChanged()'/>
                <br/>
                <br/>
                {{ 'yAxisTitle' | translate }}: <input ng-model='graphController.authoringComponentContent.yAxis.title.text'
                                     ng-model-options='{ debounce: 1000 }'
                                     ng-change='graphController.authoringViewComponentChanged()'/>
                {{ 'yMin' | translate }}: <input type='number'
                              ng-model='graphController.authoringComponentContent.yAxis.min'
                              ng-model-options='{ debounce: 1000 }'
                              ng-change='graphController.authoringViewComponentChanged()'/>
                {{ 'yMax' | translate }}: <input type='number'
                              ng-model='graphController.authoringComponentContent.yAxis.max'
                              ng-model-options='{ debounce: 1000 }'
                              ng-change='graphController.authoringViewComponentChanged()'/>
                <br/>
                <br/>
                {{ 'backgroundImage' | translate }}: <input type='text'
                                         size='80'
                                         ng-model='graphController.authoringComponentContent.backgroundImage'
                                         ng-model-options='{ debounce: 1000 }'
                                         ng-change='graphController.authoringViewComponentChanged()'/>
                <br/>
                <br/>
                {{ 'enableTrials' | translate }} <input type='checkbox'
                                     ng-model='graphController.authoringComponentContent.enableTrials'
                                     ng-change='graphController.authoringViewEnableTrialsClicked()'/>
                <br/>
                <div ng-show='graphController.authoringComponentContent.enableTrials'>
                    {{ 'canStudentCreateTrials' | translate }} <input type='checkbox'
                                                     ng-model='graphController.authoringComponentContent.canCreateNewTrials'
                                                     ng-show='graphController.authoringComponentContent.enableTrials'
                                                     ng-change='graphController.authoringViewComponentChanged()'/>
                    <br/>
                    {{ 'canStudentDeleteTrials' | translate }} <input type='checkbox'
                                                     ng-model='graphController.authoringComponentContent.canDeleteTrials'
                                                     ng-show='graphController.authoringComponentContent.enableTrials'
                                                     ng-change='graphController.authoringViewComponentChanged()'/>
                    <br/>
                    {{ 'hideExistingTrialsOnNewTrial' | translate }} <input type='checkbox'
                                                             ng-model='graphController.authoringComponentContent.hideAllTrialsOnNewTrial'
                                                             ng-show='graphController.authoringComponentContent.enableTrials'
                                                             ng-change='graphController.authoringViewComponentChanged()'/>
                </div>
                <br/>
                {{ 'enableFileUpload' | translate }} <input type='checkbox'
                                     ng-model='graphController.authoringComponentContent.enableFileUpload'
                                     ng-change='graphController.authoringViewComponentChanged()'/>
                <br/>
                {{ 'series' | translate }}
                <button ng-click='graphController.authoringAddSeriesClicked()'>{{ 'addSeries' | translate }}</button>
                <div ng-repeat='series in graphController.authoringComponentContent.series track by $index'
                     style='border: 1px solid black'>
                    {{ 'name' | translate }}: <input ng-model='series.name'
                                 ng-change='graphController.authoringViewComponentChanged()'
                                 ng-model-options='{ debounce: 1000 }'
                                 size='30'/>
                    <br/>
                    {{ 'color' | translate }}: <input ng-model='series.color'
                                  ng-model-options='{ debounce: 1000 }'
                                  ng-change='graphController.authoringViewComponentChanged()'/>
                    <br/>
                    {{ 'symbol' | translate }}: <input ng-model='series.marker.symbol'
                                   ng-model-options='{ debounce: 1000 }'
                                   ng-change='graphController.authoringViewComponentChanged()'/>
                    <br/>
                    {{ 'canStudentEdit' | translate }}: <input type='checkbox'
                                             ng-model='series.canEdit'
                                             ng-model-options='{ debounce: 1000 }'
                                             ng-change='graphController.authoringViewComponentChanged()'/>
                    <br/>
                    <button ng-click='graphController.authoringDeleteSeriesClicked($index)'>{{ 'deleteSeries' | translate }}</button>
                </div>
                <br/>
                {{ 'maxScore' | translate }}:
                <input type='number'
                       ng-model='graphController.authoringComponentContent.maxScore'
                       ng-change='graphController.authoringViewComponentChanged()'
                       ng-model-options='{ debounce: 1000 }'
                       style='width: 3em'/>
            </div>
            <div ng-if='graphController.mode === "authoring"'>
                {{ 'importPreviousWork' | translate }}:
                <input type='checkbox'
                       ng-model='graphController.authoringComponentContent.importPreviousWork'
                       ng-click='graphController.authoringImportPreviousWorkClicked()'
                       ng-change='graphController.authoringViewComponentChanged()'/>
            </div>
            <div ng-if='graphController.mode === "authoring" && graphController.authoringComponentContent.importPreviousWork'>
                {{ 'importPreviousWorkStep' | translate }}:
                <select ng-model='graphController.authoringComponentContent.importPreviousWorkNodeId'
                        ng-change='graphController.authoringImportPreviousWorkNodeIdChanged()'>
                    <option></option>
                    <option ng-repeat='item in graphController.idToOrder | toArray | orderBy : "order"'
                            value='{{item.$key}}'
                            ng-if='graphController.isApplicationNode(item.$key)'>{{graphController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
                </select>
                <br/>
                {{ 'importPreviousWorkComponent' | translate }}:
                <select ng-model='graphController.authoringComponentContent.importPreviousWorkComponentId'
                        ng-change='graphController.authoringImportPreviousWorkComponentIdChanged()'
                        ng-options='component.id as component.type disable when !graphController.componentHasWork(component) for component in graphController.getComponentsByNodeId(graphController.authoringComponentContent.importPreviousWorkNodeId)'>
                    <option></option>
                </select>
            </div>
            <div ng-if='graphController.mode === "authoring"'>
                {{ 'showPreviousWork' | translate }}:
                <input type='checkbox'
                       ng-model='graphController.authoringComponentContent.showPreviousWork'
                       ng-click='graphController.authoringShowPreviousWorkClicked()'
                       ng-change='graphController.authoringViewComponentChanged()'/>
            </div>
            <div ng-if='graphController.mode === "authoring" && graphController.authoringComponentContent.showPreviousWork'>
                {{ 'showPreviousWorkStep' | translate }}:
                <select ng-model='graphController.authoringComponentContent.showPreviousWorkNodeId'
                        ng-change='graphController.authoringShowPreviousWorkNodeIdChanged()'>
                    <option></option>
                    <option ng-repeat='item in graphController.idToOrder | toArray | orderBy : "order"'
                            value='{{item.$key}}'
                            ng-if='graphController.isApplicationNode(item.$key)'>{{graphController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
                </select>
                <br/>
                {{ 'showPreviousWorkComponent' | translate }}:
                <select ng-model='graphController.authoringComponentContent.showPreviousWorkComponentId'
                        ng-change='graphController.authoringShowPreviousWorkComponentIdChanged()'
                        ng-options='component.id as component.type disable when !graphController.componentHasWork(component) for component in graphController.getComponentsByNodeId(graphController.authoringComponentContent.showPreviousWorkNodeId)'>
                    <option></option>
                </select>
                <br/>
                {{ 'showPreviousWorkPrompt' | translate }}:
                <input type='checkbox'
                       ng-model='graphController.authoringComponentContent.showPreviousWorkPrompt'
                       ng-change='graphController.authoringViewComponentChanged()'/>
            </div>
            <div ng-if='graphController.mode === "authoring"'>
                <textarea ng-model='graphController.authoringComponentContentJSONString'
                          ng-change='graphController.advancedAuthoringViewComponentChanged()'
                          ng-model-options="{ updateOn: 'blur' }"
                          rows='10'
                          cols='100'></textarea>
            </div>
            <div class="component__prompt">
                <div class="component__prompt__content"><compile data='graphController.getPrompt()'></compile></div>
                <possible-score max-score="graphController.componentContent.maxScore"
                                ng-if="graphController.mode === 'student' && !graphController.latestAnnotations.score"></possible-score>
            </div>
            <input type="file"
                   accept=".csv"
                   ng-show="graphController.componentContent.enableFileUpload"
                   onchange="angular.element(this).scope().fileUploadChanged(this)"/>
            <hr />
            <div class="component__actions">
                <md-input-container ng-if='graphController.componentContent.enableTrials'>
                    <label>{{ 'selectTrialsToShow' | translate }}</label>
                    <md-select ng-model="graphController.trialIdsToShow"
                               ng-change='graphController.trialIdsToShowChanged()'
                               md-selected-text="graphController.selectedTrialsText"
                               class="graph-select"
                               multiple>
                        <md-option ng-repeat="trial in graphController.trials" ng-value="trial.id">
                            <span>{{trial.name}}</span>
                            <md-button ng-click='graphController.deleteTrial($index)'
                                       ng-if='graphController.componentContent.canDeleteTrials'
                                       aria-label="Delete trial"
                                       class="md-icon-button">
                                <md-icon> delete </md-icon>
                            </md-button>
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-if="graphController.componentContent.enableTrials && graphController.showSelectActiveTrials()">
                    <label>{{ 'selectTrialToEdit' | translate }}</label>
                    <md-select ng-model="graphController.activeTrial"
                               ng-change='graphController.activeTrialChanged()'
                               class="graph-select">
                        <md-option ng-repeat="trial in graphController.trials"
                                   ng-value="trial"
                                   ng-if="trial.show && graphController.canEditTrial(trial)">
                            {{trial.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container ng-if="graphController.showSelectSeries()">
                    <label>{{ 'selectSeriesToEdit' | translate }}</label>
                    <md-select ng-model="graphController.activeSeries"
                               ng-change='graphController.activeSeriesChanged()'
                               class="graph-select">
                        <md-option ng-repeat="series in graphController.series"
                                   ng-value="series">
                            {{series.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-button class="md-accent"
                           ng-click='graphController.resetSeries()'
                           ng-if='graphController.showResetSeriesButton() && graphController.activeSeries.canEdit'>
                    <md-icon> restore </md-icon> {{ 'resetSeries' | translate }}
                </md-button>
            </div>
            <div class="component__actions">
                <md-button class="md-accent"
                           ng-click='graphController.newTrial()'
                           ng-show='graphController.componentContent.canCreateNewTrials'>
                    <md-icon> add </md-icon> {{ 'newTrial' | translate }}
                </md-button>
                <md-button class="md-accent"
                           ng-click='graphController.resetGraph()'
                           ng-show='graphController.showResetGraphButton()'>
                    <md-icon> restore </md-icon> {{ 'resetGraph' | translate }}
                </md-button>
                <md-button class="md-accent md-primary"
                        ng-click='graphController.snipDrawing($event)'
                        ng-if='graphController.showSnipDrawingButton()'>
                    <md-icon> content_cut </md-icon>  {{ 'addToNotebook' | translate:{label:graphController.notebookConfig.label} }}
                </md-button>
                <md-button class="md-accent" ng-if="graphController.isStudentAttachmentEnabled"
                           ng-click="nodeController.showStudentAssets($event, component.id, graphController.isDisabled)">
                    <md-icon>image</md-icon> {{ 'importData' | translate }}
                </md-button>
            </div>
            <highchart id="{{graphController.chartId}}" config="graphController.chartConfig"></highchart>
            <div ng-if="graphController.isSaveButtonVisible || graphController.isSubmitButtonVisible"
                 class="component__actions" layout="row" layout-align="start center">
                <md-button class="md-primary"
                           ng-class="{'md-raised': !graphController.isSubmitButtonVisible}"
                           ng-click='graphController.saveButtonClicked()'
                           ng-if='graphController.isSaveButtonVisible'
                           ng-disabled='graphController.isDisabled || !graphController.isDirty'>{{ 'save' | translate }}</md-button>
                <md-button class="md-raised md-primary"
                           ng-click='graphController.submitButtonClicked()'
                           ng-if='graphController.isSubmitButtonVisible'
                           ng-disabled='graphController.isDisabled || !graphController.isSubmitDirty'>{{ 'submit' | translate }}</md-button>
                <span ng-show="graphController.saveMessage.text"
                      class="component__actions__info md-caption">
                    {{graphController.saveMessage.text}} <span class="component__actions__more"><md-tooltip md-direction="top">{{ graphController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}</md-tooltip><span am-time-ago="graphController.saveMessage.time"></span></span>
                </span>
            </div>
            <component-annotations ng-if="graphController.mode === 'student'"
                                   annotations='graphController.latestAnnotations'
                                   max-score="graphController.componentContent.maxScore"></component-annotations>
            <component-grading ng-if="graphController.mode === 'grading'"
                              node-id='graphController.nodeId'
                              component-id='graphController.componentId'
                              max-score="graphController.componentContent.maxScore"
                              from-workgroup-id='teacherWorkgroupId'
                              to-workgroup-id='workgroupId'
                              component-state-id='componentState.id'
                              active="true"></component-grading>
        </div
    </listen-for-delete-keypress>
</div>
