<div ng-controller='GraphController as graphController' flex>
  <div>
    <div>
      <div ng-switch='::graphController.mode'>
        <div ng-switch-when='grading|gradingRevision' ng-switch-when-separator='|' layout='row' layout-wrap>
          <div flex='100' flex-gt-sm='66' layout='column' class='component--grading__response'>
            <div class='component--grading__response__content'>
              <highchart id='{{::graphController.chartId}}' config='::graphController.chartConfig' ng-if='graphController.$scope.componentState'></highchart>
            </div>
            <span flex></span>
            <component-revisions-info node-id='::graphController.nodeId'
                          component-id='::graphController.componentId'
                          to-workgroup-id='::workgroupId'
                          component-state='componentState'
                          active='::graphController.mode === "grading"'></component-revisions-info>
          </div>
          <div flex='100' flex-gt-sm='33' class='component--grading__annotations'>
            <component-grading node-id='::graphController.nodeId'
                       component-id='::graphController.componentId'
                       max-score='graphController.componentContent.maxScore'
                       from-workgroup-id='teacherWorkgroupId'
                       to-workgroup-id='workgroupId'
                       component-state-id='componentState.id'
                       show-all-annotations='::graphController.mode !== "grading"'
                       is-disabled='::graphController.mode !== "grading"'></component-grading>
          </div>
        </div>
        <div ng-switch-default>
          <div class='component__prompt'>
            <div class='component__prompt__content'><compile data='graphController.getPrompt()'></compile></div>
            <possible-score [max-score]='graphController.componentContent.maxScore'></possible-score>
          </div>
          <input type='file'
               accept='.csv'
               ng-if='::graphController.componentContent.enableFileUpload'
               onchange='angular.element(this).scope().fileUploadChanged(this)'
               ng-disabled='graphController.isDisabled'/>
          <div class='component__actions' layout='row' ng-if='graphController.showTrialSelect'>
            <md-input-container ng-if='graphController.componentContent.enableTrials'>
              <label>{{ ::'graph.selectTrialsToShow' | translate }}</label>
              <md-select ng-model='graphController.trialIdsToShow'
                     ng-change='graphController.trialIdsToShowChanged()'
                     md-selected-text='graphController.selectedTrialsText'
                     class='graph-select'
                     ng-disabled='graphController.isDisabled'
                     multiple>
                <md-option ng-repeat='trial in graphController.trials'
                       ng-value='trial.id'
                       ng-click='graphController.trialCheckboxClicked()'>
                  <span>{{trial.name}}</span>
                  <md-button ng-click='graphController.deleteTrial($index)'
                         ng-if='graphController.componentContent.canDeleteTrials'
                         aria-label='Delete trial'
                         class='md-icon-button'
                         ng-disabled='graphController.isDisabled'>
                    <md-icon> delete </md-icon>
                  </md-button>
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container ng-if='graphController.componentContent.enableTrials && graphController.showSelectActiveTrials()'>
              <label>{{ ::'graph.selectTrialToEdit' | translate }}</label>
              <md-select ng-model='graphController.activeTrial'
                     ng-change='graphController.activeTrialChanged()'
                     class='graph-select'
                     ng-disabled='graphController.isDisabled'>
                <md-option ng-repeat='trial in graphController.trials'
                       ng-value='trial'
                       ng-if='trial.show && graphController.canEditTrial(trial)'>
                  {{trial.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container ng-if="graphController.isShowSelectSeriesInput()">
              <label>{{ ::'graph.selectSeriesToEdit' | translate }}</label>
              <md-select ng-model='graphController.activeSeries'
                     ng-change='graphController.activeSeriesChanged()'
                     class='graph-select'
                     ng-disabled='graphController.isDisabled'>
                <md-option ng-repeat='series in graphController.series'
                       ng-value='series'>
                  {{series.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <md-button class='md-accent'
                     ng-click='graphController.resetSeries()'
                     ng-if='graphController.showResetSeriesButton() && graphController.activeSeries.canEdit'
                     ng-disabled='graphController.isDisabled'>
                <md-icon> restore </md-icon> {{ ::'graph.resetSeries' | translate }}
              </md-button>
            </md-input-container>
            <md-input-container ng-if='graphController.showUndoButton'>
              <md-button class='md-accent'
                     ng-click='graphController.undoClicked()'
                     ng-disabled='graphController.isDisabled'>
                <md-icon>undo</md-icon> {{ ::'undo' | translate }}
              </md-button>
            </md-input-container>
          </div>
          <div class='component__actions'>
            <md-button class='md-accent'
                   ng-click='graphController.newTrialButtonClicked()'
                   ng-if='graphController.componentContent.canCreateNewTrials'
                   ng-disabled='graphController.isDisabled'>
              <md-icon> add </md-icon> {{ ::'graph.newTrial' | translate }}
            </md-button>
            <md-button class='md-accent'
                   ng-click='graphController.resetGraph()'
                   ng-if='graphController.showResetGraphButton()'
                   ng-disabled='graphController.isDisabled'>
              <md-icon> restore </md-icon> {{ ::'graph.resetGraph' | translate }}
            </md-button>
            <md-button class='md-accent md-primary'
                ng-click='graphController.snipGraph($event)'
                ng-if='::graphController.isAddToNotebookEnabled()'
                ng-disabled='graphController.isDisabled'>
              <md-icon> note_add </md-icon>  {{ ::'ADD_TO_NOTEBOOK' | translate:{label:graphController.notebookConfig.label} }}
            </md-button>
            <md-button class='md-accent' ng-if='graphController.isStudentAttachmentEnabled'
                   ng-click='nodeController.showStudentAssets($event, component.id, graphController.isDisabled)'
                   ng-disabled='graphController.isDisabled'>
              <md-icon>image</md-icon> {{ ::'graph.importData' | translate }}
            </md-button>
          </div>
          <div layout='column'>
            <div layout='row'>
              <div layout='column'
                 style='width: 80;'
                 ng-if='!graphController.yAxisLocked'>
                <md-input-container>
                  <label>{{ ::'graph.yMax' | translate }}</label>
                  <input type='number'
                       style='width: 60'
                       ng-model='graphController.yAxis.max'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='graphController.studentDataChanged()'
                       ng-disabled='graphController.isDisabled'/>
                </md-input-container>
                <span flex></span>
                <md-input-container>
                  <label>{{ ::'graph.yMin' | translate }}</label>
                  <input type='number'
                       style='width: 60'
                       ng-model='graphController.yAxis.min'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='graphController.studentDataChanged()'
                       ng-disabled='graphController.isDisabled'/>
                </md-input-container>
              </div>
              <div style="width: 100%;">
                <highchart id='{{::graphController.chartId}}' config='graphController.chartConfig'></highchart>
              </div>
            </div>
            <div layout='row'
               ng-if='!graphController.componentContent.xAxis.locked'>
              <div layout='row'
                 style='width: 100%;'>
                <md-input-container>
                  <label>{{ ::'graph.xMin' | translate }}</label>
                  <input type='number'
                       style='width: 60'
                       ng-model='graphController.xAxis.min'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='graphController.studentDataChanged()'
                       ng-disabled='graphController.isDisabled'/>
                </md-input-container>
                <span style='width: {{graphController.xAxisLimitSpacerWidth}};'></span>
                <md-input-container>
                  <label>{{ ::'graph.xMax' | translate }}</label>
                  <input type='number'
                       style='width: 60'
                       ng-model='graphController.xAxis.max'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='graphController.studentDataChanged()'
                       ng-disabled='graphController.isDisabled'/>
                </md-input-container>
              </div>
            </div>
          </div>
          <div ng-if='::graphController.isSaveOrSubmitButtonVisible()'
             class='component__actions' layout='row' layout-align='start center'>
            <md-button class='md-raised md-primary'
                   ng-click='graphController.saveButtonClicked()'
                   ng-if='::graphController.isSaveButtonVisible'
                   ng-disabled='graphController.isDisabled || !graphController.isDirty'>{{ ::'SAVE' | translate }}</md-button>
            <md-button class='md-raised md-primary'
                   ng-click='graphController.submitButtonClicked()'
                   ng-if='::graphController.isSubmitButtonVisible'
                   ng-disabled='graphController.isDisabled || !graphController.isSubmitDirty || graphController.isSubmitButtonDisabled'>{{ '::SUBMIT' | translate }}</md-button>
            <span ng-if='graphController.saveMessage.text'
                class='component__actions__info md-caption'>
              {{graphController.saveMessage.text}} <span class='component__actions__more'><md-tooltip md-direction='top'>{{ graphController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}</md-tooltip><span am-time-ago='graphController.saveMessage.time'></span></span>
            </span>
          </div>
        </div>
      </div>
      <component-annotations ng-if='graphController.mode === "student"'
                   [annotations]='graphController.latestAnnotations'
                   [max-score]='graphController.componentContent.maxScore'></component-annotations>
      <div style="display:none">
        <canvas id="{{::graphController.hiddenCanvasId}}"></canvas>
      </div>
    </div>
  </div>
</div>
