*~
*.class
*.DS_Store
build
.classpath
.factoryPath
.vscode
.jspm
.m2
.npm
.v8flags*
.sts4-cache/*
node_modules
target
src/main/webapp/wise5/authoringTool/dist
src/main/webapp/wise5/classroomMonitor/dist
src/main/webapp/wise5/vle/dist
src/main/webapp/wise5/teacher/dist
src/main/webapp/site/dist
src/main/webapp/wise5/jspm_packages
src/main/webapp/wise5/node_modules
src/main/resources/wise.properties
src/main/resources/application.properties
*.bak
.idea
!.idea/compiler.xml
wise.iml
*.sass-cache
npm-debug.log
hsqldb
hsqldb_test
src/main/webapp/curriculum/*
!src/main/webapp/curriculum/demo/
!src/main/webapp/curriculum/e2e-test1/
.classpath
tokens/
