*~
*.class
*.DS_Store
build
.jspm
.m2
.npm
.v8flags*
node_modules
target
src/main/webapp/wise5/jspm_packages
src/main/webapp/wise5/node_modules
src/main/resources/wise.properties
*.bak
.idea
wise.iml
*.sass-cache
npm-debug.log
hsqldb
hsqldb_test
src/main/webapp/curriculum/*
!src/main/webapp/curriculum/demo/
!src/main/webapp/curriculum/e2e-test1/
