<div class="account-menu__caret" tabindex="0"></div>
<md-list class="account-menu__users">
    <md-list-item>
        <div class="md-avatar">
            <md-icon class="md-48" style="color: {{themeCtrl.getAvatarColorForWorkgroupId(themeCtrl.workgroupId)}};"> account_circle </md-icon>
        </div>
        <div class="md-list-item-text">
            <span ng-repeat="userName in themeCtrl.workgroupUserNames">{{ userName.name }}<span ng-if="!$last">,&nbsp;</span></span>
        </div>
    </md-list-item>
</md-list>
<md-divider></md-divider>
<div class="account-menu__actions" layout="row">
    <md-button id="exitButton" class="md-primary" ng-click="vleController.goHome()">Exit</md-button>
    <span flex></span>
    <md-button id="logOutButton" class="md-primary" ng-click="vleController.logOut()">Sign Out</md-button>
</div>
