<div class="account-menu__caret" tabindex="0"></div>
<md-list class="account-menu__users">
    <md-subheader>Project Team</md-subheader>
    <md-list-item ng-repeat="name in themeCtrl.workgroupUserNames">
        <div class="md-avatar">
            <md-icon> account_circle </md-icon>
        </div>
        <span>{{ name }}</span>
    </md-list-item>
</md-list>
<md-divider></md-divider>
<div class="account-menu__actions" layout="row">
    <md-button id="exitButton" class="md-primary" ng-click="vleController.goHome()">Exit</md-button>
    <span flex></span>
    <md-button id="logOutButton" class="md-primary" ng-click="vleController.logOut()">Sign Out</md-button>
</div>
