<md-dialog aria-label="List dialog">
    <md-toolbar md-theme="light">
        <div class="md-toolbar-tools">
            <h2>Recent work for this item</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <md-icon aria-label="Close dialog"> close </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content">
        <div class="component-revision" ng-repeat="item in items" ng-if="$index < 5">
            <div class="component-revision__content"><componentstatehtml componentstate="{{item}}"></componentstatehtml></div>
            <div class="component-revision__actions md-body-1" flex layout="row" layout-align="start center">
                <!--<span ng-if="item.isAutoSave">Auto-saved</span>
                <span ng-if="!item.isAutoSave && !item.isSubmit">Saved</span>
                <span ng-if="!item.isAutoSave && item.isSubmit">Submitted</span>-->
                <span class="md-caption" title="{{item.clientSaveTime | amCalendar}}">{{item.clientSaveTime | amTimeAgo}}</span>
                <span flex></span>
                <a ng-if="allowRevert" ng-click="revertWork(item)">Revert</a>
            </div>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="close()" class="md-primary">Close</md-button>
    </div>
</md-dialog>
