@import '~@angular/material/theming';

// Define a custom mixin for common styles
@mixin common-setup() {
  // Define a custom typography config
  $custom-typography: mat-typography-config(
    $body-1: mat-typography-level(16px, 22px, 400),
    $body-2: mat-typography-level(16px, 22px, 500),
    $caption: mat-typography-level(14px, 20px, 400),
    $subheading-1: mat-typography-level(17px, 24px, 400),
    $subheading-2: mat-typography-level(17px, 24px, 500),
    $headline: mat-typography-level(24px, 32px, 500)
  );

  // Override specific Material typography levels
  .mat-caption, .mat-small {
    @include mat-typography-level-to-styles($custom-typography, caption);
  }

  &.mat-typography, .mat-body, .mat-body-1 {
    @include mat-typography-level-to-styles($custom-typography, body-1);
  }

  .mat-body-2 {
    @include mat-typography-level-to-styles($custom-typography, body-2);
  }

  h4, .mat-subheading-1 {
    @include mat-typography-level-to-styles($custom-typography, subheading-1);
  }

  h3, .mat-subheading-2 {
    @include mat-typography-level-to-styles($custom-typography, subheading-2);
  }

  h1, .mat-headline {
    @include mat-typography-level-to-styles($custom-typography, headline);
  }

  h1, h2, .mat-display-1, .mat-display-2, .mat-display-3, .mat-display-4 {
    font-family: Raleway, sans-serif;
  }

  h1 {
    .mat-icon {
      @include mat-icon-size(mat-font-size($config, headline));
    }
  }

  h2 {
    .mat-icon {
      @include mat-icon-size(mat-font-size($config, title));
    }
  }

  .mat-display-1 {
      margin-bottom: 36px;

    .mat-icon {
      @include mat-icon-size(mat-font-size($config, display-1));
    }
  }

  .mat-display-2 {
    margin-bottom: 40px;

    .mat-icon {
      @include mat-icon-size(mat-font-size($config, display-2));
    }
  }

  form {
    h1, h2, h3 {
      font-weight: 500;
    }
  }

  .mat-button, .mat-raised-button, .mat-flat-button, .mat-stroked-button {
    min-width: 0;
  }

  .mat-raised-button, .mat-fab, .mat-mini-fab {
    &:not(.mat-icon-button) {
      &:not([class*=mat-elevation-z]) {
        @include mat-elevation(3);
      }
    }

    &[disabled] {
      box-shadow: none;
    }
  }

  .mat-divider-horizontal {
    margin: 16px 0;
  }

  .mat-menu-content {
    .mat-divider-horizontal {
      margin: 8px 0;
    }
  }

  .mat-card-actions {
    margin-left: 0;
    margin-right: 0;
  }

  .mat-card {
    border-radius: $card-border-radius;
    padding: 16px;

    >.mat-card-actions:last-child {
      margin-bottom: 0;
    }

    .mat-divider-horizontal {
      margin: 0;
    }
  }

  .mat-card--button {
    cursor: pointer;
    border-radius: $button-border-radius;
    @include mat-elevation(3);
  
    &:hover, &:focus {
      outline: none;
      @include mat-elevation(4);
    }
  }

  .mat-dialog-container {
    border-radius: $card-border-radius;
  }

  .mat-dialog-content--scroll {
    border-bottom: 1px solid;
    border-top: 1px solid;
  }

  .mat-dialog-actions {
    padding: 16px 0 0;
    margin-bottom: 0;
  }

  .mat-accordion .mat-expansion-panel {
    @include mat-elevation(3);
    @include mat-elevation-transition;

    &.mat-expanded {
      @include mat-elevation(6);
    }

    &:not(.mat-expanded) {
      border-radius: $button-border-radius;
      
      .mat-expansion-panel-header {
        border-radius: $button-border-radius;
      }
    }
  }

  .mat-expansion-panel-header {
    font-weight: 500;
  }

  .mat-form-field {
    font-size: 14px;
  }

  .mat-tab-label-active {
    opacity: 1;
  }

  td {
    &.mat-cell, &.mat-footer-cell, &.mat-header-cell {
      padding: 4px 8px 4px 0;
    }
  }
}

// Define a custom mixin that takes in the current material theme and colors
@mixin theme-setup($theme, $colors) {
  // Include angular material theme
  @include angular-material-theme($theme);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // Create theme-specific styles
  color: map-get($foreground, text);

  a {
    &:not(.mat-button):not(.mat-raised-button):not(.mat-menu-item):not(.mat-flat-button):not(.mat-stroked-button):not(.mat-icon-button):not(.mat-tab-link) {
      color: map-get($colors, primary);

      // Set classes for each named color in the $colors map
      @each $key, $value in $colors {
        &.#{$key} {
          color: $value;
        }
      }
    }
  }

  a.active {
    color: map-get($colors, primary);
  }

  .app-background {
    background-color: map-get($colors, app-bg);
  }

  .app-bar {
    background-color: map-get($background, app-bar);
  }

  .avatar--icon {
    background-color: map-get($colors, disabled-text);
  }

  .content-block, .info-block, .notice {
    background-color: map-get($colors, notice-bg);
  }

  .content-block__title {
    border-color: map-get($background, focused-button);
  }

  .cta__headline {
    border-color: map-get($colors, notice-bg);
  }

  .cta__wrap, .blurb {
    background-color: map-get($background, card);
  }

  .can-highlight {
    transition: 1s background-color;
  }

  .mat-flat-button, .mat-raised-button, .mat-fab, .mat-mini-fab {
    &.mat-secondary-text {
      background-color: map-get($foreground, secondary-text);
      color: white;
    }

    &.mat-success {
      background-color: map-get($colors, success);
      color: map-get($colors, success-contrast);
    }

    &.mat-info {
      background-color: map-get($colors, info);
      color: map-get($colors, info-contrast);
    }
  }

  .mat-dialog-content--scroll {
    background-color: map-get($colors, notice-bg);
    border-color: map_get($background, background);
  }

  .mat-menu-item {
    &.active {
      background-color: map-get($background, hover);

      .mat-icon {
        color: map-get($colors, primary);
      }
    }
  }

  .mat-form-field-prefix, .mat-form-field-suffix {
    color: map-get($foreground, secondary-text);
  }

  figure {
    &.image {
      border: 1px solid map-get($background, status-bar);
    }
  }

  // Set classes for each named color in the $colors map
  @each $key, $value in $colors {
      .#{$key} {
        color: $value;
      }

      .#{$key}-bg {
        background-color: $value;
      }
  }
}

// Set Angular Material icon size
@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

// Set Angular Material icon button size (use mat-icon size as the $size parameter)
@mixin mat-icon-button-size($size: 24px) {
  $button-size: ($size*1) + 16px;
  height: $button-size;
  width: $button-size;
  line-height: $button-size;

  .mat-icon {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
  }
}
