@import '~@angular/material/theming';

// Define a custom mixin that takes in the current material theme and colors
@mixin theme-setup($theme, $colors) {
  // Include angular material theme
  @include angular-material-theme($theme);
  $background: map-get($theme, background);

  // Create theme-specific styles
  a {
    &:not(.mat-button):not(.mat-raised-button):not(.mat-menu-item) {
      color: map-get($colors, primary);
    }
  }

  a.active {
    color: map-get($colors, primary);
  }

  .content-block {
    background-color: map-get($background, background);
  }

  .notice, .info-block {
    background-color: map-get($colors, notice-bg);
  }

  .cta {
    .mat-button-focus-overlay {
      display: none;
    }
  }

  .cta__headline {
    background-color: map-get($background, card);
    border-color: map-get($colors, notice-bg);
  }

  .mat-button {
    &:not(.mat-icon-button) {
      background-color: map-get($colors, btn-bg);
    }
  }

  .mat-button, .mat-raised-button {
    &:not(.mat-icon-button) {
      border-radius: $card-border-radius;
    }
  }

  .mat-raised-button {
    &:not(.mat-icon-button) {
      &:not([class*=mat-elevation-z]) {
        @include mat-elevation(3);
      }
    }
  }

  .mat-card {
    border-radius: $card-border-radius;
  }

  .mat-dialog-container {
    border-radius: 3px;
  }

  .mat-dialog-actions {
    padding: 12px 0 0;
    margin-bottom: 0;
  }

  .mat-expansion-panel {
    @include mat-elevation(3);
    @include mat-elevation-transition;

    &.mat-expanded {
      @include mat-elevation(6);
    }
  }

  // Set classes for each named color in the $colors map
  @each $key, $value in $colors {
      .#{$key} {
        color: $value;
      }

      .#{$key}-bg {
        background-color: $value;
      }
  }
}

// Set Angular Material icon size
@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

// Set Angular Material icon button size (use mat-icon size as the $size parameter)
@mixin mat-icon-button-size($size: 24px) {
  $button-size: $size + 16px;

  height: $button-size;
  width: $button-size;
  line-height: $button-size;

  .mat-icon {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
  }
}
