@import '~@angular/material/theming';

// Define a custom mixin that takes in the current material theme and colors
@mixin theme-setup($theme, $colors) {
  // Include angular material theme
  @include angular-material-theme($theme);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  // Create theme-specific styles
  color: map-get($foreground, text);

  a {
    &:not(.mat-button):not(.mat-raised-button):not(.mat-menu-item):not(.mat-flat-button):not(.mat-stroked-button):not(.mat-icon-button) {
      color: map-get($colors, primary);

      // Set classes for each named color in the $colors map
      @each $key, $value in $colors {
        &.#{$key} {
          color: $value;
        }
      }
    }
  }

  a.active {
    color: map-get($colors, primary);
  }

  form {
    h1, h2, h3 {
      font-weight: 500;
    }
  }

  .app-background {
    background-color: map-get($colors, control-bg);
  }

  .content-block, .info-block, .notice {
    background-color: map-get($colors, notice-bg);
  }

  .cta__headline {
    border-color: map-get($colors, notice-bg);
  }

  .cta__wrap, .blurb {
    background-color: map-get($background, card);
  }

  .mat-button, .mat-raised-button, .mat-flat-button, .mat-stroked-button {
    min-width: 0;
  }

  .mat-raised-button {
    &[disabled] {
      box-shadow: none;
    }
  }

  .mat-card {
    border-radius: $card-border-radius;
  }

  .mat-dialog-container {
    border-radius: $card-border-radius;
  }

  .mat-dialog-content--scroll {
    background-color: map-get($colors, notice-bg);
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: map_get($background, background);
  }

  .mat-dialog-actions {
    padding: 16px 0 0;
    margin-bottom: 0;
  }

  .mat-expansion-panel {
    @include mat-elevation(3);
    @include mat-elevation-transition;

    &.mat-expanded {
      @include mat-elevation(6);
    }
  }

  .mat-menu-item {
    &.active {
      background-color: map-get($background, hover);

      .mat-icon {
        color: map-get($colors, primary);
      }
    }
  }

  .mat-tab-label-active {
    opacity: 1;
  }

  .mat-form-field-prefix, .mat-form-field-suffix {
    color: map-get($foreground, secondary-text);
  }

  td {
    &.mat-cell, &.mat-footer-cell, &.mat-header-cell {
      padding: 4px 8px 4px 0;
    }
  }

  // Set classes for each named color in the $colors map
  @each $key, $value in $colors {
      .#{$key} {
        color: $value;
      }

      .#{$key}-bg {
        background-color: $value;
      }
  }
}

// Set Angular Material icon size
@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

// Set Angular Material icon button size (use mat-icon size as the $size parameter)
@mixin mat-icon-button-size($size: 24px) {
  $button-size: $size + 16px;

  height: $button-size;
  width: $button-size;
  line-height: $button-size;

  .mat-icon {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
  }
}
