<div class="main app-background">
  <div class="content">
    <header fxLayout="row" class="content__header">
      <h1 class="accent"
          fxLayoutAlign="center center"
          ngClass="mat-display-1"
          [ngClass.xs]="{ 'mat-display-1': false }">
        <mat-icon>widgets</mat-icon>
        <span>WISE Features</span>
      </h1>
    </header>
    <section class="section"
             fxLayout="column"
             fxLayout.gt-xs="row"
             fxLayoutAlign="center center"
             fxLayoutGap="32px">
      <div fxFlex="100%" fxFlex.gt-xs="50%">
        <h2 class="accent-1">A powerful online platform for designing, developing, and implementing science inquiry activities</h2>
        <p>Since 1997, we have served a growing community of more than 20,000 teachers, researchers, and curriculum designers, as well as over 200,000 K-12 students around the world.</p>
      </div>
      <div fxFlex="100%" fxFlex.gt-xs="50%"></div>
    </section>
    <section class="section"
             fxLayout="column"
             fxLayout.gt-xs="row"
             fxLayoutAlign="center center"
             fxLayoutGap="32px"
             fxLayoutGap.gt-xs="32px">
      <div fxFlex="100%" fxFlex.gt-xs="50%" fxFlexOrder="2" fxFlexOrder.gt-xs="1">
        <div class="content-block">
          <p class="center mat-subheading-2">WISE students collaborate to:</p>
          <ul class="list--icons">
            <li fxLayoutAlign="start start">
              <mat-icon class="accent">public</mat-icon>
              <span>Explore issues of social importance</span>
            </li>
            <li fxLayoutAlign="start start">
              <mat-icon class="accent">live_help</mat-icon>
              <span>Pose relevant questions and make predictions</span>
            </li>
            <li fxLayoutAlign="start start">
              <mat-icon class="accent">gamepad</mat-icon>
              <span>Experiment with computational models</span>
            </li>
            <li fxLayoutAlign="start start">
              <mat-icon class="accent">compare</mat-icon>
              <span>Evaluate and distinguish discrepant information</span>
            </li>
            <li fxLayoutAlign="start start">
              <mat-icon class="accent">message</mat-icon>
              <span>Construct explanations through reflection and discussion</span>
            </li>
            <li fxLayoutAlign="start start">
              <mat-icon class="accent">build</mat-icon>
              <span>Design and build evidence-based solutions</span>
            </li>
          </ul>
        </div>
      </div>
      <div fxFlex="100%" fxFlex.gt-xs="50%" fxFlexOrder="1" fxFlexOrder.gt-xs="2">
        <h2 class="accent-1">Inquiry-Based Learning</h2>
        <p>WISE engages students in the methods of real scientists and engineers. We take a multidisciplinary approach to science so that students learn inquiry through activities that emphasize essential skills in reading, writing, and multimedia literacy. Many of our units are also project-based and feature hands-on design challenges.</p>
        <p>With WISE inquiry units, students not only learn skills that prepare them to be successful in STEM, they also learn skills necessary to be responsible, critical thinking citizens.</p>
      </div>
    </section>
    <section class="section"
             fxLayout="column"
             fxLayout.gt-xs="row"
             fxLayoutAlign="center center"
             fxLayoutGap="32px">
      <div fxFlex="100%" fxFlex.gt-xs="50%">
        <h2 class="accent-1">Standards-Aligned Curricula</h2>
        <p>WISE offers a growing collection of curriculum units that address key conceptual difficulties students encounter in science. Units are carefully crafted to supplement teachers' core curricular scope and sequence and are iteratively refined through classroom-based research. They support <a href="http://www.nextgenscience.org" target="_blank">Next Generation Science Standards</a>&nbsp;<a href="http://www.nextgenscience.org/three-dimensions" target="_blank">3-Dimensional Learning</a> and can be adapted to address local standards.</p>
      </div>
      <div fxFlex="100%" fxFlex.gt-xs="50%"></div>
    </section>
    <section class="section"
             fxLayout="column"
             fxLayout.gt-xs="row"
             fxLayoutAlign="center center"
             fxLayoutGap="32px"
             fxLayoutGap.gt-xs="32px">
      <div fxFlex="100%" fxFlex.gt-xs="50%" fxFlexOrder="2" fxFlexOrder.gt-xs="1">

      </div>
      <div fxFlex="100%" fxFlex.gt-xs="50%" fxFlexOrder="1" fxFlexOrder.gt-xs="2">
        <h2 class="accent-1">Powerful Learning Technologies</h2>
        <p>WISE provides a simple user interface, cognitive hints, embedded assessments, and online discussions, as well as tools for drawing, annotation, concept mapping, diagramming, and graphing.</p>
        <p>Students conduct investigations using interactive simulations and models. A notebook tool helps students collect ideas and organize evidence into research and design reports. WISE units promote self-monitoring through collaborative reflection activities as well as automated, personalized guidance and adaptive instruction.</p>
      </div>
    </section>
    <section class="section"
             fxLayout="column"
             fxLayout.gt-xs="row"
             fxLayoutAlign="center center"
             fxLayoutGap="32px">
      <div fxFlex="100%" fxFlex.gt-xs="50%">
        <h2 class="accent-1">Comprehensive Instructional Supports</h2>
        <p>WISE offers an extensive suite of integrated tools that help teachers plan curriculum implementations, monitor real-time progress, gain insights about learning trends, provide feedback, and grade more efficiently using automated scoring systems.</p>
        <p>These tools are continually refined through collaborations with practicing teachers who understand the real challenges of managing modern classrooms. By facilitating these necessary but time-consuming tasks, WISE teachers are free to focus on what makes them indispensable: providing quality instruction to individual students.</p>
      </div>
      <div fxFlex="100%" fxFlex.gt-xs="50%"></div>
    </section>
  </div>
</div>
