<style>
.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}
.node-select--group {
    font-weight: bold
}

.node-select--node {
    margin-left: 10px
}
.active {
    background-color: yellow;
}

.online {
    background-color: lightgreen;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}
table td, table th {
    border: 1px solid black;
}

table tr {
    cursor: pointer;
}
</style>

<div>
    <button ng-repeat='period in nodeProgressController.periods'
            ng-click='nodeProgressController.setCurrentPeriod(period)'
            ng-class="{'active': period.periodName == nodeProgressController.getCurrentPeriod().periodName}">
        {{period.periodName}}
    </button>
</div>
<table>
    <tr>
        <th>Step</th>
        <th>On Step</th>
        <th>Completion</th>
        <th>Average Score</th>
    </tr>
    <tr ng-repeat='item in nodeProgressController.items | toArray | orderBy : "order"'
         ng-class='{online: nodeProgressController.isWorkgroupOnlineOnNode(item.$key)}'
        ng-if='item.order!==0'
        ng-click='nodeProgressController.nodeClicked(item.$key)'
        style='cursor: pointer'>
        <td>{{nodeProgressController.getNodePositionById(item.$key)}} {{nodeProgressController.getNodeTitleByNodeId(item.$key)}}</td>
        <td align='right'>{{nodeProgressController.getNumberOfStudentsOnNode(item.$key)}}</td>
        <td align='right'>{{nodeProgressController.getNodeCompletion(item.$key)}}%</td>
        <td align='right'>{{nodeProgressController.getNodeAverageScore(item.$key)}}</td>
    </tr>
</table>

</group>
