<div class="view-content--with-sidemenu" ng-show="nodeProgressController.isGroupNode(nodeProgressController.nodeId)">
    <div class="l-constrained l-constrained-md md-padding nav">
        <div class="flex md-subhead content-head" layout="row" layout-align="start center" layout-wrap>
            <div layout="row" layout-align="start center">
                <h2 class="accent-2">
                    <div class="content-head__item">{{nodeProgressController.getNodeCompletion('group0')}}%<span class="md-subhead" translate="completion"></span></div>
                </h2>
                <div layout-margin>
                    <period-select></period-select>
                </div>
            </div>
            <span flex></span>
            <md-button ng-show="nodeProgressController.showRubricButton"
                       ng-click="nodeProgressController.showRubric($event)"
                       class="primary md-raised">
                <md-icon class="primary"> info_outline </md-icon>
                {{ 'projectInfo' | translate }}
            </md-button>
            <div>
                <md-switch aria-label="Lock student screens switch"
                           ng-model="nodeProgressController.isPaused"
                           ng-change="nodeProgressController.pauseScreensChanged(nodeProgressController.isPaused)">
                    <md-icon ng-class="{'accent-1': nodeProgressController.isPaused}"> lock </md-icon>
                    <md-tooltip ng-if="!nodeProgressController.isPaused" md-direction="top">
                        <span translate="pauseStudentScreens"></span>
                    </md-tooltip>
                    <md-tooltip ng-if="nodeProgressController.isPaused" md-direction="top">
                        <span translate="unpauseStudentScreens"></span>
                    </md-tooltip>
                </md-switch>
            </div>
        </div>

        <div class="md-whiteframe-1dp gray-bg">
            <md-list class="user-list student-select">
                <md-list-item class="list-item list-item--actions" layout-wrap>
                    <div flex-sm="100" flex-xs="100">
                        <workgroup-select></workgroup-select>
                    </div>
                    <span flex></span>
                    <div class="workgroup-progress" layout-align="center center" flex-sm="100" flex-xs="100">
                        <div ng-if="nodeProgressController.currentWorkgroup">
                            <workgroup-progress color="{{ nodeProgressController.getCurrentWorkgroupAvatarColor() }}"
                                                completion="nodeProgressController.getCurrentWorkgroupCompletion()"
                                                display-names="{{ nodeProgressController.getCurrentWorkgroupDisplayNames() }}"
                                                max-score="nodeProgressController.maxScore"
                                                number-of-students="nodeProgressController.getCurrentWorkgroupNumberOfStudents()"
                                                score="nodeProgressController.getCurrentWorkgroupScore()"></workgroup-progress>
                        </div>
                        <div ng-if="!nodeProgressController.currentWorkgroup" class="text-secondary center md-caption md-padding">
                            <span ng-if="nodeProgressController.getCurrentPeriod().periodId === -1">{{ 'showingStatsForAllTeams' | translate }}</span>
                            <span ng-if="nodeProgressController.getCurrentPeriod().periodId !== -1">{{ 'showingStatsForAllTeamsInPeriod' | translate:{periodName: nodeProgressController.getCurrentPeriod().periodName} }}</span>
                        </div>
                    </div>
                </md-list-item>
            </md-list>

            <div class="nav-contents nav-contents--root">
                <div layout="row" layout-wrap layout-align="center start">
                    <nav-item ng-repeat="id in nodeProgressController.rootNode.ids"
                              class="nav-item nav-item--root"
                              ng-class="{'expanded': itemExpanded}"
                              node-id="id"
                              show-position="true"
                              type="'card'"
                              flex="100" flex-sm="50" flex-gt-sm="50"></nav-item>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="view-content--with-sidemenu" ng-if="nodeProgressController.isApplicationNode(nodeProgressController.nodeId)">
    <div class="md-padding" ng-cloak ui-view="nodeView"></div>
</div>
