<style>
.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}
.node-select--group {
    font-weight: bold
}

.node-select--node {
    margin-left: 10px
}
</style>

<div>
    <button ng-repeat='period in nodeProgressController.periods' ng-click='nodeProgressController.setCurrentPeriod(period)'>{{period.periodName}}</button>
    <p>Current Period: {{nodeProgressController.getCurrentPeriod()}}</p>
</div>

<div>{{nodeProgressController.title}}</div>
<div ng-repeat='item in nodeProgressController.items | toArray | orderBy : "order"'
     ng-if='item.order!==0'
     ng-class='{"node-select--group": nodeProgressController.isGroupNode(item.$key), "node-select--node": !nodeProgressController.isGroupNode(item.$key)}'
     ng-click='nodeProgressController.nodeClicked(item.$key)'
     style='cursor: pointer'>
    <h6>{{nodeProgressController.getNodePositionById(item.$key)}} {{nodeProgressController.getNodeTitleByNodeId(item.$key)}}</h6>
</div>
    
</group>