.account-menu {
    border-radius: $card-border-radius;
    padding: 0;
    font-size: $body-font-size-base;
    max-width: 380px;

    @media (min-width: $layout-breakpoint-md) {
        min-width: 380px !important;
    }

    h3 {
        margin: 0;
        font-weight: 300;
    }
}

.account-menu--fixed-height {
    height: $max-menu-height;
}

.account-menu--fixed-width {
    width: 320px;

    @media (min-width: $layout-breakpoint-sm) {
        width: 380px;
    }
}

.account-menu__icon {
    background-color: color('text-light');
    border-radius: 50%;
}

.account-menu__caret {
    position: absolute;
    right: 28px;
    top: -8px;
    outline: none;

    &:before {
        content: '';
        position: absolute;
        border-bottom: 8px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }
}

.account-menu__caret--pause, .account-menu__caret--notification {
    right: 80px;
}

.account-menu__caret--notification--with-pause {
    right: 132px;
}

[dir=rtl] {
  .account-menu__caret {
    right: auto;
    left: 28px;
  }
  .account-menu__caret--pause, .account-menu__caret--notification {
    left:80px;
    right:auto;
  }
  .account-menu__caret--notification--with-pause {
      left: 132px;
      right:auto;
  }
}

.account-menu__info {
    padding: 8px 12px;
}

.account-menu__info__title {
    font-weight: 500;
}

.account-menu__info__team {
    font-weight: 400;
    color: color('text-secondary');
}

.account-menu__users {
    padding: 0;

    md-list-item {
        padding: 0;

        .md-avatar {
            margin: 0 8px 0 0;
            height: 48px;
            width: 48px;
        }
    }
}

.account-menu__progress {
    md-progress-linear {
        transform: rotate(270deg);
        width: 26px;
    }
}

.account-menu__grade {
    position: relative;
    margin-right: 4px;

    md-icon {
        color: color('score');
    }
}

.account-menu__grade__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.account-menu__actions {
    background-color: color('gray-lightest');
}

.account-menu__control {
    padding: 16px;
}
