.status-icon {
    margin: 0 4px;
    z-index: 1;
    vertical-align: bottom;
}

.md-button.status-icon {
    height: auto;
    width: auto;
    min-height: 0;
    line-height: inherit;
    margin: 0 4px;
    padding: 0;
}

.avatar--icon--alert {
    background-color: #ffffff;
}

.avatar--icon--alert__icon {
    font-size: 48px;
    margin: -4px 0 0 -4px;
}
