.graph-select {
    min-width: 150px;
    max-width: 200px;
}

.graph-controls {
    margin: 8px 0;
    padding: 8px 0;
    border: 1px solid color('gray-lighter');
    border-left-width: 0;
    border-right-width: 0;
}
