.component {
    position: relative;
}

.component__wrapper {
    padding: 0 16px;
    margin: 24px 0;
}

.component__content {
    overflow-x: auto;
    font-size: rem(1.5);
    overflow-y: hidden; // TODO: figure out why this is needed after update to ng-material 1.1.1

    @media only screen and (min-width: $layout-breakpoint-xs) {
        padding: 0 8px;
    }
}

h3.component__header, .component-header {
    padding: 8px 12px;
    margin: 0;
    font-size: rem(1.4);
}

.component__rubric {
    position: absolute;
    left: -20px;
    top: 12px;
}

.notebook-enabled {
    .component_content {
        img {
            transition: all 250ms;
            cursor: pointer;
            cursor: copy;
            //position: relative;
            //border: 2px solid transparent;

            &:hover, &:focus {
                box-shadow: 0 0 5px 1px color('accent');
                //border: 2px solid #ffffff;
            }
        }
    }
}

.component__actions {
    .md-button:first-child {
        margin-left: 0;
    }

    .md-button:last-child {
        margin-right: 0;
    }
}

.component__actions__info {
    font-style: italic;
    margin-left: 8px;
    //color: color('accent-1');
    color: color('text-secondary');
}

.component__actions__more {
    border-bottom: 1px dotted;
}

.component__prompt {
    margin-bottom: 8px;
    font-weight: 500;
}

.component__prompt__content {
    display: inline;
}

.component__attachment {
    position: relative;
    margin: 0 8px;
    padding-bottom: 8px;

    @media only screen and (min-width: $layout-breakpoint-xs) {
        padding-top: 8px;
    }
}

.component__add-attachment {
    @media only screen and (max-width: ($layout-breakpoint-xs - 1)) {
        width: 100%;
    }
}

.component__attachment__content {
    max-height: 100px;
    width: auto;
}

.component__attachment__delete {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 0;
    background-color: rgba(255, 255, 255, 0.75) !important;
    border-radius: 0;
    padding: 4px;
    margin: 0;

    //@media only screen and (min-width: $layout-breakpoint-sm) {
    //margin-top: 8px;
    //}

    > md-icon {
        margin-top: 0;
    }
}

.component__revision {
    margin: 8px 0;
    padding: 8px;

    &:nth-child(odd) {
        background-color: color('gray-lightest');
    }
}

.component__revision__content {
    padding: 4px 0 8px 0;
    border-bottom: 1px solid color('gray-light');
}

.component__revision__actions {
    color: color('gray-darker');
    padding-top: 4px;
}
