.component--grading {
    position: relative;

    &:not(:last-child) {
        > div {
            border-bottom: 1px dashed color('gray-dark');
        }
    }

    .component-container {
        display: block;
    }

    .component-wrapper {
        padding: 0;
        margin: 0;
    }

    .component {
        padding: 16px;
    }

    .component__actions__info {
        margin: 0 4px;
    }
}
