// Variables

// Base
.component__content--Discussion {
    overflow: hidden;
}

.discussion-content {
    background-color: color('gray-lighter');
    //margin: 0 0 -16px;
    box-shadow: inset 0 0 3px color('gray-dark');
}

.discussion-posts {
    padding: 12px 12px 8px;

    @media only screen and (min-width: $layout-breakpoint-md) {
        padding: 16px 16px 0;
    }
}

.discussion-post {
    margin: 0 auto 16px;
    max-width: $layout-breakpoint-xs;

    @media only screen and (min-width: $layout-breakpoint-xs) {
        margin-bottom: 24px;
    }

    @media only screen and (min-width: $layout-breakpoint-md) {
        margin-bottom: 32px;
    }

    // angular-material fix for when discussion posts are shown inside an md-list-item (e.g. in the grading tool)
    md-divider {
        position: relative;
        width: auto;
    }
}



.discussion-post__attachment {
    max-width: 100%;
    height: auto !important;
    margin-top: 16px;
}

.discussion-new {
    background-color: #ffffff;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    transition: all 250ms;
    transform: scale(0.95);
}

.discussion-new--focused {
    transform: scale(1);
}

md-input-container.discussion-new__input-container {
    margin: 0;
    padding: 0;

    > textarea.md-input {
        min-height: 68px;
    }
}

.discussion-new__input--textarea, .input-container textarea.discussion-new__input--textarea {
    padding: 8px;
    border: 0 none;
}

.discussion-new__actions {
    padding: 0 8px;

    .md-button {
        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.discussion-new__attachment {
    padding: 0;
    margin: 0 0 8px;
}

.discussion-new__attachment__content {
    margin-top: 0;
    margin-bottom: 16px;
}





