// Variables

// Base
.component__content--Discussion {
    overflow: hidden;
}

.discussion-content {
    background-color: color('gray-lighter');
    //margin: 0 0 -16px;
    box-shadow: inset 0 0 3px color('gray-dark');
}

.discussion-posts {
    padding: 12px 12px 8px;

    @media only screen and (min-width: $layout-breakpoint-md) {
        padding: 16px 16px 0;
    }
}

.discussion-post {
    margin: 0 auto 16px;
    max-width: $layout-breakpoint-xs;

    @media only screen and (min-width: $layout-breakpoint-xs) {
        margin-bottom: 24px;
    }

    @media only screen and (min-width: $layout-breakpoint-md) {
        margin-bottom: 32px;
    }

    // angular-material fix for when discussion posts are shown inside an md-list-item (e.g. in the grading tool)
    md-divider {
        position: relative;
        width: auto;
    }
}

.discussion-post__contents {
    padding: 16px;
}

.discussion-post__avatar, md-list-item > .md-avatar.discussion-post__avatar {
    margin-right: 8px;
}

.discussion-post__avatar--reply, md-list-item > .md-avatar.discussion-post__avatar--reply {
    margin-top: 8px;
}


.discussion-post__user, md-list-item .md-list-item-text h3.discussion-post__user {
    padding-bottom: 4px;
    font-weight: 700;
    line-height: 1.3;
    overflow: visible;
    white-space: normal;
}

.discussion-post__date {
    color: color('gray-dark');
}

.discussion-post__date--reply {
    margin-left: 8px;
    font-weight: 400;
}

.discussion-post__content {
    margin-top: 16px;
    white-space: pre-wrap;
}

.discussion-post__attachment {
    max-width: 100%;
    height: auto !important;
    margin-top: 16px;
}

.discussion-new {
    background-color: #ffffff;
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    transition: all 250ms;
    transform: scale(0.95);
}

.discussion-new--focused {
    transform: scale(1);
}

md-input-container.discussion-new__input-container {
    margin: 0;
    padding: 0;

    > textarea.md-input {
        min-height: 68px;
    }
}

.discussion-new__input--textarea, .input-container textarea.discussion-new__input--textarea {
    padding: 8px;
    border: 0 none;
}

.discussion-new__actions {
    padding: 0 8px;

    .md-button {
        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.discussion-new__attachment {
    padding: 0;
    margin: 0 0 8px;
}

.discussion-new__attachment__content {
    margin-top: 0;
    margin-bottom: 16px;
}

.discussion-comments {
    padding: 0;
}

.discussion-comments__contents {
    background-color: color('gray-lightest');
}

.discussion-comments__header {
    background-color: transparent;
    padding: 0;

    .md-subheader-inner {
        padding-bottom: 8px;
    }
}

.discussion-comments__list {
    padding: 0;
    max-height: 9999px;
    overflow-y: auto;

    @media only screen and (min-width: $layout-breakpoint-xs) {
        max-height: 400px;
    }
}

.input--textarea.discussion-reply__input, .input-container textarea.input--textarea.discussion-reply__input {
    background-color: #ffffff;
    padding: 4px;
    font-size: ($body-font-size-base) - 1;
    border: 0 none;
    margin-left: -1px;
    margin-bottom: 0;
    resize: none;
}

.discussion-reply, md-list-item.discussion-reply {
    margin: 0 12px 8px;
    padding: 0;
    min-height: 56px;
}

.discusstion-reply__details, md-list-item .md-list-item-text.discusstion-reply__details {
    margin: 8px 0;
}

.discussion-post__user--reply, md-list-item .md-list-item-text h3.discussion-post__user--reply {
    font-size: ($body-font-size-base) - 1;
    padding: 0;
    margin: 0;
}

.discusstion-reply__content {
    margin-top: 2px;

    p {
        font-weight: 400 !important;
        color: color('body') !important;
    }
}

.discussion-new-reply {
    padding: 8px;
}

.discussion-new-reply__input-container {
    padding-top: 0;
    margin: 0;

    .md-errors-spacer {
        display: none;
    }
}

.discussion-new-reply__actions {
    margin-left: 8px;

    .md-button {
        margin-top: 0;
        margin-bottom: 0;
    }
}
