.component-revisions {
    .component {
        padding: 0;
        margin: 0;
    }

    .component__content {
        padding: 0;
    }

    .component__wrapper {
        margin: 16px 0;
    }

    .md-resize-handle {
        display: none;
    }
}

.component-revisions__item, md-list-item.component-revisions__item {
    padding: 0;
}

.component-revisions__item--latest {
    margin-bottom: 24px;
}

.component-revisions__item__text {

}

.component-revisions__annotation-label {
    margin-right: 8px;
}

.component-revisions__has-auto-and-teacher {
    padding-top: 8px;
    margin-top: 8px;
    border-top: 1px solid color('gray-light');
}
