// Variables
$input-action-width: 44px;
$input-action-vertical-offset: 6px;
$input-action-vertical-offset-richtext: -7px;

// Base
.input-container {
    padding-top: 12px;
}

.input-container--component {
    margin-bottom: 0;
}

.input-container--open-response {
    &.md-has-icon {
        padding-left: 0;
    }

    .md-errors-spacer {
        display: none;
    }
}

.input-wrapper {
    position: relative;
}

.input-wrapper--focused {
    .input--textarea__action md-icon {
        color: color('primary');
    }
}

.input--textarea, .input-container textarea.input--textarea {
    padding: 8px;
    background-color: color('gray-lightest');
    border: 1px solid color('gray');
    margin-bottom: 8px;

    &:focus {
        background-color: #ffffff;
    }

    &[disabled] {
        color: color('text-secondary');
    }
}

.input-container textarea.input--textarea {
    width: 100%;
}

.input--textarea--disabled {
    color: color('text-secondary');
}

.input--textarea__action {
    position: absolute;
    right: -4px;

    &[disabled] md-icon {
        color: color('text-disabled') !important;
    }
}

.input--textarea__action--notebook {
    top: $input-action-vertical-offset;

    .input-wrapper--richtext & {
        top: $input-action-vertical-offset-richtext
    }
}

.input--textarea__action--revision {
    bottom: $input-action-vertical-offset;

    .input-wrapper--richtext & {
        bottom: ($input-action-vertical-offset-richtext + 2px);
    }

}

.input-label, md-input-container:not(.md-input-invalid):not(.md-input-focused).md-input-has-value label.input-label {
    line-height: 1.2;
    color: color('text');

    &.input-label--focused {
        color: color('primary');
    }
}

.autocomplete {
    input {
        text-overflow: ellipsis;
        overflow: hidden;
        word-wrap: none;
        font-weight: 500;
        color: color('text-secondary');
    }
}

.autocomplete--minwidth {
    @media only screen and (min-width: $layout-breakpoint-xs) {
        min-width: 300px;
    }

    @media only screen and (min-width: $layout-breakpoint-sm) {
        min-width: 300px;
    }
}

.autocomplete--flat {
    md-autocomplete-wrap {
        background-color: #ffffff;

        &:not(.md-menu-showing) {
            box-shadow: none;
            background-color: color('gray-lighter');
        }
    }
}

.select__header {
    height: $menu-item-height;

    input {
        height: 100%;
        width: 100%;
        padding: 0 8px;
        outline: none;
        border: 0 none;
        font-size: rem(1.4);
        font-weight: 500;
    }
}
