.list-item {
    background-color: #ffffff;
    border-bottom: 1px solid color('gray-lighter');

    .autocomplete {
        margin: 8px 0;
        min-width: 250px;

        li {
            min-width: 250px;
            max-width: 250px;
        }

        md-autocomplete-wrap {
            background-color: #ffffff;

            &:not(.md-menu-showing) {
                box-shadow: none;
                background-color: color('gray-lighter');
            }
        }
    }
}

.list-item--info {
    &._md-button-wrap>div.md-button:first-child {
        border-left: 4px solid color('info') !important;
        margin-left: -4px;
    }
}

.list-item--warn {
    //background-color: lighten(color('warn'), 56%);

    &._md-button-wrap>div.md-button:first-child {
        border-left: 4px solid color('warn') !important;
        margin-left: -4px;
    }
}

.list-item--expanded {
    border-bottom-width: 0;
}

.list-item--actions {
    padding: 0 8px !important;
}

.user-list {
    font-size: rem(1.5);
}
