.menu-progress {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 12px;
    right: 15px;

    path {
        stroke: color('accent-3') !important;
    }
}

.menu-progress-bg {
    border-radius: 50%;
    border: 2.6px solid rgba(255,255,255,0.4);
    height: 26px;
    width: 26px;
    position: absolute;
    top: 12px;
    right: 15px;
}

.side-menu {

}

.side-menu__item {
    font-weight: 600;
    //color: color('text-secondary');
}

.side-menu__icon {
    margin-top: 12px !important;
    margin-right: 12px !important;
    margin-left: 12px;
}
