// 1. Variables
$menu-sidebar-width: 56px;

// 2. Base
.menu-progress {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 12px;
    right: 15px;

    path {
        stroke: color('accent-3') !important;
    }
}

.menu-progress-bg {
    border-radius: 50%;
    border: 2.6px solid rgba(255,255,255,0.4);
    height: 26px;
    width: 26px;
    position: absolute;
    top: 12px;
    right: 15px;
}

.menu-sidenav {

}

.menu-sidenav__item {
    font-weight: 600;
    //color: color('text-secondary');
    font-size: rem(1.4);
}

.menu-sidenav__icon {
    margin-top: 12px !important;
    margin-right: 12px !important;
    margin-left: 12px;
}

.active {
    .menu-sidenav__icon, .menu-sidenav__item {
        color: color('primary');
    }
}

.menu-sidebar {
    position: absolute;
    top: $wise-toolbar-height + $md-toolbar-height;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: $menu-sidebar-width;
    overflow: hidden;
    padding: 8px 0;
    text-align: center;
    border-right: 1px solid color('gray');

    @media only screen and (max-width: ($layout-breakpoint-xs - 1)) {
        display: none;
    }
}

.md-button.md-icon-button.menu-sidebar__link {
    margin-top: 6px;
    margin-bottom: 6px;
}
