// 1. Variables
$menu-sidebar-width: 56px;

// 2. Base
.menu-progress {
    position: absolute;
    top: 10px;
    right: 12px;

    path {
        stroke: color('accent-2') !important;
        stroke-width: 2px;
    }
}
[dir=rtl] .menu-progress {
  right:auto;
  left:12px;
}

.menu-sidenav {

}

.menu-sidenav__item {
    font-weight: 700;
    //color: color('text-secondary');
    font-size: rem(1.4);
}

.menu-sidenav__icon {
    margin-top: 12px !important;
    margin-right: 12px !important;
    margin-left: 12px;
}

.active {
    .menu-sidenav__icon, .menu-sidenav__item {
        color: color('primary');
    }
}

.menu-sidebar {
    position: absolute;
    top: $wise-toolbar-height + $md-toolbar-height;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: $menu-sidebar-width;
    overflow: hidden;
    padding: 8px 0;
    text-align: center;
    border-right: 1px solid color('gray');

    @media only screen and (max-width: ($layout-breakpoint-xs - 1)) {
        display: none;
    }
}
[dir=rtl] .menu-sidebar {
  right:0;
  left:auto;
}

.md-button.md-icon-button.menu-sidebar__link {
    margin-top: 6px;
    margin-bottom: 6px;
}
