.milestone {
  min-width: 196px;
  width: 196px;
  height: 242px;
  background-color: #ffffff;
  padding: 0;

  &.md-button {
    text-transform: none;
  }
}

.milestone__progress {
  background-color: color('gray-lighter');
  border-radius: 50%;
  position: relative;
  margin-bottom: 12px;
}

.milestone__progress__percent {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  color: color('primary');
  font-size: rem(2.8);
  font-weight: 500;
}

.milestone__title {
  font-weight: 700;
  font-size: $body-font-size-base;
  margin-bottom: 12px;
}

.milestone-details {
  section {
    &:not(:first-child) {
      margin-top: 8px;
    }
  }
}

.milestone-details__section {
  background-color: #ffffff;
  padding: 16px;

  > p {
    margin-top: 16px;
    margin-bottom: 0;
  }

  md-list {
    padding: 0;
  }

  .grading {
    padding: 0;
  }
}

.milestone-details__header {
  padding: 12px 16px;
  margin: -16px -16px 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.milestone-details__progress {
  width: 48px;
  margin-right: 8px;
}

.milestone--add {
  &.md-button {
    text-transform: uppercase;
  }
}

.milestone--add__icon {
  height: 96px;
  width: 96px;
  background-color: color('gray-lighter');
  border-radius: 50%;
}
