.node-grading {
    padding-left: 8px;
    padding-right: 8px;

    @media (min-width: $layout-breakpoint-xs) {
        padding-left: 16px;
        padding-right: 16px;
    }

    @media (min-width: $layout-breakpoint-sm) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.nav-item__grading {
    background-color: #ffffff;
    margin-bottom: 16px;
    //padding: 0 16px;

    .component {
        padding: 0;
    }
}

.nav-item__grading__info {
    padding: 12px;
    background-color: color('gray-lightest');
}

.nav-item__grading__timestamp {
    border-bottom: 1px dotted;
}
