#nav {
    position: relative;
}

.nav {
    margin-bottom: 16px;
}

.nav-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.25);
    z-index: 1;

    &.ng-hide {
        opacity: 0;
    }
}

.nav-head {
    color: color('text-secondary');
    font-weight: 500;

    md-icon {
        line-height: 20px;
    }
}

.nav-contents--root {
    padding: 6px 6px 12px;
}

.nav-contents--group {
    background-color: color('gray-light');
    padding: 8px;
}

.nav-contents--root {
    padding: 0;
}

.nav-contents__list {
    padding: 0;

    @media (min-width: $layout-breakpoint-xs) {
        padding: 8px;
    }
}

.nav-item {
    transition: opacity 250ms ease-in-out;

    &.prev {
        md-list-item {
            background-color: color('selected-bg');

            /*&._md-button-wrap>div.md-button:first-child {
                border-left: 4px solid color('primary');
                margin-left: -4px;
            }*/
        }
    }
}

.nav-item--card__content {
    border-top-right-radius: $card-border-radius;
    border-top-left-radius: $card-border-radius;

    &:focus {
        outline: none;

        .nav-item__title > span {
            border-bottom: 1px dashed color('gray');
        }
    }
}

.nav-item--root {
    transition: margin 250ms, box-shadow 500ms;

    &.expanded {
        flex-basis: 100%;
        //max-width: ($layout-breakpoint-md - 100) !important;
        max-width: 100%;
        max-height: none !important;
        margin: 8px auto;
        padding-left: 4px;

        &:first-of-type {
            margin-top: 0;
        }

        //@media only screen and (min-width: $layout-breakpoint-sm) {
        //margin: 8px auto;
        //}
    }
}

//.nav-item--list {
//}

.nav-item--list__info-item {
    padding: 0 16px 0 4px;
    display: inline-block;
}

.nav-item--list__reorder {
    margin-left: 8px;
    color: color('text-disabled');
}

.nav-item--card {

}

.nav-item--card--group {
    &:not(.expanded) {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098),
        0px 1px 5px 0px rgba(0, 0, 0, 0.084), 3px 3px 0px 1px #d5d5d5, 6px 6px 0px 1px #aaaaaa;
    }
}

.nav-item__collapse {
    margin: 0;
}

.nav-item__more {
    border-top: 1px solid color('gray-light');
    border-bottom-right-radius: $card-border-radius;
    border-bottom-left-radius: $card-border-radius;
    padding: 8px 16px;
    min-height: 40px;
}

.nav-item__users {
    height: auto;
    cursor: pointer;
    color: #ffffff;
    margin: 0;
    padding: 1px 6px;

    > md-icon {
        padding-right: 4px;
        color: #ffffff;
    }

    &:hover, &:focus {
        &.success-bg {
            background-color: color('success');
        }
    }
}

.nav-item__title {
    padding-left: 16px;
    line-height: 1.2;
    font-weight: 400;
}
[dir=rtl] .nav-item__title {
    padding-left: auto;
    padding-right: 16px;
}

.nav-item__info {
    padding: 0 8px;
}

.nav-item__progress {
    width: 48px;

    > .md-container {
        top: 0;
    }
}

.nav-item__progress-value {
    margin-left: 8px;
    width: 36px;
}

.progress-wrapper {
    padding: 2px 0;
    cursor: pointer;
}
