// Variables
$input-action-width: 48px;
$input-action-vertical-offset: 0;
$input-action-vertical-offset-richtext: -7px;

// Base
#node {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;

    @media only screen and (min-width: $layout-breakpoint-xs) {
        padding: 8px;
        padding: 24px 16px;
        margin-bottom: 32px;
    }

    @media only screen and (min-width: $layout-breakpoint-sm) {
        padding: 32px;
    }

    &.ng-enter {
        transition: opacity .5s;
        opacity: 0;
    }

    &.ng-enter-active {
        opacity: 1;
    }
}

// TODO: use BEM conventions

.node-notice {
    @media only screen and (min-width: $layout-breakpoint-xs) {
        margin-top: -8px;
        margin-bottom: 16px;
    }

    @media only screen and (min-width: $layout-breakpoint-sm) {
        margin-top: -16px;
    }
}

.node-content {
    padding: 0 0 48px;
    background-color: #ffffff;
    border-radius: $button-border-radius;
    overflow: visible;

    @media only screen and (max-width: $layout-breakpoint-xs - 1) {
        box-shadow: none;
    }

    @media only screen and (min-width: $layout-breakpoint-xs) {
        padding: 0;
        border-top: 2px solid;
        border-bottom: 2px solid;
    }
}

md-content {
    &.node-content {
        background-color: #ffffff;
    }
}

.node-content__rubric {
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    z-index: 1;

    .avatar--icon {
        transform: scale(0.94);

        @media only screen and (max-width: $layout-breakpoint-xs - 1) {
            transform: scale(0.8);
        }
    }
}

.node-icon {
    color: #ffffff;
    vertical-align: inherit;
}

.node-select {
    margin: 0 8px;
    min-width: 0;
    font-weight: 500;
    font-size: $body-font-size-base;

    .md-select-value {
        *:first-child {
            transform: translate3d(0,0,0);
            flex: 1 0 0;
        }

        .node-select__icon {
            display: none;
        }

        .node-select__status {
            display: none;
        }
    }

    .md-select-icon {
        margin-left: 0;
        color: color('text');
    }
}

.node-select-option--group {
    //color: rgba(0,0,0,0.54);
    background-color: color('gray-lightest');
    border-bottom: 1px solid color('gray-lighter');
    border-top: 1px solid color('gray-lighter');
}

.node-select-option--node {
    padding-left: 20px;
}

.node-select__icon {
    margin-right: 8px;
}

.node-select__status {
    margin-left: 8px;
}

.node-select__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media only screen and (min-width: $layout-breakpoint-xs) {
        margin-top: 2px;
    }
}

.node-title {
    line-height: 1.2;
    text-transform: none;
    margin-top: 3px;

    @media only screen and (max-width: $layout-breakpoint-xs - 1) {
        font-size: $body-font-size-base;
    }
}

.node-content__actions {
    padding: 0 16px 16px;

    @media only screen and (min-width: $layout-breakpoint-sm) {
        padding: 0 24px 24px;
    }

    @media only screen and (min-width: $layout-breakpoint-md) {
        padding: 0 32px 32px;
    }

    .md-button:first-child {
        margin-left: 0;
    }

    .md-button:last-child {
        margin-right: 0;
    }
}

.node-content__actions__info {
    font-style: italic;
    margin-left: 8px;
    color: color('text-secondary');
}

.node-content__actions__more {
    border-bottom: 1px dotted;
}

.md-button.md-icon-button.node-nav {
    &:not(:first-of-type) {
    }

    &:first-of-type {
        margin-right: 0;
    }
}

.node-sidebar-active {
    @media only screen and (min-width: $layout-breakpoint-xs) {
        margin-right: ($md-toolbar-height + 16);
    }
}

.node-sidebar-visible {
    @media only screen and (max-width: $layout-breakpoint-xs - 1) {
        margin-bottom: $wise-toolbar-height;
    }
}

.node-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: $md-toolbar-height;
}

.node-sidebar__toolbar {
    position: fixed;
    width: $md-toolbar-height;
    background-color: #ffffff;
    padding: 8px 0;
    border-radius: $button-border-radius;

    @media only screen and (max-width: $layout-breakpoint-xs - 1) {
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
        padding: 0;
        min-height: 0;
        height: $wise-toolbar-height;
    }
}

// TODO: move to own sass module file (only gets used by teacher)
// TODO: use BEM (.node--info)
.node-info {
    margin: 0;

    @media only screen and (max-width: $layout-breakpoint-xs - 1) {
        margin: -16px;
        border-radius: 0;
    }

    .divider {
        margin-left: -8px;
        margin-right: -8px;
    }

    .component {
        &:first-child {
            margin-top: -16px;
        }
    }

    .component, .component__content, .component__header {
        margin-left: -8px;
        margin-right: -8px;
    }

    .component__actions {
        display: none;
    }
}

.node-rubric {
    border: 2px solid color('primary');
    margin: 8px 16px 24px;
    padding: 16px;
    background-color: #ffffff;
}

.node-rubric--component {

}

.node__label--vertical-alignment {
    vertical-align: middle;
    display: inline-block;
}
