.notification-btn {
    width: 60px !important;

    md-icon {
        margin-left: 20px;
    }
}

.notification-count {
    border-radius: 50%;
    position: absolute;
    background-color: color('accent');
    width: 22px;
    left: 4px;
    height: 22px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid;

    &:before {
        content: "";
        position: absolute;
        right: -7px;
        top: 5px;
        border-left: 6px solid rgba(255,255,255,0.87);
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
}

.notification-list {
    padding: 8px 0;
}

.notification-dismiss {
    width: 500px;
}

.notification-dismiss__input {
    margin-bottom: 0;
}

md-list md-list-item .md-list-item-text h4,
md-list md-list-item.md-2-line .md-list-item-text h4,
md-list md-list-item.md-3-line .md-list-item-text h4 {
    &.notification-list-item__source {
        color: color('text-secondary');
        font-size: rem(1.2);

        md-icon {
            font-size: rem(1.8);
            min-width: 0;
            width: auto;
            margin-left: -4px;
            line-height: rem(2);
        }
    }
}
