// Variables
$notebook-sidebar-width: 480px;
$report-position-right: 96px;
$report-full-gap: 8px;

// Base
notebook-launcher {
  position: absolute;
  bottom: 24px;
  right: 28px;

  @media only screen and (min-width: $layout-breakpoint-xs) {
    &.md-button.md-fab {
      z-index: 61;
    }
  }
}

notebook-report {
  position: absolute;
  bottom: 0;
  right: $report-position-right;
  transition: right 250ms;
  z-index: 3;

  &.report-full {
    left: $report-full-gap;
    right: $report-full-gap;
    top: $report-full-gap;
    bottom: $report-full-gap
  }
  
  @media only screen and (min-width: $layout-breakpoint-sm) {
    &.notes-visible {
      right: $notebook-sidebar-width + 12;
    }
  }
}

.notebook-item__text-input {
  margin: 0;
}

.notebook-item__text-input__textarea {
  padding-left: 0;
  padding-right: 0;
}

.notebook-item__attachment {
  background-color: color('gray-light');
  padding: 16px;
  margin-bottom: 16px;
  text-align: center;
  position: relative;
}

.notebook-item__attachment__content {
  max-width: 100%;
  height: auto;
}

.notebook-item__attachment__delete {
  position: absolute;
  top: 4px;
  right: -2px;
  // TODO: generalize for on item buttons like this (delete attachment, etc)
  width: 34px !important;
  height: 34px !important;
  min-height: 0;

  md-icon {
    margin-left: -2px;
    font-size: 22px;
  }
}

.notebook-item__info {
  font-style: italic;
  opacity: .8;
  color: lighten(color('accent-1'), 5%);

  a, md-icon {
    color: lighten(color('accent-1'), 5%);
  }

  md-icon {
    font-size: 1.5em;
    min-width: 0;
    width: auto;
  }
}

.notebook-item__upload {
  text-align: center;
  padding: 24px;
  background-color: color('gray-lighter');
  margin-bottom: 16px;
  color: color('text-secondary');
  border-radius: 4px;
  cursor: pointer;
  border: 1px dashed transparent;
  transition: all 250ms;

  md-icon, span {
    transition: color 250ms;
  }

  &:hover, &:focus, &.dragover {
    border-color: color('accent');
    background-color: lighten(color('accent'), 35%);
    color: color('accent');

    md-icon, span {
      color: color('accent');
    }
  }
}

.notebook-sidebar {
  width: $notebook-sidebar-width - 180;  
  max-width: none;

  @media only screen and (min-width: $layout-breakpoint-xs) {
    width: $notebook-sidebar-width;
  }
}

@media only screen and (max-width: ($layout-breakpoint-xs - 1)) {
  .notebook-enabled {
    .md-fab-bottom-right, .md-fab-bottom-left {
      bottom: ($wise-toolbar-height + 8) !important;
    }
  }
}

.notebook-grading {
  background-color: #ffffff;
  display: block;
  position: relative;
  right: 0;
}
