.md-toolbar-tools {
    font-size: 18px;

    .autocomplete {
        height: 36px;

        md-autocomplete-wrap {
            height: 36px;
        }

        input {
            height: 36px;
        }
    }
}

.md-toolbar--wise {
    min-height: $wise-toolbar-height;

    .md-toolbar-tools {
        height: $wise-toolbar-height;
        max-height: $wise-toolbar-height;
    }

    .md-button.md-icon-button {
        height: $wise-toolbar-height;
        line-height: $wise-toolbar-height;
        width: $wise-toolbar-height;
    }
}

.md-toolbar--wise--sm {
    .md-toolbar-tools {
        padding: 0 8px;
        font-size: $body-font-size-base;
    }
}

.md-toolbar--sidenav {
    background-color: color('gray-darkest') !important;

    .md-toolbar-tools {
        font-size: rem(1.6);
        font-weight: 500;
    }
}

.toolbar {
    position: fixed;
    left: 0;
    right: 0;
    top: $md-toolbar-height;
    z-index: 3;
}

.toolbar__title {
    margin-left: 8px;
    font-size: rem(1.6);
    font-weight: 500;
}

.toolbar__tools {
    padding-right: 8px;
}
[dir=rtl] .toolbar__tools {
    padding-right: 16px;
    padding-left: 8px;
}

.toolbar__nav, .md-button.toolbar__nav {
    margin: 0;
}

.toolbar__select, .md-button.toolbar__select {
    margin: 0 4px;
    min-height: 32px;
    background-color: color('gray-lightest');

    .md-select-value {
        height: 32px;
        text-align: left;
    }
}
[dir=rtl] {
  .toolbar__select, .md-button.toolbar__select {
      .md-select-value {
          text-align: right;
      }
  }
}

.toolbar__select--fixedwidth {
    width: 168px;

    @media only screen and (min-width: $layout-breakpoint-xs) {
        width: 264px;
    }

    @media only screen and (min-width: $layout-breakpoint-sm) {
        width: 432px;
    }
}
