<h1 class="standalone__title accent" i18n>Create WISE Account</h1>
<div class="standalone__content register"
     fxLayout="row"
     fxLayout.xs="column"
     fxFlexLayoutAlign="center center">
  <app-call-to-action fxFlex
                      icon="supervised_user_circle"
                      iconColor="accent"
                      i18n-headline
                      headline="Student"
                      i18n-content
                      content="Students can view and complete WISE lessons offered by teachers."
                      destination="student"></app-call-to-action>
  <app-call-to-action fxFlex
                      icon="school"
                      iconColor="accent"
                      i18n-headline
                      headline="Teacher"
                      i18n-content
                      content="Teachers can select, author, and run WISE lessons with their students."
                      destination="teacher"></app-call-to-action>
</div>
