@charset "UTF-8";

@import "compass";

@import "material/config";

// Default Angular Material styles (NOTE: this gives all theme SCSS files imported below access to all Angular Material variables and mixins)
@import "../../../../../vendor/angular-material/angular-material";

@import "material/custom";

// Rules for sizing material icons
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using material icons as black on a light background
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using material icons as white on a dark background
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*
 WISE Project Styles
 */

// 1. Base
@import "base/config",
        "base/helpers",
        "base/presets";

// 2. Layouts
@import "layouts/l-default",
        "layouts/l-footer",
        "layouts/l-header",
        "layouts/l-main",
        "layouts/l-nav",
        "layouts/l-node",
        "layouts/l-noteBook",
        "layouts/l-sidebar";

// 3. Modules
