// NOTE: This file should be compiled to vle/css/global.css

// Import Bootstrap styles
@import "bootstrap-custom.less";

// Import header and footer styles
@import "header.less";
@import "footer.less";

// TODO: make semantic :)

// Use rem instead of pixels: https://gist.github.com/jasny/9731895

// Set root font size

html {
    font-size: @font-size-root;
}


// Change styling for elements that mix pixels and ems

.navbar-toggle {
	margin-top: @navbar-padding-vertical/8;
	margin-bottom: @navbar-padding-vertical/8;
}

pre {
  font-size: ( @font-size-base - (1 / @font-size-root) );
}

.form-control-feedback {
  width: calc(@input-height-base ~" + 2px");
  height: calc(@input-height-base ~" + 2px");
}
.input-lg + .form-control-feedback {
  width: calc(@input-height-large ~" + 2px");
  height: calc(@input-height-large ~" + 2px");
}
.input-sm + .form-control-feedback {
  width: calc(@input-height-small ~" + 2px");
  height: calc(@input-height-small ~" + 2px");
}

.form-control {
    height: calc(@input-height-base ~" + 2px");
}

.form-horizontal {
    .radio, .checkbox, .radio-inline, .checkbox-inline {
        padding: @padding-base-vertical;
        border: 1px solid transparent;
    }
    .radio, .checkbox {
        min-height: calc((@line-height-computed + @padding-base-vertical) ~"+ 1px");
    }
    .form-control-static {
        padding-top: @padding-base-vertical;
        border-top: 1px solid transparent;
        padding-bottom: @padding-base-vertical;
        border-bottom: 1px solid transparent;
    }

    @media (min-width: @screen-sm-min) {
        .control-label {
            padding-top: @padding-base-vertical;
            border-top: 1px solid transparent;
        }
    }
}

/*--------------------------------------------------
Global Styles for the WISE VLE
--------------------------------------------------*/


/* Content headers */

.panel-header {
	font-size: 1.25 + @font-unit;
	margin: 0 0 (0.5  + @font-unit);
	padding-bottom: (0.5  + @font-unit);
	border-bottom: 1px solid #aaa;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color: @brand-danger;
}


/* Main content */

.content {
	padding: 15px;
	width: 100%;
}


/* Layout & navigation elements */

.top-nav {
	//border-bottom: 4px solid @brand-warning;
	.navbar-brand {
		background-image: url('../../images/logo/WISE-logo-icon-flat.svg');
		background-repeat: no-repeat;
		background-position: left center;
		padding-left: ((46px / @font-size-root) + @font-unit);
		-webkit-background-size: ((40px / @font-size-root) + @font-unit);
		-o-background-size: ((40px / @font-size-root) + @font-unit);
		-moz-background-size: ((40px / @font-size-root) + @font-unit);
		background-size: ((40px / @font-size-root) + @font-unit);
		margin-left: ((5px / @font-size-root) + @font-unit);
		font-family: @headings-font-family;
	}
	
	.navbar-right {
		padding-right: ((5px / @font-size-root) + @font-unit);
	}
	
	.navbar-collapse {
		&.in {
			padding: 0;
			.navbar-nav {
				margin: ((5.5px / @font-size-root) + @font-unit) 0;
			}
		}
	}
}

.navbar-toggle {
	margin-right: ((5px / @font-size-root) + @font-unit);
}

.navbar-collapse {
	max-height: none;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

/* Dividers */

.divider, .dropdown-menu .divider {
	height: 1px;
	margin: ((8px / @font-size-root) + @font-unit) 0;
	overflow: hidden;
	background-color: #eee;
	background-color: rgba(0,0,0,.1);
}

.sortable-placeholder {
	background-color: #eee;
	background-color: rgba(0,0,0,.1);
}

/* Links, buttons, & inputs */

a {
	cursor: pointer;
	
	.help, .info {
		color: inherit;
	}
}

a, button {
	.transition(all 200ms ease-in-out);
}

button {
	//.btn;
	//.btn-default;
	
	&.multiselect {
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    //width: 100%;
	}
}

/* Tables */

.table > thead > tr > th {
	vertical-align: middle;
}

/* Content elements */

.menu {
	&.panel-body {
		padding: ((5px / @font-size-root) + @font-unit);
	}
}

.label {
	padding-top: .3 + @font-unit;
}

.btn {
	display: inline-block;
	.fa {
		padding: 0 ((5px / @font-size-root) + @font-unit);
		text-align: center;
	}
	.btn-text {
		display: none;
	}
}

@media (min-width: @screen-sm-min) { // TODO: update to take sidebar width into account
	.btn {
		.fa {
			padding: 0;
			margin-right: ((5px / @font-size-root) + @font-unit);
		}
		.btn-text {
			display: inline-block;
		}
	}
}

.project-thumb {
    height: ((70px / @font-size-root) + @font-unit);
    width: ((70px / @font-size-root) + @font-unit);
    border: 1px solid #ddd;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	.small {
		margin: 0 (.5 + @font-unit);
	}
}

.navbar-inverse {
	.small {
		color: #ccc;
	}
}

/*.overlay {
	.transition(all 250ms);
	background-color: #000;
	visibility: visible;
	.opacity(.6);
	
	&.hidden {
		.opacity(0);
		visibility: hidden;
	}
}*/

/* Modals */

.bootbox {
	&.modal-lg, &.modal-sm {
		width: auto;
	}
}

.modal-lg {
	@media (min-width: @screen-md-min) {
		.modal-dialog { width: @modal-lg; }
	}
}

.modal-sm {
	@media (min-width: @screen-sm-min) {
		.modal-dialog { width: @modal-sm; }
	}
}

.page-width {
	.modal-dialog {
		@media (min-width: @screen-sm-min) {
			width: 90%;
			max-width: @screen-md-min;
		}
	}
}

/* Forms */

form {
	// inspired by semantic-ui (http://semantic-ui.com/modules/form.html)
	.two-fields {
		.row;
		.field {
			.make-sm-column(6);
		}
	}
}

.dropdown-menu {
	form {
		padding: @padding-base-vertical;
	}
	
	> li > a {
		padding-top: ((6px / @font-size-root) + @font-unit);
		padding-bottom: ((6px / @font-size-root) + @font-unit);
	}
}

//.form-group {
	//&:last-child {
		//margin-bottom: 0;
	//}
//}

.form-inline {
	.form-group {
		margin-bottom: ((5px / @font-size-root) + @font-unit);
	}
}

.form-header {
	border-bottom: 1px solid;
    font-weight: bold;
    margin-bottom: ((15px / @font-size-root) + @font-unit);
    padding-bottom: ((5px / @font-size-root) + @font-unit);
}

.panel-info {
	.form-header {
		color: @brand-info;
	}
}

.panel-warning {
	.form-header {
		color: @brand-warning;
	}
}

.panel-danger {
	.form-header {
		color: @brand-danger;
	}
}

.panel-success {
	.form-header {
		color: @brand-success;
	}
}

.panel-primary {
	.form-header {
		color: @brand-primary;
	}
}

/* Callouts */

.bs-callout-primary {
    .bs-callout(@brand-primary, lighten(@brand-primary, 55%));
}

.bs-callout-danger {
    .bs-callout(@brand-danger);
}

.bs-callout-warning {
    .bs-callout(@brand-warning);
}

.bs-callout-info {
    .bs-callout(@brand-info, lighten(@brand-info, 55%));
}

.bs-callout-success {
    .bs-callout(@brand-success, lighten(@brand-success, 40%));
}

/* TinyMCE */

div.mce-edit-area {
	padding: ((4px / @font-size-root) + @font-unit) ((6px / @font-size-root) + @font-unit);
}

/* DataTables */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
	padding-left: ((12px / @font-size-root) + @font-unit);
	padding-right: ((18px / @font-size-root) + @font-unit);
	color: @brand-primary;
}

.dataTable {
	td, th {
		.progress {
			margin-bottom: 0;
			border: 1px solid @gray-lighter;
		}
	}
}

/* Bootstrap Multiselect */

.multiselect {
	> span {
		display: inline-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: box;
		//display: -webkit-box;
		margin-right: ((2px / @font-size-root) + @font-unit);
	    max-width: ((150px / @font-size-root) + @font-unit);
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
}

.multiselect-container {
	.radio {
		padding-left: ((20px / @font-size-root) + @font-unit);
	
		> input {
			display: none;
		}
	}
	
	> li > a > label {
		padding-top: ((6px / @font-size-root) + @font-unit) !important;
		padding-bottom: ((6px / @font-size-root) + @font-unit) !important;
		
		> input[type="checkbox"] {
 			margin-top: ((2px / @font-size-root) + @font-unit);
 		}
 	}
}