// NOTE: This file should be compiled to vle/css/global.css

// Import Bootstrap styles
@import (reference) "bootstrap-custom.less";

// Import header and footer styles
@import "header.less";
@import "footer.less";

/*--------------------------------------------------
Global Styles for the WISE VLE
--------------------------------------------------*/

// Custom Variables
@content-border-color: #ccc;


/* Links, buttons, & inputs */

a {
	cursor: pointer;
	
	.help, .info {
		color: inherit;
	}
}

a, button {
	.transition(all 200ms ease-in-out);
}

button {
	&.link {
		cursor: pointer;
		color: @brand-primary;
		background: transparent;
		border: 0 none;
		display: inline;
		padding: 0;
		margin: 0;
		text-align: left;
		
		&:hover, &:focus {
			text-decoration: underline;
		}
		
		&.button {
			padding: 0.4em 0.5em;
			.px-rem(border-radius, 3);
			
			&:hover, &:active {
				text-decoration: none;
				background-color: #e5e5e5;
				color: @gray-dark;
			}
		}
	}
	
	&.multiselect {
		overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
}

/* Tables */

.table > thead > tr > th {
	vertical-align: middle;
}

/* Dividers */

.divider, .dropdown-menu .divider {
	height: 1px;
	margin: 0.6em 0;
	overflow: hidden;
	background-color: #eee;
	background-color: rgba(0,0,0,.1);
}

/* Content elements */

.menu {
	&.panel-body {
		padding: 0.4em;
	}
}

.label {
	padding-top: 0.3em;
}

.btn {
	display: inline-block;
	.fa {
		padding: 0 0.4em;
		text-align: center;
	}
	.btn-text {
		display: none;
	}
}

@media (min-width: @screen-sm-min) { // TODO: update to take sidebar width into account
	.btn {
		.fa {
			padding: 0;
			margin-right: 0.4em;
		}
		.btn-text {
			display: inline-block;
		}
	}
}

.project-thumb {
    .px-rem(height, 70);
    .px-rem(width, 70);
    border: 1px solid #ddd;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	.small {
		margin: 0 0.5em;
	}
}

.navbar-inverse {
	.small {
		color: #ccc;
	}
}

/*.overlay {
	.transition(all 250ms);
	background-color: #000;
	visibility: visible;
	.opacity(.6);
	
	&.hidden {
		.opacity(0);
		visibility: hidden;
	}
}*/

/* Modals */

.dialog {
	display: none;
}

.modal-lg {
	margin: 10px auto;
    padding: 0 10px;
    width: auto;
    
	@media (min-width: @screen-md-min) {
		width: @modal-lg;
	}
}

.modal-sm {
	@media (min-width: @screen-sm-min) {
		width: @modal-sm;
	}
}

.page-width {
	.modal-dialog {
		@media (min-width: @screen-sm-min) {
			width: 90%;
			max-width: @screen-md-min;
		}
	}
}

/* Forms */

form {
	// inspired by semantic-ui (http://semantic-ui.com/modules/form.html)
	.two-fields {
		.row;
		.field {
			.make-sm-column(6);
		}
	}
}

.dropdown-menu {
	form {
		padding: @padding-base-vertical;
	}
	
	> li {
		> a {
			padding-top: 0.45em;
			padding-bottom: 0.45em;
			
			&:focus {
				outline: none;
			}
		}
		
		&.selected > a {
			background-color: @component-active-bg;
			color: #ffffff;
		}
	}
}

//.form-group {
	//&:last-child {
		//margin-bottom: 0;
	//}
//}

.form-inline {
	.form-group {
		margin-bottom: 0.4em;
	}
}

.form-header {
	border-bottom: 1px solid;
    font-weight: bold;
    margin-bottom: 1.15em;
    padding-bottom: 0.4em;
}

.panel-info {
	.form-header {
		color: @brand-info;
	}
}

.panel-warning {
	.form-header {
		color: @brand-warning;
	}
}

.panel-danger {
	.form-header {
		color: @brand-danger;
	}
}

.panel-success {
	.form-header {
		color: @brand-success;
	}
}

.panel-primary {
	.form-header {
		color: @brand-primary;
	}
}

/* Callouts */

.bs-callout-primary {
    .bs-callout(@brand-primary, lighten(@brand-primary, 55%));
}

.bs-callout-danger {
    .bs-callout(@brand-danger);
}

.bs-callout-warning {
    .bs-callout(@brand-warning);
}

.bs-callout-info {
    .bs-callout(@brand-info, lighten(@brand-info, 55%));
}

.bs-callout-success {
    .bs-callout(@brand-success, lighten(@brand-success, 40%));
}

/* Content headers */

.panel-header {
	font-size: 1.25rem;
	margin: 0 0 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #aaa;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color: @brand-danger;
}


/* Content & layout */

.content {
	padding: 1em;
	width: 100%;
}

.content-panel {
	.section-head {
		font-size: 1.2em;
		text-shadow: 1px 1px #eee;
		padding-bottom: 0.2em;
		border-bottom: 1px solid;
		border-color: lighten(@gray-light, 10%);
		
		small {
			color: lighten(@gray, 10%);
			font-size: 0.8em;
			margin-left: 0.25em;
		}
	}
	
	.panel {
		box-shadow: none;
		border-color: @content-border-color;
		//border-radius: 0;
	}
	
	.panel-heading {
		.border-top-radius(0);
	}
	
	.panel-footer {
		.border-bottom-radius(0);
	}
}

.center {
	text-align: center;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}


/* Navigation */

.top-nav {
	border-bottom: 0 none;
	
	.navbar-icon {
		background-image: url('../images/logo/WISE-logo-icon-flat.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-color: darken(@brand-primary, 20%);
		.px-rem(-webkit-background-size, 38);
		.px-rem(-o-background-size, 38);
		.px-rem(-moz-background-size, 38);
		.px-rem(background-size, 38);
		.px-rem(width, 48);
		.px-rem(height, 40);
		display: block;
		float: left;
	}
	
	.navbar-brand {
		.px-rem(height, 40);
		.px-rem(line-height, 40);
		padding-top: @navbar-padding-vertical/8;
		padding-bottom: @navbar-padding-vertical/8;
		padding-left: 0.6em;
		font-family: @headings-font-family;
		background-color: @navbar-default-bg;
	}
	
	.navbar-nav {
		@media (min-width: @screen-sm-min) {
			> li > a {
				padding-top: 0;
			}
		}
	}
	
	.navbar-right {
		padding-right: 0.4em;
	}
	
	.navbar-collapse {
		&:not(.in){
			> ul > li > a {
				.px-rem(height, 40);
				.px-rem(line-height, 40);
			}
		}
		
		&.in {
			padding: 0;
			.navbar-nav {
				margin: 0.4em 0;
			}
		}
	}
	
	.navbar-toggle {
		.px-rem(height, (40 - @navbar-padding-vertical/4));
	}
}

.navbar-brand {
	font-size: 1.2em;
}

.navbar-toggle {
	margin-right: 0.4em;
}

.navbar-collapse {
	max-height: none;
}

/* TinyMCE */

div.mce-edit-area {
	padding: 0.3em 0.45em;
}

/* DataTables */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
	padding-left: 1em;
	padding-right: 1.4em;
	color: @brand-primary;
}

.dataTable {
	td, th {
		.progress {
			margin-bottom: 0;
			border: 1px solid @gray-lighter;
		}
	}
}

/* Bootstrap Select */
.bootstrap-select.btn-group .dropdown-menu li {
	&:not(.disabled) a:hover small, &:not(.disabled) a:focus small, &.active:not(.disabled) a small {
		color: @gray-lighter;
	}
}

/* Sortables */

.sortable-placeholder {
	background-color: #eee;
	background-color: rgba(0,0,0,.1);
}

/* Help/info elements */

.help, .info {
	cursor: pointer;
	margin: 0 0.15em;
	color: @brand-primary;
	.fa-lg;
}

// AngularJS
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

// Angular X-Editable
.editable-click {
	color: @link-color;
	
	&:hover, &:focus {
		color: darken(@link-color, 10%);
	}
}
