// px to rem
.px-rem (@property, @value) {
	// This is a workaround, inspired by https://github.com/borodean/less-properties
	@rem-value: @value / @font-size-root;
	//-: ~`(function () { return ';@{property}: @{value}'; }())`; // pixel fallback; uncomment if we want to support ie8-
	-: ~`(function () { return ';@{property}: @{rem-value}rem'; }())`;
}

.px-rem (@property, @v1, @v2) {
	// This is a workaround, inspired by https://github.com/borodean/less-properties
	@rem-v1: @v1 / @font-size-root;
	@rem-v2: @v2 / @font-size-root;
	-: ~`(function () { return ';@{property}: @{rem-v1}rem @{rem-v2}rem'; }())`;
}

.px-rem (@property, @v1, @v2, @v3) {
	// This is a workaround, inspired by https://github.com/borodean/less-properties
	@rem-v1: @v1 / @font-size-root;
	@rem-v2: @v2 / @font-size-root;
	@rem-v3: @v3 / @font-size-root;
	-: ~`(function () { return ';@{property}: @{rem-v1}rem @{rem-v2}rem @{rem-v3}rem'; }())`;
}

.px-rem (@property, @v1, @v2, @v3, @v4) {
	// This is a workaround, inspired by https://github.com/borodean/less-properties
	@rem-v1: @v1 / @font-size-root;
	@rem-v2: @v2 / @font-size-root;
	@rem-v3: @v3 / @font-size-root;
	@rem-v4: @v4 / @font-size-root;
	-: ~`(function () { return ';@{property}: @{rem-v1}rem @{rem-v2}rem @{rem-v3}rem @{rem-v4}rem'; }())`;
}

// Set text color based on input color's lightness
.set-text-color (@color) when (lightness(@color) >= 64%) { 
  color: @text-color;
}
.set-text-color (@color) when (lightness(@color) < 64%) { 
  color: #ffffff;
}

// Callouts
.bs-callout(@color, @bgcolor: lighten(@color, 30%)) {
    display: block;
    margin-bottom: 15px;
    padding: 15px 30px 15px 15px;
    border-left: 3px solid @color;
    background-color: @bgcolor;
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        color: @color;
    }
    p:last-child {
        margin-bottom: 0;
    }
    code, .highlight {
        background-color: #fff;
    }
}