// NOTE: This file should be compiled to vle/css/classroomMonitor/monitor-styles.css

@import "global.less"; // import the global VLE styles

/*--------------------------------------------------
Styles for the WISE Classroom Monitor, Grading, and Student Management Tools
--------------------------------------------------*/


// Monitor-specific variables & mixins
// -------------------------------------------------
@content-border-color: #bbbbbb;

.active() {
  .animation(progress-bar-stripes 2s linear infinite);
}

.progress-striped() {
	#gradient > .striped();
  	background-size: 40px 40px;
}

/* Links, Buttons, Forms, Controls */

.dataTables_wrapper {
	.multiselect-container > li {
		.radio {
			padding-left: 20px;
		}
	}
}

.multiselect {
	> span {
		//display: -webkit-box;
		display: inline-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: box;
		margin-right: 2px;
	    max-width: 150px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
}

.multiselect-container {
	.radio {
		> input {
			display: none;
		}
	}
}

/* Pulse animation	*/
@-webkit-keyframes dangerPulse {
	from { box-shadow: 0 0 2px #aaa; }
	50% { box-shadow: 0 0 10px @brand-danger; }
	to { box-shadow: 0 0 2px #aaa; }
}

@keyframes dangerPulse {
	from { box-shadow: 0 0 2px #aaa; }
	50% { box-shadow: 0 0 10px @brand-danger; }
	to { box-shadow: 0 0 2px #aaa; }
}

//#save {
#newWork {
	position: fixed;
	bottom: 41px;
	right: 7px;
	animation: dangerPulse 3s infinite;
	-webkit-animation: dangerPulse 3s infinite;
	display: none;
	
	&:hover, &:focus {
		animation: none;
		-webkit-animation: none;
	}
}

/* Monitor Layout */

html {
	min-width: 550px;
}

body {
	margin: (93px + @padding-base-vertical) @padding-base-horizontal (36px + @padding-base-vertical);
	background-color: #eee;
	background-image: url("../../images/global/content_bg.png");
}

#monitorMenu, #monitorFooter {
	z-index: 110;
	padding: 0;
	margin: 0;
	border-radius: 0;
	position: fixed;
	left: 0;
	right: 0;
}

#monitorFooter {
	bottom: 0;
	border-width: 1px 0 0;
	border-color: @content-border-color;
	box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
	
	.panel-body {
		padding: 7px;
	}
	
	.label {
		font-size: 90%;
	}
}

/* Monitor Navigation & Menus */

#runTitle {
	overflow: hidden;
	text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    display: inline-block;
    max-width: 125px;
}

#monitorTopNav {
	.small {
		margin: 0 5px;
	}
}

#monitorMenu {
	top: 44px;
	border-bottom: 1px solid @content-border-color;
	
	@media (max-width: (@screen-sm-min - 1)) {
		.btn .fa {
			margin-right: 0;
		}
	}
}

#pauseScreensWrap {
	display: none;
}

#pauseMsg {
	width: 280px;
	
	@media (min-width: @screen-sm-min) {
		width: 300px;
	}
}

#pauseScreensContent {
	.multiselect-container {
		max-width: 300px;
		overflow-x: hidden;
	}
	
	.multiselect.dropdown-toggle {
		width: 100%;
	}
	
	.btn-group {
		float: none;
	}
}

#monitorControls {
	background: rgba(0, 0, 0, .05);
	border-color: @content-border-color;
	min-height: 0;
	margin: 0;
	padding: 5px;
}

/* Monitor Section Content */

#pageContent {
	section {
		display: none;
		padding: 0;
	}
}

table.dataTable {
	th, td {
		&.hidden {
			display: none;
		}
	}
	
	hr {
		margin-bottom: 8px;
		margin-top: 8px;
	}
	
	thead {
		border-top: 1px solid;
	}
	
	tbody {
		td {
			position: relative;
		}
	}
	
	td.gradable {
		padding: 0;
		//.transition(background-color 250ms);
		
		&:hover {
			//background-color: lighten(@brand-warning, 30%);
			background-color: #e5e5e5;
			//color: #ffffff;
			//a {
				//color: #ffffff;
			//}
			color: @gray-dark;
			a {
				color: @gray-darker;
			}
		}
	}
	
	.offline, .revision, .no-work {
		color: #777777;
		background-color: #F7F7F7;
	}
	
	.offline {
		a {
			//color: #777777;
		}
		
		.fa-circle {
			color: #888888;
		}
		
		.progress .progress-bar {
			background-color: #888888;
			//.opacity(.75);
		}
	}
	
	.online {
		background-color: #FFFFFF;
		
		.progress .progress-bar {
			.active;
			.progress-striped;
		}
		
		td.gradable {
			&:hover {
				//background-color: @brand-primary;
				//color: #ffffff;
				a {
					//color: @brand-primary;
				}
			}
		}
		
		.viewStepWork {
			&.gradable {
				background-color: #ffffff;
			}
		}
	}
	
	.activity, .group {
		background-color: @gray-lighter;
		font-weight: bold;
		color: @text-color;
	}
	
	.activity {
		td:not(last-child) {
			border-right-width: 0;
		}
	}
	
	&.grading {
		tbody {
			
			> tr > td {
				border-color: @gray-light;
				//border-top-color: @gray-light;
				//border-bottom-color: @gray-light;
				border-width: 0 1px 2px 0px;
				border-style: solid;
				
				&:first-child {
					border-left-width: 2px;
					//border-left-color: @gray-light;
				}
				
				&:last-child {
					border-right-width: 2px;
					//border-right-color: @gray-light;
				}
				
				.form-group {
					margin-bottom: 10px;
				}
			}
			
			.new {
				> td {
					border-bottom-color: @brand-success;
							
					&:first-child {
						border-left-color: @brand-success;
					}
					
					&:last-child {
						border-right-color: @brand-success;
					}
				}
			}
			
			.group {
				> td {
					background-color: #777777;
					color: #ffffff;
					border: 0 none;
					
					.toggle-revisions {
						color: #777777;
						font-size: @font-size-base;
						background-color: #ffffff;
						
						&:hover, &:focus {
							color: @gray-darker !important;
							text-decoration: none;
							.box-shadow(0 0 2px #ffffff);
						}
						
						.fa {
							font-size: 100%;
						}
					}
					
					a {
						color: #ffffff;
					}
				}
				
				&.new {
					> td {
						background-color: @brand-success;
						
						.toggle-revisions {
							color: @brand-success;
							
							&:hover, &:focus {
								color: darken(@brand-success, 20%) !important;
							}
						}
					}
				}
			}
			
			.group-spacer {
				td {
					border: 0 none;
					padding: 4px;
				}
			}
			
			.revision {
				display: none;
				
				/*td {
					&:first-child {
						border-left-width: 5px;
					}
					
					&:last-child {
						border-right-width: 5px;
					}
					
					border-bottom-width: 5px;
				}*/
			}
			
			.revision, .no-work {
				.open-comments {
					display: none;
				}
			}
		}
	}
}

#gradeByStudentTable, #gradeByStepTable {
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	margin-right: -1px;
	margin-left: -1px;
}

.viewStepWork, .viewStudentWork {
	a {
		display: block;
		font-weight: bold;
		padding: 8px 10px;
		
		&:hover, &:active {
			text-decoration: none;
		}
		
		.fa {
			margin-left: 5px;
		}
	}
	
	.label {
		@media (min-width: @screen-md-min) {
			.pull-right;
			margin-top: 2px;
		}
		
		margin-left: 2px;
	}
}

.stepwork {
	min-height: 135px;
	margin-bottom: 35px;
}

.stepwork-empty {
	min-height: 190px;
}

.stepwork-header {
	background-color: #eee;
    border-bottom: 1px solid #ddd;
    margin: -8px -10px 10px;
    padding: 8px 10px;
}

.timestamp {
	color: @brand-info;
	font-size: @font-size-small;
	position: absolute;
	bottom: 0;
	padding: 8px 0;
	border-top: 1px solid @gray-lighter;
	left: 10px;
	right: 10px;
}

.flag {
	margin-top: 0;
}

.feedback-form {
	min-width: 250px;
	
	@media(min-width: @screen-md-min) {
		min-width: 300px;
	}
}

.form-inline .form-control.score {
	text-align: center;
	padding: 2px;
    width: 50px;
    font-weight: bold;
    font-size: @font-size-base*1.1;
    color: @brand-primary;
}

.max-score {
	font-weight: bold;
	margin-top: 2px;
	font-size: @font-size-base*1.1;
}

.dataTables_top {
	.btn-group { margin-left: 5px; }
}

.datatables-subheader {
	.workgroup-names, .step-name {
		color: @brand-info;
		font-size: @font-size-base*1.1;
		margin: 0 2px;
		display: inline-table;
		font-weight: bold;
	}
	
	.small {
		color: @gray;
	}
	
	.label {
		margin: 0 10px;
		font-size: @font-size-small;
	}
	
	.workgroup-info, .step-info {
		margin-top: 5px;
	}
}

.review-items {
	display: none;
}

#loading {
	background: url("../../images/global/content_bg.png") repeat scroll 0 0 #eee;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 111;
	
	.jumbotron {
		background-color: rgba(0, 0, 0, 0.5);
	    border-radius: 6px;
	    box-shadow: 0 0 2px #666 inset;
	    color: #fff;
	    font-size: 25px;
	    margin: 120px auto 0;
	    padding: 10px;
	    width: 100px;
	}
}

/* System Messages */

#vle_messages {
	position: fixed;
	top: 74px;
	left: 30px;
	right: 30px;
	text-align: center;
	z-index: 111;
	
	.message {
		display: inline-block;
		.alert;
		.alert-info;
		padding: 5px;
		margin-bottom: 2px;
		.box-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
	}
	
	.content {
		
	}
}

/**** EDIT/REMOVE ****/
.exIdea {
  width: 150px;
  padding: .5em;
  border: 2px solid #444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color:rgb(38, 84, 207);
  /*background-color:#2654CF;*/
  color:#fff;
  text-align:center;
  cursor:pointer;
  box-shadow: 0px 0px 4px #fff;
  -moz-box-shadow: 0px 0px 4px #fff;
  -webkit-box-shadow: 0px 0px 6px #fff;
}