<link rel="stylesheet" href="wise5/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="wise5/lib/summernote/dist/summernote.css" />
<link rel="stylesheet" href="wise5/themes/default/style/angular-material.css" />
<link rel="stylesheet" href="wise5/themes/default/style/vle.css" />
<script src="wise5/lib/bootstrap/js/bootstrap.min.js"></script> <!-- TODO: load using jspm -->
<script src="wise5/lib/summernote/dist/summernote.min.js"></script> <!-- TODO: load using jspm -->
<script src="wise5/lib/summernoteExtensions/summernote-ext-addNote.js"></script> <!-- TODO: load using jspm -->
<!--<script src="wise5/lib/summernoteExtensions/summernote-ext-print.js"></script>--> <!-- TODO: load using jspm -->
<script src="http://cdn.opencpu.org/opencpu-0.5.js"></script> <!-- TODO: load using jspm -->

<style>
    {{vleController.projectStyle}}
</style>

<div disable-delete-keypress ng-controller="ThemeController as themeCtrl" role="main" layout="column" ng-mousemove="themeCtrl.mouseMoved()" layout-fill>
    <md-toolbar class="l-header" ng-class="{'md-whiteframe-z1': themeCtrl.layoutState === 'nav'}">
        <div class="md-toolbar-tools">
            <a ng-click="vleController.loadRoot()" class="md-button logo-link">
                <img ng-src="{{vleController.themePath}}/images/WISE-logo-1b8ca8.svg" alt="WISE Logo" class="logo" />
            </a>
            <h3>
                <span>{{vleController.projectName}}</span>
            </h3>
            <span flex></span>
            <md-menu md-position-mode="target-right target" md-offset="40 26">
                <md-button aria-label="View notifications" class="md-icon-button notification-btn" ng-click="$mdOpenMenu()">
                    <span ng-show="vleController.hasNewNotifications()" class="notification-count">{{vleController.getNewNotifications().length}}</span>
                    <md-icon md-menu-origin> notifications </md-icon>
                </md-button>
                <md-menu-content width="5" class="account-menu">
                    <ng-include src="vleController.themePath + '/templates/notificationMenu.html'"></ng-include>
                </md-menu-content>
            </md-menu>
            <md-progress-circular class="menu-progress" md-mode="determinate" md-diameter="26" value="{{ themeCtrl.rootNodeStatus.progress.completionPct }}"></md-progress-circular>
            <div class="menu-progress-bg"></div>
            <md-menu id='accountMenu' md-position-mode="target-right target" md-offset="8 26">
                <md-button aria-label="Open user menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                    <md-icon md-menu-origin> account_circle </md-icon>
                </md-button>
                <md-menu-content width="5" class="account-menu">
                    <ng-include src="vleController.themePath + '/templates/accountMenu.html'"></ng-include>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content id="content" flex role="main" ui-scrollpoint-target
                ng-class="{'l-nav': themeCtrl.layoutState === 'nav', 'l-node': themeCtrl.layoutState === 'node',
                'l-notebook': themeCtrl.layoutState === 'notebook', 'notebook-nav-open': themeCtrl.notebookNavOpen,
                'node-sidebar-visible': vleController.isNotebookEnabled()}" layout="column">
        <step-tools class="layout-tools" show-position="themeCtrl.numberProject"
                    ng-show="themeCtrl.layoutState === 'node'"></step-tools>
        <notebook-tools class="layout-tools" ng-show="themeCtrl.layoutState === 'notebook'"
                        notebook-filter="themeCtrl.notebookFilter"></notebook-tools>
        <div id="nav" ng-include="vleController.themePath + '/navigation/navigation.html'" ng-show="themeCtrl.layoutState === 'nav'"></div>
        <div id="node" ng-cloak ui-view="nodeView" ng-show="themeCtrl.layoutState === 'node'"></div>
        <div id="notebook" ng-cloak ui-view="notebookView" ng-show="themeCtrl.layoutState === 'notebook'"></div>
        <md-sidenav md-component-id="notebookSidenav" md-is-open="themeCtrl.notebookNavOpen">
            <notebook-menu view-mode="nav" nodeId="themeCtrl.currentNodeId" notebook-filter="themeCtrl.notebookFilter"></notebook-menu>
        </md-sidenav>
        <!--<md-sidenav md-component-id="stepNav" md-is-open="themeCtrl.stepNavOpen">
            <md-content role="navigation">
                <md-list>
                    <nav-item ng-repeat="item in themeCtrl.idToOrder | toArray | orderBy : 'order'"
                              ng-if="themeCtrl.nodeStatuses[item.$key].isVisible && item.order!==0"
                              show-position="themeCtrl.numberProject"
                              node-id="item.$key" type="'list'"></nav-item>
                </md-list>
            </md-content>
        </md-sidenav>-->
    </md-content>
    <notebook-menu class="notebook-menu" view-mode="sidebar" nodeId="themeCtrl.currentNodeId" notebook-filter="themeCtrl.notebookFilter" ng-show="themeCtrl.layoutState === 'notebook'"></notebook-menu>
</div>
