<link rel="stylesheet" href="wise5/lib/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="wise5/lib/summernote/dist/summernote.css" />
<link rel="stylesheet" href="wise5/themes/default/style/angular-material.css" />
<link rel="stylesheet" href="wise5/themes/default/style/vle.css" />
<script src="wise5/lib/bootstrap/js/bootstrap.min.js"></script> <!-- TODO: load using jspm -->
<script src="wise5/lib/summernote/dist/summernote.min.js"></script> <!-- TODO: load using jspm -->
<script src="wise5/lib/summernoteExtensions/summernote-ext-addNote.js"></script> <!-- TODO: load using jspm -->
<!--<script src="wise5/lib/summernoteExtensions/summernote-ext-print.js"></script>--> <!-- TODO: load using jspm -->
<script src="http://cdn.opencpu.org/opencpu-0.5.js"></script> <!-- TODO: load using jspm -->

<style>
    {{vleController.projectStyle}}
</style>

<disable-delete-keypress>
    <div ng-controller="ThemeController as themeCtrl" role="main" layout="column"
         ng-mousemove="themeCtrl.mouseMoved()" layout-fill
         ng-class="{'notebook-enabled': vleController.isNotebookEnabled()}">
        <ng-include src="vleController.themePath + '/templates/topbar.html'"></ng-include>
        <step-tools class="layout-tools" show-position="themeCtrl.numberProject"
                    ng-show="themeCtrl.layoutState === 'node'"></step-tools>
        <notebook-tools class="layout-tools" ng-show="themeCtrl.layoutState === 'notebook'"
                        notebook-filter="themeCtrl.notebookFilter"></notebook-tools>
        <md-sidenav md-component-id="notebookSidenav" md-is-open="themeCtrl.notebookNavOpen">
            <notebook-menu view-mode="nav" nodeId="themeCtrl.currentNodeId" notebook-filter="themeCtrl.notebookFilter"></notebook-menu>
        </md-sidenav>
        <md-content id="content" flex role="main" ui-scrollpoint-target
                    ng-class="{'l-nav': themeCtrl.layoutState === 'nav', 'l-node': themeCtrl.layoutState === 'node',
                    'l-notebook': themeCtrl.layoutState === 'notebook', 'notebook-nav-open': themeCtrl.notebookNavOpen,
                    'node-sidebar-visible': vleController.isNotebookEnabled()}" layout="column">
            <md-sidenav md-is-locked-open="vleController.getActiveGlobalAnnotationGroups().length > 0 && vleController.isGlobalAnnotationsDisplayed"
                        md-disable-backdrop
                        style="border: 2px solid gray">
                <md-button ng-click="vleController.hideGlobalAnnotations()" class="md-accent">
                    Close
                </md-button>
                <div ng-repeat="globalAnnotationGroup in vleController.getActiveGlobalAnnotationGroups()" style="margin:10px; background-color: goldenrod">
                    <div ng-repeat="globalAnnotation in globalAnnotationGroup.annotations">
                        <div ng-if="globalAnnotation.type == 'autoScore'">Score: {{globalAnnotation.data.value}}</div>
                        <compile ng-if="globalAnnotation.type == 'autoComment'" data="globalAnnotation.data.value"></compile>
                    </div>
                </div>
                <md-button ng-click="vleController.hideGlobalAnnotations()" class="md-accent">
                    Close
                </md-button>
            </md-sidenav>

            <div id="nav" ng-include="vleController.themePath + '/navigation/navigation.html'" ng-show="themeCtrl.layoutState === 'nav'"></div>
            <div id="node" ng-cloak ui-view="nodeView" ng-if="themeCtrl.layoutState === 'node'"></div>

            <div id="notebook" class="view-content view-content--with-sidemenu" ng-cloak ui-view="notebookView" ng-show="themeCtrl.layoutState === 'notebook'"></div>
        </md-content>
        <notebook-menu class="notebook-menu" view-mode="sidebar" nodeId="themeCtrl.currentNodeId" notebook-filter="themeCtrl.notebookFilter" ng-show="themeCtrl.layoutState === 'notebook'"></notebook-menu>
        <button style="background-color: antiquewhite; font-weight: bold" ng-if="!vleController.isGlobalAnnotationsDisplayed && vleController.getActiveGlobalAnnotationGroups().length > 0" ng-click="vleController.showGlobalAnnotations()">See Feedback ({{vleController.getActiveGlobalAnnotationGroups().length}})</button>
    </div>
</disable-delete-keypress>