@import
  '~@angular/material/theming',
  '~style/abstracts/variables',
  '~style/abstracts/mixins',
  '~style/abstracts/functions';

.library-teacher {
  margin-top: 24px;
}

.library-teacher__header {
  h3 {
    font-weight: 500;
  }
}

.library-teacher__content {
  .notice {
    margin-bottom: 0;

    @media (max-width: breakpoint('xs.max')) {
      margin-top: 0;
    }
  }
}

.mat-tab-header {
  background-color: #ffffff;
  margin: 0 1px;
}
