@import
  '~@angular/material/theming',
  '~style/abstracts/variables',
  '~style/abstracts/mixins',
  '~style/abstracts/functions';

.library-teacher {
  margin-top: 24px;

  .mat-tab-label-container, .mat-tab-header-pagination {
    background-color: #333333;
  }
}

.library-teacher__header {
  padding-top: 16px;

  h3 {
    font-weight: 500;
  }
}

.library-teacher__content {
  .notice {
    margin-bottom: 0;

    @media (max-width: breakpoint('xs.max')) {
      margin-top: 0;
    }
  }
}
