.thumbnail > img,
.thumbnail a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 2.05923077rem;
  padding: 0.38461538rem 0.61538462rem;
  font-size: 0.86rem;
  line-height: 1.5;
  border-radius: 0.15384615rem;
}
.form-horizontal .form-group-lg .form-control {
  height: 2.73942308rem;
  padding: 0.53846154rem 0.76923077rem;
  font-size: 1.25rem;
  line-height: 1.33;
  border-radius: 0.30769231rem;
}
.btn-group-lg > .btn {
  padding: 0.53846154rem 0.76923077rem;
  font-size: 1.25rem;
  line-height: 1.33;
  border-radius: 0.30769231rem;
}
.btn-group-sm > .btn {
  padding: 0.38461538rem 0.61538462rem;
  font-size: 0.86rem;
  line-height: 1.5;
  border-radius: 0.15384615rem;
}
.btn-group-xs > .btn {
  padding: 0.07692308rem 0.38461538rem;
  font-size: 0.86rem;
  line-height: 1.5;
  border-radius: 0.15384615rem;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
form .two-fields:before,
form .two-fields:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
form .two-fields:after {
  clear: both;
}
.btn-group-sm > .btn {
  -: ;border-radius: 0.23076923076923078rem;
}
/*--------------------------------------------------
Styles for the WISE Match & Sequence Step Type
--------------------------------------------------*/
body {
  background-image: url("../../images/global/content_bg.png");
  background-color: #eee;
}
#content {
  position: fixed;
  -: ;top: 3.076923076923077rem;
  -: ;bottom: 3.076923076923077rem;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
#matchHeader,
#matchFooter {
  z-index: 110;
  padding: 0;
  margin: 0;
  border-radius: 0;
  position: absolute;
  left: 0;
  right: 0;
  -: ;height: 3.076923076923077rem;
  border-color: #cccccc;
}
#matchHeader {
  top: 0;
  border-width: 0 0 1px 0;
}
#matchHeader.prompt-inline .menu {
  padding: 0 0.5em;
  -: ;line-height: 3.076923076923077rem;
}
#matchFooter {
  bottom: 0;
  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
  border-width: 1px 0 0;
}
#matchFooter .panel-body {
  display: table;
  width: 100%;
}
#matchFooter .panel-body > div {
  display: table-cell;
}
#submit {
  padding-right: 0.5em;
  white-space: nowrap;
}
#score {
  text-align: right;
  padding-left: 0.5em;
}
#score > * {
  vertical-align: middle;
}
#instructions {
  display: none;
}
#promptContainer,
#previousWork {
  display: none;
}
#promptContainer {
  box-shadow: none;
  margin-bottom: 2em;
}
#promptTitle {
  color: #795c3a;
  border-bottom: 1px solid #dddddd;
  margin-top: 0;
  padding-bottom: 0.5em;
}
#attempts {
  font-size: 0.9em;
  margin-left: 0.5em;
  vertical-align: middle;
}
.panel-header {
  border-width: 0;
  margin: 0 0.5em 0 0.25em;
  padding: 0;
  vertical-align: middle;
}
.content-panel .panel {
  margin: 0.5em 0;
  padding: 0.25em 0.5em;
}
.bucket > ul {
  list-style: none;
  padding: 0;
}
.horizontal #sourceBucket {
  -moz-column-width: 17.75em;
  -webkit-column-width: 17.75em;
  column-width: 17.75em;
  -moz-column-gap: 1.25em;
  -webkit-column-gap: 1.25em;
  column-gap: 1.25em;
}
.horizontal #sourceBucket .choice {
  display: inline-block;
  width: 100%;
  float: none;
}
.horizontal .targetBucket .choice {
  width: 100%;
  float: none;
}
#targetsDisplay .bucket > ul {
  background-color: #ddd;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #aaa;
  margin-top: 0.5em;
  padding: 0 0.5em;
  min-height: 6em;
}
#targetsDisplay .bucket > ul.over {
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.2);
}
#targetsDisplay .bucket .section-head {
  border-width: 0;
  padding-bottom: 0;
}
.choice {
  cursor: move;
}
.choice.incorrect {
  background-color: #fadfdd;
  border-color: #f3b1b7;
  color: #d42623;
}
.choice.incorrect hr {
  border-top-color: #f09aa3;
}
.choice.incorrect .alert-link {
  color: #a81e1c;
}
.choice.correct {
  background-color: #d8f0da;
  border-color: #a6dba1;
  color: #387a56;
}
.choice.correct hr {
  border-top-color: #94d48e;
}
.choice.correct .alert-link {
  color: #28573d;
}
.choice.wrongorder {
  background-color: #f9fce3;
  border-color: #f7f4b5;
  color: #999c23;
}
.choice.wrongorder hr {
  border-top-color: #f5f19e;
}
.choice.wrongorder .alert-link {
  color: #70721a;
}
.choice .feedback {
  background-color: #fff;
  border: 1px solid;
  font-weight: bold;
  margin: 0.25em 0;
  padding: 0.25em 0.5em;
}
#possibleScores {
  display: inline-block;
  -: ;margin-left: 1.9230769230769231rem;
  -: ;margin-right: 1.9230769230769231rem;
  margin-bottom: 0;
  -: ;width: 9.23076923076923rem;
}
@media (min-width: 768px) {
  #possibleScores {
    -: ;width: 15.384615384615385rem;
  }
}
#possibleScores .slick-track {
  border-right: 1px solid #aaaaaa;
}
.score {
  margin-right: -1px;
  text-align: center;
  border: 1px solid #aaaaaa;
}
.score > a,
.score > span {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: auto;
  border-color: #aaaaaa !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.score.active {
  background-color: #5cb87b;
  color: #fff;
}
.score.disabled {
  background-color: #e5e5e5;
  color: #6f6f6f;
}
.possible-scores-label {
  font-weight: bold;
  color: #ff563f;
}
.slick-nav {
  margin-top: -0.35em;
  position: absolute;
  top: 50%;
  color: #6f6f6f;
}
.slick-nav:hover,
.slick-nav:focus {
  color: #aaaaaa;
}
.slick-nav:active {
  color: #dddddd;
}
.slick-nav.slick-disabled {
  color: #dddddd;
}
.slick-match-prev {
  -: ;left: -1.3846153846153846rem;
}
.slick-match-next {
  -: ;right: -1.3846153846153846rem;
}
.sr-only {
  padding: 0 !important;
  width: 1px !important;
  border-width: 0 !important;
}
#status {
  position: fixed;
  -: ;bottom: 3.076923076923077rem;
  left: 0;
  right: 0;
  display: none;
  background-color: #333333;
  color: #fff;
  padding: 0.75em 1em;
  margin: 0;
  text-align: center;
  border-radius: 0;
  border: 0 none;
}
#status .close {
  color: #fff;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
#status .close:hover,
#status .close:focus {
  color: #fff;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#status a {
  color: #ff8372;
}
#status.success {
  background-color: #5cb87b;
}
#resultMessage {
  margin-left: 0.5em;
}
