// NOTE: This file should be compiled to vle/css/classroomMonitor/monitor-styles.css

@import (reference) "../../css/less/global.less"; // import the global VLE styles

/*--------------------------------------------------
Styles for the WISE Match & Sequence Step Type
--------------------------------------------------*/


// Monitor-specific variables & mixins
// -------------------------------------------------

body {
	//.px-rem(margin-top, 40);
	//.px-rem(margin-bottom, 40);
	background-image: url("../../images/global/content_bg.png");
	background-color: #eee;
}

#content {
	position: fixed;
	.px-rem(top, 40);
	.px-rem(bottom, 40);
	left: 0;
	right: 0;
	overflow-x: hidden;
    overflow-y: auto;
}

#matchHeader, #matchFooter {
	z-index: 110;
	padding: 0;
	margin: 0;
	border-radius: 0;
	position: absolute;
	left: 0;
	right: 0;
	.px-rem(height, 40);
	border-color: @content-border-color;
}

#matchHeader {
	top: 0;
	border-width: 0 0 1px 0;
	
	&.prompt-inline .menu {
		padding: 0 0.5em;
		.px-rem(line-height, 40);
	}
}

#matchFooter {
	bottom: 0;
	box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
	border-width: 1px 0 0;
	
	.panel-body {
		display: table;
		width: 100%;
		
		> div {
			display: table-cell;
		}
	}
}

#submit {
	padding-right: 0.5em;
    white-space: nowrap;
}

#score {
	text-align: right;
    padding-left: 0.5em;
    
    > * {
    	vertical-align: middle;
    }
}

#instructions {
	display: none;
}

#promptContainer, #previousWork {
	display: none;
}

#promptContainer {
	box-shadow: none;
	margin-bottom: 2em;
}

#promptTitle {
	color: @brand-info;
	border-bottom: 1px solid @gray-lighter;
    margin-top: 0;
    padding-bottom: 0.5em;
}

#attempts {
	font-size: 0.9em;
    margin-left: 0.5em;
    vertical-align: middle;
}

.panel-header {
	border-width: 0;
    margin: 0 0.5em 0 0.25em;
    padding: 0;
    vertical-align: middle;
}

.content-panel {
	.panel {
		margin: 0.5em 0;
    	padding: 0.25em 0.5em;
	}
}

.bucket {
	> ul {
		list-style: none;
		padding: 0;
	}
}

#targetsDisplay, #choicesDisplay {
	//position: inherit;
}

.horizontal {
	 #sourceBucket {
		 -moz-column-width: 17.75em;
		 -webkit-column-width: 17.75em;
		 column-width: 17.75em;
		 -moz-column-gap: 1.25em;
		 -webkit-column-gap: 1.25em;
		 column-gap: 1.25em;
		 
		 .choice {
		     display: inline-block;
			 width: 100%; 
			 float: none;
		 }
	}
	
	.targetBucket {
		.choice {
			width: 100%;
			float: none;
		}
	}
}

#targetsDisplay {
	.bucket {
		> ul {
			background-color: #ddd;
			background-color: rgba(0, 0, 0, 0.1);
		    border: 1px solid #aaa;
		    margin-top: 0.5em;
		    padding: 0 0.5em;
			min-height: 6em;
			
			&.over {
				background-color: #ccc;
				background-color: rgba(0, 0, 0, 0.2);
			}
		}
		
		.section-head {
			border-width: 0;
			padding-bottom: 0;
		}
	}
}

.choice {
	cursor: move;
	
	&.incorrect {
		.alert-danger;
	}
	
	&.correct {
		.alert-success;
	}
	
	&.wrongorder {
		.alert-warning;
	}
	
	.feedback {
		margin-left: 0.5em;
		font-weight: bold;
	}
}

#possibleScores {
	display: inline-block;
    .px-rem(margin-left, 25);
    .px-rem(margin-right, 25);
    margin-bottom: 0;
    border-right: 1px solid @gray-light;
    .px-rem(width, 120);
    
    @media (min-width: @screen-sm-min) {
    	.px-rem(width, 200);
    }
}

.score {
	margin-right: -1px;
    text-align: center;
    border: 1px solid @gray-light;
	
	> a, > span {
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		width: auto;
		border-color: @gray-light !important;
		padding-top: 5px !important;
		padding-bottom: 5px !important;
		//.px-rem(padding-left, 6);
		//.px-rem(padding-right, 6);
	}
	
	&.active {
		background-color: @brand-success;
		color: #fff;
	}
	
	&.disabled {
		background-color: lighten(@gray-lighter, 3%);
		color: lighten(@gray, 10%);
	}
}

.possible-scores-label {
	font-weight: bold;
	color: @brand-danger;
}

.slick-nav {
	margin-top: -0.35em;
    position: absolute;
    top: 50%;
    color: lighten(@gray, 10%);
	
	&:hover, &:focus {
		color: @gray-light;
	}
	
	&:active {
		color: @gray-lighter;
	}
	
	&.slick-disabled {
		color: @gray-lighter;
	}
}

.slick-match-prev {
	.px-rem(left, -18);
}

.slick-match-next {
	.px-rem(right, -18);
}

.sr-only {
	padding: 0 !important;
	width: 1px !important;
	border-width: 0 !important;
}

#status {
	position: fixed;
	.px-rem(bottom, 40);
    left: 0;
    right: 0;
    display: none;
    background-color: @gray-dark;
    color: #fff;
    padding: 0.75em 1em;
    margin: 0;
    text-align: center;
    border-radius: 0;
    border: 0 none;
    
    .close {
    	color: #fff;
    	.opacity(0.4);
    	
    	&:hover, &:focus {
    		color: #fff;
    		.opacity(0.7);
    	}
    }
    
    a {
    	color: lighten(@brand-danger, 10%);
    }
    
    &.success {
    	background-color: @brand-success;
    }
}

#resultMessage {
	margin-left: 0.5em;
}