<div class='animation' flex>
  <style>
    {{animationController.nodeContent.style}}
    .regularButton {
      min-height: 36px !important;
      max-height: 36px !important;
      min-width: 50px !important;
      font-size: 10px !important;
      line-height: 0px;
    }
    md-slider {
      width: 200px;
    }
  </style>
  <div>
    <div class='advancedAuthoringDiv'
         ng-if='animationController.showAdvancedAuthoring'>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='animationController.authoringComponentContent.showSaveButton'
                     ng-change='animationController.componentChanged()'>
          {{ ::'SHOW_SAVE_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='animationController.authoringComponentContent.showSubmitButton'
                     ng-change='animationController.componentChanged()'>
          {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                            ng-if='animationController.authoringComponentContent.showSubmitButton'>
          <label>{{ ::'MAX_SUBMIT' | translate }}</label>
          <input type='number'
                 ng-model='animationController.authoringComponentContent.maxSubmitCount'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='animationController.componentChanged()'/>
        </md-input-container>
      </div>
      <div layout="column" layout-align="start start">
        <edit-component-max-score [authoring-component-content]="animationController.authoringComponentContent"></edit-component-max-score>
        <edit-component-width [authoring-component-content]="animationController.authoringComponentContent"></edit-component-width>
        <edit-component-rubric [authoring-component-content]="animationController.authoringComponentContent"></edit-component-rubric>
        <edit-component-tags [authoring-component-content]="animationController.authoringComponentContent"></edit-component-tags>
      </div>
      <div>
        <div style='height: 50;'>
          <label class='node__label--vertical-alignment'>
            {{ ::'CONNECTED_COMPONENTS' | translate }}
          </label>
          <md-button class='topButton md-raised md-primary'
                     ng-click='animationController.addConnectedComponent()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'ADD_CONNECTED_COMPONENT' | translate }}
            </md-tooltip>
          </md-button>
        </div>
        <div ng-repeat='connectedComponent in animationController.authoringComponentContent.connectedComponents track by $index'
             style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'
             layout='row'>
          <div flex>
            <md-input-container style='margin-right: 20; width: 300;'>
              <label>{{ ::'step' | translate }}</label>
              <md-select ng-model='connectedComponent.nodeId'
                         ng-change='animationController.connectedComponentNodeIdChanged(connectedComponent)'
                         style='width: 300'>
                <md-option ng-repeat='item in animationController.idToOrder | toArray | orderBy : "order"'
                           value='{{item.$key}}'
                           ng-if='animationController.isApplicationNode(item.$key)'>
                  {{ animationController.getNodePositionAndTitleByNodeId(item.$key) }}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container style='margin-right: 20; width: 300;'>
              <label>{{ ::'component' | translate }}</label>
              <md-select ng-model='connectedComponent.componentId'
                         ng-change='animationController.connectedComponentComponentIdChanged(connectedComponent)'
                         style='width: 300'>
                <md-option ng-repeat='(componentIndex, component) in animationController.getComponentsByNodeId(connectedComponent.nodeId)'
                           value='{{component.id}}'
                           ng-disabled='!animationController.isConnectedComponentTypeAllowed(component.type) || component.id == animationController.componentId'>
                  {{ componentIndex + 1 }}. {{ component.type }}
                  <span ng-if='component.id == animationController.componentId'>
                    ({{ ::'thisComponent' | translate }})
                  </span>
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container style='margin-right: 20; width: 200;'>
              <label>{{ ::'type' | translate }}</label>
              <md-select ng-model='connectedComponent.type'
                         ng-change='animationController.connectedComponentTypeChanged(connectedComponent)'
                         style='width: 200'>
                <md-option value='importWork'>
                  {{ ::'importWork' | translate }}
                </md-option>
                <md-option value='showWork'>
                  {{ ::'showWork' | translate }}
                </md-option>
              </md-select>
            </md-input-container>
            <span flex></span>
            <md-input-container style='margin-left: 20;'>
              <md-button class='topButton md-raised md-primary'
                         ng-click='animationController.deleteConnectedComponent($index)'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'DELETE' | translate }}
                </md-tooltip>
              </md-button>
            </md-input-container>
          </div>
        </div>
      </div>
      <edit-component-json [node-id]="animationController.nodeId" [component-id]="animationController.componentId"></edit-component-json>
    </div>
    <br/>
  </div>
  <div ng-if='!animationController.authoringComponentContent.showPreviousWork'>
    <md-input-container style='width:100%'>
      <label>{{ ::'PROMPT' | translate }}</label>
      <textarea rows='1'
                ng-model='animationController.authoringComponentContent.prompt'
                ng-change='animationController.componentChanged()'
                ng-model-options='{ debounce: 1000 }'
                placeholder='{{ ::"enterPromptHere" | translate }}'>
      </textarea>
    </md-input-container>
    <div layout='row'>
      <md-input-container style='margin-right: 20px; width: 110px;'>
        <label>{{ ::'animation.width' | translate }} ({{ ::'animation.pixels' | translate }})</label>
        <input type='number'
               ng-model='animationController.authoringComponentContent.widthInPixels'
               ng-model-options='{ debounce: 1000 }'
               ng-change='animationController.componentChanged()'/>
      </md-input-container>
      <md-input-container style='margin-right: 20px; width: 110px;'>
        <label>{{ ::'animation.height' | translate }} ({{ ::'animation.pixels' | translate }})</label>
        <input type='number'
               ng-model='animationController.authoringComponentContent.heightInPixels'
               ng-model-options='{ debounce: 1000 }'
               ng-change='animationController.componentChanged()'/>
      </md-input-container>
    </div>
    <div layout='row'>
      <md-input-container style='margin-right: 20px; width: 110px;'>
        <label>{{ ::'animation.width' | translate }} ({{ ::'animation.units' | translate }})</label>
        <input type='number'
               ng-model='animationController.authoringComponentContent.widthInUnits'
               ng-model-options='{ debounce: 1000 }'
               ng-change='animationController.componentChanged()'/>
      </md-input-container>
      <md-input-container style='margin-right: 20px; width: 110px;'>
        <label>{{ ::'animation.height' | translate }} ({{ ::'animation.units' | translate }})</label>
        <input type='number'
               ng-model='animationController.authoringComponentContent.heightInUnits'
               ng-model-options='{ debounce: 1000 }'
               ng-change='animationController.componentChanged()'/>
      </md-input-container>
    </div>
    <div layout='row'>
      <md-input-container style='margin-right: 20px; width: 150px;'>
        <label>{{ ::'animation.dataOriginX' | translate }} ({{ ::'animation.pixels' | translate }})</label>
        <input type='number'
               ng-model='animationController.authoringComponentContent.dataXOriginInPixels'
               ng-model-options='{ debounce: 1000 }'
               ng-change='animationController.componentChanged()'/>
      </md-input-container>
      <md-input-container style='margin-right: 20px; width: 150px;'>
        <label>{{ ::'animation.dataOriginY' | translate }} ({{ ::'animation.pixels' | translate }})</label>
        <input type='number'
               ng-model='animationController.authoringComponentContent.dataYOriginInPixels'
               ng-model-options='{ debounce: 1000 }'
               ng-change='animationController.componentChanged()'/>
      </md-input-container>
    </div>
    <div layout='row'>
      <md-radio-group ng-model='animationController.authoringComponentContent.coordinateSystem'
                      ng-change='animationController.componentChanged()'>
        <md-radio-button value='screen'
                         class='md-primary'>
          {{ ::'animation.screen' | translate }}
        </md-radio-button>
        <md-radio-button value='cartesian'
                         class='md-primary'>
          {{ ::'animation.cartesian' | translate }}
        </md-radio-button>
      </md-radio-group>
    </div>
    <div layout='row'>
      <h6>{{ ::'animation.objects' | translate }}</h6>
      <md-button class='topButton md-raised md-primary'
                 ng-click='animationController.addObject()'>
        <md-icon>add</md-icon>
        <md-tooltip md-direction='top'
                    class='projectButtonTooltip'>
          {{ ::'animation.addObject' | translate }}
        </md-tooltip>
      </md-button>
    </div>
    <div ng-repeat='object in animationController.authoringComponentContent.objects'
         style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
      <div layout='row'>
        <div ng-show='object.type == "image"'
             layout='row'>
          <md-input-container style='margin-right: 20px; width: 400px;'>
            <label>{{ ::'animation.image' | translate }}</label>
            <input ng-model='object.image'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='animationController.componentChanged()'/>
          </md-input-container>
          <md-input-container>
            <md-button class='topButton md-raised md-primary'
                       style='margin-right: 20; margin-top: -5;'
                       ng-click='animationController.chooseImage(object)'>
              <md-icon>insert_photo</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'chooseAnImage' | translate }}
              </md-tooltip>
            </md-button>
          </md-input-container>
        </div>
        <md-input-container
          ng-show='object.type == "text"'
          style='margin-right: 20px; width: 400px;'>
          <label>{{ ::'animation.text' | translate }}</label>
          <input ng-model='object.text'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='animationController.componentChanged()'/>
        </md-input-container>
        <div>
          <md-radio-group ng-model='object.type'
                          ng-change='animationController.authoredObjectTypeChanged(object)'>
            <md-radio-button value='image'
                             class='md-primary'>
              {{ ::'animation.image' | translate }}
            </md-radio-button>
            <md-radio-button value='text'
                             class='md-primary'>
              {{ ::'animation.text' | translate }}
            </md-radio-button>
          </md-radio-group>
        </div>
        <span flex></span>
        <md-button class='regularButton md-raised md-primary'
                   ng-click='animationController.moveAuthoredObjectUp($index)'>
          <md-icon>arrow_upward</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'animation.moveObjectUp' | translate }}
          </md-tooltip>
        </md-button>
        <md-button class='regularButton md-raised md-primary'
                   ng-click='animationController.moveAuthoredObjectDown($index)'>
          <md-icon>arrow_downward</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'animation.moveObjectDown' | translate }}
          </md-tooltip>
        </md-button>
        <md-button class='regularButton md-raised md-primary'
                   ng-click="animationController.confirmDeleteAnimationObject($index)">
          <md-icon>delete</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'animation.deleteObject' | translate }}
          </md-tooltip>
        </md-button>
      </div>
      <div layout='row'
           ng-if='object.type == "image"'>
        <md-input-container style='margin-right: 20px; width: 150px;'>
          <label>{{ ::'animation.imageWidth' | translate }} ({{ ::'animation.pixels' | translate }})</label>
          <input type='number'
                 ng-model='object.width'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='animationController.componentChanged()'/>
        </md-input-container>
        <md-input-container style='margin-right: 20px; width: 150px;'>
          <label>{{ ::'animation.imageHeight' | translate }} ({{ ::'animation.pixels' | translate }})</label>
          <input type='number'
                 ng-model='object.height'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='animationController.componentChanged()'/>
        </md-input-container>
      </div>
      <div ng-if='object.type == "image"'
           layout='row'>
        <md-input-container style='margin-right: 20px; width: 250px;'>
          <label>{{ ::'animation.imageMovingLeft' | translate }}</label>
          <input ng-model='object.imageMovingLeft'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='animationController.componentChanged()'/>
        </md-input-container>
        <md-input-container>
          <md-button class='topButton md-raised md-primary'
                     style='margin-right: 20px; margin-top: -5px;'
                     ng-click='animationController.chooseImageMovingLeft(object)'>
            <md-icon>insert_photo</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'chooseAnImage' | translate }}
            </md-tooltip>
          </md-button>
        </md-input-container>
        <md-input-container style='margin-right: 20px; width: 250px;'>
          <label>{{ ::'animation.imageMovingRight' | translate }}</label>
          <input ng-model='object.imageMovingRight'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='animationController.componentChanged()'/>
        </md-input-container>
        <md-input-container>
          <md-button class='topButton md-raised md-primary'
                     style='margin-right: 20px; margin-top: -5px;'
                     ng-click='animationController.chooseImageMovingRight(object)'>
            <md-icon>insert_photo</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'chooseAnImage' | translate }}
            </md-tooltip>
          </md-button>
        </md-input-container>
      </div>
      <div layout='row'>
        <md-input-container style='margin-right: 20px; width: 150px;'>
          <label>{{ ::'animation.locationX' | translate }} ({{ ::'animation.pixels' | translate }})</label>
          <input type='number'
                 ng-model='object.pixelX'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='animationController.componentChanged()'/>
        </md-input-container>
        <md-input-container style='margin-right: 20px; width: 150px;'>
          <label>{{ ::'animation.locationY' | translate }} ({{ ::'animation.pixels' | translate }})</label>
          <input type='number'
                 ng-model='object.pixelY'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='animationController.componentChanged()'/>
        </md-input-container>
        <md-input-container style='margin-right: 20px; width: 100px;'>
          <label>{{ ::'animation.dataX' | translate }} ({{ ::'animation.units' | translate }})</label>
          <input type='number'
                 ng-model='object.dataX'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='animationController.componentChanged()'/>
        </md-input-container>
        <md-input-container style='margin-right: 20px; width: 100px;'>
          <label>{{ ::'animation.dataY' | translate }} ({{ ::'animation.units' | translate }})</label>
          <input type='number'
                 ng-model='object.dataY'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='animationController.componentChanged()'/>
        </md-input-container>
      </div>
      <div>
        <span>{{ ::'animation.dataPoints' | translate }}</span>
        <md-button class='topButton md-raised md-primary'
                   ng-click='animationController.addDataPointToObject(object)'>
          <md-icon>add</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'animation.addDataPoint' | translate }}
          </md-tooltip>
        </md-button>
        <div ng-repeat='dataPoint in object.data track by $index'
             layout='row'>
          <md-input-container style='margin-right: 20px; width: 100px;'>
            <label>{{ ::'animation.time' | translate }}</label>
            <input type='number'
                   ng-model='dataPoint.t'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='animationController.componentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 100px;'>
            <label>{{ ::'animation.x' | translate }}</label>
            <input type='number'
                   ng-model='dataPoint.x'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='animationController.componentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 100px;'>
            <label>{{ ::'animation.y' | translate }}</label>
            <input type='number'
                   ng-model='dataPoint.y'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='animationController.componentChanged()'/>
          </md-input-container>
          <md-input-container style='margin-right: 20; width: 400;'>
            <label>{{ ::'animation.image' | translate }} ({{ ::'animation.optional' | translate }})</label>
            <input ng-model='dataPoint.image'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='animationController.componentChanged()'/>
          </md-input-container>
          <md-button class='regularButton md-raised md-primary'
                     ng-click='animationController.moveAuthoredObjectDataPointUp(object, $index)'>
            <md-icon>arrow_upward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'UP' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='regularButton md-raised md-primary'
                     ng-click='animationController.moveAuthoredObjectDataPointDown(object, $index)'>
            <md-icon>arrow_downward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'DOWN' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='regularButton md-raised md-primary'
                     ng-click="animationController.confirmDeleteAnimationObjectDataPoint(object, $index)">
            <md-icon>delete</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'animation.deleteDataPoint' | translate }}
            </md-tooltip>
          </md-button>
        </div>
      </div>
      <div>
        <span>{{ ::'animation.dataSource' | translate }}</span>
        <md-button class='topButton md-raised md-primary'
                   ng-click='animationController.addDataSource(object)'
                   ng-show='object.dataSource == null'>
          <md-icon>add</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'animation.addDataSource' | translate }}
          </md-tooltip>
        </md-button>
        <md-button class='topButton md-raised md-primary'
                   ng-click="animationController.confirmDeleteDataSource(object)"
                   ng-show='object.dataSource != null'>
          <md-icon>delete</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'animation.addDataPoint' | translate }}
          </md-tooltip>
        </md-button>
        <br/>
        <div ng-if='object.dataSource != null'>
          <md-input-container style='margin-right: 20px; width: 300px;'>
            <label>{{ ::'animation.step' | translate }}</label>
            <md-select ng-model='object.dataSource.nodeId'
                       ng-change='animationController.dataSourceNodeChanged(object)'
                       style='width: 300px'>
              <md-option ng-repeat='item in animationController.idToOrder | toArray | orderBy : "order"'
                         value='{{item.$key}}'
                         ng-if='animationController.isApplicationNode(item.$key)'>
                {{animationController.getNodePositionAndTitleByNodeId(item.$key)}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 300px;'>
            <label>{{ ::'animation.component' | translate }}</label>
            <md-select ng-model='object.dataSource.componentId'
                       ng-change='animationController.dataSourceComponentChanged(object)'
                       style='width: 300px'>
              <md-option ng-repeat='component in animationController.getComponentsByNodeId(object.dataSource.nodeId)'
                         value='{{component.id}}'>
                {{component.type}}
              </md-option>
            </md-select>
          </md-input-container>
          <div ng-if='animationController.getComponentByNodeIdAndComponentId(object.dataSource.nodeId, object.dataSource.componentId).type == "Graph"'
               layout='row'>
            <md-input-container style='margin-right: 20px; width: 100px;'>
              <label>{{ ::'animation.trialIndex' | translate }}</label>
              <input type='number'
                     ng-model='object.dataSource.trialIndex'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='animationController.componentChanged()'/>
            </md-input-container>
            <md-input-container style='margin-right: 20px; width: 100px;'>
              <label>{{ ::'animation.seriesIndex' | translate }}</label>
              <input type='number'
                     ng-model='object.dataSource.seriesIndex'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='animationController.componentChanged()'/>
            </md-input-container>
            <md-input-container style='margin-right: 20px; width: 150px;'>
              <label>{{ ::'animation.timeColumnIndex' | translate }}</label>
              <input type='number'
                     ng-model='object.dataSource.tColumnIndex'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='animationController.componentChanged()'/>
            </md-input-container>
            <md-input-container style='margin-right: 20px; width: 150px;'>
              <label>{{ ::'animation.xColumnIndex' | translate }}</label>
              <input type='number'
                     ng-model='object.dataSource.xColumnIndex'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='animationController.componentChanged()'/>
            </md-input-container>
            <md-input-container style='margin-right: 20px; width: 150px;'>
              <label>{{ ::'animation.yColumnIndex' | translate }}</label>
              <input type='number'
                     ng-model='object.dataSource.yColumnIndex'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='animationController.componentChanged()'/>
            </md-input-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
