<div class='animation' ng-controller='AnimationController as animationController' flex>
  <style>
    {{::animationController.nodeContent.style}}
    .regularButton {
      min-height: 36px !important;
      max-height: 36px !important;
      min-width: 50px !important;
      font-size: 10px !important;
      line-height: 0px;
    }
    md-slider {
      width: 200px;
    }
  </style>
  <div>
    <div ng-switch='::animationController.mode'>
      <div ng-switch-when='grading'
          layout='row'
          layout-wrap>
        <div flex='100'
            flex-gt-sm='66'
            layout='column'
            class='component--grading__response'>
          <div class='component--grading__response__content'>

          </div>
          <span flex></span>
          <component-revisions-info node-id='animationController.nodeId'
              component-id='animationController.componentId'
              to-workgroup-id='workgroupId'
              component-state-id='componentState.id'>
          </component-revisions-info>
        </div>
        <div flex='100'
            flex-gt-sm='33'
            class='component--grading__annotations'>
          <component-grading node-id='animationController.nodeId'
              component-id='animationController.componentId'
              max-score='animationController.componentContent.maxScore'
              from-workgroup-id='teacherWorkgroupId'
              to-workgroup-id='workgroupId'
              component-state-id='componentState.id'
              active='true'>
          </component-grading>
        </div>
      </div>
      <div ng-switch-default>
        <md-input-container class='input-container input-container--open-response md-block md-no-float'>
          <label class='input-label md-no-float'
              ng-disabled='animationController.isDisabled'
              ng-if='animationController.isPromptVisible'>
            <compile data='animationController.getPrompt()'></compile>
            <possible-score [max-score]='animationController.componentContent.maxScore'></possible-score>
          </label>
          <md-button class='regularButton md-raised md-primary'
              ng-click='animationController.playButtonClicked()'
              ng-show='animationController.animationState == "stopped"'
              ng-disabled='animationController.isDisabled'>
            <md-icon>play_arrow</md-icon>
            <md-tooltip>{{ ::'animation.play' | translate }}</md-tooltip>
          </md-button>
          <md-button class='regularButton md-raised md-primary'
              ng-click='animationController.pauseButtonClicked()'
              ng-show='animationController.animationState == "playing"'
              ng-disabled='animationController.isDisabled'>
            <md-icon>pause</md-icon>
            <md-tooltip>{{ ::'animation.pause' | translate }}</md-tooltip>
          </md-button>
          <md-button class='regularButton md-raised md-primary'
              ng-click='animationController.resumeButtonClicked()'
              ng-show='animationController.animationState == "paused"'
              ng-disabled='animationController.isDisabled'>
            <md-icon>play_arrow</md-icon>
            <md-tooltip>{{ ::'animation.resume' | translate }}</md-tooltip>
          </md-button>
          <md-button class='regularButton md-raised md-primary'
              ng-click='animationController.resetButtonClicked()'
              ng-disabled='animationController.isDisabled'>
            <md-icon>replay</md-icon>
            <md-tooltip>{{ ::'animation.reset' | translate }}</md-tooltip>
          </md-button>
          <span style='display: inline-block;'>
            <md-slider-container style='width: 100px;'
                                 ng-disabled='animationController.isDisabled'>
              <div style='margin-right: 35px'>
                {{ ::'animation.slower' | translate }}
              </div>
              <md-slider ng-model='animationController.speedSliderValue'
                  aria-label='slider'
                  ng-change='animationController.speedSliderChanged()'
                  min='1'
                  max='5'>
              </md-slider>
              <div>
                {{ ::'animation.faster' | translate }}
              </div>
            </md-slider-container>
          </span>
          <br/>
          <svg id='{{::animationController.svgId}}'
              width='{{animationController.width}}'
              height='{{animationController.height}}'
              ng-style='{"background-image": animationController.componentContent.background != null ? "url(" + animationController.componentContent.background + ")" : "",
              "background-size": animationController.backgroundSize,
              "background-repeat": "no-repeat",
              "border": "1px solid black",
              "-moz-user-select": "none",
              "-webkit-user-select": "none",
              "-ms-user-select":"none",
              "user-select":"none",
              "-o-user-select":"none"}'>
          </svg>
        </md-input-container>
      </div>
    </div>
    <div class='component__actions'
        ng-if='animationController.isStudentAttachmentEnabled'
        layout='row'
        layout-wrap='true'>
      <div class='component__add-attachment'>
        <md-button class='md-accent'
            ng-click='nodeController.showStudentAssets($event, component.id)'
            ng-disabled='animationController.isDisabled'>
          <md-icon>image</md-icon> <span>{{ ::'animation.addFile' | translate }}</span>
        </md-button>
      </div>
      <div class='component__attachment'
          ng-repeat='attachment in animationController.attachments'>
        <img ng-src='{{attachment.iconURL}}'
            class='component__attachment__content' />
        <md-button ng-if='!animationController.isDisabled'
            class='component__attachment__delete'
            ng-click='animationController.removeAttachment(attachment)'
            title='Remove file'
            ng-disabled='animationController.isDisabled'>
          <md-icon>cancel</md-icon>
        </md-button>
      </div>
    </div>
    <div ng-if='animationController.isSaveOrSubmitButtonVisible()'
        class='component__actions'
        layout='row'
        layout-align='start center'>
      <md-button class='md-raised md-primary'
          ng-class='{"md-raised": !animationController.isSubmitButtonVisible}'
          ng-click='animationController.saveButtonClicked()'
          ng-disabled='animationController.isDisabled || !animationController.isDirty'
          ng-if='::animationController.isSaveButtonVisible'
          aria-label='{{ ::"SAVE" | translate }}'
          translate='SAVE'>
      </md-button>
      <md-button class='md-raised md-primary'
          ng-click='animationController.submitButtonClicked()'
          ng-disabled='animationController.isDisabled || !animationController.isSubmitDirty || animationController.isSubmitButtonDisabled'
          ng-if='::animationController.isSubmitButtonVisible'
          aria-label='{{ "SUBMIT" | translate}}'
          translate='SUBMIT'>
      </md-button>
      <span ng-if='animationController.saveMessage.text'
          class='component__actions__info md-caption'>
        {{animationController.saveMessage.text}}
        <span class='component__actions__more'>
          <md-tooltip md-direction='top'>
            {{ animationController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}
          </md-tooltip>
          <span am-time-ago='animationController.saveMessage.time'>
          </span>
        </span>
      </span>
    </div>
    <component-annotations ng-if='::animationController.mode === "student"'
        [annotations]='animationController.latestAnnotations'
        [max-score]='animationController.componentContent.maxScore'>
    </component-annotations>
  </div>
</div>
