
<head>
<style>
.feedbackToShow {
    margin-left: 20px;
}
</style>
</head>
<body>
<div ng-controller='MultipleChoiceController as multipleChoiceController'>
<div id='prompt' compile='multipleChoiceController.getPrompt()'></div>

<div ng-repeat='choice in multipleChoiceController.getChoices()'>
    <label>
        <div ng-switch on='multipleChoiceController.getChoiceType()'>
            <div ng-switch-when='radio'>
                <input type='radio' 
                    name='choice' 
                    value='{{choice.id}}' 
                    ng-model='multipleChoiceController.studentChoices' 
                    ng-change='multipleChoiceController.studentDataChanged()' 
                    ng-disabled='multipleChoiceController.isDisabled'></input>
                <span>{{choice.text}}</span><span ng-show='choice.showFeedback' class='feedbackToShow'>{{choice.feedbackToShow}}</span>
            </div>
            <div ng-switch-when='checkbox'>
                <input type='checkbox' 
                    name='choice' 
                    ng-checked='multipleChoiceController.isChecked(choice.id)' 
                    ng-click='multipleChoiceController.toggleSelection(choice.id)' 
                    ng-disabled='multipleChoiceController.isDisabled'></input>
                <span>{{choice.text}}</span><span ng-show='choice.showFeedback' class='feedbackToShow'>{{choice.feedbackToShow}}</span>
            </div>
        </div>
    </label>
</div>

<div ng-show='multipleChoiceController.numberOfAttempts != null'>Number of Attempts: {{multipleChoiceController.numberOfAttempts}}</div>
<div ng-show='multipleChoiceController.isCorrect != null && multipleChoiceController.isCorrect'>Correct!</div>
<div ng-show='multipleChoiceController.isCorrect != null && !multipleChoiceController.isCorrect'>Incorrect</div>
<button ng-click='multipleChoiceController.saveButtonClicked()' 
    ng-show='multipleChoiceController.showSaveButton()' 
    ng-disabled='multipleChoiceController.isDisabled'>Save</button>
    
<button ng-click='multipleChoiceController.submitButtonClicked()' 
    ng-show='multipleChoiceController.showSubmitButton()' 
    ng-disabled='multipleChoiceController.isDisabled'>Submit</button>
</div>
</body>