<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="login mat-app-background" fxLayout="column" fxLayoutAlign="start center">
  <p i18n>Your message has been sent. Thank you for contacting WISE. We will try to get back to you as soon as possible.</p>
  <a routerLink="/" i18n>Return to Home Page</a>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
