<md-toolbar class="md-whiteframe-1dp layout-toolbar md-toolbar--wise" md-theme="light">
    <div class="md-toolbar-tools">
        <!--<md-button aria-label="Project content menu" class="md-icon-button" ng-click="stepToolsCtrl.toggleStepNav()">
            <md-icon> menu </md-icon>
        </md-button>-->
        <img ng-if="stepToolsCtrl.nodeStatus.icon.type === 'img'" ng-animate-ref="{{ stepToolsCtrl.nodeId }}" class="md-18 avatar node-avatar" ng-src="{{stepToolsCtrl.nodeStatus.icon.imgSrc}}" alt="{{stepToolsCtrl.nodeStatus.icon.imgAlt}}" />
        <div ng-if="stepToolsCtrl.nodeStatus.icon.type === 'font'" ng-animate-ref="{{ stepToolsCtrl.nodeId }}" style="background-color: {{stepToolsCtrl.nodeStatus.icon.color}};" class="md-18 avatar avatar--icon node-avatar">
            <md-icon md-font-set="{{stepToolsCtrl.nodeStatus.icon.fontSet}}" class="md-18 md-light node-icon" md-theme="default">{{stepToolsCtrl.nodeStatus.icon.fontName}}</md-icon>
        </div>
        <!--<span>{{ stepToolsCtrl.showPosition ? stepToolsCtrl.getNodePositionById(stepToolsCtrl.nodeId) + ': ' : '' }}{{ stepToolsCtrl.getNodeTitleByNodeId(stepToolsCtrl.nodeId) }}</span>-->

        <md-select id="stepSelectMenu" md-theme="default" class="node-select md-subhead"
                   aria-label="{{ 'projectItemSelect' | translate }}"
                   ng-model="stepToolsCtrl.toNodeId"
                   ng-change="stepToolsCtrl.toNodeIdChanged()"
                   md-selected-text="stepToolsCtrl.getSelectedText($value)">
            <md-option ng-repeat="item in stepToolsCtrl.idToOrder | toArray | orderBy : 'order'"
                       ng-if="stepToolsCtrl.nodeStatuses[item.$key].isVisible && item.order!==0"
                       value="{{ item.$key }}"
                       ng-class="{'node-select-option--group': stepToolsCtrl.isGroupNode(item.$key), 'node-select-option--node': !stepToolsCtrl.isGroupNode(item.$key)}">
                <div layout="row" layout-align="start center">
                    <img class="node-select__icon md-18 avatar node-avatar" ng-class="stepToolsCtrl.isGroupNode(item.$key) ? 'avatar--square' : ''" ng-if="stepToolsCtrl.nodeStatuses[item.$key].icon.type === 'img'" ng-src="{{stepToolsCtrl.nodeStatuses[item.$key].icon.imgSrc}}" alt="{{stepToolsCtrl.nodeStatuses[item.$key].icon.imgAlt}}" />
                    <div class="node-select__icon md-18 avatar avatar--icon node-avatar" ng-class="stepToolsCtrl.isGroupNode(item.$key) ? 'avatar--square' : ''" ng-if="stepToolsCtrl.nodeStatuses[item.$key].icon.type === 'font'" style="background-color: {{stepToolsCtrl.nodeStatuses[item.$key].icon.color}};">
                        <md-icon md-font-set="{{stepToolsCtrl.nodeStatuses[item.$key].icon.fontSet}}" class="md-18 md-light node-icon" md-theme="default">{{stepToolsCtrl.nodeStatuses[item.$key].icon.fontName}}</md-icon>&nbsp;
                    </div>
                    <span class="node-select__text">{{ stepToolsCtrl.showPosition ? stepToolsCtrl.getNodePositionById(item.$key) + ': ' : '' }}{{ stepToolsCtrl.getNodeTitleByNodeId(item.$key) }}</span>
                    <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
                </div>
            </md-option>
        </md-select>
        <!--<md-button aria-label="Notifications" class="md-icon-button">
            <md-icon md-theme="default"> message </md-icon>
        </md-button> TODO: Add notifications and score when operational-->
        <node-status-icon node-id="stepToolsCtrl.nodeId"></node-status-icon>
        <span flex></span>
        <md-button aria-label="{{ 'previousItem' | translate }}" class="md-icon-button node-nav"
                   ng-disabled="!stepToolsCtrl.prevId" ng-click="stepToolsCtrl.goToPrevNode()">
            <md-icon> arrow_back </md-icon>
        </md-button>
        <md-button aria-label="{{ 'nextItem' | translate }}" class="md-icon-button node-nav"
                   ng-disabled="!stepToolsCtrl.nextId" ng-click="stepToolsCtrl.goToNextNode()">
            <md-icon> arrow_forward </md-icon>
        </md-button>
        <md-button aria-label="{{ 'projectPlan' | translate }}" class="md-icon-button node-nav" ng-click="stepToolsCtrl.closeNode()">
            <md-icon md-theme="default"> view_list </md-icon>
            <md-tooltip md-direction="down">{{ 'projectPlan' | translate }}</md-tooltip>
        </md-button>
    </div>
</md-toolbar>
