@import
  '~@angular/material/theming',
  '~style/abstracts/variables',
  '~style/abstracts/mixins',
  '~style/abstracts/functions';

.library {
  text-align: left;
  border-radius: $card-border-radius;
  overflow: hidden;

  h2 {
    font-weight: 400;
    margin-bottom: 8px;

    mat-icon {
      margin-right: 8px;
    }
  }

  .mat-divider {
    margin: 0;
  }
}

.library__header {
  .info-block {
    background-color: transparent;
    padding: 0 0 16px;
    font-size: mat-font-size($config, subheading-2);
  }
}

.library__content {
  .content-block {
    background-color: transparent;
    min-height: 100px;
  }

  .mat-paginator {
    background: transparent;
  }
  
  .mat-paginator-range-label {
    margin: 0 8px;
  }
}

.library__list {
  padding: 8px 0;
}
