<md-dialog class="dialog--wide">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{$ctrl.data.nodeTitle}}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content class="md-dialog-content gray-light-bg md-body-2">
        <p ng-if="!$ctrl.data.workgroups.length" class="center" translate="teamsOnItemNone" translate-value-type="{{$ctrl.data.type}}"></p>
        <p ng-if="$ctrl.data.workgroups.length" class="center" translate="teamsOnItem" translate-value-type="{{$ctrl.data.type}}" translate-value-total="{{$ctrl.data.workgroups.length}}" translate-value-online="{{($ctrl.data.workgroups).length}}"></p>
        <md-list class="user-list">
            <md-list-item class="list-item md-whiteframe-1dp" ng-repeat="group in $ctrl.data.workgroups">
                <div class="md-avatar">
                    <md-icon class="md-36" style="color: {{group.avatarColor}};"> account_circle </md-icon>
                </div>
                <p>
                    <span>{{group.usernames}}</span>
                </p>
            </md-list-item>
        </md-list>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="$ctrl.close()" class="md-primary" aria-label="{{'close' | translate}}" translate="close"></md-button>
    </md-dialog-actions>
</md-dialog>
