<h3>Guidance Choice</h3>
<md-button class='createButton md-raised md-primary'
                  ng-click='guidanceChoiceController.goToChooseStructure()'
                  aria-label='{{ ::"back" | translate }}'
                  translate='back'></md-button>
<md-button class='createButton md-raised md-primary'
                  ng-click='guidanceChoiceController.chooseLocation()'
                  aria-label='{{ ::"next" | translate }}'
                  translate='next'></md-button>
<md-button class='createButton md-raised md-primary'
                  ng-click='guidanceChoiceController.cancel()'
                  aria-label='{{ ::"cancel" | translate }}'
                  translate='cancel'></md-button>
