<md-card class="annotations"
         ng-if="(componentAnnotationsCtrl.showScore && componentAnnotationsCtrl.annotations.score) || (componentAnnotationsCtrl.showComment && componentAnnotationsCtrl.annotations.comment)">
    <md-card-title class="annotations__header">
        <div class="annotations__avatar md-avatar avatar--icon avatar--square md-36 avatar md-whiteframe-1dp">
            <md-icon class="annotations__icon md-36">{{componentAnnotationsCtrl.icon}}</md-icon>
        </div>
        <div class="annotations__title" layout="row" flex>
            <span>{{componentAnnotationsCtrl.label}}</span>
            <span flex></span>
            <span ng-if="componentAnnotationsCtrl.isNewAnnotation()" class="badge annotations__status animate-fade" translate="new"></span>
        </div>
    </md-card-title>
    <md-card-content class="annotations__body md-body-1">
        <div ng-if="componentAnnotationsCtrl.showComment && componentAnnotationsCtrl.annotations.comment.data.value"><compile data="componentAnnotationsCtrl.annotations.comment.data.value"></compile></div>
        <hr ng-if="componentAnnotationsCtrl.annotations.comment" />
        <div layout="row" layout-align="start center">
            <span ng-if="componentAnnotationsCtrl.showScore && componentAnnotationsCtrl.annotations.score"
                  class="annotations__score"
                  translate="SCORE_LABEL_AND_VALUE"
                  translate-value-score="{{componentAnnotationsCtrl.annotations.score.data.value}}{{componentAnnotationsCtrl.maxScoreDisplay}}"></span>
            <span flex></span>
            <span>
                <span class="annotations__info" am-time-ago="componentAnnotationsCtrl.getLatestAnnotationTime()"></span>
                <md-tooltip md-direction="top">{{ componentAnnotationsCtrl.getLatestAnnotationTime() | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}</md-tooltip>
            </span>
        </div>
    </md-card-content>
</md-card>
