
#right{
	position:relative;
	left:350px;	
}

#heading{
	color:rgb(100,0,0);
	position:relative;
	left:300px;
	width:350px;
}

#heading2{
	position:relative;
	left:325px;
	width:300px;
}

#forgotList{
	line-height:25px;
}

#forgotList2{
	line-height:30px;
	width:350px;
	text-align:justify;
}

#forgot1{
	position:relative;
	left:250px;
	top: 21px;
	font-size:.9em; 
	height: 107px;
	width: 525px;
}

#forgot2{
	position:relative;
	left:300px;
	top: 21px;
	font-size:.9em; 
	height: 107px;
	width: 475px;
}

#select{
	position:absolute;
	left:454px;
	top: 348px;
	height:100px;
	width:172px;
}

#italic{
	font-style:italic;
	font-weight:100;
	
}	

#signIn3{
	position:relative;
	left:30px;
	top:20px;
}

img{
	border:0px;
}

#try{
	position:relative;
	left:450px;
	top:50px;
}

#contact{
	position:relative;
	left:350px;
	top:80px;
}