
/* STYLING FOR ALL ASSESSMENT ITEM TYPES  (StudentCheck, Student Quiz, Teacher Check, TeacherQuiz, Brainstorm) */
body {
	/* font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, "Gill Sans", Helvetica;	*/
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,
		"Gill Sans", sans-serif;
	font-size: 100%;
	text-align: center;
	background-color: #FFF;
	margin: 4px 5px;
}

img {
	border: 0px;
}

/* This override presents Firefox browser from drawing an ugly dotted line around the focus Input button */
button  ::-moz-focus-inner,input[type="reset"]  ::-moz-focus-inner,input[type="button"]
	 ::-moz-focus-inner,input[type="submit"]  ::-moz-focus-inner,input[type="file"]>input[type="button"]
	 ::-moz-focus-inner {
	border: none;
}

h1 {
	font-size: 2.0em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: .9em;
}

h6 {
	font-size: .8em;
}

p {
	font-size: .8em;
	line-height: 130%;
	padding: 0px;
	margin: 0px 0 12px 0;
}

input[type="submit"],input[type="button"] {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #F9F9F9;
	cursor: pointer;
	padding: .25em .5em;
	border: 1px solid #aaaaaa;
	background: #eeeeee url(/vlewrapper/vle/images/ui/ui-bg_highlight-hard_100_eeeeee_1x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #444444;
	font-size: .85em;
	font-weight:bold;
	margin: .1em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: visible;
	line-height:1.2em;
}

input[type="submit"]:hover,input[type="button"]:hover {
	-moz-box-shadow:0 0 1px #aaaaaa;
	-webkit-box-shadow:0 0 1px #aaaaaa;
	box-shadow:0 0 1px #aaaaaa;
	border: 1px solid #888888;
	background: #eeeeee url(/vlewrapper/vle/images/ui/ui-bg_highlight-hard_100_eeeeee_1x100.png) 50% 50% repeat-x;
	color: #222222;
}

input[type="submit"]:active,input[type="button"]:active {
	border: 1px solid #666666;
	background: #555555 url(/vlewrapper/vle/images/ui/ui-bg_flat_50_555555_40x100.png) 50% 50% repeat-x;
	color: #ffffff;
}

input[type="submit"][disabled="disabled"],input[type="button"][disabled="disabled"] {
	color: #999999;
	background: #F4F4F4;
	border-color: #CCCCCC;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	cursor:default;
}

/*    This is the middle toned 88.236 palette  */
.color1 {color:#164CBA;}   /* vibrant blue */
.color2 {color:#6883BA;}   /* mid blue */
.color3 {color:#919EBA;}   /* light blue */
.color4 {color:#334B7B;}   /* dark blue */
.color5 {color:#19253D;}   /* very dark blue */
.color6 {color:#4E628B;}   /* mid gray slate */
.color7 {color:#FF9D1E;}  /* bold orange */
.color8 {color:#FFCE8E;}  /* mid tan */
.color9 {color:#FFE6C6;}  /* light tan */
.color10 {color:#a97e46;}  /* brown */
.color11 {color:#543f23;}  /* dark red */
.color12 {color:#bf9a6b;}   /* light brown */

.bg1 {background-color:#164CBA;color:#FFF;}
.bg2 {background-color:#6883BA;color:#000;}
.bg3 {background-color:#919EBA;color:#000;}
.bg4 {background-color:#334B7B;color:#FFF;}
.bg5 {background-color:#19253D;color:#FFF;}
.bg6 {background-color:#4E628B;color:#FFF;}
.bg7 {background-color:#FF9D1E;color:#000;}
.bg8 {background-color:#FFCE8E;color:#000;}
.bg9 {background-color:#FFE6C6;color:#000;}
.bg10 {background-color:#a97e46;color:#000;}
.bg11 {background-color:#543f23;color:#FFF;}
.bg12 {background-color:#bf9a6b;color:#000;}



#centeredDiv {
	padding:10px 5px;
	background-color:#FFD9ac;
	text-align: left;
	padding: 0;
	margin: 0 auto;
}

#questionCountBox {
	margin: 0;
	padding: 0;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
}

#questionTable #questionType {
	text-align: left;
	font-size: .8em;
	text-transform: uppercase;
	padding: 5px 15px;
	color: #000;
}

#helpIcon {
	width: 16px;
	height: 16px;
	background-image: url(../images/infoIcon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	padding: 0;
}

#helpIcon a {
	outline: 0px;
	text-decoration: none;
}

#helpIcon :hover {
	background-image: url(../images/infoIconRollover.png);
}

#helpTextLink {
	font-size: .7em;
	color: #333;
	padding: 2px 5px;
}

#helpTextLink:hover {
	background-color: #FFFF00;
	}

#feedbackDiv {
	width: 85%;
	margin: 10px auto 0 auto;
	text-align: center;
	color: #19253D;
}

#feedbackDiv.correct {
	color: green;
}

#feedbackDiv.incorrect {
	color: red;
}

#clearBoth {
	clear: both;
	margin: 0px;
	padding: 0px;
}

<!--Anchor-Based Button Layout using TABLE-->

.buttonDiv {
	text-align: center;
	width: 780px;
}

#statusDiv {
	width: 80%;
	margin: 0px auto 10px auto;
	padding: 2px;
	text-align: center;
	font-size: .75em;
	color: #19253D;
	color: #333;
}

#buttonTable {
	border-collapse: collapse;
	margin: 8px auto 5px auto;
}

.buttonDiv {
	text-align:center;
	/* vertical-align:middle; */
	line-height: 25px; /* same as height of link */ 
	display:inline-block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.buttonDiv a, .buttonDiv input {
    display: inline-block;
    font-size: 0.8em;
    padding: 0.2em 0.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;
}

.buttonDiv input {
	height:30px;
	padding: 0.2em 0.75em 0.3em;
	font-size: 0.8em !important;
}

.buttonDiv a:hover, .buttonDiv input:hover {
	cursor:pointer;
}

/*#buttonTable a {
	vertical-align:center;
	margin:0 10	px;
	padding: 5px 15px;
	font: bold Verdana, Arial, sans-serif;
	font-size:.85em;
	background-color:#1e69ff;
	color: #FFF;
	border:1px solid #333;
	text-decoration: none;
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#buttonTable a.firstButton {
	margin-left:15px;
}*/

#buttonTable a.tightened {
	letter-spacing: -1px;
}

/*#buttonTable a:hover {
	background-color: #FFFF00;
	color:#000;
	cursor:pointer;
}

#buttonTable a.disabledLink:hover {
	background-color: #666;
	color: #999999;
	cursor:default;
}

#buttonTable .disabledLink {
	background-color: #666;
	color: #999999;
	outline: 0;
}*/


/* STYLING FOR ALL POP-UP STEP INFORMATION WINDOWS */

#stepBody, #assessmentBody {
	background-color: #666699;
}

#infoBoxCenteredDiv, #assessmentTypeCenteredDiv {
	background-image:url(../../../images/BackgroundBlue600.png);
	background-position:0 -400px;
	background-repeat:repeat-x;
	background-color:#FFF;
	width: 640px;
	text-align: left;
	padding: 5px 15px;
	margin: 10px auto;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#stepTitle,#assessmentTitle {
	font-size: 1.4em;
	font-weight: bold;
	color: #19253D;
	margin: 25px 10px 0 10px;
	border-bottom: 1px ridge #CCFFFF;
}

#stepTitle .subtitle,#assessmentTitle .subtitle {
	font-size: .5em;
	margin-left: 5px;
}

#assessmentDescription p {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: .7em;
	margin: 15px 0 0 10px;
	background-color:#999;
	width:95%;
	padding:2px 6px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
			}

#assessmentDescription p.tips {
	text-transform:capitalize;
	font-weight:normal;
	letter-spacing:1px;
}

#stepDescription ul, #assessmentDescription ul, #assessmentDescription ol {
	font-size: .8em;
	line-height: 135%;
	padding: 0px;
	margin: 15px 0 20px 40px;
}

#stepDescription li,#assessmentDescription li, #assessmentDescription ol li {
	color: #19253D;
	margin-bottom: 10px;
}

#InfoBoxClose {
	text-align: center;
	margin: 30px auto;
}

#InfoBoxClose a {
	display: block;
	margin: 0 auto;
	width: 9em;
	padding: 5px 0;
	font: bold 100% Verdana, Arial, sans-serif;
	text-transform: uppercase;
	background: #6883BA;
	color: #333;
	border:1px solid #999;
	text-decoration: none;
	text-align: center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#InfoBoxClose a:hover {
	background: #FFCC00;
	color: #333
}

.red {
	background-color: #CC0000;
	color: #FFF;
	padding: 0px 3px 1px 3px;
	margin: 0;
}

.yellow {
	background-color: #FFFF33;
	color: #999;
	padding: 0px 3px 1px 3px;
	margin: 0;
}

.green {
	background-color: #009900;
	color: #FFF;
	padding: 0px 3px 1px 3px;
	margin: 0;
}

.green {
	background-color: #009900;
	color: #FFF;
	padding: 0px 3px 1px 3px;
	margin: 0;
}

/* special styles for Author Tool Pop-Up window */

#assessmentDescription .authorInstructTable  {
	margin:15px 25px 15px 35px;	
	border-collapse:collapse;
	}
	
.authorInstructTable th {
	font-weight:bold;
	width:100px;
	}
	
.authorInstructTable th, .authorInstructTable td {
	font-size:.7em;
	padding:3px 7px;
	vertical-align:top;
	border:1px solid #666;	
	}

.authorInstructTable li {
	color:#19253D;
	margin-bottom:5px; 	
	}
