<button mat-icon-button [matMenuTriggerFor]="runMenu">
  <mat-icon i18n-aria-label aria-label="Run Menu">more_vert</mat-icon>
</button>
<mat-menu #runMenu="matMenu" xPosition="before">
  <div>
    <div class="menu-info secondary-text" i18n>Run ID: {{ run.id }}</div>
    <mat-divider></mat-divider>
    <a *ngIf="run.project.wiseVersion !== 4" mat-menu-item (click)="showEditRunDetails()">
      <mat-icon>settings</mat-icon>
      <span>Edit Settings</span>
    </a>
    <a mat-menu-item href="{{ run.project.uri }}" target="_blank">
      <mat-icon>tv</mat-icon>
      <span i18n>Preview</span>
    </a>
    <a mat-menu-item (click)="showUnitDetails()">
      <mat-icon>info</mat-icon>
      <span i18n>Unit Info</span>
    </a>
    <a mat-menu-item (click)="shareRun()" *ngIf="canShare() && run.project.wiseVersion !== 4">
      <mat-icon>supervised_user_circle</mat-icon>
      <span i18n>Share Access</span>
    </a>
    <a mat-menu-item (click)="editContent()" *ngIf="canEdit() && run.project.wiseVersion !== 4">
      <mat-icon>edit</mat-icon>
      <span i18n>Edit Content</span>
    </a>
    <a mat-menu-item href="{{ reportProblemLink }}">
      <mat-icon>report_problem</mat-icon>
      <span i18n>Report Problem</span>
    </a>
  </div>
</mat-menu>
