<h3>Peer Review and Revision</h3>
<md-button class='createButton md-raised md-primary'
                  ng-click='peerReviewAndRevisionController.goToChooseStructure()'
                  aria-label='{{ ::"back" | translate }}'
                  translate='back'></md-button>
<md-button class='createButton md-raised md-primary'
                  ng-click='peerReviewAndRevisionController.chooseLocation()'
                  aria-label='{{ ::"next" | translate }}'
                  translate='next'></md-button>
<md-button class='createButton md-raised md-primary'
                  ng-click='peerReviewAndRevisionController.cancel()'
                  aria-label='{{ ::"cancel" | translate }}'
                  translate='cancel'></md-button>
