<h2 class="mat-dialog-title" i18n>Unlink Google Account</h2>
<mat-dialog-content>
  <div class="info-block">
    <p class="mat-subheading-2 accent-1" i18n>
      Success! You have unlinked your Google account from WISE. To sign in to WISE in the future, please use your username and password you just created.
    </p>
    <p class='info-note' i18n>Your username is: {{username}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
  <button mat-button mat-dialog-close i18n>Done</button>
</mat-dialog-actions>
