<ng-container *ngIf="nodeStatus.isVisible" [ngSwitch]="type">
  <mat-card *ngSwitchCase="'card'" [ngClass]="{'expanded mat-elevation-z6': expanded}">
    <mat-card-header (click)="itemClicked($event)" role="button" matRipple fxLayout="row"
                     tabindex="0">
      <node-icon mat-card-avatar class="group-icon" [nodeId]="nodeId" size="36"
                 [icon]="nodeStatus.icon"></node-icon>
      <mat-card-title class="title" style="color: {{nodeStatus.icon.color}};">
        <span>{{ nodeTitle }}</span>
      </mat-card-title>
      <span fxFlex></span>
      <mat-icon class="collapse" *ngIf="isGroup && expanded" aria-label-i18n aria-label="Collapse">
        remove</mat-icon>
    </mat-card-header>
    <mat-card-content class="app-bar" *ngIf="isGroup && expanded">
      <mat-action-list class="list mat-elevation-z1">
        <nav-item *ngFor="let childId of item.ids"
                  [class]="{'expanded': expanded, 'prev': isPrevStep}" [showPosition]="showPosition"
                  [nodeId]="childId" type="list" ng-animate-ref="{{ childId }}"
                  data-nodeid="{{ childId }}">
        </nav-item>
      </mat-action-list>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <mat-progress-bar class="progress" mode="determinate" *ngIf="isGroup"
                        value="{{nodeStatus.progress.completionPct}}" matTooltip-i18n
                        matTooltip="{{nodeStatus.progress.completionPct}}% completed"
                        matTooltipPosition="above"></mat-progress-bar>
      <span *ngIf="isGroup" class="mat-caption secondary-text" i18n>
        {{nodeStatus.progress.completedItems}}/{{nodeStatus.progress.totalItems}} items
      </span>
      <span fxFlex></span>
      <node-score [nodeId]="nodeId"></node-score>
      <node-status-icon [nodeId]="nodeId"></node-status-icon>
      <mat-icon *ngIf="!nodeStatus.isVisitable" matTooltip-i8n matTooltip="Lesson is locked"
                matTooltipPosition="above"> lock </mat-icon>
    </mat-card-actions>
  </mat-card>
  <button mat-list-item class="list-item" *ngSwitchCase="'list'" (click)="itemClicked($event)"
          tabindex="0" aria-label-i18n aria-label="Go to {{nodeTitle}}"
          [ngClass]="{'group':isGroup}">
    <node-icon matListAvatar [nodeId]="nodeId" [icon]="nodeStatus.icon"></node-icon>
    <p matLine>{{ nodeTitle }} <node-status-icon [nodeId]="nodeId" class="status-icon">
      </node-status-icon>
      <mat-icon *ngIf="!nodeStatus.isVisitable" class="status-icon" matTooltip-i18n
                matTooltip="Item is locked" matTooltipPosition="above"> lock </mat-icon>
    </p>
  </button>
</ng-container>