<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/wise_database</property>
        <property name="connection.username">wise4user</property>
        <property name="connection.password">wise4pass</property>
        <property name="connection.release_mode">auto</property>        
        <property name="connection.characterEncoding">UTF-8</property> 
        <property name="c3p0.acquire_increment">1</property>
        <property name="c3p0.idle_test_period">100</property>          <!-- seconds -->        
        <property name="c3p0.timeout">300</property><!-- seconds -->
		<property name="c3p0.preferredTestQuery">select 1;</property>
        <property name="c3p0.min_size">10</property>
        <property name="c3p0.max_size">200</property>
        <property name="c3p0.max_statements">50</property>

        <!-- SQL dialect -->
        <property name="dialect">vle.hibernate.MySQL5MyISAMDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create the database schema on startup. Not recommended on production. Instead, do manual sql updates -->
        <!-- <property name="hbm2ddl.auto">update</property>  -->
                
<!--  not using hibernate-annotations
        <mapping resource="org/hibernate/tutorial/domain/Event.hbm.xml"/>
 -->
  		<mapping class="vle.domain.user.UserInfo" />
  		<mapping class="vle.domain.node.Node" />
 		<mapping class="vle.domain.work.StepWork" />
 		<mapping class="vle.domain.work.StepWorkCache" />
 		<mapping class="vle.domain.journal.Journal" />
  		<mapping class="vle.domain.annotation.Annotation" />
  		<mapping class="vle.domain.cRater.CRaterRequest" />
  		<mapping class="vle.domain.peerreview.PeerReviewWork" />
  		<mapping class="vle.domain.peerreview.PeerReviewGate" />
  		<mapping class="vle.domain.ideabasket.IdeaBasket" />
  		<mapping class="vle.domain.statistics.VLEStatistics" />
  		<mapping class="vle.domain.xmpp.ChatLog" />
  		<mapping class="vle.domain.status.StudentStatus" />
  		<mapping class="vle.domain.status.RunStatus" />
 		
    </session-factory>

</hibernate-configuration>