<header fxLayout="row" class="content__header">
  <h1 class="accent" fxLayoutAlign="center center">
    <mat-icon>edit</mat-icon>Edit Profile
  </h1>
</header>

<section>
  <mat-tab-group>
    <mat-tab label="Account Details">
      <div class="content-block content-block--tab">
        <app-edit-profile></app-edit-profile>
      </div>
    </mat-tab>
    <mat-tab label="Password">
      <div class="content-block content-block--tab">
        <app-edit-password></app-edit-password>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
