<div ng-controller='MatchAuthoringController as matchController' flex>
  <div>
    <div class='advancedAuthoringDiv'
         ng-if='matchController.showAdvancedAuthoring'>
      <div>
        <h6>{{ ::'advancedAuthoringOptions' | translate }}</h6>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='matchController.authoringComponentContent.canCreateChoices'
                     ng-change='matchController.authoringViewComponentChanged()'>
          {{ ::'match.studentCanCreateChoices' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='matchController.authoringComponentContent.horizontal'
                     ng-change='matchController.authoringViewComponentChanged()'>
          {{ ::'match.showSourceBucketOnTheLeftAndTargetBucketsOnTheRight' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='matchController.authoringComponentContent.showSaveButton'
                     ng-change='matchController.authoringViewComponentChanged()'>
          {{ ::'SHOW_SAVE_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='matchController.authoringComponentContent.showSubmitButton'
                     ng-change='matchController.authoringViewComponentChanged()'>
          {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-if='matchController.isNotebookEnabled()'
                     ng-model='matchController.authoringComponentContent.importPrivateNotes'
                     ng-change='matchController.authoringViewComponentChanged()'>
          {{ ::'match.showPrivateNotesAsChoices' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                            ng-if='matchController.authoringComponentContent.showSubmitButton'>
          <label>{{ ::'MAX_SUBMIT' | translate }}</label>
          <input type='number'
                 ng-model='matchController.authoringComponentContent.maxSubmitCount'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='matchController.authoringViewComponentChanged()'/>
        </md-input-container>
      </div>
      <div>
        <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'>
          <label>{{ ::'MAX_SCORE' | translate }}</label>
          <input type='number'
                 ng-model='matchController.authoringComponentContent.maxScore'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='matchController.authoringViewComponentChanged()'/>
        </md-input-container>
      </div>
      <div>
        <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'>
          <label>{{ ::'COMPONENT_WIDTH' | translate }}</label>
          <input type='number'
                 ng-model='matchController.authoringComponentContent.componentWidth'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='matchController.authoringViewComponentChanged()'/>
        </md-input-container>
      </div>
      <div>
        <label class='node__label--vertical-alignment'>
          {{ ::'RUBRIC' | translate }}
        </label>
        <md-button class='topButton md-raised md-primary'
                   ng-click='matchController.showRubricAuthoring = !matchController.showRubricAuthoring'>
          <md-icon>message</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'EDIT_COMPONENT_RUBRIC' | translate }}
          </md-tooltip>
        </md-button>
        <div ng-if='matchController.showRubricAuthoring'>
          <summernote id='{{matchController.summernoteRubricId}}'
                      ng-model='matchController.summernoteRubricHTML'
                      ng-change='matchController.summernoteRubricHTMLChanged()'
                      config='matchController.summernoteRubricOptions'
                      ng-model-options='{ debounce: 1000 }'
                      rows='10'
                      cols='100'>
          </summernote>
        </div>
      </div>
      <div>
        <div style='height: 50;'>
          <label class='node__label--vertical-alignment'>
            {{ ::'CONNECTED_COMPONENTS' | translate }}
          </label>
          <md-button class='topButton md-raised md-primary'
                     ng-click='matchController.authoringAddConnectedComponent()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'ADD_CONNECTED_COMPONENT' | translate }}
            </md-tooltip>
          </md-button>
        </div>
        <div ng-repeat='connectedComponent in matchController.authoringComponentContent.connectedComponents track by $index'
             style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'
             layout='row'>
          <div flex>
            <md-input-container style='margin-right: 20; width: 300;'>
              <label>{{ ::'step' | translate }}</label>
              <md-select ng-model='connectedComponent.nodeId'
                         ng-change='matchController.authoringConnectedComponentNodeIdChanged(connectedComponent)'
                         style='width: 300'>
                <md-option ng-repeat='item in matchController.idToOrder | toArray | orderBy : "order"'
                           value='{{item.$key}}'
                           ng-if='matchController.isApplicationNode(item.$key)'>
                  {{ ::matchController.getNodePositionAndTitleByNodeId(item.$key) }}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container style='margin-right: 20; width: 300;'>
              <label>{{ ::'component' | translate }}</label>
              <md-select ng-model='connectedComponent.componentId'
                         ng-change='matchController.authoringConnectedComponentComponentIdChanged(connectedComponent)'
                         style='width: 300'>
                <md-option ng-repeat='(componentIndex, component) in matchController.getComponentsByNodeId(connectedComponent.nodeId)'
                           value='{{component.id}}'
                           ng-disabled='!matchController.isConnectedComponentTypeAllowed(component.type) || component.id == matchController.componentId'>
                  {{ ::(componentIndex + 1) }}. {{ ::component.type }}
                  <span ng-if='component.id == matchController.componentId'>
                    ({{ ::'thisComponent' | translate }})
                  </span>
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container style='margin-right: 20; width: 200;'>
              <label>{{ ::'type' | translate }}</label>
              <md-select ng-model='connectedComponent.type'
                         ng-change='matchController.authoringConnectedComponentTypeChanged(connectedComponent)'
                         style='width: 200'>
                <md-option value='importWork'>
                  {{ ::'importWork' | translate }}
                </md-option>
                <md-option value='showWork'>
                  {{ ::'showWork' | translate }}
                </md-option>
              </md-select>
            </md-input-container>
            <span flex></span>
            <md-input-container style='margin-left: 20;'>
              <md-button class='topButton md-raised md-primary'
                         ng-click='matchController.authoringDeleteConnectedComponent($index)'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'DELETE' | translate }}
                </md-tooltip>
              </md-button>
            </md-input-container>
          </div>
        </div>
      </div>
      <div style='margin-top: 10px; margin-bottom: 10px;'>
        <div style='height: 50;'>
          <label class='node__label--vertical-alignment'>
            {{ ::'tags' | translate }}
          </label>
          <md-button class='topButton md-raised md-primary'
                     ng-click='matchController.addTag()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'addTag' | translate }}
            </md-tooltip>
          </md-button>
        </div>
        <div ng-repeat='tag in matchController.authoringComponentContent.tags track by $index'>
          <div layout='row'>
            <md-input-container style='margin-bottom: 0px'>
              <label></label>
              <input ng-model='matchController.authoringComponentContent.tags[$index]'
                     ng-change='matchController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'
                     size='100'
                     placeholder='{{ "enterTag" | translate }}'/>
            </md-input-container>
            <md-button class='moveComponentButton md-raised md-primary'
                       ng-click='matchController.moveTagUp($index)'>
              <md-icon>arrow_upward</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'moveUp' | translate }}
              </md-tooltip>
            </md-button>
            <md-button class='moveComponentButton md-raised md-primary'
                       ng-click='matchController.moveTagDown($index)'>
              <md-icon>arrow_downward</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'moveDown' | translate }}
              </md-tooltip>
            </md-button>
            <md-button class='moveComponentButton md-raised md-primary'
                       ng-click='matchController.deleteTag($index)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'DELETE' | translate }}
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
      <div>
        <label class='node__label--vertical-alignment'>{{ ::'json' | translate }}</label>
        <md-button class='topButton md-raised md-primary'
                   ng-click='matchController.showJSONButtonClicked()'>
          <md-icon>code</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'SHOW_JSON' | translate }}
          </md-tooltip>
        </md-button>
        <span ng-if='matchController.isJSONStringChanged'>
          {{ ::'closeTheJSONViewToSaveTheChanges' | translate }}
        </span>
        <div ng-if='matchController.showJSONAuthoring'>
          <md-input-container style='width: 100%;'>
            <textarea ng-model='matchController.authoringComponentContentJSONString'
                      style='width: 90%; border: 1px solid black;'
                      ng-change='matchController.authoringJSONChanged()'></textarea>
          </md-input-container>
        </div>
      </div>
    </div>
    <br/>
    <div ng-if='!matchController.authoringComponentContent.showPreviousWork'>
      <md-input-container style='width:100%'>
        <label>{{ ::'PROMPT' | translate }}</label>
        <textarea rows='1'
                  ng-model='matchController.authoringComponentContent.prompt'
                  ng-change='matchController.authoringViewComponentChanged()'
                  ng-model-options='{ debounce: 1000 }'
                  placeholder='{{ ::"enterPromptHere" | translate }}'>
      </textarea>
      </md-input-container>
      <div style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
        <md-input-container layout='row'
                            style='height: 50; margin-top: 0;'>
          <h6>{{ ::'match.choices' | translate }}</h6>
          <md-button class='topButton md-raised md-primary'
                     ng-click='matchController.authoringAddChoice()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'match.addChoice' | translate }}
            </md-tooltip>
          </md-button>
        </md-input-container>
        <div ng-if="matchController.authoringComponentContent.choices.length == 0">{{ ::'match.thereAreNoChoices' | translate }}</div>
        <div ng-repeat='choice in matchController.authoringComponentContent.choices track by $index'
             style='height: 80'
             layout='row'>
          <md-input-container>
            <label>{{ ::'match.choiceName' | translate }}</label>
            <input ng-model='choice.value'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='matchController.authoringViewComponentChanged()'
                   size='80'
                   placeholder='{{ ::"TYPE_TEXT_OR_CHOOSE_AN_IMAGE" | translate }}'/>
          </md-input-container>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.chooseChoiceAsset(choice)'>
            <md-icon>insert_photo</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'chooseAnImage' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.authoringMoveChoiceUp($index)'>
            <md-icon>arrow_upward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'UP' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.authoringMoveChoiceDown($index)'>
            <md-icon>arrow_downward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'DOWN' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.authoringDeleteChoice($index)'>
            <md-icon>delete</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'match.deleteChoice' | translate }}
            </md-tooltip>
          </md-button>
        </div>
      </div>
      <div style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
        <md-input-container style="height: 30;">
          <label>{{ ::'match.sourceBucketName' | translate }}</label>
          <input ng-model='matchController.authoringComponentContent.choicesLabel'
                 ng-change='matchController.authoringViewComponentChanged()'
                 ng-model-options='{ debounce: 1000 }'
                 size='80'/>
        </md-input-container>
        <md-input-container layout='row'
                            style='height: 50; margin-top: 0;'>
          <h6>{{ ::'match.targetBuckets' | translate }}</h6>
          <md-button class='topButton md-raised md-primary'
                     ng-click='matchController.authoringAddBucket()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'match.addTargetBucket' | translate }}
            </md-tooltip>
          </md-button>
        </md-input-container>
        <div ng-if="matchController.authoringComponentContent.buckets.length == 0">{{ ::'match.thereAreNoTargetBuckets' | translate }}</div>
        <div ng-repeat='bucket in matchController.authoringComponentContent.buckets track by $index'
             style='height: 80'
             layout='row'>
          <md-input-container>
            <label>{{ ::'match.targetBucketName' | translate }}</label>
            <input ng-model='bucket.value'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='matchController.authoringViewComponentChanged()'
                   size='80'
                   placeholder='{{ ::"TYPE_TEXT_OR_CHOOSE_AN_IMAGE" | translate }}'/>
          </md-input-container>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.chooseBucketAsset(bucket)'>
            <md-icon>insert_photo</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'chooseAnImage' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.authoringMoveBucketUp($index)'>
            <md-icon>arrow_upward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'UP' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.authoringMoveBucketDown($index)'>
            <md-icon>arrow_downward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'DOWN' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.authoringDeleteBucket($index)'>
            <md-icon>delete</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'match.deleteBucket' | translate }}
            </md-tooltip>
          </md-button>
        </div>
      </div>
      <div style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
        <h6>{{ ::'FEEDBACK' | translate }}</h6>
        <md-checkbox ng-model='matchController.authoringComponentContent.ordered'
                     ng-change='matchController.authoringViewComponentChanged()'>
          {{ ::'match.choicesNeedToBeOrderedWithinBuckets' | translate }}
        </md-checkbox>
        <div ng-repeat='bucketFeedback in matchController.authoringComponentContent.feedback'
             style='border: 1px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
          <p style='margin-left: 10; margin-bottom: 10;'>
            {{matchController.getBucketValueById(bucketFeedback.bucketId)}}
          </p>
          <div ng-repeat='choiceFeedback in bucketFeedback.choices'
               style='border: 1px solid #dddddd; border-radius: 10px; margin-bottom: 10px; padding: 15px 20px 0px 20px;'>
            <md-input-container style='margin-right: 20; margin-top: 0; margin-bottom: 10;'>
              <span>
                {{matchController.getChoiceValueById(choiceFeedback.choiceId)}}
              </span>
            </md-input-container>
            <div layout='row'>
              <md-input-container style='height: 30; margin-right: 20;'>
                <label>{{ ::'FEEDBACK' | translate }}</label>
                <input ng-model='choiceFeedback.feedback'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='matchController.authoringViewFeedbackChanged()'
                       size='100'/>
              </md-input-container>
              <md-input-container style='width:110; height: 30;'
                                  layout='row'>
                <md-checkbox ng-model='choiceFeedback.isCorrect'
                             ng-change='matchController.authoringViewIsCorrectClicked(choiceFeedback)'
                             layout='row'>
                  {{ ::'IS_CORRECT' | translate }}
                </md-checkbox>
              </md-input-container>
            </div>
            <div layout='row'
                 ng-if='matchController.authoringComponentContent.ordered && choiceFeedback.isCorrect'>
              <md-input-container style='height: 30; margin-right: 20;'>
                <label>{{ ::'match.position' | translate }}</label>
                <input type='number'
                       ng-model='choiceFeedback.position'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='matchController.authoringViewComponentChanged()'
                       style='width: 4em'/>
              </md-input-container>
              <md-input-container style='height: 30;'>
                <label>{{ ::'match.incorrectPositionFeedback' | translate }}</label>
                <input ng-model='choiceFeedback.incorrectPositionFeedback'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='matchController.authoringViewComponentChanged()'
                       size='60'/>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-style='{"border": "5px solid black", "padding": "20px"}'>
    <div>
      <h5>{{ ::'studentPreview' | translate }}</h5>
    </div>
    <div ng-switch='::matchController.mode'>
      <div ng-switch-when='grading|gradingRevision'
           ng-switch-when-separator='|'
           layout='row'
           layout-wrap>
        <div flex='100'
             flex-gt-sm='66'
             layout='column'
             class='component--grading__response'>
          <div class='component--grading__response__content'>
            <div class='match-content'
                 ng-if='matchController.$scope.componentState'>
              <div layout='row'
                   layout-wrap>
                <div class='match-bucket match-bucket--choices'
                     flex='100'
                     flex-gt-sm='{{matchController.isHorizontal ? 50: 100}}'>
                  <md-card>
                    <md-card-title class='match-bucket__header'>
                      <md-card-title-text>
                        <compile data='matchController.buckets[0].value'></compile>
                      </md-card-title-text>
                    </md-card-title>
                    <md-card-content class='match-bucket__content'>
                      <md-list class='match-bucket__contents'
                               ng-style='matchController.choiceStyle'>
                        <div class='match-bucket__item'
                             ng-repeat='item in matchController.buckets[0].items'>
                          <md-list-item class='match-bucket__item__contents'>
                            <div class='md-list-item-text'>
                              <div flex
                                   layout='row'
                                   layout-align='start center'>
                                <span class='match-bucket__item__contents__text'>
                                  <compile data='item.value'></compile>
                                </span>
                                <span flex></span>
                                <md-icon>open_with</md-icon>
                              </div>
                              <p class='match-feedback md-body-2'
                                 ng-show='item.feedback'
                                 ng-class='{"success-bg": !matchController.hasCorrectAnswer || item.isCorrect, "info-bg": item.isIncorrectPosition, "warn-bg": !item.isCorrect}'>
                                <md-icon ng-if='matchController.hasCorrectAnswer && item.isCorrect'>
                                  check
                                </md-icon>
                                <md-icon ng-if='matchController.hasCorrectAnswer && item.isIncorrectPosition'>
                                  warning
                                </md-icon>
                                <md-icon ng-if='matchController.hasCorrectAnswer && !item.isCorrect && !item.isIncorrectPosition'>
                                  clear
                                </md-icon>
                                <span>
                                  <compile data='item.feedback'></compile>
                                </span>
                              </p>
                            </div>
                          </md-list-item>
                        </div>
                      </md-list>
                    </md-card-content>
                  </md-card>
                  <md-divider class='match-divider {{matchController.isHorizontal ? "match-divider--horizontal" : ""}}'></md-divider>
                </div>
                <div layout='row'
                     layout-wrap
                     layout-align='center start'
                     flex='100'
                     flex-gt-sm='{{matchController.isHorizontal ? 50 : 100}}'>
                  <div ng-repeat='bucket in matchController.buckets'
                       ng-if='$index > 0'
                       class='match-bucket'
                       flex='100'
                       flex-gt-sm='{{matchController.isHorizontal ? 100 : matchController.bucketWidth}}'>
                    <md-card>
                      <md-card-title class='match-bucket__header'>
                        <md-card-title-text><compile data='bucket.value'></compile></md-card-title-text>
                      </md-card-title>
                      <md-card-content class='match-bucket__content'>
                        <md-list class='match-bucket__contents'
                                 dragula='"match_{{matchController.componentId}}"'
                                 dragula-model='bucket.items'
                                 ng-style='matchController.bucketStyle'>
                          <div class='match-bucket__item'
                               ng-repeat='item in bucket.items'>
                            <md-list-item class='match-bucket__item__contents'>
                              <div class='md-list-item-text'>
                                <div flex layout='row'
                                     layout-align='start center'>
                                  <span class='match-bucket__item__contents__text'>
                                    <compile data='item.value'></compile>
                                  </span>
                                </div>
                                <p class='match-feedback md-body-2'
                                   ng-show='item.feedback'
                                   ng-class='{"success-bg": !matchController.hasCorrectAnswer || item.isCorrect, "info-bg": item.isIncorrectPosition, "warn-bg": !item.isCorrect}'>
                                  <md-icon ng-if='matchController.hasCorrectAnswer && item.isCorrect'>
                                    check
                                  </md-icon>
                                  <md-icon ng-if='matchController.hasCorrectAnswer && item.isIncorrectPosition'>
                                    warning
                                  </md-icon>
                                  <md-icon ng-if='matchController.hasCorrectAnswer && !item.isCorrect && !item.isIncorrectPosition'>
                                    clear
                                  </md-icon>
                                  <span>
                                    <compile data='item.feedback'></compile>
                                  </span>
                                </p>
                              </div>
                            </md-list-item>
                          </div>
                        </md-list>
                      </md-card-content>
                    </md-card>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class='md-caption'
                   ng-if='matchController.hasCorrectAnswer && matchController.componentContent.maxSubmitCount != null && matchController.componentContent.maxSubmitCount == 1'
                   ng-show='matchController.componentContent.maxSubmitCount != null'
                   translate='YOU_HAVE_USED_X_OF_Y_ATTEMPT'
                   translate-values='{x: matchController.submitCounter, y: matchController.componentContent.maxSubmitCount}'>
              </div>
              <div class='md-caption'
                   ng-if='matchController.hasCorrectAnswer && matchController.componentContent.maxSubmitCount != null && matchController.componentContent.maxSubmitCount > 1'
                   ng-show='matchController.componentContent.maxSubmitCount != null'
                   translate='YOU_HAVE_USED_X_OF_Y_ATTEMPTS'
                   translate-values='{x: matchController.submitCounter, y: matchController.componentContent.maxSubmitCount}'>
              </div>
              <div ng-if='matchController.isLatestComponentStateSubmit == false || !matchController.hasCorrectAnswer'>
                &nbsp
              </div>
              <div ng-if='matchController.isLatestComponentStateSubmit && matchController.hasCorrectAnswer && matchController.isCorrect === true'
                   style='color: green'>
                {{ ::'CORRECT' | translate }}!
              </div>
              <div ng-if='matchController.isLatestComponentStateSubmit && matchController.hasCorrectAnswer && matchController.isCorrect === false'
                   style='color: red'>
                {{ ::'INCORRECT' | translate }}
              </div>
            </div>
          </div>
          <span flex></span>
          <component-revisions-info node-id='matchController.nodeId'
                                    component-id='matchController.componentId'
                                    to-workgroup-id='workgroupId'
                                    component-state='componentState'
                                    active='matchController.mode === "grading"'>
          </component-revisions-info>
        </div>
        <div flex='100'
             flex-gt-sm='33'
             class='component--grading__annotations'>
          <component-grading node-id='matchController.nodeId'
                             component-id='matchController.componentId'
                             max-score='matchController.componentContent.maxScore'
                             from-workgroup-id='teacherWorkgroupId'
                             to-workgroup-id='workgroupId'
                             component-state-id='componentState.id'
                             show-all-annotations='matchController.mode !== "grading"'
                             is-disabled='matchController.mode !== "grading"'>
          </component-grading>
        </div>
      </div>
      <div ng-switch-default>
        <div class='component__prompt'>
          <div class='component__prompt__content'>
            <compile data='matchController.getPrompt()'></compile>
          </div>
          <possible-score max-score='matchController.componentContent.maxScore'
                          ng-if='matchController.mode === "student" && !matchController.latestAnnotations.score'>
          </possible-score>
        </div>
        <div class='match-content'>
          <component-annotations class='annotations--inside'
                                 annotations='matchController.latestAnnotations'
                                 max-score='matchController.componentContent.maxScore'>
          </component-annotations>
          <div layout='row'
               layout-wrap>
            <div class='match-bucket match-bucket--choices'
                 flex='100'
                 flex-gt-sm='{{matchController.isHorizontal ? 50: 100}}'>
              <md-card>
                <md-card-title class='match-bucket__header'>
                  <md-card-title-text>
                    <compile data='matchController.buckets[0].value'></compile>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content class='match-bucket__content'>
                  <md-list class='match-bucket__contents'
                           dragula='"match_{{matchController.componentId}}"'
                           dragula-model='matchController.buckets[0].items'
                           ng-style='matchController.choiceStyle'>
                    <div class='match-bucket__item'
                         ng-repeat='item in matchController.buckets[0].items'>
                      <md-list-item class='match-bucket__item__contents'>
                        <div class='md-list-item-text'>
                          <div flex
                               layout='row'
                               layout-align='start center'>
                            <span class='match-bucket__item__contents__text'>
                              <compile data='item.value'></compile>
                            </span>
                            <span flex></span>
                            <md-icon>open_with</md-icon>
                          </div>
                          <p class='match-feedback md-body-2'
                             ng-show='item.feedback'
                             ng-class='{"success-bg": !matchController.hasCorrectAnswer || item.isCorrect, "info-bg": item.isIncorrectPosition, "warn-bg": !item.isCorrect}'>
                            <md-icon ng-if='matchController.hasCorrectAnswer && item.isCorrect'>
                              check
                            </md-icon>
                            <md-icon ng-if='matchController.hasCorrectAnswer && item.isIncorrectPosition'>
                              warning
                            </md-icon>
                            <md-icon ng-if='matchController.hasCorrectAnswer && !item.isCorrect && !item.isIncorrectPosition'>
                              clear
                            </md-icon>
                            <span>
                              <compile data='item.feedback'></compile>
                            </span>
                          </p>
                        </div>
                      </md-list-item>
                    </div>
                  </md-list>
                </md-card-content>
              </md-card>
              <md-divider class='match-divider {{matchController.isHorizontal ? "match-divider--horizontal" : ""}}'></md-divider>
            </div>
            <div layout='row'
                 layout-wrap layout-align='center start'
                 flex='100'
                 flex-gt-sm='{{matchController.isHorizontal ? 50 : 100}}'>
              <div ng-repeat='bucket in matchController.buckets'
                   ng-if='$index > 0'
                   class='match-bucket'
                   flex='100'
                   flex-gt-sm='{{matchController.isHorizontal ? 100 : matchController.bucketWidth}}'>
                <md-card>
                  <md-card-title class='match-bucket__header'>
                    <md-card-title-text>
                      <compile data='bucket.value'></compile>
                    </md-card-title-text>
                  </md-card-title>
                  <md-card-content class='match-bucket__content'>
                    <md-list class='match-bucket__contents'
                             dragula='"match_{{matchController.componentId}}"'
                             dragula-model='bucket.items'
                             ng-style='matchController.bucketStyle'>
                      <div class='match-bucket__item'
                           ng-repeat='item in bucket.items'>
                        <md-list-item class='match-bucket__item__contents'>
                          <div class='md-list-item-text'>
                            <div flex
                                 layout='row'
                                 layout-align='start center'>
                              <span class='match-bucket__item__contents__text'>
                                <compile data='item.value'></compile>
                              </span>
                              <span flex></span>
                              <md-icon>open_with</md-icon>
                            </div>
                            <p class='match-feedback md-body-2'
                               ng-show='item.feedback'
                               ng-class='{"success-bg": !matchController.hasCorrectAnswer || item.isCorrect, "info-bg": item.isIncorrectPosition, "warn-bg": !item.isCorrect}'>
                              <md-icon ng-if='matchController.hasCorrectAnswer && item.isCorrect'>
                                check
                              </md-icon>
                              <md-icon ng-if='matchController.hasCorrectAnswer && item.isIncorrectPosition'>
                                warning
                              </md-icon>
                              <md-icon ng-if='matchController.hasCorrectAnswer && !item.isCorrect && !item.isIncorrectPosition'>
                                clear
                              </md-icon>
                              <span>
                                <compile data='item.feedback'></compile>
                              </span>
                            </p>
                          </div>
                        </md-list-item>
                      </div>
                    </md-list>
                  </md-card-content>
                </md-card>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class='md-caption'
               ng-if='matchController.hasCorrectAnswer && matchController.componentContent.maxSubmitCount != null && matchController.componentContent.maxSubmitCount == 1'
               ng-show='matchController.componentContent.maxSubmitCount != null'
               translate='YOU_HAVE_USED_X_OF_Y_ATTEMPT'
               translate-values='{x: matchController.submitCounter, y: matchController.componentContent.maxSubmitCount}'>
          </div>
          <div class='md-caption'
               ng-if='matchController.hasCorrectAnswer && matchController.componentContent.maxSubmitCount != null && matchController.componentContent.maxSubmitCount > 1'
               ng-show='matchController.componentContent.maxSubmitCount != null'
               translate='YOU_HAVE_USED_X_OF_Y_ATTEMPTS'
               translate-values='{x: matchController.submitCounter, y: matchController.componentContent.maxSubmitCount}'>
          </div>
          <div ng-if='matchController.isLatestComponentStateSubmit == false || !matchController.hasCorrectAnswer'>
            &nbsp
          </div>
          <div ng-if='matchController.isLatestComponentStateSubmit && matchController.hasCorrectAnswer && matchController.isCorrect === true'
               style='color: green'>
            {{ ::'CORRECT' | translate }}!
          </div>
          <div ng-if='matchController.isLatestComponentStateSubmit && matchController.hasCorrectAnswer && matchController.isCorrect === false'
               style='color: red'>
            {{ ::'INCORRECT' | translate }}
          </div>
        </div>
        <div ng-if='matchController.isSaveButtonVisible || matchController.isSubmitButtonVisible'
             class='component__actions'
             layout='row'
             layout-align='start center'>
          <md-button class='md-raised md-primary'
                     ng-class='{"md-raised": !matchController.isSubmitButtonVisible}'
                     ng-click='matchController.saveButtonClicked()'
                     ng-if='matchController.isSaveButtonVisible'
                     ng-disabled='matchController.isDisabled || !matchController.isDirty'>
            {{ ::'SAVE' | translate }}
          </md-button>
          <md-button class='md-raised md-primary'
                     ng-click='matchController.submitButtonClicked()'
                     ng-if='matchController.isSubmitButtonVisible'
                     ng-disabled='matchController.isSubmitButtonDisabled || matchController.isDisabled || !matchController.isSubmitDirty'>
            {{ ::'SUBMIT' | translate }}
          </md-button>
          <span ng-if='matchController.saveMessage.text'
                class='component__actions__info md-caption'>
            {{matchController.saveMessage.text}}
            <span class='component__actions__more'>
              <md-tooltip md-direction='top'>
                {{ matchController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}
              </md-tooltip>
              <span am-time-ago='matchController.saveMessage.time'></span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
