<div flex>
  <div>
    <div class='advancedAuthoringDiv'
         ng-if='matchController.showAdvancedAuthoring'>
      <div>
        <h6>{{ ::'advancedAuthoringOptions' | translate }}</h6>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='matchController.authoringComponentContent.canCreateChoices'
                     ng-change='matchController.authoringViewComponentChanged()'>
          {{ ::'match.studentCanCreateChoices' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='matchController.authoringComponentContent.horizontal'
                     ng-change='matchController.authoringViewComponentChanged()'>
          {{ ::'match.showSourceBucketOnTheLeftAndTargetBucketsOnTheRight' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='matchController.authoringComponentContent.showSaveButton'
                     ng-change='matchController.authoringViewComponentChanged()'>
          {{ ::'SHOW_SAVE_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='matchController.authoringComponentContent.showSubmitButton'
                     ng-change='matchController.authoringViewComponentChanged()'>
          {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-if='matchController.isNotebookEnabled()'
                     ng-model='matchController.authoringComponentContent.importPrivateNotes'
                     ng-change='matchController.authoringViewComponentChanged()'>
          {{ ::'match.showPrivateNotesAsChoices' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                            ng-if='matchController.authoringComponentContent.showSubmitButton'>
          <label>{{ ::'MAX_SUBMIT' | translate }}</label>
          <input type='number'
                 ng-model='matchController.authoringComponentContent.maxSubmitCount'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='matchController.authoringViewComponentChanged()'/>
        </md-input-container>
      </div>
      <div layout="column" layout-align="start start">
        <edit-component-max-score [authoring-component-content]="matchController.authoringComponentContent"></edit-component-max-score>
        <edit-component-width [authoring-component-content]="matchController.authoringComponentContent"></edit-component-width>
        <edit-component-rubric [authoring-component-content]="matchController.authoringComponentContent"></edit-component-rubric>
        <edit-component-tags [authoring-component-content]="matchController.authoringComponentContent"></edit-component-tags>
      </div>
      <div>
        <div style='height: 50;'>
          <label class='node__label--vertical-alignment'>
            {{ ::'CONNECTED_COMPONENTS' | translate }}
          </label>
          <md-button class='topButton md-raised md-primary'
                     ng-click='matchController.addConnectedComponent()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'ADD_CONNECTED_COMPONENT' | translate }}
            </md-tooltip>
          </md-button>
        </div>
        <div ng-repeat='connectedComponent in matchController.authoringComponentContent.connectedComponents track by $index'
             style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'
             layout='row'>
          <div flex>
            <md-input-container style='margin-right: 20; width: 300;'>
              <label>{{ ::'step' | translate }}</label>
              <md-select ng-model='connectedComponent.nodeId'
                         ng-change='matchController.connectedComponentNodeIdChanged(connectedComponent)'
                         style='width: 300'>
                <md-option ng-repeat='item in matchController.idToOrder | toArray | orderBy : "order"'
                           value='{{item.$key}}'
                           ng-if='matchController.isApplicationNode(item.$key)'>
                  {{ ::matchController.getNodePositionAndTitleByNodeId(item.$key) }}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container style='margin-right: 20; width: 300;'>
              <label>{{ ::'component' | translate }}</label>
              <md-select ng-model='connectedComponent.componentId'
                         ng-change='matchController.connectedComponentComponentIdChanged(connectedComponent)'
                         style='width: 300'>
                <md-option ng-repeat='(componentIndex, component) in matchController.getComponentsByNodeId(connectedComponent.nodeId)'
                           value='{{component.id}}'
                           ng-disabled='!matchController.isConnectedComponentTypeAllowed(component.type) || component.id == matchController.componentId'>
                  {{ ::(componentIndex + 1) }}. {{ ::component.type }}
                  <span ng-if='component.id == matchController.componentId'>
                    ({{ ::'thisComponent' | translate }})
                  </span>
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container style='margin-right: 20; width: 200;'>
              <label>{{ ::'type' | translate }}</label>
              <md-select ng-model='connectedComponent.type'
                         ng-change='matchController.connectedComponentTypeChanged(connectedComponent)'
                         style='width: 200'>
                <md-option value='importWork'>
                  {{ ::'importWork' | translate }}
                </md-option>
                <md-option value='showWork'>
                  {{ ::'showWork' | translate }}
                </md-option>
              </md-select>
            </md-input-container>
            <span flex></span>
            <md-input-container style='margin-left: 20;'>
              <md-button class='topButton md-raised md-primary'
                         ng-click='matchController.deleteConnectedComponent($index)'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ ::'DELETE' | translate }}
                </md-tooltip>
              </md-button>
            </md-input-container>
          </div>
        </div>
      </div>
      <edit-component-json [node-id]="matchController.nodeId" [component-id]="matchController.componentId"></edit-component-json>
    </div>
    <br/>
    <div ng-if='!matchController.authoringComponentContent.showPreviousWork'>
      <md-input-container style='width:100%'>
        <label>{{ ::'PROMPT' | translate }}</label>
        <textarea rows='1'
                  ng-model='matchController.authoringComponentContent.prompt'
                  ng-change='matchController.authoringViewComponentChanged()'
                  ng-model-options='{ debounce: 1000 }'
                  placeholder='{{ ::"enterPromptHere" | translate }}'>
      </textarea>
      </md-input-container>
      <div style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
        <md-input-container layout='row'
                            style='height: 50; margin-top: 0;'>
          <h6>{{ ::'match.choices' | translate }}</h6>
          <md-button class='topButton md-raised md-primary'
                     ng-click='matchController.addChoice()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'match.addChoice' | translate }}
            </md-tooltip>
          </md-button>
        </md-input-container>
        <div ng-if="matchController.authoringComponentContent.choices.length == 0">{{ ::'match.thereAreNoChoices' | translate }}</div>
        <div ng-repeat='choice in matchController.authoringComponentContent.choices track by $index'
             style='height: 80'
             layout='row'>
          <md-input-container>
            <label>{{ ::'match.choiceName' | translate }}</label>
            <input ng-model='choice.value'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='matchController.authoringViewComponentChanged()'
                   size='80'
                   placeholder='{{ ::"TYPE_TEXT_OR_CHOOSE_AN_IMAGE" | translate }}'/>
          </md-input-container>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.chooseChoiceAsset(choice)'>
            <md-icon>insert_photo</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'chooseAnImage' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.moveChoiceUp($index)'>
            <md-icon>arrow_upward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'UP' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.moveChoiceDown($index)'>
            <md-icon>arrow_downward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'DOWN' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.deleteChoice($index)'>
            <md-icon>delete</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'match.deleteChoice' | translate }}
            </md-tooltip>
          </md-button>
        </div>
      </div>
      <div style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
        <md-input-container style="height: 30;">
          <label>{{ ::'match.sourceBucketName' | translate }}</label>
          <input ng-model='matchController.authoringComponentContent.choicesLabel'
                 ng-change='matchController.authoringViewComponentChanged()'
                 ng-model-options='{ debounce: 1000 }'
                 size='80'/>
        </md-input-container>
        <md-input-container layout='row'
                            style='height: 50; margin-top: 0;'>
          <h6>{{ ::'match.targetBuckets' | translate }}</h6>
          <md-button class='topButton md-raised md-primary'
                     ng-click='matchController.addBucket()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'match.addTargetBucket' | translate }}
            </md-tooltip>
          </md-button>
        </md-input-container>
        <div ng-if="matchController.authoringComponentContent.buckets.length == 0">{{ ::'match.thereAreNoTargetBuckets' | translate }}</div>
        <div ng-repeat='bucket in matchController.authoringComponentContent.buckets track by $index'
             style='height: 80'
             layout='row'>
          <md-input-container>
            <label>{{ ::'match.targetBucketName' | translate }}</label>
            <input ng-model='bucket.value'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='matchController.authoringViewComponentChanged()'
                   size='80'
                   placeholder='{{ ::"TYPE_TEXT_OR_CHOOSE_AN_IMAGE" | translate }}'/>
          </md-input-container>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.chooseBucketAsset(bucket)'>
            <md-icon>insert_photo</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'chooseAnImage' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.moveBucketUp($index)'>
            <md-icon>arrow_upward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'UP' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.moveBucketDown($index)'>
            <md-icon>arrow_downward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'DOWN' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='matchController.deleteBucket($index)'>
            <md-icon>delete</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'match.deleteBucket' | translate }}
            </md-tooltip>
          </md-button>
        </div>
      </div>
      <div style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
        <h6>{{ ::'FEEDBACK' | translate }}</h6>
        <md-checkbox class='md-primary'
                     ng-model='matchController.authoringComponentContent.ordered'
                     ng-change='matchController.authoringViewComponentChanged()'>
          {{ ::'match.choicesNeedToBeOrderedWithinBuckets' | translate }}
        </md-checkbox>
        <div ng-repeat='bucketFeedback in matchController.authoringComponentContent.feedback'
             style='border: 1px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
          <p style='margin-left: 10; margin-bottom: 10;'>
            {{matchController.getBucketNameById(bucketFeedback.bucketId)}}
          </p>
          <div ng-repeat='choiceFeedback in bucketFeedback.choices'
               style='border: 1px solid #dddddd; border-radius: 10px; margin-bottom: 10px; padding: 15px 20px 0px 20px;'>
            <md-input-container style='margin-right: 20; margin-top: 0; margin-bottom: 10;'>
              <span>
                {{matchController.getChoiceTextById(choiceFeedback.choiceId)}}
              </span>
            </md-input-container>
            <div layout='row'>
              <md-input-container style='height: 30; margin-right: 20;'>
                <label>{{ ::'FEEDBACK' | translate }}</label>
                <input ng-model='choiceFeedback.feedback'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='matchController.feedbackChanged()'
                       size='100'/>
              </md-input-container>
              <md-input-container style='width:110; height: 30;'
                                  layout='row'>
                <md-checkbox class='md-primary'
                             ng-model='choiceFeedback.isCorrect'
                             ng-change='matchController.isCorrectClicked(choiceFeedback)'
                             layout='row'>
                  {{ ::'IS_CORRECT' | translate }}
                </md-checkbox>
              </md-input-container>
            </div>
            <div layout='row'
                 ng-if='matchController.authoringComponentContent.ordered && choiceFeedback.isCorrect'>
              <md-input-container style='height: 30; margin-right: 20;'>
                <label>{{ ::'match.position' | translate }}</label>
                <input type='number'
                       ng-model='choiceFeedback.position'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='matchController.authoringViewComponentChanged()'
                       style='width: 4em'/>
              </md-input-container>
              <md-input-container style='height: 30;'>
                <label>{{ ::'match.incorrectPositionFeedback' | translate }}</label>
                <input ng-model='choiceFeedback.incorrectPositionFeedback'
                       ng-model-options='{ debounce: 1000 }'
                       ng-change='matchController.authoringViewComponentChanged()'
                       size='60'/>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-style='{"border": "5px solid black"}'>
    <div ng-style='{"padding-top": "20px", "padding-left": "20px"}'>
      <h5>{{ ::'studentPreview' | translate }}</h5>
    </div>
    <div>
      <preview-component component-content='matchController.componentContent'/>
    </div>
  </div>
</div>
