<div ng-controller='MatchController as matchController' flex>
  <div>
    <div ng-switch='::matchController.mode'>
      <div ng-switch-when='grading|gradingRevision'
          ng-switch-when-separator='|'
          layout='row'
          layout-wrap>
        <div flex='100'
            flex-gt-sm='66'
            layout='column'
            class='component--grading__response'>
          <div class='component--grading__response__content'>
            <div class='match-content'
                ng-if='matchController.$scope.componentState'>
              <div layout='row'
                  layout-wrap>
                <div class='match-bucket match-bucket--choices'
                    flex='100'
                    flex-gt-sm='{{::matchController.isHorizontal ? 50: 100}}'>
                  <md-card>
                    <md-card-title class='match-bucket__header'>
                      <md-card-title-text>
                        <compile data='::matchController.buckets[0].value'></compile>
                      </md-card-title-text>
                    </md-card-title>
                    <md-card-content class='match-bucket__content'>
                      <md-list class='match-bucket__contents'
                          ng-style='::matchController.choiceStyle'>
                        <div class='match-bucket__item'
                            ng-repeat='item in ::matchController.buckets[0].items'>
                          <md-list-item class='match-bucket__item__contents'>
                            <div class='md-list-item-text'>
                              <div flex
                                  layout='row'
                                  layout-align='start center'>
                                <span class='match-bucket__item__contents__text'>
                                  <compile data='::item.value'></compile>
                                </span>
                                <span flex></span>
                                <md-icon>open_with</md-icon>
                              </div>
                              <p class='match-feedback md-body-2'
                                  ng-if='::item.feedback'
                                  ng-class='{"success-bg": !matchController.hasCorrectAnswer || item.isCorrect, "info-bg": item.isIncorrectPosition, "warn-bg": matchController.hasCorrectAnswer && !item.isCorrect}'>
                                <md-icon ng-if='::matchController.hasCorrectAnswer && item.isCorrect'>
                                  check
                                </md-icon>
                                <md-icon ng-if='::matchController.hasCorrectAnswer && item.isIncorrectPosition'>
                                  warning
                                </md-icon>
                                <md-icon ng-if='::matchController.hasCorrectAnswer && !item.isCorrect && !item.isIncorrectPosition'>
                                  clear
                                </md-icon>
                                <span>
                                  <compile data='::item.feedback'></compile>
                                </span>
                              </p>
                            </div>
                          </md-list-item>
                        </div>
                      </md-list>
                    </md-card-content>
                  </md-card>
                  <md-divider class='match-divider {{::matchController.isHorizontal ? "match-divider--horizontal" : ""}}'></md-divider>
                </div>
                <div layout='row'
                    layout-wrap
                    layout-align='center start'
                    flex='100'
                    flex-gt-sm='{{::matchController.isHorizontal ? 50 : 100}}'>
                  <div ng-repeat='bucket in ::matchController.buckets'
                      ng-if='$index > 0'
                      class='match-bucket'
                      flex='100'
                      flex-gt-sm='{{::matchController.isHorizontal ? 100 : matchController.bucketWidth}}'>
                    <md-card>
                      <md-card-title class='match-bucket__header'>
                        <md-card-title-text><compile data='::bucket.value'></compile></md-card-title-text>
                      </md-card-title>
                      <md-card-content class='match-bucket__content'>
                        <md-list class='match-bucket__contents'
                            ng-style='::matchController.bucketStyle'>
                          <div class='match-bucket__item'
                              ng-repeat='item in ::bucket.items'>
                            <md-list-item class='match-bucket__item__contents'>
                              <div class='md-list-item-text'>
                                <div flex layout='row'
                                    layout-align='start center'>
                                  <span class='match-bucket__item__contents__text'>
                                    <compile data='::item.value'></compile>
                                  </span>
                                </div>
                                <p class='match-feedback md-body-2'
                                    ng-show='::item.feedback'
                                    ng-class='::{"success-bg": !matchController.hasCorrectAnswer || item.isCorrect, "info-bg": item.isIncorrectPosition, "warn-bg": matchController.hasCorrectAnswer && !item.isCorrect}'>
                                  <md-icon ng-if='::matchController.hasCorrectAnswer && item.isCorrect'>
                                    check
                                  </md-icon>
                                  <md-icon ng-if='::matchController.hasCorrectAnswer && item.isIncorrectPosition'>
                                    warning
                                  </md-icon>
                                  <md-icon ng-if='::matchController.hasCorrectAnswer && !item.isCorrect && !item.isIncorrectPosition'>
                                    clear
                                  </md-icon>
                                  <span>
                                    <compile data='::item.feedback'></compile>
                                  </span>
                                </p>
                              </div>
                            </md-list-item>
                          </div>
                        </md-list>
                      </md-card-content>
                    </md-card>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class='md-caption'
                  ng-if='::matchController.hasCorrectAnswer && matchController.componentContent.maxSubmitCount != null && matchController.componentContent.maxSubmitCount == 1'
                  ng-show='::matchController.componentContent.maxSubmitCount != null'
                  translate='YOU_HAVE_USED_X_OF_Y_ATTEMPT'
                  translate-values='{x: ::matchController.submitCounter, y: ::matchController.componentContent.maxSubmitCount}'>
              </div>
              <div class='md-caption'
                  ng-if='::matchController.hasCorrectAnswer && matchController.componentContent.maxSubmitCount != null && matchController.componentContent.maxSubmitCount > 1'
                  ng-show='::matchController.componentContent.maxSubmitCount != null'
                  translate='YOU_HAVE_USED_X_OF_Y_ATTEMPTS'
                  translate-values='{x: ::matchController.submitCounter, y: ::matchController.componentContent.maxSubmitCount}'>
              </div>
              <div ng-if='::matchController.isLatestComponentStateSubmit == false || !matchController.hasCorrectAnswer'>
                &nbsp
              </div>
              <div ng-if='::matchController.isLatestComponentStateSubmit && matchController.hasCorrectAnswer && matchController.isCorrect === true'
                  style='color: green'>
                {{ 'CORRECT' | translate }}!
              </div>
              <div ng-if='::matchController.isLatestComponentStateSubmit && matchController.hasCorrectAnswer && matchController.isCorrect === false'
                  style='color: red'>
                {{ 'INCORRECT' | translate }}
              </div>
            </div>
          </div>
          <span flex></span>
          <component-revisions-info node-id='::matchController.nodeId'
              component-id='::matchController.componentId'
              to-workgroup-id='workgroupId'
              component-state='componentState'
              active='::matchController.mode === "grading"'>
          </component-revisions-info>
        </div>
        <div flex='100'
            flex-gt-sm='33'
            class='component--grading__annotations'>
          <component-grading node-id='matchController.nodeId'
              component-id='::matchController.componentId'
              max-score='::matchController.componentContent.maxScore'
              from-workgroup-id='teacherWorkgroupId'
              to-workgroup-id='workgroupId'
              component-state-id='componentState.id'
              show-all-annotations='::matchController.mode !== "grading"'
              is-disabled='::matchController.mode !== "grading"'>
          </component-grading>
        </div>
      </div>
      <div ng-switch-default>
        <div class='component__prompt'>
          <div class='component__prompt__content'>
            <compile data='matchController.getPrompt()'></compile>
          </div>
          <possible-score [max-score]='matchController.componentContent.maxScore'></possible-score>
        </div>
        <div class='match-content'>
          <component-annotations ng-if='matchController.mode === "student"'
              class='annotations--inside'
              [annotations]='matchController.latestAnnotations'
              [max-score]='matchController.componentContent.maxScore'>
          </component-annotations>
          <div layout='row'
              layout-wrap>
            <div class='match-bucket match-bucket--choices'
                flex='100'
                flex-gt-sm='{{matchController.isHorizontal ? 50: 100}}'>
              <md-card>
                <md-card-title class='match-bucket__header'>
                  <md-card-title-text>
                    <div style="display: flex; align-items: center;">
                      <div><compile data='matchController.buckets[0].value'></compile></div>
                      <div ng-if="matchController.componentContent.canCreateChoices">
                        <md-button ng-click="matchController.addChoice()"
                                   class='studentButton md-raised md-primary'
                                   ng-disabled='matchController.isDisabled'>
                          <md-icon>add</md-icon>
                          <md-tooltip md-direction='top'>
                            {{ 'match.addChoice' | translate }}
                          </md-tooltip>
                        </md-button>
                      </div>
                    </div>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content class='match-bucket__content'>
                  <md-list class='match-bucket__contents'
                      dragula='"match_{{matchController.componentId}}"'
                      dragula-model='matchController.buckets[0].items'
                      ng-style='matchController.choiceStyle'>
                    <div class='match-bucket__item'
                        ng-repeat='item in matchController.buckets[0].items'>
                      <md-list-item class='match-bucket__item__contents'>
                        <div class='md-list-item-text'>
                          <div flex
                              layout='row'
                              layout-align='start center'>
                            <span class='match-bucket__item__contents__text'>
                              <compile data='item.value'></compile>
                            </span>
                            <span flex></span>
                            <md-button ng-if="item.studentCreated"
                                       ng-click="matchController.deleteChoice(item)"
                                       ng-disabled='matchController.isDisabled'>
                              <md-icon>clear</md-icon>
                            </md-button>
                            <md-icon>open_with</md-icon>
                          </div>
                          <p class='match-feedback md-body-2'
                              ng-show='item.feedback'
                              ng-class='{"success-bg": !matchController.hasCorrectAnswer || item.isCorrect, "info-bg": item.isIncorrectPosition, "warn-bg": matchController.hasCorrectAnswer && !item.isCorrect}'>
                            <md-icon ng-if='matchController.hasCorrectAnswer && item.isCorrect'>
                              check
                            </md-icon>
                            <md-icon ng-if='matchController.hasCorrectAnswer && item.isIncorrectPosition'>
                              warning
                            </md-icon>
                            <md-icon ng-if='matchController.hasCorrectAnswer && !item.isCorrect && !item.isIncorrectPosition'>
                              clear
                            </md-icon>
                            <span>
                              <compile data='item.feedback'></compile>
                            </span>
                          </p>
                        </div>
                      </md-list-item>
                    </div>
                  </md-list>
                </md-card-content>
              </md-card>
              <md-divider class='match-divider {{matchController.isHorizontal ? "match-divider--horizontal" : ""}}'></md-divider>
            </div>
            <div layout='row'
                layout-wrap layout-align='center start'
                flex='100'
                flex-gt-sm='{{matchController.isHorizontal ? 50 : 100}}'>
              <div ng-repeat='bucket in matchController.buckets'
                  ng-if='$index > 0'
                  class='match-bucket'
                  flex='100'
                  flex-gt-sm='{{matchController.isHorizontal ? 100 : matchController.bucketWidth}}'>
                <md-card>
                  <md-card-title class='match-bucket__header'>
                    <md-card-title-text>
                      <compile data='bucket.value'></compile>
                    </md-card-title-text>
                  </md-card-title>
                  <md-card-content class='match-bucket__content'>
                    <md-list class='match-bucket__contents'
                        dragula='"match_{{matchController.componentId}}"'
                        dragula-model='bucket.items'
                        ng-style='matchController.bucketStyle'>
                      <div class='match-bucket__item'
                          ng-repeat='item in bucket.items'>
                        <md-list-item class='match-bucket__item__contents'>
                          <div class='md-list-item-text'>
                            <div flex
                                layout='row'
                                layout-align='start center'>
                              <span class='match-bucket__item__contents__text'>
                                <compile data='item.value'></compile>
                              </span>
                              <span flex></span>
                              <md-button ng-if="item.studentCreated"
                                         ng-click="matchController.deleteChoice(item)"
                                         ng-disabled='matchController.isDisabled'>
                                <md-icon>clear</md-icon>
                              </md-button>
                              <md-icon>open_with</md-icon>
                            </div>
                            <p class='match-feedback md-body-2'
                                ng-show='item.feedback'
                                ng-class='{"success-bg": !matchController.hasCorrectAnswer || item.isCorrect, "info-bg": item.isIncorrectPosition, "warn-bg": matchController.hasCorrectAnswer && !item.isCorrect}'>
                              <md-icon ng-if='matchController.hasCorrectAnswer && item.isCorrect'>
                                check
                              </md-icon>
                              <md-icon ng-if='matchController.hasCorrectAnswer && item.isIncorrectPosition'>
                                warning
                              </md-icon>
                              <md-icon ng-if='matchController.hasCorrectAnswer && !item.isCorrect && !item.isIncorrectPosition'>
                                clear
                              </md-icon>
                              <span>
                                <compile data='item.feedback'></compile>
                              </span>
                            </p>
                          </div>
                        </md-list-item>
                      </div>
                    </md-list>
                  </md-card-content>
                </md-card>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class='md-caption'
              ng-if='matchController.hasCorrectAnswer && matchController.componentContent.maxSubmitCount != null && matchController.componentContent.maxSubmitCount == 1'
              ng-show='matchController.componentContent.maxSubmitCount != null'
              translate='YOU_HAVE_USED_X_OF_Y_ATTEMPT'
              translate-values='{x: matchController.submitCounter, y: matchController.componentContent.maxSubmitCount}'>
          </div>
          <div class='md-caption'
              ng-if='matchController.hasCorrectAnswer && matchController.componentContent.maxSubmitCount != null && matchController.componentContent.maxSubmitCount > 1'
              ng-show='matchController.componentContent.maxSubmitCount != null'
              translate='YOU_HAVE_USED_X_OF_Y_ATTEMPTS'
              translate-values='{x: matchController.submitCounter, y: matchController.componentContent.maxSubmitCount}'>
          </div>
          <div ng-if='matchController.isLatestComponentStateSubmit == false || !matchController.hasCorrectAnswer'>
            &nbsp
          </div>
          <div ng-if='matchController.isLatestComponentStateSubmit && matchController.hasCorrectAnswer && matchController.isCorrect === true'
              style='color: green'>
            {{ 'CORRECT' | translate }}!
          </div>
          <div ng-if='matchController.isLatestComponentStateSubmit && matchController.hasCorrectAnswer && matchController.isCorrect === false'
              style='color: red'>
            {{ 'INCORRECT' | translate }}
          </div>
        </div>
        <div ng-if='::matchController.isSaveOrSubmitButtonVisible()'
            class='component__actions'
            layout='row'
            layout-align='start center'>
          <md-button class='md-raised md-primary'
              ng-class='{"md-raised": !matchController.isSubmitButtonVisible}'
              ng-click='matchController.saveButtonClicked()'
              ng-if='::matchController.isSaveButtonVisible'
              ng-disabled='matchController.isDisabled || !matchController.isDirty'>
            {{ 'SAVE' | translate }}
          </md-button>
          <md-button class='md-raised md-primary'
              ng-click='matchController.submitButtonClicked()'
              ng-if='::matchController.isSubmitButtonVisible'
              ng-disabled='matchController.isSubmitButtonDisabled || matchController.isDisabled || !matchController.isSubmitDirty'>
            {{ 'SUBMIT' | translate }}
          </md-button>
          <span ng-if='matchController.saveMessage.text'
              class='component__actions__info md-caption'>
            {{matchController.saveMessage.text}}
            <span class='component__actions__more'>
              <md-tooltip md-direction='top'>
                {{ matchController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}
              </md-tooltip>
              <span am-time-ago='matchController.saveMessage.time'></span>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
