<div class="content">
	<div id="pageContent" class="content-panel">
		<p class="section-head">
			Table of Contents <small>Drag and drop to re-order</small>
		</p>
		<div class="center" ng-cloak ng-hide="portfolio.items.length">
			<p>There are no current pages in this portfolio.</p>
			<p>To add a page, open "My Work" and click "Add to Portfolio" for any step in the project.</p>
		</div>
		<ul id="portfolioItems" ui-sortable="sortableOptions" ng-model="portfolio.items" ng-show="portfolio.items.length" ng-cloak>
			<li ng-repeat="item in portfolio.items track by $index">
				<div class="panel panel-default">
					<div class="panel-body">
						<span class="portfolio-index">{{$index+1}}</span>
						<span class="portfolio-item"><button class="link button" ui-sref="contents.item({ itemId: item.id })" title="View Item">{{item.title}} <span class="fa fa-search-plus fa-flip-horizontal"></span></button></span>
						<a class="portfolio-delete" title="Delete" ng-click="removeItem(item)"><span class="fa fa-trash fa-fw"></span></a>
					</div>
				</div>
			</li>
		</ul>
		<div class="contents-info">{{portfolio.items.length}} Current Items ({{portfolio.deletedItems.length}} Deleted)</div>
	</div>
</div>
<footer class="panel panel-default" id="portfolioFooter">
	<div class="panel-body menu">
		<div class="pull-right"></div>
	</div>
</footer>