// NOTE: This file should be compiled to vle/portfolio/portfolio.css

@import (reference) "../css/less/bootstrap-custom.less"; // import the WISE Bootstrap styles
@import (reference) "../css/less/global.less"; // import the global VLE styles

/*--------------------------------------------------
Styles for the WISE Portfolio
--------------------------------------------------*/


// Portfolio-specific variables & mixins
// -------------------------------------------------
body {
	.px-rem(margin-bottom, 42);
	background-image: url("../images/global/content_bg.png");
	background-color: #eee;
}

#portfolioFooter {
	z-index: 110;
	padding: 0;
	margin: 0;
	border-radius: 0;
	position: fixed;
	left: 0;
	right: 0;
	background-color: #fff;
	bottom: 0;
	border-width: 0 0 1px 0;
	box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
	//background-color: @gray-dark;
	//color: #ddd;
	.px-rem(min-height, 32);
	
	.panel-body {
		padding: 0.5em
	}
}

#portfolioItems {
	list-style: none;
	padding: 1em 0;
	margin: 0 auto;
	max-width: @screen-lg-min;
	font-weight: bold;
	
	> li {
		cursor: move;
		
		> .panel {
			margin-bottom: 0.75em;
		}
	}
	
	.panel-body {
		padding: 0;
		width: 100%;
		display: table;
		
		> * {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.portfolio-item {
	font-size: 1.1em;
	display: inline-block;
	padding: 0.25em;
	width: 100%;
	
	a {
		padding: 0.4em 0.5em;
	}
}

.portfolio-index {
	font-size: 1.25em;
	color: @gray;
	border-right: 1px solid @content-border-color;
	.border-left-radius(@border-radius-base);
}

.portfolio-delete {
	border-left: 1px solid @content-border-color;
	color: @brand-danger;
	.border-right-radius(@border-radius-base);
	
	&:hover, &:focus {
		background-color: darken(@gray-lightest, 5%);
		color: @brand-danger;
	}
}

.portfolio-delete, .portfolio-index {
	padding: 0.5em 0.75em;
	background-color: @gray-lightest;
}

.contents-info {
	padding-top: 0.5em;
	border-top: 1px solid @content-border-color;
}

.modal.portfolio-details {
	&.from-left {
		// When fading in the modal, animate it to scale/zoom in and out
		&.fade .modal-dialog {
		    .translate3d(-100%, 0, 0);
	    }
	    &.fade.in .modal-dialog {
		    .translate3d(0, 0, 0);
	    }
	}
	&.from-right {
		// When fading in the modal, animate it to scale/zoom in and out
		&.fade .modal-dialog {
		    .translate3d(100%, 0, 0);
	    }
	    &.fade.in .modal-dialog {
		    .translate3d(0, 0, 0);
	    }
	}
}

#studentWork {
	margin: 1em 0;
	
	img.no-step {
		width: 100%;
		height: auto;
	}
}

#description {
	background-color: lighten(@brand-warning, 30%);
	padding: 0.75em 1em;
	min-height: 5em;
	width: 100%;
	
	.editable-textarea {
		width: 100%;
		
		textarea, .editable-controls {
			width: 100%;
		}
		
		textarea {
			display: block;
			margin: 0.5em 0 0.5em;
		}
	}
	
	.editable-buttons {
		button:first-child {
			margin-left: 0;
		}
	}
}

.source {
	margin-top: 1em;
	padding-top: 0.75em;
	color: @brand-info;
	border-top: 1px solid @gray-lighter;
	text-align: right;
}