.thumbnail > img,
.thumbnail a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 2.05923077rem;
  padding: 0.38461538rem 0.61538462rem;
  font-size: 0.86rem;
  line-height: 1.5;
  border-radius: 0.15384615rem;
}
.form-horizontal .form-group-lg .form-control {
  height: 2.73942308rem;
  padding: 0.53846154rem 0.76923077rem;
  font-size: 1.25rem;
  line-height: 1.33;
  border-radius: 0.30769231rem;
}
.btn-group-lg > .btn {
  padding: 0.53846154rem 0.76923077rem;
  font-size: 1.25rem;
  line-height: 1.33;
  border-radius: 0.30769231rem;
}
.btn-group-sm > .btn {
  padding: 0.38461538rem 0.61538462rem;
  font-size: 0.86rem;
  line-height: 1.5;
  border-radius: 0.15384615rem;
}
.btn-group-xs > .btn {
  padding: 0.07692308rem 0.38461538rem;
  font-size: 0.86rem;
  line-height: 1.5;
  border-radius: 0.15384615rem;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
form .two-fields:before,
form .two-fields:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
form .two-fields:after {
  clear: both;
}
.btn-group-sm > .btn {
  -: ;border-radius: 0.23076923076923078rem;
}
/*--------------------------------------------------
Styles for the WISE Portfolio
--------------------------------------------------*/
body {
  -: ;margin-bottom: 3.230769230769231rem;
  background-image: url("../images/global/content_bg.png");
  background-color: #eee;
}
#portfolioFooter {
  z-index: 110;
  padding: 0;
  margin: 0;
  border-radius: 0;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  bottom: 0;
  border-width: 0 0 1px 0;
  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.1);
  -: ;min-height: 2.4615384615384617rem;
}
#portfolioFooter .panel-body {
  padding: 0.5em;
}
#portfolioItems {
  list-style: none;
  padding: 1em 0;
  margin: 0 auto;
  max-width: 1200px;
  font-weight: bold;
}
#portfolioItems > li {
  cursor: move;
}
#portfolioItems > li > .panel {
  margin-bottom: 0.75em;
}
#portfolioItems .panel-body {
  padding: 0;
  width: 100%;
  display: table;
}
#portfolioItems .panel-body > * {
  display: table-cell;
  vertical-align: middle;
}
.portfolio-item {
  font-size: 1.1em;
  display: inline-block;
  padding: 0.25em;
  width: 100%;
}
.portfolio-item a {
  padding: 0.4em 0.5em;
}
.portfolio-index {
  font-size: 1.25em;
  color: #555555;
  border-right: 1px solid #cccccc;
  border-bottom-left-radius: 0.23076923rem;
  border-top-left-radius: 0.23076923rem;
}
.portfolio-delete {
  border-left: 1px solid #cccccc;
  color: #ff563f;
  border-bottom-right-radius: 0.23076923rem;
  border-top-right-radius: 0.23076923rem;
}
.portfolio-delete:hover,
.portfolio-delete:focus {
  background-color: #eaeaea;
  color: #ff563f;
}
.portfolio-delete,
.portfolio-index {
  padding: 0.5em 0.75em;
  background-color: #f7f7f7;
}
.contents-info {
  padding-top: 0.5em;
  border-top: 1px solid #cccccc;
}
.modal.portfolio-details.from-left.fade .modal-dialog {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.modal.portfolio-details.from-left.fade.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.modal.portfolio-details.from-right.fade .modal-dialog {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.modal.portfolio-details.from-right.fade.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#studentWork {
  margin: 1em 0;
}
#studentWork img.no-step {
  width: 100%;
  height: auto;
}
#description {
  background-color: #f3f5dc;
  padding: 0.75em 1em;
  min-height: 5em;
  width: 100%;
}
#description .editable-textarea {
  width: 100%;
}
#description .editable-textarea textarea,
#description .editable-textarea .editable-controls {
  width: 100%;
}
#description .editable-textarea textarea {
  display: block;
  margin: 0.5em 0 0.5em;
}
#description .editable-buttons button:first-child {
  margin-left: 0;
}
.source {
  margin-top: 1em;
  padding-top: 0.75em;
  color: #795c3a;
  border-top: 1px solid #dddddd;
  text-align: right;
}
