<style>
    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        height: 100px;
        text-align: center;
        padding-top: 30px;
        margin-top: 10px;
        bottom: 0px;
    }

    .drop-box:hover {
        cursor: pointer;
    }

    .dragover {
        border: 5px dashed blue;
    }

    .studentAssets {
        height: auto;
        width: auto;
        min-height: 200px;
        max-height: 200px;
        border: 3px solid #DDD;
        overflow:auto;
        list-style-type: none;
        padding:0px;
    }

    .studentAsset {
        width: auto;
        height: auto;
        max-width: 100px;
        max-height: 100px;
        padding: 10px;
        margin: 5px;
        border: 1px solid #DDD;
        overflow:auto;
    }

    .studentAsset:hover {
        cursor: pointer;
    }

    .studentAssetOverlay {
        top: 0;
        left: 0;
        max-width: 100%;
    }

    .studentAssetRemoveImage {
    }

    .studentAssetRemoveImage, .studentAssetOverlay:hover {
        cursor:pointer;
    }
</style>
<div class='studentAssets' ng-if="studentAssetController.studentAssets.length" >
    <img ng-repeat="studentAsset in studentAssetController.studentAssets"
         ng-click='studentAssetController.attachStudentAssetToComponent($event, studentAsset)'
         ng-if="studentAsset != null"
         ng-src='{{studentAsset.iconURL}}'
         class='studentAsset'
         title="{{ 'useThisFile' | translate }}">
    </img>
</div>
<div>
    <div ng-if="::studentAssetController.mode != 'preview'" ngf-drop ngf-select ngf-change="studentAssetController.uploadStudentAssets($files)" class="drop-box"
         drag-over-class="dragover" ngf-multiple="true" allow-dir="false"
         ngf-resize="{quality: .8, width: 1000, height: 1000, pattern:'image/*', restoreExif: true}"
         ngf-resize-if="$width > 1000 || $height > 1000"
         accept="image/*,application/pdf,text/csv" translate="dropAssetMessage"></div>
    <!-- TODO: ask researchers if we should display usage information to students. we'll hide it for now.
    You are using {{studentAssetController.notebook.totalSize | appropriateSizeText }} out of {{studentAssetController.notebook.totalSizeMax | appropriateSizeText}} ({{studentAssetController.notebook.usagePercentage | roundToDecimal:0 }}%)
    -->
</div>
<div ng-if="::studentAssetController.mode == 'preview'">
    {{ 'theStudentAssetsWillAppearHereOnceYouSetUpAClassroomRun' | translate }}
</div>
