<mat-card [ngClass]="{ 'highlighted': project.highlighted }">
  <mat-card-content fxLayout="row">
    <div mat-card-avatar [style.background-image]="thumbStyle"></div>
    <div fxFlex="1 1 100%" fxLayout="row" fxLayoutWrap>
      <div fxLayout="column">
        <mat-card-title>{{ project.name }}</mat-card-title>
        <mat-card-subtitle>
          <div class="mat-body-2 mat-card-title" fxShow fxHide.gt-xs *ngIf="!project.run">
            Created: {{ project.dateCreated | amDateFormat:'ll' }}
          </div>
          <div class="mat-body-2 mat-card-title success" fxShow fxHide.gt-xs *ngIf="project.run">
            <span *ngIf="project.run.startTime">Started: {{ project.run.startTime | amDateFormat:'ll' }}</span>
            <span *ngIf="project.run.endTime">Ended: {{ project.run.endTime | amDateFormat:'ll' }}</span>
          </div>
          <div *ngIf="project.run">
            Code: {{ project.run.runCode }}
            &nbsp;&bull;&nbsp;
            {{project.run.numStudents}}
            <span [ngPlural]="project.run.numStudents">
              <ng-template ngPluralCase="=0">students</ng-template>
              <ng-template ngPluralCase="=1">student</ng-template>
              <ng-template ngPluralCase="other">students</ng-template>
            </span>
          </div>
          <div>
            <span *ngIf="project.run">
              Run ID: {{ project.run.id }}
              &nbsp;&bull;&nbsp;
            </span>
            Project ID: {{ project.id }}
          </div>
        </mat-card-subtitle>
      </div>
      <span fxFlex="1 1 auto" fxHide fxShow.gt-xs></span>
      <div *ngIf="!project.run" fxFlex="0 1 auto" fxHide fxShow.gt-xs>
        <span class="mat-card-title">Created: {{ project.dateCreated | amDateFormat:'ll' }}</span>
      </div>
      <div *ngIf="project.run" fxFlex="0 1 auto" fxHide fxShow.gt-xs fxLayout="column" fxLayoutAlign="start end">
        <span *ngIf="project.run.startTime" class="mat-card-title success">Started: {{ project.run.startTime | amDateFormat:'ll' }}</span>
        <span *ngIf="project.run.endTime" class="mat-card-title warn">Ended: {{ project.run.endTime | amDateFormat:'ll' }}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
    <span fxFlex="1 1 auto"></span>
    <a mat-raised-button *ngIf="!project.run" href="{{ editLink }}" color="primary">Edit</a>
    <a mat-raised-button *ngIf="project.run" href="{{ gradeAndManageLink }}" color="primary">Grade & Manage</a>
    <app-project-run-menu [project]="project"></app-project-run-menu>
  </mat-card-actions>
</mat-card>
