<div ng-controller='QuestionnaireController as questionnaireController'>
<div ng-repeat='part in questionnaireController.getParts()' 
    ng-include='questionnaireController.getPartTypeHTML(part.partType)' 
    ng-init='partStudentData = questionnaireController.getPartStudentData(part)'></div>
<button id='saveButton' 
    ng-click='questionnaireController.saveButtonClicked()' 
    ng-disabled='questionnaireController.isDisabled' 
    ng-show='questionnaireController.showSaveButton()'>Save</button>
<button id='submitButton' 
    ng-click='questionnaireController.submitButtonClicked()' 
    ng-disabled='questionnaireController.isDisabled' 
    ng-show='questionnaireController.showSubmitButton()'>Submit</button>
</div>