
<html>
<head></head>
<body>
<div class='cRater' ng-controller='CRaterController as cRaterController'>
<style>
{{cRaterController.nodeContent.style}}
</style>
<div id='prompt' compile='cRaterController.getPrompt()'></div>
<textarea id='responseTextarea'
          rows='{{cRaterController.getNumRows() || 20}}'
          cols='{{cRaterController.getNumColumns() || 20}}'
          ng-model='cRaterController.studentResponse'
          ng-disabled='cRaterController.isDisabled'
          ng-change='cRaterController.studentDataChanged()'></textarea>
<button id='saveButton'
    ng-click='cRaterController.saveButtonClicked()' 
    ng-disabled='cRaterController.isDisabled' 
    ng-show='cRaterController.showSaveButton()'>Save</button>
<button id='submitButton' 
    ng-click='cRaterController.submitButtonClicked()' 
    ng-disabled='cRaterController.isDisabled' 
    ng-show='cRaterController.showSubmitButton()'>Submit</button>
</div>
</body>
</html>
