// Classroom Monitor Colors
$_primary-color: #1565c0; // should match the default color of your ng-material default theme's 'primary' palette
$_selected-bg: lighten($_primary-color, 54%);

$color: (
  'primary': $_primary-color,
  'accent': #F05843, // should match the default color of your ng-material default theme's 'accent' palette
  'accent-1': #795C3A,
  'accent-2': #CAD266,
  'warn': #c62828, // should match the default color of your ng-material default theme's 'warn' palette
  'info': #ef6c00,
  'success': #00C853,
  'divider': rgba(0, 0, 0, 0.12),
  'gray-lightest': #f7f7f7,
  'gray-lighter': #eeeeee,
  'gray-light': #dddddd,
  'gray': #cccccc,
  'gray-dark': #aaaaaa,
  'gray-darker': #757575,
  'gray-darkest': #333333,
  'text': rgba(0, 0, 0, 0.87),
  'text-secondary': rgba(0, 0, 0, 0.54),
  'text-disabled': rgba(0, 0, 0, 0.26),
  'text-light': rgba(255, 255, 255, 1),
  'text-light-secondary': rgba(255, 255, 255, 0.70),
  'text-light-disabled': rgba(255, 255, 255, 0.50),
  'selected-bg': $_selected-bg,
  'score': #FFC107
);

$body-color: (
  'body': map-get($color, 'text'),
  'body-bg': map-get($color, 'gray-lighter')
);

$colors: map-merge($color, $body-color);
