.content-block {
  padding: 16px;
  border-radius: $card-border-radius;

  @media (min-width: breakpoint('sm.min')) {
    padding: 24px;
  }
}

.content-block--tab {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.content-block__header {
  margin-bottom: 8px;
}

.content-block__actions {
  text-align: center;
  padding-top: 16px;
}
