.mat-dialog-container {
  max-width: 100%;
  padding: 16px !important;

  .mat-dialog-content {
    margin: 0 -16px;
    padding: 0 16px;
    font-size: mat-font-size($config, body-1);
  }

  .mat-dialog-content--scroll {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.dialog-menu {
  margin: -8px -8px 8px 8px;
}

.mat-dialog--sm {
  width: breakpoint('sm.min');
}

.mat-dialog--md {
  width: breakpoint('md.min');
}

.mat-dialog--lg {
  width: breakpoint('lg.min');
}

.mat-dialog--xl {
  width: breakpoint('xl.min');
}

.cdk-overlay-pane {
  @media (max-width: breakpoint('xs.max')) {
    max-width: 95vw;
  }
}
