@import
  '~style/abstracts/variables';

.mat-expansion-panel {
  border-radius: $card-border-radius;

  &.mat-expanded {
    .mat-expansion-panel-header {
      &:hover, &:focus {
        border-top-left-radius: $card-border-radius;
        border-top-right-radius: $card-border-radius;
      }
    }
  }

  &:not(.mat-expanded) {
    .mat-expansion-panel-header {
      border-radius: $card-border-radius;
    }
  }
}

.mat-expansion-panel-header--lg {
  height: 64px !important;
}

.mat-accordion {
  .mat-expansion-panel {
    &:not(.mat-expanded) {
      margin-bottom: 8px;
    }
  }
}

.mat-expansion-panel-body {
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
}
