.controls {
  padding: 16px 16px 0;
  border-radius: 0;
}

.mat-form-field-appearance-fill {
  .mat-form-field-flex {
    border-radius: $card-border-radius !important;
  }

  .mat-form-field-underline {
    &::before {
      max-height: 0;
    }
  }

  .mat-form-field-ripple {
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
    max-height: 0;
  }

  &.mat-focused {
    .mat-form-field-ripple {
      max-height: 2px;
    }
  }
}

.mat-form-field--longhint {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-underline {
    bottom: auto;
  }

  .mat-form-field-subscript-wrapper {
    position: relative;
  }
}

.mat-icon-button.input-control--appearance-fill {
  margin: 6px 0 6px 4px;
}

.mat-form-field--extra-sub {
  margin-bottom: 12px;
}

.mat-checkbox--inline {
  .mat-checkbox-layout {
    display: inline;
    white-space: normal;
  }
}
