<div>
  <md-button id='backToProjectButton' class='topButton md-raised md-primary'
      ng-click='rubricAuthoringController.goBack()'>
    <md-icon>arrow_back</md-icon>
    <md-tooltip md-direction='top'
        class='projectButtonTooltip'>
      {{ ::'backToProjectView' | translate }}
    </md-tooltip>
  </md-button>
</div><br/>
<h5 translate="editProjectRubric"></h5>
<summernote id='{{::rubricAuthoringController.summernoteRubricId}}'
      ng-model='rubricAuthoringController.summernoteRubricHTML'
      ng-change='rubricAuthoringController.summernoteRubricHTMLChanged()'
      config='rubricAuthoringController.summernoteRubricOptions'
      ng-model-options='{ debounce: 1000 }'
      rows='10'
      cols='100'>
</summernote>
