
.copy-confirmation-message {
  font-size: 16px;
  margin-bottom: 20px;
}

.buttons-div {
  display: flex;
  justify-content: center;
}

.buttons-spacer {
  width: 30px;
}

.button {
  width: 100px;
}
