<html>
<head>
<style>
#globalTools {
 top: 0px;
 position: absolute;
 right: 0px;
}

#prev {
 height: 36px;
 bottom: 0px;
 position: absolute;
 left: 0px;
}

#next {
 height: 36px;
 bottom: 0px;
 position: absolute;
 right: 0px;
}

#nodeIFrame, #navigationIFrame {
 width: 99%;
 height: 97%;
}
</style>
</head>
<body>
currentNodeId: {{vle.currentNode.title}}
 <div id="globalTools">
  <button ng-repeat="globalTool in vle.globalTools"
   ng-click="vle.globalToolButtonClicked(globalTool)">{{globalTool}}</button>
 </div>
 <div id="prev">Prev</div>
 <div id="next">Next</div>
 <div id="ideaBasket"></div>
 <div id="myWork"></div>
 <div id="home"></div>
 <div id="signOut"></div>
 <div id="navigation"></div>
 <div id="nodeDiv">
  <iframe id="nodeIFrame"></iframe>
 </div>
</body>
</html>