body {
  margin: 0;
}

.root-content.mat-sidenav-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;

  &:not(.mat-button):not(.mat-raised-button):not(.mat-menu-item):not(.mat-flat-button):not(.mat-stroked-button) {
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.more-info {
  border-bottom: 1px dotted;
}
