<div ng-controller='OutsideURLAuthoringController as outsideURLController'>
  <div>
    <div class='advancedAuthoringDiv'
         ng-if='outsideURLController.showAdvancedAuthoring'>
      <div>
        <h6>{{ ::'advancedAuthoringOptions' | translate }}</h6>
      </div>
      <div>
        <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'>
          <label>{{ ::'WIDTH' | translate }} ({{ ::'outsideURL.px' | translate }})</label>
          <input type='number'
                 ng-model='outsideURLController.authoringComponentContent.width'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='outsideURLController.authoringViewComponentChanged()'/>
        </md-input-container>
        <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'>
          <label>{{ ::'HEIGHT' | translate }} ({{ ::'outsideURL.px' | translate }})</label>
          <input type='number'
                 ng-model='outsideURLController.authoringComponentContent.height'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='outsideURLController.authoringViewComponentChanged()'/>
        </md-input-container>
      </div>
      <div>
        <md-input-container style='margin-right: 20px; width: 400px; height: 25px;'>
          <label>{{ ::'COMPONENT_WIDTH' | translate }} ({{ ::'outsideURL.integerPercentageOfPageWidth' | translate }})</label>
          <input type='number'
                 ng-model='outsideURLController.authoringComponentContent.componentWidth'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='outsideURLController.authoringViewComponentChanged()'/>
        </md-input-container>
      </div>
      <div>
        <label class='node__label--vertical-alignment'>
          {{ ::'RUBRIC' | translate }}
        </label>
        <md-button class='topButton md-raised md-primary'
                   ng-click='outsideURLController.showRubricAuthoring = !outsideURLController.showRubricAuthoring'>
          <md-icon>message</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'EDIT_COMPONENT_RUBRIC' | translate }}
          </md-tooltip>
        </md-button>
        <div ng-if='outsideURLController.showRubricAuthoring'>
          <summernote id='{{outsideURLController.summernoteRubricId}}'
                      ng-model='outsideURLController.summernoteRubricHTML'
                      ng-change='outsideURLController.summernoteRubricHTMLChanged()'
                      config='outsideURLController.summernoteRubricOptions'
                      ng-model-options='{ debounce: 1000 }'
                      rows='10'
                      cols='100'>
          </summernote>
        </div>
      </div>
      <div>
        <label class='node__label--vertical-alignment'>{{ ::'json' | translate }}</label>
        <md-button class='topButton md-raised md-primary'
                   ng-click='outsideURLController.showJSONButtonClicked()'>
          <md-icon>code</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'SHOW_JSON' | translate }}
          </md-tooltip>
        </md-button>
        <span ng-if='outsideURLController.isJSONStringChanged'>
          {{ ::'closeTheJSONViewToSaveTheChanges' | translate }}
        </span>
        <div ng-if='outsideURLController.showJSONAuthoring'>
          <md-input-container style='width: 100%;'>
            <textarea ng-model='outsideURLController.authoringComponentContentJSONString'
                      style='width: 90%; border: 1px solid black;'
                      ng-change='outsideURLController.authoringJSONChanged()'>
            </textarea>
          </md-input-container>
        </div>
      </div>
    </div>
  </div>
  <md-switch ng-model="outsideURLController.isShowOERs"
           class="md-primary">
    Show Open Educational Resources
  </md-switch>
  <div style='width: 100%' ng-if='outsideURLController.isShowOERs'>
    <div class='layout-row'>
      <md-input-container style='width: 600px;'>
        <input ng-model='searchText' type='text' placeholder='{{ ::"outsideURL.search" | translate }}'></input>
      </md-input-container>
      <md-button class='regularButton md-raised md-primary'
                ng-click='searchText = ""'>
        <md-icon>clear</md-icon>
        <md-tooltip md-direction='top'
                    class='projectButtonTooltip'>
          {{ ::'CLEAR' | translate }}
        </md-tooltip>
      </md-button>
    </div>
    <div style='height: 400px; overflow-y: auto; display: flex; flex-wrap: wrap'>
      <div style='margin-right:10px; height: 200px' ng-repeat='openEducationalResource in outsideURLController.openEducationalResources | filter : searchText'>
        <span>{{openEducationalResource.metadata.title}}</span>
        <br/>
        <img src='{{::openEducationalResource.thumbnail}}'
            style='width: 200px; height: 130px'
            ng-click='outsideURLController.populateOpenEducationalResourceURL(openEducationalResource)'>
        <br/>
        <a href='{{::openEducationalResource.info}}' target='_blank'>Info</a>
        <br/>
        <br/>
      </div>
    </div>
  </div>
  <md-input-container>
    <label>{{ ::'outsideURL.url' | translate }}</label>
    <input size='150'
           ng-model='outsideURLController.authoringComponentContent.url'
           ng-change='outsideURLController.authoringViewComponentChanged()'
           ng-model-options='{ debounce: 1000 }'
           placeholder='{{ ::"outsideURL.enterURLHere" | translate }}'/>
  </md-input-container>
  <div style='width: {{outsideURLController.width}}; height: {{outsideURLController.height}}'>
    <iframe ng-src='{{outsideURLController.url}}' style='height: 100%; width:100%;'>
    </iframe>
  </div>
</div>
