<div class="outside-content" ng-controller="OutsideURLController as outsideURLController">
  <div style="width: {{outsideURLController.width}}; height: {{outsideURLController.height}}">
    <iframe id="{{outsideURLController.outsideURLIFrameId}}" ng-src="{{outsideURLController.url}}" width="100%"  height="100%" 
        allowfullscreen></iframe>
  </div>
  <div class="outside-content__source md-caption">
    <a href="{{outsideURLController.info}}" target="_blank" translate="outsideURL.linkCredit"
        translate-value-url="{{outsideURLController.info}}"></a>
  </div>
</div>
