/* STYLES FOR GRADE BY STEP, GRADE BY TEAM, AND STUDENT MANAGEMENT  */

/* CSS Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font-weight:normal;
  font-style:normal;
  vertical-align:baseline;
  background:transparent;
}
ul,ol {list-style:none;}
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}

body {
	font-family:Arial, Helvetica, Tahoma, sans-serif;
	font-size: 100%;
	text-align: left;
	overflow:auto;
	color: #444;
}

img {border: 0px;}

h1 {font-size:2.0em;} 
h2 {font-size:1.5em; }
h3 {font-size:1.4em;}
h4 {font-size:1.2em;}
h5 {font-size:.9em; }
h6 {font-size:.8em; }
p  {line-height:125%;padding:0px; margin:0px;}

abbr, acronym {
	cursor:help;
	border-bottom: 1px dotted #666666;	
}

a, a:visited {
	color: #007391;
    margin: 0;
    text-decoration:none;
    cursor:pointer;
    outline:none;
}

a:hover {
	text-decoration:underline !important;
}

/* Loading divs (copied from globalstyles.css, TODO: move to jquery-ui cutsom css) */
#loading div {
	text-align:center;
	/*color:#745a33;*/
	margin:.5em 0;
}

.ui-dialog.no-title {
}

.no-title .ui-dialog-titlebar {
	display:none;
}

iframe {
	width:100%;
}

.lastAnnotationPostTime {
	font-style: italic;
	font-size: .75em;
	margin: 1em 0 !important;
	border-top: 1px solid #CCC;
	padding-top: .5em;
	color: #666;
}

/* This style applies to new or revised items in the teacher grading table (by Step or by Team)  */

.newWork {
	background-color: #FFEFED;
	/*border: 2px solid #FF563F;*/
}

#notifications {
	text-align:center;
}

#notifications span {
	font-weight:bold;
	font-size:.9em;
	color:#745a33;
	border:1px solid #745a33;
	background-color:#f4efe8;
	padding:.25em .5em;
	box-shadow:1px 1px 2px #aaa;
	-moz-box-shadow:1px 1px 2px #aaa;
	-webkit-box-shadow:1px 1px 2px #aaa;
}

#gradeWorkDiv {
	text-align: left;
	font-size:.9em;
	min-width:700px;
	overflow-x: hidden;
	/*padding-bottom:5px;
	border-bottom:3px solid #919EBA;*/
}

#gradeStepHeader {
	padding: 0.5em;
	/*font-size:1.2em;
	font-weight:bold;
	color:#333;
	margin: 0 0 10px 0;
	letter-spacing:.5px;*/
}


.chooseStepToGradeTable td, .showScoreTable td, .gradingHeaderTable td {
	padding:2px;
	vertical-align:top;
}

.gradingHeader {
    padding: .75em;
    line-height:.85em;
    font-size:.85em;
    border-bottom: 1px solid #CCCCCC;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* W3C */
}

.gradingHeader a {
	margin:0 .5em;
}

.gradingHeader a:hover {
	text-decoration:underline;
}

.gradingHeader .instructions {
	font-weight:bold;
	font-size:1.1em;
}

#gradeTeamHeader {
	padding: 0.5em 0.75em;
}

#gradeTeamHeader .instructions {
	line-height: 20px;
}

.gradingTools {
	box-shadow: 0 0 2px #444444;
	-moz-box-shadow: 0 0 2px #444444;
	-webkit-box-shadow: 0 0 2px #444444;
}

#fixedGradingHeader {
	padding: 1em 0.5em;
}

#fixedGradingHeader div {
	display:inline;
}

.gradingTools a.saveButton {
	background-color: #FFEFED;
	color:#ff563f;
	box-shadow: 0 0 2px #f47f6e;
	-moz-box-shadow: 0 0 2px #f47f6e;
	-webkit-box-shadow: 0 0 2px #f47f6e;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	text-decoration: none !important;
	padding: 4px 7px;
	font-weight: bold;
	margin-left: 1em;
	border: 1px solid #f7a391;
}

.gradingTools a.saveButton:hover {
	border-color:#ff563f;
	box-shadow: 0 0 2px #fc1d00;
	-moz-box-shadow: 0 0 2px #fc1d00;
	-webkit-box-shadow: 0 0 2px #fc1d00;
}

.gradingTools a.saveButton:active {
	background-color:#fff8f7;
}

.gradingTools a.saveButton.disabled {
	color:#999999;
	background-color: #F4F4F4;
	border-color:#CCCCCC;
	box-shadow: 0 0 2px #aaa;
	-moz-box-shadow: 0 0 2px #aaa;
	-webkit-box-shadow: 0 0 2px #aaa;
}

.gradingTools a.gradingButton {
	color: #745A33;
    padding: 3px 6px;
    margin:0 .25em;
}

.gradingTools a.gradingButton.checked {
	background-color: #745A33;
	color:#FFFFFF;
	box-shadow: 0 0 1px #444444;
	-moz-box-shadow: 0 0 1px #444444;
	-webkit-box-shadow: 0 0 1px #444444;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	text-decoration:none;
}

#periodSelect {
	background:#666666;
	color:#EEEEEE;
}

a.periodChoice {
	color:#DADF8B;
	margin:0 .25em;
	padding: 2px 6px;
}

a.periodChoice.checked {
	background-color: #DADF8B;
	color: #333;
	text-decoration: none !important;
	border-radius: 4px;
}

.gradingContent {
	padding:.5em 1em;
	overflow:auto;
	margin-top: 1px;
}

.runButtons input {
	
}

.gradingContent .progress, .gradingContent .pLabel {
	height: 18px;
	line-height:20px;
}

.gradingContent .progress {
	margin: 0 40px 0 5px;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
}

.gradingContent .ui-progressbar-value {
	border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
}

.gradingContent .pLabel {
	width: 40px;
	float:right;
}

/*.runButtons input, #lowerSaveButton input, .blueButton {
	margin:10px 10px 10px 10px;
	padding: 1px 8px;
	font: bold Verdana, Arial, sans-serif;
	font-size:.7em;
	background-color:#1e69ff;
	color: #FFF;
	border:1px solid #333;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;  
	border: 1px solid #19253D; 
}*/

.runButtons input:hover, #lowerSaveButton input:hover {
	background-color:#FFFF00;
	color:#333; 
}
	
.chooseStepToGradeTable a, .showScoreTable a {
	font-weight:bold;
}

.chooseStepToGradeTable a, .showScoreTable a {
	display: block;
	background-color:#EEEEEE;
	margin-left: 1em;
	padding: 5px;
	font-size: .9em;
}

.chooseStepToGradeTable p, #chooseTeamToGradeTable p, .showScoreTable p {
	display: block;
	margin-left: .75em;
	padding-left: .6em;
	color: #777;
	font-size: .9em;
}

.chooseStepToGradeStepTd a:hover, .showScoreTable a:hover,
.chooseStepToGradeStepTd:hover a {
	background-color: #DDDDDD;
	text-decoration: none;
}

.chooseStepToGradeTable .header {
	border:1px solid #transparent;
}

/*.chooseStepToGradeTable .col2 {width:80px;}
.chooseStepToGradeTable .col3 {width:70px;}
.chooseStepToGradeTable .col4 {width:100px;}
.chooseStepToGradeTable .col5 {width:135px;}*/

#statisticsTable {
	border-collapse:collapse;
	margin:0;
	padding:0;
	width:100%;
	color: #444444;
}

#statisticsTable td {
	padding:2px;
}

#statisticsTable .header {
	background-color: #DDDDDD;
    border: 1px solid #AAAAAA;
    color: #444444;
    text-align: center;
}

#statisticsTable .col1, #chooseStepToGradeTable .col1 {width:55%;}
#statisticsTable .col2, #chooseStepToGradeTable .col2 {width:10%;}
#statisticsTable .col3, #chooseStepToGradeTable .col3 {width:10%;}
#statisticsTable .col4, #chooseStepToGradeTable .col4 {width:10%;}
#statisticsTable .col5, #chooseStepToGradeTable .col5 {width:15%; padding:2px 0;}

.chooseStepToGradeTable .statistic {
	background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    font-size: 0.9em;
    text-align: center;
    vertical-align: middle;
}

.objectToGradeHeaderTable {
	border-collapse:collapse;
	width:100%; 
	margin:0 0 10px 0px;
	border:1px solid #333;
	}	

.objectToGradeHeaderTable td {
	background-color:#CCC;
	padding:3px;
	vertical-align:middle;
	text-align:left;
}

.objectToGradeHeaderTable .objectToGradeTd {
	color:#CC0000;
	font-size:1.4em;
	font-weight:bold;
	font-variant:small-caps;
	padding:5px 10px 5px 25px;
	}

.objectToGradeHeaderTable .button {
	width: 140px;
}

.objectToGradeHeaderTable a:link, .objectToGradeHeaderTable a:visited {
	padding: 2px 10px 0 10px;
	font: bold Verdana, Arial, sans-serif;
	font-size:.8em;
	background-color:#1e69ff;
	color: #FFF;
	border:1px solid #333;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;  
	border: 1px solid #19253D; 
}

.objectToGradeHeaderTable a:hover {
	background-color:#FFFF00;
	color:#333;
	}
	
.questionContentContainer {
	border:1px solid #999;
	margin:5px 25px;
	padding:4px 10px;
}

.questionContentContainer a {
	margin-left:30px;
	font-size:85%;
}

.questionContentContainer a:hover {
	background-color:#FFFF00;
}

.questionContentText {
	margin-top:10px;
	color:#003300;
	font-weight:bold;
}

.choosePeriodTable  {
	display:block;
	margin:0px 25px 8px 25px;
	padding:4px 10px;
	border:1px solid #999;
}

.choosePeriodTable .periodRadioChoice {
		display:inline;
		margin-right:20px;
		font-weight:bold;
}

a.selectStep {
	margin-left:1em;
	font-weight:bold;
}

a.selectStep.disabled {
	color:#CCCCCC;
	text-decoration:none !important;
}

a.selectStep:hover {
	text-decoration:underline;
}

#periodSelect, {
	background: #DDDDDD;
    color: #444444;
}

#filterOptions {
	background: none repeat scroll 0 0 transparent;
    border-top: 1px solid #DDDDDD;
    margin-bottom: -0.25em;
    margin-top: 0.7em;
	padding-top: 0.5em;
    color: #444444;
}
	
#filterOptions input {
	margin-right:.5em;
	margin-left:0;
	vertical-align:center;
}
	
#filterOptions p {
	display:inline;
	font-size:1em;
	margin-right:1em;
}
	
#showScoreTable, #chooseTeamToGradeTable, #chooseStepToGradeTable {
	border-collapse:collapse;
	width: 100%;
}

#chooseTeamToGradeTable {
	margin-top: -0.45em;
	margin-bottom:0;
}

input#chooseTeamToGrade_search {
	background-color: #F9F9F9;
	border:1px solid #DDDDDD;
	padding:2px;
	height: 20px;
	width: 150px;
	text-align: left;
}

input#chooseTeamToGrade_search:focus {
	background-color:#FFFFFF;
}

.fixedHeader {
	padding-top:.8em;
	font-size: .85em;
	background-color:#FFFFFF;
}

#chooseTeamToGradeTable th:hover {
	cursor:pointer;
}

#showScoreTable thead tr {
	background-color:#CCC;
}

#showScoreTable tbody tr:hover, #chooseTeamToGradeTable tbody tr:hover {
	background-color:#EEEEEE;
	cursor:pointer;
}

.chooseStepToGradeActivityTd  {
	padding:0;
	width:550px;
}

.chooseStepToGradeActivityTd h4 {
	border-bottom: 1px solid #DDDDDD;
    color: #585F0C;
    font-size: 1.1em;
    margin: 0.3em 0 0.25em 0.25em;
    padding: 0.25em;
}

.chooseStepToGradeStepTd a .nodeTypeClass {
	font-size:90%;
	color:#666;
}

.instructions .nodeTypeClass {
	font-size:.9em;
	color:#666666;
}

input[type="text"] {
	background-color: #F1F2D9;
    border: 1px solid #C5D052;
    color: #444444;
    font-family: Arial, Helvetica, Tahoma, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    padding: 3px;
    text-align: center;
    width: 50px;
}

input[type="text"]:focus {
	background-color: #DDEFE1;
	border-color: #007391;
}

.drawEnlarge {
	color:#0000FF;
	text-decoration:underline;
	cursor:pointer;
}

.drawEnlarge:visited {
	color:#7F007F;
}

.svgDrawCell, .snapCell {
	background:#fff;
	border:1px solid #aaa;
	overflow:hidden;
}

.annotatorCell {
	padding: 10px;
	background:#fff;
	border:1px solid #aaa;
	overflow:hidden;
}

.snaps {
	width:370px;
}

.snaps div {
	display:inline-block;
}

.svgDrawCell {
	width:360px;
	height:270px;
}

.drawDescription span {
	font-weight:bold;
}

.snapCell {
	width:375px;
	height:275px;
	cursor:pointer;
}

/*  STYLES FOR GRADE BY STEP STUDENT WORK TABLE  */

#studentworkTable {
	border-collapse:collapse;
	margin:10px 0 25px 0;
	width:100%
}
	
#studentworkTable th {
	/*background-color:#ccc;
	color:#333;
	font-size:.7em;
	padding:4px;
	text-transform:uppercase;
	border:1px solid #666;*/
	text-align: center;
	border-color:#FFFFFF #FFFFFF #777777;
}
#studentworkTable td {
	border: 1px solid #CCCCCC;
	border-bottom-color: #777;
}

#studentworkTable td.workgroupIdColumn {
	width:18%;
	text-align:center;
	font-size:.9em;
	padding: .25em;
}

td.workgroupIdColumn > div {
	margin:.5em 0;
}

#studentworkTable td.workColumn {
	/*width:42%;*/
	width:500px;
	max-width: 500px;
	font-size: .9em;
}

td.workColumn p, td.workColumn span {
	font-size: .9em !important;
	font-family: Arial, Helvetica, Tahoma, sans-serif !important;
}

.studentWorkDiv {
	height: 100%;
}

.studentWorkDiv div {
	margin:.5em;
}

#studentworkTable td.gradingColumn {
	width:35%;
	font-size:.9em;
	padding:3px 8px;
}

#studentworkTable td.toolsColumn {
	width:5%;
	font-size:.9em;
	padding:.5em;
	text-align:center;
}

#chooseTeamToGradeTable .col1 {
	width: 70px;
}

#chooseTeamToGradeTable .col2 {
	width: 300px;
}

#chooseTeamToGradeTable .col3  {
	width: 200px;
}

.teacherAnnotationTable {
	width:100%;
	border-collapse:collapse;
	border:0 none;
}

.noWork .teacherAnnotationTable {
	opacity:.5;
}

.teacherAnnotationTable td {
	vertical-align:middle;
}

.teacherAnnotationTable th, .teacherAnnotationTable td  {
	width:100%;
	border-collapse:collapse;
	border:0 none !important;
}

.teacherAnnotationTable .lastAnnotationPostTime {
	padding:color:#666;
}

.teacherAnnotationTable textarea {
	padding:.25em;
	font-weight:bold;
	width:100%;
}

.teacherAnnotationTable textarea {
	background-color: #ffffff;
	border-color: #BBB;
	padding:.25em;
}

.teacherAnnotationTable textarea:focus {
	border-color: #777777;
}

.teacherAnnotationTable textarea:focus {
	min-height:90px;
}

.toolsColumn {padding:0 5px;}
.toolsColumn input {margin-right:4px;}


.gradeByTeamGradingPageNonWorkStepTable {
	width:100%;
}

.gradeByTeamGradingPageActivityTable {
	width:100%;
	border-collapse:collapse;
	border:1px solid #666;
	background-color:#FFE6C6;
	margin:0 0 5px 0;
	padding:5px;
}

/* Grade by Team Student Work Table  */

.gradeByTeamGradingPageWorkStepTable {
	width:100%;
	border-collapse:collapse;
	border:1px solid #666;
	margin:0 0;
}

.gradeByTeamGradingPageWorkStepTable td {
	vertical-align:top;
	}

.gradeByTeamGradingPageWorkStepTable .chooseStepToGradeStepTd{
	padding:5px 10px;
	font-weight:bold;
	font-size:1.2em;
}
	
.gradeByTeamGradingPageWorkStepTable .gradeTeamTableHeader td {
	font-size:.7em;
	color:#333;
	background-color:#ccc;
	text-align:center;
	padding:2px;
	border-bottom:1px solid #666;
	}

.gradeByTeamGradingPageWorkStepTable .chooseStepToGradeStepTd span {
	color:#666;
	font-size:80%;
}

.gradeByTeamGradingPageWorkStepTable .chooseStepToGradeStepTd2 {
		padding:5px 10px;
		vertical-align:middle;
}

.gradeByTeamGradingPageWorkStepTable .questionContentText {
	padding:4px;
	color:#000;
	font-size:100%;
	font-weight:normal;
	font-style:italic;
	background-color:#FF9D1E;
}

.gradeByTeamGradingPageWorkStepTable td a  {
	padding:2px 5px;
	color:blue;
	border:1px solid transparent;
	font-size:.8em;
}

.gradeByTeamGradingPageWorkStepTable td a:hover {
	background-color:#FFFF00;
	border:1px solid #999;
}
	
.gradeByTeamWorkColumn {
	width:50%;
	padding:10px;
}

.gradeByTeamGradeColumn {
	width:45%;
}

.gradeByTeamGradeColumn textarea{
	width:410px;
}

.gradeByTeamToolsColumn {
	width:5%;
}

#lowerSaveButton {
	text-align:right;
	margin:0 0 10px 0;
	padding-right:55px;
	}
	
.exIdea {
  width: 150px;
  padding: .5em;
  border: 2px solid #444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color:rgb(38, 84, 207);
  /*background-color:#2654CF;*/
  color:#fff;
  text-align:center;
  cursor:pointer;
  box-shadow: 0px 0px 4px #fff;
  -moz-box-shadow: 0px 0px 4px #fff;
  -webkit-box-shadow: 0px 0px 6px #fff;
}

/* Classroom monitor styles */
.classroomMonitorStudentWorkRow {
	background-color:lightgrey;
}

.exportExplanationTable {
	border-width:1px;
	border-style:outset;
	border-collapse:collapse;
}

.exportExplanationTd {
	padding:3px;
	border-style:inset;
	border-width:1px;
}

.gradingCriteriaTable {
	border-width:1px;
	border-style:outset;
	border-collapse:collapse;
}

.gradingCriteriaTd {
	text-align:right;
	padding:3px;
	border-style:inset;
	border-width:1px;
}

/* real-time classroom monitor styling section */
.realTimeStudentWork {
	border-bottom: 2px solid;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.studentWorkInfoDiv {
	font-weight:bold;
}