<style>
    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 90%;
        height: 100px;
        text-align: center;
        padding-top: 50px;
        margin: 10px;
        bottom: 0px;
    }

    .drop-box:hover {
        cursor: pointer;
    }

    #assetMessage {
        background-color: lightpink;
    }
</style>
<button id="closeAssetsButton" style="float:right" ng-click='projectAssetController.exit()' translate="CLOSE"></button>

<div ngf-drop ngf-select ngf-change="projectAssetController.uploadAssetItems($files)" class="drop-box"
     drag-over-class="dragover" ngf-multiple="true" allow-dir="false"
     accept="image/*,application/pdf,text/csv" translate="dropAssetMessage"></div>
<span translate="assetUsageMessage"
      translate-value-usage="{{projectAssetController.projectAssets.totalFileSize | appropriateSizeText }}"
      translate-value-max="{{projectAssetController.projectAssetTotalSizeMax | appropriateSizeText }}"
      translate-value-percentage="{{projectAssetController.projectAssetUsagePercentage | roundToDecimal:0 }}"></span>
<span id="assetMessage">{{projectAssetController.assetMessage}}</span><br/>
<span translate="sortAssets" />:
<select ng-model="projectAssetController.assetSortBy">
    <option value="aToZ" translate="fileNameAToZ"></option>
    <option value="zToA" translate="fileNameZToA"></option>
    <option value="smallToLarge" translate="fileSizeSmallToLarge"></option>
    <option value="largeToSmall" translate="fileSizeLargeToSmall"></option>
</select>
<ul>
    <li ng-repeat='assetItem in projectAssetController.projectAssets.files'>
        {{assetItem.fileName}} ({{assetItem.fileSize | appropriateSizeText}})
        <md-icon ng-click='projectAssetController.viewAsset(assetItem)' class="md-16" style="cursor:pointer"> zoom_in </md-icon>
        <md-icon ng-click='projectAssetController.deleteAsset(assetItem)' class="md-16" style="cursor:pointer"> delete </md-icon>
    </li>
</ul>
