<mat-card class="standalone__content standalone__content--sm  mat-elevation-z4">
  <mat-card-content>
    <h2 class="standalone__title accent">Create Teacher Account</h2>
    <p>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput
               id="email"
               name="email"
               [(ngModel)]="email" />
      </mat-form-field>
    </p>
    <p>
      <button fxFlex
              mat-raised-button
              color="primary"
              (click)="signUp()">
        Sign Up
      </button>
    </p>
    <span *ngIf="isGoogleAuthenticationEnabled">
      <p class="center mat-subheading-1">- or -</p>
      <p class="center">
        <button class="button--social-login button--google"
                color="accent"
                mat-raised-button
                (click)="socialSignIn('google')">
          <img src="assets/img/icons/g-logo.png" alt="Google logo" />Sign up with Google
        </button>
      </p>
    </span>
  </mat-card-content>
</mat-card>
