<ng-container *ngIf="!courses.length">
  <mat-dialog-content i18n>Hey there! Looks like you don't have any Google classes yet. Visit Google Classroom to create a class.</mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end">
    <button mat-button (click)="closeAll()" i18n>Close</button>
  </mat-dialog-actions>
</ng-container>
<ng-container *ngIf="courses.length && !isAdded">
  <form [formGroup]="form" (ngSubmit)="addToClassroom()">
    <h2 class="mat-dialog-title" i18n>Add to Google Classroom</h2>
    <mat-dialog-content class="mat-dialog-content--scroll" fxLayout="column">
      <p class="mat-subheading-2 accent-1" i18n>Select the Google classes for which you'd like to add this unit. This will create assignments in Google Classroom with a link to the unit.</p>
      <div formArrayName="selectedCourses">
        <p *ngFor="let control of selectedCoursesControl.controls; let i = index">
          <mat-checkbox [formControl]="control">
            {{ courses[i].name }} <ng-container *ngIf="courses[i].section" i18n> (Section {{ courses[i].section }})</ng-container>
          </mat-checkbox>
        </p>
      </div>
      <mat-form-field appearance="fill">
        <mat-label i18n>Assignment Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error i18n>Description is required.</mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <div mat-dialog-actions
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="end"
         fxLayoutGap="8px">
      <button mat-button (click)="closeAll()" [disabled]="isAdding" i18n>Cancel</button>
      <button mat-flat-button type="submit" color="primary"
              [disabled]="form.invalid || isAdding">
        <mat-progress-bar *ngIf="isAdding" mode="indeterminate"></mat-progress-bar>
        <ng-container i18n>Add</ng-container>
      </button>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="isAdded && courses.length">
  <mat-dialog-content i18n>Success! This unit has been added to Google Classroom.</mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end">
    <button mat-button (click)="closeAll()" i18n>Done</button>
  </mat-dialog-actions>
</ng-container>
