<md-dialog aria-label="{{::editNotebookItemController.title}}" class="view-notebook-item" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools" style="background-color: {{::editNotebookItemController.color}};">
            <h2>{{::editNotebookItemController.title}}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content view-notebook-item__content">
            <md-input-container class="md-block md-input-has-placeholder notebook-item__text-input" md-no-float>
                  <textarea class="notebook-item__text-input__textarea"
                            placeholder="{{ 'typeYourNoteHere' | translate }}"
                            ng-model="editNotebookItemController.item.content.text"
                            ng-model-options='{ debounce: 100 }'
                            ng-change="editNotebookItemController.update()"
                            ng-disabled="!editNotebookItemController.isEditMode || !editNotebookItemController.isEditTextEnabled"
                            md-select-on-focus></textarea>
            </md-input-container>
            <div class="notebook-item__attachment" ng-repeat="attachment in editNotebookItemController.item.content.attachments">
                <img ng-src="{{attachment.iconURL}}" class="notebook-item__attachment__content" />
                <md-button class="md-whiteframe-1dp notebook-item__attachment__delete md-icon-button md-raised"
                           ng-click='editNotebookItemController.removeAttachment(attachment)'
                           ng-disabled="!editNotebookItemController.isEditMode"
                           title="{{ ::'removeFile' | translate }}">
                    <md-icon class="text-secondary">delete</md-icon>
                </md-button>
            </div>
            <div ng-if="editNotebookItemController.isEditMode && editNotebookItemController.showUpload"
                 ngf-drop
                 ngf-select
                 ngf-change="editNotebookItemController.attachStudentAssetToNote($files)"
                 ngf-resize="{quality: .8, width: 1000, height: 1000, pattern:'image/*', restoreExif: true}"
                 ngf-resize-if="$width > 1000 || $height > 1000"
                 class="notebook-item__upload"
                 drag-over-class="dragover" allow-dir="false"
                 accept="image/*,application/pdf,text/csv">
                <md-icon>image</md-icon> <span translate="dropAssetMessage"></span>
            </div>
            <div class="notebook-item__info md-caption">
                <md-icon> place </md-icon>
                <wiselink type="link" disable="!editNotebookItemController.isEditMode"
                          node-id="{{editNotebookItemController.getItemNodeId()}}"
                          link-text="{{editNotebookItemController.getItemNodeLink()}}"
                          link-class="md-caption"></wiselink>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="start center" ng-if="editNotebookItemController.isEditMode">
        <div>
            <md-checkbox class="primary"
                         aria-label="Share"
                         ng-checked="editNotebookItemController.isSharedWithClass()"
                         ng-if="editNotebookItemController.canShareWithClass()"
                         ng-click="editNotebookItemController.toggleMakeNotePublic()">
                {{ ::'shareNoteWithClass' | translate }}
            </md-checkbox>
        </div>
        <span flex></span>
        <div>
            <md-button class="primary" aria-label="Cancel" ng-click="editNotebookItemController.cancel()">
                {{ ::'CANCEL' | translate }}
            </md-button>
            <md-button class="primary" aria-label="Save" ng-click="editNotebookItemController.save()" ng-disabled="!editNotebookItemController.saveEnabled">
                {{ ::'SAVE' | translate }}
            </md-button>
        </div>
    </md-dialog-actions>
    <md-dialog-actions layout="row" layout-align="end center" ng-if="!editNotebookItemController.isEditMode">
        <div>
            <md-button class="primary"
                       aria-label="Copy"
                       ng-if="editNotebookItemController.canCopyPublicNotebookItem()"
                       ng-click="editNotebookItemController.copyPublicNotebookItem($event)">
                <md-icon class="primary"> content_copy </md-icon>
                {{ ::'copyToMyNotes' | translate }}
            </md-button>
        </div>
        <span flex></span>
        <div>
            <md-button class="primary" aria-label="Close" ng-click="editNotebookItemController.close()">
                {{ ::'CLOSE' | translate }}
            </md-button>
        </div>
    </md-dialog-actions>
</md-dialog>
