@import
  '~@angular/material/theming',
  '~style/abstracts/functions',
  '~style/abstracts/variables';

// Create a config with the default typography levels.
$config: mat-typography-config();

.hero {
  width: 100%;
  height: 0;
  padding: 50% 0 0;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: breakpoint('md.min')) {
    padding: 40% 0 0;
  }

  @media (min-width: breakpoint('lg.min')) {
    padding: 33% 0 0;
  }

  .mat-icon {
    margin: 0 4px;
  }
}

.hero__content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  color: #ffffff;
  text-align: center;
  padding: 32px;

  @media (min-width: breakpoint('sm.min')) {
    padding: 32px 64px;
  }
}

h1.hero__headline {
  @include mat-typography-level-to-styles($config, display-1);

  .mat-icon {
    height: mat-font-size($config, display-1);
    width: mat-font-size($config, display-1);
  }

  @media (min-width: breakpoint('sm.min')) {
    margin-bottom: 24px;
    @include mat-typography-level-to-styles($config, display-3);

    .mat-icon {
      height: mat-font-size($config, display-3);
      width: mat-font-size($config, display-3);
    }
  }
}

h1.hero__headline--withtagline {
  margin-bottom: 4px;

  @media (min-width: breakpoint('sm.min')) {
    margin-bottom: 32px;
  }

  @media (min-width: breakpoint('md.min')) {
    margin-bottom: 48px;
  }
}

h2.hero__tagline {
  @include mat-typography-level-to-styles($config, headline);
  line-height: mat-line-height($config, subheading-2);

  .mat-icon {
    height: mat-font-size($config, subheading-2);
    width: mat-font-size($config, subheading-2);
  }

  @media (min-width: breakpoint('sm.min')) {
    @include mat-typography-level-to-styles($config, display-1);

    .mat-icon {
      height: mat-font-size($config, subheading-2);
      width: mat-font-size($config, subheading-2);
    }
  }
}

h2.hero__tagline {
  font-weight: 300;
}
