<header fxLayout="row" class="content__header">
  <h1 class="accent"
      fxLayoutAlign="center center"
      fxLayoutGap="8px"
      ngClass="mat-display-1"
      [ngClass.xs]="{ 'mat-display-1': false }">
    <mat-icon>settings</mat-icon><span i18n>Administrator Tools</span>
  </h1>
</header>
<div class="standalone_content"
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutGap="16px"
     fxLayoutAlign="center center">
  <app-call-to-action fxFlex="30"
                      icon="group"
                      iconColor="accent"
                      i18n-headline
                      headline="Users"
                      i18n-content
                      content="Manage WISE users"
                      destination="/admin/search"></app-call-to-action>
  <app-call-to-action fxFlex="30"
                      icon="vertical_split"
                      iconColor="accent"
                      i18n-headline
                      headline="News"
                      i18n-content
                      content="Manage WISE news items"
                      destination="/admin/news"></app-call-to-action>
</div>
