<div ng-controller='EmbeddedAuthoringController as embeddedController' style='display: flex'>
  <div class='embedded-content' flex>
    <script>
      var embeddedController = embeddedController;
    </script>
    <div>
      <div class='advancedAuthoringDiv'
           ng-if='embeddedController.showAdvancedAuthoring'>
        <div>
          <h6>{{ ::'advancedAuthoringOptions' | translate }}</h6>
        </div>
        <div>
          <md-input-container style='width: 100%; margin-bottom: -10'>
            <label>{{ ::'embedded.modelParameters' | translate }}</label>
            <textarea rows='1'
                      ng-model='embeddedController.authoringComponentContent.parameters'
                      ng-change='embeddedController.authoringViewComponentChanged()'
                      ng-model-options='{ debounce: 1000 }'>
            </textarea>
          </md-input-container>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-model='embeddedController.authoringComponentContent.showSaveButton'
                       ng-change='embeddedController.authoringViewComponentChanged()'>
            {{ ::'SHOW_SAVE_BUTTON' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-model='embeddedController.authoringComponentContent.showSubmitButton'
                       ng-change='embeddedController.authoringViewComponentChanged()'>
            {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-checkbox class='md-primary'
                       ng-if='embeddedController.isNotebookEnabled()'
                       ng-model='embeddedController.authoringComponentContent.showAddToNotebookButton'
                       ng-change='embeddedController.authoringViewComponentChanged()'>
            {{ ::'SHOW_ADD_TO_NOTEBOOK_BUTTON' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                              ng-if='embeddedController.authoringComponentContent.showSubmitButton'>
            <label>{{ ::'MAX_SUBMIT' | translate }}</label>
            <input type='number'
                   ng-model='embeddedController.authoringComponentContent.maxSubmitCount'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='embeddedController.authoringViewComponentChanged()'/>
          </md-input-container>
        </div>
        <div>
          <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'>
            <label>{{ ::'MAX_SCORE' | translate }}</label>
            <input type='number'
                   ng-model='embeddedController.authoringComponentContent.maxScore'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='embeddedController.authoringViewComponentChanged()'/>
          </md-input-container>
        </div>
        <div>
          <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'>
            <label>{{ ::'COMPONENT_WIDTH' | translate }}</label>
            <input type='number'
                   ng-model='embeddedController.authoringComponentContent.componentWidth'
                   ng-model-options='{ debounce: 1000 }'
                   ng-change='embeddedController.authoringViewComponentChanged()'/>
          </md-input-container>
        </div>
        <div>
          <label class='node__label--vertical-alignment'>
            {{ ::'RUBRIC' | translate }}
          </label>
          <md-button class='topButton md-raised md-primary' ng-click='embeddedController.showRubricAuthoring = !embeddedController.showRubricAuthoring'>
            <md-icon>message</md-icon>
            <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'EDIT_COMPONENT_RUBRIC' | translate }}</md-tooltip>
          </md-button>
          <div ng-if='embeddedController.showRubricAuthoring'>
            <summernote id='{{embeddedController.summernoteRubricId}}'
                        ng-model='embeddedController.summernoteRubricHTML'
                        ng-change='embeddedController.summernoteRubricHTMLChanged()'
                        config='embeddedController.summernoteRubricOptions'
                        ng-model-options='{ debounce: 1000 }'
                        rows='10'
                        cols='100'>
            </summernote>
          </div>
        </div>
        <div>
          <div style='height: 50px;'>
            <label class='node__label--vertical-alignment'>
              {{ ::'CONNECTED_COMPONENTS' | translate }}
            </label>
            <md-button class='topButton md-raised md-primary'
                       ng-click='embeddedController.authoringAddConnectedComponent()'>
              <md-icon>add</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'ADD_CONNECTED_COMPONENT' | translate }}</md-tooltip>
            </md-button>
          </div>
          <div ng-repeat='connectedComponent in embeddedController.authoringComponentContent.connectedComponents track by $index'
               style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'
               layout='row'>
            <div flex>
              <md-input-container style='margin-right: 20; width: 300;'>
                <label>{{ ::'step' | translate }}</label>
                <md-select ng-model='connectedComponent.nodeId'
                           ng-change='embeddedController.authoringConnectedComponentNodeIdChanged(connectedComponent)'
                           style='width: 300'>
                  <md-option ng-repeat='item in embeddedController.idToOrder | toArray | orderBy : "order"'
                             value='{{item.$key}}'
                             ng-if='embeddedController.isApplicationNode(item.$key)'>
                    {{ embeddedController.getNodePositionAndTitleByNodeId(item.$key) }}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container style='margin-right: 20; width: 300;'>
                <label>{{ ::'component' | translate }}</label>
                <md-select ng-model='connectedComponent.componentId'
                           ng-change='embeddedController.authoringConnectedComponentComponentIdChanged(connectedComponent)'
                           style='width: 300'>
                  <md-option ng-repeat='(componentIndex, component) in embeddedController.getComponentsByNodeId(connectedComponent.nodeId)'
                             value='{{component.id}}'
                             ng-disabled='!embeddedController.isConnectedComponentTypeAllowed(component.type) || component.id == embeddedController.componentId'>
                    {{ componentIndex + 1 }}. {{ ::component.type }} <span ng-if='component.id == embeddedController.componentId'>({{ 'thisComponent' | translate }})</span>
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container style='margin-right: 20; width: 200;'>
                <label>{{ ::'type' | translate }}</label>
                <md-select ng-model='connectedComponent.type'
                           ng-change='embeddedController.authoringConnectedComponentTypeChanged(connectedComponent)'
                           style='width: 200'>
                  <md-option value='importWork'>
                    {{ ::'importWork' | translate }}
                  </md-option>
                  <md-option value='showWork'>
                    {{ ::'showWork' | translate }}
                  </md-option>
                </md-select>
              </md-input-container>
              <span flex></span>
              <md-input-container style='margin-left: 20;'>
                <md-button class='topButton md-raised md-primary'
                           ng-click='embeddedController.authoringDeleteConnectedComponent($index)'>
                  <md-icon>delete</md-icon>
                  <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
                </md-button>
              </md-input-container>
            </div>
          </div>
        </div>
        <div style='margin-top: 10px; margin-bottom: 10px;'>
          <div style='height: 50px;'>
            <label class='node__label--vertical-alignment'>{{ ::'tags' | translate }}</label>
            <md-button class='topButton md-raised md-primary'
                       ng-click='embeddedController.addTag()'>
              <md-icon>add</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'addTag' | translate }}
              </md-tooltip>
            </md-button>
          </div>
          <div ng-repeat='tag in embeddedController.authoringComponentContent.tags track by $index'>
            <div layout='row'>
              <md-input-container style='margin-bottom: 0px'>
                <label></label>
                <input ng-model='embeddedController.authoringComponentContent.tags[$index]'
                       ng-change='embeddedController.authoringViewComponentChanged()'
                       ng-model-options='{ debounce: 1000 }'
                       size='100'
                       placeholder='{{ ::"enterTag" | translate }}'/>
              </md-input-container>
              <md-button class='moveComponentButton md-raised md-primary' ng-click='embeddedController.moveTagUp($index)'>
                <md-icon>arrow_upward</md-icon>
                <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'moveUp' | translate }}</md-tooltip>
              </md-button>
              <md-button class='moveComponentButton md-raised md-primary' ng-click='embeddedController.moveTagDown($index)'>
                <md-icon>arrow_downward</md-icon>
                <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'moveDown' | translate }}</md-tooltip>
              </md-button>
              <md-button class='moveComponentButton md-raised md-primary' ng-click='embeddedController.deleteTag($index)'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
              </md-button>
            </div>
          </div>
        </div>
        <div>
          <label class='node__label--vertical-alignment'>{{ ::'json' | translate }}</label>
          <md-button class='topButton md-raised md-primary'
                     ng-click='embeddedController.showJSONButtonClicked()'>
            <md-icon>code</md-icon>
            <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'SHOW_JSON' | translate }}</md-tooltip>
          </md-button>
          <span ng-if='embeddedController.isJSONStringChanged'>
            {{ ::'closeTheJSONViewToSaveTheChanges' | translate }}
          </span>
          <div ng-if='embeddedController.showJSONAuthoring'>
            <md-input-container style='width: 100%;'>
              <textarea ng-model='embeddedController.authoringComponentContentJSONString'
                        style='width: 90%; border: 1px solid black;'
                        ng-change='embeddedController.authoringJSONChanged()'></textarea>
            </md-input-container>
          </div>
        </div>
      </div>
      <br/>
      <div ng-if='!embeddedController.authoringComponentContent.showPreviousWork'>
        <div>
          <md-input-container style='height: 40px'>
            <label>{{ ::'embedded.modelFileName' | translate }}</label>
            <input size='100'
                  ng-model='embeddedController.authoringComponentContent.url'
                  ng-change='embeddedController.authoringViewComponentChanged()'
                  ng-model-options='{ debounce: 1000 }'/>
          </md-input-container>
          <md-button class='topButton md-raised md-primary' ng-click="embeddedController.showModelFileChooserPopup()">
            <md-icon>insert_photo</md-icon>
            <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'embedded.chooseTheModelFile' | translate }}</md-tooltip>
          </md-button>
        </div>
        <div layout="row" layout-align="center center" layout-row>
          <md-input-container style='height: 40px'>
            <label>{{ ::'embedded.widthPlaceholder' | translate }}</label>
            <input size='20'
                  type='number'
                  ng-model='embeddedController.authoringComponentContent.width'
                  ng-change='embeddedController.authoringViewComponentChanged()'
                  ng-model-options='{ debounce: 1000 }'/>
          </md-input-container>
          <md-input-container style='height: 40px'>
            <label>{{ ::'embedded.heightPlaceholder' | translate }}</label>
            <input size='20'
                  type='number'
                  ng-model='embeddedController.authoringComponentContent.height'
                  ng-change='embeddedController.authoringViewComponentChanged()'
                  ng-model-options='{ debounce: 1000 }'/>
          </md-input-container>
          <span flex></span>
          <md-button class="md-icon-button md-primary"
                    aria-label="{{ ::'embedded.reloadModel' | translate }}"
                    ng-click="embeddedController.reloadModel()">
            <md-tooltip md-direction="top">{{ ::'embedded.reloadModel' | translate }}</md-tooltip>
            <md-icon>refresh</md-icon>
          </md-button>
        </div>
      </div>
    </div>
    <div ng-style='{"border": "5px solid black", "padding": "20px"}'>
      <div>
        <h5>{{ ::'studentPreview' | translate }}</h5>
      </div>
      <div ng-switch='embeddedController.mode'>
        <div ng-switch-when='grading|gradingRevision' ng-switch-when-separator='|' layout='row' layout-wrap>
          <div flex='100' flex-gt-sm='66' layout='column' class='component--grading__response'>
            <div class='component--grading__response__content'
                style='width: {{embeddedController.width}}; height: {{embeddedController.height}};'>
              <iframe ng-if='embeddedController.$scope.componentState'
                      ng-attr-id='{{embeddedController.embeddedApplicationIFrameId}}'
                      ng-src='{{embeddedController.url}}'
                      class='embedded-content__iframe'
                      style='width: 100%; height: 100%'>
              </iframe>
            </div>
            <span flex></span>
            <component-revisions-info node-id='embeddedController.nodeId'
                                      component-id='embeddedController.componentId'
                                      to-workgroup-id='workgroupId'
                                      component-state='componentState'
                                      active='embeddedController.mode === "grading"'></component-revisions-info>
          </div>
          <div flex='100' flex-gt-sm='33' class='component--grading__annotations'>
            <component-grading node-id='embeddedController.nodeId'
                               component-id='embeddedController.componentId'
                               max-score='embeddedController.componentContent.maxScore'
                               from-workgroup-id='teacherWorkgroupId'
                               to-workgroup-id='workgroupId'
                               component-state-id='componentState.id'
                               show-all-annotations='embeddedController.mode !== "grading"'
                               is-disabled='embeddedController.mode !== "grading"'></component-grading>
          </div>
        </div>
        <div ng-switch-default>
          <div style='text-align: center'>
            <md-button class='md-accent md-primary'
                       ng-click='embeddedController.snipModel($event)'
                       ng-if='embeddedController.isAddToNotebookEnabled()'>
              <md-icon> note_add </md-icon>  {{ ::'ADD_TO_NOTEBOOK' | translate:{label:embeddedController.notebookConfig.label} }}
            </md-button>
            <br/>
            <div style='width: {{embeddedController.width}}; height: {{embeddedController.height}};'>
              <iframe ng-attr-id='{{"componentApp_" + embeddedController.componentId}}'
                      ng-src='{{embeddedController.url}}'
                      ng-onload='embeddedController.iframeLoaded(contentLocation)'
                      class='embedded-content__iframe'
                      style='width: 100%; height: 100%;'>
              </iframe>
            </div>
          </div>
          <div ng-if='embeddedController.isSaveButtonVisible || embeddedController.isSubmitButtonVisible'
               class='component__actions' layout='row' layout-align='start center'>
            <md-button class='md-raised md-primary'
                       ng-class='{"md-raised": !embeddedController.isSubmitButtonVisible}'
                       ng-click='embeddedController.saveButtonClicked()'
                       ng-disabled='embeddedController.isDisabled || !embeddedController.isDirty'
                       ng-if='embeddedController.isSaveButtonVisible'
                       aria-label='Save'
                       translate='SAVE'></md-button>
            <md-button class='md-raised md-primary'
                       ng-click='embeddedController.submitButtonClicked()'
                       ng-disabled='embeddedController.isDisabled || !embeddedController.isSubmitDirty'
                       ng-if='embeddedController.isSubmitButtonVisible'
                       aria-label='Submit'
                       translate='SUBMIT'></md-button>
            <span ng-if='embeddedController.saveMessage.text'
                  class='component__actions__info md-caption'>
                {{embeddedController.saveMessage.text}} <span class='component__actions__more'><md-tooltip md-direction='top'>{{ embeddedController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}</md-tooltip><span am-time-ago='embeddedController.saveMessage.time'></span></span>
            </span>
          </div>
          <component-annotations score-annotation='embeddedController.latestAnnotations.score'
                                 comment-annotation='embeddedController.latestAnnotations.comment'
                                 max-score='embeddedController.componentContent.maxScore'></component-annotations>
        </div>
      </div>
    </div>
  </div>
</div>
