<div style='display: flex'>
  <div class='embedded-content' flex>
    <div>
      <div class='advancedAuthoringDiv' ng-if='embeddedController.showAdvancedAuthoring'>
        <div>
          <md-input-container style='width: 100%; margin-bottom: -10'>
            <label>{{ ::'embedded.modelParameters' | translate }}</label>
            <textarea rows='1'
                ng-model='embeddedController.authoringComponentContent.parameters'
                ng-change='embeddedController.componentChanged()'
                ng-model-options='{ debounce: 1000 }'>
            </textarea>
          </md-input-container>
        </div>
        <div>
          <md-checkbox class='md-primary'
              ng-model='embeddedController.authoringComponentContent.showSaveButton'
              ng-change='embeddedController.componentChanged()'>
            {{ ::'SHOW_SAVE_BUTTON' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-checkbox class='md-primary'
              ng-model='embeddedController.authoringComponentContent.showSubmitButton'
              ng-change='embeddedController.componentChanged()'>
            {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-checkbox class='md-primary'
              ng-if='embeddedController.isNotebookEnabled()'
              ng-model='embeddedController.authoringComponentContent.showAddToNotebookButton'
              ng-change='embeddedController.componentChanged()'>
            {{ ::'SHOW_ADD_TO_NOTEBOOK_BUTTON' | translate }}
          </md-checkbox>
        </div>
        <div>
          <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
              ng-if='embeddedController.authoringComponentContent.showSubmitButton'>
            <label>{{ ::'MAX_SUBMIT' | translate }}</label>
            <input type='number'
                ng-model='embeddedController.authoringComponentContent.maxSubmitCount'
                ng-model-options='{ debounce: 1000 }'
                ng-change='embeddedController.componentChanged()'/>
          </md-input-container>
        </div>
        <div layout="column" layout-align="start start">
          <edit-component-max-score [authoring-component-content]="embeddedController.authoringComponentContent"></edit-component-max-score>
          <edit-component-width [authoring-component-content]="embeddedController.authoringComponentContent"></edit-component-width>
          <edit-component-rubric [authoring-component-content]="embeddedController.authoringComponentContent"></edit-component-rubric>
          <edit-component-tags [authoring-component-content]="embeddedController.authoringComponentContent"></edit-component-tags>
        </div>
        <div>
          <div style='height: 50;'>
            <label class='node__label--vertical-alignment'>
              {{ ::'CONNECTED_COMPONENTS' | translate }}
            </label>
            <md-button class='topButton md-raised md-primary'
                ng-click='embeddedController.addConnectedComponent()'>
              <md-icon>add</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>
                {{ ::'ADD_CONNECTED_COMPONENT' | translate }}
              </md-tooltip>
            </md-button>
          </div>
          <div ng-repeat='connectedComponent in embeddedController.authoringComponentContent.connectedComponents track by $index'
              style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'
              layout='row'>
            <div flex>
              <md-input-container style='margin-right: 20; width: 300;'>
                <label>{{ ::'step' | translate }}</label>
                <md-select ng-model='connectedComponent.nodeId'
                    ng-change='embeddedController.connectedComponentNodeIdChanged(connectedComponent)'
                    style='width: 300'>
                  <md-option ng-repeat='item in embeddedController.idToOrder | toArray | orderBy : "order"'
                      value='{{item.$key}}'
                      ng-if='embeddedController.isApplicationNode(item.$key)'>
                    {{ embeddedController.getNodePositionAndTitleByNodeId(item.$key) }}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container style='margin-right: 20; width: 300;'>
                <label>{{ ::'component' | translate }}</label>
                <md-select ng-model='connectedComponent.componentId'
                    ng-change='embeddedController.connectedComponentComponentIdChanged(connectedComponent)'
                    style='width: 300'>
                  <md-option ng-repeat='(componentIndex, component) in embeddedController.getComponentsByNodeId(connectedComponent.nodeId)'
                      value='{{component.id}}'
                      ng-disabled='!embeddedController.isConnectedComponentTypeAllowed(component.type) || component.id == embeddedController.componentId'>
                    {{ componentIndex + 1 }}. {{ ::component.type }} <span ng-if='component.id == embeddedController.componentId'>({{ 'thisComponent' | translate }})</span>
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container style='margin-right: 20; width: 200;'>
                <label>{{ ::'type' | translate }}</label>
                <md-select ng-model='connectedComponent.type'
                    ng-change='embeddedController.connectedComponentTypeChanged(connectedComponent)'
                    style='width: 200'>
                  <md-option value='importWork'>{{ ::'importWork' | translate }}</md-option>
                  <md-option value='showWork'>{{ ::'showWork' | translate }}</md-option>
                </md-select>
              </md-input-container>
              <span flex></span>
              <md-input-container style='margin-left: 20;'>
                <md-button class='topButton md-raised md-primary'
                    ng-click='embeddedController.deleteConnectedComponent($index)'>
                  <md-icon>delete</md-icon>
                  <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
                </md-button>
              </md-input-container>
            </div>
          </div>
        </div>
        <edit-component-json [node-id]="embeddedController.nodeId" [component-id]="embeddedController.componentId"></edit-component-json>
      </div>
      <br/>
      <div ng-if='!embeddedController.authoringComponentContent.showPreviousWork'>
        <div>
          <md-input-container style='height: 40px'>
            <label>{{ ::'embedded.modelFileName' | translate }}</label>
            <input size='100'
                ng-model='embeddedController.authoringComponentContent.url'
                ng-change='embeddedController.componentChanged()'
                ng-model-options='{ debounce: 1000 }'/>
          </md-input-container>
          <md-button class='topButton md-raised md-primary' ng-click="embeddedController.showModelFileChooserPopup()">
            <md-icon>insert_photo</md-icon>
            <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'embedded.chooseTheModelFile' | translate }}</md-tooltip>
          </md-button>
        </div>
        <div layout="row" layout-align="center center" layout-row>
          <md-input-container style='height: 40px'>
            <label>{{ ::'embedded.widthPlaceholder' | translate }}</label>
            <input size='20'
                type='number'
                ng-model='embeddedController.authoringComponentContent.width'
                ng-change='embeddedController.componentChanged()'
                ng-model-options='{ debounce: 1000 }'/>
          </md-input-container>
          <md-input-container style='height: 40px'>
            <label>{{ ::'embedded.heightPlaceholder' | translate }}</label>
            <input size='20'
                type='number'
                ng-model='embeddedController.authoringComponentContent.height'
                ng-change='embeddedController.componentChanged()'
                ng-model-options='{ debounce: 1000 }'/>
          </md-input-container>
          <span flex></span>
          <md-button class="md-icon-button md-primary"
              aria-label="{{ ::'embedded.reloadModel' | translate }}"
              ng-click="embeddedController.reloadModel()">
            <md-tooltip md-direction="top">{{ ::'embedded.reloadModel' | translate }}</md-tooltip>
            <md-icon>refresh</md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>
