<div style='display: flex'>
  <div class='embedded-content' flex>
    <div>
      <div ng-if='!embeddedController.authoringComponentContent.showPreviousWork'>
        <div>
          <md-input-container style='height: 40px'>
            <label>{{ ::'embedded.modelFileName' | translate }}</label>
            <input size='100'
                ng-model='embeddedController.authoringComponentContent.url'
                ng-change='embeddedController.authoringViewComponentChanged()'
                ng-model-options='{ debounce: 1000 }'/>
          </md-input-container>
          <md-button class='topButton md-raised md-primary' ng-click="embeddedController.showModelFileChooserPopup()">
            <md-icon>insert_photo</md-icon>
            <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'embedded.chooseTheModelFile' | translate }}</md-tooltip>
          </md-button>
        </div>
        <div layout="row" layout-align="center center" layout-row>
          <md-input-container style='height: 40px'>
            <label>{{ ::'embedded.widthPlaceholder' | translate }}</label>
            <input size='20'
                type='number'
                ng-model='embeddedController.authoringComponentContent.width'
                ng-change='embeddedController.authoringViewComponentChanged()'
                ng-model-options='{ debounce: 1000 }'/>
          </md-input-container>
          <md-input-container style='height: 40px'>
            <label>{{ ::'embedded.heightPlaceholder' | translate }}</label>
            <input size='20'
                type='number'
                ng-model='embeddedController.authoringComponentContent.height'
                ng-change='embeddedController.authoringViewComponentChanged()'
                ng-model-options='{ debounce: 1000 }'/>
          </md-input-container>
          <span flex></span>
          <md-button class="md-icon-button md-primary"
              aria-label="{{ ::'embedded.reloadModel' | translate }}"
              ng-click="embeddedController.reloadModel()">
            <md-tooltip md-direction="top">{{ ::'embedded.reloadModel' | translate }}</md-tooltip>
            <md-icon>refresh</md-icon>
          </md-button>
        </div>
      </div>
    </div>
    <div ng-style='{"border": "5px solid black", "padding": "20px"}'>
      <div><h5>{{ ::'studentPreview' | translate }}</h5></div>
      <preview-component component-content='embeddedController.componentContent'/>
    </div>
  </div>
</div>
