<div ng-controller='EmbeddedController as embeddedController' style="display: flex">
    <div class="embedded-content" flex>
        <script>
            var embeddedController = embeddedController;
        </script>
        <div ng-if='embeddedController.mode === "authoring" && !embeddedController.authoringComponentContent.showPreviousWork'>
            Model File Name: <input ng-model='embeddedController.authoringComponentContent.url'
                   ng-change='embeddedController.authoringViewComponentChanged()'
                   ng-model-options='{ debounce: 1000 }'
                   size='50'/>
            <br/>
            Show Save Button:
            <input type='checkbox'
                   ng-model='embeddedController.authoringComponentContent.showSaveButton'
                   ng-change='embeddedController.authoringViewComponentChanged()'/>
            <br/>
            Show Submit Button:
            <input type='checkbox'
                   ng-model='embeddedController.authoringComponentContent.showSubmitButton'
                   ng-change='embeddedController.authoringViewComponentChanged()'/>
            <br/>
            Max Score:
            <input type='number'
                   ng-model='embeddedController.authoringComponentContent.maxScore'
                   ng-change='embeddedController.authoringViewComponentChanged()'
                   ng-model-options='{ debounce: 1000 }'
                   style='width: 3em'/>
        </div>
        <div ng-if='embeddedController.mode === "authoring2"'>
            Import Previous Work:
            <input type='checkbox'
                   ng-model='embeddedController.authoringComponentContent.importPreviousWork'
                   ng-click='embeddedController.authoringImportPreviousWorkClicked()'
                   ng-change='embeddedController.authoringViewComponentChanged()'/>
        </div>
        <div ng-if='embeddedController.mode === "authoring2" && embeddedController.authoringComponentContent.importPreviousWork'>
            Import Previous Work Step:
            <select ng-model='embeddedController.authoringComponentContent.importPreviousWorkNodeId'
                    ng-change='embeddedController.authoringImportPreviousWorkNodeIdChanged()'>
                <option></option>
                <option ng-repeat='item in embeddedController.idToOrder | toArray | orderBy : "order"'
                        value='{{item.$key}}'
                        ng-if='embeddedController.isApplicationNode(item.$key)'>{{embeddedController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
            </select>
            <br/>
            Import Previous Work Component:
            <select ng-model='embeddedController.authoringComponentContent.importPreviousWorkComponentId'
                    ng-change='embeddedController.authoringImportPreviousWorkComponentIdChanged()'
                    ng-options='component.id as component.type disable when !embeddedController.componentHasWork(component) for component in embeddedController.getComponentsByNodeId(embeddedController.authoringComponentContent.importPreviousWorkNodeId)'>
                <option></option>
            </select>
        </div>
        <div ng-if='embeddedController.mode === "authoring2"'>
            Show Previous Work:
            <input type='checkbox'
                   ng-model='embeddedController.authoringComponentContent.showPreviousWork'
                   ng-click='embeddedController.authoringShowPreviousWorkClicked()'
                   ng-change='embeddedController.authoringViewComponentChanged()'/>
        </div>
        <div ng-if='embeddedController.mode === "authoring2" && embeddedController.authoringComponentContent.showPreviousWork'>
            Show Previous Work Step:
            <select ng-model='embeddedController.authoringComponentContent.showPreviousWorkNodeId'
                    ng-change='embeddedController.authoringShowPreviousWorkNodeIdChanged()'>
                <option></option>
                <option ng-repeat='item in embeddedController.idToOrder | toArray | orderBy : "order"'
                        value='{{item.$key}}'
                        ng-if='embeddedController.isApplicationNode(item.$key)'>{{embeddedController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
            </select>
            <br/>
            Show Previous Work Component:
            <select ng-model='embeddedController.authoringComponentContent.showPreviousWorkComponentId'
                    ng-change='embeddedController.authoringShowPreviousWorkComponentIdChanged()'
                    ng-options='component.id as component.type disable when !embeddedController.componentHasWork(component) for component in embeddedController.getComponentsByNodeId(embeddedController.authoringComponentContent.showPreviousWorkNodeId)'>
                <option></option>
            </select>
            <br/>
            Show Previous Work Prompt:
            <input type='checkbox'
                   ng-model='embeddedController.authoringComponentContent.showPreviousWorkPrompt'
                   ng-change='embeddedController.authoringViewComponentChanged()'/>
        </div>
        <div ng-if='embeddedController.mode === "authoring"'>
            <textarea ng-model='embeddedController.authoringComponentContentJSONString'
                      ng-change='embeddedController.advancedAuthoringViewComponentChanged()'
                      ng-model-options="{ updateOn: 'blur' }"
                      rows='10'
                      cols='100'></textarea>
        </div>
        <md-button class="md-accent md-primary"
                    ng-click='embeddedController.snipModel($event)'
                    ng-show='embeddedController.showSnipModelButton()'>
            <md-icon> content_cut </md-icon>  {{ 'addToNotebook' | translate:{label:embeddedController.notebookConfig.label} }}
        </md-button>
        <iframe ng-attr-id="{{'componentApp_' + embeddedController.componentId}}" ng-src='{{embeddedController.url}}'
                class="embedded-content__iframe"
                style="width: {{embeddedController.width}}; height: {{embeddedController.height}}; max-width: {{embeddedController.maxWidth}}; max-height: {{embeddedController.maxHeight}};"></iframe>
        <div ng-if="embeddedController.showSaveButton() || embeddedController.showSubmitButton()"
             class="component__actions" layout="row" layout-align="start center">
            <md-button class="md-primary md-raised"
                       ng-click="embeddedController.saveButtonClicked()"
                       ng-disabled="embeddedController.isDisabled || !embeddedController.isDirty"
                       ng-if="embeddedController.showSaveButton()"
                       aria-label="Save"
                       translate="save"></md-button>
            <md-button class="md-raised md-primary"
                       ng-click="embeddedController.submitButtonClicked()"
                       ng-disabled="embeddedController.isDisabled || !embeddedController.isSubmitDirty"
                       ng-if="embeddedController.showSubmitButton()"
                       aria-label="Submit"
                       translate="submit"></md-button>
            <span ng-show="embeddedController.saveMessage.text"
                  class="component__actions__info md-caption">
                  {{embeddedController.saveMessage.text}} <span class="component__actions__more"><md-tooltip md-direction="top">{{ embeddedController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}</md-tooltip><span am-time-ago="embeddedController.saveMessage.time"></span></span>
            </span>
        </div>
        <component-annotations ng-if="embeddedController.mode === 'student'"
                               score-annotation='embeddedController.latestAnnotations.score'
                               comment-annotation='embeddedController.latestAnnotations.comment'
                               max-score="embeddedController.componentContent.maxScore"></component-annotations>
    </div>
    <div ng-if='embeddedController.mode === "grading"'>
        <annotation ng-if='embeddedController.componentContent.maxScore > -1'
                    type='score'
                    mode='embeddedController.mode'
                    node-id='embeddedController.nodeId'
                    component-id='embeddedController.componentId'
                    from-workgroup-id='teacherWorkgroupId'
                    to-workgroup-id='workgroupId'
                    component-state-id='componentState.id'
                    active='true'></annotation>
        <br ng-if='embeddedController.componentContent.maxScore > -1'/>
        <annotation type='comment'
                    mode='embeddedController.mode'
                    node-id='embeddedController.nodeId'
                    component-id='embeddedController.componentId'
                    from-workgroup-id='teacherWorkgroupId'
                    to-workgroup-id='workgroupId'
                    component-state-id='componentState.id'
                    active='true'></annotation>
    </div>
</div>
