<div ng-controller='EmbeddedController as embeddedController' style="display: flex">
    <div style='flex: 1'>
        <script>
            var embeddedController = embeddedController;
        </script>
        <div ng-if='embeddedController.mode === "authoring"'>
            <input ng-model='embeddedController.authoringComponentContent.url'
                   ng-change='embeddedController.authoringViewComponentChanged()'
                   ng-model-options='{ debounce: 1000 }'
                   size='50'/>
            <br/>
            Max Score:
            <input type='number'
                   ng-model='embeddedController.authoringComponentContent.maxScore'
                   ng-change='embeddedController.authoringViewComponentChanged()'
                   ng-model-options='{ debounce: 1000 }'
                   style='width: 3em'/>
            <br/>
            <textarea ng-model='embeddedController.authoringComponentContentJSONString'
                      ng-change='embeddedController.advancedAuthoringViewComponentChanged()'
                      ng-model-options='{ debounce: 1000 }'
                      rows='10'
                      cols='100'></textarea>
        </div>
        <iframe ng-src='{{embeddedController.url}}'
                style="text-align: center; height: 100%; width:100%; max-width: {{embeddedController.maxWidth}}; max-height: {{embeddedController.maxHeight}};"></iframe>
        <div ng-if='embeddedController.mode == "student"' style='text-align: left'>
            <annotation type='score'
                        mode='{{embeddedController.mode}}'
                        nodeid='{{embeddedController.nodeId}}'
                        componentid='{{embeddedController.componentId}}'
                        fromworkgroupid='{{teacherWorkgroupId}}'
                        toworkgroupid='{{workgroupId}}'
                        componentstateid='{{componentState.id}}'></annotation>
            <br/>
            <annotation type='comment'
                        mode='{{embeddedController.mode}}'
                        nodeid='{{embeddedController.nodeId}}'
                        componentid='{{embeddedController.componentId}}'
                        fromworkgroupid='{{teacherWorkgroupId}}'
                        toworkgroupid='{{workgroupId}}'
                        componentstateid='{{componentState.id}}'></annotation>
        </div>
    </div>
    <div ng-if='embeddedController.mode == "grading"' style='width: 400px; text-align: left'>
        <annotation type='score'
                    mode='{{embeddedController.mode}}'
                    nodeid='{{embeddedController.nodeId}}'
                    componentid='{{embeddedController.componentId}}'
                    fromworkgroupid='{{teacherWorkgroupId}}'
                    toworkgroupid='{{workgroupId}}'
                    componentstateid='{{componentState.id}}'
                    active='true'></annotation>
        <span ng-if='embeddedController.componentContent.maxScore != null'> / {{embeddedController.componentContent.maxScore}}</span>
        <br/>
        <annotation type='comment'
                    mode='{{embeddedController.mode}}'
                    nodeid='{{embeddedController.nodeId}}'
                    componentid='{{embeddedController.componentId}}'
                    fromworkgroupid='{{teacherWorkgroupId}}'
                    toworkgroupid='{{workgroupId}}'
                    componentstateid='{{componentState.id}}'
                    active='true'></annotation>
    </div>
</div>