<div ng-controller='EmbeddedController as embeddedController' style='display: flex'>
  <div class='embedded-content' flex>
    <script>
      var embeddedController = embeddedController;
    </script>
    <div>
      <div ng-switch='::embeddedController.mode'>
        <div ng-switch-when='grading|gradingRevision' ng-switch-when-separator='|' layout='row' layout-wrap>
          <div flex='100' flex-gt-sm='66' layout='column' class='component--grading__response'>
            <div class='component--grading__response__content'
                style='width: {{embeddedController.width}}; height: {{embeddedController.height}};'>
              <iframe ng-if='embeddedController.$scope.componentState'
                  ng-attr-id='{{embeddedController.embeddedApplicationIFrameId}}'
                  ng-src='{{embeddedController.url}}'
                  class='embedded-content__iframe'
                  style='width: 100%; height: 100%'>
              </iframe>
            </div>
            <span flex></span>
            <component-revisions-info node-id='embeddedController.nodeId'
                          component-id='embeddedController.componentId'
                          to-workgroup-id='workgroupId'
                          component-state='componentState'
                          active='embeddedController.mode === "grading"'></component-revisions-info>
          </div>
          <div flex='100' flex-gt-sm='33' class='component--grading__annotations'>
            <component-grading node-id='embeddedController.nodeId'
                       component-id='embeddedController.componentId'
                       max-score='embeddedController.componentContent.maxScore'
                       from-workgroup-id='teacherWorkgroupId'
                       to-workgroup-id='workgroupId'
                       component-state-id='componentState.id'
                       show-all-annotations='embeddedController.mode !== "grading"'
                       is-disabled='embeddedController.mode !== "grading"'></component-grading>
          </div>
        </div>
        <div ng-switch-default>
          <div style='text-align: center'>
            <md-button class='md-accent md-primary'
                  ng-click='embeddedController.snipModel($event)'
                  ng-if='::embeddedController.isAddToNotebookEnabled()'
                  ng-disabled='embeddedController.isDisabled'>
              <md-icon> note_add </md-icon>  {{ ::'ADD_TO_NOTEBOOK' | translate:{label:embeddedController.notebookConfig.label} }}
            </md-button>
            <br/>
            <div style='width: {{::embeddedController.width}}; height: {{::embeddedController.height}};'>
              <iframe ng-attr-id='{{"componentApp_" + embeddedController.componentId}}'
                  ng-src='{{embeddedController.url}}'
                  ng-onload='embeddedController.iframeLoaded(contentLocation)'
                  class='embedded-content__iframe'
                  style='width: 100%; height: 100%;'>
              </iframe>
            </div>
          </div>
          <div ng-if='::embeddedController.isSaveOrSubmitButtonVisible()'
             class='component__actions' layout='row' layout-align='start center'>
            <md-button class='md-raised md-primary'
                   ng-class='{"md-raised": !embeddedController.isSubmitButtonVisible}'
                   ng-click='embeddedController.saveButtonClicked()'
                   ng-disabled='embeddedController.isDisabled || !embeddedController.isDirty'
                   ng-if='::embeddedController.isSaveButtonVisible'
                   aria-label='Save'
                   translate='SAVE'></md-button>
            <md-button class='md-raised md-primary'
                   ng-click='embeddedController.submitButtonClicked()'
                   ng-disabled='embeddedController.isDisabled || !embeddedController.isSubmitDirty'
                   ng-if='::embeddedController.isSubmitButtonVisible'
                   aria-label='Submit'
                   translate='SUBMIT'></md-button>
            <span ng-if='embeddedController.saveMessage.text'
                class='component__actions__info md-caption'>
                {{embeddedController.saveMessage.text}} <span class='component__actions__more'><md-tooltip md-direction='top'>{{ embeddedController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}</md-tooltip><span am-time-ago='embeddedController.saveMessage.time'></span></span>
            </span>
          </div>
          <component-annotations ng-if='embeddedController.mode === "student"'
              [annotations]='embeddedController.latestAnnotations'
              [max-score]='embeddedController.componentContent.maxScore'></component-annotations>
        </div>
      </div>
    </div>
  </div>
</div>
