
<html>
<head>
<style>
#prompt {
  font-weight: bold;
}
#saveButton {
  display: block;
}
</style>
</head>
<body>
<!--
vle5/nodes/openResponse/openResponse.html

message begin...
{{openResponseController.message}}
...message end

nodeContent begin:
{{nodeController.nodeContent}}
nodeContent end
-->
Open Response HTML
<div ng-controller='OpenResponseController as openResponseController'>
<div id='prompt' compile='openResponseController.nodeContent.prompt'></div>
<div class="btn btn-primary" data-drag="true" 
    data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
    jqyoui-draggable="{animate: true, placeholder: 'keep', onStart:'openResponseController.startCallback(item, $index)'}">hello</div>
<div data-drop="true" 
    jqyoui-droppable="{onDrop: 'openResponseController.dropCallback(item, $index)'}">
<textarea id='responseTextarea'
    ng-model='openResponseController.studentResponse'
    ng-disabled='openResponseController.isDisabled' 
    ng-change='openResponseController.studentResponseChanged()'></textarea>
</div>
<button id='saveButton' ng-click='openResponseController.saveButtonClicked()' ng-disabled='openResponseController.isDisabled'>Save</button>
<button id='submitButton' ng-click='openResponseController.submitButtonClicked()' ng-show='openResponseController.nodeContent.showSubmitButton' ng-disabled='openResponseController.isDisabled'>Submit</button>
</div>
</body>
</html>
