<div class="student-run-list">
  <div class="notice" *ngIf="!runs.length && loaded">
    <p>Hey there! Looks like you don't have any WISE units yet.</p>
    <p>Ask your teacher for an <b>Access Code</b> and then tap the <b>Add Unit</b> button to get started.</p>
  </div>
  <div class="content-block" *ngIf="runs.length">
    <div class="content-block__header dark-theme primary-bg"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap.sm="16px">
      <app-search-bar fxFlex="0 0 auto"
                      fxFlex.xs="0 0 100%"
                      [placeholderText]="'Search'"
                      [value]="search"
                      (update)="searchUpdated($event)"></app-search-bar>
    </div>
    <div id="unitCount" *ngIf="loaded" class="notice">
      <p>
        <ng-container *ngIf="search">Units found: {{ filteredRuns.length }}</ng-container>
        <ng-container *ngIf="!search">My WISE units: {{ filteredRuns.length }}</ng-container>
        <span class="mat-caption" *ngIf="filteredRuns.length"> (<ng-container *ngIf="filteredScheduledTotal">{{ filteredScheduledTotal }} scheduled, </ng-container>{{ filteredActiveTotal }} active, {{ filteredCompletedTotal }} completed)</span>.
        <a *ngIf="search" href="#" (click)="!!reset()">Reset</a>
      </p>
    </div>
    <app-timeline>
      <ng-container *ngFor="let run of filteredRuns; let i=index">
        <app-timeline-item [active]="runIsActive(run)" *ngIf="i < 10 || showAll">
          <app-timeline-item-label>
            <ng-container *ngIf="run.endTime">
              <ng-container *ngIf="runSpansYears(run)">
                <span class="mat-body-2">{{ run.startTime | amDateFormat:'MMM D' }}</span>
                <span class="secondary-text"> {{ run.startTime | amDateFormat:'Y' }}</span> -
                <span class="mat-body-2"> {{ run.endTime | amDateFormat:'MMM D' }}</span>
                <span class="secondary-text"> {{ run.endTime | amDateFormat:'Y' }}</span>
              </ng-container>
              <ng-container *ngIf="!runSpansYears(run)">
                <span class="mat-body-2">{{ run.startTime | amDateFormat:'MMM D' }}</span>
                <ng-container *ngIf="runSpansDays(run)"> -
                  <span class="mat-body-2" *ngIf="runSpansMonths(run)">{{ run.endTime | amDateFormat:'MMM D' }}</span>
                  <span class="mat-body-2" *ngIf="!runSpansMonths(run)">{{ run.endTime | amDateFormat:'D' }}</span>
                </ng-container>
                <span class="secondary-text"> {{ run.endTime | amDateFormat:'Y' }}</span>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!run.endTime">
              <span class="mat-body-2">{{ run.startTime | amDateFormat:'MMM D' }}</span>
              <span class="secondary-text"> {{ run.startTime | amDateFormat:'Y' }}</span>
            </ng-container>
          </app-timeline-item-label>
          <app-timeline-item-content>
            <app-student-run-list-item [run]="run"></app-student-run-list-item>
          </app-timeline-item-content>
        </app-timeline-item>
      </ng-container>
    </app-timeline>
    <div class="content-block__actions"
         *ngIf="filteredRuns.length > 10 && !showAll" >
      <a mat-raised-button color="accent" (click)="showAll = true">Show More</a>
    </div>
  </div>
</div>
