<div class="student-run-list">
  <div fxLayoutAlign="end">
    <button mat-raised-button
            (click)="showAddRun()"
            aria-label="Add unit"
            color="accent"
            fxFlex="0 0 auto"
            fxFlex.xs="0 0 100%">
      <mat-icon>add</mat-icon>
      Add Unit
    </button>
  </div>
  <div class="notice" *ngIf="!runs.length && loaded">
    <p>Hey there! Looks like you don't have any WISE units yet.</p>
    <p>Ask your teacher for an <b>Access Code</b> and then tap the <b>Add Unit</b> button to get started.</p>
  </div>
  <div class="content-block" *ngIf="runs.length">
    <div class="content-block__header dark-theme primary-bg"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap.sm="16px">
      <app-search-bar fxFlex="0 0 auto"
                      fxFlex.xs="0 0 100%"
                      [placeholderText]="'Search'"
                      [value]="search"
                      (update)="searchUpdated($event)"></app-search-bar>
    </div>
    <div id="unitCount" *ngIf="loaded" class="notice">
      <p>
        <ng-container *ngIf="search">Units found: {{ filteredRuns.length }}</ng-container>
        <ng-container *ngIf="!search">My WISE units: {{ filteredRuns.length }}</ng-container>
        <span class="mat-caption" *ngIf="filteredRuns.length"> (<ng-container *ngIf="filteredScheduledTotal">{{ filteredScheduledTotal }} scheduled, </ng-container>{{ filteredActiveTotal }} active, {{ filteredCompletedTotal }} completed)</span>.
        <a *ngIf="search" href="#" (click)="!!reset()">Reset</a>
      </p>
    </div>
    <div id="studentRuns" *ngFor="let run of filteredRuns">
      <app-student-run-list-item [run]="run"></app-student-run-list-item>
    </div>
  </div>
</div>
