.prompt {
  width: 100%;
}

.graph-title {
  width: 40%;
  margin-right: 20px;
}

.plot-type {
  width: 15%;
  margin-right: 20px;
}

.dimension {
  width: 10%;
  margin-right: 20px;
}

.label {
  margin-right: 10px;
}

.axis-title {
  width: 30%;
  margin-right: 20px;
}

.axis-type {
  width: 10%;
  margin-right: 20px;
}

.axis-units {
  width: 6%;
  min-width: 80px;
  margin-right: 20px;
}

.axis-min {
  width: 6%;
  min-width: 50px;
  margin-right: 20px;
}

.axis-max {
  width: 6%;
  min-width: 50px;
  margin-right: 20px;
}

.limits-settings {
  width: 400px;
}

.categories {
  width: 100%;
}

.category-name {
  width: 40%;
  margin-right: 20px;
}

.enable-y-axis-label {
  margin-right: 40px;
}

.y-axis-count {
  margin-right: 40px;
}

.multiple-y-axis-container {
  margin-top: 10px;
}

.axis-color {
  width: 8%;
  min-width: 80px;
  margin-right: 20px;
}

.multiple-y-axis-units {
  width: 6%;
  min-width: 80px;
  margin-right: 20px;
}

.locked-checkbox {
  margin-right: 20px;
}

.background {
  width: 80%;
  margin-right: 10px;
}

.round-select {
  width: 25%;
}

.add-button-div {
  margin-bottom: 10px;
}

.series {
  border: 2px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px 20px 10px 20px;
}

.no-series-message {
  margin-top: 10px;
  margin-bottom: 20px;
}

.series-name {
  width: 20%;
  margin-right: 20px;
}

.series-color {
  width: 10%;
  margin-right: 20px;
}

.series-symbol {
  width: 10%;
  margin-right: 20px;
}

.series-type {
  width: 10%;
  margin-right: 20px;
}

.series-line-type {
  width: 10%;
  margin-right: 20px;
}

.series-can-student-edit {
  margin-right: 20px;
}

.series-y-axis {
  width: 20%;
}

.data-point-input {
  width: 10%;
  margin-right: 20px;
}

.category-input {
  width: 20%;
  margin-right: 20px;
}

.data-point-button {
  margin-right: 10px;
}