/* Annotator overrides + custom */
/* TODO: convert to LESS sourced */

svg:not(:root) {
    overflow: visible;
}

hr {
	border-color: #dddddd;
}

.panel {
	/*margin-bottom: 0;*/
	border-radius: 0;
}

.panel .panel-body {
	padding: 10px;
}

input[type="text"] {
    padding: 2px 4px;
}

#wrap {
	background-color:#eeeeee;
	background-image: url("../annotator_bg.png");
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#svg_editor {
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 40px;
}

#tools_top, #tools_bottom, #editor_panel, #history_panel, #tools_left {
	display: none;
}

#workarea {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparent;
	border: 0 none;
}

#svgcanvas {
	background: transparent;
}

#sidepanels {
	border-width: 0;
	display: none;
}

#selectorParentGroup, #cur_context_panel {
	opacity: 0; /* hide selector outlines when in annotator mode */
}

#selectorParentGroup * {
	display: none; /* TODO: fix this, as it causes js errors in Firefox */
}

#label_tools, #annotator_tools {
	position: absolute;
	left: 0;
	right: 0;
	/*padding: 6px;
	background-color: #ffffff;
	border-color: #BBBBBB;*/
	margin-bottom: 0;
}

#label_tools .panel-body, #annotator_tools .panel-body {
	padding: 6px;
	margin: 0;
}

#label_tools {
	top: 0;
    border-width: 0 0 1px;
}

#newLabelInstructions, #editLabelInstructions {
    font-weight: bold;
    margin: 0 6px;
    color: #555;
    line-height: 28px;
}

#editLabelInstructions {
	margin-left: 10px;
}

#annotator_tools {
	bottom: 0;
    border-width: 1px 0 0;
    -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
  	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
}

#explain, #explanation, #newLabelInstructions, #editLabelInstructions, #import {
	display: none;
}

#explanation {
	position: absolute;
	bottom: 40px;
	left: 10px;
	right: 10px;
	margin-bottom: 0;
	/*height: 0;
	max-height: 0;
	-webkit-transition: max-height 250ms;
	transition: max-height 250ms;*/
}

#closeExp {
	margin-top: -1px;
	font-size: 14px;
}

#explanation_instructions {
	margin-bottom: 10px;
}

.btn-group-sm > .btn, .btn-sm {
	padding: 4px 6px;
}

.btn > .fa {
	margin-right: 5px;
	margin-top: 2px;
	font-size: 15px;
}