		
/* Teacher & Student Pages  */

#registrationTitle {
	width:60%;
	font-size:2em;
	text-align: center;
	font-weight:bold;
	border: 1px solid #333333;
	background-color:#FFCE8E;
	background-image: url(../images/Gradient_7a.png);
    background-position: bottom;
	margin: 20px auto 20px auto;
	padding:10px;
		}
	
#subtitleTeacherReg, #subtitleStudentReg {
	text-align:center;
	margin-bottom:0px;
	margin-top: 10px;
	padding: 0px;
	font-size: 1.1em; 
	font-weight: bold;	
		}
		
#studentRegForm {
	margin-top:20px;
	}
	
#studentRegForm dl {
	text-align:left;
	position: relative;
	width:500px; 
	font-size: .9em;
	margin: 0 auto;
}

#studentRegForm dt {
	float:left;
	width: 180px;
	text-align: left;
	margin-top:2px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 14px;
}

#studentRegForm dd {
	padding: 4px 0 3px 0px;
}

#studentRegForm .periodLink { 
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #000;
	background:blue;
	color:#FFF;
	font-size:75%;
	padding:1px 5px;
	text-decoration:none;
	}

#studentRegForm .periodLink:hover { 
	background-color:#FFFF00;
	color:#333;
	}
	
#teacherRegForm {
	margin-top:20px;
	}

#teacherRegForm dl {
	text-align:left;
	width:420px; 
	font-size: .9em;
	margin: 0 auto;
}

#teacherRegForm dt {
	float:left;
	width: 160px;
	text-align: left;
	margin-top:2px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 14px;
}

#teacherRegForm dd {
	padding: 4px 0 3px 0px;
}

#teacherFirstName, #teacherLastName, #teacherEmail, #teacherCity, #teacherState, #teacherCountry, #teacherSchool, #password, #repeatedPassword {
	padding-left:2px;
}

#firstname, #lastname, #accountAnswer, #projectCode {
	padding-left:2px;
}

.regTable {
	width:450px;
	margin:0 auto 1em;
}

.regTable tr td {
	width:225px;
	height:2em;
}

.regTable tr td input[type="text"], .regTable tr td input[type="password"] {
	width:225px;
}

#regButtons {
  clear: both;
  text-align:center;
  margin-top:20px;
}
	
#genderFieldDefault {color:#0099FF;}
#birthMonthFieldDefault {color:#0099FF;}
#birthDateFieldDefault {color:#0099FF;}
#reminderQuestionFieldDefault {color:#0099FF;}

.buttonStyle1 {
	clear: both;
	padding: 15px 6px 15px 10px;
}

.hint {
  display:none;
  position: absolute;
  /*right: -180px;
  width: 175px;
  margin-top: -2px;*/
  padding: .25em .5em;
  color:#FFFFFF;
  font-size: .9em;
  line-height:130%;
  background: #4e94a2;
  max-width:200px;
}

.hint .hint-pointer {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 10px;
    height: 19px;
    background:url("../images/hint-pointer.png") left top no-repeat;
}

.blueText {
	color: #0000FF;
	padding: 0 0 0 5px;
	}
	
#usernameConfirm {
	width:300px;
	background-image:url(../images/Pixel_Gray.png);	
	background-color:#CCCCC;
	color: #0000FF;
	font-weight:bold;
	padding: 5px 40px;
	margin:0 0 0 5px;
	font-size:1.2em;
	border: 1px solid #333333;

	}
	
#userClassnameConfirm {
	width:200px;
	background-image:url(../images/Pixel_Gray.png);	
	background-color:#CCCCC;
	color: #0000FF;
	font-weight:bold;
	padding: 2px 2px 2px 5px;
	margin:0 0 0 5px;
	font-size:1em;
	border: 1px solid #333333;
	}

#regErrorMessages {
	text-align:center;
	font-size:1.0em;
	color:#FF0000;
	font-weight:bold;
}

.usernameDisplay {
	color: #FF563F;
    font-size: 1.25em;
    font-weight: bold;
}


/* FOR TEACHER CONFIRMATION PAGE/  */

#confirmationButtonTeacher {
	position: relative;
	left: 270px;
	font-size:1.0em;
	}

/* FOR CONFIRMATION PAGES  */

#subtitleConfirm  {
	position: relative;
	text-align:left;
	left: 230px;
	width:670px;
	margin-bottom:35px;
}

#subtitleConfirm ul {
	font-size: .85em;
	text-align:left;
	list-style:none;
	padding-left:0px;
}

#subtitleConfirm li {
	background: transparent url(../images/ListBullet.gif) no-repeat left 4px;
	padding: 0 0 0 25px;
	line-height:150%;
	padding-bottom: 8px;

}

.smallText {
	font-size:.9em;
	}

#confirmationButtons {
	margin: 0 auto;
	text-align:center;
	font-size:.8em;
	line-height:140%;
	border-collapse:collapse;
	width:600px;
	}


#confirmationButtons td {
	vertical-align:top;
	}

#confirmationButtons td.text {
	color:#330033;
	font-weight:bold;
	padding-bottom:30px;
}

#buttonText1 {
	text-align:center;
	font-size:.8em;
	margin: 10px 320px 30px 320px;
}



/* ONLY FOR TEACHER REGISTRATION PAGE/  */

#termsOfUse {
	font-size: .9em;
	}

#curriculumSubjectsBox {
	width: 280px;
	position: absolute;
	display:none;
	line-height: 110%;
	background-color: #4E94A2;
	margin: 0px;
	padding: .5em 1em;
	color: #FFF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-size:.8em;
	text-align:left;
}

#curriculumSubjectsBox div {
	margin-top:.5em;
}
	
#textCurriculumBox {
	font-size:.95em;
	color:#fff;
}

#textCurriculumBox tr td {
	height:1em;
}
	
#closeSubjects {
	color:#c9e2d9;
	float:right;
	margin-top:.25em;
}
	
/* FOR TEACHER USAGE AGREEMENT PAGE */

#useAgreement {
	font-size: 1.2em;
	width:70%;
	padding:10px;
	border: 1px solid #000099;
	bordercolor:#000066;
	background-color:#99FF66;
	margin: 10px auto 15px auto;
	}

#useAgreement p {
	line-height:120%;
	margin-bottom:10px;
	text-align:left;
	}
	
	
/* New Account Picker Screen  (Setup.html) */
		
#boxNewAccountReg {
	background-color:#f3c383;
	background-image: url(../images/Gradient_7b.png);
    background-position:top;
	color:#003300;
	border: 1px solid #006600;
	width:60%;
	margin:10px auto 10px auto;
	padding:10px;
	}
		
#questionPromptReg {
	margin: 20px 0 30px 0;
	ppadding: 0px;
	font-size: 1.3em;
	font-weight: bold;	
		}
		
#newAccountButtons  {
	line-height:120%;
	text-align:center;
}

#newAccountButtons ul {
	list-style:none;
	margin: 0 0 20px 0;
	padding:0px;
	}

#newAccountDetails {
	margin: 30px auto 30px auto;
	font-size:1em;
	text-align:center;
	width:50%;
	padding:0px;
	}
	
#newAccountDetails ul {
	list-style:none;
	margin:0px;
	padding:0px;
	}
	
#newAccountDetails li {
	line-height:160%;
	margin: 0 0 15px 0;
	padding:0px;
	font-size:.8em;
	font-weight:bold;
	}
	
#homelink {
	position:relative;
	text-align:center;
	margin:15px;
		}
		
/* STYLING FOR PREVIEW PROJECT PAGE */

#previewProjectTitle {
	clear:both;
	width:95%;
	text-align: center;
	font-size:2em;
	border: 1px solid #333333;
	background-color:#FFCE8E;
	background-image: url(../images/Gradient_7a.png);
    background-position: bottom;
    background-repeat:repeat-x;
	margin: 20px auto;
	vertical-align:text-bottom;
	padding:10px 0;
		}
		
#boxPreviewProject{
	border: 1px solid #006600;
	width:95%;
	margin:15px auto 30px auto;
	}
	
#previewProjectHeader2 {
	color:#000000;
	text-align:center;
	font-size:1.5em; 
	font-weight:bold;
	margin:25px 50px; 
}

#previewProjectDetails {
	color:#000000;
	text-align:left;
	font-size:.9em;
	margin: 20px 0 0 70px;	
}

#previewProjectDetails ul{
	padding: 0 40px 10px 20px;
}

#previewProjectDetails li{
	line-height:140%;
	padding-bottom:8px;
}

#previewProjectTable {
	border: 1px solid;
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 5px auto 20px;
    width: 96%;
}

#previewProjectTable td {
	background-color: #FFCE8E;
    padding: 0 0.5em;
    text-align: left;
    vertical-align: middle;
}

#previewProjectTable th {
	background-color: #A97E46;
    color: #000000;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-align: left;
}

#previewActionLinks{
	line-height:180%;
	
}

#previewActionLinks a:link, #previewActionLinks a:visited {
	padding:3px;
	color:#0000CC;
	border:1px solid transparent;
	text-decoration:none;
	}

#previewActionLinks a:hover {
	background-color:#FFFF00;
	color:000066;
	border:1px solid #666;
	
}

/* STYLING FOR CREDITS PAGE */

#creditsIntroText {
	margin:20px; 
	line-height:130%;
	}

#creditsTeamTable {
	margin:10px auto 10px auto;
	width:98%;
	border-collapse:collapse;
	border-top:1px solid #666666;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid #666666;
	text-align:left;
}

#creditsTeamTable th {
	padding:5px 10px;
	background-color:#000066;
    color:#FFFFFF;
    font-size:1.4em;
	font-weight:bold;
	font-variant:small-caps; 
	vertical-align:top;
}

#creditsTeamTable td {
	padding: 10px;
	border:1px solid #333333;
	background-image: url(../images/textureUltraLightBlue.png); 
    background-position: top;	
    background-repeat: repeat;
    vertical-align:top;
		}

.creditCategory {
	font-style:italic; 
	color:#000033;
	font-size:.9em;
	width:100px; 
}

 #creditsTeamTable dl {
	line-height:140%;
	margin:0;
	padding:0;
 }
 
 #creditsTeamTable dt {
	float:left; 
	width:180px;
	font-weight:bold;
	font-size:.9em;
	margin-left:10px; 
	}

#creditsTeamTable dd {
	font-weight:normal;
	color:#333333;
	font-size:.8em;
	}

#creditsTeamTable .email {
	color:green;
	margin-left:25px;
}
	
.alumnaeHeader {
	margin: 10px 10px 0 10px;
	font-size:.8em;
	font-variant:small-caps; 
	color:#333333;
	}
	
.alumnaeNames {
	margin: 5px 10px 0 10px;
	font-size:.9em;
	color:#000000;
	font-weight:bold;
	}

 #creditsTeamTable .secondaryDL dt {
 	width:220px;
	}

#createBrandNewAccountButton {
 	color:#000;
 	font-size:1.2em;
	font-weight:bold;
	border-top:1px solid #666666;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid #666666;
	padding:4px 15px;
	margin:0 10px;
	background-image: url(../images/WISE-Secondary-Banner-Gradient.png);
	background-position: top;
	text-decoration:none;
  	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	cursor:pointer;
}

#createBrandNewAccountButton:hover {
 	background-image:none;
 	background-color:#FFFF00;
 	cursor:pointer;
}

.createAccountButton {
 	color:#000;
 	font-size:1.2em;
	font-weight:bold;
	border-top:1px solid #666666;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid #666666;
	padding:4px 15px;
	margin:0 10px;
	background-image: url(../images/WISE-Secondary-Banner-Gradient.png);
	background-position: top;
	text-decoration:none;
  	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	cursor:pointer;
}

.createAccountButton:hover {
 	background-image:none;
 	background-color:#FFFF00;
 	cursor:pointer;
}