/** Styles for global vle tools and elements **/
p.info {
	font-size: 0.9em;
	margin: 0 0.5em 0.5em;
	color: #745A33;
}

input[type="text"], input[type="password"], textarea {
	margin: .25em;
	padding: 0.25em;
    font-size: 0.9em;
    border:1px solid #cccccc;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, Tahoma, sans-serif;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border-color: #86bbb3;
}

input[type="submit"],input[type="button"] {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #F9F9F9;
	cursor: pointer;
	padding: .25em .5em;
	border: 1px solid #aaaaaa;
	background: #eeeeee url(../images/ui/ui-bg_highlight-hard_100_eeeeee_1x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #444444;
	font-size: .85em;
	font-weight:bold;
	margin: .1em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: visible;
	line-height:1.2em;
}

input[type="submit"]:hover,input[type="button"]:hover {
	-moz-box-shadow:0 0 1px #aaaaaa;
	-webkit-box-shadow:0 0 1px #aaaaaa;
	box-shadow:0 0 1px #aaaaaa;
	border: 1px solid #888888;
	background: #eeeeee url(../images/ui/ui-bg_highlight-hard_100_eeeeee_1x100.png) 50% 50% repeat-x;
	color: #222222;
}

input[type="submit"]:active,input[type="button"]:active {
	border: 1px solid #666666;
	background: #555555 url(../images/ui/ui-bg_flat_50_555555_40x100.png) 50% 50% repeat-x;
	color: #ffffff;
}

input[type="submit"][disabled="disabled"],input[type="button"][disabled="disabled"] {
	color: #999999;
	background: #F4F4F4;
	border-color: #CCCCCC;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	cursor:default;
}

table.wisetable {
	border-collapse: collapse;
	margin: .5em auto;
	border: 0 none;
	text-align: center;
}

table.wisetable th {
	border-bottom: 2px solid #777;
	color: #444;
	font-weight: bold;
	padding: .25em .5em;
	text-align: center;
	vertical-align:middle;
}

table.wisetable td {
	border: 1px solid #DDD;
	text-align: center;
	vertical-align: middle;
	padding: .5em;
	font-size: 0.9em;
}

table.wisetable td.emph {
	color: #745A33;
}

.pValue {
	width: 40px;
	float: right;
}

.ui-progressbar.progress {
	margin: 0 40px 0 5px;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	height: 18px;
	line-height: 20px;
}

.progress .ui-progressbar-value {
	border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
}

/* System Messages */

#vle_messages {
	
}
							
#vle_messages .message  {
	padding:.25em .5em;
	border-bottom:1px solid #777777;
	text-align: center;
	/*color:#EEEEEE;*/
	color:#CCCCCC;
	font-size:.8em;
	font-weight:bold;
	position:relative;
	background: none repeat scroll 0 0 #333333;
	/*background:url("../images/message_bg.png") repeat scroll center center #2e2e2e;*/
}

#vle_messages .message span.content {
	padding:0 20px;
}

#vle_messages .message span.content a {
	font-weight:bold;
	color:#FFFFFF;
}

#vle_messages .message a.hide {
	width:16px;
	height:16px;
	line-height:1em;
	position:absolute;
	right:2px;
	text-decoration:none;
	background:url("../images/dismiss.png") no-repeat scroll center 0 transparent;
}

#vle_messages .message a.hide:hover {
	background:url("../images/dismiss.png") no-repeat scroll center -18px transparent;
}

/** Tooltip/Help Content **/

.tooltip {
	cursor:pointer;
}

img.tooltip {
	vertical-align:top;
	margin:0 .1em;
}

/** Dialog and Content Styles **/
.no-title .ui-dialog-titlebar {
	display: none;
}

.dialogContent {
	background: #FFFFFF;
	padding: .5em;
	font-size: .9em;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}

.dialogSection {
	padding: .5em;
	line-height: 1.25em;
}

.dialogTextInput {
	margin-top: .5em;
	color: #444444;
}

.sectionHead {
	font-weight: bold;
	font-size: 1em;
	padding: 0.5em 0.5em 0.25em;
	border-bottom: 1px solid #999999;
}

.sectionContent {
	margin: 1em;
}

.sectionContent ol {
	font-size: .9em;
	list-style-type: decimal;
}

.sectionContent li {
	margin-left: 1.5em;
	margin-bottom: .5em;
}

.sectionContent h5,.sectionContent div {
	margin: .5em 0;
	font-size: .9em;
	line-height:1.2em;
}

.sectionContent p {
	margin: .5em 0;
}

.inactive {
	color: #555;
}

.sectionContent td,.sectionContent th {
	padding: .5em 0;
}

.sectionContent th {
	font-weight: bold;
}

.panelHeader {
	border-bottom: 1px solid #D8C6B3;
	color: #745A33;
	font-family: Trebuchet MS;
	font-size: 1.3em;
	font-weight: bold;
	/*margin: 0 0.75em;*/
	padding: 0.5em .25em 0.25em;
}

.infoContent .panelHeader {
	margin: 0 0 .5em;
	padding: 0 0 .25em 0;
	color: #F97F6E;
}

.panelContent {
	padding: 1em;
}

.contentPanel .panelContent {
	min-height: 350px;
}

#msgDiv {
	color: #FF563F;
	margin: .5em;
}

/* Add an Idea Dialog Form */
#addAnIdeaForm {
	font-size:.9em;
}

#addAnIdeaForm > div  {
    padding: 0.25em;
}

#addAnIdeaForm div.text {
	padding:0 .25em;
}

#addAnIdeaForm div.attribute div {
	line-height:24px;
}

#addAnIdeaForm div.attribute.icon div img {
	height:24px;
	width:24px;
}

#addAnIdeaForm div.attributeOther {
	display:none;
	margin-left:.5em;
}

#addAnIdeaForm div.tags input, #addAnIdeaForm div.icon input {
	margin:0 .5em 0 .75em;
}

#addAnIdeaForm select {
	vertical-align:bottom;
}

#addAnIdeaForm .attributeOther {
	display:none;
}

/* STUDENT: SHOW ALL WORK/FLAGGED WORK */
.nodeType {
	color: #777777;
	font-weight: normal;
	margin: 0 0.25em;
}

#showallwork .stepWork,#showflaggedwork .stepWork {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 0 2px #CCCCCC;
	margin: 0.75em 0.25em;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #f5f5f5) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
	/* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #f5f5f55 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
		endColorstr='#f5f5f5', GradientType=0 ); /* IE6-9 */
}

#showallwork .stepWork p.info {
	color: #777777;
}

#showWorkContainer {
	background-color: #FFF;
	margin: 0 auto;
	text-align: left;
	overflow: auto;
	padding: .5em;
}

#showallwork .activityHeader {
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em 0 .5em;
	padding: 0.5em;
	text-decoration: underline;
}

#showallwork .sectionHead,#showflaggedwork .sectionHead {
	margin: 0 0.5em;
	padding: 0.5em 0 0.25em;
	border: 0 none;
}

#showallwork .sectionContent,#showflaggedwork .sectionContent {
	margin: .5em 1em;
}

#showallwork .showallLatestWork,#showflaggedwork .showallLatestWork {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	margin: 0.5em 0;
	padding: 0.5em;
}

#showallwork .teacherFeedback td {
	color: #745A33;
	font-weight: bold;
}

#showallwork .teacherFeedback .teachermsg1,#showallwork .teacherFeedback .teachermsg2
	{
	
}

#showallwork .teacherFeedback .teachermsg3 {
	
}

#showallwork .scoreValue {
	color: #19253d;
	font-weight: bold;
	font-size: .9em;
}

#showallwork .showallLatest {
	font-weight: bold;
	color: #745A33;
}

#showallwork .lastVisit {
	float: right;
	margin: 0;
}

#showallwork .newAnnotation {
	display: inline;
	color: #FF563F;
}

#showflaggedwork #chooseStep {
	background-color: #EEEEEE;
	border-bottom: 1px solid #CCCCCC;
	font-weight: bold;
	margin: -0.5em -0.5em 0;
	padding: 0.25em 0.5em;
}


/** HINTS DISPLAY **/
.hintText p {
	margin: 0 0 0.5em;
}

.hintText p:last-child {
	margin-bottom:0;
}

/** div to dispaly message in when a node is locked **/
#disabledNodeMessageDiv {
color:red;
	font-size:2em;
	font-weight:bold;
	padding:20px;
	position:fixed;
	top:50%;		
}
