<h3>{{studentGradingController.userName}}</h3>
<div ng-repeat='nodeId in studentGradingController.nodeIds' ng-show='studentGradingController.showNodeIdForStudent(nodeId)'>
    <hr style='height: 1px; background-color: black'/>
    <div style='margin-left: 20px'><h4>{{studentGradingController.getNodePositionAndTitleByNodeId(nodeId)}}</h4></div>
    <table border="1" style='width: 100%'>
        <tr ng-repeat='component in studentGradingController.getComponentsByNodeId(nodeId)'>
            <td>
                <component ng-if='component.showPreviousWorkNodeId != null && component.showPreviousWorkComponentId != null' nodeid='{{component.showPreviousWorkNodeId}}' componentid='{{component.showPreviousWorkComponentId}}' componentstate='{{studentGradingController.getLatestComponentStateByWorkgroupIdAndNodeIdAndComponentId(studentGradingController.workgroupId, component.showPreviousWorkNodeId, component.showPreviousWorkComponentId)}}' workgroupid='{{studentGradingController.workgroupId}}' teacherworkgroupid='{{studentGradingController.teacherWorkgroupId}}' mode='grading'></component>
                <component ng-if='component.showPreviousWorkNodeId == null || component.showPreviousWorkComponentId == null' nodeid='{{nodeId}}' componentid='{{component.id}}' componentstate='{{studentGradingController.getLatestComponentStateByWorkgroupIdAndNodeIdAndComponentId(studentGradingController.workgroupId, nodeId, component.id)}}' workgroupid='{{studentGradingController.workgroupId}}' teacherworkgroupid='{{studentGradingController.teacherWorkgroupId}}' mode='grading'></component>
            </td>
        </tr>
    </table>
</div>