{{studentGradingController.title}}
<br/>
User Name: {{studentGradingController.userName}}
<br/>
WorkgroupId: {{studentGradingController.workgroupId}}
<br/>
<div ng-repeat='nodeId in studentGradingController.nodeIds' ng-show='studentGradingController.showNodeIdForStudent(nodeId)'>
    <div>{{studentGradingController.getNodeTitleByNodeId(nodeId)}}</div>
    <div ng-repeat='componentState in studentGradingController.getComponentStatesByWorkgroupIdAndNodeId(studentGradingController.workgroupId, nodeId)'>
        <table border=1>
            <tr>
                <td><componentstatehtml componentstate={{componentState}} componenttype={{componentState.componentType}}></componentstatehtml></td>
                <!--
                <td>
                Score: <input type='text' size=5 ng-model='studentGradingController.annotationMappings[nodeVisit.id + "-score"].value' ng-change='studentGradingController.scoreChanged(nodeVisit.id)' ng-model-options='{debounce:{"default":1000, "blur":0}}' />
                <br>
                Comment: <textarea rows=4 cols=50 ng-model='studentGradingController.annotationMappings[nodeVisit.id + "-comment"].value' ng-change='studentGradingController.commentChanged(nodeVisit.id)' ng-model-options='{debounce:{"default":2000, "blur":0}}'></textarea>
                </td>
                -->
            </tr>
        </table>
    </div>
</div>