/* Project and run display styles */

.projectTable .tableHeaderMain {
	display:none;
}

.projectTable {
	border:0 none;
	width: 100%;
	border:none;
}

.projectTable .projectRow {
	/*border-bottom:1px solid #999999;*/
}

.projectTable tr.even, .projectTable tr.odd {
	background-color:#FFFFFF;
}

.dataTables_wrapper .bottom {
	margin-top:.5em;
}

.sticky {
	border: 4px solid #FFFFFF;
    box-shadow: 0 2px 2px -2px #444444;
    margin-left: -4px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.projectBox {
	padding:0 .5em;
	position:relative;
	border: 1px solid #DDDDDD;
    margin: 0.5em 0 1px;
    display:block;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 1px 1px 2px #444;
    -webkit-box-shadow: 1px 1px 2px #444;
    -moz-box-shadow: 1px 1px 2px #444;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */

}

.projectBox.rootProject {}

.projectBox.dummy {
	opacity:.6;
}

.projectBox.dummy a {
	color:#444;
}

.projectBox.childProject {
	margin:0 .5em;
	border-top-width: 0;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	background: #F9F9F9;
	display:none;
}

.projectBox.noMatch {
	background:#eeeeee !important;
}

.projectBox.noMatch div, .projectBox.noMatch a, .projectBox.noMatch span {
	color:#999999 !important;
}

.projectBox .childDate {
	color: #765936;
}

.projectBox .projectTools .runCopy {
	color: #555555;
}

.projectBox.childProject ul.actions {
	display:none;
}

.projectBox .setupRun {
	font-weight:bold;
}

.projectBox .setupRun.wisebutton {
	font-size:.9em;
}

.projectBox.childProject .setupRun {
	font-weight:normal;
}

.projectBox.childProject .projectSummary, .projectBox.childProject .detailsLinks {
	display: none;
}

.projectBox .projectSummary {
	padding-top: .5em;
	border-top: 1px solid #DDD;
}

.projectThumb {
	float:left;
	margin-bottom:.5em;
}
[dir=rtl] .projectThumb {
	float:right;
}

.projectThumb img {
	height:75px;
	width:75px;
	border:1px solid #999999;
	vertical-align:top;
}

.summaryInfo {
	margin-left:85px;
	margin-bottom:.5em;
}
[dir=rtl] .summaryInfo {
	margin-left:auto;
	margin-right:85px;
}

.libraryIcon, .sharedIcon {
	/*color:#FF8676;*/
	color:#FF563F;
	font-weight:bold;
	margin-bottom:.5em;
	min-height:1em;
}

.noMatch img {
	opacity:.5;
}

.library .sharedIcon {
	text-align:right;
}

.runTable .sharedIcon {
	font-size: 0.9em;
    margin: 0.25em 0 0;
    text-align: left;
}

.details .sharedIcon {
	text-align:left;
}

.libraryIcon img {
	height:1em;
	vertical-align: top;
}

.childProject .details {
	display:block;
}

.details .sharedIcon {
	font-size:.9em;
	margin-bottom:0;
	margin-top:.5em;
}

.sharedIcon img {
	height: 1.2em;
	vertical-align:top;
}

a.unshare {
	font-weight:normal;
	font-size:.9em;
	margin-right:.5em;
}

.projectSummary div.basicInfo {
	margin:0 0 .5em;
	color: #765936;
	min-height:1em;
}

.projectSummary div.summaryText {
	min-height:2em;
}

.projectOverview .detailsLinks {
	border-top: 1px solid #ddd;
    font-size: 0.9em;
}

.projectOverview .detailsLinks div {
	margin:.5em 0;
}

.projectOverview .details {
	margin-top:.5em;
	display:none;
}

.projectOverview .details p {
	font-size:.9em;
}

.projectOverview span.truncated {
	display:none;
}

.projectOverview .lessonPlan {
	display:none;
}

div.viewLesson {
	font-weight:bold;
	margin-top:.5em;
	font-size:.9em;
}

a.viewLesson:hover {
	text-decoration:underline;
}

.lessonPlan .panelHeader {
	font-family: Arial,Helvetica,Tahoma,sans-serif;
    font-size: 1em;
    margin: 0;
    padding-left: 0.25em;
    padding-top: 0;
}

.lessonPlan .sectionHead {
	border-bottom:0 none;
	text-decoration: underline;
	font-weight: normal;
}

.lessonPlan .sectionContent {
	margin: 0 0.5em;
	font-size:.9em;
}

.lessonPlan .basicInfo {
	color: #765936;
	margin-top: .5em;
}

.lessonPlan .lessonHelp {
	display:none;
}

.runTable, .projectOverview {
	border-collapse:collapse;
	width:100%;
	border:1px solid #999999;
	font-size:.85em;
}

.runTable {
	margin-top:.5em;
}

.runTable td {
	border:1px solid #999999;
	padding:.5em;
	vertical-align:top;
}
	
.runTitle, .projectTitle {
	font-size:1em;
	font-weight:bold;
	margin: 0;
	padding:0;
}

.hidden {
	display:none;
}

.projectOverview {
	border: 0 none;
}

.projectHeader .projectInfo {
	/*max-width: 310px;*/
	float:left;
}
[dir=rtl] .projectHeader .projectInfo {
	/*max-width: 310px;*/
	float:right;
	text-align:right;
}

.projectHeader .projectTools {
	text-align:right;
	float:right;
}
[dir=rtl] .projectHeader .projectTools {
	text-align:left;
	float:left;
}

.projectHeader div {
	margin: .5em 0;
}

.projectBox a.bookmark {
	background: url("../../images/star-empty.png") no-repeat scroll center center transparent;
    display: inline-block;
    height: 15px;
    margin-bottom: -1px;
    margin-right: 2px;
    width: 16px;
}

.projectBox.noMatch a.bookmark {
	opacity:.5;
}

.projectBox .bookmark.true {
	background-image:url("../../images/star-fill.png");
}

ul.actions {
	border-left:0;
	font-size:.9em;
	text-align:right;
	margin-top:.15em;
	color:#AAA;
}
			
ul.actions ul {
	 margin:.75em 0 0 0;
	 padding:0;
}
			
ul.actions li {
	display:inline;
	list-style-type:none;
}

td.projectInfo {
	border:1px solid #CCCCCC;
	padding:0.25em 0.5em;
	font-size:.9em;
	width:20%;
}

.runTitleTable, .projectDetails {
	border-collapse:collapse;
	border:0px;
	color:#444444;
	margin-top:.5em;
	font-size:.95em;
}

.projectDetails {
	font-size:.9em;
}

.projectInfoDisplay {
	padding:0 .25em;
}

.projectInfoDisplay .panelHeader {
	font-size: 1em;
	margin: 0 0 .75em 0;
	padding-top: .25em;
}

.projectInfoDisplay .summaryInfo {
	font-size:.9em;
}

.projectInfoDisplay .summaryText {
	margin-bottom: .5em;
}

.projectInfoDisplay .details p {
	font-size:.9em;
}

.runTitleTable th, .projectDetails th {
	border:0px;
	width:135px;
	text-align:left;
	vertical-align:top;
}
[dir=rtl] .runTitleTable th, [dir=rtl] .projectDetails th {
	text-align:right;
}

.runTitleTable.admin th {
	width:115px;
}

.projectDetails th {
	width:120px;
}

.subHeader {
	margin:.25em 0 .5em;
	font-size:.8em;
	font-weight:bold;
	color:#333;
	text-align:left;
}

.runBox {
	padding:0;
	margin:0;
	text-align:left;
}
[dir=rtl] .runBox {
	text-align:right;
}

.tableHeaderMain {
	background-color: #DFFFE3;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-align: left;
    border: 1px solid #999999;
}
[dir=rtl] .tableHeaderMain {
	text-align: right;
}

.projectTable .tableHeaderMain {
	font-size:.9em;
	border: 1px solid #999999;
}

.tableHeaderMain.archive {
	background-color: #FFE2DF;
}

.runTitleTable .accesscode, .runTitleTable .archivedDate {
	font-weight:bold;
	color:#FF563F;
}

.runTitleTable td, .runTitleTable th {
	border:0 none;
	padding:1px 0;
}

.currentRunInfoTable {
	border: 0 none;
    font-size: .95em;
    vertical-align: middle;
    width:100%;
}

.currentRunInfoTable td {
	border:none;
}
	
.currentRunInfoTable .tableInnerHeader {
    border-bottom: 1px solid #CCCCCC;
    font-weight: bold;
    padding-bottom: 0.25em;
    text-align: center;
}

.currentRunInfoTable .tableInnerData {
	font-size:100%;
	text-align:center;
	padding: .2em;
	margin:0;
	vertical-align:middle;
}

.currentRunInfoTable .tableInnerDataRight {
	text-align:center;
	padding: .2em;
	border-right:0;
	margin:0;
	vertical-align:middle;
}

.currentRunInfoTable .archivedNumberStudents {
	text-align:center;
	padding: 2px 1px;
}

.currentRunInfoTable .manageStudentGroups {
	padding: 0.5em .75em .25em;
	border-top: 1px solid #CCC;
	margin-top: .25em;
}

ul.actionList:first-child {
	padding-top:0;
}

ul.actionList  {
	border-bottom: 1px solid #CCCCCC;
    font-size: 0.95em;
    padding: 0.25em 0;
    text-align: left;
}
[dir=rtl] ul.actionList  {
	text-align: right;
}

ul.actionList:last-child {
	border-bottom:0 none;
	padding-bottom:0;
}
	
	
.actionList li {
	line-height: 1.1em;
    list-style-type: none;
    margin: 0.25em;
}
	
.actionList2 .qaBullet  {
	margin:0 0 0 20px;
}
	
#gradingDialog, #shareDialog, #editRunDialog, #editAnnouncementsDialog, #manageStudentsDialog {
	padding:0;
	overflow-y:hidden;
}

#shareDialog {
	text-align:center;
}


/* STYLES FOR VIEW STUDENTS: POP-UP WINDOWS  */

#errorMessage {
	color:#FF0000;
	padding:0px;
	margin:0px;
	font-size:1.3em;
}

#mainDiv {
	text-align:left;
}

#existingPeriodsList {
	list-style-type:none;
	background-color:#666666;
	border:1px solid silver;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
}

#editRunPeriodsAddPeriodDiv {
	margin: 5px;
}

.buffer {
	height:10px;
}