.manageStudents {
	font-size:.9em;
	min-width:700px;
}

.manageStudents #periodSelect {
	padding:.4em .75em .45em;
}

.manageStudents #periodTabs {
	padding:0;
}

.manageStudents .ui-tabs .ui-tabs-nav {
	padding: 0;
	border: 0 none;
	margin: 0;
}

.manageStudents .ui-tabs .ui-tabs-nav li {
	margin:0;
	padding:0;
	border:0 none;
	background:none;
}

.manageStudents .ui-tabs .ui-tabs-nav li a {
	color:#DADF8B;
	margin:0 .25em;
	padding: 2px 6px;
	font-size:1em;
	font-weight:normal;
}

.manageStudents .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	border:0 none;
	padding:0;
	margin:0;
	background:transparent;
}

.manageStudents .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color:#333;
}

.manageStudents .ui-state-active a.periodChoice, a.periodChoice.checked {
	background-color: #DADF8B;
    color: #333 !important;
	text-decoration: none !important;
	border-radius: 4px;
}

.studentManageHeader {
	border-bottom-width:2px;
}

.studentManageHeader {
	text-align:left;
}
[dir=rtl] .studentManageHeader {
	text-align:right;
}
	
.manageStudents .gradingContent {
	margin-top:0;
	padding:1em;
}

#L3Label {
	color:#0000FF;
	letter-spacing:1px;
	font-variant:small-caps;
	font-size:1.1em;
	margin:0px;
	padding:8px 0 0px 3px;
}

#projectTitleBox {
	margin:5px 0 10px 0;
}
	
#projectTitleBox th {
	border:0px;
	font-size:1.4em;
	font-weight:bold;
	text-align:left;
	vertical-align:text-bottom;
	color:#000066;
	padding:0px;
	margin:0;
	}
	
#projectTitleBox td {
	border:0px;
	font-size:.7em;
	text-align:left;
	vertical-align:text-bottom;
	color:#666666;
	padding:0 0 0 10px;
	margin:0px;
		}
		
#periodHeaderBar {
}	

.manageDataStyle {
	font-weight:bold;
	margin-right:.5em;
}
[dir=rtl] .manageDataStyle {
	margin-right:auto;
	margin-left:.5em;
}

#periodHeaderBar li {
	list-style-type: none;
	display:inline;
}	
	
.periodHeaderStart {
	font-size:.8em;
	font-weight:normal;
	padding:0 25px 0 0 ;
}

.viewStudentsLink {
	font-size:.9em;
	margin: 0 0px 0 25px;
}

#instructionsBar {
	font-size:.7em;
	text-transform:uppercase;
	margin: 12px 5px 8px 8px;
	padding:4px 4px 4px 33px;	
	background-color:#FFCCCC;
	background-image: url(../../images/help.png);
	background-position: 8px center;
	background-repeat:no-repeat;
	text-decoration:none;
	color:#000066;
	}
	
#instructionsBar:hover {
	cursor:pointer;
	background-color:#FFFF00;
}

#instructionsBar .subText{
	color:#666;
	text-transform:none;
	
	}
	
#viewStudentsInstructions {
	margin: -8px 5px 8px 8px;
	padding:0px;
	border:2px solid #FFCCCC;
	}

#viewStudentsInstructions li {
	font-size:.8em;
	margin-bottom:4px;
	list-style-type:circle
		}

/* BEGIN STYLING FOR STUDENT DATA  */

.manageStudentsTable {
	width:100%;
}
	
.manageStudentsTable td {
	width:50%;
}

.workarea {
	display:inline;
}

ul.draglist { 
    position: relative;
	margin:.5em;
    padding:0;
    font-size:.9em;
}

ul.draglist li {
    list-style-type: none;
    padding:.25em;
}

ul.draglist_alt li {
    margin: 1px;
}

.usernameWithinView {
	margin-right:.25em;
	color: #585F0C;
}
[dir=rtl] .usernameWithinView {
	margin-right:auto;
	margin-left:.25em;
}
	
.userLinksBar {
	position:absolute;
	right:1em;
}
[dir=rtl] .userLinksBar {
	right:auto;
	left:1em;
}
	  
.userLinks {
	font-size: .9em;
	font-weight: normal;
	margin: 0 .25em;
	color: #007391 !important;
}

.emptyGroup {
	text-align:center;
}

.workgroupHeader, .grouplessHeader{
	font-weight:bold;
	padding:.5em;
	border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 2px #444;
    -webkit-box-shadow: 1px 1px 2px #444;
    -moz-box-shadow: 1px 1px 2px #444;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* W3C */
}

.grouplessHeader{
	color:#FF563F;
}

.newWorkgroupHeader {
	color:#007391;
}

.emptyGroup {
	color: #745A33;
	border: 1px solid #D1B996;
	margin: .5em;
}
	
li.workgrouplist, li.grouplesslist {
	cursor: move;
	background-color: #F2F5DB;
	border: 1px solid #C5CD61;
	margin: .5em;
}

li.workgrouplist a:active, li.workgrouplist a:visited{
    list-style-type:none;
    color: #009900;
    text-decoration:underline;  
}

li.workgrouplist a:hover, li.grouplesslist a:hover {
	text-decoration:underline;
}

li.grouplesslist {
	background-color: #ffefed;
	border: 1px solid #f7a391;
}

li.grouplesslist .usernameWithinView {
	color:#E81B00;
}

li.changed {
	color:#007391;
	background-color:#e1f2ec;
	border-color:#87bcb3;
}

li.changed .usernameWithinView {
	color:#007391;
}

li.clone {
	background-color: #F4F4F4;
	border-color: #CCC;
}

li.clone .usernameWithinView {
	color: #999;
}

li.clone .userLinks {
	display:none;
}

.placeholder {
	background-color:#ddd;
}

.createPdfLink {
	font-size:.9em;
	position:absolute;
	right: 10px;
	color:#ffffff;
}

li.workgroupHeader a:hover {
	color:#CC99FF;
}

/* STYLING FOR STUDENT INFORMATION BOX */

#studentInfoNameHeader {
	margin:30px 0 10px 0px;
	color:#0000FF;
	letter-spacing:1px;
	font-variant:small-caps;
	font-size:1.6em; 
	font-weight:bold;
}

#studentInfoTable {
	border-collapse:collapse;
	border:3px double #000000;
	margin:10px auto 30px auto;
	font-size:.9em;
	text-align:left;
	vertical-align:top;
	}
	
#studentInfoTable th, #studentInfoTable td {
	padding:10px 15px 10px 10px;
	background-color:#CCFFCC;
	border:1px solid #000000;
		} 
	
#studentInfoTable th { 
	font-weight:normal;
		} 	
#studentInfoTable td { 
	font-weight:bold;
		} 
		
.studentInfoSmallText {
	font-size:.8em;
	color:#333333;
}
	
#printLink {
	margin:0 0 20px 0;
}

#printLinkText {
	font-size:.8em;
	letter-spacing:-.4px;
	vertical-align:text-top;
	}
	
#printLink a:hover{
	background-color:#FFFF00;
	}
		
	
/* STYLING FOR PRINTABLE STUDENT LIST */

#studentPrintableListBox {
	margin:5px 2px; 
	padding: 20px;
	border:1px solid #666666
	}
	
#studentListPeriod {
	font-weight:bold;
	font-size:1.2em;
}

#studentListNames {
	list-style-type:circle;
	margin: 8px 0 20px 15px;
}

#studentListNames li {
	font-weight:normal;
	font-size:.85em;
	color:#333333;
}
