#my_menu {
	margin: 0 auto;
}
   
div.sdmenu {
	width: 190px;
	font-family: Arial, sans-serif;
	font-size: .72em;
	padding-bottom: 10px;
	background: url(../../assets/images/bottomBlue190.png) no-repeat  right bottom;
	color: #fff;
}
div.sdmenu div {
	background: url(../../assets/images/titleBlue.png) repeat-x;
	overflow: hidden;
}

div.sdmenu div.collapsed {
	height: 21px;
	margin-bottom:1px
}
div.sdmenu div span {
	display: block;
	padding: 3px 8px 3px 27px;
	font-weight:400;
	color: white;
	background: url(../../assets/images/expanded.gif) no-repeat 8px center;
	cursor:pointer;
	border-bottom: 1px solid #ddd;
}

div.sdmenu div span:hover {
	color:#FFFF00;
}

div.sdmenu div.collapsed span {
	background-image: url(../../assets/images/collapsed.gif);
}
div.sdmenu div a {
	padding: 3px 4px 3px 8px;
	background: #eee;
	display: block;
	border-bottom: 1px solid #ddd;
	color: #000;
	text-decoration:none;
}
div.sdmenu div a.currentNode {
	background-color: #FF9D1E;
	color:#000;
}

div.sdmenu div a.substep {
	background-color:red;
	padding-left:20px;
	font-style:italic;
	font-size:.9em;
}

div.sdmenu div a:hover {
	color: #996600;
	cursor:pointer;
}