.prompt {
  width: 100%;
}

.background {
  max-width: 100%;
  width: 360px;
}

button {
  margin-left: 10px;
  margin-right: 10px;
}

.canvas-dimension {
  width: 20%;
  margin-top: 20px;
  margin-right: 20px;
}

.node-labels {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-nodes {
  margin-top: 20px;
  margin-bottom: 20px;
}

.node-row {
  width: 100%;
}

.node-label {
  width: 30%;
  margin-right: 20px;
}

.node-file-name {
  width: 30%;
}

.node-dimension {
  width: 6%;
  margin-left: 10px;
  margin-right: 10px;
}

.link-row {
  width: 100%;
}

.link-label {
  width: 30%;
  margin-right: 20px;
}

.link-color {
  width: 30%;
}

.starter-concept-map {
  margin-top: 20px;
  margin-bottom: 20px;
}