.prompt-input-container {
  width: 100%;
}

.background-input-container {
  width: 90%;
}

.authoring-button {
  margin-left: 10px;
  margin-right: 10px;
}

.canvas-dimension-input-container {
  width: 20%;
  margin-top: 20px;
  margin-right: 20px;
}

.show-node-labels-checkbox-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-nodes-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.node-row {
  width: 100%;
}

.node-label-container {
  width: 30%;
  margin-right: 20px;
}

.node-file-name-container {
  width: 30%;
}

.node-dimension-container {
  width: 6%;
  margin-left: 10px;
  margin-right: 10px;
}

.node-authoring-button {
  margin-left: 10px;
  margin-right: 10px;
}

.link-row {
  width: 100%;
}

.link-label-container {
  width: 30%;
  margin-right: 20px;
}

.link-color-container {
  width: 30%;
}

.starter-concept-map-buttons-container {
  margin-top: 20px;
  margin-bottom: 20px;
}