<mat-card class="standalone__content mat-elevation-z4 center">
  <mat-card-content>
    <form role="form"
          fxLayout="column"
          (submit)="submit()"
          [formGroup]="answerSecurityQuestionFormGroup">
      <h2 class="standalone__title accent" i18n>Answer Security Question</h2>
      <p>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>{{question}}</mat-label>
          <input matInput
                 id="answer"
                 name="answer"
                 formControlName="answer"
                 type="password"
                 autofocus
                 required />
          <mat-error *ngIf="answerSecurityQuestionFormGroup.controls['answer'].hasError('required')" i18n>Answer required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <button mat-flat-button
                color="primary"
                [disabled]="!answerSecurityQuestionFormGroup.valid || processing"
                type="submit"
                fxFlex>
          <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
          <ng-container i18n>Submit</ng-container>
        </button>
      </p>
    </form>
    <ng-container *ngIf="message" >
      <p class="warn">{{message}}</p>
    </ng-container>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="center">
    <p>
      <a routerLink="/contact" i18n>Contact WISE</a>
    </p>
    <p>
      <a routerLink="/join" i18n>Create New Account</a>
    </p>
  </mat-card-actions>
</mat-card>
