<mat-card class="standalone__content mat-elevation-z4 center">
  <mat-card-content>
    <form role="form"
          fxLayout="column"
          (submit)="submit()"
          [formGroup]="answerSecurityQuestionFormGroup">
      <h2 class="standalone__title accent">Answer Security Question</h2>
      <p>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>{{question}}</mat-label>
          <input matInput
                 id="answer"
                 name="answer"
                 formControlName="answer"
                 type="password"
                 autofocus
                 required />
          <mat-error *ngIf="answerSecurityQuestionFormGroup.controls['answer'].hasError('required')">Answer Required</mat-error>
        </mat-form-field>
      </p>
      <button mat-flat-button
              color="primary"
              [disabled]="!answerSecurityQuestionFormGroup.valid || processing"
              type="submit">
        <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
        <span>Submit</span>
      </button>
    </form>
    <br/>
    <div class="message-div">
      <div class="error-message">{{message}}</div>
    </div>
  </mat-card-content>
</mat-card>
