@import '~style/abstracts/functions', '~style/abstracts/variables', '~style/abstracts/mixins';

ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

li {
  &:not(:last-of-type) {
    margin-bottom: 4px;
  }

  a {
    max-width: 660px;
    vertical-align: middle;
    
    @media (min-width: breakpoint('md.min')) {
      max-width: 300px;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    @media (min-width: breakpoint('lg.min')) {
      max-width: 360px;
    }
  }

  span {
    @media (max-width: breakpoint('sm.max')) {
      display: inline-block;
    }
  }
}

.content-block {
  h3 {
    margin-bottom: 0;
  }
}

.content-block__title {
  padding-bottom: 8px;
  margin-top: -8px;
}
