<div class="login mat-app-background" fxLayout="column" fxLayoutAlign="start center">
  <mat-card class="login__form">
    <mat-card-content>
      <form role="form" (submit)="saveChanges()" [formGroup]="changePasswordFormGroup">
        <h2 class="accent center">Edit Passwords</h2>
        <p>
          <mat-form-field fxFlex>
            <input matInput
                   id="oldPassword"
                   type="password"
                   name="oldPassword"
                   placeholder="Old Password"
                   formControlName="oldPassword"
                   required />
            <mat-error *ngIf="changePasswordFormGroup.controls['oldPassword'].hasError('required')">Old Password Required</mat-error>
          </mat-form-field>
        </p>
        <div formGroupName="newPasswordFormGroup">
          <p>
            <mat-form-field fxFlex>
              <input matInput
                     id="newPassword"
                     type="password"
                     name="newPassword"
                     placeholder="New Password"
                     formControlName="newPassword"
                     required />
              <mat-error *ngIf="newPasswordFormGroup.controls['newPassword'].hasError('required')">New Password Required</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field fxFlex>
              <input matInput
                     id="confirmNewPassword"
                     type="password"
                     name="confirmNewPassword"
                     placeholder="Confirm New Password"
                     formControlName="confirmNewPassword"
                     required />
              <mat-error *ngIf="newPasswordFormGroup.controls['confirmNewPassword'].hasError('required')">Confirm Password Required</mat-error>
              <mat-error *ngIf="newPasswordFormGroup.hasError('passwordDoesNotMatch')">Password does not match</mat-error>
            </mat-form-field>
          </p>
        </div>
        <button fxFlex mat-raised-button color="primary" type="submit"
                [disabled]="!changePasswordFormGroup.valid">
          Save Changes
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

