<form #changePasswordForm="ngForm"
      role="form"
      (submit)="saveChanges()"
      [formGroup]="changePasswordFormGroup">
  <div fxLayout="column" fxLayoutAlign="start">
    <p>
      <mat-form-field fxFlex appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput
               id="oldPassword"
               type="password"
               name="oldPassword"
               formControlName="oldPassword"
               required />
        <mat-error *ngIf="changePasswordFormGroup.controls['oldPassword'].hasError('required')">Current Password required</mat-error>
        <mat-error *ngIf="changePasswordFormGroup.controls['oldPassword'].hasError('incorrectPassword')">Current Password is incorrect</mat-error>
      </mat-form-field>
    </p>
    <div formGroupName="newPasswordFormGroup">
      <p>
        <mat-form-field fxFlex appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput
                 id="newPassword"
                 type="password"
                 name="newPassword"
                 formControlName="newPassword"
                 required />
          <mat-error *ngIf="newPasswordFormGroup.controls['newPassword'].hasError('required')">New Password required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field fxFlex appearance="fill">
          <mat-label>Confirm New Password</mat-label>
          <input matInput
                 id="confirmNewPassword"
                 type="password"
                 name="confirmNewPassword"
                 formControlName="confirmNewPassword"
                 required />
          <mat-error *ngIf="newPasswordFormGroup.controls['confirmNewPassword'].hasError('required')">Confirm Password required</mat-error>
          <mat-error *ngIf="newPasswordFormGroup.hasError('passwordDoesNotMatch')">Passwords do not match</mat-error>
        </mat-form-field>
      </p>
    </div>
    <div>
      <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!changePasswordFormGroup.valid || isSaving"
              fxFlex
              fxFlex.gt-xs="0 0 auto">
        Change Password
        <mat-progress-bar mode="indeterminate" *ngIf="isSaving"></mat-progress-bar>
      </button>
    </div>
  </div>
</form>

