<link href='wise5/vle/portfolio/animation.css' rel="stylesheet"></link>
<div class={{vleController.layoutState}} ng-controller='PortfolioController as portfolioController'>
	   {{portfolioController.log()}}
	   <input type='button' value='Portfolio' ng-click='portfolioController.showPortfolio()'></input>
        <input type='button' value='My Work' ng-click='portfolioController.showMyWork()'></input>
	   <div class="animate-switch-container" ng-switch on='portfolioController.viewType'>
	       <div class="animate-switch" ng-switch-when='portfolio'>
	        <h3>My Portfolio</h3>
			
			Items:<br/>
			<ul id="portfolioItems" 
			    ui-sortable="sortableOptions" 
			    ng-model="portfolioController.portfolio.items" 
			    ng-show="portfolioController.portfolio.items.length" ng-cloak>
	            <li ng-repeat="item in portfolioController.portfolio.items track by $index"
	                data-drag='true'
                    data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                    jqyoui-draggable="{animate:true, placeholder: 'keep', onStart:'portfolioController.portfolioItemDragStartCallback(item)'}"
                 >
	                <div class="panel panel-default">
	                    <div class="panel-body">
	                        <span class="portfolio-index"></span>
	                        <span class="portfolio-item">{{item}} <span class="fa fa-search-plus fa-flip-horizontal"></span></span>
	                        <input type='button' value='X' ng-click='portfolioController.deleteItem(item)'></input>
	                    </div>
	                </div>
	            </li>
	        </ul>
			
			<hr/>
			Deleted Items:<br/>
			<div ng-repeat='deletedItem in portfolioController.portfolio.deletedItems'>
	            {{deletedItem}}
	        </div>
        </div>
        <div class="animate-switch" ng-switch-when='myWork'>
            <select ng-model="selection" ng-options="applicationNode.title for applicationNode in portfolioController.applicationNodes">
            </select>
            <div 
            data-drag='true'
            data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
            jqyoui-draggable="{animate:true, placeholder: 'keep', onStart:'portfolioController.myWorkDragStartCallback(selection.id, selection.type)'}"
                 ng-bind-html='portfolioController.showStudentWorkByNodeId(selection.id) | sanitizeHTML'>
            </div>
        </div>
</div>
