
<link href='wise5/vle/portfolio/animation.css' rel="stylesheet"></link>
<style>
.currentView {
    background-color: yellow;
}

.button {
    -moz-appearance: button;
    /* Firefox */
    -webkit-appearance: button;
    /* Safari and Chrome */
    padding: 10px;
    margin: 10px;
    width: 70px;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 90%;
    height: 100px;
    text-align: center;
    padding-top: 50px;
    margin: 10px;
    bottom: 0px;
}

.drop-box:hover {
    cursor: pointer;
}

.dragover {
    border: 5px dashed blue;
}

.studentAssets {
    text-align: center;
    height: auto;
    width: auto;
    max-height: 400px;
    max-width: 400px;
    border: 5px solid #DDD;
    overflow:auto;
}

.studentAsset {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    padding: 10px;
    margin: 5px;
    border: 3px solid #DDD;
}
.studentAsset:hover {
    cursor: pointer;
}

.studentAssetParent {
    word-wrap: break-word;
    width: auto;
    max-width: 130px;
}

.studentAssetOverlay {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}

.studentAssetRemoveImage {
    float: left;
}

.studentAssetRemoveImage, .studentAssetOverlay:hover {
    cursor:pointer;
}

.studentAssetName {
}
</style>
<div class={{vleController.layoutState}} ng-controller='PortfolioController as portfolioController'>
	   <input type='button' value='Portfolio' ng-click='portfolioController.showView("portfolio")' ng-class='{currentView: portfolioController.currentView === "portfolio"}'></input>
       <input type='button' value='My Work' ng-click='portfolioController.showView("myWork")' ng-class='{currentView: portfolioController.currentView === "myWork"}'></input>
       <input type='button' value='My Files' ng-click='portfolioController.showView("myFiles")' ng-class='{currentView: portfolioController.currentView === "myFiles"}'></input>
	   <div class="animate-switch-container" ng-switch on='portfolioController.currentView'>
	       <div class="animate-switch" ng-switch-when='portfolio'>
	        <h3>My Portfolio</h3>
			
			Items:<br/>
			<ul id="portfolioItems" 
			    ui-sortable="sortableOptions" 
			    ng-model="portfolioController.portfolio.items" 
			    ng-show="portfolioController.portfolio.items.length" ng-cloak>
	            <li ng-repeat="item in portfolioController.portfolio.items track by $index"
	                data-drag='true'
                    data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                    jqyoui-draggable="{animate:true, placeholder: 'keep', onStart:'portfolioController.portfolioItemDragStartCallback(item)'}" >
	                <div class="panel panel-default">
	                    <div class="panel-body">
	                        <span class="portfolio-index"></span>
	                        <span class="portfolio-item">{{item}} <span class="fa fa-search-plus fa-flip-horizontal"></span></span>
	                        <input type='button' value='X' ng-click='portfolioController.deleteItem(item)'></input>
	                    </div>
	                </div>
	            </li>
	        </ul>
			
			<hr/>
			Deleted Items:<br/>
			<div ng-repeat='deletedItem in portfolioController.portfolio.deletedItems'>
	            {{deletedItem}}
	        </div>
        </div>
        <div class="animate-switch" ng-switch-when='myWork'>
            <select ng-model="selection" ng-options="applicationNode.title for applicationNode in portfolioController.applicationNodes">
            </select>
            <div 
            data-drag='true'
            data-jqyoui-options="{revert: 'invalid', helper: 'clone', stack: 'div' }"
            jqyoui-draggable="{animate:true, placeholder: 'keep', onStart:'portfolioController.myWorkDragStartCallback(selection.id, selection.type)'}"
                 ng-bind-html='portfolioController.showStudentWorkByNodeId(selection.id, selection.type) | sanitizeHTML'>
            </div>
        </div>
		<div class="animate-switch" ng-switch-when='myFiles'>
            You are using {{portfolioController.appropriateSizeText(portfolioController.studentAssets.totalSize)}} out of {{portfolioController.appropriateSizeText(portfolioController.studentAssets.totalSizeMax)}} ({{portfolioController.studentAssets.usagePercentage}}%)
		    <div class='studentAssets'>
		        <div ng-repeat="studentAsset in portfolioController.studentAssets" class='studentAssetParent'>
		        <img ng-src='{{studentAsset.iconURL}}'
		        class='studentAsset'
		        title='Drag and drop this item to use in your project!'
		        data-drag='true'
                data-jqyoui-options="{revert: 'invalid', helper: 'clone', stack: 'div' }"
                jqyoui-draggable="{animate:true, placeholder: 'keep', onStart:'portfolioController.studentAssetDragStartCallback(studentAsset)'}">
                </img>
                <img ng-click='portfolioController.deleteStudentAsset(studentAsset)' src='wise5/vle/portfolio/trash.png' class='studentAssetRemoveImage'></img>
                <span ng-show='{{studentAsset.type === "audio"}}' ng-audio='{{studentAsset.url}}' volume='0.5'><img class='studentAssetOverlay' src='wise5/vle/portfolio/play.png'></img></span>
                <!-- <span class='studentAssetname'>{{studentAsset.name}}</span> -->
                </div>
		    </div>
			<div ng-file-drop ng-file-select ng-file-change="portfolioController.upload($files)" class="drop-box"
					drag-over-class="dragover" ng-multiple="true" allow-dir="false"
					accept="image/*,application/pdf">Drop images or files here or click to upload!</div>
		</div>
	</div>
</div>
			