li a {display:inline-block;}
li a {display:block;}

#contentFooter li {
	display:inline;
}

#contentFooter li a {
	display: inline !important;
    zoom: 1;
    overflow: hidden;
}

#newsContent {
	height:228px;
}
