/* Styles for TEACHER HOME PAGE:  Top Navigation Bar */

/* NORMAL CSS FOR THE NAVIGATION L2 BAR */

.navigationSubHeader1 {
	color: #555555;
    float: right;
    font-size: 0.9em;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0;
}

/* SETTING UP A RUN */

#setUpRunBox {
	/*height: 360px;
	border: 1px solid #666666;
	margin: 15px auto 15px auto;
	padding: 15px;*/
}

#setUpRunBox .summaryInfo {
	margin-left:0;
}

#setUpRunBox .projectSummary {
	margin:1em;
	padding:.5em;
	font-size:.9em;
}

#setUpRunBox div.projectTitle {
	color:#007391;
}

#setUpRunBox .projectSummary div {
	margin: 0 0 .5em;
}

#setUpRunBox .projectSummary p {
	margin:0;
}

.cleaner {
	height: 240px;
	border: 1px solid #666666;
	margin: 15px auto 15px auto;
	padding: 15px;
	width: 928px;
}

#setUpRunBox li {
	padding-bottom: 8px;
}

#stepNumber {
	font-size: 1.1em;
	font-weight: bold;
}

.blueText {
	color: #0000FF;
}

#setupProjectTableContainer {
	margin: 1em;
}

#periodBoxes {
	margin-left:1em;
}

#periodBoxes input {
	
} 

#periodBoxes label{
	margin-left:.5em;
}

#periodBoxes label:hover {
	cursor:pointer;
}
	
#manualperiodsinput {
	font-size: 1.1em;
	margin: 0 0 -.5em 0;
}

/* Set Up Run Confirmation Page  */
#projectRunConfirmTable {
	border-collapse: collapse;
	font-size: .9em;
	margin: .5em auto;
	width:auto;
}

#projectRunConfirmTable td {
	vertical-align: text-top;
	padding:.3em;
}

/* STYLES FOR POP-UP WINDOWS  */

.dialogSection.formSection {
	text-align:center;
	margin-top:1em;
}

.dialogSection.formSection div {
	margin:.5em 0;
}

/* STUDENT ADD A PROJECT  */

ol#addProjectInstructions li {
	margin:.5em 2em;
	list-style-type:decimal;
}

#projectcode {
	vertical-align: center;
	font-size: 1.2em;
	border-top: 1px solid #666666;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-left: 1px solid #666666;
	margin: 30px 10px 0 6px;
	padding: 3px;
}

#teamSelect {
	width: 550px;
	background-color: #99CC99;
	border-top: 1px solid #666666;
	border-right: 2px outset #CCCCCC;
	border-bottom: 2px outset #CCCCCC;
	border-left: 1px solid #666666;
	text-align: center;
	padding: 25px;
}

.teamMargin1 {
	margin: 80px auto 15px auto;
}

.teamMargin2 {
	margin: 30px auto;
}

#teamSelectHeader {
	font-size: 1.2em;
	font-weight: bold;
	width: 400px;
	padding: 0px;
	margin: 0 auto;
}

#teamSelectChoices ul {
	margin: 35px auto 0 auto;
	text-align: center;
	padding-left: 0;
}

#teamSelectChoices li {
	list-style-type: none;
	margin: 0px;
	padding: 0 0 20px 0;
}

#teamSelectChoices a:link,#teamSelectChoices a:visited {
	display: block;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #3333FF;
	color: #FFFFFF;
	margin: 0 140px;
	padding: 3px 10px;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

#teamSelectChoices a:hover {
	display: block;
	text-decoration: none;
	color: #000066;
	background-color: #ffff33;
}

#multiUserSignIn {
	text-align: left;
	margin: 25px auto 25px auto;
	border-collapse: collapse;
	border: 1px solid #000000;
}

#multiUserSignIn td {
	border: 0px solid #000000;
}

#multiUserSignIn input {
	padding: 3px;
}

#multiUserSeparatorRow {
	border: 1px solid #000000;
	background-color: #999999;
	height: 7px;
}

.multiUserAbsentRow {
	padding-top: 0px;
}

.multiUserAbsentRow td {
	padding-top: 0px;
}

#teamSignMessages {
	width: 120px;
	text-align: center;
	font-style: italic;
}

.errorMsgStyle {
	text-align: center;
	font-size: .9em;
	font-weight: bold;
	font-style: italic;
	color: #990000;
}

#finalRunProjectButton {
	margin:1em;
	text-align:center;
}

#finalRunProjectButton input {
	margin: 0 auto;
	font-size: 1em;
	background-color: transparent;
	border:0 none;
	padding:0;
}

/* LOST USERNAME & PASSWORD PAGES  */
#lostSubHeader {
	padding: 30px 0 20px 0;
	letter-spacing: 1px;
	font-size: 1.5em;
	font-weight: bold;
}

/* STYLES FOR MESSAGE CENTER   (presented as part of the Management area)*/

.panelStyleMessage  {
	margin-top:0px;
	min-height:72px; 
	background-position: top;
	background-repeat:repeat-x;
	border: 1px solid #999;  
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.panelStyleMessage.secondPlus  {
	margin-top:15px;
}

.panelStyleMessage #messageHeader {
    position:relative;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align:left;
	margin: 0px 0px 12px 0px;
	padding: 3px 10px;
	font-size: 1.0em;
	font-weight:bold;
	background-image:url(../images/teacher/teacherSubHeader.png);
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-radius-topleft:4px;
	-webkit-border-radius-topright:4px;
	border-radius-topleft:4px;
	border-radius-topright:4px;
	border-bottom:1px solid #999;              
                            }
                            
.panelStyleMessage #messageContent, .panelStyleMessage #messageContentArchived, .panelStyleMessage #messageContentSent  {
	padding:0 10px 10px 10px;
	font-size:.8em;
	}

.panelStyleMessage a {
	padding:2px 0px;
	color:blue;
	text-decoration:none;
	}
	
.panelStyleMessage a:hover {
	background:#FFFF00;
	}
	
.panelStyleMessage #hideShowLink {
	position:absolute;
	right:10px;
	font-size:.7em;
	}
	
#newMessageCountDiv, #archivedMessageCountDiv, #sentMessageCountDiv {
	font-weight:bold;
}

div.messageDiv {
	margin:.5em 0;
}

div.replyDiv {
	display:none;
}

div#composeMessageFeedbackDiv {
	color:#ff9900;
	font-weight:bold;
}

div.replyFeedbackDiv {
	color:#ff9900;
	font-weight:bold;
}

.messageDisplayTable2 {
	border-collapse:collapse;
	margin:0;
}

.messageDisplayTable2 th, .messageDisplayTable2 td {
	font-size:.8em;
	padding:0px;
	text-align:left;
	vertical-align:top;
}

.messageDisplayTable2 th {
	color:#666;
	font-weight:normal;
	width:60px;
	letter-spacing:-.5px;
}

.messageActionLinks {
	margin:2px 0 0 0px;
	}

#runStatsTable {
	border:2px solid black;
	width:100%;	
}

#runStatsTable tbody td {
	border:1px solid black;
}

#runStatsTable tbody td ul {
	list-style: none;
	padding-left: 0;
}

.existingTagsDiv, .createTagsDiv {
	padding-top:5px;
	padding-bottom:5px;
}

.existingTagsDiv table {
	border-collapse:collapse;
}

.tagMessage {
	color:#800000;
}

.tag {
	color:red;
	padding-top:5px;
	padding-bottom:5px;
}