.thumbnail > img,
.thumbnail a > img {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.form-horizontal .form-group-sm .form-control {
  height: 2.05923077rem;
  padding: 0.38461538rem 0.61538462rem;
  font-size: 0.86rem;
  line-height: 1.5;
  border-radius: 0.15384615rem;
}
.form-horizontal .form-group-lg .form-control {
  height: 2.73942308rem;
  padding: 0.53846154rem 0.76923077rem;
  font-size: 1.25rem;
  line-height: 1.33;
  border-radius: 0.30769231rem;
}
.btn-group-lg > .btn {
  padding: 0.53846154rem 0.76923077rem;
  font-size: 1.25rem;
  line-height: 1.33;
  border-radius: 0.30769231rem;
}
.btn-group-sm > .btn {
  padding: 0.38461538rem 0.61538462rem;
  font-size: 0.86rem;
  line-height: 1.5;
  border-radius: 0.15384615rem;
}
.btn-group-xs > .btn {
  padding: 0.07692308rem 0.38461538rem;
  font-size: 0.86rem;
  line-height: 1.5;
  border-radius: 0.15384615rem;
}
.navbar-form .form-group {
  margin-bottom: 0.4em;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
form .two-fields:before,
form .two-fields:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
form .two-fields:after {
  clear: both;
}
.btn-group-sm > .btn {
  -: ;border-radius: 0.23076923076923078rem;
}
/*--------------------------------------------------
Global Styles for the WISE VLE
--------------------------------------------------*/
/* Links, buttons, & inputs */
a {
  cursor: pointer;
}
a .help,
a .info {
  color: inherit;
}
a,
button {
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
button.link {
  cursor: pointer;
  color: #1c8ca8;
  background: transparent;
  border: 0 none;
  display: inline;
  padding: 0;
  margin: 0;
  text-align: left;
}
button.link:hover,
button.link:focus {
  text-decoration: underline;
}
button.link.button {
  padding: 0.4em 0.5em;
  -: ;border-radius: 0.23076923076923078rem;
}
button.link.button:hover,
button.link.button:active {
  text-decoration: none;
  background-color: #e5e5e5;
  color: #333333;
}
button.multiselect {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* Tables */
.table > thead > tr > th {
  vertical-align: middle;
}
/* Dividers */
.divider,
.dropdown-menu .divider {
  height: 1px;
  margin: 0.6em 0;
  overflow: hidden;
  background-color: #eee;
  background-color: rgba(0, 0, 0, 0.1);
}
/* Content elements */
.menu.panel-body {
  padding: 0.4em;
}
.label {
  padding-top: 0.3em;
}
.btn {
  display: inline-block;
}
.btn .fa {
  padding: 0 0.4em;
  text-align: center;
}
.btn .btn-text {
  display: none;
}
@media (min-width: 768px) {
  .btn .fa {
    padding: 0;
    margin-right: 0.4em;
  }
  .btn .btn-text {
    display: inline-block;
  }
}
.project-thumb {
  -: ;height: 5.384615384615385rem;
  -: ;width: 5.384615384615385rem;
  border: 1px solid #ddd;
}
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  margin: 0 0.5em;
}
.navbar-inverse .small {
  color: #ccc;
}
/*.overlay {
	.transition(all 250ms);
	background-color: #000;
	visibility: visible;
	.opacity(.6);
	
	&.hidden {
		.opacity(0);
		visibility: hidden;
	}
}*/
/* Modals */
.dialog {
  display: none;
}
.modal-lg {
  margin: 10px auto;
  padding: 0 10px;
  width: auto;
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
@media (min-width: 768px) {
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 768px) {
  .page-width .modal-dialog {
    width: 90%;
    max-width: 992px;
  }
}
/* Forms */
form .two-fields {
  margin-left: -15px;
  margin-right: -15px;
}
form .two-fields .field {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  form .two-fields .field {
    float: left;
    width: 50%;
  }
}
.dropdown-menu form {
  padding: 0.46153846rem;
}
.dropdown-menu > li > a {
  padding-top: 0.45em;
  padding-bottom: 0.45em;
}
.dropdown-menu > li > a:focus {
  outline: none;
}
.dropdown-menu > li.selected > a {
  background-color: #1c8ca8;
  color: #ffffff;
}
.form-inline .form-group {
  margin-bottom: 0.4em;
}
.form-header {
  border-bottom: 1px solid;
  font-weight: bold;
  margin-bottom: 1.15em;
  padding-bottom: 0.4em;
}
.panel-info .form-header {
  color: #795c3a;
}
.panel-warning .form-header {
  color: #cad266;
}
.panel-danger .form-header {
  color: #ff563f;
}
.panel-success .form-header {
  color: #5cb87b;
}
.panel-primary .form-header {
  color: #1c8ca8;
}
/* Callouts */
.bs-callout-primary {
  display: block;
  margin-bottom: 15px;
  padding: 15px 30px 15px 15px;
  border-left: 3px solid #1c8ca8;
  background-color: #e2f5fa;
}
.bs-callout-primary h1,
.bs-callout-primary h2,
.bs-callout-primary h3,
.bs-callout-primary h4,
.bs-callout-primary h5,
.bs-callout-primary h6 {
  margin-top: 0;
  color: #1c8ca8;
}
.bs-callout-primary p:last-child {
  margin-bottom: 0;
}
.bs-callout-primary code,
.bs-callout-primary .highlight {
  background-color: #fff;
}
.bs-callout-danger {
  display: block;
  margin-bottom: 15px;
  padding: 15px 30px 15px 15px;
  border-left: 3px solid #ff563f;
  background-color: #ffddd8;
}
.bs-callout-danger h1,
.bs-callout-danger h2,
.bs-callout-danger h3,
.bs-callout-danger h4,
.bs-callout-danger h5,
.bs-callout-danger h6 {
  margin-top: 0;
  color: #ff563f;
}
.bs-callout-danger p:last-child {
  margin-bottom: 0;
}
.bs-callout-danger code,
.bs-callout-danger .highlight {
  background-color: #fff;
}
.bs-callout-warning {
  display: block;
  margin-bottom: 15px;
  padding: 15px 30px 15px 15px;
  border-left: 3px solid #cad266;
  background-color: #f3f5dc;
}
.bs-callout-warning h1,
.bs-callout-warning h2,
.bs-callout-warning h3,
.bs-callout-warning h4,
.bs-callout-warning h5,
.bs-callout-warning h6 {
  margin-top: 0;
  color: #cad266;
}
.bs-callout-warning p:last-child {
  margin-bottom: 0;
}
.bs-callout-warning code,
.bs-callout-warning .highlight {
  background-color: #fff;
}
.bs-callout-info {
  display: block;
  margin-bottom: 15px;
  padding: 15px 30px 15px 15px;
  border-left: 3px solid #795c3a;
  background-color: #efe6dd;
}
.bs-callout-info h1,
.bs-callout-info h2,
.bs-callout-info h3,
.bs-callout-info h4,
.bs-callout-info h5,
.bs-callout-info h6 {
  margin-top: 0;
  color: #795c3a;
}
.bs-callout-info p:last-child {
  margin-bottom: 0;
}
.bs-callout-info code,
.bs-callout-info .highlight {
  background-color: #fff;
}
.bs-callout-success {
  display: block;
  margin-bottom: 15px;
  padding: 15px 30px 15px 15px;
  border-left: 3px solid #5cb87b;
  background-color: #eaf6ee;
}
.bs-callout-success h1,
.bs-callout-success h2,
.bs-callout-success h3,
.bs-callout-success h4,
.bs-callout-success h5,
.bs-callout-success h6 {
  margin-top: 0;
  color: #5cb87b;
}
.bs-callout-success p:last-child {
  margin-bottom: 0;
}
.bs-callout-success code,
.bs-callout-success .highlight {
  background-color: #fff;
}
/* Content headers */
.panel-header {
  font-size: 1.25rem;
  margin: 0 0 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #aaa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #ff563f;
}
/* Content & layout */
.content {
  padding: 1em;
  width: 100%;
}
.content-panel .section-head {
  font-size: 1.2em;
  text-shadow: 1px 1px #eee;
  padding-bottom: 0.2em;
  border-bottom: 1px solid;
  border-color: #c3c3c3;
}
.content-panel .section-head small {
  color: #6f6f6f;
  font-size: 0.8em;
  margin-left: 0.25em;
}
.content-panel .panel {
  box-shadow: none;
  border-color: #cccccc;
}
.content-panel .panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.content-panel .panel-footer {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.center {
  text-align: center;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
/* Navigation */
.top-nav {
  border-bottom: 0 none;
}
.top-nav .navbar-icon {
  background-image: url('../images/logo/WISE-logo-icon-flat.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0d4351;
  -: ;-webkit-background-size: 2.923076923076923rem;
  -: ;-o-background-size: 2.923076923076923rem;
  -: ;-moz-background-size: 2.923076923076923rem;
  -: ;background-size: 2.923076923076923rem;
  -: ;width: 3.6923076923076925rem;
  -: ;height: 3.076923076923077rem;
  display: block;
  float: left;
}
.top-nav .navbar-brand {
  -: ;height: 3.076923076923077rem;
  -: ;line-height: 3.076923076923077rem;
  padding-top: 0.10302198rem;
  padding-bottom: 0.10302198rem;
  padding-left: 0.6em;
  font-family: Open Sans, sans-serif;
  background-color: #1c8ca8;
}
@media (min-width: 768px) {
  .top-nav .navbar-nav > li > a {
    padding-top: 0;
  }
}
.top-nav .navbar-right {
  padding-right: 0.4em;
}
.top-nav .navbar-collapse:not(.in) > ul > li > a {
  -: ;height: 3.076923076923077rem;
  -: ;line-height: 3.076923076923077rem;
}
.top-nav .navbar-collapse.in {
  padding: 0;
}
.top-nav .navbar-collapse.in .navbar-nav {
  margin: 0.4em 0;
}
.top-nav .navbar-toggle {
  -: ;height: 3.061073541846894remrem;
}
.navbar-brand {
  font-size: 1.2em;
}
.navbar-toggle {
  margin-right: 0.4em;
}
.navbar-collapse {
  max-height: none;
}
/* TinyMCE */
div.mce-edit-area {
  padding: 0.3em 0.45em;
}
/* DataTables */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1.4em;
  color: #1c8ca8;
}
.dataTable td .progress,
.dataTable th .progress {
  margin-bottom: 0;
  border: 1px solid #dddddd;
}
/* Bootstrap Select */
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:hover small,
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) a:focus small,
.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) a small {
  color: #dddddd;
}
/* Sortables */
.sortable-placeholder {
  background-color: #eee;
  background-color: rgba(0, 0, 0, 0.1);
}
/* Help/info elements */
.help,
.info {
  cursor: pointer;
  margin: 0 0.15em;
  color: #1c8ca8;
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.editable-click {
  color: #1c8ca8;
}
.editable-click:hover,
.editable-click:focus {
  color: #15687c;
}
