
/* CORE LAYOUT STYLES */

* {padding:0; margin:0}

body {
	/* font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, "Gill Sans", Helvetica;	*/
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,"Gill Sans",sans-serif;	
	font-size: 100%;
	text-align: center;
	margin: 0px;
	background-color:#666;
	background-image:url(../assets/images/robots/surrounding_bg3.png);
	background-repeat:repeat;
	}
	
img {border: 0px;}

/* This override presents Firefox browser from drawing an ugly dotted line around the focus Input button */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}

h1 {font-size:2.0em;} 
h2 {font-size:1.5em; }
h3 {font-size:1.4em;}
h4 {font-size:1.2em;}
h5 {font-size:.9em; }
h6 {font-size:.8em; }
p  {font-size:.8em; line-height:150%;padding:0px; margin:0px;}

.BG1 {background-color:#164CBA;color:#FFF;}
.BG2 {background-color:#6883BA;color:#000;}
.BG3 {background-color:#FF9D1E;color:#000;}
.BG4 {background-color:#FFE6C6;color:#000;}
.BG5 {background-color:#FFCE8E;color:#000;}

.Color1 {color:#164CBA;}
.Color2 {color:#6883BA;}
.Color3 {color:#FF9D1E;}
.Color4 {color:#FFE6C6;}
.Color5 {color:#FFCE8E;}

#centeredDiv {
	background-image:url(../assets/images/robots/surrounding_bg3.png);
	width: 960px;
	text-align:left;
	margin: 0 auto;   	}

#projectLeftBox {
	position:relative;
	float:left;
	background-image:url(../assets/images/gradient_leftBox.png);
	background-repeat:repeat-x; 
	background-color:#6699FF;
	width:210px; 
	min-height:650px;
	border:1px solid #333;
	    }

#projectRightUpperBox {
	margin: 0 0 3px 216px;
	padding:0;
	background-image:url(../assets/images/gradient_stepInfoBar80v1.png);
	height:65px;
	background-repeat:repeat-x; 
	background-position:0 0px;
	border:1px solid #333;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	}
	
#projectRightLowerBox {
	background-color:#FFF;
	border:1px solid #333;
	margin: 0 0 0 216px;
	/* height:609px; */
	overflow:auto;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;  
}

#contentDiv {padding:0;margin:0;}
iframe {padding:0;margin:0;}
#ifrm {padding:0;margin:0;}

/* STYLES FOR PROJECT LEFT BOX */

#projectLogoBox{
	text-align:center;
	padding:5px 0;
	margin:4px 0;
	border-bottom:2px solid #666;    
	}

#projectLogoBox a{text-decoration:none }
	
#projectLogoBox:hover{
	outline: 1px dotted #FFFF00;
	cursor:pointer;
	}
	
#projectCurriculum {
	padding:2px 0;
	margin:0 ;
	font-size:.7em;
	text-align:center;
	     }

#projectCurriculum .title{
	font-size:1.0em;
	padding:0;
	margin:0;
	     }

#projectCurriculum .unit {
	padding:0;
	margin:0;
	font-size:1.2em;
	font-weight:bold;
	     }
		 	
#loginBox{
	font-size:.75em;
	text-align:center; 
 }
	
#audioControls  {
	width:80%;
	margin:0 auto;
	background-color:#CCC;
	border:1px solid #999;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	}	
	
#audioControls table {
	border-collapse:collapse;
	margin:0px auto;
	font-size:.6em;	
		}
	
#audioControls a.rewind {  
     display: block;  
     width: 40px;  
     height: 16px; 
     background-image: url(../assets/images/audio_rewind.png);  
     background-position:center -3px;	
	 background-repeat: no-repeat;
     }
	 
#audioControls a.rewind:hover { 
     background-image: url(../assets/images/audio_rewind_roll.png);  
	 cursor:pointer;
     } 
	 
#audioControls a.play {  
     display: block;  
     width: 34px;  
     height: 16px; 
     background-image: url(../assets/images/audio_play.png);  
     background-repeat: no-repeat;
	 background-position:center -3px;
     }
	 
#audioControls a.play:hover { 
     background-image: url(../assets/images/audio_play_roll.png);  
	 cursor:pointer;
     } 

#audioControls a.pause {  
     display: block;  
     width: 40px;  
     height: 16px; 
     background-image: url(../assets/images/audio_pause.png);  
     background-repeat: no-repeat;
	 background-position:center -3px;
     }
	 
#audioControls a.pause:hover { 
     background-image: url(../assets/images/audio_pause_roll.png);  
     cursor:pointer;
     } 
	 
#audioControls .rightPadding {padding:0 5px 0 10px;}

#navigationArea {
	margin: 0px 0 0 0 ;
	}

#navMenuControls {
	padding:0;
	margin:0 0 5px 0 ;
	text-align:center;
	vertical-align:middle;  }

#navMenuControls input {
	font-size:9px; 
	color:blue;
	}	
	
#navMenuControls input:hover {
	color:#993300;
	}	
	
#navigationMenuBox {
	min-height:425px;
	overflow-y:auto;
	overflow-x:hidden;
}

#hostBrandingBox{
	position:absolute;
	bottom:0px;
	text-align:center;     }
	
#hostBrandingBox a:hover{
	outline: 1px dotted #FFFF00;
	cursor:pointer;
	}

/* CURRENT STEP DISPLAYL BAR */

#stepInfoBar {
	position:relative;
	width:100%;
	}
	
.stepTypeLabel {
	position:absolute;
	top:16px;
	left:25px;
	font-size:1.4em;
	color:#0000CC;
	}
	
#topStepTitle {
	font-variant:small-caps;
	font-weight:700;
}
	
#stepNavButtons {
	position:absolute;
	top:17px;
	right:5px;
		}

#stepNavButtons a {
	font-size:1.3em;
	margin: 0 25px  40px 0;
	padding:0px 0 0 10px; 
	color:#006600;
		}
		
#stepNavButtons a:hover {
	color:#FFFF00;
		}
		
#stepNavButtons img {
	margin-top:-20px;
		}

#stepNavButtons .menuAnchor img {
	margin-top:-14px;
}

.currentLessonSection {
	position:relative;
	color:#333;
	padding:0;
	text-indent:-8000px;
	font-size:.7em;
	text-transform:uppercase;
	letter-spacing:2.4px;
	font-weight:bold;
}

.instantQuizIcon {
	position:absolute;
	top:3px;
	left:14px;
	width:28px;
	height:28px;
	background-image:url(../assets/images/Icon-Instant-Quiz28.png);
	background-repeat:no-repeat; 
	background-position:center right;	
	}
	


.gradingStatus  {
	color:#333;
	font-size:.8em;
		}
		
.subStepCounter  {
	color:#333;
	font-weight:bold;
	margin-left:10px;
		}

		
<!-- Anchor-Based Button Layout using TABLE-->

.buttonDiv {
	text-align:center;
	width:780px;
	}

#statusDiv {
	width:70%;
	margin:5px auto 0 auto;
	padding:2px;
	text-align:center;
	font-size:.9em;
	color:#19253D;
	color:#333;
	}
	
#buttonTable{
  border-collapse:collapse;
  margin:5px auto 0 auto;
  }

#buttonTable a {
  display:block;
  padding:8px 0px 0 0 ;
  margin:0px 4px;
  text-transform:uppercase;
  font: bold 85% Verdana,Arial,sans-serif;
  background:#FFF;
  color:#000;
  border:0px;
  background-image:url(../assets/images/ButtonActive.png);
  background-repeat:no-repeat;
  background-color:#FFF;
  text-decoration:none;
  text-align:center;
  height:37px;
  width:157px;
  outline:0;
  }
  
 #buttonTable a.tightened {
  letter-spacing:-1px;
  }
  
#buttonTable a:hover {
  color:#164CBA; 
  background:#FFF;
  border:0;
  background-image:url(../assets/images/ButtonRollover.png);
  background-repeat:no-repeat;
        }
    
 #buttonTable a:hover.disabledLink {
    background-color:#FFF;
	border:0;
	background-image:url(../assets/images/ButtonInactive.png);
	color:#999999;
	outline-style: none;
    }

#buttonTable .disabledLink {
	background-color:#FFF;
	border:0;
	background-image:url(../assets/images/ButtonInactive.png);
	color:#999999;
	outline:0;
}

/* STYLING FOR ALL POP-UP STEP INFORMATION WINDOWS */

#stepBody, #assessmentBody {
	background-color:#CCCCCC;
}	

#infoBoxCenteredDiv, #assessmentTypeCenteredDiv{
	background-color:#FFF;
	width: 620px;
	text-align:left;
	padding: 25px 10px;
	margin: 20px auto;
	}
	
#stepTitle, #assessmentTitle {
	font-size:1.4em;
	font-weight:bold;
	color:#19253D;
	margin:20px 10px 0 10px;
	border-bottom:1px ridge #CCFFFF;
	}

#assessmentDescription p {
	text-transform:uppercase;
	color:#19253D;
	font-weight:bold;
	margin:15px 0 0 15px;	}
		
#stepDescription ul, #assessmentDescription ul {
	font-size:.8em;
	line-height:135%;
	padding:0px;
	margin:15px 0 15px 30px;	}
	
#stepDescription li, #assessmentDescription li {
	color:#19253D;
	margin-bottom:15px; 	}
		
#InfoBoxClose {
	text-align:center;
	margin:30px auto;	}

#InfoBoxClose a {
	display:block;
	margin:0 auto;
	width:9em;
	padding:5px 0;
	font: bold 100% Verdana,Arial,sans-serif;
    text-transform:uppercase;
    background: #6883BA;
    color: #333;
    text-decoration:none;
    text-align:center; }
    
#InfoBoxClose a:hover{
	background: #FFCC00;
	color:#333	}
		
.red {background-color:#CC0000;color:#FFF;padding:0px 3px 1px 3px;margin:0;}
.yellow {background-color:#FFFF33;color:#999;padding:0px 3px 1px 3px;margin:0;}
.green {background-color:#009900;color:#FFF;padding:0px 3px 1px 3px;margin:0;}


/* TOOLS MENU DROP DOWN STLING */

.dropdown {width:210px;}

.dropdown dt { 
	border-bottom:2px solid #999; 
	margin:0;
	font-weight:bold; 
	letter-spacing:1.5px;
	font-variant:small-caps;
	background:url(../assets/images/robots/toolbar_bg2.png)
	}
	
.dropdown #menuTitle {padding:2px 0px 2px 10px; }	
	
.dropdown dt img{
	position:absolute; 
	right:7px;
	top:6px;	}
	
.dropdown dt:hover {
	background:url(../assets/images/robots/toolbar_bg3.png);
	cursor:pointer;
	}
.dropdown dd {position:absolute; overflow:hidden; width:210px; display:none; background:#fff; z-index:200; opacity:0}
.dropdown ul {width:208px; border:2px solid #9ac1c9; list-style:none; border-top:none}
.dropdown li {display:inline}
.dropdown a, .dropdown a:active, .dropdown a:visited {display:block; padding:5px; color:#333; text-decoration:none; background:#eaf0f2; width:208px}
.dropdown a:hover {
	background:#d9e1e4;
	background-color:#FFFF00;
	color:#000;
	cursor:pointer;}
.dropdown .underline {border-bottom:1px solid #b9d6dc}
.dropdown .underline2 {border-bottom:2px solid #999}

/* SHOW ALL WORK STYLES */

#showallwork .bd h3 {
	background-image:url(../assets/images/gradient_ShowAllWork1.png);
	background-repeat:repeat-x; 
	color:#FFF;
	padding:4px 10px;
	margin:0 5px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
}

#showallwork .bd h4 {
	background-image:#CCC;
	color:#000;
	padding:4px 10px;
	margin:10px 5px 0 25px;
	border:1px solid #333;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
}



	

/* TESTING AREAS */

#experimental {
	position:absolute;
	top:0;
	right:0px;
	font-size:.8em;
	}
