
/* CSS Reset */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr,a {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th {font-size:1em; font-weight:normal; font-style:normal;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}

/* CORE LAYOUT STYLES */

* {padding:0; margin:0}

html,body{
	height:100%;
	/*overflow-y:hidden;
	overflow-x:auto;*/
	overflow:auto;
}

body#w4_vle {
	/*  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, "Gill Sans", Helvetica;	*/
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,"Gill Sans",sans-serif;	
	font-size: 100%;
	text-align: center;
	background-color:#666;
	background-image:url(../images/robots/surrounding_bg3.png);
	background-repeat:repeat;
	overflow-y:hidden;
}
	
img {border: 0px;}


/* This override prevents Firefox browser from drawing an ugly dotted line around the focus Input button */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}

h1 {font-size:2.0em;} 
h2 {font-size:1.5em; }
h3 {font-size:1.4em;}
h4 {font-size:1.2em;}
h5 {font-size:.9em; }
h6 {font-size:.8em; }
p  {font-size:.8em; line-height:150%;padding:0px; margin:0px;}

/*    This is the middle toned 88.236 palette  */
.color1 {color:#164CBA;}   /* vibrant blue */
.color2 {color:#6883BA;}   /* mid blue */
.color3 {color:#919EBA;}   /* light blue */
.color4 {color:#334B7B;}   /* dark blue */
.color5 {color:#19253D;}   /* very dark blue */
.color6 {color:#4E628B;}   /* mid gray slate */
.color7 {color:#FF9D1E;}  /* bold orange */
.color8 {color:#FFCE8E;}  /* mid tan */
.color9 {color:#FFE6C6;}  /* light tan */
.color10 {color:#a97e46;}  /* brown */
.color11 {color:#543f23;}  /* dark red */
.color12 {color:#bf9a6b;}   /* light brown */

.bg1 {background-color:#164CBA;color:#FFF;}
.bg2 {background-color:#6883BA;color:#000;}
.bg3 {background-color:#919EBA;color:#000;}
.bg4 {background-color:#334B7B;color:#FFF;}
.bg5 {background-color:#19253D;color:#FFF;}
.bg6 {background-color:#4E628B;color:#FFF;}
.bg7 {background-color:#FF9D1E;color:#000;}
.bg8 {background-color:#FFCE8E;color:#000;}
.bg9 {background-color:#FFE6C6;color:#000;}
.bg10 {background-color:#a97e46;color:#000;}
.bg11 {background-color:#543f23;color:#FFF;}
.bg12 {background-color:#bf9a6b;color:#000;}

#vleOverlay, #ideaBasketOverlay {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

#centeredDiv {
	height:100%;
	margin:0 auto;
	max-width:1280px;
	min-width:970px;
	position:relative;
	text-align:left;
	overflow:hidden;
}

#projectLeftBox {
	background-color:#6699FF;
	background-image:url("../images/gradient_leftBox.png");
	background-repeat:repeat-x;
	border:1px solid #333333;
	bottom:4px;
	left:4px;
	min-height:180px;
	position:absolute;
	top:44px;
	width:220px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

.hostBrandingBox {
	
}

#projectRightUpperBox {
	background-image:url("../images/gradient_stepInfoBar40v2.png");
	background-position:0 0;
	background-repeat:repeat-x;
	border:1px solid #333333;
	height:36px;
	left:4px;
	line-height:36px;
	min-width:964px;
	padding:0;
	position:absolute;
	right:4px;
	top:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
	
#projectRightLowerBox {
	background-color:#FFFFFF;
	border:1px solid #333333;
	bottom:4px;
	left:228px;
	min-height:180px;
	min-width:740px;
	padding:0;
	position:absolute;
	right:4px;
	top:44px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#contentDiv {
	padding:0;
	margin:0;
	height: 100%;
	background-color:#FFF;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#ideaBasketDiv {
	margin-bottom:.3em;
	padding:0;
	overflow-y:hidden;
}

#hintsDiv {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow:0 0 4px;
    -moz-box-shadow:0 0 4px;
    -webkit-box-shadow:0 0 4px;
    background-color: #FFFA7F;
    border: 1px solid #444444;
    font: 0.9em sans-serif;
    padding:.5em;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor:pointer;
}

#hintsHeader {
	background-image: url("/vlewrapper/vle/images/hint/star.png");
    background-position: -2px 50%;
    background-repeat: no-repeat;
    padding: 2px 0 0 24px;
}

#hintsHeader.visited {
	padding-left:16px;
}

a#hintsLink {
    background-color: #FFFA7F;
    border: 1px solid #999999;
    margin-right: 8px !important;
    padding: 6px 3px !important;
}

a#hintsLink:hover {
	color:#333333 !important;
	box-shadow:0 0 4px #FFFF00;
    -moz-box-shadow:0 0 4px #FFFF00;
    -webkit-box-shadow:0 0 4px #FFFF00;
}

#hintsTabs {
	border: 0;
	text-align:left;
}

#hintsTabs div.ui-tabs-panel {
	padding:0;
	font:1em sans-serif;
}

#hintsTabs .hintHeader {
	background-image: url("/vlewrapper/vle/images/panda.png");
	background-position: left 50%;
    background-repeat: no-repeat;
    color: #FF9D1E;
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px 4px 4px 34px;
}

#hintsPanel {
	margin-bottom:.35em;
}

#hintsTabs .hintText {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    background-color: #FFD9AC;
    margin: 0.5em 0;
    min-height: 70px;
    padding: 0.5em;
}

#hintsTabs .hintControls {
	color:#444444;
	font-weight: bold;
}

#hintsTabs .hintControls span {
	cursor: pointer;
    margin: 0.5em;
    padding-top: 2px;
}

#hintsTabs .hintControls span:hover {
	text-decoration:underline;
}

#hintsTabs .hintControls span.ui-state-disabled {
	text-decoration:none !important;
}



#nodeAnnotationsDiv {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow:0 0 4px;
    -moz-box-shadow:0 0 4px;
    -webkit-box-shadow:0 0 4px;
    background-color: #FFFA7F;
    border: 1px solid #444444;
    font: 0.9em sans-serif;
    padding:.5em;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor:pointer;
}

#nodeAnnotationsHeader {
	background-image: url("/vlewrapper/vle/images/addNode.png");
    background-position: -2px 50%;
    background-repeat: no-repeat;
    padding: 2px 0 0 24px;
}

a#nodeAnnotationsLink {
    background-color: #FFFA7F;
    border: 1px solid #999999;
    margin-right: 8px !important;
    padding: 6px 3px !important;
}

a#nodeAnnotationsLink:hover {
	color:#333333 !important;
	box-shadow:0 0 4px #FFFF00;
    -moz-box-shadow:0 0 4px #FFFF00;
    -webkit-box-shadow:0 0 4px #FFFF00;
}


.nodeAnnotationsPanel .nodeAnnotationsHeader {
	background-image: url("/vlewrapper/vle/images/panda.png");
	background-position: left 50%;
    background-repeat: no-repeat;
    color: #FF9D1E;
    font-size: 1.2em;
    font-weight: bold;
    padding: 8px 4px 4px 34px;
}

.nodeAnnotationsPanel .nodeAnnotationsText {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
    background-color: #FFD9AC;
    margin: 0.5em 0;
    min-height: 70px;
    padding: 0.5em;
}

.nodeAnnotationsPanel {
	margin-bottom:.35em;
}


.tabPrev {
	float:left;
	background: url("/vlewrapper/vle/images/hint/previous.png") no-repeat scroll left 50% transparent;
	padding-left:15px;
}

.tabNext {
	float:right;
	background: url("/vlewrapper/vle/images/hint/next.png") no-repeat scroll right 50% transparent;
	padding-right:15px;
}

#ifrm {
	padding:0;	
	margin:0;
	width:100%;
	height:100%;
	background-color:#FFF;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	overflow-x:hidden;
}

.no-title .ui-dialog-titlebar {
	display: none;	
}

/* STYLES FOR PROJECT LEFT BOX */

#betatagvle {
	position:absolute;
	top:2px;
	left:135px;	
	font-weight:bold;
	font-size:.9em;
	color:#ccccff;
	}

#projectLogoBox{
	text-align:center;
	padding:2px 4px;
	/* border-bottom:2px solid #666; */   
	}

#projectLogoBox a  {text-decoration:none }
	
#projectLogoBox:hover{
	outline: 1px dotted #FFFF00;
	cursor:pointer;
	}
	
#projectCurriculum {
	padding:2px 0;
	margin:0 ;
	font-size:.7em;
	text-align:center;
	     }

#projectCurriculum .title{
	font-size:1.0em;
	font-weight:bold;
	padding:0;
	margin:0;
	     }

#projectCurriculum .unit {
	padding:0;
	margin:0;
	font-size:1.2em;
	font-weight:bold;
	     }
		 	
#audioControls  {
	position:absolute;
	top:10px;
	right:310px;
	background-color:transparent;
	padding:0;
	}	
	
#audioControls table {
	border-collapse:collapse;
	font-size:.5em;	
		}
		
#audioControls table td {
	text-align:center
		}
	
#audioControls a.rewind {  
     display: block;  
     width: 26px;  
     height: 16px; 
     background-image: url(../images/audio_rewind.png);  
     background-position:center -3px;	
	 background-repeat: no-repeat;
     }
	 
#audioControls a.rewind:hover { 
     background-image: url(../images/audio_rewind_roll.png);  
	 cursor:pointer;
     } 
	 
#audioControls a.play {  
     display: block;  
     width: 26px;  
     height: 16px; 
     background-image: url(../images/audio_play.png);  
     background-repeat: no-repeat;
	 background-position:center -3px;
     }
	 
#audioControls a.play:hover { 
     background-image: url(../images/audio_play_roll.png);  
	 cursor:pointer;
     } 
    
#audioControls a.pause {  
     display: block;  
     width: 26px;  
     height: 16px; 
     background-image: url(../images/audio_pause.png);  
     background-repeat: no-repeat;
	 background-position:center -3px;
     }
	 
#audioControls a.pause:hover { 
     background-image: url(../images/audio_pause_roll.png);  
     cursor:pointer;
     } 

#audioControls a.forward {  
     display: block;  
     width: 26px;  
     height: 16px; 
     background-image: url(../images/audio_forward.png);  
     background-repeat: no-repeat;
	 background-position:center -3px;
     }
	 
#audioControls a.forward:hover { 
     background-image: url(../images/audio_forward_roll.png);  
     cursor:pointer;
     } 

#separator {
	position:absolute;
	top:4px;
	left:223px;
	}	
	
#navigationArea {
	margin: 0p;
	height:85%;
}

#navMenuControls {
	padding:4px 0;
	text-align:center;
	vertical-align:middle;  }

#navMenuControls input {
	font-size:9px; 
	color:blue;
	}	
	
#navMenuControls input:hover {
	color:#993300;
	}	
	
#navigationMenuBox {
	overflow-y:auto;
	overflow-x:hidden;
	margin: 0 3px;
}


/* STEP CONTROL BAR */

#stepInfoBar {
	position:absolute;
	left:5px;
	width:220px;
	}
	
#stepIcon {
	position:absolute;
	top:4px;
	left:6px;
}

#projectMenuButton {
	position:absolute;
	left:5px;
	top:13px;
}


#projectMenuButton a:hover {
	color:#FFFF00;
	cursor:pointer;
}


#dropDownTreeNavigationDiv div {
	display:block;
}	

#dropDownTreeNavigationDiv .currentNode {
	border: 1px dotted;
	background: orange;
}	

#dropDownTreeNavigationDiv .depth2 {
	margin-left:15px;
}	

#dropDownTreeNavigationDiv .depth3 {
	margin-left:30px;
}	

#dropDownTreeNavigationDiv .depth4 {
	margin-left:45px;
}	

#dropDownTreeNavigationDiv a {
	display:block;
}	

#dropDownTreeNavigationDiv a:hover {
	display:block;
	cursor:pointer;
}	

#topStepTitle  {
	position:absolute;
	left:42px;
	color:#333;
	font-size:.75em;
	font-weight:bold;
}

/*#stepHints {
	position:absolute;
	left:150px;
}*/

hr.stepHints {
	border:thin solid;
	margin:30px 0 10px 0;
}

#hintsTabs ul.ui-tabs-nav {
	display:none;
}

#stepNavButtons1 {
	position:absolute;
	right:8px;
}
		
#stepNavButtons1 ul {
	line-height: 32px;
}

#stepNavButtons1 ul li {
	float: left;
	display:block;
}


#stepNavButtons1 ul, #stepNavButtons1 li {
	margin:0;
	padding:0;
	list-style:none;
}

#stepNavButtons2 {
	position:absolute;
	left:5px;
}

#stepNavButtons1 a, #stepNavButtons2 a {
	font-size:.70em;
	margin: 0 4px 0 0;
	padding:8px 0;
	color:#333;
	cursor:pointer;
}
		
#stepNavButtons1 a:hover, #stepNavButtons2 a:hover {
	color:#FFFF00;
	cursor:pointer;
}
		
#stepNavButtons1 img, #stepNavButtons2 img    {
	vertical-align:middle;
}

.reviewWork {letter-spacing:-.5px;}
.reviewWork img {margin-left:3px}

.menuSwitcher {	letter-spacing:-.5px;}

.menuSwitcher img {margin-right:-3px;}

.tightText {
	text-decoration:none;
	}

<!-- Anchor-Based Button Layout using TABLE-->

.buttonDiv {
	text-align:center;
	width:780px;
	}

#statusDiv {
	width:70%;
	margin:5px auto 0 auto;
	padding:2px;
	text-align:center;
	font-size:.9em;
	color:#19253D;
	color:#333;
	}
	
#buttonTable{
  border-collapse:collapse;
  margin:5px auto 0 auto;
  }

#buttonTable a {
  display:block;
  padding:8px 0px 0 0 ;
  margin:0px 4px;
  text-transform:uppercase;
  font: bold 85% Verdana,Arial,sans-serif;
  background:#FFF;
  color:#000;
  border:0px;
  background-image:url(../images/ButtonActive.png);
  background-repeat:no-repeat;
  background-color:#FFF;
  text-decoration:none;
  text-align:center;
  height:37px;
  width:157px;
  outline:0;
  }
  
 #buttonTable a.tightened {
  letter-spacing:-1px;
  }
  
#buttonTable a:hover {
  color:#164CBA; 
  background:#FFF;
  border:0;
  background-image:url(../images/ButtonRollover.png);
  background-repeat:no-repeat;
        }
    
 #buttonTable a:hover.disabledLink {
    background-color:#FFF;
	border:0;
	background-image:url(../images/ButtonInactive.png);
	color:#999999;
	outline-style: none;
    }

#buttonTable .disabledLink {
	background-color:#FFF;
	border:0;
	background-image:url(../images/ButtonInactive.png);
	color:#999999;
	outline:0;
}

/* STYLING FOR ALL POP-UP STEP INFORMATION WINDOWS */

#stepBody, #assessmentBody {
	background-color:#CCCCCC;
}	

#infoBoxCenteredDiv, #assessmentTypeCenteredDiv{
	background-color:#FFF;
	width: 620px;
	text-align:left;
	padding: 25px 10px;
	margin: 10px auto;
	}
	
#stepTitle, #assessmentTitle {
	font-size:1.4em;
	font-weight:bold;
	color:#19253D;
	margin:20px 10px 0 10px;
	border-bottom:1px ridge #CCFFFF;
	}

#assessmentDescription p {
	text-transform:uppercase;
	color:#19253D;
	font-weight:bold;
	margin:15px 0 0 15px;	}
		
#stepDescription ul, #assessmentDescription ul {
	font-size:.8em;
	line-height:135%;
	padding:0px;
	margin:15px 0 15px 30px;	}
	
#stepDescription li, #assessmentDescription li {
	color:#19253D;
	margin-bottom:15px; 	}


#InfoBoxClose {
	text-align:center;
	margin:30px auto;	}

#InfoBoxClose a {
	display:block;
	margin:0 auto;
	width:9em;
	padding:5px 0;
	font: bold 100% Verdana,Arial,sans-serif;
    text-transform:uppercase;
    background: #6883BA;
    color: #333;
    text-decoration:none;
    text-align:center; }
    
#InfoBoxClose a:hover{
	background: #FFCC00;
	color:#333	}
		
.red {background-color:#CC0000;color:#FFF;padding:0px 3px 1px 3px;margin:0;}
.yellow {background-color:#FFFF33;color:#999;padding:0px 3px 1px 3px;margin:0;}
.green {background-color:#009900;color:#FFF;padding:0px 3px 1px 3px;margin:0;}

/* TOOLS MENU DROP DOWN STYLING */

.dropdown {
	width:125px;
	position:absolute;
	top:8px;
	left:8px;
	}

.dropdown dt { 
	border:1px solid #666; 
	margin:0;
	font-weight:normal; 
	font-size:11px;
	letter-spacing:1.2px;
	font-variant:small-caps;
	background:url(../images/robots/toolbar_bg2.png)
	}
	
.dropdown #menuTitle {padding:2px 0px 2px 10px; }	
	
.dropdown dt img{
	position:absolute; 
	right:7px;
	top:4px;	}
	
.dropdown dt:hover {
	background:url(../images/robots/toolbar_bg3.png);
	cursor:pointer;
	}
.dropdown dd {position:absolute; overflow:hidden; width:216px; display:none; background:#fff; z-index:200; opacity:0}
.dropdown ul {width:216px; border:2px solid #9ac1c9; list-style:none; border-top:none}
.dropdown li {display:inline}
.dropdown a, .dropdown a:active, .dropdown a:visited {display:block; padding:5px; color:#CCC; text-decoration:none; background:#333; width:225px}
.dropdown a:hover {
	background:#d9e1e4;
	background-color:#FFFF00;
	color:#000;
	cursor:pointer;}
.dropdown .underline {border-bottom:1px solid #b9d6dc}
.dropdown .underline2 {border-bottom:2px solid #999}

/* SHOW ALL WORK STYLES */

#showallwork .bd {
	padding:5px;
}

#showWorkContainer {
	background-color:#FFF;
	margin:0 auto;
	text-align:left; 
	overflow: auto;
	padding:5px 10px;
	margin:0px;
}


#showallwork .bd #showallStep {
	background:#ffCe8e;
	color:#000;
	padding:4px 10px;
	margin:10px 0x;
	border:1px solid #333;
	font-size:1em;	
	font-weight:bold;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	}

#showallwork .bd #showallStep .type {
	display:inline;
	margin-left:30px;
	color:#666;
	font-weight:bold;
	font-size:.9em;
	}

#showallwork .bd .showallstatus {
	margin: 4px 0 0 20px;
	color:#333;
	font-size:.8em;
	}

#showallwork .showallLatestWork {
	margin: 4px 0 10px 0px;
	color:#000;
	font-size:1.2em;
	font-weight:bold;
	}
	
#showallwork .bd #teacherTable {
	border-collapse:collapse;
	margin: 4px 0 20px 20px;
		}

#teacherTable .teachermsg1, #teacherTable .teachermsg2 {
	color:blue;
	font-size:1.1em;
	font-weight:bold;
	
	}
	
#teacherTable .teachermsg2 {
	font-style:italic;
	
	}
	
#showallwork .bd #teacherTable .teachermsg3 {
	color:#333;
	font-size:.8em;
	font-weight:bold;
	
	}
	
#showAllWorkScoresTable {
	width:550px;
	border-collapse:collapse;
	border:1px solid black;
	margin:10px 0 20px 10px;
}


#showAllWorkScoresTable td {
	padding:5px;
	border:1px solid #333;
	text-align:center;
	font-size:.7em;
}

#showAllWorkScoresTable .scoreHeader {
	font-size:1.1em;
	letter-spacing:.2em;
	background-color:#4E628B;
	color:#fff;
	text-align:center:
}

#showAllWorkScoresTable .scoreValue {
	color:#19253d;
	font-weight:bold;
	font-size:.9em;
}

/* STUDENT JOURNAL STYLES */

#journalFrame {
	background-color:#FFF;
	margin:0 auto;
	width:98%; 
	height:98%; 
	text-align:left; 
	overflow: auto;
	padding:.25em;
}

/* TESTING AREAS */

#experimental {
	position:absolute;
	top:0;
	right:0px;
	font-size:.8em;
	}
	
.exIdea {
  width: 150px;
  padding: .5em;
  border: 2px solid #444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color:rgb(38, 84, 207);
  /*background-color:#2654CF;*/
  color:#fff;
  text-align:center;
  cursor:pointer;
  box-shadow: 0px 0px 4px #fff;
  -moz-box-shadow: 0px 0px 4px #fff;
  -webkit-box-shadow: 0px 0px 6px #fff;
}

.showAllWorkH2 {
	text-align:center;
	font-size:2em;
}

.showAllWorkHR {
	border:1px solid;
	height:2px;
}

#notificationDiv {
	margin-top:0.25em;
	min-height:1.5em;
	text-align:center;
	padding:0.1em;
}

.uploadMessage {
	display:inline-block;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border: 1px solid #990000;
	background-color:#CF5A5A;
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	line-height:1em;
	padding:0.25em 0.75em;
	font-size:.85em;
	margin-top:.1em;
}

.uploadMessage a {
	margin-left:.5em;
	text-decoration:underline;
	cursor:pointer;
	color:#FFFFFF !important;
	font-size:.85em !important;
}