<p>{{ ::'openResponse.starterSentence' | translate }} ({{ ::'openResponse.optional' | translate }}):</p>
<textarea ng-model='$ctrl.authoringComponentContent.starterSentence'
       ng-change='$ctrl.componentChanged()'
       ng-model-options='{ debounce: 1000 }'
       rows='2'
       cols='100'></textarea>
<br/>
<md-input-container style='width: 310px; margin-top: 30px;'>
<label>{{ ::'openResponse.textareaHeightNumberOfRows' | translate }}</label>
<input type='number'
      min="1"
      placeholder="3"
      ng-model='$ctrl.authoringComponentContent.numRows'
      ng-model-options='{ debounce: 1000 }'
      ng-change='$ctrl.componentChanged()'/>
</md-input-container>
<br/>
<div>
<md-checkbox class='md-primary'
            ng-model='$ctrl.authoringComponentContent.isStudentAudioRecordingEnabled'
            ng-change='$ctrl.componentChanged()'>
 {{ ::'openResponse.enableStudentAudioResponse' | translate }}
</md-checkbox>
</div>
<span>{{ ::'openResponse.enableCRater' | translate }}:</span>
<input type='checkbox'
    ng-model='$ctrl.authoringComponentContent.enableCRater'
    ng-change='$ctrl.enableCRaterClicked()'/>
<div ng-if='$ctrl.authoringComponentContent.enableCRater'>
<span>{{ ::'openResponse.itemId' | translate }}:</span>
<input type='text'
      ng-model='$ctrl.authoringComponentContent.cRater.itemId'
      ng-change='$ctrl.componentChanged()'
      size='30'/>
<button ng-click="$ctrl.verifyCRaterItemId($ctrl.authoringComponentContent.cRater.itemId)">
 {{ ::'openResponse.verify' | translate }}
</button>
<span ng-if="$ctrl.isVerifyingCRaterItemId === true">{{ ::'openResponse.verifying' | translate }}...</span>
<span ng-if="$ctrl.cRaterItemIdIsValid === true" style="color: green;">{{ ::'openResponse.valid' | translate }}</span>
<span ng-if="$ctrl.cRaterItemIdIsValid === false" style="color: red;">{{ ::'openResponse.invalid' | translate }}</span>
<br/>
<span>{{ ::'openResponse.scoreOn' | translate }}:</span>
<input type='radio'
      ng-model='$ctrl.authoringComponentContent.cRater.scoreOn'
      value='submit'
      ng-change='$ctrl.componentChanged()'/> <span>{{ ::'SUBMIT' | translate }}</span>
<input type='radio'
      ng-model='$ctrl.authoringComponentContent.cRater.scoreOn'
      value='save'
      ng-change='$ctrl.componentChanged()'/> <span>{{ ::'SAVE' | translate }}</span>
<input type='radio'
      ng-model='$ctrl.authoringComponentContent.cRater.scoreOn'
      value='change'
      ng-change='$ctrl.componentChanged()'/> <span>{{ ::'openResponse.change' | translate }}</span>
<br/>
<input type='checkbox'
      ng-model='$ctrl.authoringComponentContent.cRater.showScore'
      ng-change='$ctrl.componentChanged()'/> <span>{{ ::'SHOW_SCORE' | translate }}</span>
<br/>
<input type='checkbox'
      ng-model='$ctrl.authoringComponentContent.cRater.showFeedback'
      ng-change='$ctrl.componentChanged()'/> <span>{{ ::'SHOW_FEEDBACK' | translate }}</span>
<br/>
<button ng-click='$ctrl.addScoringRule()'>{{ ::'openResponse.addScoringRule' | translate }}</button>
<div ng-repeat='scoringRule in $ctrl.authoringComponentContent.cRater.scoringRules'>
 <span>{{ ::'SCORE' | translate }}:</span> <input type='text'
                                                ng-model='scoringRule.score'
                                                ng-model-options='{ debounce: 500 }'
                                                ng-change='$ctrl.componentChanged()'
                                                style='width: 3em'/>
 <span>{{ ::'openResponse.feedbackText' | translate }}:</span> <textarea type='text'
                                                                       ng-model='scoringRule.feedbackText'
                                                                       rows='5'
                                                                       cols='100'
                                                                       ng-model-options='{ debounce: 500 }'
                                                                       ng-change='$ctrl.componentChanged()'></textarea>
 <button ng-click='$ctrl.scoringRuleUpClicked($index)'>{{ ::'UP' | translate }}</button>
 <button ng-click='$ctrl.scoringRuleDownClicked($index)'>{{ ::'DOWN' | translate }}</button>
 <button ng-click='$ctrl.scoringRuleDeleteClicked($index)'>{{ ::'DELETE' | translate }}</button>
</div>
<button ng-click='$ctrl.addScoringRule()'>{{ ::'openResponse.addScoringRule' | translate }}</button>
<br/>
<span>{{ ::'openResponse.enableMultipleAttemptFeedback' | translate }}</span>
<input type='checkbox'
      ng-model='$ctrl.authoringComponentContent.cRater.enableMultipleAttemptScoringRules'
      ng-click='$ctrl.enableMultipleAttemptScoringRulesClicked()'/>
<br/>
<div ng-if='$ctrl.authoringComponentContent.cRater.enableMultipleAttemptScoringRules'>
 <div ng-repeat='multipleAttemptScoringRule in $ctrl.authoringComponentContent.cRater.multipleAttemptScoringRules'>
   <span>{{ ::'openResponse.previousScore' | translate }}:</span> <input type='text'
                                                                       ng-model='multipleAttemptScoringRule.scoreSequence[0]'
                                                                       size='5'
                                                                       ng-model-options='{ debounce: 500 }'
                                                                       ng-change='$ctrl.componentChanged()'/>
   <span>{{ ::'openResponse.currentScore' | translate }}:</span> <input type='text'
                                                                      ng-model='multipleAttemptScoringRule.scoreSequence[1]'
                                                                      size='5'
                                                                      ng-model-options='{ debounce: 500 }'
                                                                      ng-change='$ctrl.componentChanged()'/>
   <span>{{ ::'openResponse.feedbackToStudent' | translate }}:</span>
   <textarea
     type='text'
     ng-model='multipleAttemptScoringRule.feedbackText'
     rows='5'
     cols='100'
     ng-model-options='{ debounce: 500 }'
     ng-change='$ctrl.componentChanged()'></textarea>
   <button ng-click='$ctrl.multipleAttemptScoringRuleUpClicked($index)'>{{ ::'UP' | translate }}</button>
   <button ng-click='$ctrl.multipleAttemptScoringRuleDownClicked($index)'>{{ ::'DOWN' | translate }}</button>
   <button ng-click='$ctrl.multipleAttemptScoringRuleDeleteClicked($index)'>{{ ::'DELETE' | translate }}</button>
 </div>
 <button ng-click='$ctrl.addMultipleAttemptScoringRule()'
         ng-if='$ctrl.authoringComponentContent.cRater.enableMultipleAttemptScoringRules'>
   {{ ::'openResponse.addMultipleAttemptScoringRule' | translate }}
 </button>
 <br/>
</div>
<span>{{ ::'openResponse.enableNotifications' | translate }}:</span>
<input type='checkbox'
      ng-model='$ctrl.authoringComponentContent.enableNotifications'
      ng-change='$ctrl.enableNotificationsClicked()'/>
<div ng-if='$ctrl.authoringComponentContent.enableNotifications'>
 <div style='border:.5px dotted; padding: 5px' ng-repeat='notification in $ctrl.authoringComponentContent.notificationSettings.notifications'>
   <span>{{ ::'openResponse.previousScore' | translate }}:</span> <input type='text'
                                                                       ng-model='notification.enableCriteria.scoreSequence[0]'
                                                                       size='5'
                                                                       ng-model-options='{ debounce: 500 }'
                                                                       ng-change='$ctrl.componentChanged()'/>
   <span>{{ ::'openResponse.currentScore' | translate }}:</span> <input type='text'
                                                                      ng-model='notification.enableCriteria.scoreSequence[1]'
                                                                      size='5'
                                                                      ng-model-options='{ debounce: 500 }'
                                                                      ng-change='$ctrl.componentChanged()'/>
   <br/>
   <span>{{ ::'openResponse.enableAmbientDisplayDismissMode' | translate }}</span>
   <input type='checkbox'
          ng-model='notification.isAmbient' />
   <div ng-if='notification.isAmbient'>
     <span>{{ ::'openResponse.dismissCode' | translate }}:</span>
     <input ng-model='notification.dismissCode'
            ng-model-options='{ debounce: 500 }'
            ng-change='$ctrl.componentChanged()' />
   </div>
   <br/>
   <span>{{ ::'openResponse.notifyStudent' | translate }}</span>
   <input type='checkbox'
          ng-model='notification.isNotifyStudent' />
   <br/>
   <div ng-if='notification.isNotifyStudent'>
     <span>{{ ::'openResponse.feedbackToStudent' | translate }}:</span>
     <textarea type='text'
               ng-model='notification.notificationMessageToStudent'
               rows='5'
               cols='100'
               ng-model-options='{ debounce: 500 }'
               ng-change='$ctrl.componentChanged()'></textarea>
   </div>
   <span>{{ ::'openResponse.notifyTeacher' | translate }}</span>
   <input type='checkbox'
          ng-model='notification.isNotifyTeacher' />
   <div ng-if='notification.isNotifyTeacher'>
     <span>{{ ::'openResponse.feedbackToTeacher' | translate }}:</span>
     <textarea type='text'
               ng-model='notification.notificationMessageToTeacher'
               rows='5'
               cols='100'
               ng-model-options='{ debounce: 500 }'
               ng-change='$ctrl.componentChanged()'></textarea>
   </div>
   <br/>
   <button ng-click='$ctrl.notificationUpClicked($index)'>{{ ::'UP' | translate }}</button>
   <button ng-click='$ctrl.notificationDownClicked($index)'>{{ ::'DOWN' | translate }}</button>
   <button ng-click='$ctrl.notificationDeleteClicked($index)'>{{ ::'DELETE' | translate }}</button>
 </div>
 <button ng-click='$ctrl.addNotification()'>
   {{ ::'openResponse.addNewNotification' | translate }}
 </button>
</div>
</div>
<div>
<md-checkbox class='md-primary'
            ng-model='$ctrl.authoringComponentContent.showSaveButton'
            ng-change='$ctrl.componentChanged()'>
 {{ ::'SHOW_SAVE_BUTTON' | translate }}
</md-checkbox>
</div>
<div>
<md-checkbox class='md-primary'
            ng-model='$ctrl.authoringComponentContent.showSubmitButton'
            ng-change='$ctrl.componentChanged()'>
 {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
</md-checkbox>
</div>
<div>
<md-checkbox class='md-primary'
            ng-if='$ctrl.isNotebookEnabled()'
            ng-model='$ctrl.authoringComponentContent.showAddToNotebookButton'
            ng-change='$ctrl.componentChanged()'>
 {{ ::'SHOW_ADD_TO_NOTEBOOK_BUTTON' | translate }}
</md-checkbox>
</div>
<div>
<md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                   ng-if='$ctrl.authoringComponentContent.showSubmitButton'>
 <label>{{ ::'MAX_SUBMIT' | translate }}</label>
 <input type='number'
        ng-model='$ctrl.authoringComponentContent.maxSubmitCount'
        ng-model-options='{ debounce: 1000 }'
        ng-change='$ctrl.componentChanged()'/>
</md-input-container>
</div>
<div layout="column" layout-align="start start">
<edit-component-max-score [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-max-score>
<edit-component-width [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-width>
<edit-component-rubric [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-rubric>
<edit-component-tags [authoring-component-content]="$ctrl.authoringComponentContent"></edit-component-tags>
</div>
<div>
<div style="border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;">
 <md-checkbox class='md-primary'
              ng-model='$ctrl.useCustomCompletionCriteria'
              ng-change='$ctrl.useCustomCompletionCriteriaClicked()'>
   {{ ::'useCustomCompletionCriteria' | translate }}
 </md-checkbox>
 <div ng-if='$ctrl.useCustomCompletionCriteria'>
   <div ng-repeat='criteria in $ctrl.authoringComponentContent.completionCriteria.criteria track by $index'>
     <div flex>
       <md-input-container style='margin-right: 20; width: 300;'>
         <label>{{ ::'step' | translate }}</label>
         <md-select ng-model='criteria.nodeId'
                    ng-change='$ctrl.componentChanged()'
                    style='width: 300'>
           <md-option ng-repeat='item in $ctrl.idToOrder | toArray | orderBy : "order"'
                      value='{{item.$key}}'
                      ng-if='$ctrl.isApplicationNode(item.$key)'>
             {{ $ctrl.getNodePositionAndTitleByNodeId(item.$key) }}
           </md-option>
         </md-select>
       </md-input-container>
       <md-input-container style='margin-right: 20; width: 280;'>
         <label>{{ ::'component' | translate }}</label>
         <md-select ng-model='criteria.componentId'
                    ng-change='$ctrl.componentChanged()'
                    style='width: 280'>
           <md-option ng-repeat='(componentIndex, component) in $ctrl.getComponentsByNodeId(criteria.nodeId)'
                      value='{{component.id}}'>
             {{ componentIndex + 1 }}. {{ component.type }} <span ng-if='component.id == $ctrl.componentId'>({{ ::'thisComponent' | translate }})</span>
           </md-option>
         </md-select>
       </md-input-container>
       <md-input-container style='margin-right: 20; width: 100;'>
         <label>Action</label>
         <md-select ng-model='criteria.name'
                    ng-change='$ctrl.componentChanged()'
                    style='width: 100'>
           <md-option value='isSubmitted'>
             {{ ::'SUBMIT' | translate }}
           </md-option>
           <md-option value='isSaved'>
             {{ ::'SAVE' | translate }}
           </md-option>
         </md-select>
       </md-input-container>
       <span flex></span>
       <md-input-container style='margin-left: 20;'>
         <md-button class='topButton md-raised md-primary' ng-click='$ctrl.moveCompletionCriteriaUp($index)'>
           <md-icon>arrow_upward</md-icon>
           <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'moveUp' | translate }}</md-tooltip>
         </md-button>
         <md-button class='topButton md-raised md-primary' ng-click='$ctrl.moveCompletionCriteriaDown($index)'>
           <md-icon>arrow_downward</md-icon>
           <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'moveDown' | translate }}</md-tooltip>
         </md-button>
         <md-button class='topButton md-raised md-primary'
                    ng-click='$ctrl.deleteCompletionCriteria($index)'>
           <md-icon>delete</md-icon>
           <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
         </md-button>
       </md-input-container>
     </div>
   </div>
   <md-button class='topButton md-raised md-primary'
              ng-click='$ctrl.addCompletionCriteria()'>
     <md-icon>add</md-icon>
     <md-tooltip md-direction='top'
                 class='projectButtonTooltip'>
       {{ ::'addCompletionCriteria' | translate }}
     </md-tooltip>
   </md-button>
 </div>
</div>
</div>
<div>
<div style='height: 50;'>
 <label class='node__label--vertical-alignment'>
   {{ ::'CONNECTED_COMPONENTS' | translate }}
 </label>
 <md-button class='topButton md-raised md-primary'
            ng-click='$ctrl.addConnectedComponent()'>
   <md-icon>add</md-icon>
   <md-tooltip md-direction='top'
               class='projectButtonTooltip'>
     {{ ::'ADD_CONNECTED_COMPONENT' | translate }}
   </md-tooltip>
 </md-button>
</div>
<div ng-repeat='connectedComponent in $ctrl.authoringComponentContent.connectedComponents track by $index'
    style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'
    layout='row'>
 <div flex>
   <md-input-container style='margin-right: 20; width: 300;'>
     <label>{{ ::'step' | translate }}</label>
     <md-select ng-model='connectedComponent.nodeId'
                ng-change='$ctrl.connectedComponentNodeIdChanged(connectedComponent)'
                style='width: 300'>
       <md-option ng-repeat='item in $ctrl.idToOrder | toArray | orderBy : "order"'
                  value='{{item.$key}}'
                  ng-if='$ctrl.isApplicationNode(item.$key)'>
         {{ $ctrl.getNodePositionAndTitleByNodeId(item.$key) }}
       </md-option>
     </md-select>
   </md-input-container>
   <md-input-container style='margin-right: 20; width: 300;'>
     <label>{{ ::'component' | translate }}</label>
     <md-select ng-model='connectedComponent.componentId'
                ng-change='$ctrl.connectedComponentComponentIdChanged(connectedComponent)'
                style='width: 300'>
       <md-option ng-repeat='(componentIndex, component) in $ctrl.getComponentsByNodeId(connectedComponent.nodeId)'
                  value='{{component.id}}'
                  ng-disabled='!$ctrl.isConnectedComponentTypeAllowed(component.type) || component.id == $ctrl.componentId'>
         {{ componentIndex + 1 }}. {{ component.type }} <span ng-if='component.id == $ctrl.componentId'>({{ ::'thisComponent' | translate }})</span>
       </md-option>
     </md-select>
   </md-input-container>
   <md-input-container style='margin-right: 20; width: 200;'>
     <label>{{ ::'type' | translate }}</label>
     <md-select ng-model='connectedComponent.type'
                ng-change='$ctrl.componentChanged()'
                style='width: 200'>
       <md-option value='importWork'>
         {{ ::'importWork' | translate }}
       </md-option>
       <md-option value='showWork'>
         {{ ::'showWork' | translate }}
       </md-option>
     </md-select>
   </md-input-container>
   <span flex></span>
   <md-input-container style='margin-left: 20;'>
     <md-button class='topButton md-raised md-primary'
                ng-click='$ctrl.deleteConnectedComponent($index)'>
       <md-icon>delete</md-icon>
       <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
     </md-button>
   </md-input-container>
 </div>
</div>
</div>
<edit-component-json [node-id]="$ctrl.nodeId" [component-id]="$ctrl.componentId"></edit-component-json>
