<h2 class="standalone__title accent" i18n>Forgot Username or Password</h2>
<div class="standalone__content forgot"
     fxLayout="row"
     fxLayout.xs="column"
     fxFlexLayoutAlign="center center">
  <app-call-to-action fxFlex
                      icon="supervised_user_circle"
                      iconColor="accent"
                      i18n-headline
                      headline="Student"
                      i18n-content
                      content="Look up username or reset password for a student account"
                      destination="student"></app-call-to-action>
  <app-call-to-action fxFlex
                      icon="school"
                      iconColor="accent"
                      i18n-headline
                      headline="Teacher"
                      i18n-content
                      content="Look up username or reset password for a teacher account"
                      destination="teacher"></app-call-to-action>
</div>
