#svg_editor #tool_prompt a {
	font-size:1.1em;
}

#svg_editor #tool_prompt {
	clear: left;
    cursor: pointer;
    float: right;
    margin-right: 8px;
    position: relative;
    top: -1px;
}

#svg_editor #tool_prompt div {
	padding:2px;	
}

#svg_editor img.tool_prompt {
	vertical-align:middle;
	height:24px;
	margin-left:2px;
	cursor:pointer;
}