<header fxLayout="row wrap"
        fxLayout.xs="column"
        class="content__header"
        fxLayoutAlign="start center"
        fxLayoutAlign.xs="start"
        fxLayoutGap="16px">
  <h1 class="accent" fxLayoutAlign="start center" i18n="Student home title">
    <mat-icon>home</mat-icon>Student Home
  </h1>
  <span fxFlex fxHide.xs fxShow></span>
  <div>
    <button mat-raised-button
            (click)="showAddRun()"
            aria-label="Add unit"
            color="accent">
      <mat-icon>add</mat-icon>
      Add Unit
    </button>
  </div>
</header>
<section>
  <app-student-run-list></app-student-run-list>
</section>
