@import
  '~style/abstracts/functions',
  '~style/abstracts/variables',
  '~style/abstracts/mixins';

h1 {
  margin-bottom: 0;

  @media (max-width: breakpoint('xs.max')) {
    font-size: mat-font-size($config, title);
  }
}
