<h2 mat-dialog-title i18n>Share with Students</h2>
<mat-dialog-content>
  <div class="info-block">
    <p class="mat-subheading-2 accent-1">
      {{ run.project.name }} <span class="mat-caption" i18n>(Run ID: {{ run.id }})</span>
    </p>
    <p>
      <span i18n>Copy this link to share with your students:</span><br>
      <span class="share">
        <button mat-button aria-label-i18n aria-label="Copy link" 
                matTooltip="Copy link" matTooltipPosition="after" 
                [cdkCopyToClipboard]="link" (click)="copyMsg()">
          <mat-icon>content_copy</mat-icon>&nbsp;
          <span>{{ link }}</span>
        </button>
      </span>
    </p>
    <p>
      <span i18n>Students with WISE accounts can also select <strong>Add Unit+</strong> and type the Access Code:</span><br>
      <span class="share">
        <button mat-button aria-label-i18n aria-label="Copy Access Code" 
                matTooltip="Copy Access Code" matTooltipPosition="after" 
                [cdkCopyToClipboard]="run.runCode" (click)="copyMsg()">
          <mat-icon>content_copy</mat-icon>&nbsp;
          <span class="mat-body-2">{{ run.runCode }}</span>
        </button>
      </span>
    </p>
    <p *ngIf="isGoogleUser() && isGoogleClassroomEnabled() && run.project.wiseVersion !== 4">
      <span i18n>Add as an assignment in Google Classroom:</span><br>
      <span class="share">
        <button mat-raised-button (click)="checkClassroomAuthorization()">
          <img src="assets/img/icons/google-classroom.svg" alt="Google Classroom logo"/>
          <span i18n>Share to Google Classroom</span>
        </button>
      </span>
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions
     fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="end">
  <button mat-flat-button color="primary" mat-dialog-close i18n>Close</button>
</mat-dialog-actions>
