.color1 {color:#164CBA;}   /* vibrant blue */

#promptDiv {
	font-size:.9em;
	font-weight:bold;
	color: #000033;
	padding:15px 15px 20px 15px;
	text-align: left;
}

#promptDiv p {
	font-size:.9em;
	}

.instructionsReminder {
	float: right;
	text-align: right;
	margin: 2px 15px 0px 0;
	color: #333;
	vertical-align: middle;
}

.assessment {
	border:1px solid #A97E46;
	margin:7px 15px;
	padding:10px;
	font-size:.9em;
	font-weight:normal;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.assessment .promptDiv {
	margin-bottom:5px;
}

.assessment input[type='radio'], .assessment input[type='checkbox'] {
	margin-left:35px;
}

.assessment textarea {
	margin-left:25px;
	min-height:80px;
	width:90%;
	padding:5px;
}

.assessmentItemDiv {
	border: 1px solid #a97e46;
	margin: 3px 10px 15px 15px;
}

.choiceDiv, .checkboxChoiceDiv {
  margin: 5 0 5 0;
}

.choicetextSpan  {
	margin-left: 5px;
}

.stepAlreadyCompleteDiv  {
	font-weight:bold;
	margin:15px;
	color:#993300;
}

/* STYLING FOR QUESTIONNAIRE SUBMIT BUTTON */

#submitButtonDiv {
	margin: 10px auto;
}

.itemLabel {
	font-size:.7em;
	text-transform:uppercase;
	margin:0.25em 0.5em;
}

.promptText {
	color:#000;
	margin:3px 10px 15px 15px;
	line-height:150%;
}

.promptText2 {
	color:#666;
	font-size:80%;
}

#toggleSwitch {
	font-size:85%;
	padding:0px 5px;
	margin-bottom:3px;
	border:1px solid #999;
	background-color:#6666ff;
	color:#FFF;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#toggleSwitch:hover {
    background-color:#FFFF00;
    color:#000;
    cursor:pointer;
}

#promptContainer, .promptContainer {
	color:#000;
	font-size:.9em;
	margin:3px 10px 15px 15px;
	padding: 5px;
	border:1px solid #a97e46;
	line-height:130%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.assessmentlistRadioItemDiv {
	border: 1px dotted #a97e46;
	padding: 5px;
	margin: 0px 5px 0px 5px;
}

.starterSentence {
	float:right;
	margin-right:6px;
	margin-bottom:2px;
	font-size:.7em;
}

.starterSentence a {
	background-image:url(../../images/gradient-gray-button.png);
	background-position:top center;
	background-repeat:repeat-x;
	text-decoration: none;
	padding:0px 5px;
	margin-right:5px;
	border:1px solid #666;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.starterSentence a:hover {
	background-image:none;
	background-color:#FFFF00;
}
