// 1. Config

// 2. Base
.l-header {
    z-index: 3;

    .logo {
        margin-left: 0 !important;
        height: 36px;
        width: 36px;
        vertical-align: middle;
    }

    .logo-link {
        min-width: auto;
        display: none;
        padding: 0 4px;
        margin-right: 12px;

        @media only screen and (min-width: ($layout-breakpoint-xs)) {
            display: block;
        }

        &:hover, &:focus {
            border: 0 none;
        }
    }

    // Handle mobile portrait
    @media only screen and (max-width: ($layout-breakpoint-xs - 1)) {
        .md-toolbar-tools {
            h1, h2, h3 {
                font-size: $body-font-size-base;
            }
        }
    }
}
