// 1. Config

// 2. Base
.l-main {
  background-color: color('body-bg');
}

.l-main--with-toolbar {
  margin-top: $wise-toolbar-height;
}

#content {
  transition: margin-top 0.5s;
}

.view-content {
  margin: 0 auto;
  padding: 8px;
  position: absolute;
  left: 0;
  right: 0;
  transition: opacity 500ms;

  @media only screen and (min-width: $layout-breakpoint-sm) {
    padding: 16px;
  }

  &.ng-enter {
    opacity: 0;
  }

  .ng-enter-active {
    opacity: 1;
    transition-delay: 250ms;
  }

  &.ng-leave-active,
  &.ng-hide {
    opacity: 0;
  }

  &.ng-hide-add,
  &.ng-hide-add-active,
  &.ng-hide-remove,
  &.ng-hide-remove-active {
    opacity: 0;
  }
}

.view-content--with-sidemenu {
  padding: 8px;

  @media only screen and (min-width: $layout-breakpoint-xs) {
    margin-left: 54px;
    padding: 16px;
  }
}
[dir='rtl'] .view-content--with-sidemenu {
  @media only screen and (min-width: $layout-breakpoint-xs) {
    margin-left: auto;
    margin-right: 54px;
  }
}

.content-head {
  margin: 8px 0;

  h1,
  h2,
  h3 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    font-size: rem(3.6);

    @media only screen and (max-width: $layout-breakpoint-sm - 1) {
      font-size: rem(3.2);
      text-align: center;
    }
  }
}

.content-head__more {
  @media only screen and (max-width: $layout-breakpoint-sm - 1) {
    margin-top: 8px;
  }
}

.content-head__item,
h2.content-head__item {
  margin: 0 8px;

  .md-subhead {
    padding-left: 4px;

    @media only screen and (max-width: $layout-breakpoint-sm - 1) {
      display: block;
      padding-left: 0;
    }
  }

  md-icon {
    vertical-align: text-bottom;
  }
}

.stepSelectMenuContainer md-select-menu,
.stepSelectMenuContainer md-select-menu md-content {
  max-height: 500px;
}
