// 1. Config

// 2. Base
.l-node {
  margin-top: $wise-toolbar-height;
  padding: 0;

  @media only screen and (min-width: $layout-breakpoint-xs) {
    padding: 0 0 16px;
    background-color: color('body-bg') !important;
  }

  @media only screen and (min-width: $layout-breakpoint-sm) {
    padding: 0 0 32px;
  }
}
