mat-icon {
  color: #ef6c00!important;
  font-size: 36px;
  width: 36px;
  min-width: 0;
}

.pulse {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(0,0,0,0);
  }
  50% {
    box-shadow: 0 0 0 10px #ef6c00;
  }
  100% {
    box-shadow: 0 0 0 0 #ef6c00;
  }
}
