img#none{
	border:0px;
}

#heading{
	color:rgb(100,0,0);
	position:relative;
	left:300px;
	width:400px;
}

#heading2{
	color:rgb(100,0,0);
	position:relative;
	left:400px;
	width:150px;
}


#forgot1{
	position:relative;
	left:289px;
	top: 20px;
	height: 107px;
	width: 350px;
}

#forgot2{
	position:relative;
	left:239px;
	top: 20px;
	font-size:1.1em; 
	width: 500px;
}

#enterinfo{
	position:relative;
	left:370px;
	top:0px;
	width:300px;
}

#suggestions{
	position:relative;
	left:601px;
	top: 42px;
	width: 337px;
	font-size:1.1em;
	font-weight:100;
	border:1px black solid;
}

#footer{
	position:relative;
	left:300px;
	top: 150px;
	height:241px;
	font-size:1.05em;
	font-weight:100;
	width:350px;
}


#linkPos{
	position:relative;
	left:70px;
	top:10px;
	width:265px;
}

#linkPos2{
	font-size:1.1em;
	position:relative;
	left:100px;
	top:10px;
	width:165px;
}

#linkPos3{
	font-size:1.1em;
	position:relative;
	left:350px;
	top:80px;
	width:165px;
}

#linkPos4{
	font-size:1.1em;
	position:relative;
	left:400px;
	top:120px;
	width:165px;
}

#textPos{
	position:relative;
	left:170px;
	top:10px;
	width:30px;
}

#textPos2{
	position:relative;
	right:40px;
	top:20px;
	width:500px;
}

#signInAgain{
	position:relative;
	left:170px;
	top:40px;
}

#signIn3{
	position:relative;
	left:350px;
	top:200px;
}

#signIn4{
	position:relative;
	left:350px;
	top:70px;
}

#signIn5{
	position:relative;
	left:350px;
	top:70px;
}

#signIn6{
	position:relative;
	left:400px;
	top:70px;
}

img{
	border:0px;
}

#search{
	position:relative;
	top:60px;
	left:0px;
}

#submitPos{
	position:relative;
	left:275px;
}

#submittedAccountPasswords{
	padding:0px 15px 15px 15px;
	width:550px;
}

#submittedAccountPasswordBox{
	background-color:#CC9966;	
}

#passwordformStyle{
	border:1px black solid;
	background-color:#CC9966;
	padding:0px 15px 15px 15px;
}

label#passwordform{
	margin-right:15px;
	margin-left:25px;
	width:150px;
	text-align:left;
}

label#passwordform2{
	margin-right:15px;
	margin-left:19px;
	width:150px;
	text-align:left;
}

.center{
	text-align:center;
}

#forgotparagraph{
	padding-left:25px;
	padding-right:25px;
	width:450px;	
}

#forgotusernamelist{
	font-size:1.0em;
	padding: 10px; 
	width:500px;
	align:center;
	list-style-type:none;	
}

#forgotusernamelist li{
	padding-bottom:15px;
}

#forgotusernamesuggestions{
	padding:0px 5px;
	width:400px;
	border:1px solid black;
	align:center;
}

#forgotusernamesuggestions li{
	font-size:1.0em;
	text-align:left;
	padding: 12px 0 12px 0;
	margin:0;
	line-height:130%;
}

#studentpasswordremindersuggestion {
	font-size:1.0em;
	text-align:left;
	margin:30px auto;
	padding:10px 20px 20px 20px;
	width:500px;
	border:1px solid black;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#studentpasswordremindersuggestion li {
	line-height:150%; 
	margin-bottom:15px;
}

.reminderHighlight {
	color:#660000;
	}
	
#forgotUsernameLink {
	margin-left:130px;
	font-size:80%;
	color:blue;
}

#forgotUsernameLink:hover{
	background-color:#FFFF00;
}
	
#forgotUsernameReminder {
	margin:15px 0 0 15px;
	font-size:80%;
	color:#666;
}

.forgotPasswordInstructionText {
	font-size:1.1em;
	font-weight:bold;
	list-style-type:none;
}

.forgotPasswordInstructionText2 {
	font-size:1.1em;
	list-style-type:none;
	font-variant:small-caps;
	}
	
.forgotPasswordInstructionText3 {
	font-size:1.2em;
	list-style-type:none;
	color:#000099
		}

#passwordReminderLink {
	font-size:1.0em;
	font-weight:bold;
}

#passwordreminder1{
	text-align:justify;
	align:center;
	padding-left:15px;
	padding-right:15px;
	width:300px;	
}

#passwordreminder2{
	text-align:justify;
	align:left;
	padding-left:15px;
	padding-right:15px;
	width:400px;	
}

#next{
	align:right;
	text-align:right;
}

.dataBoxStyle {
	font-size:1.0em;
	font-weight:bold;
	color:#006633;
	padding: 3px;
	border-top: 1px solid #999999;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #999999;
		}

#finalPasswordReminderButtons {
	padding:15px;
	text-align:center;
}
	
#resultsTable {
	border-collapse:collapse;
	border:3px double black;
	text-align:center;
	background-color:#CCFF99;
	font-size:1.3em;
	width:30%;
	margin: 10px auto;
}

#resultsTable td {
	padding:3px;
	border:1px solid black
}
