<html>
<head>
<script>
	var getClassroomMonitorConfigUrl = null;

	function load(tempGetClassroomMonitorConfigUrl) {
		//eventManager.fire('classroomMonitorConfigUrlReceived', [getClassroomMonitorConfigUrl]);
		//alert(getClassroomMonitorConfigUrl);
		getClassroomMonitorConfigUrl = tempGetClassroomMonitorConfigUrl;
	}
	
	window.onload = function(){
		//scriptloader.bootstrap(this, bootstrapListener);
		window.parent.topiframeOnLoad();
	}
</script>
</head>
<body>
	<h1>Classroom Manager</h1>
	<div ng-view>
		<div ng-include="'nav.html'"></div>
		<div ui-view></div>
	</div>
	
	<script data-main='main' src='../../lib/require/require.js'></script>
</body>
</html>
