<div *ngIf="config.enabled" [ngClass]="{'notes-visible': notesVisible}">
    <div class="notebook-overlay"></div>
    <notebook-launcher *ngIf="config.itemTypes.note.enabled"
        [config]="config"
        [noteCount]="notebook.items.length"
        [notesVisible]="notesVisible"
        (onOpen)="open($event)">
    </notebook-launcher>
    <notebook-report *ngIf="config.itemTypes.report.enabled"
        [mode]="mode"
        [insertContent]="insertContent"
        [insertMode]="insertMode"
        [config]="config"
        [reportId]="reportId"
        [visible]="reportVisible"
        [workgroupId]="workgroupId"
        (onCollapse)="setInsertMode(false, requester)"
        (onSetInsertMode)="setInsertMode($event)">
    </notebook-report>
</div>
<notebook-notes *ngIf="config.enabled"
    [notebook]="notebook"
    [notesVisible]="notesVisible"
    [config]="config"
    [insertMode]="insertMode"
    [workgroupId]="workgroupId"
    (onClose)="closeNotes()"
    (onInsert)="insert($event)"
    (onSetInsertMode)="setInsertMode($event)">
</notebook-notes>