/* Navigation specific css and theme customization */

#vle_body #toggleNavLink.menu {
	padding-left:28px;
	background:transparent url('images/menu.png') no-repeat left center;
}

#vle_body #menuControls {
	padding:0 .25em !important;
}

#vle_body #menuControls a {
	font-size:.75em;
	color:#C5CD61;
	padding:0 .5em;
}

/* Styles for navigation menu elements */

.wmenu {
	margin: 0 auto;
	width:100%;
	font-family: Arial, Verdana, "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: .75em;
	height:100%;
	overflow:auto;
}

.wmenu .sequence {
	
}

.wmenu .sequence a {
	display:block;
	padding: 0.25em 0.5em;
}

.wmenu .sequenceTitle {
	
}

.wmenu .sequenceTitle a {
	color: #FFFFFF;
    font-weight: bold;
    padding: 0.5em;
    margin-right:.5em;
}

.wmenu .sequence.inactive .sequenceTitle a {
	padding-right:14px;
	background:transparent url('images/plus.png') no-repeat right center;
}

.wmenu .sequence.active .sequenceTitle a {
	padding-right:14px;
	background:transparent url('images/minus.png') no-repeat right center;
}

.wmenu a.step, .wmenu a.glue, .wmenu a.sequenceTitle {
	display: block;
}

.wmenu .step {
	
}

.wmenu a {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	
}

.wmenu .step a {
	background-color:#F4F2EF;
    color: #563C17;
}

.wmenu .step a:hover {
	text-decoration: none;
    color:#000;
    background-color:#EBE7E2;
}

.wmenu .step {
	border-bottom: 1px solid #EAE8E5;
}

.wmenu .step table {
	width:100%;
}

.wmenu .step table td img {
	vertical-align:top;
	max-width:18px;
	max-height:18px;
}

.wmenu .step table td.stepIcon {
	width:18px;
}

.wmenu .step table td.statusIcon {
	text-align: right;
    width: 18px;
}

.wmenu a.glue {
	
}

.wmenu .sequence {
	margin: 0 0 0.5em;
    padding: 0;
	/*background-color:#A4937A;*/
	background-color: #9D8B71;
	/*border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;*/
}

.wmenu .sequence:last-child {
	margin-bottom:0;
}

.wmenu .sequence.nested {
	border-left: .25em solid #745A34;
    margin-bottom: 0;
}

.wmenu .sequence.nested.inactive .sequenceTitle a {
	background:transparent url('images/plus.png') no-repeat right center;
}

.wmenu .sequence.nested.active .sequenceTitle a {
	background:transparent url('images/minus.png') no-repeat right center;
}

.wmenu .sequence.nested.hide {
	/*display:none;*/
}

.wmenu .sequence.nested.show {
	
}

.wmenu .step.inactive {
	/*display:none;*/
}

.wmenu .step.active {
	/*display:block;*/
}

.wmenu .step.constraintDisable a, .wmenu .step.constraintDisable a:hover {
	background-color: #BBBBBB;
    color: #777777;
}

.wmenu .step.menuStepHighlight a {
	background-color:#E2E896;
}

.wmenu .step.constraintHidden {
	display:none;
}

.wmenu .currentNode a {
	background-color: #FFFFFF !important;
    border-color: #F47F6E;
    border-style: solid;
    border-width: 0 0 0 0.5em;
    color: #000 !important;
    padding:.25em .5em .25em 0;
}

.wmenu .depth3 {
	/*margin-left: -1px;*/
}

.wmenu .depth4 {
	/*margin-left: 8px;*/
}

.wmenu .depth5 {
	/*margin-left: 12px;*/
}
