<div class="main main--fullwidth home">
  <app-hero-section [imgSrc]="hero.imgSrc" [imgSources]="hero.imgSources" 
                    [imgDescription]="hero.imgDescription">
    <ng-template #headlineTemplate>
      <div class="accent-2">
        <mat-icon [@jackInTheBox]="{value: '*', params: {delay: '1s'}}" svgIcon="ki-elicit"
                  i18n-aria-label aria-label="Elicit Ideas"></mat-icon>
        <mat-icon [@bounceIn]="{value: '*', params: {delay: '1500ms'}}" svgIcon="ki-add"
                  i18n-aria-label aria-label="Add Ideas"></mat-icon>
        <mat-icon [@rotateIn]="{value: '*', params: {delay: '2s'}}" svgIcon="ki-distinguish"
                  i18n-aria-label aria-label="Distinguish Ideas"></mat-icon>
        <mat-icon [@flipInY]="{value: '*', params: {delay: '2500ms'}}" svgIcon="ki-connect"
                  i18n-aria-label aria-label="Connect Ideas"></mat-icon>
      </div>
    </ng-template>
    <ng-template #taglineTemplate>
      <div [@flipInX]="{value: '*', params: {delay: '3500ms'}}" i18n>Integrated science learning and teaching with technology</div>
    </ng-template>
  </app-hero-section>
  <section class="section">
    <div class="section--fullwidth section--slant mat-app-background">
      <div class="content">
        <h1 class="accent section__header" ngClass="mat-display-1"
            [ngClass.xs]="{ 'mat-display-1': false }" i18n>The WISE Advantage</h1>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch"
             fxLayoutAlign.xs="center center" fxLayoutGap="32px" fxLayoutGap.sm="24px"
             fxLayoutGap.gt-sm="32px">
          <app-blurb *ngFor="let blurb of blurbs" fxFlex fxFlex.gt-xs="33" [imgSrc]="blurb.imgSrc"
                     [imgDescription]="blurb.imgDescription" [imgSources]="blurb.imgSources"
                     [content]="blurb.content" [headline]="blurb.headline">
            <ng-template *ngIf="blurb.contentTemplate" #contentTemplate>
              <span [innerHtml]="blurb.contentTemplate"></span>
            </ng-template>
            <ng-template *ngIf="blurb.headlineTemplate" #headlineTemplate>
              <span [innerHtml]="blurb.headlineTemplate"></span>
            </ng-template>
          </app-blurb>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="section--fullwidth section--slant section--slant--rtl app-background">
      <div class="content">
        <h1 class="accent section__header" ngClass="mat-display-1"
            [ngClass.xs]="{ 'mat-display-1': false }" i18n>Curriculum Offerings</h1>
        <app-home-page-project-library></app-home-page-project-library>
        <div class="library__links">
          <h2 class="accent-1 center" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px"
              fxLayoutAlign="center center" fxLayoutWrap>
            <span i18n>Ready to try WISE in the Classroom?</span>
            <a mat-raised-button color="accent" routerLink="/join" i18n>Sign up for free!</a>
          </h2>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="section--fullwidth section--slant mat-app-background">
      <div class="content">
        <h1 class="accent section__header" ngClass="mat-display-1"
            [ngClass.xs]="{ 'mat-display-1': false }" fxLayoutAlign="start center"
            fxLayoutGap="16px">
          <span i18n>Connect</span>
          <a href="https://www.facebook.com/wisetels/" target="_blank" mat-icon-button>
            <mat-icon svgIcon="facebook" i18n-aria-label aria-label="WISE on Facebook"></mat-icon>
          </a>
          <a href="https://twitter.com/WISETELS" target="_blank" mat-icon-button>
            <mat-icon svgIcon="twitter" i18n-aria-label aria-label="WISE on Twitter"></mat-icon>
          </a>
          <a href="https://github.com/WISE-Community" target="_blank" mat-icon-button>
            <mat-icon svgIcon="github" i18n-aria-label aria-label="WISE on Github"></mat-icon>
          </a>
        </h1>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch"
             fxLayoutAlign.xs="center center" fxLayoutGap="32px" fxLayoutGap.sm="24px"
             fxLayoutGap.gt-sm="32px">
          <app-call-to-action fxFlex fxFlex.gt-xs="33" icon="record_voice_over" iconColor="accent-1"
                              i18n-headline headline="News" i18n-content
                              content="Learn what's new in the WISE community." destination="/news">
          </app-call-to-action>
          <app-call-to-action fxFlex fxFlex.gt-xs="33" icon="live_help" iconColor="accent-2"
                              i18n-headline headline="Help + FAQs" i18n-content
                              content="View tutorials and common questions." destination="/help">
          </app-call-to-action>
          <app-call-to-action fxFlex fxFlex.gt-xs="33" icon="contact_mail" iconColor="accent"
                              i18n-headline headline="Contact Us" i18n-content
                              content="Want to get in touch? Send us a message."
                              destination="/contact"></app-call-to-action>
        </div>
      </div>
    </div>
  </section>
</div>