<div class="main main--fullwidth">
  <app-hero imgSrc="assets/img/wise-students-hero.jpg"
            headline="WISE"
            tagline="Integrated science learning and teaching with technology"></app-hero>
  <section class="section">
    <div class="section--fullwidth section--slant">
      <div class="content">
        <h1 class="accent section__header" ngClass="mat-display-1"
            [ngClass.xs]="{ 'mat-display-1': false }">
          The WISE Advantage
        </h1>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="section--fullwidth section--slant section--slant--rtl mat-app-background">
      <div class="content">
        <h1 class="accent section__header" ngClass="mat-display-1"
            [ngClass.xs]="{ 'mat-display-1': false }">
          Curriculum Offerings
        </h1>
        <app-library></app-library>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="section--fullwidth section--slant">
      <div class="content">
        <h1 class="accent section__header" ngClass="mat-display-1"
            [ngClass.xs]="{ 'mat-display-1': false }">
          Connect
        </h1>
      </div>
    </div>
  </section>
</div>

