
<html>
<head>
    <link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link data-require="font-awesome@*" data-semver="4.3.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel='stylesheet' href='/wise/wise5/lib/angular/angularTextAngular/textAngular.css'>
<style>
#prompt {
  font-weight: bold;
}
#saveButton {
  display: block;
}
.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}

.studentAssetReference {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    padding: 10px;
    margin: 5px;
    border: 3px solid #DDD;
}
</style>
</head>
<body>
<div class='openResponse' ng-controller='OpenResponseController as openResponseController'>
<style>
{{openResponseController.nodeContent.style}}
</style>
<div id='prompt' compile='openResponseController.getPrompt()'></div>
<!--  for styling textAngular (wysiwyg), see here: https://github.com/fraywing/textAngular/wiki/Getting-Started -->
<div text-angular id='responseTextarea'
    rows='{{openResponseController.getNumRows() || 20}}'
    cols='{{openResponseController.getNumColumns() || 100}}'
    ng-model='openResponseController.studentResponse'
    ng-disabled='openResponseController.isDisabled'
    ta-disabled='openResponseController.isDisabled'
    ng-change='openResponseController.studentDataChanged()'
    data-drop="true" 
    jqyoui-droppable="{onDrop: 'openResponseController.dropCallback(item, $index)'}">
    </div>
<button id='saveButton' 
    ng-click='openResponseController.saveButtonClicked()' 
    ng-disabled='openResponseController.isDisabled' 
    ng-show='openResponseController.showSaveButton()'>Save</button>
<button id='submitButton' 
    ng-click='openResponseController.submitButtonClicked()' 
    ng-disabled='openResponseController.isDisabled' 
    ng-show='openResponseController.showSubmitButton()'>Submit</button>
</div>
</body>
</html>
