<?xml version="1.0" encoding="UTF-8"?>
<!--
    * Copyright (c) 2006 Encore Research Group, University of Toronto
    * 
    * This library is free software; you can redistribute it and/or
    * modify it under the terms of the GNU Lesser General Public
    * License as published by the Free Software Foundation; either
    * version 2.1 of the License, or (at your option) any later version.
    *
    * This library is distributed in the hope that it will be useful,
    * but WITHOUT ANY WARRANTY; without even the implied warranty of
    * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    * Lesser General Public License for more details.
    *
    * You should have received a copy of the GNU Lesser General Public
    * License along with this library; if not, write to the Free Software
    * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
-->

<!-- $Id$ -->

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Force Hibernate to order SQL updates by the primary key value of the items being updated. This will result in fewer transaction deadlocks in highly concurrent systems. -->
        <property name="hibernate.order_updates">true</property>
        <!-- Enables autocommit for JDBC pooled connections (not recommended). -->
        <property name="hibernate.connection.autocommit">false</property>
        <!-- Pretty print the SQL in the log and console. -->
        <!-- <property name="hibernate.format_sql">true</property>   -->
        <mapping
            class="net.sf.sail.webapp.domain.authentication.impl.PersistentAclEntry" />
        <mapping
            class="net.sf.sail.webapp.domain.authentication.impl.PersistentAclSid" />
        <mapping
            class="net.sf.sail.webapp.domain.authentication.impl.PersistentAclTargetObject" />
        <mapping
            class="net.sf.sail.webapp.domain.authentication.impl.PersistentAclTargetObjectIdentity" />
        <mapping
            class="net.sf.sail.webapp.domain.authentication.impl.PersistentGrantedAuthority" />
        <mapping
            class="net.sf.sail.webapp.domain.authentication.impl.PersistentUserDetails" />
        <mapping class="net.sf.sail.webapp.domain.sds.SdsCurnit" />
        <mapping class="net.sf.sail.webapp.domain.sds.SdsJnlp" />
        <mapping class="net.sf.sail.webapp.domain.sds.SdsOffering" />
        <mapping class="net.sf.sail.webapp.domain.sds.SdsWorkgroup" />
        <mapping class="net.sf.sail.webapp.domain.sds.SdsUser" />
        <mapping class="net.sf.sail.webapp.domain.impl.CurnitImpl" />
        <mapping class="net.sf.sail.webapp.domain.impl.JnlpImpl" />
        <mapping class="net.sf.sail.webapp.domain.impl.OfferingImpl" />
        <mapping class="net.sf.sail.webapp.domain.impl.WorkgroupImpl" />
        <mapping class="net.sf.sail.webapp.domain.impl.UserImpl" />
        <mapping class="net.sf.sail.webapp.domain.group.impl.PersistentGroup" />
        <mapping class="net.sf.sail.webapp.domain.annotation.impl.AnnotationBundleImpl" />
    </session-factory>
</hibernate-configuration>
