<div>
  <mat-form-field class="model-file">
    <mat-label i18n>Model File Name</mat-label>
    <input matInput
        [(ngModel)]="authoringComponentContent.url"
        (ngModelChange)="inputChange.next($event)"/>
  </mat-form-field>
  <button mat-raised-button
      color="primary"
      class="button"
      (click)="showModelFileChooserPopup()"
      matTooltip="Choose Model File"
      matTooltipPosition="above"
      i18n-matTooltip>
    <mat-icon>insert_photo</mat-icon>
  </button>
</div>
<div fxLayout="row wrap" fxLayoutAlign="start center">
  <mat-form-field class="dimension">
    <mat-label i18n>Width (px) (optional)</mat-label>
    <input matInput
        type="number"
        [(ngModel)]="authoringComponentContent.width"
        (ngModelChange)="inputChange.next($event)"/>
  </mat-form-field>
  <mat-form-field class="dimension">
    <mat-label i18n>Height (px)</mat-label>
    <input matInput
        type="number"
        [(ngModel)]="authoringComponentContent.height"
        (ngModelChange)="inputChange.next($event)"/>
  </mat-form-field>
  <span fxFlex></span>
  <button mat-raised-button
      color="primary"
      class="button"
      (click)="reloadModel()"
      matTooltip="Reload Model"
      matTooltipPosition="above"
      i18n-matTooltip
      aria-label="Reload Model"
      i18n-aria-label>
    <mat-icon>refresh</mat-icon>
  </button>
</div>