<div>
  <div class='advancedAuthoringDiv' ng-if='htmlController.showAdvancedAuthoring'>
    <div>
      <h6>{{ ::'advancedAuthoringOptions' | translate }}</h6>
    </div>
    <edit-component-width [authoring-component-content]="htmlController.authoringComponentContent"></edit-component-width>
    <edit-component-rubric [authoring-component-content]="htmlController.authoringComponentContent"></edit-component-rubric>
    <edit-component-json [node-id]="htmlController.nodeId" [component-id]="htmlController.componentId"></edit-component-json>
  </div>
  <br/>
  <wise-authoring-tinymce-editor
      [(model)]='htmlController.html'
      (model-change)='htmlController.htmlChanged()'>
  </wise-authoring-tinymce-editor>
</div>
