<div ng-controller='HTMLController as htmlController'>
    <div ng-if='htmlController.mode === "authoring"'>
        {{ 'html' | translate }}
        <br/>
        <textarea ng-model='htmlController.authoringComponentContent.html'
                  ng-change='htmlController.authoringViewComponentChanged()'
                  ng-model-options='{ debounce: 1000 }'
                  rows='10'
                  cols='100'></textarea>
        <textarea ng-model='htmlController.authoringComponentContentJSONString'
                  ng-change='htmlController.advancedAuthoringViewComponentChanged()'
                  ng-model-options="{ updateOn: 'blur' }"
                  rows='10'
                  cols='100'></textarea>
    </div>
    <div><compile data='htmlController.componentContent.html'></compile></div>
</div>
