<div ng-controller='HTMLController as htmlController'>
    <div ng-if='htmlController.mode === "authoring"'>
        <summernote id='{{htmlController.summernotePromptId}}'
                  ng-model='htmlController.summernotePromptHTML'
                  ng-change='htmlController.summernotePromptHTMLChanged()'
                  config='htmlController.summernotePromptOptions'
                  ng-model-options='{ debounce: 1000 }'
                  rows='10'
                  cols='100'></summernote>
        <div>
            <md-button class='topButton md-raised md-primary' ng-click='htmlController.showAdvancedAuthoring = !htmlController.showAdvancedAuthoring'>
                <md-icon>build</md-icon>
                <md-tooltip md-direction="top" class="projectButtonTooltip">{{ "ADVANCED" | translate }}</md-tooltip>
            </md-button>
            <div ng-if='htmlController.showAdvancedAuthoring'>
                <div>
                    {{ 'COMPONENT_WIDTH' | translate }}:
                    <input type='number'
                           ng-model='htmlController.authoringComponentContent.componentWidth'
                           ng-change='htmlController.authoringViewComponentChanged()'
                           ng-model-options='{ debounce: 1000 }'
                           style='width: 3em'/>
                    <br/>
                    <button ng-click='htmlController.showRubricAuthoring = !htmlController.showRubricAuthoring'>
                        {{ 'EDIT_COMPONENT_RUBRIC' | translate }}
                    </button>
                    <div ng-if='htmlController.showRubricAuthoring'>
                        <summernote id='{{htmlController.summernoteRubricId}}'
                                    ng-model='htmlController.summernoteRubricHTML'
                                    ng-change='htmlController.summernoteRubricHTMLChanged()'
                                    config='htmlController.summernoteRubricOptions'
                                    ng-model-options='{ debounce: 1000 }'
                                    rows='10'
                                    cols='100'>
                        </summernote>
                    </div>
                </div>
                <div>
                    <button ng-click='htmlController.showJSONAuthoring = !htmlController.showJSONAuthoring'>
                            {{ 'SHOW_JSON' | translate }}
                    </button>
                    <br/>
                    <div ng-if='htmlController.showJSONAuthoring'>
                        <textarea ng-model='htmlController.authoringComponentContentJSONString'
                                  ng-change='htmlController.advancedAuthoringViewComponentChanged()'
                                  ng-model-options="{ updateOn: 'blur' }"
                                  rows='10'
                                  cols='100'></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if='htmlController.mode !== "authoring"'><compile data='htmlController.componentContent.html'></compile></div>
</div>
