@import "compass";

// Angular Material customizations and additions
$body-font-size-base:      rem(1.500);
$caption-font-size-base:   rem(1.300);

h1 {
  font-size: $display-3-font-size-base;
}

h2 {
  font-size: $display-2-font-size-base;
}

h3 {
  font-size: $display-1-font-size-base;
}

h4 {
  font-size: $headline-font-size-base;
}

h5 {
  font-size: $title-font-size-base;
}

h6 {
  font-size: $subhead-font-size-base;
}


md-toolbar {
  min-height: $baseline-grid * 6.5;

  .md-menu {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.md-toolbar-tools--fit {
  width: auto;
  padding: 0;

  .md-button {
    align-self: flex-start;
  }

  h1, h2, h3 {
    padding: $baseline-grid 0;
  }
}

md-card[md-ink-ripple], md-card-content[md-ink-ripple] {
  position: relative;
  cursor: pointer;
}

md-card {
  @include border-radius($card-border-radius);
}

md-progress-linear:not([md-mode="indeterminate"]) {

  .md-container.md-ready {
    transform: none;
  }

  .md-container {
    transition: none;
  }
}

md-list-item .md-list-item-inner {
  line-height: 1.25em;
}

md-list-item .md-list-item-inner>.md-avatar:first-child, md-list-item>.md-avatar:first-child {
  display: flex;
}

md-input-container:not(.md-input-invalid):not(.md-input-focused).md-input-has-value label {
  color: rgba(0,0,0,0.87) !important;
}

.md-button {
  @media (max-width: $layout-breakpoint-sm - 1) {
    min-width: 60px;
    min-height: 28px;
    line-height: 28px;
  }
}
