// Angular Material customizations and additions

md-toolbar {
  min-height: $baseline-grid * 6.5;

  .md-menu {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.md-toolbar-tools--fit {
  width: auto;

  .md-button {
    align-self: flex-start;
  }

  h1, h2, h3 {
    padding: 8px 0;
  }
}

md-card[md-ink-ripple], md-card-content[md-ink-ripple] {
  position: relative;
  cursor: pointer;
}