@import "compass";

// Angular Material customizations and additions

md-toolbar {
  min-height: $baseline-grid * 6.5;

  .md-menu {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.md-toolbar-tools--fit {
  width: auto;
  padding: 0;

  .md-button {
    align-self: flex-start;
  }

  h1, h2, h3 {
    padding: $baseline-grid 0;
  }
}

md-card[md-ink-ripple], md-card-content[md-ink-ripple] {
  position: relative;
  cursor: pointer;
}

md-card {
  @include border-radius(4px);
}

md-progress-linear:not([md-mode="indeterminate"]) {

  .md-container.md-ready {
    transform: none;
  }

  .md-container {
    transition: none;
  }
}

md-list-item .md-list-item-inner {
  line-height: 1.25em;
}

md-list-item .md-list-item-inner>.md-avatar:first-child, md-list-item>.md-avatar:first-child {
  display: flex;
}
