<ng-template #linkContent>
  <div *ngIf="headline || headlineRef"
       class="cta__headline primary"
       fxLayoutAlign="center center">
    <span>
      <ng-container *ngTemplateOutlet="headlineRef ? headlineRef: defaultHeadline"></ng-container>
    </span>
    <span fxFlex></span>
    <mat-icon color="primary">add</mat-icon>
  </div>
  <div>
    <mat-icon *ngIf="isSvgIcon"
              class="cta__icon"
              [ngClass]="iconColor"
              svgIcon="{{ icon }}"></mat-icon>
    <mat-icon *ngIf="!isSvgIcon"
              class="cta__icon" [ngClass]="iconColor">{{ icon }}</mat-icon>
    <ng-template #defaultHeadline>{{ headline }}</ng-template>
    <ng-template #defaultContent>{{ content }}</ng-template>
    <div *ngIf="content || contentRef"
         class="cta__tagline mat-subheading-2">
      <ng-container *ngTemplateOutlet="contentRef ? contentRef: defaultContent"></ng-container>
    </div>
  </div>
</ng-template>

<a *ngIf="isOutsideLink"
   mat-button
   class="cta">
  <div class="cta__wrap"
       fxFlexLayout="column"
       fxLayoutAlign="center stretch">
    <ng-container *ngTemplateOutlet="linkContent"></ng-container>
  </div>
</a>

<a *ngIf="!isOutsideLink"
   mat-button
   class="cta"
   routerLink="{{ destination }}">
  <div class="cta__wrap"
       fxFlexLayout="column"
       fxLayoutAlign="center stretch">
    <ng-container *ngTemplateOutlet="linkContent"></ng-container>
  </div>
</a>
