<mat-card class="standalone__content standalone__content--sm mat-elevation-z4 center">
  <mat-card-content>
    <h2 class="standalone__title accent">Create Account</h2>
    <p class="mat-body-2">
      Hi! There is already a WISE user with this Google account.
    </p>
    <mat-card-actions>
      <button class="button--social-login button--google"
              color="accent"
              mat-raised-button
              (click)="socialSignIn('google')">
        <img src="assets/img/icons/g-logo.png" alt="Google logo" />Sign in with Google
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
