<div style='width: 95%;'>
  <highchart config='summaryDisplayCtrl.chartConfig'></highchart>
  <br/>
  <div style='display: flex; justify-content: center'>
    <b>
    <span ng-if='summaryDisplayCtrl.studentDataType === "responses"'>
        {{ 'RESPONSES' | translate }} / {{ 'TOTAL_WORKGROUPS' | translate }}:
    </span>
    <span ng-if='summaryDisplayCtrl.studentDataType === "scores"'>
        {{ 'SCORES' | translate }} / {{ 'TOTAL_WORKGROUPS' | translate }}:
    </span>
    <span>{{summaryDisplayCtrl.numResponses}}</span> /
    <span>{{summaryDisplayCtrl.totalWorkgroups}}</span>
    </b>
  </div>
  <div style='display: flex; justify-content: center'>
    <b>
    <span ng-if='summaryDisplayCtrl.studentDataType === "responses"'>
        {{ 'PERCENT_OF_CLASS_RESPONDED' | translate }}:
    </span>
    <span ng-if='summaryDisplayCtrl.studentDataType === "scores"'>
        {{ 'PERCENT_OF_CLASS_SCORED' | translate }}:
    </span>
    <span>{{summaryDisplayCtrl.percentResponded}}%</span>
    </b>
  </div>
  <br/>
</div>