<ng-template #notebookItems let-group="group">
  <div class="notes" fxLayout="row wrap">
    <p *ngIf="!hasPrivateNotes"
        class="empty"
        i18n>You haven't created any {{label.plural}} yet.</p>
    <ng-container *ngFor="let note of group.items">
      <notebook-item *ngIf="note.serverDeleteTime == null"
          [config]="config"
          [group]="group.name"
          [itemId]="note.localNotebookItemId"
          [isChooseMode]="insertArgs.insertMode"
          [note]="note"
          (onSelect)="select($event)"
          fxFlex="100"
          fxFlex.gt-xs="50">
      </notebook-item>
    </ng-container>
  </div>
</ng-template>

<ng-template #oneGroup>
  <div class="center">
    <ng-container *ngTemplateOutlet="notebookItems; context: {group: groups[0]}"></ng-container>
  </div>
</ng-template>

<ng-template #multipleGroups>
  <mat-tab-group [selectedIndex]="selectedTabIndex"
      (selectedIndexChange)="selectedTabIndex = $event"
      animationDuration="0ms">
    <mat-tab *ngFor="let group of groups" [disabled]="group.disabled" [label]="group.title">
      <div class="center">
        <ng-container *ngTemplateOutlet="notebookItems; context: {group: group}"></ng-container>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<div class="notebook-notes" [class.insert-mode]="insertArgs.insertMode">
  <ng-container *ngIf="mode !== 'classroomMonitor'">
    <mat-toolbar role="heading">
      <h4 *ngIf="insertArgs.insertMode" class="info" i18n>Select item to insert</h4>
      <h4 *ngIf="!insertArgs.insertMode">{{label.link}}</h4>
      <span fxFlex></span>
      <button (click)="close()"
          mat-icon-button
          i18n-aria-label
          attr.aria-label="Close {{label.link}}">
        <mat-icon class="secondary-text">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <div class="notes-wrapper">
      <ng-container [ngTemplateOutlet]="groups.length > 1 ? multipleGroups : oneGroup">
      </ng-container>
    </div>
    <button *ngIf="config.itemTypes.note.enableAddNote"
        class="new-note"
        mat-fab
        color="accent"
        i18n-aria-label
        attr.aria-label="Add {{label.singular}}"
        i18n-matTooltip
        matTooltip="Add {{label.singular}}"
        matTooltipPosition="above"
        (click)="addNote()">
      <mat-icon>add</mat-icon>
    </button>
  </ng-container>
  <div class="notes notes-grading" *ngIf="mode === 'classroomMonitor'">
    <div *ngFor="let group of groups">
      <h4 *ngIf="groups.length > 1" class="group-header mat-body-2 secondary-text">
        {{group.title}}
      </h4>
      <p *ngIf="group.name === 'private' && !hasPrivateNotes" class="empty" i18n>
        Team hasn't created any {{label.plural}} yet.
      </p>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <ng-container *ngFor="let note of group.items">
          <notebook-item *ngIf="note.serverDeleteTime == null && this.workgroupId === note.workgroupId"
              [config]="config"
              [group]="group.name"
              [itemId]="note.localNotebookItemId"
              [isChooseMode]="insertArgs.insertMode"
              [note]="note"
              (onSelect)="select($event)"
              fxFlex="100"
              fxFlex.gt-xs="50"
              fxFlex.gt-sm="33"
              fxFlex.gt-md="25">
          </notebook-item>
        </ng-container>
      </div>
    </div>
  </div>
</div>
