<div class="component--grading__response__content match-grading">
  <div class="match-content">
    <div fxLayout="row wrap">
      <div class="match-bucket match-bucket--choices"
          fxFlex="100"
          fxFlex.gt-sm="{{isHorizontal ? 50: 100}}">
        <mat-card>
          <mat-card-header>
            <mat-card-title [innerHTML]="sourceBucket.value"
                class="primary mat-body-2">
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="match-bucket__content">
            <mat-list class="match-bucket__contents columns-2">
              <div class="match-bucket__item"
                  *ngFor="let item of sourceBucket.items">
                <mat-list-item class="match-bucket__item__contents">
                  <p mat-line>
                    <span class="match-bucket__item__contents__text"
                        [innerHTML]="item.value">
                    </span>
                  </p>
                  <p class="match-feedback mat-body-2"
                      *ngIf="item.feedback != null && item.feedback !== ''"
                      mat-line
                      [ngClass]="{'success-bg': !hasCorrectAnswer || item.isCorrect, 'info-bg': item.isIncorrectPosition, 'warn-bg': hasCorrectAnswer && !item.isCorrect}"
                      fxLayoutAlign="start center">
                    <mat-icon *ngIf="hasCorrectAnswer && item.isCorrect">
                      check
                    </mat-icon>
                    <mat-icon *ngIf="hasCorrectAnswer && item.isIncorrectPosition">
                      warning
                    </mat-icon>
                    <mat-icon *ngIf="hasCorrectAnswer && !item.isCorrect && !item.isIncorrectPosition">
                      clear
                    </mat-icon>
                    <span [innerHTML]="item.feedback">
                    </span>
                  </p>
                </mat-list-item>
              </div>
            </mat-list>
          </mat-card-content>
        </mat-card>
        <mat-divider class="match-divider {{isHorizontal ? 'match-divider--horizontal' : ''}}"></mat-divider>
      </div>
      <div fxLayout="row wrap"
          fxLayoutAlign="center start"
          fxFlex="100"
          fxFlex.gt-sm="{{isHorizontal ? 50 : 100}}">
        <div *ngFor="let bucket of targetBuckets; index as bucketIndex"
            class="match-bucket"
            fxFlex="100"
            fxFlex.gt-sm="{{isHorizontal ? 100 : bucketWidth}}">
          <mat-card>
            <mat-card-header>
              <mat-card-title [innerHTML]="bucket.value"
                  class="primary mat-body-2"></mat-card-title>
            </mat-card-header>
            <mat-card-content class="match-bucket__content">
              <mat-list class="match-bucket__contents">
                <div class="match-bucket__item"
                    *ngFor="let item of bucket.items">
                  <mat-list-item class="match-bucket__item__contents">
                    <p mat-line>
                      <span class="match-bucket__item__contents__text"
                          [innerHTML]="item.value">
                      </span>
                    </p>
                    <p class="match-feedback mat-body-2"
                        *ngIf="item.feedback != null && item.feedback !== ''"
                        mat-line
                        [ngClass]="{'success-bg': !hasCorrectAnswer || item.isCorrect, 'info-bg': item.isIncorrectPosition, 'warn-bg': hasCorrectAnswer && !item.isCorrect}"
                        fxLayoutAlign="start center">
                      <mat-icon *ngIf="hasCorrectAnswer && item.isCorrect">
                        check
                      </mat-icon>
                      <mat-icon *ngIf="hasCorrectAnswer && item.isIncorrectPosition">
                        warning
                      </mat-icon>
                      <mat-icon *ngIf="hasCorrectAnswer && !item.isCorrect && !item.isIncorrectPosition">
                        clear
                      </mat-icon>
                      <span [innerHTML]="item.feedback">
                      </span>
                    </p>
                  </mat-list-item>
                </div>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="md-caption"
        *ngIf="hasCorrectAnswer && componentContent.maxSubmitCount != null"
        i18n>
      You have used {{componentState.studentData.submitCounter}} of {{componentContent.maxSubmitCount}} attempt(s)
    </div>
    <div *ngIf="hasCorrectAnswer && componentState.studentData.isCorrect === true"
        class="success"
        i18n>
      Correct
    </div>
    <div *ngIf="hasCorrectAnswer && componentState.studentData.isCorrect === false"
        class="warn"
        i18n>
      Incorrect
    </div>
  </div>
</div>