.mat-card {
  padding: 0px;
  margin: 8px;
}

.mat-card-title {
  font-size: 15px;
  font-weight: 500;
  color: #1c8ca8;
  margin-top: 8px;
  margin-bottom: 8px !important;
}

.match-bucket__item {
  cursor: auto !important;
}

.mat-list-item {
  width: 90% !important;
  height: 100% !important;
}

::ng-deep .mat-list-item-content {
  padding: 0px !important;
}

::ng-deep .mat-list .mat-list-item .mat-line {
  white-space: pre-wrap;
}
