.header-signin {
  background-color: rgba(white, .12);
  margin-left: 4px;
  font-weight: 400;
  color: rgba(white, 0.54);

  a {
    font-weight: 500;
    color: white !important;
    padding: 2px;
  }
}
