<style>
  {{labelController.nodeContent.style}}
  .studentButton {
    min-width: 50px;
    max-width: 50px;
  }
</style>

<div flex>
  <div class='advancedAuthoringDiv'
       ng-if='labelController.showAdvancedAuthoring'>
    <div>
      <h6>{{ ::'advancedAuthoringOptions' | translate }}</h6>
    </div>
    <div>
      <md-checkbox class='md-primary'
                   ng-model='labelController.authoringComponentContent.showSaveButton'
                   ng-change='labelController.authoringViewComponentChanged()'>
        {{ ::'SHOW_SAVE_BUTTON' | translate }}
      </md-checkbox>
    </div>
    <div>
      <md-checkbox class='md-primary'
                   ng-model='labelController.authoringComponentContent.showSubmitButton'
                   ng-change='labelController.authoringViewComponentChanged()'>
        {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
      </md-checkbox>
    </div>
    <div>
      <md-checkbox class='md-primary'
                   ng-if='labelController.isNotebookEnabled()'
                   ng-model='labelController.authoringComponentContent.showAddToNotebookButton'
                   ng-change='labelController.authoringViewComponentChanged()'>
        {{ ::'SHOW_ADD_TO_NOTEBOOK_BUTTON' | translate }}
      </md-checkbox>
    </div>
    <div>
      <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                          ng-if='labelController.authoringComponentContent.showSubmitButton'>
        <label>{{ ::'MAX_SUBMIT' | translate }}</label>
        <input type='number'
               ng-model='labelController.authoringComponentContent.maxSubmitCount'
               ng-model-options='{ debounce: 1000 }'
               ng-change='labelController.authoringViewComponentChanged()'/>
      </md-input-container>
    </div>
    <div layout="column" layout-align="start start">
      <edit-component-max-score [authoring-component-content]="labelController.authoringComponentContent"></edit-component-max-score>
      <edit-component-width [authoring-component-content]="labelController.authoringComponentContent"></edit-component-width>
      <edit-component-rubric [authoring-component-content]="labelController.authoringComponentContent"></edit-component-rubric>
    </div>
    <div>
      <div>
        <label class='node__label--vertical-alignment'>
          {{ ::'CONNECTED_COMPONENTS' | translate }}
        </label>
        <md-button class='topButton md-raised md-primary'
                   ng-click='labelController.addConnectedComponent()'>
          <md-icon>add</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'ADD_CONNECTED_COMPONENT' | translate }}
          </md-tooltip>
        </md-button>
      </div>
      <div ng-repeat='connectedComponent in labelController.authoringComponentContent.connectedComponents track by $index'
           style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
        <div flex>
          <md-input-container style='margin-right: 20px; width: 300px;'>
            <label>{{ ::'step' | translate }}</label>
            <md-select ng-model='connectedComponent.nodeId'
                       ng-change='labelController.connectedComponentNodeIdChanged(connectedComponent)'
                       style='width: 300px'>
              <md-option ng-repeat='item in labelController.idToOrder | toArray | orderBy : "order"'
                         value='{{item.$key}}'
                         ng-if='labelController.isApplicationNode(item.$key)'>
                {{ labelController.getNodePositionAndTitleByNodeId(item.$key) }}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 300px;'>
            <label>{{ ::'component' | translate }}</label>
            <md-select ng-model='connectedComponent.componentId'
                       ng-change='labelController.connectedComponentComponentIdChanged(connectedComponent)'
                       style='width: 300px'>
              <md-option ng-repeat='(componentIndex, component) in labelController.getComponentsByNodeId(connectedComponent.nodeId)'
                         value='{{component.id}}'
                         ng-disabled='!labelController.isConnectedComponentTypeAllowed(component.type) || component.id == labelController.componentId'>
                {{ componentIndex + 1 }}. {{ component.type }}
                <span ng-if='component.id == labelController.componentId'>
                  ({{ ::'thisComponent' | translate }})
                </span>
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 200px;'>
            <label>{{ ::'type' | translate }}</label>
            <md-select ng-model='connectedComponent.type'
                       ng-change='labelController.connectedComponentTypeChanged(connectedComponent)'
                       style='width: 200px'>
              <md-option value='importWork'>
                {{ ::'importWork' | translate }}
              </md-option>
              <md-option value='showWork'>
                {{ ::'showWork' | translate }}
              </md-option>
            </md-select>
          </md-input-container>
          <span flex></span>
          <md-input-container style='margin-left: 20px;'>
            <md-button class='topButton md-raised md-primary'
                       ng-click='labelController.deleteConnectedComponent($index)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'DELETE' | translate }}
              </md-tooltip>
            </md-button>
          </md-input-container>
        </div>
        <div ng-if='labelController.getConnectedComponentType(connectedComponent) == "OpenResponse"' flex>
          <md-input-container style='margin-right: 20px;'>
            <md-checkbox class='md-primary'
                         ng-model='connectedComponent.importWorkAsBackground'
                         ng-change='labelController.importWorkAsBackgroundClicked(connectedComponent)'>
              {{ ::'importWorkAsBackground' | translate }}
            </md-checkbox>
          </md-input-container>
          <div ng-if='connectedComponent.importWorkAsBackground'
               style='display: inline;'>
            <md-input-container style='margin-right: 20px; width: 200px; height: 30px;'>
              <label>{{ ::'label.charactersPerLine' | translate }}</label>
              <input ng-model='connectedComponent.charactersPerLine'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='labelController.authoringViewComponentChanged()'/>
            </md-input-container>
            <md-input-container style='margin-right: 20px width: 200px; height: 30px;'>
              <label>{{ ::'label.spaceInbetweenLines' | translate }}</label>
              <input ng-model='connectedComponent.spaceInbetweenLines'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='labelController.authoringViewComponentChanged()'/>
            </md-input-container>
            <md-input-container style='margin-right: 20px width: 100px; height: 30px;'>
              <label>{{ ::'label.fontSize' | translate }}</label>
              <input ng-model='connectedComponent.fontSize'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='labelController.authoringViewComponentChanged()'/>
            </md-input-container>
          </div>
        </div>
        <div ng-if='labelController.getConnectedComponentType(connectedComponent) == "ConceptMap" || labelController.getConnectedComponentType(connectedComponent) == "Draw" || labelController.getConnectedComponentType(connectedComponent) == "Embedded" || labelController.getConnectedComponentType(connectedComponent) == "Graph" || labelController.getConnectedComponentType(connectedComponent) == "Table"' flex>
          <md-input-container style='margin-right: 20px;'>
            <md-checkbox class='md-primary'
                         ng-model='connectedComponent.importWorkAsBackground'
                         ng-change='labelController.importWorkAsBackgroundClicked(connectedComponent)'
                         ng-disabled='true'>
              {{ ::'importWorkAsBackground' | translate }}
            </md-checkbox>
          </md-input-container>
        </div>
      </div>
    </div>
    <div style='margin-top: 10px; margin-bottom: 10px;'>
      <div style='height: 50px;'>
        <label class='node__label--vertical-alignment'>
          {{ ::'tags' | translate }}
        </label>
        <md-button class='topButton md-raised md-primary'
                   ng-click='labelController.addTag()'>
          <md-icon>add</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'addTag' | translate }}
          </md-tooltip>
        </md-button>
      </div>
      <div ng-repeat='tag in labelController.authoringComponentContent.tags track by $index'>
        <div layout='row'>
          <md-input-container style='margin-bottom: 0px'>
            <label></label>
            <input ng-model='labelController.authoringComponentContent.tags[$index]'
                   ng-change='labelController.authoringViewComponentChanged()'
                   ng-model-options='{ debounce: 1000 }'
                   size='100'
                   placeholder='{{ ::"enterTag" | translate }}'/>
          </md-input-container>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='labelController.moveTagUp($index)'>
            <md-icon>arrow_upward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'moveUp' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='labelController.moveTagDown($index)'>
            <md-icon>arrow_downward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'moveDown' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='labelController.deleteTag($index)'>
            <md-icon>delete</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'DELETE' | translate }}
            </md-tooltip>
          </md-button>
        </div>
      </div>
    </div>
    <edit-component-json [node-id]="labelController.nodeId" [component-id]="labelController.componentId"></edit-component-json>
  </div>
  <br/>
  <div>
    <div ng-if='!labelController.authoringComponentContent.showPreviousWork'>
      <md-input-container style='width:100%'>
        <label>{{ ::'PROMPT' | translate }}</label>
        <textarea rows='1'
                  ng-model='labelController.authoringComponentContent.prompt'
                  ng-change='labelController.authoringViewComponentChanged()'
                  ng-model-options='{ debounce: 1000 }'
                  placeholder='{{ ::"enterPromptHere" | translate }}'>
      </textarea>
      </md-input-container>
      <div style='height: 60px;'>
        <md-input-container>
          <label>{{ ::'BACKGROUND_IMAGE' | translate }}</label>
          <input size='100'
                 ng-model='labelController.authoringComponentContent.backgroundImage'
                 ng-change='labelController.authoringViewComponentChanged()'/>
        </md-input-container>
        <md-button class='topButton md-raised md-primary'
                   ng-click='labelController.chooseBackgroundImage()'>
          <md-icon>insert_photo</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'chooseAnImage' | translate }}
          </md-tooltip>
        </md-button>
      </div>
      <div style='height: 60px;'>
        <md-input-container>
          <label>{{ ::'label.canvasWidth' | translate }}</label>
          <input type='number'
                 style='width: 200px'
                 ng-model='labelController.authoringComponentContent.width'
                 ng-change='labelController.authoringViewComponentChanged()'/>
        </md-input-container>
        <md-input-container>
          <label>{{ ::'label.canvasHeight' | translate }}</label>
          <input type='number'
                 style='width: 200px'
                 ng-model='labelController.authoringComponentContent.height'
                 ng-change='labelController.authoringViewComponentChanged()'/>
        </md-input-container>
      </div>
      <div style='height: 60px;'>
        <md-input-container>
          <label>{{ ::'label.pointSize' | translate }}</label>
          <input type='number'
                 style='width: 200px'
                 ng-model='labelController.authoringComponentContent.pointSize'
                 ng-change='labelController.authoringViewComponentChanged()'/>
        </md-input-container>
        <md-input-container>
          <label>{{ ::'label.fontSize' | translate }}</label>
          <input type='number'
                 style='width: 200px'
                 ng-model='labelController.authoringComponentContent.fontSize'
                 ng-change='labelController.authoringViewComponentChanged()'/>
        </md-input-container>
        <md-input-container>
          <label>{{ ::'label.labelWidth' | translate }}</label>
          <input type='number'
                 style='width: 200px'
                 ng-model='labelController.authoringComponentContent.labelWidth'
                 ng-change='labelController.authoringViewComponentChanged()'/>
        </md-input-container>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='labelController.authoringComponentContent.canCreateLabels'
                     ng-change='labelController.authoringViewComponentChanged()'>
          {{ ::'label.canStudentCreateLabels' | translate }}
        </md-checkbox>
        <br/>
        <md-checkbox class='md-primary'
                     ng-model='labelController.authoringComponentContent.enableCircles'
                     ng-change='labelController.authoringViewComponentChanged()'>
          {{ ::'label.enableDots' | translate }}
        </md-checkbox>
        <br/>
        <md-checkbox class='md-primary'
                     ng-model='labelController.authoringComponentContent.enableStudentUploadBackground'
                     ng-change='labelController.authoringViewComponentChanged()'>
          {{ ::'label.allowStudentToUploadImageForBackground' | translate }}
        </md-checkbox>
      </div>
      <div>
        <div layout='row'>
          <h6>{{ ::'label.starterLabels' | translate }}</h6>
          <md-button class='topButton md-raised md-primary'
                     ng-click='labelController.addLabelClicked()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'label.addStarterLabel' | translate }}
            </md-tooltip>
          </md-button>
        </div>
        <div ng-if='labelController.authoringComponentContent.labels == null || labelController.authoringComponentContent.labels.length == 0'>
          {{ ::'label.thereAreNoStarterLabels' | translate }}
        </div>
        <div ng-repeat='label in labelController.authoringComponentContent.labels track by $index'
             style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
          <div style='height: 60px;'>
            <md-input-container style='margin-right: 20px;'>
              <label>{{ ::'TEXT' | translate }}</label>
              <input ng-model='label.text'
                     ng-change='labelController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'
                     size='50'
                     placeholder='{{ ::"label.enterLabelTextHere" | translate }}'/>
            </md-input-container>
            <md-input-container>
              <label>{{ ::'label.color' | translate }}</label>
              <input ng-model='label.color'
                     ng-change='labelController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'/>
            </md-input-container>
            <md-button class='topButton md-raised md-primary'
                       ng-click='labelController.openColorViewer()'>
              <md-icon>palette</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'label.viewColors' | translate }}
              </md-tooltip>
            </md-button>
          </div>
          <div style='height: 80px; margin-top: 10px;'>
            <md-checkbox class='md-primary'
                         ng-model='label.canEdit'
                         ng-change='labelController.authoringViewComponentChanged()'>
              {{ ::'label.canStudentEditLabel' | translate }}
            </md-checkbox>
            <br/>
            <md-checkbox class='md-primary'
                         ng-model='label.canDelete'
                         ng-change='labelController.authoringViewComponentChanged()'>
              {{ ::'label.canStudentDeleteLabel' | translate }}
            </md-checkbox>
          </div>
          <div style='height: 60px;'
               ng-if='labelController.enableCircles'>
            <md-input-container style='margin-right: 20px;'>
              <span>{{ ::'label.pointLocation' | translate }}</span>
            </md-input-container>
            <md-input-container style='margin-right: 20px;'>
              <label>{{ ::'label.x' | translate }}</label>
              <input type='number'
                     ng-model='label.pointX'
                     ng-change='labelController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'/>
            </md-input-container>
            <md-input-container>
              <label>{{ ::'label.y' | translate }}</label>
              <input type='number'
                     ng-model='label.pointY'
                     ng-change='labelController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'/>
            </md-input-container>
          </div>
          <div style='height: 60px;'
               layout='row'>
            <md-input-container style='margin-right: 20px;'>
              <span>{{ ::'label.textLocation' | translate }}</span>
            </md-input-container>
            <md-input-container style='margin-right: 20px;'>
              <label>{{ ::'label.x' | translate }}</label>
              <input type='number'
                     ng-model='label.textX'
                     ng-change='labelController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'/>
            </md-input-container>
            <md-input-container>
              <label>{{ ::'label.y' | translate }}</label>
              <input type='number'
                     ng-model='label.textY'
                     ng-change='labelController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'/>
            </md-input-container>
            <span flex></span>
            <md-button class='moveComponentButton md-raised md-primary'
                       style='margin-top: 20px;'
                       ng-click='labelController.deleteLabelClicked($index, label)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'label.deleteLabel' | translate }}
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
      <md-button class='topButton md-raised md-primary'
                 ng-click='labelController.saveStarterLabels()'>
        <md-icon>create</md-icon>
        <md-tooltip md-direction='top'
                    class='projectButtonTooltip'>
          {{ ::'label.saveStarterLabels' | translate }}
        </md-tooltip>
      </md-button>
      <md-button class='topButton md-raised md-primary'
                 ng-click='labelController.deleteStarterLabels()'>
        <md-icon>delete_sweep</md-icon>
        <md-tooltip md-direction='top'
                    class='projectButtonTooltip'>
          {{ ::'label.deleteStarterLabels' | translate }}
        </md-tooltip>
      </md-button>
    </div>
  </div>
  <div ng-style='{"border": "5px solid black"}'>
    <div ng-style='{"padding-top": "20px", "padding-left": "20px"}'>
      <h5>{{ ::'studentPreview' | translate }}</h5>
    </div>
    <preview-component component-content='labelController.componentContent'
        node-id='{{labelController.nodeId}}'/>
  </div>
</div>
</div>
