<style>
  {{labelController.nodeContent.style}}
  .studentButton {
    min-width: 50px;
    max-width: 50px;
  }
</style>

<div ng-controller='LabelAuthoringController as labelController' flex>
  <div class='advancedAuthoringDiv'
       ng-if='labelController.showAdvancedAuthoring'>
    <div>
      <h6>{{ ::'advancedAuthoringOptions' | translate }}</h6>
    </div>
    <div>
      <md-checkbox class='md-primary'
                   ng-model='labelController.authoringComponentContent.showSaveButton'
                   ng-change='labelController.authoringViewComponentChanged()'>
        {{ ::'SHOW_SAVE_BUTTON' | translate }}
      </md-checkbox>
    </div>
    <div>
      <md-checkbox class='md-primary'
                   ng-model='labelController.authoringComponentContent.showSubmitButton'
                   ng-change='labelController.authoringViewComponentChanged()'>
        {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
      </md-checkbox>
    </div>
    <div>
      <md-checkbox class='md-primary'
                   ng-if='labelController.isNotebookEnabled()'
                   ng-model='labelController.authoringComponentContent.showAddToNotebookButton'
                   ng-change='labelController.authoringViewComponentChanged()'>
        {{ ::'SHOW_ADD_TO_NOTEBOOK_BUTTON' | translate }}
      </md-checkbox>
    </div>
    <div>
      <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                          ng-if='labelController.authoringComponentContent.showSubmitButton'>
        <label>{{ ::'MAX_SUBMIT' | translate }}</label>
        <input type='number'
               ng-model='labelController.authoringComponentContent.maxSubmitCount'
               ng-model-options='{ debounce: 1000 }'
               ng-change='labelController.authoringViewComponentChanged()'/>
      </md-input-container>
    </div>
    <div>
      <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'>
        <label>{{ 'MAX_SCORE' | translate }}</label>
        <input type='number'
               ng-model='labelController.authoringComponentContent.maxScore'
               ng-model-options='{ debounce: 1000 }'
               ng-change='labelController.authoringViewComponentChanged()'/>
      </md-input-container>
    </div>
    <div>
      <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'>
        <label>{{ ::'COMPONENT_WIDTH' | translate }}</label>
        <input type='number'
               ng-model='labelController.authoringComponentContent.componentWidth'
               ng-model-options='{ debounce: 1000 }'
               ng-change='labelController.authoringViewComponentChanged()'/>
      </md-input-container>
    </div>
    <div>
      <label class='node__label--vertical-alignment'>
        {{ ::'RUBRIC' | translate }}
      </label>
      <md-button class='topButton md-raised md-primary'
                 ng-click='labelController.showRubricAuthoring = !labelController.showRubricAuthoring'>
        <md-icon>message</md-icon>
        <md-tooltip md-direction='top'
                    class='projectButtonTooltip'>
          {{ ::'EDIT_COMPONENT_RUBRIC' | translate }}
        </md-tooltip>
      </md-button>
      <div ng-if='labelController.showRubricAuthoring'>
        <summernote id='{{labelController.summernoteRubricId}}'
                    ng-model='labelController.summernoteRubricHTML'
                    ng-change='labelController.summernoteRubricHTMLChanged()'
                    config='labelController.summernoteRubricOptions'
                    ng-model-options='{ debounce: 1000 }'
                    rows='10'
                    cols='100'>
        </summernote>
      </div>
    </div>
    <div>
      <div style='height: 50px;'>
        <label class='node__label--vertical-alignment'>
          {{ ::'CONNECTED_COMPONENTS' | translate }}
        </label>
        <md-button class='topButton md-raised md-primary'
                   ng-click='labelController.authoringAddConnectedComponent()'>
          <md-icon>add</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'ADD_CONNECTED_COMPONENT' | translate }}
          </md-tooltip>
        </md-button>
      </div>
      <div ng-repeat='connectedComponent in labelController.authoringComponentContent.connectedComponents track by $index'
           style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
        <div flex>
          <md-input-container style='margin-right: 20px; width: 300px;'>
            <label>{{ ::'step' | translate }}</label>
            <md-select ng-model='connectedComponent.nodeId'
                       ng-change='labelController.authoringConnectedComponentNodeIdChanged(connectedComponent)'
                       style='width: 300px'>
              <md-option ng-repeat='item in labelController.idToOrder | toArray | orderBy : "order"'
                         value='{{item.$key}}'
                         ng-if='labelController.isApplicationNode(item.$key)'>
                {{ labelController.getNodePositionAndTitleByNodeId(item.$key) }}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 300px;'>
            <label>{{ ::'component' | translate }}</label>
            <md-select ng-model='connectedComponent.componentId'
                       ng-change='labelController.authoringConnectedComponentComponentIdChanged(connectedComponent)'
                       style='width: 300px'>
              <md-option ng-repeat='(componentIndex, component) in labelController.getComponentsByNodeId(connectedComponent.nodeId)'
                         value='{{component.id}}'
                         ng-disabled='!labelController.isConnectedComponentTypeAllowed(component.type) || component.id == labelController.componentId'>
                {{ componentIndex + 1 }}. {{ component.type }}
                <span ng-if='component.id == labelController.componentId'>
                  ({{ ::'thisComponent' | translate }})
                </span>
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20px; width: 200px;'>
            <label>{{ ::'type' | translate }}</label>
            <md-select ng-model='connectedComponent.type'
                       ng-change='labelController.authoringConnectedComponentTypeChanged(connectedComponent)'
                       style='width: 200px'>
              <md-option value='importWork'>
                {{ ::'importWork' | translate }}
              </md-option>
              <md-option value='showWork'>
                {{ ::'showWork' | translate }}
              </md-option>
            </md-select>
          </md-input-container>
          <span flex></span>
          <md-input-container style='margin-left: 20px;'>
            <md-button class='topButton md-raised md-primary'
                       ng-click='labelController.authoringDeleteConnectedComponent($index)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'DELETE' | translate }}
              </md-tooltip>
            </md-button>
          </md-input-container>
        </div>
        <div ng-if='labelController.authoringGetConnectedComponentType(connectedComponent) == "OpenResponse"' flex>
          <md-input-container style='margin-right: 20px;'>
            <md-checkbox class='md-primary'
                         ng-model='connectedComponent.importWorkAsBackground'
                         ng-change='labelController.authoringImportWorkAsBackgroundClicked(connectedComponent)'>
              {{ ::'importWorkAsBackground' | translate }}
            </md-checkbox>
          </md-input-container>
          <div ng-if='connectedComponent.importWorkAsBackground'
               style='display: inline;'>
            <md-input-container style='margin-right: 20px; width: 200px; height: 30px;'>
              <label>{{ ::'label.charactersPerLine' | translate }}</label>
              <input ng-model='connectedComponent.charactersPerLine'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='labelController.authoringViewComponentChanged()'/>
            </md-input-container>
            <md-input-container style='margin-right: 20px width: 200px; height: 30px;'>
              <label>{{ ::'label.spaceInbetweenLines' | translate }}</label>
              <input ng-model='connectedComponent.spaceInbetweenLines'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='labelController.authoringViewComponentChanged()'/>
            </md-input-container>
            <md-input-container style='margin-right: 20px width: 100px; height: 30px;'>
              <label>{{ ::'label.fontSize' | translate }}</label>
              <input ng-model='connectedComponent.fontSize'
                     ng-model-options='{ debounce: 1000 }'
                     ng-change='labelController.authoringViewComponentChanged()'/>
            </md-input-container>
          </div>
        </div>
        <div ng-if='labelController.authoringGetConnectedComponentType(connectedComponent) == "ConceptMap" || labelController.authoringGetConnectedComponentType(connectedComponent) == "Draw" || labelController.authoringGetConnectedComponentType(connectedComponent) == "Embedded" || labelController.authoringGetConnectedComponentType(connectedComponent) == "Graph" || labelController.authoringGetConnectedComponentType(connectedComponent) == "Table"' flex>
          <md-input-container style='margin-right: 20px;'>
            <md-checkbox class='md-primary'
                         ng-model='connectedComponent.importWorkAsBackground'
                         ng-change='labelController.authoringImportWorkAsBackgroundClicked(connectedComponent)'
                         ng-disabled='true'>
              {{ ::'importWorkAsBackground' | translate }}
            </md-checkbox>
          </md-input-container>
        </div>
      </div>
    </div>
    <div style='margin-top: 10px; margin-bottom: 10px;'>
      <div style='height: 50px;'>
        <label class='node__label--vertical-alignment'>
          {{ ::'tags' | translate }}
        </label>
        <md-button class='topButton md-raised md-primary'
                   ng-click='labelController.addTag()'>
          <md-icon>add</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'addTag' | translate }}
          </md-tooltip>
        </md-button>
      </div>
      <div ng-repeat='tag in labelController.authoringComponentContent.tags track by $index'>
        <div layout='row'>
          <md-input-container style='margin-bottom: 0px'>
            <label></label>
            <input ng-model='labelController.authoringComponentContent.tags[$index]'
                   ng-change='labelController.authoringViewComponentChanged()'
                   ng-model-options='{ debounce: 1000 }'
                   size='100'
                   placeholder='{{ ::"enterTag" | translate }}'/>
          </md-input-container>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='labelController.moveTagUp($index)'>
            <md-icon>arrow_upward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'moveUp' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='labelController.moveTagDown($index)'>
            <md-icon>arrow_downward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'moveDown' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                     ng-click='labelController.deleteTag($index)'>
            <md-icon>delete</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'DELETE' | translate }}
            </md-tooltip>
          </md-button>
        </div>
      </div>
    </div>
    <div>
      <label class='node__label--vertical-alignment'>{{ ::'json' | translate }}</label>
      <md-button class='topButton md-raised md-primary'
                 ng-click='labelController.showJSONButtonClicked()'>
        <md-icon>code</md-icon>
        <md-tooltip md-direction='top'
                    class='projectButtonTooltip'>
          {{ ::'SHOW_JSON' | translate }}
        </md-tooltip>
      </md-button>
      <span ng-if="labelController.isJSONStringChanged">
        {{ ::'closeTheJSONViewToSaveTheChanges' | translate }}
      </span>
      <div ng-if='labelController.showJSONAuthoring'>
        <md-input-container style='width: 100%;'>
          <textarea ng-model='labelController.authoringComponentContentJSONString'
                    style='width: 90%; border: 1px solid black;'
                    ng-change='labelController.authoringJSONChanged()'>
          </textarea>
        </md-input-container>
      </div>
    </div>
  </div>
  <br/>
  <div>
    <div ng-if='!labelController.authoringComponentContent.showPreviousWork'>
      <md-input-container style='width:100%'>
        <label>{{ ::'PROMPT' | translate }}</label>
        <textarea rows='1'
                  ng-model='labelController.authoringComponentContent.prompt'
                  ng-change='labelController.authoringViewComponentChanged()'
                  ng-model-options='{ debounce: 1000 }'
                  placeholder='{{ ::"enterPromptHere" | translate }}'>
      </textarea>
      </md-input-container>
      <div style='height: 60px;'>
        <md-input-container>
          <label>{{ ::'BACKGROUND_IMAGE' | translate }}</label>
          <input size='100'
                 ng-model='labelController.authoringComponentContent.backgroundImage'
                 ng-change='labelController.authoringViewComponentChanged()'/>
        </md-input-container>
        <md-button class='topButton md-raised md-primary'
                   ng-click='labelController.chooseBackgroundImage()'>
          <md-icon>insert_photo</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'chooseAnImage' | translate }}
          </md-tooltip>
        </md-button>
      </div>
      <div style='height: 60px;'>
        <md-input-container>
          <label>{{ ::'label.canvasWidth' | translate }}</label>
          <input type='number'
                 style='width: 200px'
                 ng-model='labelController.authoringComponentContent.width'
                 ng-change='labelController.authoringViewComponentChanged()'/>
        </md-input-container>
        <md-input-container>
          <label>{{ ::'label.canvasHeight' | translate }}</label>
          <input type='number'
                 style='width: 200px'
                 ng-model='labelController.authoringComponentContent.height'
                 ng-change='labelController.authoringViewComponentChanged()'/>
        </md-input-container>
      </div>
      <div style='height: 60px;'>
        <md-input-container>
          <label>{{ ::'label.pointSize' | translate }}</label>
          <input type='number'
                 style='width: 200px'
                 ng-model='labelController.authoringComponentContent.pointSize'
                 ng-change='labelController.authoringViewComponentChanged()'/>
        </md-input-container>
        <md-input-container>
          <label>{{ ::'label.fontSize' | translate }}</label>
          <input type='number'
                 style='width: 200px'
                 ng-model='labelController.authoringComponentContent.fontSize'
                 ng-change='labelController.authoringViewComponentChanged()'/>
        </md-input-container>
        <md-input-container>
          <label>{{ ::'label.labelWidth' | translate }}</label>
          <input type='number'
                 style='width: 200px'
                 ng-model='labelController.authoringComponentContent.labelWidth'
                 ng-change='labelController.authoringViewComponentChanged()'/>
        </md-input-container>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='labelController.authoringComponentContent.canCreateLabels'
                     ng-change='labelController.authoringViewComponentChanged()'>
          {{ ::'label.canStudentCreateLabels' | translate }}
        </md-checkbox>
        <br/>
        <md-checkbox class='md-primary'
                     ng-model='labelController.authoringComponentContent.enableCircles'
                     ng-change='labelController.authoringViewComponentChanged()'>
          {{ ::'label.enableDots' | translate }}
        </md-checkbox>
        <br/>
        <md-checkbox class='md-primary'
                     ng-model='labelController.authoringComponentContent.enableStudentUploadBackground'
                     ng-change='labelController.authoringViewComponentChanged()'>
          {{ ::'label.allowStudentToUploadImageForBackground' | translate }}
        </md-checkbox>
      </div>
      <div>
        <div layout='row'>
          <h6>{{ ::'label.starterLabels' | translate }}</h6>
          <md-button class='topButton md-raised md-primary'
                     ng-click='labelController.authoringAddLabelClicked()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'label.addStarterLabel' | translate }}
            </md-tooltip>
          </md-button>
        </div>
        <div ng-if='labelController.authoringComponentContent.labels == null || labelController.authoringComponentContent.labels.length == 0'>
          {{ ::'label.thereAreNoStarterLabels' | translate }}
        </div>
        <div ng-repeat='label in labelController.authoringComponentContent.labels track by $index'
             style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
          <div style='height: 60px;'>
            <md-input-container style='margin-right: 20px;'>
              <label>{{ ::'TEXT' | translate }}</label>
              <input ng-model='label.text'
                     ng-change='labelController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'
                     size='50'
                     placeholder='{{ ::"label.enterLabelTextHere" | translate }}'/>
            </md-input-container>
            <md-input-container>
              <label>{{ ::'label.color' | translate }}</label>
              <input ng-model='label.color'
                     ng-change='labelController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'/>
            </md-input-container>
            <md-button class='topButton md-raised md-primary'
                       ng-click='labelController.openColorViewer()'>
              <md-icon>palette</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'label.viewColors' | translate }}
              </md-tooltip>
            </md-button>
          </div>
          <div style='height: 80px; margin-top: 10px;'>
            <md-checkbox class='md-primary'
                         ng-model='label.canEdit'
                         ng-change='labelController.authoringViewComponentChanged()'>
              {{ ::'label.canStudentEditLabel' | translate }}
            </md-checkbox>
            <br/>
            <md-checkbox class='md-primary'
                         ng-model='label.canDelete'
                         ng-change='labelController.authoringViewComponentChanged()'>
              {{ ::'label.canStudentDeleteLabel' | translate }}
            </md-checkbox>
          </div>
          <div style='height: 60px;'
               ng-if='labelController.enableCircles'>
            <md-input-container style='margin-right: 20px;'>
              <span>{{ ::'label.pointLocation' | translate }}</span>
            </md-input-container>
            <md-input-container style='margin-right: 20px;'>
              <label>{{ ::'label.x' | translate }}</label>
              <input type='number'
                     ng-model='label.pointX'
                     ng-change='labelController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'/>
            </md-input-container>
            <md-input-container>
              <label>{{ ::'label.y' | translate }}</label>
              <input type='number'
                     ng-model='label.pointY'
                     ng-change='labelController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'/>
            </md-input-container>
          </div>
          <div style='height: 60px;'
               layout='row'>
            <md-input-container style='margin-right: 20px;'>
              <span>{{ ::'label.textLocation' | translate }}</span>
            </md-input-container>
            <md-input-container style='margin-right: 20px;'>
              <label>{{ ::'label.x' | translate }}</label>
              <input type='number'
                     ng-model='label.textX'
                     ng-change='labelController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'/>
            </md-input-container>
            <md-input-container>
              <label>{{ ::'label.y' | translate }}</label>
              <input type='number'
                     ng-model='label.textY'
                     ng-change='labelController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'/>
            </md-input-container>
            <span flex></span>
            <md-button class='moveComponentButton md-raised md-primary'
                       style='margin-top: 20px;'
                       ng-click='labelController.authoringDeleteLabelClicked($index, label)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'label.deleteLabel' | translate }}
              </md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
      <md-button class='topButton md-raised md-primary'
                 ng-click='labelController.saveStarterLabels()'>
        <md-icon>create</md-icon>
        <md-tooltip md-direction='top'
                    class='projectButtonTooltip'>
          {{ ::'label.saveStarterLabels' | translate }}
        </md-tooltip>
      </md-button>
      <md-button class='topButton md-raised md-primary'
                 ng-click='labelController.deleteStarterLabels()'>
        <md-icon>delete_sweep</md-icon>
        <md-tooltip md-direction='top'
                    class='projectButtonTooltip'>
          {{ ::'label.deleteStarterLabels' | translate }}
        </md-tooltip>
      </md-button>
    </div>
  </div>
  <div ng-style='{"border": "5px solid black", "padding": "20px"}'>
    <div>
      <h5>{{ ::'studentPreview' | translate }}</h5>
    </div>
    <div ng-switch='::labelController.mode'>
      <div ng-switch-when='grading|gradingRevision'
           ng-switch-when-separator='|'
           layout='row'
           layout-wrap>
        <div flex='100'
             flex-gt-sm='66'
             layout='column'
             class='component--grading__response'>
          <div class='component--grading__response__content'>
            <div id='canvasParent_{{labelController.canvasId}}'
                 ng-if='labelController.$scope.componentState'>
              <canvas id='{{labelController.canvasId}}'
                      width='800'
                      height='600'
                      style='border:1px solid black;'>
              </canvas>
            </div>
          </div>
          <span flex></span>
          <component-revisions-info node-id='labelController.nodeId'
                                    component-id='labelController.componentId'
                                    to-workgroup-id='workgroupId'
                                    component-state='componentState'
                                    active='labelController.mode === "grading"'>
          </component-revisions-info>
        </div>
        <div flex='100'
             flex-gt-sm='33'
             class='component--grading__annotations'>
          <component-grading node-id='labelController.nodeId'
                             component-id='labelController.componentId'
                             max-score='labelController.componentContent.maxScore'
                             from-workgroup-id='teacherWorkgroupId'
                             to-workgroup-id='workgroupId'
                             component-state-id='componentState.id'
                             show-all-annotations='labelController.mode !== "grading"'
                             is-disabled='labelController.mode !== "grading"'>
          </component-grading>
        </div>
      </div>
      <div ng-switch-default>
        <div class='component__prompt'>
          <div class='component__prompt__content'>
            <compile data='labelController.getPrompt()'></compile>
          </div>
          <possible-score max-score='labelController.componentContent.maxScore'
                          ng-if='labelController.mode === "student" && !labelController.latestAnnotations.score'>
          </possible-score>
        </div>
        <div class='input-wrapper' style='display: flex; align-items: center; width: 800px;'>
          <md-button class='studentButton md-raised md-primary'
                     ng-click='labelController.newLabelButtonClicked()'
                     ng-disabled='labelController.isDisabled'
                     ng-if='labelController.showNewLabelButton() && !labelController.createLabelMode'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'label.addNewLabel' | translate }}
            </md-tooltip>
          </md-button>
          <span ng-if='labelController.createLabelMode'>
            {{ ::'label.clickOnTheImageToCreateALabelOr' | translate }}
          </span>
          <md-button class='studentButton md-raised md-primary'
                     ng-click='labelController.cancelButtonClicked()'
                     ng-disabled='labelController.isDisabled'
                     ng-if='labelController.showCancelButton()'>
            <md-icon>clear</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'CANCEL' | translate }}
              <md-tooltip>
          </md-button>
          <span ng-if='labelController.createLabelMode'>
            {{ ::'label.toCancel' | translate }}
          </span>
          <span ng-if='labelController.editLabelMode'>
            {{ ::'label.labelText' | translate }}:&nbsp
          </span>
          <input id='editLabelTextInput'
                 type='text'
                 ng-model='labelController.selectedLabel.textString'
                 ng-if='labelController.editLabelMode'
                 ng-change='labelController.selectedLabelTextChanged(labelController.selectedLabel, labelController.selectedLabel.text, labelController.selectedLabel.textString)'
                 size='50'/>
          <md-button class='studentButton md-raised md-primary'
                     ng-click='labelController.deleteLabelButtonClicked()'
                     ng-if='!labelController.isDisabled && labelController.selectedLabel != null && labelController.selectedLabel.canDelete'>
            <md-icon>delete</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'DELETE' | translate }}
            </md-tooltip>
          </md-button>
          <span style='flex-grow: 1;'></span>
          <md-button class='md-accent'
                     ng-click='labelController.resetButtonClicked()'
                     ng-if='labelController.isResetButtonVisible'>
            <md-icon>restore</md-icon>
            {{ ::'RESET' | translate }}
          </md-button>
          <md-button class='studentButton md-accent md-primary'
                     ng-click='labelController.snipImage($event)'
                     ng-if='labelController.isAddToNotebookEnabled()'>
            <md-icon> note_add </md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'ADD_TO_NOTEBOOK' | translate:{label:labelController.notebookConfig.label} }}
            </md-tooltip>
          </md-button>
          <br/>
          <div ng-if='labelController.componentContent.enableStudentUploadBackground'>
            {{ ::'label.uploadBackgroundImage' | translate }}:
            <input type='file'
                   ng-if='labelController.componentContent.enableStudentUploadBackground'
                   onchange='angular.element(this).scope().fileUploadChanged(this)'
                   style='display:inline'/>
          </div>
        </div>
        <div id='canvasParent_{{labelController.canvasId}}' style='margin-top: 10px;'>
          <canvas id='{{labelController.canvasId}}'
                  width='800'
                  height='600'
                  style='border:1px solid black;'>
          </canvas>
        </div>
        <div class='component__actions'
             ng-if='labelController.attachments.length && labelController.isStudentAttachmentEnabled'
             layout='row'
             layout-wrap='true'>
          <div class='component__add-attachment'>
            <md-button class='md-accent'
                       ng-click='nodeController.showStudentAssets($event, component.id, labelController.isDisabled)'>
              <md-icon>image</md-icon>
              <span>{{ ::'label.addFile' | translate }}</span>
            </md-button>
          </div>
          <div class='component__attachment'
               ng-repeat='attachment in labelController.attachments'>
            <img ng-src='{{attachment.iconURL}}'
                 class='component__attachment__content' />
            <md-button class='component__attachment__delete'
                       ng-click='labelController.removeAttachment(attachment)'
                       title='Remove file'>
              <md-icon>cancel</md-icon>
            </md-button>
          </div>
        </div>
        <div ng-if='labelController.isSaveButtonVisible || labelController.isSubmitButtonVisible'
             class='component__actions'
             layout='row'
             layout-align='start center'>
          <md-button class='md-raised md-primary'
                     ng-click='labelController.saveButtonClicked()'
                     ng-if='labelController.isSaveButtonVisible'
                     ng-disabled='labelController.isDisabled || !labelController.isDirty'>
            {{ ::'SAVE' | translate }}
          </md-button>
          <md-button class='md-raised md-primary'
                     ng-click='labelController.submitButtonClicked()'
                     ng-if='labelController.isSubmitButtonVisible'
                     ng-disabled='labelController.isDisabled || !labelController.isSubmitDirty || labelController.isSubmitButtonDisabled'>
            {{ ::'SUBMIT' | translate }}
          </md-button>
          <span ng-if='labelController.saveMessage.text'
                class='component__actions__info md-caption'>
              {{labelController.saveMessage.text}}
              <span class='component__actions__more'>
                <md-tooltip md-direction='top'>
                  {{ labelController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}
                </md-tooltip>
                <span am-time-ago='labelController.saveMessage.time'></span>
              </span>
            </span>
        </div>
        <component-annotations annotations='labelController.latestAnnotations'
                               max-score='labelController.componentContent.maxScore'>
        </component-annotations>
      </div>
    </div>
  </div>
</div>
</div>
