<button mat-icon-button [matMenuTriggerFor]="projectRunMenu">
  <mat-icon aria-label="Project Run Menu">more_vert</mat-icon>
</button>
<mat-menu #projectRunMenu="matMenu" yPosition="below" xPosition="after">
  <div class="header-account-menu">
    <a mat-menu-item href="{{ previewLink }}" target="_blank">
      <mat-icon>tv</mat-icon>
      <span>Preview</span>
    </a>
    <a *ngIf="project.run != null" mat-menu-item href="{{ editLink }}">
      <mat-icon>edit</mat-icon>
      <span>Edit Project Content</span>
    </a>
    <a mat-menu-item>
      <mat-icon>share</mat-icon>
      <span>Share</span>
    </a>
    <a *ngIf="project.run != null" mat-menu-item>
      <mat-icon>refresh</mat-icon>
      <span>Run Again</span>
    </a>
    <a class="warn" *ngIf="project.run != null" mat-menu-item>
      <mat-icon>stop</mat-icon>
      <span>End Run</span>
    </a>
  </div>
</mat-menu>
