.md-button {
  text-transform: none;
  text-align: left;
}

input {
  min-height: 50px;
  height: 100%;
  width: 100%;
  border: 0;
  outline: none;
}

mat-select {
  width: 300px;
}

.mat-divider {
  margin: 0;
}
