<p>Peer Review and Revision</p>

<!-- Activity
{{ peerReviewAndRevisionController.structure.activity }}

Steps
{{ peerReviewAndRevisionController.structure.steps }} -->
<div>{{ peerReviewAndRevisionController.structure.group.title }}</div>
<div ng-repeat='step in peerReviewAndRevisionController.structure.nodes'>
  {{ step.title }}
  <div ng-repeat='component in step.components'>
    <div ng-if='component.type === "HTML"'>
      <summernote id='component-{{component.id}}'
          ng-model='component.html'
          config='peerReviewAndRevisionController.summernoteOptions'
          ng-model-options='{debounce: 1000}'></summernote>
    </div>
    <div ng-if='component.type === "OpenResponse"'>
      <summernote id='component-{{component.id}}'
          ng-model='component.prompt'
          config='peerReviewAndRevisionController.summernoteOptions'
          ng-model-options='{debounce: 1000}'
          ></summernote>
    </div>
  </div>
</div>

<md-button class='createButton md-raised md-primary'
                  ng-click='peerReviewAndRevisionController.chooseLocation()'
                  aria-label='{{ ::"next" | translate }}'
                  translate='next'></md-button>

<md-button class='createButton md-raised md-primary'
                  ng-click='peerReviewAndRevisionController.cancel()'
                  aria-label='{{ ::"cancel" | translate }}'
                  translate='cancel'></md-button>