<p>Peer Review and Revision</p>
<div>Activity Name: {{ peerReviewAndRevisionController.structure.group.title }}</div>
<md-button class='createButton md-raised md-primary'
                  ng-click='peerReviewAndRevisionController.chooseLocation()'
                  aria-label='{{ ::"next" | translate }}'
                  translate='next'></md-button>

<md-button class='createButton md-raised md-primary'
                  ng-click='peerReviewAndRevisionController.cancel()'
                  aria-label='{{ ::"cancel" | translate }}'
                  translate='cancel'></md-button>