<style>
    .projectItem:hover {
        cursor:pointer;
        background-color: lightgrey;
    }
</style>
<div class="view-content">
    <div class="l-constrained" layout="column">
        <div>
            <button id="createNewProjectButton" style="font-weight: bold; padding: 10px; display: inline-block;" ng-click="authoringToolMainController.createNewProject()" translate="createNewProject"></button>

            <h3 translate="myProjectsHeading"></h3>
            <div class="projectItem" style="padding:2px" ng-repeat='project in authoringToolMainController.projects'>
                <span ng-click="authoringToolMainController.openProject(project.id)">
                    {{project.id}}
                    {{project.name}}
                </span>
                <span ng-if="project.runId != null">({{ 'RUN_ID' | translate }}: {{project.runId}})</span>
                <span ng-click="authoringToolMainController.openProject(project.id)">
                    <md-tooltip md-direction="left"><span translate="EDIT"></span></md-tooltip>
                    <md-icon>mode_edit</md-icon>
                </span>
                <span ng-click="authoringToolMainController.previewProject(project.id)">
                    <md-tooltip md-direction="left"><span translate="preview"></span></md-tooltip>
                    <md-icon>pageview</md-icon>
                </span>
                <span ng-click="authoringToolMainController.copyProject(project.id)">
                    <md-tooltip md-direction="left"><span translate="copy"></span></md-tooltip>
                    <md-icon>content_copy</md-icon>
                </span>
                <span>
                    <md-tooltip md-direction="left"><span translate="download"></span></md-tooltip>
                    <md-icon ng-click="authoringToolMainController.downloadProject(project.id)">file_download</md-icon>
                </span>
            </div>

            <h3 translate="sharedProjectsHeading"></h3>
            <div ng-show="authoringToolMainController.sharedProjects.length == 0" translate="noSharedProjectsMessage"></div>
            <div class="projectItem" style="padding:2px" ng-repeat='project in authoringToolMainController.sharedProjects'>
                <span ng-click="authoringToolMainController.openProject(project.id)">
                    {{project.id}}
                    {{project.name}}
                </span>
                <span ng-if="project.runId != null">({{ 'RUN_ID' | translate }}: {{project.runId}})</span>
                <span ng-click="authoringToolMainController.openProject(project.id)">
                    <md-tooltip md-direction="left"><span translate="EDIT"></span></md-tooltip>
                    <md-icon>mode_edit</md-icon>
                </span>
                <span ng-click="authoringToolMainController.previewProject(project.id)">
                    <md-tooltip md-direction="left"><span translate="preview"></span></md-tooltip>
                    <md-icon>pageview</md-icon>
                </span>
                <span ng-click="authoringToolMainController.copyProject(project.id)">
                    <md-tooltip md-direction="left"><span translate="copy"></span></md-tooltip>
                    <md-icon>content_copy</md-icon>
                </span>
                <span>
                    <md-tooltip md-direction="left"><span translate="download"></span></md-tooltip>
                    <md-icon ng-click="authoringToolMainController.downloadProject(project.id)">file_download</md-icon>
                </span>
            </div>
        <div>
    </div>
</div>
