
<label style="display:inline" translate="projectTitle" />: <input size="50" id="newProjectTitle" ng-model="authoringToolNewProjectController.project.metadata.title" ng-keyup="$event.keyCode == 13 && authoringToolNewProjectController.registerNewProject()"/>
<button id="createProjectButton" ng-click="authoringToolNewProjectController.registerNewProject()" translate="create"></button>
<button id="cancelCreateProjectButton" ng-click="authoringToolNewProjectController.cancelRegisterNewProject()" translate="cancel"></button>
