<h2 class="mat-dialog-title" fxLayoutAlign="start center" fxLayoutGap="8px">
  <img class="google-icon" src="assets/img/icons/g-logo.png" i18n-alt alt="Google logo" />
  <span i18n>Unlink Google Account</span>
</h2>
<form [formGroup]="newPasswordFormGroup">
  <mat-dialog-content class="mat-dialog-content--scroll" fxLayout="column">
    <h3 i18n>Create a WISE password:</h3>
    <mat-form-field appearance="fill">
      <mat-label i18n>New Password</mat-label>
      <input matInput
          id="newPassword"
          type="password"
          name="newPassword"
          formControlName="newPassword"
          required />
      <mat-error *ngIf="newPasswordFormGroup.controls['newPassword'].hasError('required')" i18n>New Password required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label i18n>Confirm New Password</mat-label>
      <input matInput
          id="confirmNewPassword"
          type="password"
          name="confirmNewPassword"
          formControlName="confirmNewPassword"
          required />
      <mat-error *ngIf="newPasswordFormGroup.controls['confirmNewPassword'].hasError('required')" i18n>Confirm Password required</mat-error>
      <mat-error *ngIf="newPasswordFormGroup.hasError('passwordDoesNotMatch')" i18n>Passwords do not match</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end">
    <button mat-button mat-dialog-close i18n>Cancel</button>
    <button mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!newPasswordFormGroup.valid || isSaving"
        (click)="submit()">
      <ng-container i18n>Submit</ng-container>
      <mat-progress-bar mode="indeterminate" *ngIf="isSaving"></mat-progress-bar>
    </button>
  </mat-dialog-actions>
</form>
