<mat-card class="standalone__content mat-elevation-z4 center">
  <mat-card-content>
    <form role="form"
          fxLayout="column"
          (submit)="submit()"
          [formGroup]="changePasswordFormGroup">
      <h2 class="standalone__title accent" i18n>Change Password</h2>
      <p>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label i18n>Password</mat-label>
          <input matInput
                 id="password"
                 name="password"
                 formControlName="password"
                 type="password"
                 autofocus
                 required />
          <mat-error *ngIf="changePasswordFormGroup.controls['password'].hasError('required')" i18n>Password required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label i18n>Confirm Password</mat-label>
          <input matInput
                 id="confirmPassword"
                 name="confirmPassword"
                 formControlName="confirmPassword"
                 type="password"
                 autofocus
                 required />
          <mat-error *ngIf="changePasswordFormGroup.controls['confirmPassword'].hasError('required')" i18n>Confirm Password required</mat-error>
        </mat-form-field>
      </p>
      <button mat-flat-button
              color="primary"
              [disabled]="!changePasswordFormGroup.valid || processing || !isSubmitButtonEnabled"
              type="submit">
        <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
        <span i18n>Submit</span>
      </button>
    </form>
    <br/>
    <div class="error-message">{{message}}</div>
    <div *ngIf="showForgotPasswordLink">
      <br/>
      <a routerLink='/forgot/teacher/password' i18n>Teacher Forgot Password</a>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="center">
    <p>
      <a routerLink="/contact" i18n>Contact WISE</a>
    </p>
    <p>
      <a routerLink="/join" i18n>Create New Account</a>
    </p>
  </mat-card-actions>
</mat-card>
