<mat-card class="standalone__content mat-elevation-z4 center">
  <mat-card-content>
    <form role="form"
          fxLayout="column"
          (submit)="submit()"
          [formGroup]="changePasswordFormGroup">
      <h2 class="standalone__title accent">Change Password</h2>
      <p>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Password</mat-label>
          <input matInput
                 id="password"
                 name="password"
                 formControlName="password"
                 type="password"
                 autofocus
                 required />
          <mat-error *ngIf="changePasswordFormGroup.controls['password'].hasError('required')">Password Required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Confirm Password</mat-label>
          <input matInput
                 id="confirmPassword"
                 name="confirmPassword"
                 formControlName="confirmPassword"
                 type="password"
                 autofocus
                 required />
          <mat-error *ngIf="changePasswordFormGroup.controls['confirmPassword'].hasError('required')">Confirm Password Required</mat-error>
        </mat-form-field>
      </p>
      <button mat-flat-button
              color="primary"
              [disabled]="!changePasswordFormGroup.valid"
              type="submit">
        Submit
      </button>
    </form>
    <br/>
    <div class="message-div">
      <div class="error-message">{{message}}</div>
    </div>
  </mat-card-content>
</mat-card>
