/* Helpers and settings
*/
/* Mixins
*/
/* Global
*/
/* line 6, ../sass/base/_elements.scss */
h1, h2, h3 { font-family: Hind, sans-serif; position: relative; top: 0.05em; }

/* line 13, ../sass/base/_elements.scss */
.material-icons.md-18 { font-size: 18px; }

/* line 14, ../sass/base/_elements.scss */
.material-icons.md-24 { font-size: 24px; }

/* line 15, ../sass/base/_elements.scss */
.material-icons.md-36 { font-size: 36px; }

/* line 16, ../sass/base/_elements.scss */
.material-icons.md-48 { font-size: 48px; }

/* line 19, ../sass/base/_elements.scss */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }

/* line 20, ../sass/base/_elements.scss */
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* line 23, ../sass/base/_elements.scss */
.material-icons.md-light { color: white; }

/* line 24, ../sass/base/_elements.scss */
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* line 28, ../sass/base/_elements.scss */
.fixed-top { position: fixed; top: 0; }

/* line 33, ../sass/base/_elements.scss */
.fixed-bottom { position: fixed; bottom: 0; }

/* line 41, ../sass/base/_elements.scss */
.logo { cursor: auto; }

/* States
*/
/* Modules
*/
/* Layouts
*/
/* Theme
*/
/* non-modular and non-repeated styling
*/
