<?xml version="1.0" encoding="UTF-8"?>
<!-- * Copyright (c) 2006 Encore Research Group, University of Toronto * 
	* This library is free software; you can redistribute it and/or * modify 
	it under the terms of the GNU Lesser General Public * License as published 
	by the Free Software Foundation; either * version 2.1 of the License, or 
	(at your option) any later version. * * This library is distributed in the 
	hope that it will be useful, * but WITHOUT ANY WARRANTY; without even the 
	implied warranty of * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
	See the GNU * Lesser General Public License for more details. * * You should 
	have received a copy of the GNU Lesser General Public * License along with 
	this library; if not, write to the Free Software * Foundation, Inc., 51 Franklin 
	Street, Fifth Floor, Boston, MA 02110-1301 USA -->

<!-- $Id$ -->

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

	    <!-- Force Hibernate to order SQL updates by the primary key value of the items being updated. This will result in fewer transaction deadlocks in highly concurrent systems. -->
        <property name="hibernate.order_updates">true</property>
        <!-- Enables autocommit for JDBC pooled connections (not recommended). -->
        <property name="hibernate.connection.autocommit">false</property>
        	    
		<!-- specify when hibernate should release JDBC connections -->
		<property name="hibernate.connection.release_mode">after_statement</property>
		<property name="hibernate.auto_close_session">true</property>
		<property name="hibernate.flush_before_completion">true</property>
		<property name="hibernate.c3p0_acquire_increment">1</property>
		<property name="hibernate.c3p0_idle_test_period">100</property>          <!-- seconds -->
		<property name="hibernate.c3p0_max_size">100</property>
		<property name="hibernate.c3p0_max_statements">0</property>
		<property name="hibernate.c3p0_min_size">10</property>
		<property name="hibernate.c3p0_timeout">100</property><!-- seconds -->
		<property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        
		<property name="hibernate.dialect">org.wise.util.MySQL5MyISAMDialect</property>
		
		       <mapping
            class="org.wise.portal.domain.authentication.impl.PersistentAclEntry" />
        <mapping
            class="org.wise.portal.domain.authentication.impl.PersistentAclSid" />
        <mapping
            class="org.wise.portal.domain.authentication.impl.PersistentAclTargetObject" />
        <mapping
            class="org.wise.portal.domain.authentication.impl.PersistentAclTargetObjectIdentity" />
        <mapping
            class="org.wise.portal.domain.authentication.impl.PersistentGrantedAuthority" />
        <mapping
            class="org.wise.portal.domain.authentication.impl.PersistentUserDetails" />
        <mapping class="org.wise.portal.domain.module.impl.CurnitImpl" />
        <mapping class="org.wise.portal.domain.run.impl.OfferingImpl" />
        <mapping class="org.wise.portal.domain.workgroup.impl.WorkgroupImpl" />
        <mapping class="org.wise.portal.domain.user.impl.UserImpl" />
        <mapping class="org.wise.portal.domain.group.impl.PersistentGroup" />
		

		<mapping class="org.wise.portal.domain.authentication.impl.StudentUserDetails" />
		<mapping class="org.wise.portal.domain.authentication.impl.TeacherUserDetails" />
		<mapping class="org.wise.portal.domain.run.impl.RunImpl" />
		<mapping class="org.wise.portal.domain.workgroup.impl.WISEWorkgroupImpl" />
		<mapping class="org.wise.portal.domain.module.impl.ModuleImpl" />
		<mapping class="org.wise.portal.domain.module.impl.UrlModuleImpl" />
		<mapping class="org.wise.portal.domain.project.impl.ProjectImpl" />
		<mapping class="org.wise.portal.domain.portal.impl.PortalImpl" />
		<mapping class="org.wise.portal.domain.premadecomment.impl.PremadeCommentImpl" />
		<mapping class="org.wise.portal.domain.premadecomment.impl.PremadeCommentListImpl" />
		<mapping class="org.wise.portal.domain.newsitem.impl.NewsItemImpl" />
		<mapping class="org.wise.portal.domain.announcement.impl.AnnouncementImpl" />
		<mapping class="org.wise.portal.domain.project.impl.ProjectMetadataImpl" />
		<mapping class="org.wise.portal.domain.message.impl.MessageImpl" />
		<mapping class="org.wise.portal.domain.message.impl.MessageRecipientImpl" />
		<mapping class="org.wise.portal.domain.project.impl.TagImpl" />
		<mapping class="org.wise.portal.domain.portal.impl.PortalStatisticsImpl" />
		<mapping class="org.wise.portal.domain.attendance.impl.StudentAttendanceImpl" />

		<!--  vle mappings -->
		<mapping class="org.wise.vle.domain.user.UserInfo" />
		<mapping class="org.wise.vle.domain.node.Node" />
		<mapping class="org.wise.vle.domain.work.StepWork" />
		<mapping class="org.wise.vle.domain.work.StepWorkCache" />
		<mapping class="org.wise.vle.domain.journal.Journal" />
		<mapping class="org.wise.vle.domain.annotation.Annotation" />
		<mapping class="org.wise.vle.domain.cRater.CRaterRequest" />
		<mapping class="org.wise.vle.domain.peerreview.PeerReviewWork" />
		<mapping class="org.wise.vle.domain.peerreview.PeerReviewGate" />
		<mapping class="org.wise.vle.domain.ideabasket.IdeaBasket" />
		<mapping class="org.wise.vle.domain.statistics.VLEStatistics" />
		<mapping class="org.wise.vle.domain.xmpp.ChatLog" />
		<mapping class="org.wise.vle.domain.status.StudentStatus" />
		<mapping class="org.wise.vle.domain.status.RunStatus" />
	</session-factory>
</hibernate-configuration>
