<form role="form" (submit)="saveChanges()" [formGroup]="editProfileFormGroup">
  <div class="inputs">
    <p>
      <mat-form-field fxFlex appearance="fill">
        <mat-label i18n>First Name</mat-label>
        <input matInput
               id="firstName"
               name="firstName"
               formControlName="firstName" />
        <mat-error *ngIf="editProfileFormGroup.controls['firstName'].hasError('required')" i18n>First Name required</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field fxFlex appearance="fill">
        <mat-label i18n>Last Name</mat-label>
        <input matInput
               id="lastName"
               name="lastName"
               formControlName="lastName" />
        <mat-error *ngIf="editProfileFormGroup.controls['lastName'].hasError('required')" i18n>Last Name required</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field fxFlex appearance="fill">
        <mat-label i18n>Username</mat-label>
        <input matInput
               id="username"
               name="username"
               formControlName="username" />
        <mat-error *ngIf="editProfileFormGroup.controls['username'].hasError('required')" i18n>User Name required</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field fxFlex appearance="fill">
        <mat-label i18n>Language</mat-label>
        <mat-select placeholder="Language"
                    formControlName="language">
          <mat-option *ngFor="let language of languages" [value]="language.locale">
            {{language.language}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editProfileFormGroup.controls['language'].hasError('required')" i18n>Language required</mat-error>
      </mat-form-field>
    </p>
  </div>
  <div class="actions"
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="center start"
      fxLayoutAlign.gt-sm="start center"
      fxLayoutGap="24px">
    <button mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!editProfileFormGroup.valid || !changed || isSaving">
      <mat-progress-bar mode="indeterminate" *ngIf="isSaving"></mat-progress-bar>
      <ng-container i18n>Save Changes</ng-container>
    </button>
    <div *ngIf="isGoogleUser"
        fxLayout="row wrap"
        fxLayoutAlign="start center"
        fxLayoutGap="8px">
      <div fxLayoutAlign="start center" fxLayoutGap="8px">
        <img class="google-icon" src="assets/img/icons/g-logo.png" i18n-alt alt="Google logo" />
        <span i18n>This profile is linked to a Google account.</span>
      </div>
      <button class="unlink" type="button" mat-raised-button (click)="unlinkGoogleAccount()">
        <span class="warn" i18n>Unlink Google Account</span>
      </button>
    </div>
  </div>
</form>
