<form role="form" (submit)="saveChanges()" [formGroup]="editProfileFormGroup">
  <div fxLayout="column" fxLayoutAlign="start">
    <p>
      <mat-form-field fxFlex appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput
               id="firstName"
               name="firstName"
               formControlName="firstName" />
        <mat-error *ngIf="editProfileFormGroup.controls['firstName'].hasError('required')">First Name required</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field fxFlex appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput
               id="lastName"
               name="lastName"
               formControlName="lastName" />
        <mat-error *ngIf="editProfileFormGroup.controls['lastName'].hasError('required')">Last Name required</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field fxFlex appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput
               id="userName"
               name="userName"
               formControlName="userName" />
        <mat-error *ngIf="editProfileFormGroup.controls['userName'].hasError('required')">User Name required</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field fxFlex appearance="fill">
        <mat-label>Language</mat-label>
        <mat-select placeholder="Language"
                    formControlName="language">
          <mat-option *ngFor="let language of languages" [value]="language.locale">
            {{language.language}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editProfileFormGroup.controls['language'].hasError('required')">Language required</mat-error>
      </mat-form-field>
    </p>
    <div>
      <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!editProfileFormGroup.valid || !changed || isSaving"
              fxFlex
              fxFlex.gt-xs="0 0 auto">
        <mat-progress-bar mode="indeterminate" *ngIf="isSaving"></mat-progress-bar>
        <span>Save Changes</span>
      </button>
    </div>
  </div>
</form>
