@import
  '~style/abstracts/variables',
  '~style/abstracts/functions',
  '~style/abstracts/mixins';

.inputs {
  max-width: breakpoint('sm.min');
}

.actions {
  margin-top: 8px;
}

.google-icon {
  height: 1.8em;
  width: auto;
}

.unlink {
  margin: 8px 0;
}
