// Helpers
@function rem($multiplier) {
    $font-size: 10px;
    @return $multiplier * $font-size;
}

// Angular Material variables for use and !default overrides
$md-toolbar-height: 52px;
$md-toolbar-medium-tall-height: 74px;
$md-toolbar-tall-height: 104px;
$md-toolbar-height-mobile-portrait: 52px;
$md-toolbar-height-mobile-landscape: 52px;

$caption-font-size-base:   rem(1.300);

//$list-item-height: 56px;

$card-border-radius: 4px;

$layout-breakpoint-xs:     600px;
$layout-breakpoint-sm:     960px;
$layout-breakpoint-md:     1280px;
$layout-breakpoint-lg:     1920px;

$button-border-radius: 3px;

$tooltip-fontsize-lg: rem(1.1);
$tooltip-fontsize-sm: rem(1.1);
//$tooltip-height-lg: rem(2.2);
$tooltip-height-sm: rem(2.2);
//$tooltip-top-margin-lg: rem(1.4);
$tooltip-top-margin-sm: rem(1.4);
//$tooltip-lr-padding-lg: rem(0.8);
$tooltip-lr-padding-sm: rem(0.8);
//$tooltip-max-width: rem(3.20);

$progress-linear-bar-height: 7px;
