// Angular Material variables and overrides we want to use in our theme styles
@import "config";

// Angular Material customizations and additions

// 1. Config
@mixin md-shadow-bottom-z-1() {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}

@mixin md-shadow-bottom-z-2() {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
}

.md-shadow-bottom-z-1 {
  @include md-shadow-bottom-z-1();
}
.md-shadow-bottom-z-2 {
  @include md-shadow-bottom-z-2();
}

// Rules for sizing material icons
mat-icon {
    &.md-18 {
        font-size: 18px;
        width: 18px;
        height: 18px;
        min-width: 0;
    }
    &.md-24 {
        font-size: 24px;
        width: 24px;
        height: 24px;
        min-width: 0;
    }
    &.md-30 {
        font-size: 30px;
        width: 30px;
        height: 30px;
        min-width: 0;
    }
    &.md-36 {
        font-size: 36px;
        width: 36px;
        height: 36px;
        min-width: 0;
    }
    &.md-48 {
        font-size: 48px;
        width: 48px;
        height: 48px;
        min-width: 0;
    }

    // Rules for using material icons as black on a light background
    &.md-dark {
        color: rgba(0, 0, 0, 0.54);
    }
    &.md-dark.md-inactive {
        color: rgba(0, 0, 0, 0.26);
    }
    // Rules for using material icons as white on a dark background
    &.md-light {
        color: rgba(255, 255, 255, 1);
    }
    &.md-light.md-inactive {
        color: rgba(255, 255, 255, 0.3);
    }
}

md-toolbar {
    min-height: $baseline-grid * 6.5;

    .md-menu {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.md-toolbar-tools--fit {
    width: auto;
    padding: 0;

    .md-button {
        align-self: flex-start;
    }

    h1, h2, h3 {
        padding: $baseline-grid 0;
    }
}

md-card[md-ink-ripple], md-card-content[md-ink-ripple] {
    position: relative;
    cursor: pointer;
}

md-card {
    border-radius: $card-border-radius;
}

md-progress-linear:not([md-mode="indeterminate"]) {

    .md-container.md-ready {
        transform: none;
    }

    .md-container {
        transition: none;
    }
}

md-list-item {
    ._md-list-item-inner p {
        line-height: 24px;
    }

    ._md-list-item-inner>.md-avatar:first-child, md-list-item>.md-avatar:first-child {
        display: flex;
    }

    > .md-no-style.md-button {
        &:hover, &:focus {
            background-color: transparent;
        }
    }
}

md-progress-linear {
    height: 14px;

    .md-container {
        height: 14px;

        .md-bar {
            height: 14px;
        }
    }
}

md-input-container {
    &.md-no-float {
        margin-top: 0;
        padding-top: 0;

        .md-input {
            margin-top: 8px;
        }

        label {
            position: relative;
            padding-left: 0;
        }

        md-radio-button, md-checkbox {
            margin: 16px;
            display: block;
        }
    }

    &:not(.md-input-invalid):not(.md-input-focused).md-input-has-value label {
        color: rgba(0, 0, 0, 0.87) !important;
    }
}

md-checkbox {
  md-dialog-actions & {
    margin-bottom: 0;
  }
}

.md-button {
    padding: 0 8px;

    &.md-raised {
        &:not([disabled]) {
            @include md-shadow-bottom-z-1();

            &.md-focused, &:focus {
                @include md-shadow-bottom-z-1();
            }

            &:active {
                @include md-shadow-bottom-z-2();
            }

            &:not(.md-primary):not(.md-warn):not(.md-accent) {
                background-color: #ffffff;
            }
        }
    }

    &:not(.md-icon-button) {
        > md-icon {
            margin-top: -2px;
        }
    }
}

md-select {
    &.md-button.md-no-underline {
        .md-select-value {
            padding: 0px 2px 0px;
            border-bottom-width: 0px;
        }
    }
}

md-select-menu md-option[selected] {
    font-weight: 500;
}

md-optgroup label {
    padding: 8px 12px;
    text-transform: none;
}

md-dialog {
    max-width: 90%;
    display: flex !important; // TODO: not sure why this is necessary for some dialogs (compenent revision display for example get 'display: initial' added automatically)

    .md-dialog-content {
        padding: 16px;
    }
}

md-radio-button {
    outline: none;
}

// TODO: remove when fixed
.md-scroll-mask {
    z-index: 10 !important;
}

md-toast {
    @media (max-width: $layout-breakpoint-sm - 1) {
        padding: 0;

        .md-toast-content {
            border-radius: 0;
            padding-left: 12px;
            padding-right: 12px;
        }
    }
}

.md-open-menu-container {
    border-radius: $card-border-radius;
}

.md-toolbar-tools>.md-button:last-child {
    @media (max-width: $layout-breakpoint-sm - 1) {
        margin-right: 0;
    }
}

md-card .md-actions:not(.layout-column) .md-button.md-icon-button:last-of-type,
md-card md-card-actions:not(.layout-column) .md-button.md-icon-button:last-of-type {
    margin-right: 0;
}

md-card .md-actions:not(.layout-column) .md-button.md-icon-button:first-of-type,
md-card md-card-actions:not(.layout-column) .md-button.md-icon-button:first-of-type {
    margin-left: 0;
}

// hack
md-list-item .md-avatar, md-list-item .md-avatar-icon, md-list-item .md-list-item-inner .md-avatar,
md-list-item .md-list-item-inner .md-avatar-icon {
    margin-right: 12px;
    display: flex;
}

md-list-item .md-list-item-inner {
    line-height: 1.5;
}

md-select {
    &.md-button {
        text-transform: none;

        .md-select-value > span {
            margin-top: 1px;
        }

        .md-select-icon {
            margin: 0;
        }

        &:hover, &:focus {
            background-color: rgba(158,158,158,0.2);
        }
    }
}

// hack for now to make autocomplete menu items wrap text instead of hiding overflow
.md-autocomplete-suggestions {
    li {
        overflow: auto;
        line-height: normal;
        height: auto;
        min-height: 48px;
        white-space: normal;

        // layout-row
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;

        // layout-align="start-center"
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        max-width: 100%;
        > * {
          max-width: 100%;
          box-sizing: border-box;
        }
    }
}

// md-dialog on top of TinyMCE dialog
.tox-dialog__disable-scroll {
    .md-dialog-container {
        z-index: 1300;
    }
}
