#svg_editor #snapshotpanel {
	background-color:#A0A0A0;
	margin:0 2px;
	padding:3px;
	width:190px;
	border:1px solid #777777;
	position:absolute;
	top:0;
	bottom:0;
	right:12px;
	display:none;
}

#svg_editor #tool_snapshot a, #svg_editor #snapshot_tools a {
	font-size:1.1em;
}

#svg_editor #snapshot_header {
	border:1px solid #777777;
	color:#000000;
	height:17px;
	padding:2px 5px;
	background-color:#E8E8E8;
	position:absolute;
	right:3px;
	top:3px;
	left:3px;
}

#svg_editor #snapshot_header a {
	font-size:.9em;
}

#svg_editor #snapshot_tools div {
	display:inline;
}

#svg_editor #snapshot_header a#close_snapshots {
	color:#777777;
	cursor:pointer;
	float:right;
	font-size:1.2em;
}

#svg_editor #snapshots {
	background-color:#FFFFFF;
	border:1px solid #777777;
	bottom:26px;
	left:3px;
	margin:3px 0;
	padding:5px;
	position:absolute;
	right:3px;
	top:26px;
}

#svg_editor #snapshots #snap_images {
	overflow-y:auto;
	overflow-x:hidden;
	bottom:4px;
	left:2px;
	position:absolute;
	right:2px;
	top:32px;
}

#svg_editor #snapshots div.snap_delete {
	background:#999999;
	width:7px;
	float:right;
	margin-right:-2px;
	margin-top:-118px;
	padding:2px 5px 2px 6px;
	color:#FFFFFF;
}

#svg_editor #snapshots div.snap_num {
	background:#999999;
	color:#FFFFFF;
	float:left;
	font-size:1.2em;
	margin-left:-2px;
	margin-top:-20px;
	padding:2px 6px 2px 4px;
}

#svg_editor #snapshots div.snap_num, #svg_editor #snapshots div.snap_delete {
	-webkit-transition: background-color .25s;
	-moz-transition: background-color .25s;
	-ms-transition: background-color .25s;
	-o-transition: background-color .25s;
	transition: background-color .25s;
}

#svg_editor #snapshots div.hover div.snap_delete, #svg_editor #snapshots div.hover div.snap_num {
	background-color:#555555;
}

#svg_editor #snapshots div.active div.snap_delete, #svg_editor #snapshots div.active div.snap_num {
	background-color:#333333;
}

#svg_editor #snapshots div.snap_wrapper {
	float:left;
	height:115px;
}

#svg_editor #snapshots div.snap {
	background-color:#eeeeee;
	width:150px;
	height:112.5px;
	padding:2px;
	margin:5px auto;
	border:2px solid #999999;
	cursor:pointer;
	overflow:hidden;
	-webkit-transition: background-color .25s, border-color .25s;
	-moz-transition: background-color .25s, border-color .25s;
	-ms-transition: background-color .25s, border-color .25s;
	-o-transition: background-color .25s, border-color .25s;
	transition: background-color .25s, border-color .25s;
}

#svg_editor #snapshots div.hover {
	border-color:#555555;
}

#svg_editor #snapshots div.snap.active {
	background-color:#ffffff !important;
	border-color:#333333 !important;
	box-shadow:0 0 2px #444;
}

#svg_editor #play_controls {
	border:1px solid #777777;
	color:#000000;
	height:17px;
	padding:2px 5px;
	background-color:#E8E8E8;
	left:3px;
	position:absolute;
	right:3px;
	bottom:3px;
}

#svg_editor .snap_controls {
	float:left;
	margin:4px 4px 0 0;
	cursor:pointer;
}

#svg_editor #play_controls #snap_pause {
	display:none;
}

#svg_editor #play_controls #play_speed {
	width:60px;
	float:right;
	margin:3px 3px 0 5px;
	cursor:pointer;
}

#svg_editor #play_controls #play_speed .ui-slider-handle {
	top:-2px;
}

#svg_editor #play_controls #current_speed {
	float:right;
	margin:2px 0 0 5px;
	text-align:right;
	width:72px;
}

#svg_editor #play_controls #previous {
	margin: 4px 0 0;
}

#svg_editor #snapshotpanel .label {
	margin:0 2px;
}

#svg_editor #snapshotpanel h3 {
	font-weight:bold;
	margin:0;
	float:left;
}

#svg_editor #snapshotpanel .placeholder {
	width:150px;
	height:112.5px;
	border:1px dashed #555555;
	background-color:#DDDDDD;
	padding:2px;
	margin:auto auto 5px;
}

#svg_editor #tool_snapshot {
	clear: left;
    cursor: pointer;
    float: right;
    margin-right: 8px;
    position: relative;
    top: -1px;
}

#svg_editor #tool_snapshot div {
	padding:2px;	
}

#svg_editor img.tool_snapshot, #svg_editor #snapshot_tools img, #svg_editor #snapshot_tools a {
	vertical-align:middle;
	height:24px;
	margin-left:2px;
	cursor:pointer;
}

#svg_editor #snapshot_tools img {
	height: 21px;
    margin: -4px 5px -5px 4px;
}
