.account-menu {
  border-radius: 4px;
  padding: 0;
  font-size: $body-font-size-base;
}

.account-menu__users {
  padding: 8px;
  font-weight: 700;

  md-list-item {
    padding: 0;

    .md-avatar {
      margin: 0 8px 0 0;
      height: 48px;
      width: 48px;
    }
  }

  .md-subheader .md-subheader-inner {
    padding: 12px 0;
    //font-size: $subhead-font-size-base;
  }
}

.account-menu__caret {
  position: absolute;
  right: 28px;
  top: -8px;
  outline: none;

  &:before {
    content: '';
    position: absolute;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
}
.account-menu__actions {
  background-color: color('gray-lightest');
}
