// TODO: Update to use BEM properly

.component-content {
  padding: 0 16px;
  margin: 16px 0;

  @media only screen and (min-width: $layout-breakpoint-sm) {
    padding: 0 24px;
    margin: 24px 0;
  }

  @media only screen and (min-width: $layout-breakpoint-md) {
    padding: 0 32px;
    margin: 32px 0;
  }
}

.component-content__actions {
  .md-button:first-child {
    margin-left: 0;
  }

  .md-button:last-child {
    margin-right: 0;
  }
}

.component__attachment {
  position: relative;
  margin: 0 8px;
  padding-bottom: 8px;

  @media only screen and (min-width: $layout-breakpoint-xs) {
    padding-top: 8px;
  }
}

.component__add-attachment {
  @media only screen and (max-width: ($layout-breakpoint-xs - 1)) {
    width: 100%;
  }
}

.component__attachment__content {
  max-height: 100px;
  width: auto;
}

.component__attachment__delete {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 0;
  background-color: rgba(255, 255, 255, 0.75) !important;
  border-radius: 0;
  padding: 4px;
  margin: 0;

  //@media only screen and (min-width: $layout-breakpoint-sm) {
    //margin-top: 8px;
  //}

  > md-icon {
    margin-top: 0;
  }
}

.component-revision {
  margin: 8px 0;
  padding: 8px;

  &:nth-child(odd) {
    background-color: color('gray-lightest');
  }
}

.component-revision__content {
  padding: 4px 0 8px 0;
  border-bottom: 1px solid color('gray-light');
}

.component-revision__actions {
  color: color('gray-dark');
  padding-top: 4px;
}
