.menu-progress {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 12px;
    right: 15px;

    path {
        stroke: color('accent-3') !important;
    }
}

.menu-progress-bg {
    border-radius: 50%;
    border: 2.6px solid rgba(255,255,255,0.4);
    height: 26px;
    width: 26px;
    position: absolute;
    top: 12px;
    right: 15px;
}
