// Variables
$input-action-width: 48px;
$input-action-vertical-offset: 0;
$input-action-vertical-offset-richtext: -7px;

// Base
#step-tools {
  transition: 250ms linear all;
  transition-delay: 250ms;

  .node-toolbar {
      transition: 250ms linear all;
      transition-delay: 250ms;
  }

  &.ng-hide {
    .node-toolbar {
      height: 0;
      min-height: 0;

      .md-toolbar-tools {
        opacity: 0;
      }
    }
  }
}

.node-toolbar {
  position: fixed;
  left: 0;
  right: 0;
  top: $toolbar-height;
}

#node {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  transition: opacity 300ms;

  @media only screen and (min-width: $layout-breakpoint-xs) {
    padding: 24px 16px;
  }

  @media only screen and (min-width: $layout-breakpoint-sm) {
    padding: 32px;
  }

  &.ng-enter {
    opacity: 0;
  }

  .ng-enter-active {
    opacity: 1;
  }

  &.ng-leave {
    opacity: 1;
  }

  &.ng-leave-active, &.ng-hide {
    opacity: 0;
    transition: 1ms;
  }
}

.node-content {
  padding: 0 0 24px;

  @media only screen and (min-width: $layout-breakpoint-xs) {
    padding: 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    border-top: 2px solid;
    border-bottom: 2px solid;
  }
}

.node-icon {
  color: #ffffff !important;
}

.node-select {
  margin: 0 8px;
  min-width: 0;

  .md-select-value {
    *:first-child {
      transform: translate3d(0,0,0);
      flex: 1 0 0;
    }

    .node-select__icon {
      display: none;
    }

    .node-select__status {
      display: none;
    }
  }

  .md-select-icon {
    margin-left: 0;
    color: color('text');
  }
}

.node-select-option--group {
  //color: rgba(0,0,0,0.54);
  background-color: color('gray-lightest');
  border-bottom: 1px solid color('gray-lighter');
  border-top: 1px solid color('gray-lighter');
}

.node-select-option--node {
  padding-left: 20px;
}

.node-select__icon {
  margin-right: 8px;
}

.node-select__status {
  margin-left: 8px;
}

.node-select__text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media only screen and (min-width: $layout-breakpoint-xs) {
    margin-top: 2px;
  }
}

.node-title {
  line-height: 1.2;
  text-transform: none;
  margin-top: 3px;
}

@media only screen and (max-width: ($layout-breakpoint-xs - 1)) {
  .node-title, .node-select {
    font-size: $body-font-size-base;
  }
}

.node-content__actions {
  padding: 0 16px 16px;

  @media only screen and (min-width: $layout-breakpoint-sm) {
    padding: 0 24px 24px;
  }

  @media only screen and (min-width: $layout-breakpoint-md) {
    padding: 0 32px 32px;
  }

  .md-button:first-child {
    margin-left: 0;
  }

  .md-button:last-child {
    margin-right: 0;
  }
}

.node-content__actions__info {
  font-style: italic;
  margin-left: 8px;
  opacity: 0.8;
  color: lighten(color('accent-2'), 5%);
}

.node-content__actions__more {
  border-bottom: 1px dotted;
}

.md-button.md-icon-button.node-nav {
  &:not(:first-of-type) {
  }

  &:first-of-type {
    margin-right: 0;
  }
}
