#surveyTitle {
	font-size:2em;
	font-weight:bold;
	margin:20px;	
}

.item {
	margin:20px;
}

.prompt {
	font-weight:bold;
	margin-bottom:5px;
}

.chooseOne {
	display:block;
	margin-bottom:3px;
}

.chooseOne input {
	margin-right:7px;
}

#submitSurveyButton {
	margin: 0 0 20px 20px;
	font-weight:bold;	
	font-size:1.1em;
}