<mat-card class="standalone__content standalone__content--sm mat-elevation-z4">
  <mat-card-content>
    <form role="form" (submit)="login()">
      <h2 class="standalone__title accent" i18n="Message to sign in to WISE">Sign in to WISE</h2>
      <p class="warn center standalone__error inactive"
         [ngClass]="{'active': error}" i18n="Error message for username and password not recognized">
        Username and password not recognized. Please try again.
      </p>
      <p>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label i18n="Label for username">Username</mat-label>
          <input matInput
                 id="username"
                 name="username"
                 [(ngModel)]="credentials.username"
                 [disabled]="processing"
                 autofocus />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label i18n="Label for password">Password</mat-label>
          <input matInput
                 id="password"
                 name="password"
                 type="password"
                 [disabled]="processing"
                 [(ngModel)]="credentials.password" />
        </mat-form-field>
      </p>
      <p>
        <button fxFlex
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="processing">
          <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
          <span i18n="Label for sign in button">Sign In</span>
        </button>
      </p>
    </form>
    <span *ngIf="isGoogleAuthenticationEnabled">
      <p class="center mat-subheading-1">- or -</p>
      <p class="center">
        <button class="button--social-login button--google"
                color="accent"
                mat-raised-button
                (click)="socialSignIn('google')">
          <img src="assets/img/icons/g-logo.png" alt="Google logo" i18n="Label for sign in with Google" />Sign in with Google
        </button>
      </p>
    </span>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <p i18n="Label for forgot username and password button"><a routerLink="/lost">Forgot username or password?</a></p>
    <p i18n="Message to prompt new user to join WISE">New to WISE? <a routerLink="/join">Join for free!</a></p>
  </mat-card-actions>
</mat-card>
