@import
'~style/abstracts/functions',
'~style/abstracts/variables',
'~style/abstracts/mixins';

.content-block {
  margin-top: 24px;
}

discourse-recent-activity {
  margin-bottom: 16px;
  margin-top: 8px;

  @media (min-width: breakpoint('sm.min')) {
    margin-top: -8px;
  }

  @media (min-width: breakpoint('md.min')) {
    margin-top: -36px;
  }
}