<header fxLayout="row" class="content__header">
  <h1 class="accent">Welcome, <span id="teacherName">{{ user.firstName}}</span>!</h1>
</header>

<section>
  <mat-tab-group [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Class Schedule">
      <app-teacher-run-list></app-teacher-run-list>
    </mat-tab>
    <mat-tab label="Browse WISE Units">
      <div class="content-block">
        <app-teacher-project-library></app-teacher-project-library>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
