
<style>
    body{font-family:Sans-Serif;}
    canvas{position:absolute; left: -9999em;}
    #button{background-color: Red; color: #fff; padding: 3px 10px; cursor:pointer; display: inline-block; border-radius: 5px;}
    #sidebar{float:right; width: 45%;}
    #main{float:left; width: 45%;}
    #imageToForm{width:100%;}
    #preview{margin: 20px 0;}
    label{display: block;}
    
    #video {
        transform: rotateY(180deg); /* flip on y-axis */
        -webkit-transform:rotateY(180deg); /* Safari and Chrome */
        -moz-transform:rotateY(180deg); /* Firefox */
    }
</style>

<div ng-controller='PhotoBoothController as photoBoothController'>
<div id='prompt'>prompt: {{photoBoothController.nodeContent.prompt}}</div>
<div id="main">
        <div style='text-align:center'>
            <video id="video"></video>
            <a style='margin-top:5px' ng-show='photoBoothController.isCameraReady' id="button" ng-click='photoBoothController.takePicture()'>Take Picture!</a>
        </div>
    </div>
    
    <div id="sidebar">
        <!-- target for the canvas -->
        <div id="canvasHolder"></div>
        <h2>Pictures</h2>
        <ul id="picturelist">
            <li ng-repeat='imgAsset in photoBoothController.studentResponse'>
                <img src='{{imgAsset.url}}'></img>
            </li>
        </ul>
    </div>

    <script>
        var video;
        var dataURL;
    </script>
</div>