// Colors
$primary-color: #1C8CA8;
$accent-color-1: #F05843;
$accent-color-2: #795C3A;
$accent-color-3: #CAD266;
$warn-color: #F44336;
$success-color: #62C766;

$body-color: rgba(0,0,0,0.87);

$gray-lighter: #eeeeee;
$gray-light: #dddddd;
$gray: #cccccc;
$gray-dark: #333333;

// Typography
$text-color-dark: rgba(0, 0, 0, 0.87);
$text-color-light: rgba(255, 255, 255, 0.87);
