// Mixins


// Misc
.auto-height {
  height: auto;
  min-height: unset;
  max-height: none;
}

.auto-width {
  width: auto;
}

.primary {
  color: $primary-color;

  md-icon {
    color: $primary-color;
  }
}

.success {
  color: $success-color;

  md-icon {
    color: $primary-color;
  }
}

.warn {
  color: $warn-color;

  md-icon {
    color: $warn-color;
  }
}

.accent-color-1 {
  color: $accent-color-1;

  md-icon {
    color: $accent-color-1;
  }
}

.accent-color-2 {
  color: $accent-color-2;

  md-icon {
    color: $accent-color-2;
  }
}

.accent-color-3 {
  color: $accent-color-3;

  md-icon {
    color: $accent-color-3;
  }
}
