@import
'~style/abstracts/variables',
'~style/abstracts/functions',
'~style/abstracts/mixins';

form {
  max-width: breakpoint('sm.min');

  @media (max-width: breakpoint('sm.max')) {
    margin: 0 auto;
  }
}

.google-icon {
  height: 1.8em;
  width: auto;
}

.unlink {
  margin: 8px 0;
}
