<form #changePasswordForm="ngForm" *ngIf="!isGoogleUser"
      role="form"
      (submit)="saveChanges()"
      [formGroup]="changePasswordFormGroup">
  <div fxLayout="column" fxLayoutAlign="start">
    <p>
      <mat-form-field fxFlex appearance="fill">
        <mat-label i18n>Current Password</mat-label>
        <input matInput
               id="oldPassword"
               type="password"
               name="oldPassword"
               formControlName="oldPassword"
               required />
        <mat-error *ngIf="changePasswordFormGroup.controls['oldPassword'].hasError('required')" i18n>Current Password required</mat-error>
        <mat-error *ngIf="changePasswordFormGroup.controls['oldPassword'].hasError('incorrectPassword')" i18n>Current Password is incorrect</mat-error>
      </mat-form-field>
    </p>
    <div formGroupName="newPasswordFormGroup">
      <p>
        <mat-form-field fxFlex appearance="fill">
          <mat-label i18n>New Password</mat-label>
          <input matInput
                 id="newPassword"
                 type="password"
                 name="newPassword"
                 formControlName="newPassword"
                 required />
          <mat-error *ngIf="newPasswordFormGroup.controls['newPassword'].hasError('required')" i18n>New Password required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field fxFlex appearance="fill">
          <mat-label i18n>Confirm New Password</mat-label>
          <input matInput
                 id="confirmNewPassword"
                 type="password"
                 name="confirmNewPassword"
                 formControlName="confirmNewPassword"
                 required />
          <mat-error *ngIf="newPasswordFormGroup.controls['confirmNewPassword'].hasError('required')" i18n>Confirm Password required</mat-error>
          <mat-error *ngIf="newPasswordFormGroup.hasError('passwordDoesNotMatch')" i18n>Passwords do not match</mat-error>
        </mat-form-field>
      </p>
    </div>
    <div>
      <button mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!changePasswordFormGroup.valid || isSaving"
              fxFlex
              fxFlex.gt-xs="0 0 auto">
        <ng-container i18n>Change Password</ng-container>
        <mat-progress-bar mode="indeterminate" *ngIf="isSaving"></mat-progress-bar>
      </button>
    </div>
  </div>
</form>
<ng-container *ngIf="isGoogleUser">
  <p fxLayoutAlign="start center" fxLayoutGap="8px" i18n>
    <img class="google-icon" src="assets/img/icons/g-logo.png" i18n-alt alt="Google logo" />
    <span>This account was created using Google and doesn't use a WISE password.</span>
  </p>
  <p>
    <button id="unlinkGoogleAccount"
        class="unlink"
        type="button"
        mat-raised-button
        (click)="unlinkGoogleAccount()">
      <span class="warn" i18n>Unlink Google Account</span>
    </button>
  </p>
</ng-container>
