// WISE Default theme

// Material grey color palette for reference
$mat-grey: (
  50: #fafafa,
  100: #f5f5f5,
  200: #eeeeee,
  300: #e0e0e0,
  400: #bdbdbd,
  500: #9e9e9e,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161
);

// define Angular Material theme colors
$default-primary: (
  50 : #e4f1f5,
  100 : #bbdde5,
  200 : #8ec6d4,
  300 : #60afc2,
  400 : #3e9db5,
  500 : #1c8ca8,
  600 : #1984a0,
  700 : #147997,
  800 : #116f8d,
  900 : #095c7d,
  A100 : #ade5ff,
  A200 : #7ad5ff,
  A400 : #47c4ff,
  A700 : #2dbcff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$default-accent: (
  50 : #fdebe8,
  100 : #fbcdc7,
  200 : #f8aca1,
  300 : #f58a7b,
  400 : #f2715f,
  500 : #f05843,
  600 : #ee503d,
  700 : #ec4734,
  800 : #e93d2c,
  900 : #e52d1e,
  A100 : #ffffff,
  A200 : #ffe9e7,
  A400 : #ffb9b4,
  A700 : #ffa19b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$default-theme-primary: mat-palette($default-primary);
$default-theme-accent: mat-palette($default-accent);
$default-theme-warn: mat-palette($mat-red, 800);

// create Angular Material theme
$default: mat-light-theme(
  $default-theme-primary,
  $default-theme-accent,
  $default-theme-warn
);

$default-mat-light-theme-background: (
  status-bar: map_get($mat-grey, 400),
  app-bar:    map_get($mat-grey, 300),
  background: map_get($mat-grey, 100),
  hover:      rgba(black, 0.04),
  card:       white,
  dialog:     white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: rgba(black, 0.12),
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
  tooltip: map_get($mat-grey, 700)
);

$default-theme: map-merge($default, (background: $default-mat-light-theme-background));

// get theme color variables
$primary: map-get($default-theme, primary);
$accent: map-get($default-theme, accent);
$warn: map-get($default-theme, warn);
$foreground: map-get($default-theme, foreground);
$background: map-get($default-theme, background);

// create colors object (including additional colors)
$default-colors: (
  'accent': mat-color($accent),
  'accent-1': #795C3A,
  'accent-2': #CAD266,
  'app-bg': white,
  'control-bg': white,
  'control-bg-active': white,
  'disabled-text': mat-color($foreground, disabled-text),
  'highlighted': #fffaec,
  'info': #ef6c00,
  'info-contrast': white,
  'notice-bg': rgba(black, 0.04),
  'primary': mat-color($primary),
  'score': #FFC107,
  'secondary-text': mat-color($foreground, secondary-text),
  'selected-bg': map-get($default-theme-primary, 50),
  'success': #00C853,
  'success-contrast': black,
  'text': mat-color($foreground, text),
  'warn': mat-color($warn)
);
