// Angular Material !default overrides for this WISE theme
@import "material/config";

// Default Angular Material styles
// TODO: figure out how to reference latest jspm package without needing full path/version number
@import "../../../../../../../node_modules/angular-material/angular-material.scss";

// Angular Material customizations
@import "material/custom";

// Angular Material RTL customizations
@import "material/rtl";