body {
	text-align: left;
}

.center {
	text-align: center;
}

#questionCountBox {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	margin-top: -3px;
}

#brain_title {
	background-color: #FF9D1E;
	padding: 8px;
	border-radius: 6px;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	vertical-align: bottom;
	letter-spacing: 1.6px;
}

.instructionsReminder {
	float: right;
	text-align: right;
	margin: 2px 15px 0px 0;
	color: #333;
	vertical-align: middle;
}

#questionprompt,#questionDiv {
	padding: 10px 20px;
	background-color: #FFE6C6;
	color: #000;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-top: 8px;
	font-size: .9em;
}

#questionprompt p,#questionDiv p {
	font-size: inherit;
}

#questionprompt tt,#questionDiv tt {
	font-size: 120%;
	font-weight: bold;
}

#questionprompt table,#questionDiv table {
	border-collapse: collapse;
	margin: 0 auto;
}

#questionprompt table th,#questionDiv table th {
	background-color: #919EBA;
	color: #333;
	border: 1px solid black;
	padding: 4px 15px;
	text-align: left;
}

#questionprompt table td,#questionDiv table td {
	background-color: #99ccff;
	color: #000;
	border: 1px solid black;
	padding: 10px 15px;
}

#studentResponseDiv {
	margin-left: 5px;
	margin-top: 10px;
}


#studentResponseDiv h2 {
	font-size: 70%;
	text-transform: uppercase;
	font-weight:normal;
}

#studentResponseDiv textarea {
	width:95%;
	text-align: left;
	padding: 10px;
	margin: 5px 0 0px 0;
}


/* This style hides the BODY element inside the Rich Text Editor */
#studentResponse_dompath {
	display: none;
}

.header1 {
	font-size: .8em;
	text-transform: uppercase;
	margin-bottom:5px;
	font-weight:bold;
}

.header2 {
	font-size: .8em;
	text-transform: uppercase;
	margin-bottom:5px;
	margin-top:10px;
	font-weight:bold;
}

#main input {
	background-color: #919EBA;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid black;
	font-weight: bold;
	padding: 5px 25px;
	margin: 10px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#main input:hover {
	background-color: #FFFF00;
}
.response {
	margin-bottom:10px;	
}

.reply {	
    margin-left:20px;
}

.responseTitle {
	padding: 4px 6px 7px 6px;
	background-color:#6883BA;
	color:#FFF;
	text-align: left;
	font-weight: bold;
	font-size:80%;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	}

.responseTextArea {
	padding: 4px 6px;
	font-weight: normal;
	font-size:85%;
	background-color:#FFF;
	color: #000;
	border:1px solid #999; 
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

.replyLink {
	float:right;
}