<style type='text/css'>
    table {
        border-collapse: collapse;
        border: 1px solid black;
    }
    table td, table th {
        border: 1px solid black;
    }

    .online {
        background-color: lightgreen;
    }

    .active {
        background-color: yellow;
    }
</style>

<div class="view-content view-content--with-sidemenu">
    <div class="l-constrained" layout="column">
        <div>
            <button ng-repeat='period in studentProgressController.periods'
                    ng-click='studentProgressController.setCurrentPeriod(period)'
                    ng-class="{'active': period.periodName == studentProgressController.getCurrentPeriod().periodName}">
                {{period.periodName}}
            </button>
        </div>

        <table>
            <tr>
                <th translate="team" />
                <th translate="currentLocation" />
                <th translate="timeSpent" />
                <th translate="projectCompletion" />
                <th translate="score" ng-if='studentProgressController.maxScore !== null' />
            </tr>
            <tr ng-class="{online: studentProgressController.isWorkgroupOnline(workgroup.workgroupId)}"
                ng-repeat="workgroup in studentProgressController.workgroups"
                ng-show="studentProgressController.getCurrentPeriod().periodName == 'All' || workgroup.periodId == studentProgressController.getCurrentPeriod().periodId">
                <td ng-if="studentProgressController.canViewStudentNames"><a ng-click="studentProgressController.showWorkgroupProjectView(workgroup)">{{workgroup.userName}} ({{workgroup.workgroupId}})</a></td>
                <td ng-if="!studentProgressController.canViewStudentNames">{{workgroup.workgroupId}}</td>
                <td>{{studentProgressController.getCurrentNodeForWorkgroupId(workgroup.workgroupId)}}</td>
                <td align='right'><div ng-show='studentProgressController.isWorkgroupOnline(workgroup.workgroupId)'>{{studentProgressController.getStudentTimeSpent(workgroup.workgroupId)}}</div></td>
                <td align='right'><div ng-if='studentProgressController.getStudentProjectCompletion(workgroup.workgroupId)'>{{studentProgressController.getStudentProjectCompletion(workgroup.workgroupId)}}%</div></td>
                <td align='right' ng-if='studentProgressController.maxScore !== null'><div>{{studentProgressController.getStudentTotalScore(workgroup.workgroupId)}}/{{studentProgressController.maxScore}}</div></td>
            </tr>
        </table>

            <!-- TODO: get this working again -->
        <!--<div translate="newWorkCounter"
             translate-value-count="0"></div>
        </div>-->
    </div>
</div>
