<style type='text/css'>
    table {
        border-collapse: collapse;
        border: 1px solid black;
    }
    table td, table th {
        border: 1px solid black;
    }

    .online {
        background-color: lightgreen;
    }

    table tr {
        cursor: pointer;
    }
</style>

<div>
{{ studentProgressController.title }}
<br>

<div>
    <button ng-repeat='period in studentProgressController.periods' ng-click='studentProgressController.setCurrentPeriod(period)'>{{period.periodName}}</button>
    <p>Current Period: {{studentProgressController.getCurrentPeriod()}}</p>
</div>

<table>
    <tr>
        <th>Team</th>
        <th>Latest Step</th>
        <th>Time Spent</th>
        <th>Project Completion</th>
        <th>Score</th>
    </tr>
    <tr ng-class="{online: studentProgressController.isWorkgroupOnline(workgroup.workgroupId)}"
        ng-repeat="workgroup in studentProgressController.workgroups"
        ng-click="studentProgressController.studentRowClicked(workgroup)"
        ng-show="studentProgressController.getCurrentPeriod().periodName == 'All' || workgroup.periodId == studentProgressController.getCurrentPeriod().periodId">
        <td>{{workgroup.userName}} ({{workgroup.workgroupId}})</td>
        <td>{{studentProgressController.getCurrentNodeForWorkgroupId(workgroup.workgroupId)}}</td>
        <td></td>
        <td></td>
        <td><div ng-show='studentProgressController.totalScore != null'>{{studentProgressController.getStudentTotalScore(workgroup.workgroupId)}}/{{studentProgressController.totalScore}}</div></td>
        <!--  
        <td>{{studentProgressController.getStudentProjectCompletion(workgroup.workgroupId)}}</td>
        -->
    </tr>
</table>

<div>new work counter: {{studentProgressController.getNewNodeVisits().length}}</div>
</div>