<div>
  <div ng-if='!discussionController.authoringComponentContent.showPreviousWork'>
    <md-input-container style='width: 100%; margin-bottom: 0;'>
      <label>{{ ::'PROMPT' | translate }}</label>
      <textarea rows='1'
                ng-model='discussionController.authoringComponentContent.prompt'
                ng-change='discussionController.componentChanged()'
                ng-model-options='{ debounce: 1000 }'
                placeholder='{{ ::"enterPromptHere" | translate }}'>
    </textarea>
    </md-input-container>
    <md-input-container style='margin-top: 0; margin-bottom: 0;'>
      <md-checkbox class='md-primary'
                    ng-model='discussionController.authoringComponentContent.isStudentAttachmentEnabled'
                    ng-change='discussionController.componentChanged()'>
        {{ ::'discussion.allowUploadedImagesInPosts' | translate }}
      </md-checkbox>
    </md-input-container>
    <br/>
    <md-input-container style='margin-top: 0; margin-bottom: 0;'>
      <md-checkbox class='md-primary'
                   ng-model='discussionController.authoringComponentContent.gateClassmateResponses'
                   ng-change='discussionController.componentChanged()'>
        {{ ::'discussion.gateClassmateResponses' | translate }}
      </md-checkbox>
    </md-input-container>
  </div>
</div>
