<div>
    <div class='advancedAuthoringDiv'
         ng-if='discussionController.showAdvancedAuthoring'>
    <div>
      <h6>{{ ::'advancedAuthoringOptions' | translate }}</h6>
    </div>
    <div>
      <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'>
        <label>{{ ::'MAX_SCORE' | translate }}</label>
        <input type='number'
                ng-model='discussionController.authoringComponentContent.maxScore'
                ng-model-options='{ debounce: 1000 }'
                ng-change='discussionController.authoringViewComponentChanged()'/>
      </md-input-container>
    </div>
    <div>
      <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'>
        <label>{{ ::'COMPONENT_WIDTH' | translate }}</label>
        <input type='number'
                ng-model='discussionController.authoringComponentContent.componentWidth'
                ng-model-options='{ debounce: 1000 }'
                ng-change='discussionController.authoringViewComponentChanged()'/>
      </md-input-container>
    </div>
    <div>
      <label class='node__label--vertical-alignment'>
        {{ ::'RUBRIC' | translate }}
      </label>
      <md-button class='topButton md-raised md-primary'
                  ng-click='discussionController.showRubricAuthoring = !discussionController.showRubricAuthoring'>
        <md-icon>message</md-icon>
        <md-tooltip md-direction='top'
                    class='projectButtonTooltip'>
          {{ ::'EDIT_COMPONENT_RUBRIC' | translate }}
        </md-tooltip>
      </md-button>
      <div ng-if='discussionController.showRubricAuthoring'>
          <wise-ckeditor
              [(model)]='discussionController.rubric'
              (model-change)='discussionController.rubricChanged()' >
          </wise-ckeditor>
      </div>
    </div>
    <div>
      <div style='height: 50;'>
        <label class='node__label--vertical-alignment'>
          {{ ::'CONNECTED_COMPONENTS' | translate }}
        </label>
        <md-button class='topButton md-raised md-primary'
                    ng-click='discussionController.addConnectedComponent()'>
          <md-icon>add</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'ADD_CONNECTED_COMPONENT' | translate }}
          </md-tooltip>
        </md-button>
      </div>
      <div ng-repeat='connectedComponent in discussionController.authoringComponentContent.connectedComponents track by $index'
            style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'
            layout='row'>
        <div flex>
          <md-input-container style='margin-right: 20; width: 300;'>
            <label>{{ ::'step' | translate }}</label>
            <md-select ng-model='connectedComponent.nodeId'
                        ng-change='discussionController.connectedComponentNodeIdChanged(connectedComponent)'
                        style='width: 300'>
              <md-option ng-repeat='item in discussionController.idToOrder | toArray | orderBy : "order"'
                          value='{{item.$key}}'
                          ng-if='discussionController.isApplicationNode(item.$key)'>
                {{ discussionController.getNodePositionAndTitleByNodeId(item.$key) }}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20; width: 300;'>
            <label>{{ ::'component' | translate }}</label>
            <md-select ng-model='connectedComponent.componentId'
                        ng-change='discussionController.connectedComponentComponentIdChanged(connectedComponent)'
                        style='width: 300'>
              <md-option ng-repeat='(componentIndex, component) in discussionController.getComponentsByNodeId(connectedComponent.nodeId)'
                          value='{{component.id}}'
                          ng-disabled='!discussionController.isConnectedComponentTypeAllowed(component.type) || component.id == discussionController.componentId'>
                {{ componentIndex + 1 }}. {{ component.type }}
                <span ng-if='component.id == discussionController.componentId'>
                  ({{ ::'thisComponent' | translate }})
                </span>
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='margin-right: 20; width: 200;'>
            <label>{{ 'type' | translate }}</label>
            <md-select ng-model='connectedComponent.type'
                        ng-change='discussionController.connectedComponentTypeChanged(connectedComponent)'
                        style='width: 200'>
              <md-option value='importWork'>
                {{ ::'importWork' | translate }}
              </md-option>
              <md-option value='showWork'>
                {{ ::'showWork' | translate }}
              </md-option>
            </md-select>
          </md-input-container>
          <span flex></span>
          <md-input-container style='margin-left: 20;'>
            <md-button class='topButton md-raised md-primary'
                        ng-click='discussionController.deleteConnectedComponent($index)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top'
                          class='projectButtonTooltip'>
                {{ ::'DELETE' | translate }}
              </md-tooltip>
            </md-button>
          </md-input-container>
        </div>
      </div>
    </div>
    <div style='margin-top: 10px; margin-bottom: 10px;'>
      <div style='height: 50;'>
        <label class='node__label--vertical-alignment'>{{ ::'tags' | translate }}</label>
        <md-button class='topButton md-raised md-primary'
                    ng-click='discussionController.addTag()'>
          <md-icon>add</md-icon>
          <md-tooltip md-direction='top'
                      class='projectButtonTooltip'>
            {{ ::'addTag' | translate }}
          </md-tooltip>
        </md-button>
      </div>
      <div ng-repeat='tag in discussionController.authoringComponentContent.tags track by $index'>
        <div layout='row'>
          <md-input-container style='margin-bottom: 0px'>
            <label></label>
            <input ng-model='discussionController.authoringComponentContent.tags[$index]'
                    ng-change='discussionController.authoringViewComponentChanged()'
                    ng-model-options='{ debounce: 1000 }'
                    size='100'
                    placeholder='{{ ::"enterTag" | translate }}'/>
          </md-input-container>
          <md-button class='moveComponentButton md-raised md-primary'
                      ng-click='discussionController.moveTagUp($index)'>
            <md-icon>arrow_upward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'moveUp' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                      ng-click='discussionController.moveTagDown($index)'>
            <md-icon>arrow_downward</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'moveDown' | translate }}
            </md-tooltip>
          </md-button>
          <md-button class='moveComponentButton md-raised md-primary'
                      ng-click='discussionController.deleteTag($index)'>
            <md-icon>delete</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'DELETE' | translate }}
            </md-tooltip>
          </md-button>
        </div>
      </div>
    </div>
    <div>
      <label class='node__label--vertical-alignment'>{{ ::'json' | translate }}</label>
      <md-button class='topButton md-raised md-primary'
                  ng-click='discussionController.showJSONButtonClicked()'>
        <md-icon>code</md-icon>
        <md-tooltip md-direction='top'
                    class='projectButtonTooltip'>
          {{ ::'SHOW_JSON' | translate }}
        </md-tooltip>
      </md-button>
      <span ng-if='discussionController.isJSONStringChanged'>
        {{ ::'closeTheJSONViewToSaveTheChanges' | translate }}
      </span>
      <div ng-if='discussionController.showJSONAuthoring'>
        <md-input-container style='width: 100%;'>
          <textarea ng-model='discussionController.authoringComponentContentJSONString'
                    style='width: 90%; border: 1px solid black;'
                    ng-change='discussionController.authoringJSONChanged()'
                    ng-model-options='{ debounce: 1000 }'>
          </textarea>
        </md-input-container>
      </div>
    </div>
  </div>
  <br/>
  <div ng-if='!discussionController.authoringComponentContent.showPreviousWork'>
    <md-input-container style='width: 100%; margin-bottom: 0;'>
      <label>{{ ::'PROMPT' | translate }}</label>
      <textarea rows='1'
                ng-model='discussionController.authoringComponentContent.prompt'
                ng-change='discussionController.authoringViewComponentChanged()'
                ng-model-options='{ debounce: 1000 }'
                placeholder='{{ ::"enterPromptHere" | translate }}'>
    </textarea>
    </md-input-container>
    <md-input-container style='margin-top: 0; margin-bottom: 0;'>
      <md-checkbox class='md-primary'
                    ng-model='discussionController.authoringComponentContent.isStudentAttachmentEnabled'
                    ng-change='discussionController.authoringViewComponentChanged()'>
        {{ ::'discussion.allowUploadedImagesInPosts' | translate }}
      </md-checkbox>
    </md-input-container>
    <br/>
    <md-input-container style='margin-top: 0; margin-bottom: 0;'>
      <md-checkbox class='md-primary'
                   ng-model='discussionController.authoringComponentContent.gateClassmateResponses'
                   ng-change='discussionController.authoringViewComponentChanged()'>
        {{ ::'discussion.gateClassmateResponses' | translate }}
      </md-checkbox>
    </md-input-container>
  </div>
  <div ng-style='{"border": "5px solid black", "padding": "20px"}'>
    <div>
      <h5>{{ ::'studentPreview' | translate }}</h5>
    </div>
    <preview-component component-content='discussionController.componentContent'/>
  </div>
</div>
