<md-card class='discussion-post'>
  <div class='discussion-post__contents'>
    <div layout='row' layout-align='start center'>
      <div class='md-avatar discussion-post__avatar'>
        <md-icon class='md-48'
          style='color: {{::classResponseCtrl.getAvatarColorForWorkgroupId(classResponseCtrl.response.workgroupId)}};'>
          account_circle
        </md-icon>
      </div>
      <div flex>
        <div class='discussion-post__user'>{{ ::classResponseCtrl.response.usernames }}</div>
        <div class='md-body-1 discussion-post__date'>
          <span class='component__actions__more'>
            <md-tooltip md-direction='right'>
              {{ ::classResponseCtrl.adjustClientSaveTime(classResponseCtrl.response.serverSaveTime) | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}
            </md-tooltip>
            {{ ::classResponseCtrl.adjustClientSaveTime(classResponseCtrl.response.serverSaveTime) | amCalendar }}
          </span>
        </div>
      </div>
    </div>
    <div class='md-content discussion-post__content md-body-1'
      ng-bind-html='::classResponseCtrl.response.studentData.responseText'>
    </div>
    <img ng-repeat='attachment in ::classResponseCtrl.response.studentData.attachments'
      ng-src='{{::attachment.iconURL}}' alt='Image' class='discussion-post__attachment' />
    <div align='right' ng-if='::(classResponseCtrl.mode === "grading" || classResponseCtrl.mode === "gradingRevision")'>
      <br />
      <md-button
        ng-if='classResponseCtrl.response.latestInappropriateFlagAnnotation == null || classResponseCtrl.response.latestInappropriateFlagAnnotation.data == null || classResponseCtrl.response.latestInappropriateFlagAnnotation.data.action != "Delete"'
        class='md-raised' style='color:red'
        ng-click='classResponseCtrl.deleteButtonClicked(classResponseCtrl.response)'>
        Delete
      </md-button>
      <md-button class='md-raised'
        ng-if='classResponseCtrl.response.latestInappropriateFlagAnnotation.data.action === "Delete"' style='color:red'
        ng-click='classResponseCtrl.undoDeleteButtonClicked(classResponseCtrl.response)'>
        Undo Delete
      </md-button>
    </div>
  </div>
  <md-divider></md-divider>
  <div class='discussion-comments'>
    <div class='discussion-comments__contents' ng-if='classResponseCtrl.response.replies.length'>
      <md-subheader class='md-no-sticky discussion-comments__header'>
        <span ng-if='classResponseCtrl.response.replies.length == 1'>
          {{ ::'discussion.comments' | translate }} ({{ classResponseCtrl.response.replies.length }})
        </span>
        <a ng-if='classResponseCtrl.response.replies.length > 1' ng-click='classResponseCtrl.toggleExpanded()'>
          {{ ::'discussion.comments' | translate }} ({{ classResponseCtrl.response.replies.length }})
          <md-icon class='md-primary'>{{classResponseCtrl.expanded ? 'expand_less' : 'expand_more'}}</md-icon>
        </a>
      </md-subheader>
      <md-list class='discussion-comments__list'>
        <md-list-item class='discussion-reply' layout-align='start start' ng-class='::{"animate-show": !$last}'
          ng-repeat='reply in classResponseCtrl.response.replies' ng-if='$last || classResponseCtrl.expanded'>
          <div class='md-avatar discussion-post__avatar--reply discussion-post__avatar'>
            <md-icon class='md-36'
              style='color: {{::classResponseCtrl.getAvatarColorForWorkgroupId(reply.workgroupId)}}'>
              account_circle
            </md-icon>
          </div>
          <div class='md-list-item-text discusstion-reply__details'>
            <h3 class='discussion-post__user discussion-post__user--reply' flex>
              {{ ::reply.usernames }}
              <span class='md-caption discussion-post__date discussion-post__date--reply component__actions__more'>
                <md-tooltip md-direction='right'>
                  {{ ::classResponseCtrl.adjustClientSaveTime(reply.serverSaveTime) | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}
                </md-tooltip>
                <span am-time-ago='{{::classResponseCtrl.adjustClientSaveTime(reply.serverSaveTime)}}'></span>
              </span>
            </h3>
            <div class='discusstion-reply__content md-body-1'>
              {{ ::classResponseCtrl.injectLinks(reply.studentData.response) }}
            </div>
          </div>
          <div ng-if='::(classResponseCtrl.mode === "grading" || classResponseCtrl.mode === "gradingRevision")'>
            <md-button class='md-raised'
              ng-if='(classResponseCtrl.response.latestInappropriateFlagAnnotation == null || classResponseCtrl.response.latestInappropriateFlagAnnotation.data.action != "Delete") && (reply.latestInappropriateFlagAnnotation == null || reply.latestInappropriateFlagAnnotation.data.action != "Delete")'
              style='color:red' ng-click='classResponseCtrl.deleteButtonClicked(reply)'>
              Delete
            </md-button>
            <span
              ng-if='classResponseCtrl.response.latestInappropriateFlagAnnotation != null && classResponseCtrl.response.latestInappropriateFlagAnnotation.data.action == "Delete"'
              style='color:red' title='Students will not see this post'>
              Parent Deleted
            </span>
            <md-button class='md-raised'
              ng-if='reply.latestInappropriateFlagAnnotation != null && reply.latestInappropriateFlagAnnotation.data.action == "Delete"'
              style='color:red' ng-click='classResponseCtrl.undoDeleteButtonClicked(reply)'>
              Undo Delete
            </md-button>
          </div>
        </md-list-item>
      </md-list>
      <md-divider></md-divider>
    </div>
    <div class='discussion-new-reply' flex layout='row'
      ng-if='::(classResponseCtrl.mode === "student" && !classResponseCtrl.isdisabled)'>
      <md-input-container class='input-container discussion-new-reply__input-container md-block' md-no-float flex>
        <textarea class='input--textarea discussion-reply__input' 
          ng-model='::classResponseCtrl.response.replyText'
          ng-keyup="classResponseCtrl.replyEntered($event)"
          placeholder='{{ ::"addComment" | translate }}'
          aria-label='{{ ::"addComment" | translate }}'>
        </textarea>
      </md-input-container>
    </div>
  </div>
</md-card>
