<div ng-controller='DiscussionController as discussionController'>
  <div>
    <div ng-switch='::discussionController.mode'>
      <div ng-switch-when='grading|gradingRevision'
          ng-switch-when-separator='|'
          layout='row'
          layout-wrap>
        <div flex='100'
            flex-gt-sm='66'
            layout='column'
            class='component--grading__response'>
          <div class='component--grading__response__content'>
            <div class='md-padding discussion-content'>
              <div layout='row'>
                <div class='discussion-posts'
                    flex>
                  <class-response ng-repeat='componentState in discussionController.topLevelResponses.all'
                      response='componentState'
                      submitbuttonclicked='submitbuttonclicked(r)'
                      mode='{{::discussionController.mode}}'
                      deletebuttonclicked='discussionController.deletebuttonclicked(componentState)'
                      undodeletebuttonclicked='discussionController.undodeletebuttonclicked(componentState)'
                      studentdatachanged='studentdatachanged()'
                      class='post'>
                  </class-response>
                </div>
              </div>
            </div>
          </div>
          <span flex></span>
          <component-revisions-info node-id='discussionController.nodeId'
              component-id='discussionController.componentId'
              to-workgroup-id='workgroupId'
              component-state='componentState'
              active='::discussionController.mode === "grading"'>
          </component-revisions-info>
        </div>
        <div flex='100'
            flex-gt-sm='33'
            class='component--grading__annotations'>
          <component-grading node-id='discussionController.nodeId'
              component-id='discussionController.componentId'
              max-score='discussionController.componentContent.maxScore'
              from-workgroup-id='teacherWorkgroupId'
              to-workgroup-id='workgroupId'
              component-state-id='componentState.id'
              show-all-annotations='::discussionController.mode !== "grading"'
              is-disabled='::discussionController.mode !== "grading"'>
          </component-grading>
        </div>
      </div>
      <div ng-switch-default>
        <div class='component__prompt'>
          <div class='component__prompt__content'>
            <compile data='::discussionController.getPrompt()'></compile>
          </div>
          <possible-score [max-score]='::discussionController.componentContent.maxScore'></possible-score>
        </div>
        <div class='md-padding discussion-content'>
          <component-annotations ng-if='::discussionController.mode === "student"'
              class='annotations--inside'
              [annotations]='discussionController.latestAnnotations'
              [max-score]='::discussionController.componentContent.maxScore'>
          </component-annotations>
          <div layout='row'>
            <div class='discussion-posts' flex>
              <md-card class='discussion-new discussion-post'
                  ng-if='::!discussionController.isDisabled'
                  ng-class='{"discussion-new--focused md-whiteframe-z3": discussionController.focus || discussionController.newResponse || discussionController.attachments.length}'>
                <md-input-container class='input--placeholder-only discussion-new__input-container input-container'
                    md-no-float>
                  <div ng-if='::discussionController.isDisabled'
                      class='discussion-new__input--textarea input--textarea--disabled'
                      ng-model='discussionController.newResponse'>
                  </div>
                  <textarea ng-if='::!discussionController.isDisabled'
                      class='discussion-new__input--textarea'
                      placeholder='{{ ::"discussion.shareDiscussionPostWithClass" | translate }}'
                      ng-model='::discussionController.newResponse'
                      ng-model-options='{ debounce: 100 }'
                      ng-disabled='::discussionController.isDisabled'
                      ng-change='discussionController.studentDataChanged()'
                      ng-init='discussionController.focus = false'
                      ng-focus='discussionController.focus = true'
                      ng-blur='discussionController.focus = false'>
                  </textarea>
                </md-input-container>
                <div class='discussion-new__actions'
                    ng-if='!discussionController.isDisabled && discussionController.isStudentAttachmentEnabled && discussionController.attachments.length'>
                  <div class='component__attachment discussion-new__attachment'
                      ng-repeat='attachment in discussionController.attachments'>
                    <img ng-src='{{::attachment.iconURL}}'
                        alt='Image'
                        class='discussion-post__attachment discussion-new__attachment__content' />
                    <md-button class='component__attachment__delete'
                        ng-click='discussionController.removeAttachment(attachment)'
                        title='Remove file'
                        ng-disabled='::discussionController.isDisabled'>
                      <md-icon>cancel</md-icon>
                    </md-button>
                  </div>
                </div>
                <div class='discussion-new__actions'
                    layout='row'
                    layout-align='end center'>
                  <md-button class='md-accent md-icon-button'
                      ng-click='nodeController.showStudentAssets($event, discussionController.componentId, discussionController.isDisabled)'
                      ng-if='::discussionController.isStudentAttachmentEnabled'
                      title='Add picture'
                      ng-disabled='::discussionController.isDisabled'>
                    <md-icon>image</md-icon>
                  </md-button>
                  <md-button class='md-raised md-primary'
                      ng-click='discussionController.submitButtonClicked()'
                      ng-disabled='discussionController.isDisabled || (!discussionController.newResponse && discussionController.attachments.length == 0)'>
                    {{ ::'discussion.post' | translate }}
                  </md-button>
                </div>
              </md-card>
              <class-response ng-repeat='componentState in discussionController.topLevelResponses.all'
                  ng-if='!mdScreen'
                  response='::componentState'
                  submitbuttonclicked='submitbuttonclicked(r)'
                  mode='{{::discussionController.mode}}'
                  deletebuttonclicked='discussionController.deletebuttonclicked(componentState)'
                  undodeletebuttonclicked='discussionController.undodeletebuttonclicked(componentState)'
                  studentdatachanged='studentdatachanged()'
                  isdisabled='::discussionController.isDisabled'
                  class='post'>
              </class-response>
              <class-response ng-repeat='componentState in discussionController.topLevelResponses.col2'
                  ng-if='mdScreen'
                  response='::componentState'
                  submitbuttonclicked='submitbuttonclicked(r)'
                  mode='{{::discussionController.mode}}'
                  deletebuttonclicked='discussionController.deletebuttonclicked(componentState)'
                  undodeletebuttonclicked='discussionController.undodeletebuttonclicked(componentState)'
                  studentdatachanged='studentdatachanged()'
                  isdisabled='::discussionController.isDisabled'
                  class='post'>
              </class-response>
            </div>
            <div class='discussion-posts' ng-if='mdScreen' flex>
              <class-response ng-repeat='componentState in discussionController.topLevelResponses.col1'
                  response='::componentState'
                  submitbuttonclicked='submitbuttonclicked(r)'
                  mode='{{::discussionController.mode}}'
                  deletebuttonclicked='discussionController.deletebuttonclicked(componentState)'
                  undodeletebuttonclicked='discussionController.undodeletebuttonclicked(componentState)'
                  studentdatachanged='studentdatachanged()'
                  isdisabled='::discussionController.isDisabled'
                  style='display: block;'>
              </class-response>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
