<div ng-controller="DiscussionController as discussionController">
    <div ng-if='discussionController.mode === "authoring" && !discussionController.authoringComponentContent.showPreviousWork'>
            <textarea ng-model='discussionController.authoringComponentContent.prompt'
                      ng-change='discussionController.authoringViewComponentChanged()'
                      ng-model-options='{ debounce: 1000 }'
                      rows='5'
                      cols='100'></textarea>
            <br/>
            {{ 'discussion.allowUploadedImagesInPosts' | translate }}
            <input type='checkbox'
                   ng-model='discussionController.authoringComponentContent.isStudentAttachmentEnabled'
                   ng-change='discussionController.authoringViewComponentChanged()'/>
    </div>
    <div ng-if='discussionController.mode === "authoring"'>
        <br/>
        <button ng-click='discussionController.showAdvancedAuthoring = !discussionController.showAdvancedAuthoring'>{{ 'ADVANCED' | translate }}</button>
        <br/>
        <div ng-show='discussionController.showAdvancedAuthoring'>
            {{ 'MAX_SCORE' | translate }}:
            <input type='number'
                   ng-model='discussionController.authoringComponentContent.maxScore'
                   ng-change='discussionController.authoringViewComponentChanged()'
                   ng-model-options='{ debounce: 1000 }'
                   style='width: 3em'/>
            <br/>
            {{ 'COMPONENT_WIDTH' | translate }}:
            <input type='number'
                   ng-model='discussionController.authoringComponentContent.componentWidth'
                   ng-change='discussionController.authoringViewComponentChanged()'
                   ng-model-options='{ debounce: 1000 }'
                   style='width: 3em'/>
            <br/>
            <div ng-if='discussionController.mode === "authoring"'>
                {{ 'SHOW_PREVIOUS_WORK' | translate }}:
                <input type='checkbox'
                       ng-model='discussionController.authoringComponentContent.showPreviousWork'
                       ng-click='discussionController.authoringShowPreviousWorkClicked()'
                       ng-change='discussionController.authoringViewComponentChanged()'/>
            </div>
            <div ng-if='discussionController.mode === "authoring" && discussionController.authoringComponentContent.showPreviousWork'>
                {{ 'SHOW_PREVIOUS_WORK_STEP' | translate }}:
                <select ng-model='discussionController.authoringComponentContent.showPreviousWorkNodeId'
                        ng-change='discussionController.authoringShowPreviousWorkNodeIdChanged()'>
                    <option></option>
                    <option ng-repeat='item in discussionController.idToOrder | toArray | orderBy : "order"'
                            value='{{item.$key}}'
                            ng-if='discussionController.isApplicationNode(item.$key)'>{{discussionController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
                </select>
                <br/>
                {{ 'SHOW_PREVIOUS_WORK_COMPONENT' | translate }}:
                <select ng-model='discussionController.authoringComponentContent.showPreviousWorkComponentId'
                        ng-change='discussionController.authoringShowPreviousWorkComponentIdChanged()'
                        ng-options='component.id as component.type disable when !discussionController.componentHasWork(component) for component in discussionController.getComponentsByNodeId(discussionController.authoringComponentContent.showPreviousWorkNodeId)'>
                    <option></option>
                </select>
                <br/>
                {{ 'SHOW_PREVIOUS_WORK_PROMPT' | translate }}:
                <input type='checkbox'
                       ng-model='discussionController.authoringComponentContent.showPreviousWorkPrompt'
                       ng-change='discussionController.authoringViewComponentChanged()'/>
            </div>
            <div ng-if='discussionController.mode === "authoring"'>
                <button ng-click='discussionController.addConnectedComponent()'>{{ 'ADD_CONNECTED_COMPONENT' | translate }}</button>
                <div ng-repeat='connectedComponent in discussionController.authoringComponentContent.connectedComponents track by $index'>
                    <table border='1'>
                        <tr>
                            <td style='padding:5'>
                                {{ 'CONNECTED_COMPONENT' | translate }}
                            </td>
                            <td style='padding:5'>
                                <div style='display:none'>
                                    {{ 'NODE_ID' | translate }}:
                                    <select ng-model='connectedComponent.nodeId'
                                            ng-change='discussionController.authoringViewComponentChanged()'>
                                        <option></option>
                                        <option ng-repeat='item in discussionController.idToOrder | toArray | orderBy : "order"'
                                                value='{{item.$key}}'
                                                ng-if='discussionController.isApplicationNode(item.$key)'>{{discussionController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
                                    </select>
                                </div>
                                <div>
                                    {{ 'COMPONENT_ID' | translate }}:
                                    <select ng-model='connectedComponent.componentId'
                                            ng-change='discussionController.authoringViewComponentChanged()'>
                                        <option></option>
                                        <option ng-repeat='(componentIndex, component) in discussionController.getComponentsByNodeId(connectedComponent.nodeId)'
                                                ng-disabled='!discussionController.componentHasWork(component)'
                                                value='{{component.id}}'>
                                            {{componentIndex + 1}}. {{component.type}}
                                        </option>
                                    </select>
                                </div>
                            </td>
                            <td style='padding:5'>
                                <select ng-model='connectedComponent.updateOn'
                                        ng-change='discussionController.authoringViewComponentChanged()'>
                                        <option ng-repeat='updateOnOption in discussionController.connectedComponentUpdateOnOptions'
                                                value='{{updateOnOption.value}}'>
                                            {{updateOnOption.text}}
                                        </option>
                                </select>
                            </td>
                            <td style='padding:5'>
                                <button ng-click='discussionController.deleteConnectedComponent($index)'>{{ 'DELETE' | translate }}</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-if='discussionController.mode === "authoring"'>
                <button ng-click='discussionController.showRubricAuthoring = !discussionController.showRubricAuthoring'>
                    {{ 'EDIT_COMPONENT_RUBRIC' | translate }}
                </button>
                <div ng-show='discussionController.showRubricAuthoring'>
                    <summernote id='{{discussionController.summernoteRubricId}}'
                                ng-model='discussionController.summernoteRubricHTML'
                                ng-change='discussionController.summernoteRubricHTMLChanged()'
                                config='discussionController.summernoteRubricOptions'
                                ng-model-options='{ debounce: 1000 }'
                                rows='10'
                                cols='100'>
                    </summernote>
                </div>
            </div>
            <div ng-if='discussionController.mode === "authoring"'>
                <button ng-click='discussionController.showJSON = !discussionController.showJSON'>
                        {{ 'SHOW_JSON' | translate }}
                </button>
                <br/>
                <div ng-show='discussionController.showJSON'>
                    <textarea ng-model='discussionController.authoringComponentContentJSONString'
                              ng-change='discussionController.advancedAuthoringViewComponentChanged()'
                              ng-model-options="{ updateOn: 'blur' }"
                              rows='10'
                              cols='100'></textarea>
                </div>
            </div>
        </div>
        <br/>
    </div>
    <div ng-style='discussionController.mode === "authoring" && {"border": "1px solid black", "padding": "20px"}'>
        <div ng-if='discussionController.mode === "authoring"'>
            <h5>{{ 'PREVIEW' | translate }}</h5>
        </div>
        <div class="component__prompt">
            <div class="component__prompt__content"><compile data='discussionController.getPrompt()'></compile></div>
            <possible-score max-score="discussionController.componentContent.maxScore"
                            ng-if="discussionController.mode === 'student' && !discussionController.latestAnnotations.score"></possible-score>
        </div>
        <div class="md-padding discussion-content">
            <component-annotations ng-if="discussionController.mode === 'student' || discussionController.mode === 'authoring'"
                                   class="annotations--inside"
                                   annotations='discussionController.latestAnnotations'
                                   max-score="discussionController.componentContent.maxScore"></component-annotations>
            <div layout="row">
                <div class="discussion-posts" flex>
                    <md-card class="discussion-new discussion-post"
                             ng-show="!discussionController.isDisabled"
                             ng-class="{'discussion-new--focused md-whiteframe-z3': discussionController.focus || discussionController.newResponse || discussionController.newAttachments.length}">
                        <md-input-container class="input--placeholder-only discussion-new__input-container input-container"
                                            md-no-float>
                            <textarea ng-if="discussionController.isRichTextEnabled && !discussionController.isDisabled"
                                      ui-tinymce="discussionController.tinymceOptions"
                                      ng-model="discussionController.newResponse"
                                      ng-model-options='{ debounce: 100 }'
                                      ng-change="discussionController.studentDataChanged()"
                                      ng-init="discussionController.focus = false"
                                      ng-focus="discussionController.focus = true"
                                      ng-blur="discussionController.focus = false"></textarea>
                            <div ng-if="discussionController.isDisabled"
                                 class="discussion-new__input--textarea input--textarea--disabled"
                                 ng-model="discussionController.newResponse"></div>
                            <textarea ng-if="!discussionController.isRichTextEnabled && !discussionController.isDisabled"
                                      class="discussion-new__input--textarea"
                                      placeholder="Share with class..."
                                      ng-model="discussionController.newResponse"
                                      ng-model-options='{ debounce: 100 }'
                                      ng-disabled="discussionController.isDisabled"
                                      ng-change="discussionController.studentDataChanged()"
                                      ng-init="discussionController.focus = false"
                                      ng-focus="discussionController.focus = true"
                                      ng-blur="discussionController.focus = false"></textarea>
                        </md-input-container>
                        <div class="discussion-new__actions" ng-if="!discussionController.isDisabled && discussionController.isStudentAttachmentEnabled && discussionController.newAttachments.length">
                            <div class="component__attachment discussion-new__attachment" ng-repeat="attachment in discussionController.newAttachments">
                                <img ng-src="{{attachment.iconURL}}" alt="Image" class="discussion-post__attachment discussion-new__attachment__content" />
                                <md-button class="component__attachment__delete" ng-click='discussionController.removeAttachment(attachment)' title="Remove file"><md-icon>cancel</md-icon></md-button>
                            </div>
                        </div>
                        <div class="discussion-new__actions" layout="row" layout-align="end center">
                            <md-button class="md-accent md-icon-button"
                                       ng-click='nodeController.showStudentAssets($event, discussionController.componentId, discussionController.isDisabled)'
                                       ng-if="discussionController.isStudentAttachmentEnabled"
                                       title="Add picture">
                                <md-icon>image</md-icon>
                            </md-button>
                            <!--<md-button class="md-primary"
                                       ng-class="{'md-raised': !discussionController.showSubmitButton()}"
                                       ng-click="discussionController.saveButtonClicked()"
                                       ng-disabled="discussionController.isDisabled || !discussionController.newResponse"
                                       ng-if="discussionController.showSaveButton()">Save Draft</md-button>-->
                            <md-button class="md-raised md-primary"
                                       ng-click="discussionController.submitButtonClicked()"
                                       ng-disabled="discussionController.isDisabled || (!discussionController.newResponse && discussionController.newAttachments.length == 0)">{{ 'discussion.post' | translate }}</md-button>
                        </div>
                    </md-card>

                    <class-response ng-repeat="componentState in discussionController.topLevelResponses.slice().reverse()"
                                    ng-if="mdScreen ? $odd : true"
                                    response="componentState" submitbuttonclicked="submitbuttonclicked(r)"
                                    studentdatachanged="studentdatachanged()"
                                    class="post animate-repeat"></class-response>
                </div>
                <div class="discussion-posts" ng-if="mdScreen && discussionController.topLevelResponses.length" flex>
                    <class-response ng-repeat="componentState in discussionController.topLevelResponses.slice().reverse()"
                                    ng-if="$even"
                                    response="componentState" submitbuttonclicked="submitbuttonclicked(r)"
                                    studentdatachanged="studentdatachanged()"
                                    class="animate-repeat"
                                    style="display: block;"></class-response>
                </div>
            </div>
        </div>
        <component-grading ng-if="discussionController.mode === 'grading'"
                          node-id='discussionController.nodeId'
                          component-id='discussionController.componentId'
                          max-score="discussionController.componentContent.maxScore"
                          from-workgroup-id='teacherWorkgroupId'
                          to-workgroup-id='workgroupId'
                          component-state-id='componentState.id'
                          active="true"></component-grading>
    </div>
</div>
