<html>
    <head>
    </head>
    <body>
        <div ng-controller="DiscussionController as discussionController">
            <div class="md-padding" compile="discussionController.getPrompt()" ng-if="discussionController.getPrompt()"></div>
            <div class="md-padding discussion-content">
                <div layout="row">
                    <div class="discussion-posts" flex>
                        <md-card class="discussion-new discussion-post"
                                 ng-class="{'discussion-new--focused md-whiteframe-z3': discussionController.focus || discussionController.newResponse || discussionController.newAttachments.length}">
                            <md-input-container class="input--placeholder-only discussion-new__input-container input-container"
                                                md-no-float>
                                <textarea ng-if="discussionController.isRichTextEnabled && !discussionController.isDisabled"
                                          ui-tinymce="discussionController.tinymceOptions"
                                          ng-model="discussionController.newResponse"
                                          ng-model-options='{ debounce: 100 }'
                                          ng-change="discussionController.studentDataChanged()"
                                          ng-init="discussionController.focus = false"
                                          ng-focus="discussionController.focus = true"
                                          ng-blur="discussionController.focus = false"></textarea>
                                <div ng-if="discussionController.isDisabled"
                                     class="discussion-new__input--textarea input--textarea--disabled"
                                     ng-model="discussionController.newResponse"></div>
                                <textarea ng-if="!discussionController.isRichTextEnabled && !discussionController.isDisabled"
                                          class="discussion-new__input--textarea"
                                          placeholder="Share with class..."
                                          ng-model="discussionController.newResponse"
                                          ng-model-options='{ debounce: 100 }'
                                          ng-disabled="discussionController.isDisabled"
                                          ng-change="discussionController.studentDataChanged()"
                                          ng-init="discussionController.focus = false"
                                          ng-focus="discussionController.focus = true"
                                          ng-blur="discussionController.focus = false"></textarea>
                            </md-input-container>
                            <div class="discussion-new__actions" ng-if="!discussionController.isDisabled && discussionController.isStudentAttachmentEnabled && discussionController.newAttachments.length">
                                <div class="component__attachment discussion-new__attachment" ng-repeat="attachment in discussionController.newAttachments">
                                    <img src="{{attachment.iconURL}}" alt="{{attachment.iconURL}}" class="discussion-post__attachment discussion-new__attachment__content" />
                                    <md-button class="component__attachment__delete" ng-click='discussionController.removeAttachment(attachment)' title="Remove file"><md-icon>cancel</md-icon></md-button>
                                </div>
                            </div>
                            <div class="discussion-new__actions" layout="row" layout-align="end center">
                                <md-button class="md-accent md-icon-button"
                                           ng-click='nodeController.showNotebook($event, component.id, discussionController.isDisabled)'
                                           ng-if="discussionController.isStudentAttachmentEnabled"
                                           title="Add picture">
                                    <md-icon>image</md-icon>
                                </md-button>
                                <md-button class="md-raised md-primary"
                                           ng-click="discussionController.saveButtonClicked()"
                                           ng-disabled="discussionController.isDisabled || !discussionController.newResponse"
                                           ng-if="discussionController.showSaveButton()">Save Draft</md-button>
                                <md-button class="md-raised md-primary"
                                           ng-click="discussionController.submitButtonClicked()"
                                           ng-disabled="discussionController.isDisabled || (!discussionController.newResponse && discussionController.newAttachments.length == 0) "
                                           ng-if="discussionController.showSubmitButton()">Post</md-button>
                            </div>
                        </md-card>

                        <class-response ng-repeat="componentState in discussionController.topLevelResponses.slice().reverse()"
                                        ng-if="lgScreen ? $odd : true"
                                        response="componentState" submitbuttonclicked="submitbuttonclicked(r)"
                                        studentdatachanged="studentdatachanged()"
                                        class="post animate-repeat"></class-response>
                    </div>
                    <div class="discussion-posts" ng-if="lgScreen && discussionController.topLevelResponses.length" flex>
                        <class-response ng-repeat="componentState in discussionController.topLevelResponses.slice().reverse()"
                                        ng-if="$even"
                                        response="componentState" submitbuttonclicked="submitbuttonclicked(r)"
                                        studentdatachanged="studentdatachanged()"
                                        class="animate-repeat"
                                        style="display: block;"></class-response>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
