.prompt {
  width: 100%;
}

.background-image {
  width: 80%;
}

.input {
  margin-right: 20px;
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
}

.starter-labels-button-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.starter-labels-button-label {
  margin-right: 10px;
}

.starter-label-container {
  border: 2px solid #dddddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px 20px 10px 20px;
}

.info-block {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

.label-input {
  width: 40%;
}

.color-input {
  width: 30%;
}

.coordinate-location-label {
  margin-right: 20px;
}

.coordinate-input {
  width: 15%;
}

.starter-labels-buttons-container {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.starter-labels-button {
  margin-right: 10px;
}