
<div ng-if="!notebookItemController.isEditEnabled">
    <!-- Display an existing notebook item. -->
    <span>{{notebookItemController.item.content.text}}</span>
    <div class="component__attachment" ng-repeat="attachment in notebookItemController.item.content.attachments">
        <img ng-src="{{attachment.iconURL}}" class="component__attachment__content" />
    </div>
    <div class="notebookItemSource"><wiselink type="link" nodeId="{{notebookItemController.getItemNodeId()}}" linkText="{{notebookItemController.getItemNodePositionAndTitle()}}"></wiselink></div>
</div>

<div ng-if="notebookItemController.isEditEnabled">
    <!-- User wants to add a new note or edit existing note. -->
    <md-input-container class="md-block md-input-has-placeholder" md-no-float>
          <textarea placeholder="{{ 'typeYourNoteHere' | translate }}"
                    ng-model="notebookItemController.item.content.text"
                    ng-model-options='{ debounce: 100 }'
                    ng-change="notebookItemController.update()"
                    rows="3"
                    md-select-on-focus></textarea>
    </md-input-container>
    <div class="component__attachment" ng-repeat="attachment in notebookItemController.item.content.attachments">
        <img ng-src="{{attachment.iconURL}}" class="component__attachment__content" />
        <md-button class="component__attachment__delete" ng-click='notebookItemController.removeAttachment(attachment)' title="Remove file"><md-icon>cancel</md-icon></md-button>
    </div>
    <br/>
    <div ng-show="notebookItemController.mode != 'preview'">
        <span translate="attachments"></span>:<br/>
        <div ngf-drop ngf-select ngf-change="notebookItemController.attachStudentAssetToNote($files)" class="drop-box"
             drag-over-class="dragover" ngf-multiple="true" allow-dir="false"
             accept="image/*,application/pdf,text/csv" translate="dropAssetMessage"></div>
        <!--
            TODO: ask researchers if we should display usage information to students. we'll hide it for now.
            You are using {{notebookController.notebook.totalSize | appropriateSizeText }} out of {{notebookController.notebook.totalSizeMax | appropriateSizeText}} ({{notebookController.notebook.usagePercentage | roundToDecimal:0 }}%)
         -->
    </div>

</div>
