<h3>Choose a Notebook Item...</h3>
<ul style="list-style-type: none">
    <li ng-repeat="(localNotebookItemId, notebookItems) in notebookItemChooserController.notebookItems">
        <div ng-if="notebookItems.last().type == 'note'" class="notebookItem">
            <notebook-item item-id="localNotebookItemId" is-edit-allowed="false"></notebook-item>
            <md-button class="md-accent" aria-label="Add new item to {{ section.title }}"
                       ng-click="chooseNotebookItem(notebookItems.last())">
                <md-icon class="md-accent">add_circle</md-icon>
                Add to Letter
            </md-button>
        </div>
    </li>
</ul>
