<style>
    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 90%;
        height: 100px;
        text-align: center;
        padding-top: 50px;
        margin: 10px;
        bottom: 0px;
    }

    .drop-box:hover {
        cursor: pointer;
    }

    .dragover {
        border: 5px dashed blue;
    }

    .notebookItems {
        height: auto;
        width: auto;
        min-height: 200px;
        max-width: 450px;
        overflow:auto;
        list-style-type: none;
        padding:0px;
    }

    .notebookItem {
        width: auto;
        height: auto;
        max-height: 200px;
        padding: 10px;
        margin: 5px;
        border: 3px solid #DDD;
        overflow:auto;
    }

    .notebookItem:hover {
        cursor: pointer;
    }

    #newNoteTextArea {
        width: 250px;
        height: 80px;
    }
</style>
<div class="md-toolbar-tools">
    <md-button id="addNoteButton" ng-show="(notebookController.filter == 'all' || notebookController.filter == 'notes') && notebookController.newNote == null" ng-click="notebookController.showAddNote()" class="md-primary">+Note</md-button>
    <!--
    TODO: implement bookmarks and questions
    <md-button ng-show="(notebookController.filter == 'all' || notebookController.filter == 'bookmarks')" ng-click="notebookController.addBookmark()" class="md-primary">+BM</md-button>
    <md-button ng-show="(notebookController.filter == 'all' || notebookController.filter == 'questions')" ng-click="notebookController.addQuestion()" class="md-primary">+Q</md-button>
    -->
</div>
<div id="newNote" ng-show="notebookController.newNote != null">
    <h5>Add New Note</h5>
    <textarea id="newNoteTextArea" placeholder="{{notebookController.newNotePlaceholderText}}" ng-model="notebookController.newNote.content.text" ng-model-options='{ debounce: 100 }' />
    <div class="component__attachment" ng-repeat="attachment in notebookController.newNote.content.attachments">
        <img ng-src="{{attachment.iconURL}}" class="component__attachment__content" />
        <md-button class="component__attachment__delete" ng-click='notebookController.removeAttachment(attachment)' title="Remove file"><md-icon>cancel</md-icon></md-button>
    </div>
    <br/>
    <div ng-show="notebookController.mode != 'preview'">Attachments:<br/>
        <div ngf-drop ngf-select ngf-change="notebookController.attachStudentAssetToNewNote($files)" class="drop-box"
             drag-over-class="dragover" ngf-multiple="true" allow-dir="false"
             accept="image/*,application/pdf,text/csv">Drop image or file here or click to upload!</div>
        <!--
            TODO: ask researchers if we should display usage information to students. we'll hide it for now.
            You are using {{notebookController.notebook.totalSize | appropriateSizeText }} out of {{notebookController.notebook.totalSizeMax | appropriateSizeText}} ({{notebookController.notebook.usagePercentage | roundToDecimal:0 }}%)
         -->
    </div>
    <md-button id='saveNewNoteButton' ng-disabled='notebookController.newNote.content.text === ""' ng-click='notebookController.addNote()'>Save</md-button>
    <md-button id='cancelNewNoteButton' ng-click='notebookController.cancelAddNote()'>Cancel</md-button>
</div>
<ul class='notebookItems' ng-show="notebookController.newNote == null" >
    <li ng-repeat="notebookItem in notebookController.notebook.items"
        ng-click='notebookController.notebookItemSelected($event, notebookItem)'>
        <div ng-show="(notebookController.filter == 'all' || notebookController.filter == 'notes') && notebookItem.type == 'note'"
             class='notebookItem notebookItemNote'>
            <!-- TODO: make notebook item into a directive? -->
            <span>{{notebookItem.content.text}}</span>
            <div class="component__attachment" ng-repeat="attachment in notebookItem.content.attachments">
                <img ng-src="{{attachment.iconURL}}" class="component__attachment__content" />
            </div>
        </div>
        <div ng-show="(notebookController.filter == 'all' || notebookController.filter == 'bookmarks') && notebookItem.type == 'bookmark'"
             class='notebookItem notebookItemNote'>
            <span>{{notebookItem.text}}</span>
        </div>
        <div ng-show="(notebookController.filter == 'all' || notebookController.filter == 'questions') && notebookItem.type == 'question'"
             class='notebookItem notebookItemNote'>
            <span>{{notebookItem.text}}</span>
        </div>
        <!--
        <img ng-click='notebookController.deleteNotebookItem(notebookItem)' src='wise5/vle/notebook/trash.png' class='studentAssetRemoveImage' />
        <span ng-show='{{notebookItem.studentAsset.type === "audio"}}' ng-audio='{{notebookItem.studentAsset.url}}' volume='0.5'><img class='studentAssetOverlay' src='wise5/vle/notebook/play.png' /></span>
        -->
        <!-- <span class='studentAssetname'>{{studentAsset.name}}</span> -->
    </li>
</ul>