<style>
    .drop-box {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 90%;
        height: 100px;
        text-align: center;
        padding-top: 50px;
        margin: 10px;
        bottom: 0px;
    }

    .drop-box:hover {
        cursor: pointer;
    }

    .dragover {
        border: 5px dashed blue;
    }

    .notebookItems {
        height: auto;
        width: auto;
        min-height: 200px;
        max-width: 450px;
        overflow:auto;
        list-style-type: none;
        padding:0px;
    }

    .notebookItem {
        width: auto;
        height: auto;
        max-height: 200px;
        padding: 10px;
        margin: 5px;
        border: 3px solid #DDD;
        overflow:auto;
    }

    .notebookItem:hover {
        cursor: pointer;
    }

    #newNoteTextArea {
        width: 250px;
        height: 80px;
    }
</style>
<ul class='notebookItems' ng-if="notebookController.filter == 'all' || notebookController.filter == 'notes'">
    <li ng-repeat="(localNotebookItemId, notebookItems) in notebookController.notebook.items">
        <div ng-if="(notebookController.filter == 'all' || notebookController.filter == 'notes') && notebookItems.last().type == 'note'" class="notebookItem">
            <notebook-item item-id="localNotebookItemId" ng-click="notebookController.editItem(localNotebookItemId)" is-edit-allowed="true"></notebookitem>
        </div>
        <!--
        <div ng-if="notebookItem.type == 'report' && notebookController.filter == notebookItem.reportId">
            <notebookitemreport item-id="notebookItem.id" template-url="notebookController.themePath + '/notebook/notebookItemReport.html'"></notebookitemreport>
        </div>
        -->
        <!--
        <img ng-click='notebookController.deleteNotebookItem(notebookItem)' src='wise5/vle/notebook/trash.png' class='studentAssetRemoveImage' />
        <span ng-show='{{notebookItem.studentAsset.type === "audio"}}' ng-audio='{{notebookItem.studentAsset.url}}' volume='0.5'><img class='studentAssetOverlay' src='wise5/vle/notebook/play.png' /></span>
        -->
        <!-- <span class='studentAssetname'>{{studentAsset.name}}</span> -->
    </li>
</ul>
<div ng-if="notebookController.filter != 'all' && notebookController.filter != 'notes'">
    <!-- assume it's a report for now.-->
    <notebookitemreport report-id="notebookController.filter" theme-path="notebookController.themePath" template-url="notebookController.themePath + '/notebook/notebookItemReport.html'"></notebookitemreport>
</div>
