<md-dialog aria-label="{{title}}" ng-cloak>
    <md-toolbar md-theme="light">
        <div class="md-toolbar-tools">
            <h2>{{title}}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <notebook-item is-edit-mode="isEditMode" item-id="itemId" on-update="update(item)"></notebookitem>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-if="!isEditMode" aria-label="Close" ng-click="cancel()">
            Close
        </md-button>
        <md-button ng-if="isEditMode" aria-label="Cancel" ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-if="isEditMode" aria-label="Save" ng-click="save()" ng-disabled="!item">
            Save
        </md-button>
    </md-dialog-actions>
</md-dialog>
