<style>
.currentNode {
    background-color: yellow;
}

.disabledNode {
    disabled: true;
}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}
</style>

<div id="navigation" class={{vleController.layoutState}} ng-controller='NavigationController as navigationController'>

<group id='group'>
    
</group>

<!-- 
<group id='group_{{group.id}}' ng-repeat='group in navigationController.groups' ng-show='group.id === navigationController.currentGroupId'>
    
</group>


<div id='test'></div>
 -->
<!-- 
<div ng-repeat='group in navigationController.groups' ng-show='group.id === navigationController.currentGroupId'>
    {{ group.title }}
    
    <input id='{{childId}}Button' type='button' ng-repeat='childId in group.ids' value='{{childId}}' ng-click='navigationController.nodeClicked(childId)' ng-class='{currentNode: navigationController.currentNode.id === childId, disabledNode: navigationController.isNodeDisabled(childId)}' ng-disabled='navigationController.isNodeDisabled(childId)'></input>
    <input type='button' value='Go To Parent' ng-click='navigationController.nodeClicked(navigationController.parentGroupId)'></input>
</div>
 -->
</div>