<div class='bodyDiv'>
  <div>
    <label class='node__label--vertical-alignment'>{{ ::'paths' | translate }}</label>
    <md-button class='topButton md-raised md-primary' ng-click='$ctrl.addNewTransition()'>
      <md-icon>add</md-icon>
      <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'addAPath' | translate }}</md-tooltip>
    </md-button>
  </div>
  <div ng-if='$ctrl.node.transitionLogic == null || $ctrl.node.transitionLogic.transitions == 0'>
    {{ ::'thereAreNotPathsOutOfThisStep' | translate }}
  </div>
  <div ng-repeat='(transitionIndex, transition) in $ctrl.node.transitionLogic.transitions'
      style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
    <div style='margin-top: -10px; margin-bottom: 10px;'>
      <label class='node__label--vertical-alignment'>{{ ::'path' | translate }} {{ transitionIndex + 1 }}</label>
      <md-button class='topButton md-raised md-primary' ng-click='$ctrl.deleteTransition(transition)'>
        <md-icon>delete</md-icon>
        <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'deleteTransition' | translate }}</md-tooltip>
      </md-button>
    </div>
    <div flex>
      <md-input-container>
        <label>{{ ::'transitionToStep' | translate }}</label>
        <md-select id='stepSelectMenu'
            md-theme='at'
            class='node-select md-subhead'
            ng-model='transition.to'
            ng-change='$ctrl.transitionToNodeIdChanged()'
            aria-label='Transitions' style='width:600px'>
          <md-option ng-repeat='item in $ctrl.items | toArray | orderBy : "order"'
              value='{{ ::item.$key }}'
              ng-if='item.$key != "group0"'
              ng-class='{"node-select-option--group": $ctrl.isGroupNode(item.$key), "node-select-option--node": !$ctrl.isGroupNode(item.$key)}'>
            <span layout='row' layout-align='start center'>
              <span class='node-select__text'>{{ ::$ctrl.getNodePositionById(item.$key) + ': '}}{{ ::$ctrl.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
            </span>
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <div>
        <label class='node__label--vertical-alignment'>{{ ::'requirements' | translate }}</label>
        <md-button class='topButton md-raised md-primary'
            ng-click='$ctrl.addNewTransitionCriteria(transition)'>
          <md-icon>add</md-icon>
          <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'addARequirementForThePath' | translate }}</md-tooltip>
        </md-button>
      </div>
      <div ng-if='transition.criteria == null || transition.criteria.length == 0'
          class='criteriaContent'>
        {{ ::'thereAreNoRequirementsForThisTransition' | translate }}
      </div>
      <div ng-repeat='(criteriaIndex, transitionCriteria) in transition.criteria'>
        <div class='criteriaContent'>
          <md-input-container>
            <label>The student needs to</label>
            <md-select ng-model='transitionCriteria.name'
                ng-change='$ctrl.transitionCriteriaNameChanged(transitionCriteria)'
                class='node-select md-subhead'
                style='width:400px'>
              <md-option ng-repeat='availableTransitionCriteriaName in $ctrl.transitionCriterias'
                  ng-value='availableTransitionCriteriaName.value'>
              <span layout='row' layout-align='start center'>
                <span class='node-select__text'>{{::availableTransitionCriteriaName.text}}</span>
              </span>
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <md-button class='topButton md-raised md-primary'
                ng-click='$ctrl.deleteTransitionCriteria(transition, criteriaIndex)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'deleteThisRequirement' | translate }}</md-tooltip>
            </md-button>
          </md-input-container>
        </div>
        <div ng-repeat='param in $ctrl.getTransitionCriteriaParamsByName(transitionCriteria.name)'
            class='criteriaContent'>
          <md-input-container ng-if='param.value == "nodeId"'>
            <label>{{ ::param.text }}</label>
            <md-select id="nodeIdSelectMenu"
                md-theme="at"
                class='node-select md-subhead'
                ng-model="transitionCriteria.params.nodeId"
                ng-change='$ctrl.transitionCriteriaNodeIdChanged(transitionCriteria)'
                aria-label="TransitionCriteriaNode"
                style="width:600px">
              <md-option ng-repeat="item in $ctrl.items | toArray | orderBy : 'order'"
                  ng-if='item.$key != "group0"'
                  value="{{ item.$key }}"
                  ng-class="{'node-select-option--group': $ctrl.isGroupNode(item.$key), 'node-select-option--node': !$ctrl.isGroupNode(item.$key)}">
              <span layout="row" layout-align="start center">
                <span class="node-select__text">{{ ::$ctrl.getNodePositionById(item.$key) + ': '}}{{ ::$ctrl.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
              </span>
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container ng-if='param.value == "componentId"'>
            <label>{{ ::param.text }}</label>
            <md-select id="componentIdSelectMenu"
                md-theme="at"
                class='node-select md-subhead'
                ng-model="transitionCriteria.params.componentId"
                ng-change='$ctrl.transitionCriteriaComponentIdChanged(transitionCriteria)'
                aria-label="TransitionCriteriaComponent"
                style="width:600px">
              <md-option ng-repeat="(componentIndex, component) in $ctrl.getComponentsByNodeId(transitionCriteria.params.nodeId)"
                  ng-disabled='transitionCriteria.name == "choiceChosen" && component.type != "MultipleChoice"'
                  value="{{ component.id }}">
              <span layout="row" layout-align="start center">
                <span class="node-select__text">{{ ::(componentIndex + 1) }}. {{ ::component.type }} ({{ ::component.id }})</span>
              </span>
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container ng-if='param.value == "scores"'>
            <label>{{ ::param.text }}</label>
            <input type='text'
                ng-model='transitionCriteria.params.scores'
                ng-model-options='{ debounce: 1000 }'
                ng-change='$ctrl.saveProject()'
                ng-list=','/>
          </md-input-container>
          <md-input-container ng-if='param.value === "scoreId"'
              style='margin-top:0px; margin-bottom:0px;'>
            <label>{{ ::param.text }}</label>
            <input type='text'
                ng-model='transitionCriteria.params.scoreId'
                ng-model-options='{ debounce: 1000 }'
                ng-change='$ctrl.scoreIdChanged(transitionCriteria)'/>
          </md-input-container>
          <md-input-container ng-if='param.value == "choiceIds" && $ctrl.getChoiceTypeByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId) == "radio"'>
            <label>{{ ::'theStudentNeedsToChooseThisChoice' | translate }}</label>
            <md-select id="radioChoiceIdsSelectMenu"
                md-theme="at"
                class='node-select md-subhead'
                ng-model="transitionCriteria.params.choiceIds"
                ng-list
                ng-change='$ctrl.saveProject()'
                aria-label="TransitionCriteriaNode"
                style="width:600px">
              <md-optgroup>
                <md-option ng-value="choice.id" ng-repeat="choice in $ctrl.getChoicesByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId)">{{choice.text}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
          <md-input-container ng-if='param.value == "choiceIds" && $ctrl.getChoiceTypeByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId) == "checkbox"'>
            <label>{{ ::'theStudentNeedsToChooseTheseChoices' | translate }}</label>
            <md-select id="checkboxChoiceIdsSelectMenu"
                md-theme="at"
                class='node-select md-subhead'
                ng-model="transitionCriteria.params.choiceIds"
                ng-change='$ctrl.saveProject()'
                aria-label="TransitionCriteriaNode"
                style="width:600px"
                multiple={{$ctrl.getChoiceTypeByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId)}}>
              <md-optgroup>
                <md-option ng-value="choice.id" ng-repeat="choice in $ctrl.getChoicesByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId)">{{choice.text}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </div>
  </div>
  <div ng-if='$ctrl.node.transitionLogic.transitions.length > 1'>
    <md-input-container id='howToChooseAmongAvailablePaths'>
      <label>{{ ::'howToChooseAmongAvailablePaths' | translate }}</label>
      <md-select id='howToChooseAmongAvailablePathsSelect'
          ng-disabled='$ctrl.node.transitionLogic.transitions.length <= 1'
          md-theme='at'
          class='node-select md-subhead'
          ng-model='$ctrl.node.transitionLogic.howToChooseAmongAvailablePaths'
          ng-change='$ctrl.saveProject()'
          aria-label='howToChooseAmongAvailablePaths'
          style='width: 600px'>
        <md-option ng-repeat='item in $ctrl.howToChooseAmongAvailablePathsOptions'
            value='{{ item }}'>
          <span layout='row' layout-align='start center'>
            <span class='node-select__text'>{{item}}</span>
          </span>
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container id='whenToChoosePath'>
      <label>{{ ::'whenToChoosePath' | translate }}</label>
      <md-select id='whenToChoosePathSelect'
          ng-disabled='$ctrl.node.transitionLogic.transitions.length <= 1'
          md-theme='at'
          class='node-select md-subhead'
          ng-model='$ctrl.node.transitionLogic.whenToChoosePath'
          ng-change='$ctrl.saveProject()'
          aria-label='whenToChoosePath'
          style='width: 600px'>
        <md-option ng-repeat='item in $ctrl.whenToChoosePathOptions' value='{{ item }}'>
          <span layout='row' layout-align='start center'>
            <span class='node-select__text'>{{item}}</span>
          </span>
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container id='canChangePath'>
      <label>{{ ::'canChangePath' | translate }}</label>
      <md-select id='canChangePathSelect'
          ng-disabled='$ctrl.node.transitionLogic.transitions.length <= 1'
          md-theme='at'
          class='node-select md-subhead'
          ng-model='$ctrl.node.transitionLogic.canChangePath'
          ng-change='$ctrl.saveProject()'
          aria-label='canChangePath'
          style='width: 600px'>
        <md-option ng-repeat='item in $ctrl.canChangePathOptions' ng-value='{{ item }}'>
          <span layout='row' layout-align='start center'>
            <span class='node-select__text'>{{item}}</span>
          </span>
        </md-option>
      </md-select>
    </md-input-container>
    <br/>
    <md-input-container>
      <label>{{ ::'maxPathsVisitable' | translate }}</label>
      <input id='maxPathsVisitableSelect'
          type='number'
          ng-model='$ctrl.node.transitionLogic.maxPathsVisitable'
          ng-disabled='$ctrl.node.transitionLogic.transitions.length <= 1'
          ng-change='$ctrl.saveProject()'
          ng-model-options='{ debounce: 1000 }'
          size='60' />
    </md-input-container>
  </div>
</div>
