<!-- TODO JB: replace these with appropriate css files -->
<link rel="stylesheet" href="wise5/vle/themes/default/style/angular-material.css">
<link rel="stylesheet" href="wise5/vle/themes/default/style/vle.css">

<div ng-mousemove="authoringToolController.mouseMoved()">
<button id="exitAuthoringToolButton" ng-click="authoringToolController.exit()" translate="backToTeacherHome"></button>
<button id="backToMyProjectsAuthoringToolButton" 
    ng-click="authoringToolController.goToMyProjects()" 
    ng-show="!authoringToolController.isAuthorOnMyProjectsPage()"
    translate="backToMyProjects"></button>
<hr/>
<div ui-view></div>
</div>