<link rel="stylesheet" href="/wise5/themes/default/style/angular-material.css">
<link rel="stylesheet" href="/wise5/themes/default/style/author.css">
<style>
.global-message.ng-change {
  transition: 2s linear all;
  background: red;
}
</style>

<div class="app-styles" disable-delete-keypress
    ng-mousemove='authoringToolController.mouseMoved()'
    role="main" layout="column" layout-fill md-theme="at">
  <at-top-bar logo-path="{{::authoringToolController.logoPath}}"
       project-id="authoringToolController.projectId"
       project-title="authoringToolController.projectTitle"
       run-id="authoringToolController.runId"
       run-code="authoringToolController.runCode"></at-top-bar>
  <at-toolbar ng-if="authoringToolController.showToolbar"
       number-project="authoringToolController.numberProject"
       show-step-tools="authoringToolController.showStepTools"
       view-name="authoringToolController.currentViewName"
       on-menu-toggle="authoringToolController.toggleMenu()"></at-toolbar>
  <md-sidenav md-component-id="monitorSidenav"
        md-is-open="authoringToolController.isMenuOpen"
        md-whiteframe="4">
    <at-main-menu state="authoringToolController.$state"
        views="authoringToolController.views"></at-main-menu>
  </md-sidenav>
  <md-content id="content" flex role="main" layout="column" class="l-main"
      ng-class="{ 'l-main--with-toolbar': authoringToolController.showToolbar }"
      flex role="main">
    <div ui-view></div>
  </md-content>
  <side-menu ng-if="authoringToolController.showToolbar"
      state="authoringToolController.$state"
      views="authoringToolController.views"></side-menu>
  </side-menu>
</div>
