.tableLabel {
	font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:1.4em;
	font-weight:bold;
	letter-spacing:1px;
	margin:10px 0 10px 0 ;
}
	
	
/* SELECT A PROJECT based on version of Heaven is Closer template  http://icant.co.uk/csstablegallery/index.php?css=27#r27   */

#projectPickerTable {
	font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
	font-size:  100%;
	border-collapse: collapse;
	margin: 0px 0 20px 0;
	width:100%;
}

#projectPickerTable caption{
	background: url(title.png) no-repeat 50px;
	font-size: 400%;
	text-indent: -10000px;
}

#projectPickerTable thead tr{
	font-size:.8em;
	color:#333333;
	background-color: #D9FFD9;
	border:1px solid black;
}

#projectPickerTable thead th{
	padding: 0.4em;
	white-space: nowrap;
	border:1px solid black;
	}

#projectPickerTable tr {
	background-color: #EAFDFF;
	padding:6px;
}

#projectPickerTable tbody tr:hover{
	background-color: #FFFF00;
	}

#projectPickerTable tbody tr {
	background-color:#FFFFFF;
	}
	
#projectPickerTable tbody th{
 	text-align:left;
 	padding:0;
 	border:1px solid #333333;
 }

#projectPickerTable tbody td{
 	font-size:.8em;
	text-align:center;
	border:1px solid #333333;
	}

#projectPickerTable td a:link, #projectPickerTable td a:visited, #projectPickerTable th a:link, #projectPickerTable th a:visited {
	display:block;
	color:#000066;
	font-size:.9em;
	font-weight:bold;
	padding:8px;
	text-decoration:none;
	outline:0px;
	
}

#projectPickerTable td a:hover, #projectPickerTable th a:hover{
	display:block;
	color:#000033;
	font-size:.9em;
	font-weight:bold;
	background-color:#FFFF00;	
}

/*  Special Styles for the projectPickerManagement screen */

#tabPicker {
	padding-right:3px; 
	padding-top:0px;
	margin-top:20px; 
	font-size:.8em;
	color:#990000;
}

#returnToTopLink {
	text-align:center;
	margin:30px;
}

#returnToTopLink a:link, #returnToTopLink a:visited {
	font-size:.7em;
	color:#000000;
	text-decoration:none;
	background-color:#D9FFD9;
	padding: 2px 10px;
	border-top: 1px solid #999999;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #999999;
}

#returnToTopLink a:hover {
	font-size:.7em;
	background-color:#FFFF00;
	color:#000066;
	padding: 2px 10px;
	border-top: 1px solid #999999;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #999999;
}

#projectTitle {

}

/* STUDENT PROGRESS MONITOR Header Area   */

#studentProgressProjectTitle {
	margin:10px 0 10px 0;
	font-size:1.5em;
	font-weight:bold;
	text-align:left;
	color:#003300;
	}
	
.ProjectIDTag {
	margin: 0 0 0 10px;
	font-size:.5em;
	font-weight:normal;
}

#studentProgressLinks {
	font-size:.7em;
	letter-spacing:-.5px;
}

#studentProgressLinks .nonLink {
	color:#003300;
}

#studentProgressLinks .link {
	margin-left:20px;
}

#studentProgressLinks .link a:hover{
	background-color:#FFFF33;
}

#studentProgressTools {
	float:right;
	margin-top:10px;
}

#studentProgressTools ul {
	list-style-type:none;
	padding:0;
	font-size:.8em;
	text-align:center;
	
}

#studentProgressTools li {
	margin-bottom:8px;
}

#studentProgressTools a:link, #studentProgressTools a:visited {
	display:block;
	color:#000000;
	text-decoration:none;
	font-size:.70em;
	font-weight:bold;
	border-top:1px solid #666666;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid #666666;
	padding:4px 5px;
	background-color:#CCCCFF;
	background-image: url(../../images/textureLightBlue.png);
	background-position: right;
	width:140px;
	margin:0 10px 0 0;
}

#studentProgressTools a:hover{
	display:block;
	background-image: none;
	background-color:#FFFF66;	
	    }
	    
/* STUDENT PROGRESS MONITOR TABLE.  Based on version of Heaven is Closer template  http://icant.co.uk/csstablegallery/index.php?css=27#r27   */

#progressTable{
	font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	margin: 0px 0 20px 0;
	text-align:center;
}

#progressTable ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
	}
	
#progressTable li{
	margin:3px 0;
	}
	
#progressTable thead tr{
	font-size:.7em;
	color:#333333;
	letter-spacing:-.5px;
	background-color: #D9FFD9;
	border:1px solid black;
}

#progressTable thead th{
	padding: 0.3em;
	margin:0px;
	white-space: nowrap;
	border:1px solid black;
	}

#progressTable tr {
	background-color: #EAFDFF;
	padding:6px;
}

#progressTable tbody tr {
	background-color:#FFFFFF;
	}
	
#progressTable tbody td, #progressTable tfoot td{
	padding: .8em;
	font-size:.8em;
	text-align:center;
	border:1px solid #333333;
	}
	
#progressTable tfoot td {
	background-color:#cccccc;
	color:#CC0000;
	font-size:.7em;
	padding:.2em .8em;
	}
	
#progressTable a:link, #progressTable a:visited {
	color:#333333;
	}

#progressTable a:hover {
	background-color:#FFFF00;
	}

#progressTable tbody tr:hover{
	background-color: #FFFF33;
}

.percentValue {
	font-size:1.1em;
	font-weight:bold;
	margin-bottom:8px;
	}
	
.ratioValue {
	font-size:.8em;
	font-weight:normal;
	}