<h5>{{ ::'chooseStepLocation' | translate }}</h5>
<div style='margin-top: 20px; margin-left: 20px'>
  <div ng-repeat='item in projectController.items | toArray | orderBy : "order"'
     class='projectItem'
     ng-class='::{"node-select--group": projectController.isGroupNode(item.$key), "node-select--node": !projectController.isGroupNode(item.$key)}'
     ng-if='::item.order !== 0'>
    <div id='{{::item.$key}}' layout='row'
       ng-class='::{"groupHeader": projectController.isGroupNode(item.$key), "stepHeader": !projectController.isGroupNode(item.$key), "branchPathStepHeader": projectController.isNodeInAnyBranchPath(item.$key) && !projectController.isGroupNode(item.$key)}'
       ng-style='::{"background-color": projectController.getStepBackgroundColor(item.$key)}'>
      <div layout='row' class='projectItemTitleDiv'>
        <div layout='row' layout-align="start center">
          <node-icon node-id="::item.$key" size="18"></node-icon>&nbsp
          <h6 style='display:inline; cursor:pointer;'
            ng-if='projectController.isGroupNode(item.$key)'>
            {{::projectController.getNodePositionById(item.$key)}}: {{::projectController.getNodeTitleByNodeId(item.$key)}}
          </h6>
          <p style='display:inline; cursor:pointer;'
            ng-if='!projectController.isGroupNode(item.$key)'>
            <span>{{::projectController.getNodePositionById(item.$key)}}: {{::projectController.getNodeTitleByNodeId(item.$key)}}</span>
            <span><md-icon ng-if='::projectController.isBranchPoint(item.$key)' ng-click='projectController.branchIconClicked(item.$key); $event.stopPropagation();' style='transform: rotate(180deg);'>call_split</md-icon><md-tooltip md-direction='right'>{{ ::'branchPointTooltip' | translate : '{ numberOfBranchPaths: ' + projectController.getNumberOfBranchPaths(item.$key) + ', branchCriteria: "' + projectController.getBranchCriteriaDescription(item.$key) + '"}'}}</md-tooltip></span>
            <span><md-icon ng-if='::projectController.nodeHasConstraint(item.$key) && projectController.getNumberOfConstraintsOnNode(item.$key) == 1' ng-click='projectController.constraintIconClicked(item.$key); $event.stopPropagation();'>block</md-icon><md-tooltip class='multiLineTooltip' md-direction='right'>{{ ::projectController.getNumberOfConstraintsOnNode(item.$key) }} {{ ::'constraint' | translate }}<br/>{{ ::projectController.getConstraintDescriptions(item.$key) }}</md-tooltip></span>
            <span><md-icon ng-if='::projectController.nodeHasConstraint(item.$key) && projectController.getNumberOfConstraintsOnNode(item.$key) > 1' ng-click='projectController.constraintIconClicked(item.$key); $event.stopPropagation();'>block</md-icon><md-tooltip class='multiLineTooltip' md-direction='right'>{{ ::projectController.getNumberOfConstraintsOnNode(item.$key) }} {{ ::'constraints' | translate }}<br/>{{ ::projectController.getConstraintDescriptions(item.$key) }}</md-tooltip></span>
            <span><md-icon ng-if='::projectController.nodeHasRubric(item.$key)'>message</md-icon><md-tooltip md-direction='right'>{{ ::'hasRubric' | translate }}</md-tooltip></span>
          </p>
        </div>
        <div layout='row'>
          <md-button class='insertButton md-raised md-primary'
              ng-if='projectController.isGroupNode(item.$key) && (item.order!==0 || item.order==0)'
              ng-click='chooseLocationController.importSelectedNodes(item.$key); $event.stopPropagation();'>
            <md-icon>call_received</md-icon>
            <md-tooltip ng-if='item.order !== 0' md-direction='top' class='projectButtonTooltip'>{{ ::'insertAsFirstStep' | translate }}</md-tooltip>
          </md-button>
          <md-button class='insertButton md-raised md-primary' ng-if='item.order !== 0 && !projectController.isGroupNode(item.$key)'
              ng-click='chooseLocationController.importSelectedNodes(item.$key); $event.stopPropagation();'>
            <md-icon>subdirectory_arrow_left</md-icon>
            <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'insertAfter' | translate }}</md-tooltip>
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<md-button
  class="createButton md-primary"
  ng-click="chooseLocationController.cancel()"
  aria-label='{{ ::"cancel" | translate }}'
  translate="cancel"></md-button>
