div.WireIt-ImageContainer {
	width: auto; /* Prevent the modules from scratching on the right */
	height: auto;
}
div.WireIt-ImageContainer div.title{
	display: block;
	max-width: 300 !important; /* Prevent the modules from scratching on the right */
	height: auto;
  float: left;
	border: 1px solid gray;
  white-space: pre;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=50);
	z-index: 2000;
}

div.WireIt-Container div.inputEx-Group div.inputEx-label {
	width: auto;
}

div.MySystemNote {
  width: auto;
  height: auto;
  min-width: 100px;
  min-height: 100px;
  display: block;
  background:#fff url(../images/icons/resize.gif) no-repeat bottom right;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=80);
  position: absolute;
  border: 2px solid  #DDDDAA;
}

div.content {
  display: block;
  position: absolute;
  clear: both;
  width: auto;
  margin: 4px;
  margin-top: 30px;
  margin-bottom: 2px;
  top: 1em;
  bottom: 1em;
  text-align: top;
  vertical-align: top;
  white-space: pre-wrap;
  overflow: hidden;
}

div.inputEx-TypeField-PropertiesPanel {
	z-index: 7;
}

div.WireIt-Container.WiringEditor-module-comment div.body {
	background-color: #EEEE66;
}

div.WireIt-Container.WiringEditor-module-comment div.body textarea {
	background-color: transparent;
	font-weight: bold;
	border: 0;
}


div.ComposedModule {
	background-color: #DDDDAA;
}

label {
  color: #3366CC;
  font-weight: bold;
}

input {
  border: 1px solid  #DDDDAA;
  float: right;
}

.inputBox {
  display: block;
  clear: both;
  margin-top: 10px;
  padding: 2px;
  float: left;
}

textarea {
  vertical-align: top;
  height: 100px;
}

div.title {
  display: block;  
  position: relative;
  font-size: 16px;
  float: left;
  width: 200%
  z-order: 10;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=80);
  background-color: white
}

#property_editor_closer {
  display:block;
  float: right;
  clear: both;
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  background-position: top right;
  padding: 0px;
  margin: 0px;
  width: 25px;
  height: 15px;
  cursor: pointer;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=50);
}

#property_editor {
 opacity: 0.9;
 -moz-opacity: 0.9;
 filter:alpha(opacity=90);
 background-color: white;
 color:  #3366CC;
 border: 2px solid  #3366CC;
 display: none;
 z-index: 1000;  
 position: fixed; 
 width: 240px;
 right: 50%;
 padding: 0px;
 margin: 0px;
 float: left;
 text-align: center;
}

#prop_bar {
  display: block;
  float: left;
  width: 100%;
/*  height: auto;*/
  background-color: #3366CC;
  color: white;
  margin: 0px;
  padding: 0px;
  clear: both;
}

#prop_form {
  clear: both;
  float: left;
  display: block;
  height: auto;
}
#form_table tr td {
 border: none;
 vertical-align: top;
}


#palette {
  width: 200px;
/*  height: 265px;*/
  display: table;
  text-align: left;
  margin: 4px;
  background-color: white;
} 

.pallet_element {
  display: block;
  width: 20px;
  height: 20px;
  clear: none;
  border: 2px solid white;
  margin: 2px;
  padding: 0px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 2em;
  float: left;
  cursor: pointer;
}

#layerMap {
  display: none;
}
.selected {
  border: 2px solid #3366CC; !important;
}


