<h2 class="standalone__title accent" i18n>Teacher Forgot Username or Password</h2>
<div class="standalone__content forgot"
     fxLayout="row"
     fxLayout.xs="column"
     fxFlexLayoutAlign="center center">
  <app-call-to-action fxFlex
                      icon="person"
                      iconColor="accent"
                      headline="Username"
                      content="Teachers can look up their username"
                      destination="username"></app-call-to-action>
  <app-call-to-action fxFlex
                      icon="lock"
                      iconColor="accent"
                      headline="Password"
                      content="Teachers can reset their password"
                      destination="password"></app-call-to-action>
</div>
