@import '~@angular/material/theming';

.select-menu {
  width: 100%;

  .mat-form-field-infix {
    border: 0;
    margin-top: 1.4375em;
    @include mat-elevation(2);
    padding: 0.75em 0.4375em;
    border-radius: 2px;
  }

  &.mat-form-field-should-float {
    .mat-form-field-label-wrapper {
      top: -1.5875em;
      padding-top: 1.5875em;
    }
  }

  .mat-form-field-label {
    top: 1.5875em;
    left: .4375em;
  }

  .mat-form-field-underline {
    display: none;
  }
}
