<script src="wise5/components/audioRecorder/recordmp3.js"></script>

<div ng-controller='AudioRecorderController as audioRecorderController'>
    <div id='prompt'><compile data='audioRecorderController.getPrompt()'></compile></div>
    
    <button id='toggleRecordingButton' ng-click="audioRecorderController.toggleRecording();">Start Recording</button>
    <span id='statusMessage'>{{audioRecorderController.statusMessage}}</span>
    
    <h2>Recordings</h2>
    <ul id="recordingslist">
        <li ng-repeat='audioAsset in audioRecorderController.studentResponse'>
            <audio controls="controls" src='{{audioAsset.url}}'></audio>
        </li>
    </ul>
    
    <!--  
    <h2>Log</h2>
    <pre id="log"></pre>
    -->
    <button id='saveButton' 
        ng-click='audioRecorderController.saveButtonClicked()' 
        ng-disabled='audioRecorderController.isDisabled' 
        ng-show='audioRecorderController.showSaveButton()'>Save</button>
    <button id='submitButton' 
        ng-click='audioRecorderController.submitButtonClicked()' 
        ng-disabled='audioRecorderController.isDisabled' 
        ng-show='audioRecorderController.showSubmitButton()'>Submit</button>
</div>
