<script src="wise5/components/audioRecorder/recordmp3.js"></script>

<div ng-controller='AudioRecorderController as audioRecorderController'>
    <div id="prompt">{{audioRecorderController.nodeContent.prompt}}</div>
    
    <button id='toggleRecordingButton' ng-click="audioRecorderController.toggleRecording();">Start Recording</button>
    <span id='recordingMsg' style='display:none'>Recording...</span>
    
    <h2>Recordings</h2>
    <ul id="recordingslist">
        <li ng-repeat='audioAsset in audioRecorderController.studentResponse'>
            <audio controls="controls" src='{{audioAsset.url}}'></audio>
        </li>
    </ul>
    
    <!--  
    <h2>Log</h2>
    <pre id="log"></pre>
    -->
</div>
