<mat-card class="standalone__content mat-elevation-z4 center">
  <mat-card-content>
    <form role="form"
          fxLayout="column"
          (submit)="submit()"
          [formGroup]="forgotStudentPasswordFormGroup">
      <h2 class="standalone__title accent" i18n>Forgot Student Password</h2>
      <p>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label i18n>Username</mat-label>
          <input matInput
                 id="username"
                 name="username"
                 formControlName="username"
                 autofocus
                 required />
          <mat-error *ngIf="forgotStudentPasswordFormGroup.controls['username'].hasError('required')" i18n>Username required</mat-error>
        </mat-form-field>
      </p>
      <button mat-flat-button
              color="primary"
              [disabled]="!forgotStudentPasswordFormGroup.valid || processing"
              type="submit">
        <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
        <ng-container i18n>Submit</ng-container>
      </button>
    </form>
    <div *ngIf="showForgotUsernameLink">
      <br>
      <p class="warn">{{message}}</p>
      <a routerLink="/forgot/student/username" i18n>Forgot Student Username</a>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions class="center">
    <p>
      <a routerLink="/contact" i18n>Contact WISE</a>
    </p>
    <p>
      <a routerLink="/join" i18n>Create New Account</a>
    </p>
  </mat-card-actions>
</mat-card>
