<step-tools node-id="nodeCtrl.nodeId" show-position="themeCtrl.numberProject"
              prev-id="nodeCtrl.prevNodeid" next-id="nodeCtrl.nextNodeId"></step-tools>
<div class="node-container">
    <md-content class="l-constrained node-content md-padding">
        <div id="{{component.id}}" class="component-content" ng-repeat='component in nodeCtrl.getComponents()'>
            <div ng-include='nodeCtrl.getComponentTypeHTML(component.componentType)'
                 ng-init='componentState = nodeCtrl.getComponentStateByComponentId(component.id)'></div>
        </div>
        <div ng-if='nodeCtrl.showSaveButton() || nodeCtrl.showSubmitButton()' class="node-content__actions" layout="row">
            <md-button class="md-raised md-primary"
                    ng-click='nodeCtrl.saveButtonClicked()'
                    ng-disabled='nodeCtrl.isDisabled || !nodeCtrl.isDirty'
                    ng-if='nodeCtrl.showSaveButton()'>Save</md-button>
            <md-button class="md-raised md-primary"
                    ng-click='nodeCtrl.submitButtonClicked()'
                    ng-disabled='nodeCtrl.isDisabled || !nodeCtrl.isDirty'
                    ng-if='nodeCtrl.showSubmitButton()'>Submit</md-button>
        </div>
    </md-content>
</div>