<div ng-controller='NodeController as nodeController'>
    <input type='button' value='X' ng-click='nodeController.closeNode()' />
    <div compile='nodeController.getPrompt()'></div>
    <div id="{{component.id}}" ng-repeat='component in nodeController.getComponents()'>
         <div ng-include='nodeController.getComponentTypeHTML(component.componentType)'
         ng-init='componentState = nodeController.getComponentStateByComponent(component)'></div>
        <input type='button' value='+Notebook' ng-click='nodeController.addStudentWorkItemToNotebook(component.id)' />
    </div>
    <button id='saveButton'
            ng-click='nodeController.saveButtonClicked()'
            ng-disabled='nodeController.isDisabled'
            ng-show='nodeController.showSaveButton()'>Save</button>
    <button id='submitButton'
            ng-click='nodeController.submitButtonClicked()'
            ng-disabled='nodeController.isDisabled'
            ng-show='nodeController.showSubmitButton()'>Submit</button>
    <div id="prev" ng-click="nodeController.goToPrevNode()">Prev</div>
    <div id="next" ng-click="nodeController.goToNextNode()">Next</div>
</div>