#promptDiv {
	/*color:#000;*/
	font-size:.9em;
	margin:.25em .5em .5em;
	padding: .5em;
	line-height:130%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background-color:#eeeeee;
}