.library-group-thumbs {
  margin: 0 12px;
  overflow: hidden;
  white-space: nowrap;
}

.library-group-thumbs__thumb {
  background-size: cover;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  margin-left: 2px;
  opacity: .8;
  display: inline-block;
  vertical-align: middle;
}
