<div class="account-menu__caret" tabindex="0"></div>
<div class="account-menu__info">
    <md-list class="account-menu__info__title account-menu__users">
        <md-list-item>
            <div class="md-avatar">
                <md-icon class="md-48" style="color: {{::themeCtrl.getAvatarColorForWorkgroupId(themeCtrl.workgroupId)}};"> account_circle </md-icon>
            </div>
            <div class="md-list-item-text">
                <span ng-repeat="username in ::themeCtrl.workgroupUsernames">{{::username.name}}<span ng-if="!$last">,&nbsp;</span></span>&nbsp;
                <span class="account-menu__info__team" translate="accountMenuTeam" translate-value-id="{{::themeCtrl.workgroupId}}"></span>
            </div>
        </md-list-item>
    </md-list>
</div>
<md-divider></md-divider>
<div class="account-menu__info">
    <div class="account-menu__progress" layout="row" layout-align="start center">
        <div layout="column">
            <span class="md-body-2" translate="projectCompletion"></span>
            <span class="md-body-1 gray-dark" translate="accountMenuItems" translate-value-item="{{themeCtrl.rootNodeStatus.progress.completedItems}}/{{themeCtrl.rootNodeStatus.progress.totalItems | number : 0}}" />
        </div>
        <span flex></span>
        <md-progress-linear md-mode="determinate" value="{{themeCtrl.rootNodeStatus.progress.completionPct}}"></md-progress-linear>
        <h3 class="accent-1">{{themeCtrl.rootNodeStatus.progress.completionPct}}%</h3>
    </div>
</div>
<span>
<div class="account-menu__info" ng-if="::!themeCtrl.hideTotalScores && vleController.maxScore != null">
    <md-divider></md-divider>
    <div class="account-menu__score" layout="row" layout-align="start center">
        <div layout="column">
            <span class="md-body-2" translate="accountMenuTotalScore"></span>
            <span class="md-body-1 gray-dark" translate="accountMenuPoints" translate-value-point="{{vleController.totalScore}}/{{vleController.maxScore}}">
            </span>
        </div>
        <span flex></span>
        <div class="account-menu__grade">
            <md-icon class="md-36"> grade </md-icon>
            <div class="account-menu__grade__overlay" ng-if="vleController.maxScore > 0" style="height: {{(1-vleController.totalScore/vleController.maxScore)*100 | number : 2}}%;"></div>
        </div>
        <h3 class="accent-1" ng-if="vleController.maxScore > 0">{{vleController.totalScore/vleController.maxScore*100 | number : 0}}%</h3>
    </div>
</div>
<md-divider></md-divider>
<div class="account-menu__actions" layout="row">
    <md-button id="goHomeButton" class="md-primary" ng-click="vleController.goHome()" aria-label="{{::'GO_HOME' | translate}}">{{::'GO_HOME' | translate}}</md-button>
    <span flex></span>
    <md-button id="signOutButton" class="md-primary" ng-click="vleController.logOut('logOutButtonClicked')" aria-label="{{::'SIGN_OUT' | translate}}">{{::'SIGN_OUT' | translate}}</md-button>
</div>
