<div class="account-menu__caret account-menu__caret--notification" tabindex="0"></div>
<div layout="column" class="account-menu--fixed-height account-menu--fixed-width">
    <md-toolbar md-theme="light" class="account-menu__info md-subhead md-whiteframe-1dp" layout="row" layout-align="start center">
        <span class="accent account-menu__info__title" layout="row" layout-align="start center"><md-icon class="md-accent"> notifications </md-icon>&nbsp;{{ ::'alerts' | translate }}</span>
        <span flex></span>
        <md-button class="md-icon-button"
                   aria-label="Clear all notifications"
                   md-prevent-menu-close="md-prevent-menu-close"
                   ng-disabled="classroomMonitorController.getNewNotifications().length < 1"
                   ng-click="classroomMonitorController.confirmDismissAllNotifications($event)">
            <md-icon> clear_all </md-icon>
        </md-button>
    </md-toolbar>
    <md-content class="account-menu__actions" flex>
        <div class="md-padding center" ng-if="!classroomMonitorController.getNewNotifications().length"><span class="md-body-1">{{ ::'noAlerts' | translate }}</span></div>
        <md-list class="notification-list" ng-if="classroomMonitorController.getNewNotifications().length">
            <md-list-item ng-repeat="notification in classroomMonitorController.getNewNotifications() track by $index"
                          ng-click="classroomMonitorController.dismissNotificationAndVisitNode(notification)"
                          md-autofocus="$first"
                          class="md-2-line">
                <div class="md-list-item-text">
                    <div class="md-body-1 primary">{{notification.message}}</div>
                    <h4 class="notification-list-item__source">{{classroomMonitorController.ProjectService.getNodePositionAndTitleByNodeId(notification.nodeId)}}</h4>
                </div>
                <md-button class="md-icon-button" md-prevent-menu-close="md-prevent-menu-close"
                           ng-click="classroomMonitorController.dismissNotification(notification)">
                    <md-icon>clear</md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>
