<div class="account-menu__caret account-menu__caret--notification" tabindex="0"></div>
<div layout="column" class="account-menu--fixed-height account-menu--fixed-width">
    <md-toolbar md-theme="light" class="account-menu__info md-subhead md-whiteframe-1dp" layout="row" layout-align="start center">
        <span class="accent account-menu__info__title" layout="row" layout-align="start center"><md-icon class="accent"> notifications </md-icon>&nbsp;<span translate="notificationsTitle"></span></span>
    </md-toolbar>
    <md-content class="account-menu__actions" flex>
        <div class="md-padding center" ng-if="!vleController.hasNewNotifications()"><span class="md-body-1" translate="noAlerts"></span></div>
        <md-list class="notification-list" ng-if="vleController.hasNewNotifications()">
            <md-list-item ng-repeat="notificationAggregate in vleController.newNotifications track by $index"
                          ng-click="vleController.dismissNotificationAggregateAndVisitNode($event, notificationAggregate)"
                          md-autofocus="$first"
                          class="md-2-line">
                <div class="md-list-item-text">
                    <div class="md-body-1 primary">{{notificationAggregate.message}}</div>
                    <h4 class="notification-list-item__source" ng-if="notificationAggregate.nodeId != null">{{vleController.ProjectService.getNodePositionAndTitleByNodeId(notificationAggregate.nodeId)}}</h4>
                    <h4 class="notification-list-item__source" ng-if="notificationAggregate.notebookItemId != null">{{vleController.reportItem.title}}</h4>
                </div>
                <md-button class="md-icon-button" md-prevent-menu-close="md-prevent-menu-close"
                           ng-click="vleController.dismissNotificationAggregate($event, notificationAggregate)">
                    <md-icon>clear</md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>
