<md-dialog aria-label="Notebook">
    <md-toolbar class="l-sidebar__header md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <h3>{{ ::'myFiles' | translate }}</h3>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <studentassets template-url="studentAssetTemplateUrl" component-controller="componentController"></studentassets>
    </md-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="closeDialog()" class="md-primary">Close</md-button>
    </div>
</md-dialog>
