<md-toolbar class="l-header" ng-class="{'md-whiteframe-z1': themeCtrl.layoutState === 'nav'}">
    <div class="md-toolbar-tools"
         ng-class="{'warn-bg': vleController.hasNewAmbientNotifications()}"
         ng-click="vleController.hasNewAmbientNotifications() ? vleController.viewCurrentAmbientNotification($event) : null">
        <a href="{{::vleController.homePath}}" target="_self"
           class="md-button logo-link">
            <img ng-src="{{::vleController.themePath}}/images/WISE-logo-ffffff.svg" alt="WISE Logo" class="logo" />
        </a>
        <h3>
            <span>{{::vleController.projectName}}</span>
        </h3>
        <span flex></span>
        <span ng-if="::vleController.isPreview()">
            <md-button id="toggleConstraints" class="md-raised md-primary" ng-if="vleController.hasConstraints()" ng-click="vleController.disableConstraints()" title="{{ ::'onlyAvailableInPreviewMode' | translate }}">
                {{ ::'turnOffConstraints' | translate }}</md-button>
            <span ng-if="vleController.constraintsDisabled">Constraints Are Off</span>
        </span>
        <md-menu md-position-mode="target-right target" md-offset="40 26">
            <md-button id="viewNotificationsButton" aria-label="View notifications" class="md-icon-button notification-btn" ng-click="$mdMenu.open($event); $event.stopPropagation();">
                <span ng-if="vleController.hasNewNotifications()" class="notification-count">{{vleController.newNotifications.length}}</span>
                <md-icon md-menu-origin> notifications </md-icon>
            </md-button>
            <md-menu-content width="5" class="account-menu">
                <ng-include src="::vleController.themePath + '/templates/notificationMenu.html'"></ng-include>
            </md-menu-content>
        </md-menu>
        <md-progress-circular class="menu-progress" md-mode="determinate" md-diameter="32" value="{{ themeCtrl.rootNodeStatus.progress.completionPct }}"></md-progress-circular>
        <md-menu id='accountMenu' md-position-mode="target-right target" md-offset="8 28">
            <md-button id="openAccountMenuButton" aria-label="{{::'openAccountMenu' | translate}}" class="md-icon-button" ng-click="$mdMenu.open($event); $event.stopPropagation();">
                <md-icon md-menu-origin class="account-menu__icon" style="color: {{::themeCtrl.getAvatarColorForWorkgroupId(themeCtrl.workgroupId)}};"> account_circle </md-icon>
            </md-button>
            <md-menu-content width="5" class="account-menu">
                <ng-include src="::vleController.themePath + '/templates/accountMenu.html'"></ng-include>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
