<md-toolbar class="l-header" ng-class="{'md-whiteframe-z1': themeCtrl.layoutState === 'nav'}">
    <div class="md-toolbar-tools"
         ng-class="{'warn-bg': vleController.hasNewAmbientNotifications()}"
         ng-click="vleController.hasNewAmbientNotifications() ? vleController.viewCurrentAmbientNotification($event) : null">
        <a ng-click="vleController.loadRoot(); $event.stopPropagation();"
           class="md-button logo-link">
            <img ng-src="{{vleController.themePath}}/images/WISE-logo-ffffff.svg" alt="WISE Logo" class="logo" />
        </a>
        <h3>
            <span>{{vleController.projectName}}</span>
        </h3>
        <span flex></span>
        <md-button class="md-raised md-primary" ng-if="vleController.isPreview() && vleController.hasRubrics()" ng-show="vleController.rubricsViewable == true" ng-click="vleController.hideRubrics()" title="{{ 'onlyAvailableInPreviewMode' | translate }}">{{ 'hideRubrics' | translate }}</md-button>
        <md-button class="md-raised md-primary" ng-if="vleController.isPreview() && vleController.hasRubrics()" ng-show="vleController.rubricsViewable == false" ng-click="vleController.showRubrics()" title="{{ 'onlyAvailableInPreviewMode' | translate }}">{{ 'showRubrics' | translate }}</md-button>
        <md-button class="md-raised md-primary" ng-if="vleController.isPreview() && vleController.hasConstraints()" ng-click="vleController.disableConstraints()" title="{{ 'onlyAvailableInPreviewMode' | translate }}">{{ 'turnOffConstraints' | translate }}</md-button>
        <span ng-show="vleController.isPreview() && vleController.constraintsDisabled">Constraints Are Off</span>
        <md-menu md-position-mode="target-right target" md-offset="40 26">
            <md-button aria-label="View notifications" class="md-icon-button notification-btn" ng-click="$mdOpenMenu(); $event.stopPropagation();">
                <span ng-show="vleController.hasNewNotifications()" class="notification-count">{{vleController.newNotifications.length}}</span>
                <md-icon md-menu-origin> notifications </md-icon>
            </md-button>
            <md-menu-content width="5" class="account-menu">
                <ng-include src="vleController.themePath + '/templates/notificationMenu.html'"></ng-include>
            </md-menu-content>
        </md-menu>
        <md-progress-circular class="menu-progress" md-mode="determinate" md-diameter="32" value="{{ themeCtrl.rootNodeStatus.progress.completionPct }}"></md-progress-circular>
        <md-menu id='accountMenu' md-position-mode="target-right target" md-offset="8 28">
            <md-button aria-label="{{'openAccountMenu' | translate}}" class="md-icon-button" ng-click="$mdOpenMenu(); $event.stopPropagation();">
                <md-icon md-menu-origin class="account-menu__icon" style="color: {{themeCtrl.getAvatarColorForWorkgroupId(themeCtrl.workgroupId)}};"> account_circle </md-icon>
            </md-button>
            <md-menu-content width="5" class="account-menu">
                <ng-include src="vleController.themePath + '/templates/accountMenu.html'"></ng-include>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
