<p>Self Directed Investigation</p>
<div>Activity Name: {{ selfDirectedInvestigationController.structure.group.title }}</div>
<md-button class='createButton md-raised md-primary'
                  ng-click='selfDirectedInvestigationController.chooseLocation()'
                  aria-label='{{ ::"next" | translate }}'
                  translate='next'></md-button>
<md-button class='createButton md-raised md-primary'
                  ng-click='selfDirectedInvestigationController.cancel()'
                  aria-label='{{ ::"cancel" | translate }}'
                  translate='cancel'></md-button>