{
   "TODO":"add the necessary fields to this JSON file for your new step type, a copy of the contents of this file will be copied to the new step file when an author creates a new instance of your step in the authoring tool, you may delete this TODO field",
   "prompt": "",
   "excelExportStringTemplate":"",
   "type": "Template"
}