body {
	font-family: "Gill Sans", Arial, Verdana, sans-serif;
	font-size: 1em;
	background-color:#666666;
	background-image:url(../../images/robots/surrounding_bg3.png);
	background-repeat:repeat;
	text-align:center;
}

#coverDiv {
	font-family: "Gill Sans", Arial, Verdana, sans-serif;
	border:1px solid #777;
	text-align:center;
	background:#FFFFFF;
	/*position: absolute; top: 30px; left: 15%; width: 70%;*/
	width:300px;
	margin:30px auto 0;
	z-index:1001;
	position:relative;
	-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
	-moz-box-shadow:0 0 10px #222; box-shadow:0 0 10px #222; -webkit-box-shadow:0 0 10px #222;
	padding:1em;
}

#coverTextDiv {
	margin-bottom:1em;
}

#overlay {
	background: #666666 url(/vlewrapper/vle/jquery/css/custom-theme/images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
	opacity: .50;
	filter:Alpha(Opacity=50);
	position: absolute; top: 0; left: 0; width: 100%; height: 100%;
	/*z-index:1000;*/
}

/*#coverDiv {
	width:48%;
	height:48%;
	margin-top:24%;
	margin:auto;
	background-color:#000;
	color:silver;
	font-weight:bold;
	font-size:2em;
	border-style:solid;
	border-color:silver;
	border-width:4px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#coverTextDiv {
	width:63%;
	height:35%;
	text-align:right;
	float:left;
}

#coverTextUpdateDiv {
	height:35%;
	width:37%;
	text-align:left;
	float:left;
}

#fullDotsDiv,#flatDotsDiv,#pacDiv {
	height: 50px;
	float: left;
}

.fullDots {
	background-image:url('../pacs/dotsfull.jpg');
}

.flatDots {
	background-image:url('../pacs/dotsflat.jpg');
}

.pacOpen {
	background-image:url('../pacs/pacopen.jpg');
}

.pacClose {
	background-image:url('../pacs/pacclose.jpg');
}*/