# all files
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# just these files
[*.{es6,html}]
# Set default charset
charset = utf-8
# 2 space indentation
indent_style = space
indent_size = 2
