<div class="md-whiteframe-1dp">
  <md-subheader class="list-item md-whiteframe-1dp">
    <button class="md-button md-ink-ripple list-item__subheader-button"
        aria-label="{{ ::toggleTeamNotebookDisplay | translate }}"
        ng-class="{'list-item--expanded': $ctrl.showWork}"
        ng-click="$ctrl.toggleExpand()"
        layout-wrap>
      <div layout="row" flex>
        <div layout="row" layout-align="center center" flex="10">
          {{ ::$ctrl.workgroup.workgroupId }}
        </div>
        <div layout="row" layout-align="start center" flex>
          {{ ::$ctrl.workgroup.displayNames }}
        </div>
        <div ng-if="$ctrl.notesEnabled"
            class="md-title"
            layout="row"
            layout-align="center center"
            flex="10">
          <span ng-class="{ 'text-secondary': $ctrl.getNumActiveNotes() === 0 }">
            {{ ::$ctrl.getNumActiveNotes() }}
          </span>
        </div>
        <div ng-if="$ctrl.reportEnabled" layout="row" layout-align="center center" flex="25">
          <span ng-if="$ctrl.reportHasWork" class="success center">
            {{ ::'latestWork' | translate }}
            {{ ::$ctrl.workgroup.report.serverSaveTime | amTimeAgo }}
          </span>
          <span ng-if="!$ctrl.reportHasWork" class="text-secondary">
            {{ ::'noWork' | translate }}
          </span>
        </div>
      </div>
    </button>
  </md-subheader>
  <md-list-item ng-if="$ctrl.expand" class="grading__item-container">
    <md-tabs class="md-body-2 gray-lightest-bg" md-dynamic-height md-border-bottom flex>
      <md-tab ng-if="$ctrl.notesEnabled" label="{{ ::'notes' | translate }}">
        <md-content>
          <notebook-notes class="notebook-grading"
              [mode]="'classroomMonitor'"
              [config]="$ctrl.notebookConfig"
              [view-only]="true"
              [workgroup-id]="$ctrl.workgroup.workgroupId">
          </notebook-notes>
        </md-content>
      </md-tab>
      <md-tab ng-if="$ctrl.reportEnabled" label="{{ ::$ctrl.reportTitle }}">
        <md-content>
          <notebook-report class="notebook-grading md-padding"
              [mode]="'classroomMonitor'"
              [config]="$ctrl.notebookConfig"
              [workgroup-id]="$ctrl.workgroup.workgroupId">
          </notebook-report>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-list-item>
</div>
