.color1 {color:#164CBA;}   /* vibrant blue */
.color2 {color:#6883BA;}   /* mid blue */
.color3 {color:#919EBA;}   /* light blue */
.color4 {color:#334B7B;}   /* dark blue */
.color5 {color:#19253D;}   /* very dark blue */
.color6 {color:#4E628B;}   /* mid gray slate */
.color7 {color:#FF9D1E;}  /* bold orange */
.color8 {color:#FFCE8E;}  /* mid tan */
.color9 {color:#FFE6C6;}  /* light tan */
.color10 {color:#a97e46;}  /* brown */
.color11 {color:#543f23;}  /* dark red */
.color12 {color:#bf9a6b;}   /* light brown */

.bg1 {background-color:#164CBA;color:#FFF;}
.bg2 {background-color:#6883BA;color:#000;}
.bg3 {background-color:#919EBA;color:#000;}
.bg4 {background-color:#334B7B;color:#FFF;}
.bg5 {background-color:#19253D;color:#FFF;}
.bg6 {background-color:#4E628B;color:#FFF;}
.bg7 {background-color:#FF9D1E;color:#000;}
.bg8 {background-color:#FFCE8E;color:#000;}
.bg9 {background-color:#FFE6C6;color:#000;}
.bg10 {background-color:#a97e46;color:#000;}
.bg11 {background-color:#543f23;color:#FFF;}
.bg12 {background-color:#bf9a6b;color:#000;}


#promptdiv, #originalPromptTextDiv, #associatedWorkTextDiv, #annotationTextDiv {  
	margin:0;
	padding:0;
}

#associatedWorkTextDiv {
	color:#003300;
	font-style:italic;
}

#promptContainer, .promptContainer {
	color:#000;
	font-size:.9em;
	margin:3px 10px 15px 15px;
	padding: 5px;
	border:1px solid #a97e46;
	line-height:130%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

#previousPromptContainer, .previousPromptContainer {
	color:#000;
	font-size:.9em;
	margin:3px 10px 15px 15px;
	padding: 5px;
	border:1px solid #a97e46;
	line-height:130%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

#annotationTextDiv {
	font-style:italic;
}

#promptdiv p {
	font-size:.9em;
	}

#orPromptDiv, #promptdiv tt, #promptdiv code {
	font-weight:bold;
	margin: .25em .5em;
}
#promptdiv a:link, #promptdiv a:visited {
	color:#000;
}

#promptdiv pre {
	font:600 .85em "Courier New", Courier, monospace;
	color:#330000;
	white-space:pre;
	padding:10px;
	margin:15px;
	border-top:2px solid #999;
	border-right:2px solid #999;
	border-bottom:2px solid #999;
	border-left:12px solid #999;
	line-height:120%;
}

#promptdiv pre.width20 {width:20%;margin-left:75px;}
#promptdiv pre.width30 {width:30%; margin-left:75px;}
#promptdiv pre.width40 {width:40%; margin-left:75px;}
#promptdiv pre.width50 {width:50%; margin-left:75px;}

#promptdiv a:hover {
	background-color:#FFFF00;
}

#promptdiv tt {
	font-size:150%;
	font-weight:700;
}

#promptdiv ol {
	font-size:.9em;
	margin-left:15px;
	font-weight:normal;
}

#currentQuestionBox {
	margin: 0 auto;
	padding:10px 0;
	text-align:left;
	width:100%;
	}
	
#fullColumn { 
	padding:10px 5px;
	background-color:#FFD9ac;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	}
	
#questionTypeNote {
	text-align: center;
	font-size: .8em;
	text-transform: uppercase;
	padding: 5px 0 0 0;
	color: #000;
}

#questionTypeVerticalLabel {
	font-size:.9em;
	line-height:130%;
	font-weight:bold;
	text-transform:uppercase;
	margin:15px 0 0 0 ;
}

.itemLabel {
	font-size:.7em;
	text-transform:uppercase;
	margin:0.25em 0.5em;
}

#responseBoxDiv {
	margin-left:0px;
	margin-right:0px;
	padding: 5px;
}
	
.responseBox, .noteResponseBox {
    line-height: 1.2em;
    width: 100%;
    max-width:100%;
    min-width:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:5px;
}

.responseBox {
	height: 180px;
	max-height:300px;
}

.noteResponseBox {
    max-height:200px;
    height: 100px;
}

#notePanel {
	margin-bottom:.3em
}

textarea:disabled {
	background-color:#999999;
}

textarea:focus {
	background-color:#FFFFFF;
	border:1px solid #3cb371;
}

#questionCountBoxNote {
	margin: 0;
	-moz-border-radius-bottomleft:4px; 
	-moz-border-radius-bottomright:4px; 
	padding:4px 0 6px 0;
}

#buttonBoxNote {
	margin-right:5px;
	text-align:right;
} 

#buttonBoxNote a {
	background-color:#CCC;
	text-decoration: none;
	color:#000;
	font-size:.6em;
	padding:0 3px;
	border:1px solid #666; 
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

#buttonBoxNote a:hover {
	background-color:#FFFF00;
	color:blue;
	}

.instructionsReminder {
	float:right	;	
	color: #000;
	border-collapse:collapse;
	margin:4px 10px 0 0;
	}
	
.instructionsReminder a{
	text-decoration:none;
	}
	
.instructionsReminderNote {
	float:right	;	
	color: #000;
	border-collapse:collapse;
	margin:3px 10px 0 3px;
	}
	
.instructionsReminderNote a{
	text-decoration:none;
	}
	
#helpTextLink {
	color: #FFF;
	font-size:.8em;
}

#helpTextLink:hover {
	color:blue;
}
	
.starterSentence {
	float:right;
	margin-right:6px;
	margin-bottom:2px;
	font-size:.7em;
}

.starterSentence a {
	background-image:url(../../images/gradient-gray-button.png);
	background-position:top center;
	background-repeat:repeat-x;
	text-decoration: none;
	padding:0px 5px;
	margin-right:5px;
	border:1px solid #666; 
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

#starterSentenceDiv a:hover {
	background-image:none;
	background-color:#FFFF00;
	}

/* STYLING FOR BOTTOM BUTTONS ON THE REFLECTION NOTE  */

#submitButtonsNote {
	margin: 10px auto;
	text-align:center;
}

#submitButtonsNote .buttonDiv {
	text-align:center;
	/* vertical-align:middle; */
	line-height: 25px; /* same as height of link */ 
	display:inline-block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.buttonDiv a, .buttonDiv input {
	display: inline-block;
    font-size: 0.8em;
    padding: 0.2em 0.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;
}

.buttonDiv a:hover, .buttonDiv input:hover {
	cursor:pointer;
}

/*#submitButtonsNote a.disabledLink:hover {
	background-color: #DDDDDD;
	color: #999999;
	cursor:default;
}

#submitButtonsNote .disabledLink {
	background-color: #DDDDDD;
	color: #999999;
	outline: 0;
}*/

.promptText {
	color:#000;
	margin:3px 10px 15px 15px;
	line-height:150%;
}

.promptText2 {
	color:#666;
	font-size:80%;
}

#toggleSwitch {
	font-size:85%;
	padding:0px 5px;
	margin-bottom:3px;
	border:1px solid #999;
	background-color:#6666ff;
	color:#FFF;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#toggleSwitch:hover {
    background-color:#FFFF00;
    color:#000;
    cursor:pointer;
}

#openresponseOptionsTable {
	border: solid black 1px;
	width:100%;
}

#openresponseOptionsTable td {
	width: 33.3%;
}

.unselectable {
    -moz-user-select: none; /* for FireFox */
    -webkit-user-select: none; /* for Chrome and Safari */
    -khtml-user-select: none; /* probably old webkit browsers, but new support it too */
    user-select: none; /* for future CSS3 compliant browsers */
}