// Variables
$node-input-action-width: 48px;
$node-input-action-vertical-offset: 0;
$node-input-action-vertical-offset-richtext: -7px;

// Base
.node-toolbar {
  position: fixed;
  left: 0;
  right: 0;
  top: $toolbar-height;
}

.node-content {
  padding-left: 16px;
  padding-right: 16px;
}

.node-icon {
  color: #ffffff !important;
}

.node-select {
  margin-left: 8px;
  margin-right: 8px;
  min-width: 0;
}

.node-select--group {
  color: rgba(0,0,0,0.54);
  background-color: $gray-lighter;
}

.node-select--node {
  padding-left: 24px;
}

.node-title {
  line-height: 1.2;
  text-transform: none;
  margin-top: 3px;
}

@media only screen and (min-width: 0) and (max-width: $layout-breakpoint-sm) and
(orientation: portrait) {
  .node-title, .node-select {
    font-size: $body-font-size-base;
  }
}


// Inputs
// TODO: generalize these for WISE (not just nodes, regardless of theme?)
.node-input-container {
  padding: 16px 0;

  .mce-toolbar-grp {
    padding-right: $node-input-action-width;
  }
}

.node-input-wrapper {
  position: relative;
}

.node-input-wrapper--focused {
  .node-input--textarea__action md-icon {
    color: $primary-color;
  }
}

.node-input--textarea, .node-input-container textarea.node-input--textarea {
  padding: 8px;
  background-color: $gray-lightest;
  border: 1px solid $gray;

  &.node-input--textarea--hasaction {
    padding-right: $node-input-action-width;
  }

  &:focus {
    background-color: #ffffff;
  }
}

.node-input-container textarea.node-input--textarea {
  width: 100%;
}

.node-input--textarea--disabled {
  color: $text-color-secondary;
}


.node-input--textarea__action {
  position: absolute;
  right: -8px;

  &[disabled] md-icon {
    color: $text-color-light !important;
  }
}

.node-input--textarea__action--notebook {
  top: $node-input-action-vertical-offset;

  .node-input-wrapper--richtext & {
    top: $node-input-action-vertical-offset-richtext
  }
}

.node-input--textarea__action--revision {
  bottom: $node-input-action-vertical-offset;

  .node-input-wrapper--richtext & {
    bottom: ($node-input-action-vertical-offset-richtext + 2px);
  }
}

.node-input-label, md-input-container:not(.md-input-invalid):not(.md-input-focused).md-input-has-value label.node-input-label {
  padding-bottom: 4px;
  line-height: 1.2;
  font-weight: bold;
  color: $text-color-dark;

  &.node-input-label--focused {
    color: $primary-color;
  }
}

.node-input--focused {
  border-color: $primary-color;
}

.component-content {
  margin: 8px 0;

  @media only screen and (min-width: $layout-breakpoint-md) {
    margin: 16px 0;
  }
}

.node-content--actions, .component-content--actions {
  .md-button:first-of-type {
    margin-left: 0;
  }
}

.md-button.md-icon-button.node-nav {
  &:not(:first-of-type) {
    margin-left: 0;
  }

  &:first-of-type {
    margin-right: 0;
  }
}
