md-toast.project-status {
  min-width: 350px;
  max-height: none;
  padding: 8px;
  background-color: #ffffff;
  display: block;
  color: $text-color-dark;

  @media (min-width: $layout-breakpoint-sm) {
    bottom: $wise-toolbar-height + 6px;
  }
}

.project-status__header {
  display: flex;
  //margin-bottom: 4px;
}

.project-status__completion {
  //color: $primary-color;
  margin: 8px 4px;
  //font-size: 20px;
}

.project-status__completionPct {
  background-color: $success-color;
  color: #ffffff;
  padding: 4px;
  border-radius: $button-border-radius;
}