.progress-circular-with-label {
  position: relative;
}

.progress-circular-with-label__label { // Note: assumes md-diameter is set to "30" on accompanying <md-progress-circular>
  position: absolute;
  z-index: 1;
  left: 12.5px;
  top: 12.5px;
  font-size: 13px;
  height: 24.5px;
  width: 24.5px;
  @include border-radius(50%);
  line-height: 25px;
  background-color: #ffffff;
}

.progress-circular-with-label__progress {
  background-color: $accent-color-3;
  @include border-radius(50%);
}
