@import
  '~style/abstracts/variables',
  '~style/abstracts/functions';

h2 {
  margin-bottom: 8px;
}

.login {
  padding: 32px;
}

.login__logo {
  margin: 0 auto 16px;
  max-width: 300px;

  img {
    width: 100%;
    height: auto;
  }
}

.login__form {
  max-width: 400px;
  margin: 0 auto 16px;
}

.login__error {
  margin: 8px 0;
}

.mat-card-content {
  margin-bottom: 24px;
}

.mat-card-actions {
  margin: 0;
  padding: 16px 0;
}
