<section class="login">
  <div class="login__logo">
    <a routerLink="/">
      <img src="assets/img/wise-web-logo-full.png" alt="WISE logo" />
    </a>
  </div>
  <mat-card class="login__form mat-elevation-z4">
    <mat-card-content>
      <form role="form" (submit)="login()">
        <h2 class="accent center">Sign in to WISE</h2>
        <p class="warn center login__error inactive"
           [ngClass]="{'active': error}">
          Username and password not recognized. Please try again.
        </p>
        <p>
          <mat-form-field appearance="fill" fxFlex>
            <mat-label>Username</mat-label>
            <input matInput
                   id="username"
                   name="username"
                   [(ngModel)]="credentials.username"
                   [disabled]="processing"
                   autofocus />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" fxFlex>
            <mat-label>Password</mat-label>
            <input matInput
                   id="password"
                   name="password"
                   type="password"
                   [disabled]="processing"
                   [(ngModel)]="credentials.password" />
          </mat-form-field>
        </p>
        <p>
          <button fxFlex
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="processing">
            <span *ngIf="!processing">Sign In</span>
            <span *ngIf="processing">Connecting...</span>
          </button>
        </p>
      </form>
      <div *ngIf="isShowGoogleLogin">
        <p class="center mat-subheading-1">- or -</p>
        <p class="center">
          <a class="button--social-login button--google"
             href="/wise/google-login"
             color="accent"
             mat-raised-button>
            <img src="assets/img/icons/g-logo.png" alt="Google logo" />Sign in with Google
          </a>
        </p>
      </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <p><a routerLink="/lost">Forgot username or password?</a></p>
      <p>New to WISE? <a routerLink="/join">Join for free!</a></p>
    </mat-card-actions>
  </mat-card>
</section>
