<div class="login mat-app-background" fxLayout="column"
    fxLayoutAlign="start center">
  <div class="login__logo">
    <a routerLink="/">
      <img src="assets/img/wise-web-logo-full.png" alt="WISE logo" />
    </a>
  </div>
  <mat-card class="login__form">
    <mat-card-content>
      <form role="form" (submit)="login()">
        <h2 class="accent center">Sign in to WISE</h2>
        <p class="warn center login__error inactive"
           [ngClass]="{'active': error}">
          Username and password not recognized. Please try again.
        </p>
        <p>
          <mat-form-field fxFlex>
            <input matInput
                   id="username"
                   name="username"
                   placeholder="Username"
                   [(ngModel)]="credentials.username"
                   autofocus />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field fxFlex>
            <input matInput
                   id="password"
                   name="password"
                   placeholder="Password"
                   type="password"
                   [(ngModel)]="credentials.password" />
          </mat-form-field>
        </p>
        <p>
          <button fxFlex mat-raised-button color="primary" type="submit">
            Submit
          </button>
        </p>
      </form>
      <p><a routerLink="/lost">Forgot username or password?</a></p>
      <p>New to WISE? <a routerLink="/join">Join for free!</a></p>
    </mat-card-content>
  </mat-card>
</div>


