<div>
  <style>
    .playStopButton {
      min-width: 50px;
      margin-top: -10px;
    }
    .md-tooltip.projectButtonTooltip {
      margin-top: 0px;
    }
  </style>
  <div>
    <div ng-if='!audioOscillatorController.authoringComponentContent.showPreviousWork'>
      <md-input-container style='width:100%'>
        <label>{{ 'PROMPT' | translate }}</label>
        <textarea rows='1'
                  ng-model='audioOscillatorController.authoringComponentContent.prompt'
                  ng-change='audioOscillatorController.authoringViewComponentChanged()'
                  ng-model-options='{ debounce: 1000 }'
                  placeholder='{{ "enterPromptHere" | translate }}'>
      </textarea>
      </md-input-container>
      <span>{{ 'audioOscillator.oscillatorTypes' | translate }}</span>
      <span ng-if='audioOscillatorController.authoringComponentContent.oscillatorTypes == null || audioOscillatorController.authoringComponentContent.oscillatorTypes.length == 0'
            style='color: red;'>
        ({{ 'audioOscillator.thereAreNoOscillatorTypesSelected' | translate }})</span>
      <br/>
      <md-checkbox class='md-primary'
                   ng-model='audioOscillatorController.authoringSineChecked'
                   ng-change='audioOscillatorController.authoringViewOscillatorTypeClicked()'>
        {{ 'audioOscillator.sine' | translate }}
      </md-checkbox>
      <br/>
      <md-checkbox class='md-primary'
                   ng-model='audioOscillatorController.authoringSquareChecked'
                   ng-change='audioOscillatorController.authoringViewOscillatorTypeClicked()'>
        {{ 'audioOscillator.square' | translate }}
      </md-checkbox>
      <br/>
      <md-checkbox class='md-primary'
                   ng-model='audioOscillatorController.authoringTriangleChecked'
                   ng-change='audioOscillatorController.authoringViewOscillatorTypeClicked()'>
        {{ 'audioOscillator.triangle' | translate }}
      </md-checkbox>
      <br/>
      <md-checkbox class='md-primary'
                   ng-model='audioOscillatorController.authoringSawtoothChecked'
                   ng-change='audioOscillatorController.authoringViewOscillatorTypeClicked()'>
        {{ 'audioOscillator.sawtooth' | translate }}
      </md-checkbox>
      <br/>
      <md-input-container>
        <label>{{ 'audioOscillator.startingFrequency' | translate }}</label>
        <input type='number'
               style='width: 150'
               ng-model='audioOscillatorController.authoringComponentContent.startingFrequency'
               ng-model-options='{ debounce: 1000 }'
               ng-change='labelController.authoringViewComponentChanged()'/>
      </md-input-container>
      <br/>
      <md-input-container>
        <label>{{ 'audioOscillator.oscillatorWidth' | translate }}</label>
        <input type='number'
               style='width: 150'
               ng-model='audioOscillatorController.authoringComponentContent.oscilloscopeWidth'
               ng-model-options='{ debounce: 1000 }'
               ng-change='labelController.authoringViewComponentChanged()'/>
      </md-input-container>
      <md-input-container>
        <label>{{ 'audioOscillator.oscillatorHeight' | translate }}</label>
        <input type='number'
               style='width: 150'
               ng-model='audioOscillatorController.authoringComponentContent.oscilloscopeHeight'
               ng-model-options='{ debounce: 1000 }'
               ng-change='labelController.authoringViewComponentChanged()'/>
      </md-input-container>
      <md-input-container>
        <label>{{ 'audioOscillator.oscillatorGridSize' | translate }}</label>
        <input type='number'
               style='width: 150'
               ng-model='audioOscillatorController.authoringComponentContent.gridCellSize'
               ng-model-options='{ debounce: 1000 }'
               ng-change='labelController.authoringViewComponentChanged()'/>
      </md-input-container>
    </div>
  </div>
  <div ng-style='{"border": "5px solid black", "padding": "20px"}'>
    <div>
      <h5>{{ 'studentPreview' | translate }}</h5>
    </div>
    <preview-component component-content='audioOscillatorController.componentContent'/>
  </div>
</div>
