<div>
  <style>
    .playStopButton {
      min-width: 50px;
      margin-top: -10px;
    }
    .md-tooltip.projectButtonTooltip {
      margin-top: 0px;
    }
  </style>
  <div>
    <div class='advancedAuthoringDiv'
         ng-if='audioOscillatorController.showAdvancedAuthoring'>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='audioOscillatorController.authoringComponentContent.showSaveButton'
                     ng-change='audioOscillatorController.componentChanged()'>
          {{ ::'SHOW_SAVE_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='audioOscillatorController.authoringComponentContent.showSubmitButton'
                     ng-change='audioOscillatorController.componentChanged()'>
          {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                            ng-if='audioOscillatorController.authoringComponentContent.showSubmitButton'>
          <label>{{ ::'MAX_SUBMIT' | translate }}</label>
          <input type='number'
                 ng-model='audioOscillatorController.authoringComponentContent.maxSubmitCount'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='audioOscillatorController.componentChanged()'/>
        </md-input-container>
      </div>
      <div layout="column" layout-align="start start">
        <edit-component-max-score [authoring-component-content]="audioOscillatorController.authoringComponentContent"></edit-component-max-score>
        <edit-component-width [authoring-component-content]="audioOscillatorController.authoringComponentContent"></edit-component-width>
        <edit-component-rubric [authoring-component-content]="audioOscillatorController.authoringComponentContent"></edit-component-rubric>
        <edit-component-tags [authoring-component-content]="audioOscillatorController.authoringComponentContent"></edit-component-tags>
      </div>
      <div>
        <div style='height: 50;'>
          <label class='node__label--vertical-alignment'>
            {{ 'CONNECTED_COMPONENTS' | translate }}
          </label>
          <md-button class='topButton md-raised md-primary'
                     ng-click='audioOscillatorController.addConnectedComponent()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ 'ADD_CONNECTED_COMPONENT' | translate }}
            </md-tooltip>
          </md-button>
        </div>
        <div ng-repeat='connectedComponent in audioOscillatorController.authoringComponentContent.connectedComponents track by $index'
             style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'
             layout='row'>
          <div flex>
            <md-input-container style='margin-right: 20; width: 300;'>
              <label>{{ 'step' | translate }}</label>
              <md-select ng-model='connectedComponent.nodeId'
                         ng-change='audioOscillatorController.connectedComponentNodeIdChanged(connectedComponent)'
                         style='width: 300'>
                <md-option ng-repeat='item in audioOscillatorController.idToOrder | toArray | orderBy : "order"'
                           value='{{item.$key}}'
                           ng-if='audioOscillatorController.isApplicationNode(item.$key)'>
                  {{ audioOscillatorController.getNodePositionAndTitleByNodeId(item.$key) }}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container style='margin-right: 20; width: 300;'>
              <label>{{ 'component' | translate }}</label>
              <md-select ng-model='connectedComponent.componentId'
                         ng-change='audioOscillatorController.connectedComponentComponentIdChanged(connectedComponent)'
                         style='width: 300'>
                <md-option ng-repeat='(componentIndex, component) in audioOscillatorController.getComponentsByNodeId(connectedComponent.nodeId)'
                           value='{{component.id}}'
                           ng-disabled='!audioOscillatorController.isConnectedComponentTypeAllowed(component.type) || component.id == audioOscillatorController.componentId'>
                  {{ componentIndex + 1 }}. {{ component.type }}
                  <span ng-if='component.id == audioOscillatorController.componentId'>
                    ({{ 'thisComponent' | translate }})
                  </span>
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container style='margin-right: 20; width: 200;'>
              <label>{{ 'type' | translate }}</label>
              <md-select ng-model='connectedComponent.type'
                         ng-change='audioOscillatorController.connectedComponentTypeChanged(connectedComponent)'
                         style='width: 200'>
                <md-option value='importWork'>
                  {{ 'importWork' | translate }}
                </md-option>
                <md-option value='showWork'>
                  {{ 'showWork' | translate }}
                </md-option>
              </md-select>
            </md-input-container>
            <span flex></span>
            <md-input-container style='margin-left: 20;'>
              <md-button class='topButton md-raised md-primary'
                         ng-click='audioOscillatorController.deleteConnectedComponent($index)'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top'
                            class='projectButtonTooltip'>
                  {{ 'DELETE' | translate }}
                </md-tooltip>
              </md-button>
            </md-input-container>
          </div>
        </div>
      </div>
      <edit-component-json [node-id]="audioOscillatorController.nodeId" [component-id]="audioOscillatorController.componentId"></edit-component-json>
    </div>
    <br/>
    <div ng-if='!audioOscillatorController.authoringComponentContent.showPreviousWork'>
      <md-input-container style='width:100%'>
        <label>{{ 'PROMPT' | translate }}</label>
        <textarea rows='1'
                  ng-model='audioOscillatorController.authoringComponentContent.prompt'
                  ng-change='audioOscillatorController.componentChanged()'
                  ng-model-options='{ debounce: 1000 }'
                  placeholder='{{ "enterPromptHere" | translate }}'>
      </textarea>
      </md-input-container>
      <span>{{ 'audioOscillator.oscillatorTypes' | translate }}</span>
      <span ng-if='audioOscillatorController.authoringComponentContent.oscillatorTypes == null || audioOscillatorController.authoringComponentContent.oscillatorTypes.length == 0'
            style='color: red;'>
        ({{ 'audioOscillator.thereAreNoOscillatorTypesSelected' | translate }})</span>
      <br/>
      <md-checkbox class='md-primary'
                   ng-model='audioOscillatorController.authoringSineChecked'
                   ng-change='audioOscillatorController.authoringViewOscillatorTypeClicked()'>
        {{ 'audioOscillator.sine' | translate }}
      </md-checkbox>
      <br/>
      <md-checkbox class='md-primary'
                   ng-model='audioOscillatorController.authoringSquareChecked'
                   ng-change='audioOscillatorController.authoringViewOscillatorTypeClicked()'>
        {{ 'audioOscillator.square' | translate }}
      </md-checkbox>
      <br/>
      <md-checkbox class='md-primary'
                   ng-model='audioOscillatorController.authoringTriangleChecked'
                   ng-change='audioOscillatorController.authoringViewOscillatorTypeClicked()'>
        {{ 'audioOscillator.triangle' | translate }}
      </md-checkbox>
      <br/>
      <md-checkbox class='md-primary'
                   ng-model='audioOscillatorController.authoringSawtoothChecked'
                   ng-change='audioOscillatorController.authoringViewOscillatorTypeClicked()'>
        {{ 'audioOscillator.sawtooth' | translate }}
      </md-checkbox>
      <br/>
      <md-input-container>
        <label>{{ 'audioOscillator.startingFrequency' | translate }}</label>
        <input type='number'
               style='width: 150'
               ng-model='audioOscillatorController.authoringComponentContent.startingFrequency'
               ng-model-options='{ debounce: 1000 }'
               ng-change='labelController.componentChanged()'/>
      </md-input-container>
      <br/>
      <md-input-container>
        <label>{{ 'audioOscillator.oscillatorWidth' | translate }}</label>
        <input type='number'
               style='width: 150'
               ng-model='audioOscillatorController.authoringComponentContent.oscilloscopeWidth'
               ng-model-options='{ debounce: 1000 }'
               ng-change='labelController.componentChanged()'/>
      </md-input-container>
      <md-input-container>
        <label>{{ 'audioOscillator.oscillatorHeight' | translate }}</label>
        <input type='number'
               style='width: 150'
               ng-model='audioOscillatorController.authoringComponentContent.oscilloscopeHeight'
               ng-model-options='{ debounce: 1000 }'
               ng-change='labelController.componentChanged()'/>
      </md-input-container>
      <md-input-container>
        <label>{{ 'audioOscillator.oscillatorGridSize' | translate }}</label>
        <input type='number'
               style='width: 150'
               ng-model='audioOscillatorController.authoringComponentContent.gridCellSize'
               ng-model-options='{ debounce: 1000 }'
               ng-change='labelController.componentChanged()'/>
      </md-input-container>
    </div>
  </div>
</div>
