<div ng-controller='AudioOscillatorController as audioOscillatorController'>
  <style>
    .playStopButton {
      min-width: 50px;
      margin-top: -10px;
    }
    .md-tooltip.projectButtonTooltip {
       margin-top: 0px;
    }
  </style>
  <div ng-style='{"border": "5px solid black", "padding": "20px"}'>
    <div ng-switch='::audioOscillatorController.mode'>
      <div ng-switch-when='grading|gradingRevision'
          ng-switch-when-separator='|'
          layout='row'
          layout-wrap>
        <div flex='100'
            flex-gt-sm='66'
            layout='column'
            class='component--grading__response'>
          <div class='component--grading__response__content'>
            <p>{{ 'audioOscillator.frequenciesPlayed' | translate }}: {{audioOscillatorController.frequenciesPlayed}}</p>
            <p>{{ 'audioOscillator.frequenciesPlayedSorted' | translate }}: {{audioOscillatorController.frequenciesPlayedSorted}}</p>
            <p>{{ 'audioOscillator.numberOfFrequenciesPlayed' | translate }}: {{audioOscillatorController.numberOfFrequenciesPlayed}}</p>
            <p>{{ 'audioOscillator.minFrequencyPlayed' | translate }}: {{audioOscillatorController.minFrequencyPlayed}}</p>
            <p>{{ 'audioOscillator.maxFrequencyPlayed' | translate }}: {{audioOscillatorController.maxFrequencyPlayed}}</p>
          </div>
          <span flex></span>
          <component-revisions-info node-id='audioOscillatorController.nodeId'
              component-id='audioOscillatorController.componentId'
              to-workgroup-id='workgroupId'
              component-state='componentState'
              active='::audioOscillatorController.mode === "grading"'>
          </component-revisions-info>
        </div>
        <div flex='100'
            flex-gt-sm='33'
            class='component--grading__annotations'>
          <component-grading node-id='audioOscillatorController.nodeId'
              component-id='audioOscillatorController.componentId'
              max-score='audioOscillatorController.componentContent.maxScore'
              from-workgroup-id='teacherWorkgroupId'
              to-workgroup-id='workgroupId'
              component-state-id='componentState.id'
              show-all-annotations='::audioOscillatorController.mode !== "grading"'
              is-disabled='::audioOscillatorController.mode !== "grading"'>
          </component-grading>
        </div>
      </div>
      <div ng-switch-default>
        <div id='prompt'
            ng-if='audioOscillatorController.isPromptVisible'>
          <compile data='audioOscillatorController.getPrompt()'></compile>
          <possible-score [max-score]='audioOscillatorController.componentContent.maxScore'></possible-score>
        </div>
        <div class='component-content__actions' layout='row'>
          <md-button class='md-accent'
              ng-if='audioOscillatorController.isStudentAttachmentEnabled'
              ng-click='nodeController.showStudentAssets($event, component.id, audioOscillatorController.isDisabled)'
              ng-disabled='audioOscillatorController.isDisabled'>
            <md-icon>image</md-icon> {{ 'audioOscillator.importData' | translate }}
          </md-button>
        </div>
        <div layout='row'
            style='height: 80px;'>
          <md-input-container ng-if='audioOscillatorController.oscillatorTypes.length > 1'
              style='width: 150px;'>
            <label>{{ 'audioOscillator.oscillatorType' | translate }}</label>
            <md-select ng-model='audioOscillatorController.oscillatorType'
                ng-change='audioOscillatorController.oscillatorTypeChanged()'
                ng-disabled='audioOscillatorController.isDisabled'
                style='width: 120px'>
              <md-option ng-repeat='oscillatorType in audioOscillatorController.oscillatorTypes'
                  value='{{oscillatorType}}'>
                {{oscillatorType}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container style='width: 100px;'>
            <label>{{ 'audioOscillator.frequency' | translate }}</label>
            <input type='number'
                ng-model='audioOscillatorController.frequency'
                ng-change='audioOscillatorController.frequencyChanged()'
                ng-disabled='audioOscillatorController.isDisabled'/>
          </md-input-container>
          <md-input-container style='margin-right: 20px;'>
            {{ 'audioOscillator.hz' | translate }}
          </md-input-container>
          <md-input-container style='margin-right: 20px;'>
            <md-button class='playStopButton md-raised md-primary'
                ng-click='audioOscillatorController.togglePlay()'
                ng-disabled='audioOscillatorController.isDisabled'>
              <md-icon ng-if='!audioOscillatorController.isPlaying'>play_arrow</md-icon>
              <md-icon ng-if='audioOscillatorController.isPlaying'>stop</md-icon>
              <md-tooltip md-direction='top'
                  class='projectButtonTooltip'>
                {{audioOscillatorController.playStopButtonText}}
              </md-tooltip>
            </md-button>
          </md-input-container>
        </div>
        <canvas id='{{audioOscillatorController.oscilloscopeId}}'
            width={{audioOscillatorController.oscilloscopeWidth}}
            height={{audioOscillatorController.oscilloscopeHeight}}
            style='border:1px solid lightgrey'>
        </canvas>
        <div ng-if='::audioOscillatorController.isSaveOrSubmitButtonVisible()'
           class='component-content__actions'
           layout='row'
           layout-align='start center'>
          <md-button class='md-raised md-primary'
              ng-click='audioOscillatorController.saveButtonClicked()'
              ng-if='::audioOscillatorController.isSaveButtonVisible'
              ng-disabled='audioOscillatorController.isDisabled || !audioOscillatorController.isDirty'>
            {{ 'SAVE' | translate }}
          </md-button>
          <md-button class='md-raised md-primary'
              ng-click='audioOscillatorController.submitButtonClicked()'
              ng-if='::audioOscillatorController.isSubmitButtonVisible'
              ng-disabled='audioOscillatorController.isDisabled || !audioOscillatorController.isSubmitDirty || audioOscillatorController.isSubmitButtonDisabled'>
            {{ 'SUBMIT' | translate }}
          </md-button>
          <span ng-if='audioOscillatorController.saveMessage.text'
              class='component-content__actions__info md-caption'>
              {{audioOscillatorController.saveMessage.text}}
              <span class='component-content__actions__more'>
                <md-tooltip md-direction='top'>
                  {{ audioOscillatorController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}
                </md-tooltip>
                <span am-time-ago='audioOscillatorController.saveMessage.time'></span>
              </span>
          </span>
        </div>
        <component-annotations ng-if='::audioOscillatorController.mode === "student"'
            [annotations]='audioOscillatorController.latestAnnotations'
            [max-score]='audioOscillatorController.componentContent.maxScore'>
        </component-annotations>
      </div>
    </div>
  </div>
</div>
