/* Navigation menu specific css and theme customization */

/*#vle_body #toggleNavLink.menu {
	padding-left:28px;
	background:transparent url('images/menu.png') no-repeat left center;
}*/

#vle_body #my_menu {
	height:100%;
	width:100%;
	position:absolute;
	/*background-color: #191D2E;*/
	background: url("images/background.png") no-repeat scroll center center #191D2E;
	background-size: cover;
}

/* Styles for navigation menu elements */

/*.sequence {
	
}

.sequence a {
	display:block;
	padding: 0.25em 0.5em;
}

.sequenceTitle {
	
}

.sequenceTitle a {
	color: #FFFFFF;
    font-weight: bold;
    padding: 0.5em;
    margin-right:.5em;
}

.sequence.inactive .sequenceTitle a {
	padding-right:14px;
	background:transparent url('images/plus.png') no-repeat right center;
}

.sequence.active .sequenceTitle a {
	padding-right:14px;
	background:transparent url('images/minus.png') no-repeat right center;
}

a.step, a.glue, a.sequenceTitle {
	display: block;
}

.step {
	
}

a {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	
}

.step a {
	background-color:#F4F2EF;
    color: #563C17;
}

.step a:hover {
	text-decoration: none;
    color:#000;
    background-color:#EBE7E2;
}

.step {
	border-bottom: 1px solid #EAE8E5;
}

.step table {
	width:100%;
}

.step table td img {
	vertical-align:top;
}

.step table td.stepIcon {
	width:18px;
}

.step table td.statusIcon {
	text-align: right;
    width: 18px;
}

a.glue {
	
}

.sequence {
	margin: 0 0 0.5em;
    padding: 0;
	background-color: #9D8B71;
}

.sequence:last-child {
	margin-bottom:0;
}

.sequence.nested {
	border-left: .25em solid #745A34;
    margin-bottom: 0;
}

.sequence.nested.inactive .sequenceTitle a {
	background:transparent url('images/plus.png') no-repeat right center;
}

.sequence.nested.active .sequenceTitle a {
	background:transparent url('images/minus.png') no-repeat right center;
}

.sequence.nested.hide {
	display:none;
}

.sequence.nested.show {
	
}

.step.inactive {
	
}

.step.active {
	
}

.step.constraintDisable a, .step.constraintDisable a:hover {
	background-color: #BBBBBB;
    color: #777777;
}

.step.menuStepHighlight a {
	background-color:#E2E896;
}

.step.constraintHidden {
	display:none;
}*/

.currentNode a {
	/*background-color: #FFFFFF !important;
    border-color: #F47F6E;
    border-style: solid;
    border-width: 0 0 0 0.5em;
    color: #000 !important;
    padding:.25em .5em .25em 0;*/
}

/* Starmap */

#toggleView {
	position:absolute;
	top:10;
	left:10;
}

#my_menu > canvas {
	position:absolute;
	top:0;
	left:0;
}

canvas#canvas {
	background-color:rgba(255,255,255,.1);
}

svg#chart {
	position:absolute;
}

#wrap.zoom {
	/*cursor: move;*/
}

#mapBgImg {
	-webkit-transition: opacity .75s ease;
    -moz-transition: opacity .75s ease;
    -o-transition: opacity .75s ease;
    transition: opacity .75s ease;
}

#mapBgImg.zoom {
	/*opacity:0;*/
}

.item circle, .item image, .item, .seq circle, .seq image, .seq, 
.node circle, .node image, .node, .link, .target, .hull {
	-webkit-transition: all .75s ease-out;
    -moz-transition: all .75s ease-out;
    -o-transition: all .75s ease-out;
    transition: all .75s ease-out;
}

.node {
	opacity:0;
	pointer-events:none;
	/*display:none;*/
}

.node.active {
	cursor:pointer;
	pointer-events:auto;
	opacity:1;
	/*display:block;*/
}

.node circle {
	fill: #2e297c;
	fill-opacity: .7;
	stroke: #fff;
	stroke-opacity:.5;
	stroke-width:1.5;
}

.node.inactive circle.main {
	fill:#aaa;
	/*stroke:#777;*/
	opacity:.2; 
}

.node circle.detail {
	fill: #222;
	fill-opacity: 1;
	stroke: #000;
	stroke-opacity:1;
	stroke-width:1;
	opacity:0;
}

.node.active circle.detail {
	opacity:1;
}

.node image {
	/*opacity:.1;*/
}

.node.active image {
	/*opacity: 1;*/
}

.node circle.main.mouseover {
	stroke-width:2;
	stroke-opacity:.75;
	fill-opacity:.75;
}

.node.active.current circle.main {
	stroke-opacity:1;
	stroke-width:1.5;
	fill-opacity:1;
}

.node text {
	opacity:0;
	font-size: 5px;
	font-family: Arial;
	fill: #cdfaeb;
	font-weight:normal;
}

.node.active text {
	opacity:1;
}

/*.node.active:hover text {
	opacity:0;
}*/

.node.current text {
	opacity:1;
}

.info {
	display:none;
}

.info body {
	padding:.5em;
	border:1px solid #444;
	background-color:#fff;
}

.info p, .info div {
	font-size:4px;
}

/*.seq text.outline {
	stroke: #ffc000;
	fill:none;
	stroke-width:2;
}*/

.seq {
	pointer-events:auto;
}

.seq.active text {
	/*display:none;*/
	opacity: 0;
}

.seq.inactive {
	/*display:none;*/
	opacity: .1;
	pointer-events:none;
}

.seq.inactive text {
	/*display:none;*/
	opacity: 0;
}

.seq .icon {
	cursor:pointer;
}

.seq text, .node text {
	opacity:1;
	font-size:10pt;
	font-weight:200;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	fill:#cfff4a;
	stroke:none;
	stroke-width:0;
}

.seq .seqInfo, .node .nodeInfo {
	opacity:0;
	pointer-events: none;
}

.seq .title.seqInfo, .seq .titleBg.seqInfo {
}

.seq tspan.pos, .node tspan.pos {
	fill: #d1ffef;
}

.seqInfo, .nodeInfo {
	z-index: 1;
}

.item .locked {
	opacity: 0;
}

.item.constraintDisable .locked {
	opacity: 1;
}

#activityControls {
	position: absolute;
	right: 25px;
	top: 50px;
	background: transparent url('images/levelController.png') 0 0 no-repeat;
	display: none;
	width: 277px;
	height: 94px;
}

#activityControls #currentAct {
	color: #cfff4a;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 200;
	font-size: 1.1em;
	left: 12px;
    line-height: 48px;
    position: absolute;
    top: 4px;
}

#activityControls #currentAct .pos {
	color: #d1ffef;
	padding: 0 2px 0 12px;
}

#activityControls #prevAct {
	position:absolute;
	left:58px;
	top:57px;
	width:39px;
	height:25px;
	background: transparent url('images/levelController.png') 0 -105px no-repeat;
}

#activityControls #prevAct:hover {
	background-position: -70px -105px;
}

#activityControls #prevAct:active {
	background-position: -140px -105px;
}

#activityControls #prevAct.disabled, #activityControls #prevAct.disabled:hover,
#activityControls #prevAct.disabled:active {
	background-position: -210px -105px;
}

#activityControls #nextAct {
	position:absolute;
	left:221px;
	top:53px;
	width:37px;
	height:28px;
	background: transparent url('images/levelController.png') 0 -140px no-repeat;
}

#activityControls #nextAct:hover {
	background-position: -70px -140px;
}

#activityControls #nextAct:active {
	background-position: -140px -140px;
}

#activityControls #nextAct.disabled, #activityControls #nextAct.disabled:hover,
#activityControls #nextAct.disabled:active {
	background-position: -210px -140px;
}

#activityControls #reset {
	position:absolute;
	left:99px;
	top:54px;
	width:120px;
	height:34px;
	background: transparent url('images/levelController.png') 0 -178px no-repeat;
}

#activityControls #reset:hover {
	background-position: -150px -178px;
}

#activityControls #reset:active {
	background-position: 0 -217px;
}

#activityControls #reset.disabled, #activityControls #nreset.disabled:hover,
#activityControls #reset.disabled:active {
	background-position: -150px -217px;
}

path.link {
    stroke: #8a85d1;
    opacity:0;
    /*display:none;*/
    stroke-width:1.5;
}

path.link.seq {
	opacity:.6;
	/*display:block;*/
}

path.link.seq.active, path.link.seq.inactive {
	opacity:.1;
	/*display:none;*/
}

path.link.path.active {
	/*opacity:.6;
	display:block;*/
}

path.link.path.inactive {
	/*opacity:.1;*/
}

path.hull {
	fill:#fff;
	stroke:#fff;
	opacity:0;
	display:none;
}

path.hull.active {
    opacity: .1;
    display:block;
}

path.hull.inactive {
	/*stroke:#000;
	fill:#000;
	opacity:.3;*/
	opacity:0;
}

path.target {
	cursor:pointer;
	fill:#fff;
	stroke:#fff;
	opacity:0;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    display:block;
}

path.target:hover {
	opacity:.2;
}

path.target.active {
	display:none;
}

#export {
	position:absolute;
	left:50px;
	bottom:25px;
	display:none;
}

.globalTagMap-item {
	-webkit-transition: opacity .75s ease;
    -moz-transition: opacity .75s ease;
    -o-transition: opacity .75s ease;
    transition: opacity .75s ease;
    opacity:1;
}

.zoom .globalTagMap-item {
	opacity: 0;
}

#stepHeader {
	display:none; /* hide the step header - TODO: change so that arrows are hidden/removed but hint and feedback notifications show up somewhere */
}
