<html>
    <head></head>
    <body>
        <div class='openResponse' ng-controller='ConceptMapController as conceptMapController' ng-mouseup="conceptMapController.mouseUp()" flex>
            <style>
                {{conceptMapController.nodeContent.style}}
            </style>

            <div ng-if='conceptMapController.mode === "authoring" && !conceptMapController.authoringComponentContent.showPreviousWork'>
                Prompt:
                <br/>
                <textarea ng-model='conceptMapController.authoringComponentContent.prompt'
                          ng-change='conceptMapController.authoringViewComponentChanged()'
                          ng-model-options='{ debounce: 1000 }'
                          rows='10'
                          cols='100'></textarea>
                <br/>
                Show Save Button:
                <input type='checkbox'
                       ng-model='conceptMapController.authoringComponentContent.showSaveButton'
                       ng-change='conceptMapController.authoringViewComponentChanged()'/>
                <br/>
                Show Submit Button:
                <input type='checkbox'
                       ng-model='conceptMapController.authoringComponentContent.showSubmitButton'
                       ng-change='conceptMapController.authoringViewComponentChanged()'/>
                <br/>
                Max Score:
                <input type='number'
                       ng-model='conceptMapController.authoringComponentContent.maxScore'
                       ng-change='conceptMapController.authoringViewComponentChanged()'
                       ng-model-options='{ debounce: 1000 }'
                       style='width: 3em'/>
                <br/>
                Background Image: <input ng-model='conceptMapController.authoringComponentContent.background'
                                         ng-change='conceptMapController.authoringViewComponentChanged()'
                                         size='80' />
                <br/>
                Stretch Background: <input type='checkbox'
                                           ng-model='conceptMapController.authoringComponentContent.stretchBackground'
                                           ng-change='conceptMapController.authoringViewComponentChanged()' />
                <br/>
                <br/>
                Node <button ng-click='conceptMapController.authoringViewAddNode()'>Add Node</button>
                <br/>
                <div ng-repeat='node in conceptMapController.authoringComponentContent.nodes'>
                    File Name:
                    <input ng-model='node.fileName'
                           ng-change='conceptMapController.authoringViewComponentChanged()'
                           size='30'
                           ng-model-options='{ debounce: 1000 }'/>
                    Label:
                    <input ng-model='node.label'
                           ng-change='conceptMapController.authoringViewComponentChanged()'
                           size='30'
                           ng-model-options='{ debounce: 1000 }'/>
                    Width:
                    <input ng-model='node.width'
                           ng-change='conceptMapController.authoringViewComponentChanged()'
                           size='10'
                           ng-model-options='{ debounce: 1000 }'/>
                    Height:
                    <input ng-model='node.height'
                           ng-change='conceptMapController.authoringViewComponentChanged()'
                           size='10'
                           ng-model-options='{ debounce: 1000 }'/>
                    <button ng-click='conceptMapController.authoringViewNodeUpButtonClicked($index)'>Up</button>
                    <button ng-click='conceptMapController.authoringViewNodeDownButtonClicked($index)'>Down</button>
                    <button ng-click='conceptMapController.authoringViewNodeDeleteButtonClicked($index)'>Delete</button>
                </div>
                <br/>
                Links <button ng-click='conceptMapController.authoringViewAddLink()'>Add Link</button>
                <br/>
                <div ng-repeat='link in conceptMapController.authoringComponentContent.links'>
                    Label:
                    <input ng-model='link.label'
                           ng-change='conceptMapController.authoringViewComponentChanged()'
                           size='30'
                           ng-model-options='{ debounce: 1000 }'/>
                    Color:
                    <input ng-model='link.color'
                           ng-change='conceptMapController.authoringViewComponentChanged()'
                           size='30'
                           ng-model-options='{ debounce: 1000 }'/>
                    <button ng-click='conceptMapController.authoringViewLinkUpButtonClicked($index)'>Up</button>
                    <button ng-click='conceptMapController.authoringViewLinkDownButtonClicked($index)'>Down</button>
                    <button ng-click='conceptMapController.authoringViewLinkDeleteButtonClicked($index)'>Delete</button>
                </div>
                <br/>
                <button ng-click='conceptMapController.saveStarterConceptMap()'>Save Starter Concept Map</button>
                <button ng-click='conceptMapController.deleteStarterConceptMap()'>Delete Starter Concept Map</button>
                <br/>
                <br/>
                Show Auto Score: <input type='checkbox'
                                        ng-model='conceptMapController.authoringComponentContent.showAutoScore'
                                        ng-change='conceptMapController.authoringViewComponentChanged()'/>
                <br/>
                Show Auto Feedback: <input type='checkbox'
                                        ng-model='conceptMapController.authoringComponentContent.showAutoFeedback'
                                        ng-change='conceptMapController.authoringViewComponentChanged()'/>
                <br/>
                Rules <button ng-click='conceptMapController.authoringAddRule()'>Add Rule</button>
                <div ng-repeat='rule in conceptMapController.authoringComponentContent.rules'>
                    Rule Name:
                    <input ng-model='rule.name'
                           size='30'
                           ng-change='conceptMapController.authoringViewComponentChanged()'
                           ng-model-options='{ debounce: 1000 }'/>
                    <select ng-model='rule.not'
                            ng-change='conceptMapController.authoringViewComponentChanged()'
                            ng-options='option.value as option.label for option in conceptMapController.shouldOptions'>
                    </select>
                    contain
                    <select ng-model='rule.comparison'
                            ng-change='conceptMapController.authoringViewComponentChanged()'>
                        <option value='exactly'>exactly</option>
                        <option value='more than'>more than</option>
                        <option value='less than'>less than</option>
                    </select>
                    <input ng-model='rule.number'
                           size='3'
                           ng-change='conceptMapController.authoringViewComponentChanged()'/>
                    <select ng-model='rule.nodeLabel'
                            ng-change='conceptMapController.authoringViewComponentChanged()'>
                        <option></option>
                        <option value='any'>any</option>
                        <option ng-repeat='node in conceptMapController.authoringComponentContent.nodes'
                                value='{{node.label}}'>{{node.label}}</option>
                    </select>
                    with link
                    <input type='checkbox'
                           ng-model='rule.type'
                           ng-true-value="'link'"
                           ng-false-value="'node'"
                           ng-change='conceptMapController.authoringRuleLinkCheckboxClicked($index)'/>
                    <select ng-model='rule.linkLabel'
                            ng-change='conceptMapController.authoringViewComponentChanged()'
                            ng-show='rule.type == "link"'>
                        <option></option>
                        <option value='any'>any</option>
                        <option ng-repeat='link in conceptMapController.authoringComponentContent.links'
                                value='{{link.label}}'>{{link.label}}</option>
                    </select>
                    <select ng-model='rule.otherNodeLabel'
                            ng-change='conceptMapController.authoringViewComponentChanged()'
                            ng-show='rule.type == "link"'>
                        <option></option>
                        <option value='any'>any</option>
                        <option ng-repeat='node in conceptMapController.authoringComponentContent.nodes'
                                value='{{node.label}}'>{{node.label}}</option>
                    </select>
                    <button ng-click='conceptMapController.authoringViewRuleUpButtonClicked($index)'>Up</button>
                    <button ng-click='conceptMapController.authoringViewRuleDownButtonClicked($index)'>Down</button>
                    <button ng-click='conceptMapController.authoringViewRuleDeleteButtonClicked($index)'>Delete Rule</button>
                    <br/>
                    <div style='text-indent: 80px'>
                        <button ng-click='conceptMapController.authoringViewAddCategoryClicked(rule)'>Add Category (Optional)</button>
                        <span ng-repeat='category in rule.categories track by $index'>
                            <input ng-model='rule.categories[$index]'
                                   ng-change='conceptMapController.authoringViewComponentChanged()'
                                   ng-model-options='{ debounce: 1000 }'/>
                            <button ng-click='conceptMapController.authoringViewDeleteCategoryClicked(rule, $index)'>x</button>
                        </span>
                    </div>
                    <br/>
                </div>
                <br/>
                Custom Rule Evaluator
                <br/>
                <textarea ng-model='conceptMapController.authoringComponentContent.customRuleEvaluator'
                          ng-change='conceptMapController.authoringViewComponentChanged()'
                          rows='10'
                          cols='200'
                          ng-model-options='{ debounce: 1000 }'></textarea>
            </div>
            <div ng-if='conceptMapController.mode === "authoring"'>
                Import Previous Work:
                <input type='checkbox'
                       ng-model='conceptMapController.authoringComponentContent.importPreviousWork'
                       ng-click='conceptMapController.authoringImportPreviousWorkClicked()'
                       ng-change='conceptMapController.authoringViewComponentChanged()'/>
            </div>
            <div ng-if='conceptMapController.mode === "authoring" && conceptMapController.authoringComponentContent.importPreviousWork'>
                Import Previous Work Step:
                <select ng-model='conceptMapController.authoringComponentContent.importPreviousWorkNodeId'
                        ng-change='conceptMapController.authoringImportPreviousWorkNodeIdChanged()'>
                    <option></option>
                    <option ng-repeat='item in conceptMapController.idToOrder | toArray | orderBy : "order"'
                            value='{{item.$key}}'
                            ng-if='conceptMapController.isApplicationNode(item.$key)'>{{conceptMapController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
                </select>
                <br/>
                Import Previous Work Component:
                <select ng-model='conceptMapController.authoringComponentContent.importPreviousWorkComponentId'
                        ng-change='conceptMapController.authoringImportPreviousWorkComponentIdChanged()'
                        ng-options='component.id as component.type disable when !conceptMapController.componentHasWork(component) for component in conceptMapController.getComponentsByNodeId(conceptMapController.authoringComponentContent.importPreviousWorkNodeId)'>
                    <option></option>
                </select>
            </div>
            <div ng-if='conceptMapController.mode === "authoring"'>
                Show Previous Work:
                <input type='checkbox'
                       ng-model='conceptMapController.authoringComponentContent.showPreviousWork'
                       ng-click='conceptMapController.authoringShowPreviousWorkClicked()'
                       ng-change='conceptMapController.authoringViewComponentChanged()'/>
            </div>
            <div ng-if='conceptMapController.mode === "authoring" && conceptMapController.authoringComponentContent.showPreviousWork'>
                Show Previous Work Step:
                <select ng-model='conceptMapController.authoringComponentContent.showPreviousWorkNodeId'
                        ng-change='conceptMapController.authoringShowPreviousWorkNodeIdChanged()'>
                    <option></option>
                    <option ng-repeat='item in conceptMapController.idToOrder | toArray | orderBy : "order"'
                            value='{{item.$key}}'
                            ng-if='conceptMapController.isApplicationNode(item.$key)'>{{conceptMapController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
                </select>
                <br/>
                Show Previous Work Component:
                <select ng-model='conceptMapController.authoringComponentContent.showPreviousWorkComponentId'
                        ng-change='conceptMapController.authoringShowPreviousWorkComponentIdChanged()'
                        ng-options='component.id as component.type disable when !conceptMapController.componentHasWork(component) for component in conceptMapController.getComponentsByNodeId(conceptMapController.authoringComponentContent.showPreviousWorkNodeId)'>
                    <option></option>
                </select>
                <br/>
                Show Previous Work Prompt:
                <input type='checkbox'
                       ng-model='conceptMapController.authoringComponentContent.showPreviousWorkPrompt'
                       ng-change='conceptMapController.authoringViewComponentChanged()'/>
            </div>
            <div ng-if='conceptMapController.mode === "authoring"'>
                <textarea ng-model='conceptMapController.authoringComponentContentJSONString'
                          ng-change='conceptMapController.advancedAuthoringViewComponentChanged()'
                          ng-model-options="{ updateOn: 'blur' }"
                          rows='10'
                          cols='200'></textarea>
            </div>
            <md-input-container class="input-container md-block input-container--open-response input-container--component md-no-float">
                <label class="input-label md-no-float" ng-disabled="conceptMapController.isDisabled"
                       ng-if="conceptMapController.showPrompt()"><compile data="conceptMapController.getPrompt()"></compile></label>
                <possible-score max-score="conceptMapController.componentContent.maxScore"
                                ng-if="conceptMapController.mode === 'student' && !conceptMapController.latestAnnotations.score"></possible-score>
                <div class="input-wrapper" ng-class="{'input-wrapper--richtext': conceptMapController.isRichTextEnabled}">
                    <textarea ng-if="conceptMapController.isRichTextEnabled && !conceptMapController.isDisabled"
                              ui-tinymce="conceptMapController.tinymceOptions"
                              ng-model="conceptMapController.studentResponse"
                              ng-model-options='{ debounce: 100 }'
                              ng-change="conceptMapController.studentDataChanged()"></textarea>
                    <div ng-if="conceptMapController.isRichTextEnabled && conceptMapController.isDisabled"
                         class="input--textarea input--textarea--disabled">
                    </div>
                    <button ng-click="conceptMapController.resetConceptMap()">Reset</button>
                    <button ng-click="conceptMapController.checkAnswer()">Check Answer</button>
                    <button ng-click="conceptMapController.showAutoFeedback()"
                            ng-show="conceptMapController.autoFeedbackString != null && conceptMapController.autoFeedbackString != ''">
                            Show Feedback
                    </button>
                    <div id="conceptMapContainer" style="display: flex">
                        <div id="selectNodeBar" style="flex: 10; border: 1px solid black">
                            <div ng-repeat="availableNode in conceptMapController.availableNodes"
                                 style="text-align: center; border: 1px solid black">
                                <img ng-src="{{availableNode.fileName}}"
                                    style="cursor: pointer"
                                    ng-mousedown="conceptMapController.selectNode($event, availableNode)"
                                    width="{{availableNode.width}}"
                                    height="{{availableNode.height}}"/>
                                <br/>
                                <span>{{availableNode.name}}</span>
                            </div>
                        </div>
                        <div id="svgDiv" style="flex: 90">
                            <svg id="svg1"
                                 width="800"
                                 height="600"
                                 ng-style="{'background-image': conceptMapController.componentContent.background != null ? 'url(' + conceptMapController.componentContent.background + ')' : '',
                                 'background-size': conceptMapController.backgroundSize,
                                 'background-repeat': 'no-repeat',
                                 'border': '1px solid black',
                                 '-moz-user-select': 'none',
                                 '-webkit-user-select': 'none',
                                 '-ms-user-select':'none',
                                 'user-select':'none',
                                 '-o-user-select':'none'}">
                            </svg>
                        </div>
                        <div id="linkTypeChooserModalOverlay"
                            ng-show="conceptMapController.displayLinkTypeChooserModalOverlay"
                            ng-style="conceptMapController.linkTypeChooserModalOverlayStyle">
                        </div>
                        <draggable id="linkTypeChooser" container-width="conceptMapController.modalWidth" container-height="conceptMapController.modalHeight" ng-show="conceptMapController.displayLinkTypeChooser" class="ng-modal" ng-style="conceptMapController.linkTypeChooserStyle">
                            <div style="display: inline-block;"><span>{{conceptMapController.getLinksTitle()}}</span></div>
                            <md-radio-group ng-model="conceptMapController.selectedLinkType"
                                            ng-change="conceptMapController.studentDataChanged()">
                                <div ng-repeat="link in conceptMapController.availableLinks">
                                    <md-radio-button class="md-primary"
                                                     ng-value="link.id"
                                                     ng-click="conceptMapController.isDisabled || conceptMapController.linkTypeSelected(link)"
                                                     ng-disabled="conceptMapController.isDisabled"
                                                     style="display: inline-block; margin: 8px;">
                                        <div style="background-color: {{link.color}}; width: 30px; height: 15px; display: inline-block; margin-right: 4px"></div><span><compile data="link.label"></compile></span>
                                    </md-radio-button>
                                </div>
                            </md-radio-group>
                            <div style="display: flex">
                                <div style="margin-right: auto;"><md-button class="md-primary md-button md-raised" ng-click="conceptMapController.cancelLinkTypeChooser()">Cancel</md-button></div>
                                <div style="display: flex; margin-right: 16px;">
                                    <md-tooltip md-direction="left"
                                                style="z-index: 10001;">
                                        Drag Me
                                    </md-tooltip>
                                    <md-icon style="transform: rotate(45deg)"
                                            ng-click="conceptMapController.dragIconClicked()">
                                        zoom_out_map
                                    </md-icon>
                                </div>
                            </div>
                        </draggable>
                    </div>
                    <div id="feedbackDiv"></div>
                    <md-button class="input--textarea__action input--textarea__action--revision md-icon-button"
                               ng-click='nodeController.showRevisions($event, component.id, conceptMapController.isDisabled)'
                               ng-if="nodeController.getRevisions(component.id).length > 1">
                        <md-icon> history </md-icon>
                        <md-tooltip md-direction="left">{{nodeController.getRevisions(component.id).length}} Versions</md-tooltip>
                    </md-button>
                </div>
            </md-input-container>
            <div class="component__actions" ng-show="conceptMapController.isStudentAttachmentEnabled" layout="row" layout-wrap="true">
                <div class="component__add-attachment">
                    <md-button class="md-accent"
                               ng-click="nodeController.showStudentAssets($event, component.id, conceptMapController.isDisabled)">
                        <md-icon>image</md-icon> <span>Add File</span>
                    </md-button>
                </div>
                <div class="component__attachment" ng-repeat="attachment in conceptMapController.attachments">
                    <img ng-src="{{attachment.iconURL}}" class="component__attachment__content" />
                    <md-button ng-show="!conceptMapController.isDisabled" class="component__attachment__delete" ng-click='conceptMapController.removeAttachment(attachment)' title="Remove file"><md-icon>cancel</md-icon></md-button>
                </div>
            </div>
            <div ng-if="conceptMapController.showSaveButton() || conceptMapController.showSubmitButton()"
                 class="component__actions" layout="row" layout-align="start center">
                <md-button class="md-primary md-raised"
                           ng-click="conceptMapController.saveButtonClicked()"
                           ng-disabled="conceptMapController.isDisabled || !conceptMapController.isDirty"
                           ng-if="conceptMapController.showSaveButton()"
                           aria-label="Save"
                           translate="save"></md-button>
                <md-button class="md-raised md-primary"
                           ng-click="conceptMapController.submitButtonClicked()"
                           ng-disabled="conceptMapController.isDisabled || !conceptMapController.isSubmitDirty"
                           ng-if="conceptMapController.showSubmitButton()"
                           aria-label="Submit"
                           translate="submit"></md-button>

                <span ng-show="conceptMapController.saveMessage.text"
                      class="component__actions__info md-caption">
                      {{conceptMapController.saveMessage.text}} <span class="component__actions__more"><md-tooltip md-direction="top">{{ conceptMapController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}</md-tooltip><span am-time-ago="conceptMapController.saveMessage.time"></span></span>
                </span>
            </div>
            <component-annotations ng-if="conceptMapController.mode === 'student'"
                                   annotations='conceptMapController.latestAnnotations'
                                   max-score="conceptMapController.componentContent.maxScore"></component-annotations>
            <div ng-if='conceptMapController.mode === "grading"'>
                <annotation ng-if='conceptMapController.componentContent.maxScore > -1'
                            type='score'
                            mode='conceptMapController.mode'
                            node-id='conceptMapController.nodeId'
                            component-id='conceptMapController.componentId'
                            from-workgroup-id='teacherWorkgroupId'
                            to-workgroup-id='workgroupId'
                            component-state-id='componentState.id'
                            active='true'></annotation>
                <br ng-if='conceptMapController.componentContent.maxScore > -1'/>
                <annotation type='comment'
                            mode='conceptMapController.mode'
                            node-id='conceptMapController.nodeId'
                            component-id='conceptMapController.componentId'
                            from-workgroup-id='teacherWorkgroupId'
                            to-workgroup-id='workgroupId'
                            component-state-id='componentState.id'
                            active='true'></annotation>
            </div>
        </div>
    </body>
</html>
