<html>
    <head></head>
    <body>
        <div class='openResponse' ng-controller='ConceptMapController as conceptMapController' ng-mouseup="conceptMapController.mouseUp()" flex>
            <style>
                {{conceptMapController.nodeContent.style}}
            </style>

            <div ng-if='conceptMapController.mode === "authoring"'>
                Prompt:
                <br/>
                <textarea ng-model='conceptMapController.authoringComponentContent.prompt'
                          ng-change='conceptMapController.authoringViewComponentChanged()'
                          ng-model-options='{ debounce: 1000 }'
                          rows='10'
                          cols='100'></textarea>
                <br/>
                Max Score:
                <input type='number'
                       ng-model='conceptMapController.authoringComponentContent.maxScore'
                       ng-change='conceptMapController.authoringViewComponentChanged()'
                       ng-model-options='{ debounce: 1000 }'
                       style='width: 3em'/>
                <br/>
                Show Previous Work Step:
                <select ng-model='conceptMapController.authoringComponentContent.showPreviousWorkNodeId'
                        ng-change='conceptMapController.authoringShowPreviousWorkNodeIdChanged()'>
                    <option></option>
                    <option ng-repeat='item in conceptMapController.idToOrder | toArray | orderBy : "order"' 
                            value='{{item.$key}}'
                            ng-if='conceptMapController.isApplicationNode(item.$key)'>{{conceptMapController.getNodePositionAndTitleByNodeId(item.$key)}}</option>
                </select>
                <br/>
                Show Previous Work Component:
                <select ng-model='conceptMapController.authoringComponentContent.showPreviousWorkComponentId'
                        ng-change='conceptMapController.authoringViewComponentChanged()'>
                    <option></option>
                    <option ng-repeat='component in conceptMapController.getComponentsByNodeId(conceptMapController.authoringComponentContent.showPreviousWorkNodeId)' value='{{component.id}}'>{{component.type}}</option>
                </select>
                <br/>
                Show Previous Work Prompt:
                <input type='checkbox'
                       ng-model='conceptMapController.authoringComponentContent.showPreviousWorkPrompt'
                       ng-change='conceptMapController.authoringViewComponentChanged()'/>
                <br/>
                <textarea ng-model='conceptMapController.authoringComponentContentJSONString'
                          ng-change='conceptMapController.advancedAuthoringViewComponentChanged()'
                          ng-model-options='{ debounce: 1000 }'
                          rows='10'
                          cols='100'></textarea>
            </div>
            <md-input-container class="input-container md-block input-container--open-response input-container--component md-no-float">
                <label class="input-label md-no-float" ng-disabled="conceptMapController.isDisabled"
                       compile="conceptMapController.getPrompt()" ng-if="conceptMapController.showPrompt()"></label>
                <possible-score max-score="conceptMapController.componentContent.maxScore"
                                ng-if="conceptMapController.mode === 'student' && !conceptMapController.latestAnnotations.score"></possible-score>
                <div class="input-wrapper" ng-class="{'input-wrapper--richtext': conceptMapController.isRichTextEnabled}">
                    <textarea ng-if="conceptMapController.isRichTextEnabled && !conceptMapController.isDisabled"
                              ui-tinymce="conceptMapController.tinymceOptions"
                              ng-model="conceptMapController.studentResponse"
                              ng-model-options='{ debounce: 100 }'
                              ng-change="conceptMapController.studentDataChanged()"></textarea>
                    <div ng-if="conceptMapController.isRichTextEnabled && conceptMapController.isDisabled"
                         class="input--textarea input--textarea--disabled">
                    </div>
                    <div style="display: flex">
                        <div id="selectNodeBar" style="flex: 10; border: 1px solid black">
                            <div ng-repeat="availableNode in conceptMapController.availableNodes" 
                                 style="text-align: center; border: 1px solid black">
                                <img src="{{availableNode.fileName}}" 
                                    style="cursor: pointer" 
                                    ng-mousedown="conceptMapController.selectNode($event, availableNode)"
                                    width="{{availableNode.width}}"
                                    height="{{availableNode.height}}"/>
                                <br/>
                                <span>{{availableNode.name}}</span>
                            </div>
                        </div>
                        <div id="svgDiv" style="flex: 90">
                            <svg id="svg1" 
                                 width="800" 
                                 height="600" 
                                 style="border: 1px solid black; -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;">
                            </svg>
                        </div>
                    </div>
                    <div id="linkTypeChooserModalOverlay" 
                        ng-show="conceptMapController.displayLinkTypeChooserModalOverlay"
                        ng-style="conceptMapController.linkTypeChooserModalOverlayStyle"></div>
                    <div id="linkTypeChooser" draggable container-width="conceptMapController.modalWidth" container-height="conceptMapController.modalHeight" ng-show="conceptMapController.displayLinkTypeChooser" class="ng-modal" ng-style="conceptMapController.linkTypeChooserStyle">
                        <div style="display: inline-block;"><span>{{conceptMapController.getLinksTitle()}}</span></div>
                        <md-radio-group ng-model="conceptMapController.selectedLinkType"
                                        ng-change="conceptMapController.studentDataChanged()">
                            <div ng-repeat="link in conceptMapController.availableLinks">
                                <md-radio-button class="md-primary"
                                                 ng-value="link.id"
                                                 ng-click="conceptMapController.isDisabled || conceptMapController.linkTypeSelected(link)"
                                                 ng-disabled="conceptMapController.isDisabled"
                                                 style="display: inline-block; margin: 8px;">
                                    <div style="background-color: {{link.color}}; width: 30px; height: 15px; display: inline-block; margin-right: 4px"></div><span compile="link.label"></span>
                                </md-radio-button>
                            </div>
                        </md-radio-group>
                        <div style="display: flex">
                            <div style="margin-right: auto;"><md-button class="md-primary md-button md-raised" ng-click="conceptMapController.cancelLinkTypeChooser()">Cancel</md-button></div>
                            <div style="display: flex; margin-right: 16px;">
                                <md-tooltip md-direction="left" 
                                            style="z-index: 10001;">
                                    Drag Me
                                </md-tooltip>
                                <md-icon style="transform: rotate(45deg)" 
                                        ng-click="conceptMapController.dragIconClicked()">
                                    zoom_out_map
                                </md-icon>
                            </div>
                        </div>
                    </div>
                    <md-button class="input--textarea__action input--textarea__action--revision md-icon-button"
                               ng-click='nodeController.showRevisions($event, component.id, conceptMapController.isDisabled)'
                               ng-if="nodeController.getRevisions(component.id).length > 1">
                        <md-icon> history </md-icon>
                        <md-tooltip md-direction="left">{{nodeController.getRevisions(component.id).length}} Versions</md-tooltip>
                    </md-button>
                </div>
                <component-annotations ng-if="conceptMapController.mode === 'student'"
                                       score-annotation='conceptMapController.latestAnnotations.score'
                                       comment-annotation='conceptMapController.latestAnnotations.comment'
                                       max-score="conceptMapController.componentContent.maxScore"></component-annotations>
            </md-input-container>
            <div class="component__actions" ng-show="conceptMapController.isStudentAttachmentEnabled" layout="row" layout-wrap="true">
                <div class="component__add-attachment">
                    <md-button class="md-accent"
                               ng-click="nodeController.showStudentAssets($event, component.id, conceptMapController.isDisabled)">
                        <md-icon>image</md-icon> <span>Add File</span>
                    </md-button>
                </div>
                <div class="component__attachment" ng-repeat="attachment in conceptMapController.attachments">
                    <img ng-src="{{attachment.iconURL}}" class="component__attachment__content" />
                    <md-button ng-show="!conceptMapController.isDisabled" class="component__attachment__delete" ng-click='conceptMapController.removeAttachment(attachment)' title="Remove file"><md-icon>cancel</md-icon></md-button>
                </div>
            </div>
            <div ng-if="conceptMapController.showSaveButton() || conceptMapController.showSubmitButton()"
                 class="component__actions" layout="row" layout-align="start center">
                <md-button class="md-raised md-primary"
                           ng-click="conceptMapController.submitButtonClicked()"
                           ng-disabled="conceptMapController.isDisabled || !conceptMapController.isSubmitDirty"
                           ng-if="conceptMapController.showSubmitButton()"
                           aria-label="Submit"
                           translate="submit"></md-button>
                <md-button class="md-primary md-raised"
                           ng-click="conceptMapController.saveButtonClicked()"
                           ng-disabled="conceptMapController.isDisabled || !conceptMapController.isDirty"
                           ng-if="conceptMapController.showSaveButton()"
                           aria-label="Save"
                           translate="save"></md-button>
                <span ng-show="conceptMapController.saveMessage.text"
                      class="component__actions__info md-caption">
                      {{conceptMapController.saveMessage.text}} <span class="component__actions__more"><md-tooltip md-direction="top">{{ conceptMapController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}</md-tooltip><span am-time-ago="conceptMapController.saveMessage.time"></span></span>
                </span>
            </div>
            <div ng-if='conceptMapController.mode === "grading"'>
                <annotation ng-if='conceptMapController.componentContent.maxScore > -1'
                            type='score'
                            mode='conceptMapController.mode'
                            node-id='conceptMapController.nodeId'
                            component-id='conceptMapController.componentId'
                            from-workgroup-id='teacherWorkgroupId'
                            to-workgroup-id='workgroupId'
                            component-state-id='componentState.id'
                            active='true'></annotation>
                <br ng-if='conceptMapController.componentContent.maxScore > -1'/>
                <annotation type='comment'
                            mode='conceptMapController.mode'
                            node-id='conceptMapController.nodeId'
                            component-id='conceptMapController.componentId'
                            from-workgroup-id='teacherWorkgroupId'
                            to-workgroup-id='workgroupId'
                            component-state-id='componentState.id'
                            active='true'></annotation>
            </div>
        </div>
    </body>
</html>
