<div ng-controller='ConceptMapController as conceptMapController' ng-mouseup='conceptMapController.mouseUp()' flex>
  <style>
    {{::conceptMapController.nodeContent.style}}
  </style>
  <div ng-switch='::conceptMapController.mode'>
    <div ng-switch-when='grading|gradingRevision'
         ng-switch-when-separator='|'
         layout='row'
         layout-wrap>
      <div flex='100'
           flex-gt-sm='66'
           layout='column'
           class='component--grading__response'>
        <div class='component--grading__response__content'>
          <svg id='{{conceptMapController.svgId}}'
               ng-if='conceptMapController.$scope.componentState'
               ng-disabled='conceptMapController.isDisabled'
               width='800'
               height='600'
               ng-style='{"background-image": conceptMapController.background != null ? "url(" + conceptMapController.background + ")" : "",
                "background-size": conceptMapController.backgroundSize,
                "background-repeat": "no-repeat",
                "border": "1px solid black",
                "-moz-user-select": "none",
                "-webkit-user-select": "none",
                "-ms-user-select":"none",
                "user-select":"none",
                "-o-user-select":"none"}'>
          </svg>
        </div>
        <span flex></span>
        <component-revisions-info node-id='conceptMapController.nodeId'
                                  component-id='conceptMapController.componentId'
                                  to-workgroup-id='workgroupId'
                                  component-state='componentState'
                                  active='::conceptMapController.mode === "grading"'>
        </component-revisions-info>
      </div>
      <div flex='100'
           flex-gt-sm='33'
           class='component--grading__annotations'>
        <component-grading node-id='conceptMapController.nodeId'
                           component-id='conceptMapController.componentId'
                           max-score='conceptMapController.componentContent.maxScore'
                           from-workgroup-id='teacherWorkgroupId'
                           to-workgroup-id='workgroupId'
                           component-state-id='componentState.id'
                           show-all-annotations='::conceptMapController.mode !== "grading"'
                           is-disabled='::conceptMapController.mode !== "grading"'>
        </component-grading>
      </div>
    </div>
    <div ng-switch-default>
      <md-input-container class='input-container md-block input-container--open-response input-container--component md-no-float'>
        <label class='input-label md-no-float'
               ng-disabled='conceptMapController.isDisabled'
               ng-if='conceptMapController.isPromptVisible'>
          <compile data='conceptMapController.getPrompt()'></compile>
        </label>
        <possible-score [max-score]='conceptMapController.componentContent.maxScore'></possible-score>
        <div class='input-wrapper'>
          <md-button class='md-raised md-primary'
                     ng-if='::conceptMapController.mode !== "grading"'
                     ng-click='conceptMapController.resetConceptMap()'
                     ng-disabled='conceptMapController.isDisabled'>
            {{ ::'RESET' | translate }}
          </md-button>
          <md-button class='md-accent'
                     ng-click='conceptMapController.snip($event)'
                     ng-if='::conceptMapController.isAddToNotebookEnabled()'>
            <md-icon> note_add </md-icon>  {{ ::'ADD_TO_NOTEBOOK' | translate:{label:tableController.notebookConfig.label} }}
          </md-button>
          <div id='{{conceptMapController.conceptMapContainerId}}'
               style='display: flex'>
            <div id='{{conceptMapController.selectNodeBarId}}'
                 style='flex: 10; border: 1px solid black'>
              <div ng-repeat='availableNode in conceptMapController.availableNodes'
                   style='text-align: center; border: 1px solid black'>
                <img ng-src='{{availableNode.fileName}}'
                     style='cursor: pointer'
                     ng-mousedown='conceptMapController.selectNode($event, availableNode)'
                     width='{{availableNode.width}}'
                     height='{{availableNode.height}}'/>
                <br/>
                <span>{{availableNode.name}}</span>
              </div>
            </div>
            <div style='flex: 90'>
              <svg id='{{conceptMapController.svgId}}'
                   width='800'
                   height='600'
                   ng-style='{"background-image": conceptMapController.background != null ? "url(" + conceptMapController.background + ")" : "",
                    "background-size": conceptMapController.backgroundSize,
                    "background-repeat": "no-repeat",
                    "border": "1px solid black",
                    "-moz-user-select": "none",
                    "-webkit-user-select": "none",
                    "-ms-user-select":"none",
                    "user-select":"none",
                    "-o-user-select":"none"}'>
              </svg>
            </div>
            <div ng-if='conceptMapController.displayLinkTypeChooserModalOverlay'
                 ng-style='conceptMapController.linkTypeChooserModalOverlayStyle'>
            </div>
            <div container-width='conceptMapController.modalWidth'
                 container-height='conceptMapController.modalHeight'
                 ng-if='conceptMapController.displayLinkTypeChooser'
                 class='ng-modal'
                 ng-style='conceptMapController.linkTypeChooserStyle'>
              <div style='display: inline-block;'>
                <span>{{conceptMapController.getLinksTitle()}}</span>
              </div>
              <md-radio-group ng-model='conceptMapController.selectedLinkType'
                              ng-change='conceptMapController.studentDataChanged()'
                              ng-disabled='conceptMapController.isDisabled'>
                <div ng-repeat='link in conceptMapController.availableLinks'>
                  <md-radio-button class='md-primary'
                                   aria-label='::link.label'
                                   ng-value='::link.id'
                                   ng-click='conceptMapController.isDisabled || conceptMapController.linkTypeSelected(link)'
                                   ng-disabled='conceptMapController.isDisabled'
                                   style='display: inline-block; margin: 8px;'>
                    <div style='background-color: {{link.color}}; width: 30px; height: 15px; display: inline-block; margin-right: 4px'></div>
                    <span>
                        <compile data='link.label'></compile>
                      </span>
                  </md-radio-button>
                </div>
              </md-radio-group>
              <div style='display: flex'>
                <div style='margin-right: auto;'><md-button class='md-primary md-button md-raised' ng-click='conceptMapController.cancelLinkTypeChooser()'>{{ ::'CANCEL' | translate }}</md-button></div>
                <div style='margin-right: auto;'><md-button class='md-primary md-button md-raised' ng-click='conceptMapController.linkDeleteButtonClicked($event, conceptMapController.highlightedElement)'>{{ ::'DELETE' | translate }}</md-button></div>
              </div>
            </div>
          </div>
          <div id='{{conceptMapController.feedbackContainerId}}'></div>
        </div>
      </md-input-container>
    </div>
  </div>
  <div class='component__actions'
       ng-if='conceptMapController.isStudentAttachmentEnabled'
       layout='row'
       layout-wrap='true'>
    <div class='component__add-attachment'>
      <md-button class='md-accent'
                 ng-click='nodeController.showStudentAssets($event, component.id, conceptMapController.isDisabled)'
                 ng-disabled='conceptMapController.isDisabled'>
        <md-icon>image</md-icon>
        <span>{{ ::'conceptMap.addFile' | translate }}</span>
      </md-button>
    </div>
    <div class='component__attachment'
         ng-repeat='attachment in conceptMapController.attachments'>
      <img ng-src='{{attachment.iconURL}}'
           class='component__attachment__content' />
      <md-button ng-if='!conceptMapController.isDisabled'
                 class='component__attachment__delete'
                 ng-click='conceptMapController.removeAttachment(attachment)'
                 title='Remove file'
                 ng-disabled='conceptMapController.isDisabled'>
        <md-icon>cancel</md-icon>
      </md-button>
    </div>
  </div>
  <div ng-if='::conceptMapController.isSaveOrSubmitButtonVisible()'
       class='component__actions'
       layout='row'
       layout-align='start center'>
    <md-button class='md-primary md-raised'
               ng-class='{"md-raised": !conceptMapController.isSubmitButtonVisible}'
               ng-click='conceptMapController.saveButtonClicked()'
               ng-disabled='conceptMapController.isDisabled || !conceptMapController.isDirty'
               ng-if='::conceptMapController.isSaveButtonVisible'
               aria-label='Save'
               translate='SAVE'>
    </md-button>
    <md-button class='md-raised md-primary'
               ng-click='conceptMapController.submitButtonClicked()'
               ng-disabled='conceptMapController.isSubmitButtonDisabled || conceptMapController.isDisabled || !conceptMapController.isSubmitDirty'
               ng-if='::conceptMapController.isSubmitButtonVisible'
               aria-label='Submit'
               translate='SUBMIT'>
    </md-button>
    <span ng-if='conceptMapController.saveMessage.text'
          class='component__actions__info md-caption'>
        {{conceptMapController.saveMessage.text}}
        <span class='component__actions__more'>
          <md-tooltip md-direction='top'>
            {{ conceptMapController.saveMessage.time | amDateFormat:'ddd, MMM D YYYY, h:mm a' }}
          </md-tooltip>
          <span am-time-ago='conceptMapController.saveMessage.time'></span>
        </span>
      </span>
  </div>
  <component-annotations ng-if='::conceptMapController.mode === "student"'
                         [annotations]='conceptMapController.latestAnnotations'
                         [max-score]='conceptMapController.componentContent.maxScore'>
  </component-annotations>
</div>
