<div class="notice" *ngIf="!runs.length && loaded">
  <p i18n>Hey there! Looks like you haven't run any WISE units in your classes yet.</p>
  <p i18n>Select "Browse Units" to find titles to use with your students.</p>
</div>
<div class="content-block" *ngIf="runs.length">
  <div class="content-block__header controls dark-theme primary-bg"
       fxLayout="row"
       fxLayout.xs="column"
       fxLayoutGap.sm="16px">
    <app-search-bar fxFlex="0 0 auto"
                    fxFlex.xs="0 0 100%"
                    fxFlex.sm="0 0 calc(50%-8px)"
                    [placeholderText]="'Search'"
                    [value]="searchValue"
                    (update)="searchChanged($event)"></app-search-bar>
    <span fxFlex="1 1 auto" fxHide fxShow.gt-sm></span>
    <app-select-menu fxFlex="0 0 auto"
                     fxFlex.sm="0 0 calc(50%-8px)"
                     [options]="filterOptions"
                     [placeholderText]="'Filter By Period'"
                     [value]="filterValue"
                     (update)="filterChanged($event)"
                     [valueProp]="'value'"
                     [viewValueProp]="'label'">
    </app-select-menu>
  </div>
  <div *ngIf="loaded" class="notice">
    <p>
      <ng-container *ngIf="searchValue || filterValue" i18n>Units found: {{ filteredRuns.length }}</ng-container>
      <ng-container *ngIf="!searchValue && !filterValue" i18n>Total classroom units: {{ filteredRuns.length }}</ng-container>
      <span class="mat-caption" *ngIf="filteredRuns.length">
        (<ng-container *ngIf="scheduledTotal()"><span i18n>{{ scheduledTotal() }} scheduled</span>, </ng-container>
        <ng-container><span i18n>{{ activeTotal() }} active</span></ng-container>)
      </span>
      <ng-container *ngIf="searchValue || filterValue">
        | <a [routerLink]="" (click)="reset()" i18n>Reset</a>
      </ng-container>
    </p>
  </div>

  <app-timeline>
    <ng-container *ngFor="let run of filteredRuns.sort(sortByStartTimeDesc); let i=index">
      <app-timeline-item [active]="isRunActive(run)" *ngIf="i < 10 || showAll" id="run{{run.id}}">
        <app-timeline-item-label>
          <ng-container *ngIf="run.endTime">
            <ng-container *ngIf="runSpansYears(run)">
              <span><strong>{{ run.startTime | amDateFormat:'MMM D' }}</strong></span>
              <span class="secondary-text"> {{ run.startTime | amDateFormat:'Y' }}</span> -
              <span><strong> {{ run.endTime | amDateFormat:'MMM D' }}</strong></span>
              <span class="secondary-text"> {{ run.endTime | amDateFormat:'Y' }}</span>
            </ng-container>
            <ng-container *ngIf="!runSpansYears(run)">
              <span><strong>{{ run.startTime | amDateFormat:'MMM D' }}</strong></span>
              <ng-container *ngIf="runSpansDays(run)"> -
                <strong *ngIf="runSpansMonths(run)">{{ run.endTime | amDateFormat:'MMM D' }}</strong>
                <strong *ngIf="!runSpansMonths(run)">{{ run.endTime | amDateFormat:'D' }}</strong>
              </ng-container>
              <span class="secondary-text"> {{ run.endTime | amDateFormat:'Y' }}</span>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!run.endTime">
            <span><strong>{{ run.startTime | amDateFormat:'MMM D' }}</strong></span>
            <span class="secondary-text"> {{ run.startTime | amDateFormat:'Y' }}</span>
          </ng-container>
        </app-timeline-item-label>
        <app-timeline-item-content>
          <app-teacher-run-list-item [run]="run"></app-teacher-run-list-item>
        </app-timeline-item-content>
      </app-timeline-item>
    </ng-container>
  </app-timeline>

  <div class="content-block__actions"
       *ngIf="filteredRuns.length > 10 && !showAll" >
    <a mat-raised-button color="accent" (click)="showAll = true" i18n>Show More</a>
  </div>
</div>
