<div class="content-block">
  <div fxLayout="row" fxLayout.xs="column" *ngIf="runs.length">
    <app-search-bar fxFlex="0 0 auto" fxFlex.xs="0 0 100%" [placeholderText]="'Search'"
                    (update)="searchChanged($event)"></app-search-bar>
    <span fxFlex="1 1 auto" fxHide fxShow.gt-xs></span>
    <app-select-menu fxFlex="0 1 auto" fxFlex.xs="100%" [options]="filterOptions" [placeholderText]="'Filter by'"
                     [value]="filterValue" (update)="filterChanged($event)"></app-select-menu>
  </div>
  <div *ngIf="searchValue && loaded" class="notice">
    <p>Runs found: {{ filteredRuns.length }}</p>
  </div>
  <div class="notice" *ngIf="!runs.length && loaded">
    <p>Hey there! Looks like you don't have any runs or classroom runs yet.</p>
    <p>Check out the WISE <b>Library Projects</b> to find units to use with your students.</p>
  </div>

  <div id="teacherRuns" *ngFor="let run of filteredRuns; let i=index">
    <app-teacher-run-list-item [run]="run" *ngIf="i < 10 || showAll"></app-teacher-run-list-item>
  </div>

  <div class="content-block__actions" *ngIf="filteredRuns.length > 10 && !showAll" >
    <a mat-raised-button color="primary" (click)="showAll = true">Show All</a>
  </div>
</div>
