<div ng-controller='NodeController as nodeController'>
<input type='button' value='X' ng-click='nodeController.closeNode()'></input>
<input type='button' value='+Portfolio' ng-click='nodeController.addNodeVisitItemToPortfolio()'></input>
<div compile='nodeController.getPrompt()'></div>
<div ng-repeat='part in nodeController.getParts()' 
    ng-include='nodeController.getPartTypeHTML(part.partType)' 
    ng-init='partStudentData = nodeController.getPartStudentData(part)'></div>
<button id='saveButton' 
    ng-click='nodeController.saveButtonClicked()' 
    ng-disabled='nodeController.isDisabled' 
    ng-show='nodeController.showSaveButton()'>Save</button>
<button id='submitButton' 
    ng-click='nodeController.submitButtonClicked()' 
    ng-disabled='nodeController.isDisabled' 
    ng-show='nodeController.showSubmitButton()'>Submit</button>
</div>