<link rel="stylesheet" href="/wise5/themes/default/style/angular-material.css">
<link rel="stylesheet" href="/wise5/themes/default/style/monitor.css">
<div class="app-styles" disable-delete-keypress
     ng-mousemove='classroomMonitorController.mouseMoved()'
     role="main" layout="column" layout-fill style="position: absolute;" md-theme="cm">
    <cm-top-bar logo-path="{{ ::classroomMonitorController.logoPath }}"
             notifications="classroomMonitorController.notifications"
             project-id="classroomMonitorController.projectId"
             project-title="classroomMonitorController.projectTitle"
             run-id="classroomMonitorController.runId"
             run-code="classroomMonitorController.runCode"></cm-top-bar>
    <cm-toolbar ng-if="classroomMonitorController.showToolbar"
             number-project="classroomMonitorController.numberProject"
             show-period-select="classroomMonitorController.showPeriodSelect"
             show-step-tools="classroomMonitorController.showGradeByStepTools"
             show-team-tools="classroomMonitorController.showGradeByTeamTools"
             view-name="classroomMonitorController.currentViewName"
             workgroup-id="classroomMonitorController.workgroupId"
             on-menu-toggle="classroomMonitorController.toggleMenu()"></cm-toolbar>
    <md-sidenav md-component-id="monitorSidenav"
                md-is-open="classroomMonitorController.menuOpen"
                md-whiteframe="4">
        <cm-main-menu state="classroomMonitorController.$state" views="classroomMonitorController.views"></cm-main-menu>
    </md-sidenav>
    <md-content id="content" flex role="main" layout="column" class="l-main l-main--with-toolbar" flex role="main">
        <div ui-view autoscroll="true"></div>
    </md-content>
    <side-menu ng-if="classroomMonitorController.showToolbar"
        state="classroomMonitorController.$state"
        views="classroomMonitorController.views"></side-menu>
    <notebook workgroup-id="::classroomMonitorController.workgroupId"></notebook>
</div>
