<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="wise5/vle/themes/default/style/angular-material.css">
<link rel="stylesheet" href="wise5/vle/themes/default/style/vle.css">

<style>
    body {
        overflow: auto;
    }

    .active {
        background-color: yellow;
    }
</style>

<div ng-mousemove='classroomMonitorController.mouseMoved()'>
<button ui-sref-active="active" ui-sref='root.studentProgress' translate="gradeByWorkgroup" id="gradeByWorkgroupButton"></button>
<button ui-sref-active="active" ui-sref='root.nodeProgress' translate="gradeByStep" id="gradeByStepButton"></button>
<div style="float:right">
    <button ng-click='classroomMonitorController.pauseScreenButtonClicked()' id="pauseScreensButton">{{classroomMonitorController.pauseScreenButtonText}}</button>
    <button ng-click='classroomMonitorController.export("latestStudentWork")' translate="downloadLatestStudentWork" id="downloadLatestStudentWorkButton"></button>
    <button ng-click='classroomMonitorController.export("allStudentWork")' translate="downloadStudentWork" id="downloadStudentWorkButton"></button>
</div>
<div ui-view></div>
</div>