<md-content>
    <md-toolbar class="md-toolbar--sidenav">
        <div class="md-toolbar-tools" translate="classroomMonitor"></div>
    </md-toolbar>
    <md-divider></md-divider>
    <md-list class="menu-sidenav">
        <md-list-item ng-repeat="(key, value) in classroomMonitorController.views"
                      ng-if="value.type === 'primary'"
                      aria-label="{{value.label}}"
                      ui-sref="{{key}}"
                      ng-class="{'active': classroomMonitorController.$state.current.name === key}">
            <md-icon class="menu-sidenav__icon"> {{value.icon}} </md-icon>
            <p class="menu-sidenav__item">{{value.name}}</p>
        </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-list class="menu-sidenav">
        <md-list-item ng-repeat="(key, value) in classroomMonitorController.views"
                      ng-if="value.type === 'secondary'"
                      aria-label="{{value.label}}"
                      ui-sref="{{key}}"
                      ng-class="{'active': classroomMonitorController.$state.current.name === key}">
            <md-icon class="menu-sidenav__icon"> {{value.icon}} </md-icon>
            <p class="menu-sidenav__item">{{value.name}}</p>
        </md-list-item>
    </md-list>
</md-content>
