<md-toolbar class="l-header">
    <div class="md-toolbar-tools">
        <a ng-click="classroomMonitorController.loadRoot()" class="md-button logo-link">
            <img ng-src="{{classroomMonitorController.themePath}}/images/WISE-logo-ffffff.svg" alt="WISE Logo" class="logo" />
        </a>
        <h3>{{classroomMonitorController.projectName}} <span class="md-caption">(Run ID: {{classroomMonitorController.runId}})</span></h3>
        <span flex></span>
        <md-menu md-position-mode="target-right target" md-offset="40 26">
            <md-button aria-label="View notifications" class="md-icon-button notification-btn" ng-click="$mdMenu.open($event)">
                <span ng-show="classroomMonitorController.hasNewNotifications()" class="notification-count">{{classroomMonitorController.newNotifications.length}}</span>
                <md-icon md-menu-origin> notifications </md-icon>
            </md-button>
            <md-menu-content width="5" class="account-menu">
                <ng-include src="'wise5/classroomMonitor/templates/notificationMenu.html'"></ng-include>
            </md-menu-content>
        </md-menu>
        <md-menu id='accountMenu' md-position-mode="target-right target" md-offset="8 26">
            <md-button aria-label="Open user menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                <md-icon md-menu-origin> account_box </md-icon>
            </md-button>
            <md-menu-content width="5" class="account-menu">
                <account-menu></account-menu>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
