.main {
  padding: 112px 8px 48px;
  flex: 1 0 auto;

  @media (min-width: breakpoint('sm.min')) {
    padding: 128px 24px 64px;
  }

  @media (min-width: breakpoint('md.min')) {
    padding: 128px 40px 78px;
  }

  @media (min-width: breakpoint('lg.min')) {
    padding-top: 144px;
  }
}

.main--fullwidth {
  padding: 80px 0 0;
}
