.standalone {
  padding: 32px;

  .mat-card-content {
    margin-bottom: 24px;
  }

  .mat-card-actions {
    margin: 0;
    padding: 16px 0;
  }
}

.standalone__logo {
  margin: 0 auto 16px;
  max-width: 300px;

  img {
    width: 100%;
    height: auto;
  }
}

.standalone__content {
  max-width: breakpoint('sm.min');
  margin: 0 auto 16px;
}

.standalone__content--sm {
  max-width: 400px;
}

.standalone__title {
  margin-bottom: 8px;
  text-align: center;
}

.standalone__error {
  margin: 8px 0;
}
