// 1. Config

// 2. Base
.l-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-color: #ffffff;
  display: flex;
  height: $footer-height;
  padding: 0 8px;
  border-top: 1px solid $gray-lighter;
}
