<mat-card class="standalone__content mat-elevation-z4 center">
  <mat-card-content>
    <form role="form"
          fxLayout="column"
          (submit)="submit()"
          [formGroup]="verificationCodeFormGroup">
      <h2 class="standalone__title accent" i18n>Enter Verification Code</h2>
      <p i18n>We have sent a verification code to your email. Please check your email and enter the verification code below.</p>
      <p>
        <mat-form-field appearance="fill" fxFlex>
          <mat-label i18n>Verification Code</mat-label>
          <input matInput
                 id="verificationCode"
                 name="verificationCode"
                 formControlName="verificationCode"
                 autofocus
                 required />
          <mat-error *ngIf="verificationCodeFormGroup.controls['verificationCode'].hasError('required')" i18n>Verification Code required</mat-error>
        </mat-form-field>
      </p>
      <button mat-flat-button
              color="primary"
              [disabled]="!verificationCodeFormGroup.valid || processing || !isSubmitButtonEnabled"
              type="submit">
        <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
        <span i18n>Submit</span>
      </button>
    </form>
    <br/>
    <div class="error-message">{{message}}</div>
    <div *ngIf="showForgotPasswordLink">
      <br/>
      <a routerLink='/forgot/teacher/password' i18n>Teacher Forgot Password</a>
    </div>
  </mat-card-content>
  <mat-card-actions class="center">
    <p>
      <a routerLink="/contact" i18n>Contact WISE</a>
    </p>
    <p>
      <a routerLink="/join" i18n>Create New Account</a>
    </p>
  </mat-card-actions>
</mat-card>
