<button id="closeNotebookSettingsButton" style="float:right" ng-click='authorNotebookController.exit()' translate="SAVE"></button>

<h4>{{ 'notebookSettings' | translate }}</h4>

<input id="enableNotebookCheckbox" type="checkbox" ng-model="authorNotebookController.project.notebook.enabled"/>{{ 'enableNotebook' | translate }}<br/>

<ul ng-show="authorNotebookController.project.notebook.enabled">
    <li>{{ 'notebookLabel' | translate }} <input ng-model="authorNotebookController.project.notebook.label" /></li>
    <li><input type="checkbox" ng-model="authorNotebookController.project.notebook.enableAddNew"/>{{ 'enableAddNoteButton' | translate }}</li>
    <li><input type="checkbox" ng-model="authorNotebookController.project.notebook.itemTypes.note.enabled"/>{{ 'enableNoteItemType' | translate }}</li>
    <ul id="notebookNoteItemType" ng-show="authorNotebookController.project.notebook.itemTypes.note.enabled">
        <li>{{ 'labelSingular' | translate }} <input ng-model="authorNotebookController.project.notebook.itemTypes.note.label.singular" /></li>
        <li>{{ 'labelPlural' | translate }} <input ng-model="authorNotebookController.project.notebook.itemTypes.note.label.plural" /></li>
        <li>{{ 'labelLink' | translate }} <input ng-model="authorNotebookController.project.notebook.itemTypes.note.label.link" /></li>
        <li><input type="checkbox" ng-model="authorNotebookController.project.notebook.itemTypes.note.requireTextOnEveryNote"/>{{ 'requireTextOnEveryNote' | translate }}</li>
        <li><input type="checkbox" ng-model="authorNotebookController.project.notebook.itemTypes.note.enableClipping"/>{{ 'enableClipping' | translate }}</li>
        <li><input type="checkbox" ng-model="authorNotebookController.project.notebook.itemTypes.note.enableStudentUploads"/>{{ 'enableStudentUploads' | translate }}</li>
    </ul>
    <li><input type="checkbox" ng-model="authorNotebookController.project.notebook.itemTypes.report.enabled"/>{{ 'enableReportItemType' | translate }}</li>
    <ul id="notebookReportItemType" ng-show="authorNotebookController.project.notebook.itemTypes.report.enabled">
        <li>{{ 'labelSingular' | translate }} <input ng-model="authorNotebookController.project.notebook.itemTypes.report.label.singular" /></li>
        <li>{{ 'labelPlural' | translate }} <input ng-model="authorNotebookController.project.notebook.itemTypes.report.label.plural" /></li>
        <li>{{ 'labelLink' | translate }} <input ng-model="authorNotebookController.project.notebook.itemTypes.report.label.link" /></li>
        <li>{{ 'reportNotes' | translate }}</li>
        <button ng-click="authorNotebookController.addReportNote()"
                ng-show="authorNotebookController.project.notebook.itemTypes.report.notes == null ||
            authorNotebookController.project.notebook.itemTypes.report.notes.length < 1">{{ 'addReportNote' | translate }}</button>
        <ul ng-repeat="reportNote in authorNotebookController.project.notebook.itemTypes.report.notes">
            <li>{{ 'title' | translate }} <input ng-model="reportNote.title" ng-model-options='{ debounce: 1000 }' /></li>
            <li>{{ 'MAX_SCORE' | translate }} <input ng-model="reportNote.maxScore" ng-model-options='{ debounce: 1000 }' /></li>
            <li>{{ 'description' | translate }} <textarea rows="5" cols="50" ng-model="reportNote.description" ng-model-options='{ debounce: 1000 }' /></li>
            <li>{{ 'prompt' | translate }} <textarea rows="5" cols="50" ng-model="reportNote.prompt" ng-model-options='{ debounce: 1000 }' /></li>
            <li>{{ 'content' | translate }} <!--<textarea rows="15" cols="50" ng-model="reportNote.content" />-->
                <summernote id='{{reportNote.summernoteId}}'
                    ng-model='reportNote.summernoteHTML'
                    ng-change='authorNotebookController.summernoteHTMLChanged(reportNote)'
                    config='reportNote.summernoteOptions'
                    ng-model-options='{ debounce: 1000 }'
                    rows='10'
                    cols='100'>
                </summernote>
            </li>
        </ul>
    </ul>
</ul>

<!--
<input id="enablePublicNotebookCheckbox" type="checkbox" ng-model="authorNotebookController.isPublicNotebookEnabled" ng-click="authorNotebookController.togglePublicNotebook()"/>{{ 'enablePublicNotebook' | translate }}
-->
