<style>
    #commitDiv {
        padding: 20px 0px;
    }
    #editMessageLabel {
        display:block;
    }
    #commitMessageInput {
        display:block;
        line-height: 30px;
        width: 100%;
    }
    #saveButton {
        display:block;
        padding: 6px 12px;
        font-weight:bold;
        margin: 10px 0px;
    }
</style>
<button ng-click='projectController.previewProject()'>Preview Project</button>
<div id="commitDiv">
<label id="editMessageLabel">Edit Message:</label>
<input id="commitMessageInput" type="text" size="50" placeholder="Write a small message here explaining this change. (Optional)" />
<button id="saveButton" ng-click='projectController.saveProject()'>Save Project</button>
</div>
<textarea id="project" rows="50" cols="150">
    {{projectController.project | json : 4}}
</textarea>
<div id="commitHistory">
    <div ng-repeat="commit in projectController.commitHistory">
        <span class="commitTime">{{commit.commitTime | date:'medium' }}</span>
        <span class="commitMessage">{{commit.commitMessage}}</span>
    </div>
</div>
