<div ng-show="projectController.$state.current.name == 'root.project'">  <!-- show this only when we're in the project view -->
    <style>
        #commitDiv {
            padding: 10px 0px;
        }
        #editMessageLabel {
            display:block;
        }
        #commitMessageInput {
            line-height: 30px;
            width: 75%;
        }
        #saveButton {
            padding: 8px 12px;
            font-weight:bold;
            margin: 10px 0px;
        }
        #projectStylesDiv {
        }
    </style>
    <div style="float:right">
        <button ng-click='projectController.previewProject()'>Preview Project</button>
        <button ng-click='projectController.viewProjectAssets()'>Manage Assets</button>
        <button ng-click='projectController.viewProjectHistory()'>View History</button>
    </div>
    <div id="commitDiv" style="display:none">
        <label id="editMessageLabel">Edit Message:</label>
        <input id="commitMessageInput" type="text" size="50" placeholder="Write a small message here explaining this change. (Optional)" />
        <button id="saveButton" ng-click='projectController.saveProject()'>Save Project</button>
    </div>
<button ng-click='projectController.showCreateGroup = !projectController.showCreateGroup'>Create Activity</button>
<button ng-click='projectController.showCreateNode = !projectController.showCreateNode'>Create Step</button>
<button ng-click='projectController.move()'>Move</button>
<button ng-click='projectController.delete()'>Delete</button>
<button ng-click='projectController.saveProject()'>Save Project</button>
<div ng-show='projectController.showCreateGroup'>
    Activity Title: <input ng-model='projectController.createGroupTitle' size='50'/> <button ng-click='projectController.createGroup()'>Submit</button>
</div>
<div ng-show='projectController.showCreateNode'>
    Step Title: <input ng-model='projectController.createNodeTitle' size='50'/> <button ng-click='projectController.createNode()'>Submit</button>
</div>
<div ng-repeat='item in projectController.items | toArray | orderBy : "order"'
     ng-if='item.order!==0'
     ng-class='{"node-select--group": projectController.isGroupNode(item.$key), "node-select--node": !projectController.isGroupNode(item.$key)}'
     style='cursor: pointer'>
    <input type='checkbox'
           ng-model='item.checked'/>
    <h6 ng-click='projectController.nodeClicked(item.$key)'
        style='display:inline'>
        {{projectController.getNodePositionById(item.$key)}} {{projectController.getNodeTitleByNodeId(item.$key)}}
    </h6>
    <button ng-show='projectController.insertMode' ng-if='projectController.isGroupNode(item.$key)' ng-click='projectController.insertInside(item.$key)'>Insert Inside</button>
    <button ng-show='projectController.insertMode' ng-click='projectController.insertAfter(item.$key)'>Insert After</button>
</div>

    <div id="projectJSONStringDiv" style="display:none">Project JSON:
        <textarea id="project" rows="40" cols="150" ng-model="projectController.projectAsText"></textarea>
    </div>
    <div id="projectStylesDiv" style="display:none">Project Styles:
        <textarea cols="50" rows="10" ng-model="projectController.project.style" ng-change="projectController.updateProjectAsText()" />
    </div>
</div>


<div ui-view></div>  <!-- this ui-view shows the node authoring view -->

