<mat-card [ngClass]="{ 'highlighted': run.isHighlighted }">
  <mat-card-content fxLayout="row">
    <div mat-card-avatar [style.background-image]="thumbStyle"></div>
    <div fxFlex="1 1 100%" fxLayout="row" fxLayoutWrap>
      <div fxLayout="column">
        <mat-card-title>{{ run.project.name }} <span class="mat-caption">(Run #{{ run.id }})</span></mat-card-title>
        <mat-card-subtitle fxHide fxShow.gt-xs>
          <div>
            {{run.periods.length}}
            <span [ngPlural]="run.periods.length">
              <ng-template ngPluralCase="=0">periods</ng-template>
              <ng-template ngPluralCase="=1">period</ng-template>
              <ng-template ngPluralCase="other">periods</ng-template>
            </span> &bull; {{run.numStudents}}
            <span [ngPlural]="run.numStudents">
              <ng-template ngPluralCase="=0">students</ng-template>
              <ng-template ngPluralCase="=1">student</ng-template>
              <ng-template ngPluralCase="other">students</ng-template>
            </span>
          </div>
          <div>Access Code: {{ run.runCode }}</div>
        </mat-card-subtitle>
      </div>
      <span fxFlex="1 1 auto"></span>
      <app-run-menu [run]="run"></app-run-menu>
    </div>
  </mat-card-content>
  <mat-card-content fxHide fxShow.xs>
    <mat-card-subtitle>
      <div>
        {{run.periods.length}}
        <span [ngPlural]="run.periods.length">
          <ng-template ngPluralCase="=0">periods</ng-template>
          <ng-template ngPluralCase="=1">period</ng-template>
          <ng-template ngPluralCase="other">periods</ng-template>
        </span> &bull; {{run.numStudents}}
        <span [ngPlural]="run.numStudents">
          <ng-template ngPluralCase="=0">students</ng-template>
          <ng-template ngPluralCase="=1">student</ng-template>
          <ng-template ngPluralCase="other">students</ng-template>
        </span>
      </div>
      <div>Access Code: {{ run.runCode }}</div>
    </mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
    <span fxFlex="1 1 auto"></span>
    <a *ngIf="run.startTime && !run.endTime"
       mat-raised-button
       href="{{ gradeAndManageLink }}"
       color="accent">
      Teacher Tools
    </a>
    <a *ngIf="run.endTime"
       mat-button
       href="{{ gradeAndManageLink }}">
      Review Work
    </a>
  </mat-card-actions>
</mat-card>
