<mat-card [ngClass]="{ 'highlighted': run.isHighlighted }">
  <mat-card-content fxLayout="row">
    <div mat-card-avatar [style.background-image]="thumbStyle"></div>
    <div fxFlex="1 1 100%" fxLayout="row" fxLayoutWrap>
      <div fxLayout="column">
        <mat-card-title [class.secondary-text]="run.endTime">{{ run.project.name }}</mat-card-title>
        <mat-card-subtitle fxHide fxShow.gt-xs>
          <div>
            <a [matTooltip]="periodsString()" matTooltipPosition="above">
              {{run.periods.length}}
              <ng-container [ngPlural]="run.periods.length">
                <ng-template ngPluralCase="=0">periods</ng-template>
                <ng-template ngPluralCase="=1">period</ng-template>
                <ng-template ngPluralCase="other">periods</ng-template>
              </ng-container>
            </a> |
            <a href="{{ manageStudentsLink }}">
              {{run.numStudents}}
              <ng-container [ngPlural]="run.numStudents">
                <ng-template ngPluralCase="=0">students</ng-template>
                <ng-template ngPluralCase="=1">student</ng-template>
                <ng-template ngPluralCase="other">students</ng-template>
              </ng-container>
            </a>
          </div>
          <div>Access Code: {{ run.runCode }}</div>
        </mat-card-subtitle>
      </div>
      <span fxFlex="1 1 auto"></span>
      <app-run-menu [run]="run"></app-run-menu>
    </div>
  </mat-card-content>
  <mat-card-content fxHide fxShow.xs>
    <mat-card-subtitle>
      <div>
        <a [matTooltip]="periodsString()" matTooltipPosition="above">
          {{run.periods.length}}
          <ng-container [ngPlural]="run.periods.length">
            <ng-template ngPluralCase="=0">periods</ng-template>
            <ng-template ngPluralCase="=1">period</ng-template>
            <ng-template ngPluralCase="other">periods</ng-template>
          </ng-container>
        </a> |
        <a href="{{ manageStudentsLink }}">
          {{run.numStudents}}
          <ng-container [ngPlural]="run.numStudents">
            <ng-template ngPluralCase="=0">students</ng-template>
            <ng-template ngPluralCase="=1">student</ng-template>
            <ng-template ngPluralCase="other">students</ng-template>
          </ng-container>
        </a>
      </div>
      <div>Access Code: {{ run.runCode }}</div>
    </mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions fxLayout="row wrap" fxLayoutAlign="end center">
    <span fxFlex="1 1 auto"></span>
    <ng-container *ngIf="isScheduled()">
      <a mat-button class="secondary-text">
        <mat-icon class="secondary-text">cancel</mat-icon>
        Cancel
      </a>
      <a mat-button
         color="accent">
        <mat-icon class="accent">settings</mat-icon>
        Settings
      </a>
    </ng-container>
    <ng-container *ngIf="run.startTime && !run.endTime && !isScheduled()">
      <a mat-button class="secondary-text">
        <mat-icon class="secondary-text">stop</mat-icon>
        End
      </a>
      <a mat-flat-button
         href="{{ gradeAndManageLink }}"
         color="accent">
        <mat-icon>build</mat-icon>
        Teacher Tools
      </a>
    </ng-container>
    <ng-container *ngIf="run.endTime">
      <a mat-button class="secondary-text">
        <mat-icon class="secondary-text">play_arrow</mat-icon>
        Restart
      </a>
      <a mat-button color="accent" href="{{ gradeAndManageLink }}">
        <mat-icon class="accent">history</mat-icon>
        Review
      </a>
    </ng-container>
  </mat-card-actions>
</mat-card>
