<md-button id='backToStepButton' class='createButton md-raised md-primary'
    ng-click='$ctrl.goBack()'>
  <md-icon>arrow_back</md-icon>
  <md-tooltip md-direction='top' class='projectButtonTooltip'>
    {{ ::'back' | translate }}
  </md-tooltip>
</md-button>
<br/>
<h5 translate="editStepRubric"></h5>
<summernote id='{{$ctrl.summernoteRubricId}}'
    ng-model='$ctrl.summernoteRubricHTML'
    ng-change='$ctrl.summernoteRubricHTMLChanged()'
    config='$ctrl.summernoteRubricOptions'
    ng-model-options='{ debounce: 1000 }'
    rows='10'
    cols='100'>
</summernote>
