<md-card>
    <div class="group-info" layout="row">
        <img ng-if="navCtrl.currentGroupStatus.icon.type === 'img'" ng-animate-ref="{{ item.id }}" class="avatar avatar--square group-info__avatar" ng-src="{{navCtrl.currentGroupStatus.icon.imgSrc}}" alt="{{navCtrl.currentGroupStatus.icon.imgAlt}}" />
        <div ng-if="navCtrl.currentGroupStatus.icon.type === 'font'" ng-animate-ref="{{ item.id }}" style="background-color: {{navCtrl.currentGroupStatus.icon.color}};" class="avatar avatar--square avatar--icon group-info__avatar">
            <md-icon md-font-set="{{navCtrl.currentGroupStatus.icon.fontSet}}" class="md-light">{{navCtrl.currentGroupStatus.icon.fontName}}</md-icon>
        </div>
        <div class="group-info__details" flex>
            <div class="md-toolbar-tools md-toolbar-tools--fit auto-height">
                <h3 class="group-info__title" style="color: {{navCtrl.currentGroupStatus.icon.color}};">{{navCtrl.currentGroup.title}}</h3>
                <span flex></span>
                <md-button aria-label="Close Activity" class="md-icon-button" ng-click="navCtrl.nodeClicked(navCtrl.parentGroupId)">
                    <md-icon> close </md-icon>
                </md-button>
            </div>
            <div class="group-info__more md-body-3">
                <span>{{navCtrl.currentGroupStatus.progress.totalItems}} item(s)</span>
        <span class="progress-wrapper">
            <md-tooltip> {{navCtrl.currentGroupStatus.progress.completionPct}}% completed; {{navCtrl.currentGroupStatus.progress.totalItems-navCtrl.currentGroupStatus.progress.completedItems}} todo </md-tooltip>
            <md-progress-linear class="group-info__progress" md-mode="determinate" value="{{navCtrl.currentGroupStatus.progress.completionPct}}"></md-progress-linear>
        </span>
                <md-icon ng-if="navCtrl.currentGroupStatus.isCompleted" ng-class="'success'" aria-label="Completed"> check_circle </md-icon>
            </div>
        </div>
    </div>
    <md-card-content ng-class="'nav-contents nav-contents--group nav-contents--' + navCtrl.layoutView">
        <md-list ng-if="navCtrl.layoutView === 'list'">
            <nav-item ng-repeat="item in navCtrl.currentChildren" ng-if="navCtrl.nodeStatuses[item.id].isVisible"
                      template-url="vleController.themePath + '/navigation/navItem.html'"
                      item="item" type="navCtrl.layoutView" node-clicked="navCtrl.nodeClicked(item.id)" ng-animate-ref="{{ item.id }}" class="nav-item ng-enter"></nav-item>
        </md-list>
        <div ng-if="navCtrl.layoutView === 'card'" layout="row" layout-wrap layout-align="center center">
            <nav-item ng-repeat="item in navCtrl.currentChildren" ng-if="navCtrl.nodeStatuses[item.id].isVisible"
                      template-url="vleController.themePath + '/navigation/navItem.html'"
                      item="item" type="navCtrl.layoutView" node-clicked="navCtrl.nodeClicked(item.id)"
                      flex-sm="100" flex-md="50" flex-lg="33" flex-gt-lg="25"></nav-item>
        </div>
    </md-card-content>
</md-card>