<div class="l-constrained md-padding">
    <div class="md-toolbar-tools auto-width">
        <div class="md-subhead nav-head breadcrumb">
            <md-icon> home </md-icon>
            <ng-switch on="navCtrl.layoutState">
                <a ng-switch-when="group" ng-click="navCtrl.nodeClicked(navCtrl.currentParentGroups[0].id)">Project Plan</a>
                <span ng-switch-when="root">Project Plan</span>
            </ng-switch>
            <a ng-repeat-start="group in navCtrl.currentParentGroups" ng-if="!$first" ng-click="navCtrl.nodeClicked(group.id)"><span ng-if="themeCtrl.numberProject">{{ themeCtrl.getNodePositionById(group.id) }}: </span>{{group.title}}</a>
            <span ng-if="!$last" ng-repeat-end> > </span>
        </div>
        <span flex></span>
        <!--<md-select ng-if="vleController.navFilters.length > 1" class="md-body-1" placeholder="Filter" ng-model="vleController.navFilter">
            <md-option ng-repeat="filter in vleController.navFilters" value="{{filter.name}}">{{filter.label}}</md-option>
        </md-select>-->
    </div>

    <div class="nav-root" ng-if="navCtrl.layoutState === 'root'" >
        <ng-include src="vleController.themePath + '/navigation/navRoot.html'"></ng-include>
    </div>

    <div class="nav-group" ng-if="navCtrl.layoutState === 'group'" >
        <ng-include src="vleController.themePath + '/navigation/navGroup.html'"></ng-include>
    </div>

    <!--<group id='group' currentgroupid='{{navCtrl.currentGroupId}}'></group>-->

    <!--
    <group id='group_{{group.id}}' ng-repeat='group in navCtrligationController.groups' ng-show='group.id === navigationController.currentGroupId'>

    </group>


    <div id='test'></div>
     -->
    <!--
    <div ng-repeat='group in navigationController.groups' ng-show='group.id === navigationController.currentGroupId'>
        {{ group.title }}

        <input id='{{childId}}Button' type='button' ng-repeat='childId in group.ids' value='{{childId}}' ng-click='navigationController.nodeClicked(childId)' ng-class='{currentNode: navigationController.currentNode.id === childId, disabledNode: navigationController.isNodeDisabled(childId)}' ng-disabled='navigationController.isNodeDisabled(childId)'></input>
        <input type='button' value='Go To Parent' ng-click='navigationController.nodeClicked(navigationController.parentGroupId)'></input>
    </div>
     -->
</div>
<footer class="l-footer md-whiteframe-z2 md-body-1">
    <md-toolbar class="md-toolbar--wise" md-theme="light">
        <div class="md-toolbar-tools">
            <md-button md-theme="default" class="button--footer md-primary" aria-label="Toggle Project Status">
                <progress-circular-with-label value="themeCtrl.rootNodeStatus.progress.completionPct"
                                              template-url="vleController.themePath + '/templates/progressCircularWithLabel.html'"></progress-circular-with-label>
            </md-button>
        </div>
    </md-toolbar>
</footer>
