<div class='summary' flex>
  <style>
    {{summaryController.nodeContent.style}}
  </style>
  <div>
    <div class='advancedAuthoringDiv'
         ng-if='summaryController.showAdvancedAuthoring'>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='summaryController.authoringComponentContent.showSaveButton'
                     ng-change='summaryController.componentChanged()'>
          {{ ::'SHOW_SAVE_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='summaryController.authoringComponentContent.showSubmitButton'
                     ng-change='summaryController.componentChanged()'>
          {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-if='summaryController.isNotebookEnabled()'
                     ng-model='summaryController.authoringComponentContent.showAddToNotebookButton'
                     ng-change='summaryController.componentChanged()'>
          {{ ::'SHOW_ADD_TO_NOTEBOOK_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                            ng-if='summaryController.authoringComponentContent.showSubmitButton'>
          <label>{{ ::'MAX_SUBMIT' | translate }}</label>
          <input type='number'
                 ng-model='summaryController.authoringComponentContent.maxSubmitCount'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='summaryController.componentChanged()'/>
        </md-input-container>
      </div>
      <div layout="column" layout-align="start start">
        <edit-component-width [authoring-component-content]="summaryController.authoringComponentContent"></edit-component-width>
        <edit-component-rubric [authoring-component-content]="summaryController.authoringComponentContent"></edit-component-rubric>
        <edit-component-tags [authoring-component-content]="summaryController.authoringComponentContent"></edit-component-tags>
      </div>
      <edit-component-json [node-id]="summaryController.nodeId" [component-id]="summaryController.componentId"></edit-component-json>
    </div>
  </div>
  <div>
    <md-input-container style='width:100%'>
      <label>{{ ::'PROMPT' | translate }}</label>
      <textarea rows='1'
                ng-model='summaryController.authoringComponentContent.prompt'
                ng-change='summaryController.componentChanged()'
                ng-model-options='{ debounce: 1000 }'
                placeholder='{{ "enterPromptHere" | translate }}'>
    </textarea>
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      {{ ::'summary.chooseTheStepAndComponent' | translate }}
    </md-input-container>
  </div>
  <div layout='row' layout-wrap layout-margin='8px'>
    <div>
      <md-input-container>
        <label>{{ ::'step' | translate }}</label>
        <md-select ng-model='summaryController.authoringComponentContent.summaryNodeId'
            ng-change='summaryController.summaryNodeIdChanged()'
            style='min-width: 300px'>
          <md-option ng-repeat='item in summaryController.idToOrder | toArray | orderBy : "order"'
              value='{{item.$key}}'
              ng-if='summaryController.isApplicationNode(item.$key)'>
            {{ summaryController.getNodePositionAndTitleByNodeId(item.$key) }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>{{ ::'component' | translate }}</label>
        <md-select ng-model='summaryController.authoringComponentContent.summaryComponentId'
            ng-change='summaryController.summaryComponentIdChanged()'
            style='min-width: 300px'>
          <md-option ng-repeat='(componentIndex, component) in summaryController.getComponentsByNodeId(summaryController.authoringComponentContent.summaryNodeId)'
              value='{{component.id}}'
              ng-disabled='!summaryController.isComponentTypeAllowed(component.type) || summaryController.authoringComponentContent.summaryComponentId == summaryController.componentId'>
            {{ componentIndex + 1 }}. {{ component.type }} <span ng-if='component.id == summaryController.componentId'>({{ ::'thisComponent' | translate }})</span>
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>{{ ::'summary.studentDataType' | translate }}</label>
        <md-select ng-model='summaryController.authoringComponentContent.studentDataType'
            ng-change='summaryController.studentDataTypeChanged()'
            style='min-width: 200px'>
        <md-option value='responses'
            ng-if='summaryController.isResponsesOptionAvailable' ng-selected='true'>
          {{ ::'summary.responses' | translate }}
        </md-option>
        <md-option value='scores'>
            {{ ::'summary.scores' | translate }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>{{ ::'source' | translate }}</label>
        <md-select ng-model='summaryController.authoringComponentContent.source'
                   ng-change='summaryController.componentChanged()'
                   style='min-width: 200px'>
          <md-option value='self'>
            {{ ::'summary.onlySelf' | translate }}
          </md-option>
          <md-option value='period'>
            {{ ::'summary.onlyStudentsInPeriod' | translate }}
          </md-option>
          <md-option value='allPeriods'>
            {{ ::'summary.studentsInAllPeriods' | translate }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>{{ ::'summary.chartType' | translate }}</label>
        <md-select ng-model='summaryController.authoringComponentContent.chartType'
            ng-change='summaryController.componentChanged()'
            style='min-width: 200px;'>
          <md-option value='column'>
            {{ ::'summary.bar' | translate }}
          </md-option>
          <md-option value='pie' ng-if='summaryController.isPieChartAllowed'>
            {{ ::'summary.pie' | translate }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>{{ ::'summary.requirementToSeeSummary' | translate }}</label>
        <md-select ng-model='summaryController.authoringComponentContent.requirementToSeeSummary'
            ng-change='summaryController.componentChanged()'
            style='min-width: 200px'>
            <md-option value='completeComponent'>
              {{ ::'summary.completeComponent' | translate }}
            </md-option>
            <md-option value='submitWork'>
            {{ ::'summary.submitWork' | translate }}
          </md-option>
          <md-option value='none'>
            {{ ::'summary.none' | translate }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>
  <div layout-wrap layout-margin='8px'>
    <md-input-container ng-if='summaryController.isHighlightCorrectAnswerAvailable'>
      <md-checkbox class='md-primary'
                   ng-model='summaryController.authoringComponentContent.highlightCorrectAnswer'
                   ng-change='summaryController.componentChanged()'>
        {{ ::'summary.highlightCorrectAnswer' | translate }}
      </md-checkbox>
    </md-input-container>
    <md-input-container>
      <md-checkbox class='md-primary'
                   ng-model='summaryController.authoringComponentContent.showPromptFromOtherComponent'
                   ng-change='summaryController.showPromptFromOtherComponentChanged()'>
        {{ ::'summary.showPromptFromOtherComponent' | translate }}
      </md-checkbox>
    </md-input-container>
  </div>
  <div layout='row'>
    <h6>{{ ::'summary.customLabelColors' | translate }}</h6>
    <md-button class='topButton md-raised md-primary'
               ng-click='summaryController.addCustomLabelColor()'>
      <md-icon>add</md-icon>
      <md-tooltip md-direction='top'
                  class='projectButtonTooltip'>
        {{ 'summary.addCustomLabelColor' | translate }}
      </md-tooltip>
    </md-button>
  </div>
  <div ng-repeat='customLabelColor in summaryController.authoringComponentContent.customLabelColors'>
    <md-input-container>
      <label>{{ ::'summary.label' | translate }}</label>
      <input ng-model='customLabelColor.label'
          ng-change='summaryController.customLabelColorChanged()'
          size='50'
          ng-model-options='{ debounce: 1000 }'/>
    </md-input-container>
    <md-input-container>
      <label>{{ ::'summary.color' | translate }}</label>
      <input ng-model='customLabelColor.color'
          ng-change='summaryController.customLabelColorChanged()'
          size='25'
          ng-model-options='{ debounce: 1000 }'/>
    </md-input-container>
    <md-button class='regularButton md-raised md-primary'
                ng-click="summaryController.moveCustomLabelColorUp($index)">
      <md-icon>arrow_upward</md-icon>
      <md-tooltip md-direction='top'
                  class='projectButtonTooltip'>
        {{ ::'UP' | translate}}
      </md-tooltip>
    </md-button>
    <md-button class='regularButton md-raised md-primary'
                ng-click="summaryController.moveCustomLabelColorDown($index)">
      <md-icon>arrow_downward</md-icon>
      <md-tooltip md-direction='top'
                  class='projectButtonTooltip'>
        {{ ::'DOWN' | translate}}
      </md-tooltip>
    </md-button>
    <md-button class='regularButton md-raised md-primary'
                ng-click='summaryController.deleteCustomLabelColor($index)'>
      <md-icon>delete</md-icon>
      <md-tooltip md-direction='top'
                  class='projectButtonTooltip'>
        {{ ::'DELETE' | translate}}
      </md-tooltip>
    </md-button>
  </div>
</div>
