<div class='summary' ng-controller='SummaryAuthoringController as summaryController' flex>
  <style>
    {{summaryController.nodeContent.style}}
  </style>
  <div>
    <div class='advancedAuthoringDiv'
         ng-if='summaryController.showAdvancedAuthoring'>
      <div>
        <h6>{{ ::'advancedAuthoringOptions' | translate }}</h6>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='summaryController.authoringComponentContent.showSaveButton'
                     ng-change='summaryController.authoringViewComponentChanged()'>
          {{ ::'SHOW_SAVE_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-model='summaryController.authoringComponentContent.showSubmitButton'
                     ng-change='summaryController.authoringViewComponentChanged()'>
          {{ ::'SHOW_SUBMIT_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-checkbox class='md-primary'
                     ng-if='summaryController.isNotebookEnabled()'
                     ng-model='summaryController.authoringComponentContent.showAddToNotebookButton'
                     ng-change='summaryController.authoringViewComponentChanged()'>
          {{ ::'SHOW_ADD_TO_NOTEBOOK_BUTTON' | translate }}
        </md-checkbox>
      </div>
      <div>
        <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'
                            ng-if='summaryController.authoringComponentContent.showSubmitButton'>
          <label>{{ ::'MAX_SUBMIT' | translate }}</label>
          <input type='number'
                 ng-model='summaryController.authoringComponentContent.maxSubmitCount'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='summaryController.authoringViewComponentChanged()'/>
        </md-input-container>
      </div>
      <div>
        <md-input-container style='margin-right: 20px; width: 150px; height: 25px;'>
          <label>{{ ::'COMPONENT_WIDTH' | translate }}</label>
          <input type='number'
                 ng-model='summaryController.authoringComponentContent.componentWidth'
                 ng-model-options='{ debounce: 1000 }'
                 ng-change='summaryController.authoringViewComponentChanged()'/>
        </md-input-container>
      </div>
      <div>
        <label class='node__label--vertical-alignment'>
          {{ ::'RUBRIC' | translate }}
        </label>
        <md-button class='topButton md-raised md-primary' ng-click='summaryController.showRubricAuthoring = !summaryController.showRubricAuthoring'>
          <md-icon>message</md-icon>
          <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'EDIT_COMPONENT_RUBRIC' | translate }}</md-tooltip>
        </md-button>
        <div ng-if='summaryController.showRubricAuthoring'>
          <summernote id='{{summaryController.summernoteRubricId}}'
                      ng-model='summaryController.summernoteRubricHTML'
                      ng-change='summaryController.summernoteRubricHTMLChanged()'
                      config='summaryController.summernoteRubricOptions'
                      ng-model-options='{ debounce: 1000 }'
                      rows='10'
                      cols='100'>
          </summernote>
        </div>
      </div>
      <div style='margin-top: 10px; margin-bottom: 10px;'>
        <div style='height: 50;'>
          <label class='node__label--vertical-alignment'>
            {{ ::'tags' | translate }}
          </label>
          <md-button class='topButton md-raised md-primary'
                     ng-click='summaryController.addTag()'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top'
                        class='projectButtonTooltip'>
              {{ ::'addTag' | translate }}
            </md-tooltip>
          </md-button>
        </div>
        <div ng-repeat='tag in summaryController.authoringComponentContent.tags track by $index'>
          <div layout='row'>
            <md-input-container style='margin-bottom: 0px'>
              <label></label>
              <input ng-model='summaryController.authoringComponentContent.tags[$index]'
                     ng-change='summaryController.authoringViewComponentChanged()'
                     ng-model-options='{ debounce: 1000 }'
                     size='100'
                     placeholder='{{ "enterTag" | translate }}'/>
            </md-input-container>
            <md-button class='moveComponentButton md-raised md-primary' ng-click='summaryController.moveTagUp($index)'>
              <md-icon>arrow_upward</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'moveUp' | translate }}</md-tooltip>
            </md-button>
            <md-button class='moveComponentButton md-raised md-primary' ng-click='summaryController.moveTagDown($index)'>
              <md-icon>arrow_downward</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'moveDown' | translate }}</md-tooltip>
            </md-button>
            <md-button class='moveComponentButton md-raised md-primary' ng-click='summaryController.deleteTag($index)'>
              <md-icon>delete</md-icon>
              <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'DELETE' | translate }}</md-tooltip>
            </md-button>
          </div>
        </div>
      </div>
      <div>
        <label class='node__label--vertical-alignment'>{{ ::'json' | translate }}</label>
        <md-button class='topButton md-raised md-primary'
                   ng-click='summaryController.showJSONButtonClicked()'>
          <md-icon>code</md-icon>
          <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'SHOW_JSON' | translate }}</md-tooltip>
        </md-button>
        <span ng-if='summaryController.isJSONStringChanged'>
          {{ ::'closeTheJSONViewToSaveTheChanges' | translate }}
        </span>
        <div ng-if='summaryController.showJSONAuthoring'>
          <md-input-container style='width: 100%;'>
            <textarea ng-model='summaryController.authoringComponentContentJSONString'
                      style='width: 90%; border: 1px solid black;'
                      ng-change='summaryController.authoringJSONChanged()'></textarea>
          </md-input-container>
        </div>
      </div>
    </div>
  </div>
  <div>
    <md-input-container style='width:100%'>
      <label>{{ ::'PROMPT' | translate }}</label>
      <textarea rows='1'
                ng-model='summaryController.authoringComponentContent.prompt'
                ng-change='summaryController.authoringViewComponentChanged()'
                ng-model-options='{ debounce: 1000 }'
                placeholder='{{ "enterPromptHere" | translate }}'>
    </textarea>
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      {{ ::'summary.chooseTheStepAndComponent' | translate }}
    </md-input-container>
  </div>
  <div layout='row' layout-wrap layout-margin='8px'>
    <div>
      <md-input-container>
        <label>{{ ::'step' | translate }}</label>
        <md-select ng-model='summaryController.authoringComponentContent.summaryNodeId'
            ng-change='summaryController.authoringSummaryNodeIdChanged()'
            style='min-width: 300px'>
          <md-option ng-repeat='item in summaryController.idToOrder | toArray | orderBy : "order"'
              value='{{item.$key}}'
              ng-if='summaryController.isApplicationNode(item.$key)'>
            {{ summaryController.getNodePositionAndTitleByNodeId(item.$key) }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>{{ ::'component' | translate }}</label>
        <md-select ng-model='summaryController.authoringComponentContent.summaryComponentId'
            ng-change='summaryController.authoringSummaryComponentIdChanged()'
            style='min-width: 300px'>
          <md-option ng-repeat='(componentIndex, component) in summaryController.getComponentsByNodeId(summaryController.authoringComponentContent.summaryNodeId)'
              value='{{component.id}}'
              ng-disabled='!summaryController.isComponentTypeAllowed(component.type) || summaryController.authoringComponentContent.summaryComponentId == summaryController.componentId'>
            {{ componentIndex + 1 }}. {{ component.type }} <span ng-if='component.id == summaryController.componentId'>({{ ::'thisComponent' | translate }})</span>
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>{{ ::'summary.studentDataType' | translate }}</label>
        <md-select ng-model='summaryController.authoringComponentContent.studentDataType'
            ng-change='summaryController.studentDataTypeChanged()'
            style='min-width: 200px'>
        <md-option value='responses'
            ng-if='summaryController.isResponsesOptionAvailable' ng-selected='true'>
          {{ ::'summary.responses' | translate }}
        </md-option>
        <md-option value='scores'>
            {{ ::'summary.scores' | translate }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>{{ ::'source' | translate }}</label>
        <md-select ng-model='summaryController.authoringComponentContent.source'
                   ng-change='summaryController.authoringViewComponentChanged()'
                   style='min-width: 200px'>
          <md-option value='period'>
            {{ ::'summary.onlyStudentsInPeriod' | translate }}
          </md-option>
          <md-option value='allPeriods'>
            {{ ::'summary.studentsInAllPeriods' | translate }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>{{ ::'summary.chartType' | translate }}</label>
        <md-select ng-model='summaryController.authoringComponentContent.chartType'
            ng-change='summaryController.authoringViewComponentChanged()'
            style='min-width: 200px;'>
          <md-option value='column'>
            {{ ::'summary.bar' | translate }}
          </md-option>
          <md-option value='pie' ng-if='summaryController.isPieChartAllowed'>
            {{ ::'summary.pie' | translate }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <label>{{ ::'summary.requirementToSeeSummary' | translate }}</label>
        <md-select ng-model='summaryController.authoringComponentContent.requirementToSeeSummary'
            ng-change='summaryController.authoringViewComponentChanged()'
            style='min-width: 200px'>
            <md-option value='completeComponent'>
              {{ ::'summary.completeComponent' | translate }}
            </md-option>
            <md-option value='submitWork'>
            {{ ::'summary.submitWork' | translate }}
          </md-option>
          <md-option value='none'>
            {{ ::'summary.none' | translate }}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
  </div>
  <div layout-wrap layout-margin='8px'>
    <md-input-container ng-if='summaryController.isHighlightCorrectAnswerAvailable'>
      <md-checkbox class='md-primary'
                   ng-model='summaryController.authoringComponentContent.highlightCorrectAnswer'
                   ng-change='summaryController.authoringViewComponentChanged()'>
        {{ ::'summary.highlightCorrectAnswer' | translate }}
      </md-checkbox>
    </md-input-container>
    <md-input-container>
      <md-checkbox class='md-primary'
                   ng-model='summaryController.authoringComponentContent.showPromptFromOtherComponent'
                   ng-change='summaryController.showPromptFromOtherComponentChanged()'>
        {{ ::'summary.showPromptFromOtherComponent' | translate }}
      </md-checkbox>
    </md-input-container>
  </div>
  <div style='border: 5px solid black; padding: 20px;'>
    <div>
      <h5>{{ ::'studentPreview' | translate }}</h5>
    </div>
    <div>
      <compile id='prompt' data='summaryController.getPrompt()'></compile>
      <div ng-if='summaryController.componentContent.showPromptFromOtherComponent'>
        <br/>
        <compile data='summaryController.otherPrompt'></compile>
      </div>
      <summary-display node-id='summaryController.authoringComponentContent.summaryNodeId'
          component-id='summaryController.authoringComponentContent.summaryComponentId'
          student-data-type='summaryController.authoringComponentContent.studentDataType'
          period-id='summaryController.authoringComponentContent.periodId'
          chart-type='summaryController.authoringComponentContent.chartType'
          highlight-correct-answer='summaryController.authoringComponentContent.highlightCorrectAnswer'>
      </summary-display>
    </div>
  </div>
</div>
