<div class='summary' ng-controller='SummaryController as summaryController' flex>
  <compile data='summaryController.prompt'></compile>
  <div ng-if='summaryController.componentContent.showPromptFromOtherComponent'>
    <br/>
    <compile data='summaryController.otherPrompt'></compile>
  </div>
  <div ng-if='summaryController.isStudent && !summaryController.studentHasWork'>
    <br/>
    <span style='color: red'>
      {{ 'summary.youMustSubmitWork' | translate : { stepTitle: summaryController.otherStepTitle } }}
    </span>
  </div>
  <summary-display ng-if='!summaryController.isStudent || summaryController.studentHasWork'
      node-id='summaryController.summaryNodeId'
      component-id='summaryController.summaryComponentId'
      student-data-type='summaryController.summaryStudentDataType'
      period-id='summaryController.periodId'
      chart-type='summaryController.chartType'>
  </summary-display>
</div>