<div class='summary' ng-controller='SummaryController as summaryController' flex>
  <compile data='summaryController.prompt'></compile>
  <div ng-if='summaryController.componentContent.showPromptFromOtherComponent'>
    <br/>
    <compile data='summaryController.otherPrompt'></compile>
  </div>
  <div ng-if='summaryController.warningMessage != ""'>
    <br/>
    <span style='color: red'>
      {{ summaryController.warningMessage }}
    </span>
  </div>
  <summary-display ng-if='summaryController.isShowDisplay'
      node-id='summaryController.summaryNodeId'
      component-id='summaryController.summaryComponentId'
      student-data-type='summaryController.studentDataType'
      period-id='summaryController.periodId'
      chart-type='summaryController.chartType'
      highlight-correct-answer='summaryController.highlightCorrectAnswer'>
  </summary-display>
</div>