<div style="display: inline;">
  <md-button id='backToStepButton' class='createButton md-raised md-primary' ng-click='$ctrl.goBack()'>
    <md-icon>arrow_back</md-icon>
    <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'back' | translate }}</md-tooltip>
  </md-button>
  <md-button ng-if='!$ctrl.isGroupNode($ctrl.node.id)'
      class='topButton md-raised md-primary'
      ng-click='$ctrl.showGeneralAdvancedView()'>
    <md-icon>settings</md-icon>
    <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'generalAdvanced' | translate }}</md-tooltip>
  </md-button>
  <md-button ng-if='!$ctrl.isGroupNode($ctrl.node.id)'
      class='topButton md-raised md-primary'
      ng-click='$ctrl.showEditTransitionsView()'>
    <md-icon>trending_up</md-icon>
    <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'editTransitions' | translate }}</md-tooltip>
  </md-button>
  <md-button ng-if='!$ctrl.isGroupNode($ctrl.node.id)'
      class='topButton md-raised md-primary'
      ng-click='$ctrl.showEditConstraintsView()'>
    <md-icon>block</md-icon>
    <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'editConstraints' | translate }}</md-tooltip>
  </md-button>
  <md-button ng-if='!$ctrl.isGroupNode($ctrl.node.id)'
      class='topButton md-raised md-primary'
      ng-click='$ctrl.showCreateBranchView()'>
    <md-icon style='transform: rotate(180deg);'>call_split</md-icon>
    <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'createBranch' | translate }}</md-tooltip>
  </md-button>
  <md-button class='topButton md-raised md-primary' ng-click='$ctrl.showJSONView()'>
    <md-icon>code</md-icon>
    <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'showJSON' | translate }}</md-tooltip>
  </md-button>
</div>
<div ui-view style='margin-top: 10px;'></div>
<div ng-if="$ctrl.$state.current.name == 'root.at.project.node.advanced'" style='margin-top: 10px;'>
  <div ng-if='$ctrl.showEditTransitions' class='bodyDiv'>
    <div>
      <label class='node__label--vertical-alignment'>{{ ::'paths' | translate }}</label>
      <md-button class='topButton md-raised md-primary' ng-click='$ctrl.addNewTransition()'>
        <md-icon>add</md-icon>
        <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'addAPath' | translate }}</md-tooltip>
      </md-button>
    </div>
    <div ng-if='$ctrl.node.transitionLogic == null || $ctrl.node.transitionLogic.transitions == 0'>
      {{ ::'thereAreNotPathsOutOfThisStep' | translate }}
    </div>
    <div ng-repeat='(transitionIndex, transition) in $ctrl.node.transitionLogic.transitions'
        style='border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 20px 20px 10px 20px;'>
      <div style='margin-top: -10px; margin-bottom: 10px;'>
        <label class='node__label--vertical-alignment'>{{ ::'path' | translate }} {{ transitionIndex + 1 }}</label>
        <md-button class='topButton md-raised md-primary' ng-click='$ctrl.deleteTransition(transition)'>
          <md-icon>delete</md-icon>
          <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'deleteTransition' | translate }}</md-tooltip>
        </md-button>
      </div>
      <div flex>
        <md-input-container>
          <label>{{ ::'transitionToStep' | translate }}</label>
          <md-select id='stepSelectMenu'
              md-theme='at'
              class='node-select md-subhead'
              ng-model='transition.to'
              ng-change='$ctrl.authoringViewTransitionToNodeIdChanged()'
              aria-label='Transitions' style='width:600px'>
            <md-option ng-repeat='item in $ctrl.items | toArray | orderBy : "order"'
                value='{{ ::item.$key }}'
                ng-if='item.$key != "group0"'
                ng-class='{"node-select-option--group": $ctrl.isGroupNode(item.$key), "node-select-option--node": !$ctrl.isGroupNode(item.$key)}'>
              <span layout='row' layout-align='start center'>
                <span class='node-select__text'>{{ ::$ctrl.getNodePositionById(item.$key) + ': '}}{{ ::$ctrl.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
                <node-status-icon node-id='item.$key' custom-class='"node-select__status"'></node-status-icon>
              </span>
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div>
        <div>
          <label class='node__label--vertical-alignment'>{{ ::'requirements' | translate }}</label>
          <md-button class='topButton md-raised md-primary'
              ng-click='$ctrl.addNewTransitionCriteria(transition)'>
            <md-icon>add</md-icon>
            <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'addARequirementForThePath' | translate }}</md-tooltip>
          </md-button>
        </div>
        <div ng-if='transition.criteria == null || transition.criteria.length == 0'
            class='criteriaContent'>
          {{ ::'thereAreNoRequirementsForThisTransition' | translate }}
        </div>
        <div ng-repeat='(criteriaIndex, transitionCriteria) in transition.criteria'>
          <div class='criteriaContent'>
            <md-input-container>
              <label>The student needs to</label>
              <md-select ng-model='transitionCriteria.name'
                  ng-change='$ctrl.transitionCriteriaNameChanged(transitionCriteria)'
                  class='node-select md-subhead'
                  style='width:400px'>
                <md-option ng-repeat='availableTransitionCriteriaName in $ctrl.transitionCriterias'
                    ng-value='availableTransitionCriteriaName.value'>
                <span layout='row' layout-align='start center'>
                  <span class='node-select__text'>{{::availableTransitionCriteriaName.text}}</span>
                </span>
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <md-button class='topButton md-raised md-primary'
                  ng-click='$ctrl.deleteTransitionCriteria(transition, criteriaIndex)'>
                <md-icon>delete</md-icon>
                <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'deleteThisRequirement' | translate }}</md-tooltip>
              </md-button>
            </md-input-container>
          </div>
          <div ng-repeat='param in $ctrl.getTransitionCriteriaParamsByName(transitionCriteria.name)'
              class='criteriaContent'>
            <md-input-container ng-if='param.value == "nodeId"'>
              <label>{{ ::param.text }}</label>
              <md-select id="nodeIdSelectMenu"
                  md-theme="at"
                  class='node-select md-subhead'
                  ng-model="transitionCriteria.params.nodeId"
                  ng-change='$ctrl.transitionCriteriaNodeIdChanged(transitionCriteria)'
                  aria-label="TransitionCriteriaNode"
                  style="width:600px">
                <md-option ng-repeat="item in $ctrl.items | toArray | orderBy : 'order'"
                    ng-if='item.$key != "group0"'
                    value="{{ item.$key }}"
                    ng-class="{'node-select-option--group': $ctrl.isGroupNode(item.$key), 'node-select-option--node': !$ctrl.isGroupNode(item.$key)}">
                <span layout="row" layout-align="start center">
                  <span class="node-select__text">{{ ::$ctrl.getNodePositionById(item.$key) + ': '}}{{ ::$ctrl.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
                  <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
                </span>
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container ng-if='param.value == "componentId"'>
              <label>{{ ::param.text }}</label>
              <md-select id="componentIdSelectMenu"
                  md-theme="at"
                  class='node-select md-subhead'
                  ng-model="transitionCriteria.params.componentId"
                  ng-change='$ctrl.transitionCriteriaComponentIdChanged(transitionCriteria)'
                  aria-label="TransitionCriteriaComponent"
                  style="width:600px">
                <md-option ng-repeat="(componentIndex, component) in $ctrl.getComponentsByNodeId(transitionCriteria.params.nodeId)"
                    ng-disabled='transitionCriteria.name == "choiceChosen" && component.type != "MultipleChoice"'
                    value="{{ component.id }}">
                <span layout="row" layout-align="start center">
                  <span class="node-select__text">{{ ::(componentIndex + 1) }}. {{ ::component.type }} ({{ ::component.id }})</span>
                </span>
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container ng-if='param.value == "scores"'>
              <label>{{ ::param.text }}</label>
              <input type='text'
                  ng-model='transitionCriteria.params.scores'
                  ng-model-options='{ debounce: 1000 }'
                  ng-change='$ctrl.authoringViewNodeChanged()'
                  ng-list=','/>
            </md-input-container>
            <md-input-container ng-if='param.value == "choiceIds" && $ctrl.getChoiceTypeByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId) == "radio"'>
              <label>{{ ::'theStudentNeedsToChooseThisChoice' | translate }}</label>
              <md-select id="radioChoiceIdsSelectMenu"
                  md-theme="at"
                  class='node-select md-subhead'
                  ng-model="transitionCriteria.params.choiceIds"
                  ng-list
                  ng-change='$ctrl.authoringViewNodeChanged()'
                  aria-label="TransitionCriteriaNode"
                  style="width:600px">
                <md-optgroup>
                  <md-option ng-value="choice.id" ng-repeat="choice in $ctrl.getChoicesByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId)">{{choice.text}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
            <md-input-container ng-if='param.value == "choiceIds" && $ctrl.getChoiceTypeByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId) == "checkbox"'>
              <label>{{ ::'theStudentNeedsToChooseTheseChoices' | translate }}</label>
              <md-select id="checkboxChoiceIdsSelectMenu"
                  md-theme="at"
                  class='node-select md-subhead'
                  ng-model="transitionCriteria.params.choiceIds"
                  ng-change='$ctrl.authoringViewNodeChanged()'
                  aria-label="TransitionCriteriaNode"
                  style="width:600px"
                  multiple={{$ctrl.getChoiceTypeByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId)}}>
                <md-optgroup>
                  <md-option ng-value="choice.id" ng-repeat="choice in $ctrl.getChoicesByNodeIdAndComponentId(transitionCriteria.params.nodeId, transitionCriteria.params.componentId)">{{choice.text}}</md-option>
                </md-optgroup>
              </md-select>
            </md-input-container>
          </div>
        </div>
      </div>
    </div>
    <div ng-if='$ctrl.node.transitionLogic.transitions.length > 1'>
      <md-input-container id='howToChooseAmongAvailablePaths'>
        <label>{{ ::'howToChooseAmongAvailablePaths' | translate }}</label>
        <md-select id='howToChooseAmongAvailablePathsSelect'
            ng-disabled='$ctrl.node.transitionLogic.transitions.length <= 1'
            md-theme='at'
            class='node-select md-subhead'
            ng-model='$ctrl.node.transitionLogic.howToChooseAmongAvailablePaths'
            ng-change='$ctrl.authoringViewNodeChanged()'
            aria-label='howToChooseAmongAvailablePaths'
            style='width: 600px'>
          <md-option ng-repeat='item in $ctrl.howToChooseAmongAvailablePathsOptions'
              value='{{ item }}'>
            <span layout='row' layout-align='start center'>
              <span class='node-select__text'>{{item}}</span>
            </span>
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container id='whenToChoosePath'>
        <label>{{ ::'whenToChoosePath' | translate }}</label>
        <md-select id='whenToChoosePathSelect'
            ng-disabled='$ctrl.node.transitionLogic.transitions.length <= 1'
            md-theme='at'
            class='node-select md-subhead'
            ng-model='$ctrl.node.transitionLogic.whenToChoosePath'
            ng-change='$ctrl.authoringViewNodeChanged()'
            aria-label='whenToChoosePath'
            style='width: 600px'>
          <md-option ng-repeat='item in $ctrl.whenToChoosePathOptions' value='{{ item }}'>
            <span layout='row' layout-align='start center'>
              <span class='node-select__text'>{{item}}</span>
            </span>
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container id='canChangePath'>
        <label>{{ ::'canChangePath' | translate }}</label>
        <md-select id='canChangePathSelect'
            ng-disabled='$ctrl.node.transitionLogic.transitions.length <= 1'
            md-theme='at'
            class='node-select md-subhead'
            ng-model='$ctrl.node.transitionLogic.canChangePath'
            ng-change='$ctrl.authoringViewNodeChanged()'
            aria-label='canChangePath'
            style='width: 600px'>
          <md-option ng-repeat='item in $ctrl.canChangePathOptions' ng-value='{{ item }}'>
            <span layout='row' layout-align='start center'>
              <span class='node-select__text'>{{item}}</span>
            </span>
          </md-option>
        </md-select>
      </md-input-container>
      <br/>
      <md-input-container>
        <label>{{ ::'maxPathsVisitable' | translate }}</label>
        <input id='maxPathsVisitableSelect'
            type='number'
            ng-model='$ctrl.node.transitionLogic.maxPathsVisitable'
            ng-disabled='$ctrl.node.transitionLogic.transitions.length <= 1'
            ng-change='$ctrl.authoringViewNodeChanged()'
            ng-model-options='{ debounce: 1000 }'
            size='60' />
      </md-input-container>
    </div>
  </div>
  <div ng-if='$ctrl.showConstraints' class='bodyDiv' style='width: 700px;'>
    <div>
      <label class='node__label--vertical-alignment'>{{ ::'addConstraint' | translate }}</label>
      <md-button class='topButton md-raised md-primary'
          ng-click='$ctrl.addConstraintAndScrollToBottom()'>
        <md-icon>add</md-icon>
        <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'addConstraint' | translate }}</md-tooltip>
      </md-button>
    </div>
    <div id={{constraint.id}}
        ng-repeat='constraint in $ctrl.node.constraints track by $index'
        style="border: 2px solid #dddddd; border-radius: 5px; margin-bottom: 10px; padding: 10px 20px 10px 20px;">
      <b>{{ ::'constraint' | translate }} {{ $index + 1 }}</b>
      <md-button class='topButton md-raised md-primary' ng-click='$ctrl.deleteConstraint($index)'>
        <md-icon>delete</md-icon>
        <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'deleteConstraint' | translate }}</md-tooltip>
      </md-button>
      <br/>
      <div layout="row">
        <md-input-container>
          <label>{{ ::'action' | translate }}</label>
          <md-select ng-model='constraint.action'
              ng-change='$ctrl.authoringViewNodeChanged()'
              class="node-select md-subhead"
              style="width: 300px;">
            <md-option ng-repeat='action in $ctrl.constraintActions track by $index'
                ng-value='action.value'>
              <span layout="row" layout-align="start center">
                <span class="node-select__text" ng-style="$index == 0 && { 'color': 'red' }">{{action.text}}</span>
              </span>
            </md-option>
          </md-select>
        </md-input-container>
        <div style="width: 100px;"></div>
        <md-input-container>
          <label>{{ ::'removalConditional' | translate }}</label>
          <md-select ng-model='constraint.removalConditional'
              ng-change='$ctrl.authoringViewNodeChanged()'
              class="node-select md-subhead"
              style="width: 140px;">
            <md-option ng-repeat='availableRemovalConditional in $ctrl.removalConditionals'
                ng-value='availableRemovalConditional.value'>
              <span layout="row" layout-align="start center">
                 <span class="node-select__text">{{availableRemovalConditional.text}}</span>
              </span>
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div ng-repeat='criteria in constraint.removalCriteria'
          style="border: 2px solid #dddddd; border-radius: 5px; margin-top: 10px; margin-left: 50px; margin-bottom: 10px; padding: 10px 20px 10px 20px;">
        <b>{{ ::'removalCriteria' | translate }}</b>
        <md-button class='topButton md-raised md-primary'
            ng-click='$ctrl.deleteRemovalCriteria(constraint, $index)'>
          <md-icon>delete</md-icon>
          <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'deleteRemovalCriteria' | translate }}</md-tooltip>
        </md-button>
        <br/>
        <md-input-container>
          <label>{{ ::'removalCriteriaName' | translate }}</label>
          <md-select ng-model='criteria.name'
              ng-change='$ctrl.removalCriteriaNameChanged(criteria)'
              class="node-select md-subhead"
              style="width: 400px;">
            <md-option ng-repeat='availableRemovalCriteria in $ctrl.removalCriteria track by $index'
                ng-value='availableRemovalCriteria.value'>
              <span layout="row" layout-align="start center">
                 <span class="node-select__text" ng-style="$index == 0 && { 'color': 'red' }">{{availableRemovalCriteria.text}}</span>
              </span>
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container ng-repeat='param in $ctrl.getRemovalCriteriaParamsByName(criteria.name)'>
          <label ng-if="param.value != 'requireAllCellsInARowToBeFilled' && param.value != 'tableHasHeaderRow'">{{::param.text}}</label>
          <md-select id="nodeIdSelectMenu"
              ng-if='param.value == "nodeId"'
              md-theme="at"
              class="node-select md-subhead"
              ng-model="criteria.params.nodeId"
              ng-change='$ctrl.constraintRemovalCriteriaNodeIdChanged(criteria)'
              aria-label="TransitionCriteriaNode"
              style="width: 400px;">
            <md-option ng-value="''">
              <span layout="row" layout-align="start center">
                <span class="node-select__text" style="color: red">{{ ::'pleaseChooseAStep' | translate }}</span>
              </span>
            </md-option>
            <md-option ng-repeat="item in $ctrl.items | toArray | orderBy : 'order'"
                ng-if="item.$key != 'group0'"
                ng-value="item.$key"
                ng-class="{'node-select-option--group': $ctrl.isGroupNode(item.$key), 'node-select-option--node': !$ctrl.isGroupNode(item.$key)}">
              <span layout="row" layout-align="start center">
                <span class="node-select__text">{{ ::$ctrl.getNodePositionById(item.$key) + ': '}}{{ ::$ctrl.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
                <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
              </span>
            </md-option>
          </md-select>
          <md-select id="componentIdSelectMenu"
              ng-if='param.value == "componentId"'
              md-theme="at"
              class="node-select md-subhead"
              ng-model="criteria.params.componentId"
              ng-change='$ctrl.constraintRemovalCriteriaComponentIdChanged(criteria)'
              aria-label="TransitionCriteriaComponent"
              style="width: 400px;">
            <md-option ng-value="''">
              <span layout="row" layout-align="start center">
                <span class="node-select__text" style="color: red">{{ ::'pleaseChooseAComponent' | translate }}</span>
              </span>
            </md-option>
            <md-option ng-repeat="component in ::$ctrl.getComponentsByNodeId(criteria.params.nodeId) track by $index"
                ng-value="component.id">
              <span layout="row" layout-align="start center">
                <span class="node-select__text">{{::($index + 1)}}. {{::component.type}} ({{ ::'prompt' | translate }}: {{::component.prompt}})</span>
              </span>
            </md-option>
          </md-select>
          <md-select id="fromNodeIdSelectMenu"
              ng-if='param.value == "fromNodeId"'
              md-theme="at"
              class="node-select md-subhead"
              ng-model="criteria.params.fromNodeId"
              ng-change='$ctrl.authoringViewNodeChanged()'
              aria-label="TransitionCriteriaNode"
              style="width: 400px;">
            <md-option ng-value="''">
              <span layout="row" layout-align="start center">
                <span class="node-select__text" style="color: red">{{ ::'pleaseSelectAFromStep' | translate }}</span>
              </span>
            </md-option>
            <md-option ng-repeat="item in $ctrl.items | toArray | orderBy : 'order'"
                ng-value="item.$key"
                ng-if="item.$key != 'group0'"
                ng-class="{'node-select-option--group': $ctrl.isGroupNode(item.$key), 'node-select-option--node': !$ctrl.isGroupNode(item.$key)}">
              <span layout="row" layout-align="start center">
                <span class="node-select__text">{{ ::$ctrl.getNodePositionById(item.$key) + ': '}}{{ ::$ctrl.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
                <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
              </span>
            </md-option>
          </md-select>
          <md-select id="toNodeIdSelectMenu"
              ng-if='param.value == "toNodeId"'
              md-theme="at"
              class="node-select md-subhead"
              ng-model="criteria.params.toNodeId"
              ng-change='$ctrl.authoringViewNodeChanged()'
              aria-label="TransitionCriteriaNode"
              style="width: 400px;">
            <md-option ng-value="''">
              <span layout="row" layout-align="start center">
                <span class="node-select__text" style="color: red">{{ ::'pleaseSelectAToStep' | translate }}</span>
              </span>
            </md-option>
            <md-option ng-repeat="item in $ctrl.items | toArray | orderBy : 'order'"
                ng-if="item.$key != 'group0'"
                ng-value="item.$key"
                ng-class="{'node-select-option--group': $ctrl.isGroupNode(item.$key), 'node-select-option--node': !$ctrl.isGroupNode(item.$key)}">
              <span layout="row" layout-align="start center">
                <span class="node-select__text">{{ ::$ctrl.getNodePositionById(item.$key) + ': '}}{{ ::$ctrl.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
                <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
              </span>
            </md-option>
          </md-select>
          <input type='text'
              ng-if='param.value == "scores"'
              ng-model='criteria.params.scores'
              ng-model-options='{ debounce: 1000 }'
              ng-change='$ctrl.authoringViewNodeChanged()'
              ng-list=','/>
          <div ng-if='param.value == "scores" && criteria.params.scores == ""'><span style="color: red">{{ ::'pleaseEnterAScore' | translate }}</span></div>
          <input type='number'
              ng-if='param.value == "requiredSubmitCount"'
              ng-model='criteria.params.requiredSubmitCount'
              ng-model-options='{ debounce: 1000 }'
              style="width: 400px;"
              ng-change='$ctrl.authoringViewNodeChanged()'/>
          <div ng-if='param.value == "requiredSubmitCount" && (criteria.params.requiredSubmitCount == null || criteria.params.requiredSubmitCount == "")'><span style="color: red">{{ ::'pleaseEnterTheRequiredNumberOfSubmits' | translate }}</span></div>
          <md-select id="radioChoiceIdsSelectMenu"
              ng-if='param.value == "choiceIds" && "radio" == $ctrl.getChoiceTypeByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)'
              md-theme="at"
              class="node-select md-subhead"
              ng-model="criteria.params.choiceIds"
              ng-change='$ctrl.authoringViewNodeChanged()'
              aria-label="TransitionCriteriaNode"
              style="width: 400px;">
            <md-option ng-value="''">
              <span layout="row" layout-align="start center">
                <span class="node-select__text" style="color: red">{{ ::'pleaseSelectAChoice' | translate }}</span>
              </span>
            </md-option>
            <md-optgroup>
              <md-option ng-value="choice.id" ng-repeat="choice in ::$ctrl.getChoicesByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)">
                <span layout="row" layout-align="start center">
                  <span class="node-select__text">{{::choice.text}}</span>
                </span>
              </md-option>
            </md-optgroup>
          </md-select>
          <md-select id="checkboxChoiceIdsSelectMenu"
              ng-if='param.value == "choiceIds" && "checkbox" == $ctrl.getChoiceTypeByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)'
              md-theme="at"
              class="node-select md-subhead"
              ng-model="criteria.params.choiceIds"
              ng-change='$ctrl.authoringViewNodeChanged()'
              aria-label="TransitionCriteriaNode"
              style="width: 400px;"
              multiple={{$ctrl.getChoiceTypeByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)}}>
            <md-optgroup>
              <md-option ng-value="choice.id" ng-repeat="choice in $ctrl.getChoicesByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId)">{{choice.text}}</md-option>
            </md-optgroup>
          </md-select>
          <div ng-if='param.value == "choiceIds" && "checkbox" == $ctrl.getChoiceTypeByNodeIdAndComponentId(criteria.params.nodeId, criteria.params.componentId) && criteria.params.choiceIds == ""' style='margin-left: 10px;'><span style="color: red">{{ ::'pleaseSelectAChoice' | translate }}</span></div>
          <input ng-if='param.value == "requiredNumberOfWords"'
              type='number'
              ng-model='criteria.params.requiredNumberOfWords'
              ng-model-options='{ debounce: 1000 }'
              style="width: 400px;"
              ng-change='$ctrl.authoringViewNodeChanged()'/>
          <div ng-if='param.value == "requiredNumberOfWords" && (criteria.params.requiredNumberOfWords == null || criteria.params.requiredNumberOfWords == "")'><span style="color: red">{{ ::'pleaseEnterTheRequiredNumberOfWords' | translate }}</span></div>
          <input ng-if='param.value == "requiredNumberOfNotes"'
              type='number'
              ng-model='criteria.params.requiredNumberOfNotes'
              ng-model-options='{ debounce: 1000 }'
              style="width: 400px;"
              ng-change='$ctrl.authoringViewNodeChanged()'/>
          <div ng-if='param.value == "requiredNumberOfNotes" && (criteria.params.requiredNumberOfNotes == null || criteria.params.requiredNumberOfNotes == "")'><span style="color: red">{{ 'pleaseEnterTheRequiredNumberOfNotes' | translate }}</span></div>
          <input ng-if='param.value == "requiredNumberOfFilledRows"'
              type='number'
              ng-model="criteria.params.requiredNumberOfFilledRows"
              ng-model-options='{ debounce: 1000 }'
              style="width: 450px;"
              ng-change='$ctrl.authoringViewNodeChanged()'/>
          <div ng-if='param.value == "requiredNumberOfFilledRows" && (criteria.params.requiredNumberOfFilledRows == null || criteria.params.requiredNumberOfFilledRows == "")'><span style="color: red">{{ 'pleaseEnterTheRequiredNumberOfFilledRows' | translate }}</span></div>
          <md-checkbox ng-if="param.value == 'tableHasHeaderRow'"
              ng-model="criteria.params.tableHasHeaderRow"
              style="width: 400px;"
              ng-change='$ctrl.authoringViewNodeChanged()'>
            {{ ::param.text }}
          </md-checkbox>
          <md-checkbox ng-if="param.value == 'requireAllCellsInARowToBeFilled'"
              ng-model="criteria.params.requireAllCellsInARowToBeFilled"
              style="width: 400px;"
              ng-change='$ctrl.authoringViewNodeChanged()'>
            {{ ::param.text }}
          </md-checkbox>
        </md-input-container>
      </div>
      <div style="margin-left: 50px;">
        <label class='node__label--vertical-alignment'>{{ ::'addRemovalCriteria' | translate }}</label>
        <md-button class='topButton md-raised md-primary'
            ng-click='$ctrl.addRemovalCriteria(constraint)'>
          <md-icon>add</md-icon>
          <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ ::'addRemovalCriteria' | translate }}</md-tooltip>
        </md-button>
      </div>
    </div>
    <div ng-if="$ctrl.node.constraints.length > 0">
      <label class='node__label--vertical-alignment'>{{ ::'addConstraint' | translate }}</label>
      <md-button class='topButton md-raised md-primary' ng-click='$ctrl.addConstraintAndScrollToBottom()'>
        <md-icon>add</md-icon>
        <md-tooltip md-direction='top' class='projectButtonTooltip'>{{ '::addConstraint' | translate }}</md-tooltip>
      </md-button>
    </div>
  </div>
  <div ng-if='$ctrl.showCreateBranch' class='bodyDiv'>
    {{ ::'createBranch' | translate }}
    <br/>
    <div>
      {{ ::'numberOfBranchPaths' | translate }}
      <input type='number'
          ng-model='$ctrl.createBranchNumberOfBranches'
          ng-change='$ctrl.createBranchNumberOfBranchesChanged()'/>
      <button ng-click='$ctrl.removeBranchButtonClicked()' translate='removeBranch'></button>
    </div>
    <div ng-if='$ctrl.createBranchNumberOfBranches > 1'>
      <div>
        {{ ::'howToChooseAmongPaths' | translate }}
        <md-select md-theme="at"
            class="node-select md-subhead"
            style="margin-left:30px; width:600px"
            ng-model="$ctrl.createBranchCriterion"
            ng-change="$ctrl.createBranchCriterionChanged()">
          <md-option ng-repeat="branchCriterion in $ctrl.branchCriteria"
              value="{{ branchCriterion.value }}">
            <span layout="row" layout-align="start center">
              <span class="node-select__text">{{::branchCriterion.text}}</span>
            </span>
          </md-option>
        </md-select>
      </div>
      <div ng-if='$ctrl.createBranchCriterion == "score" || $ctrl.createBranchCriterion == "choiceChosen"'>
        {{ ::'chooseStep' | translate }}
        <md-select md-theme="at"
            class="node-select md-subhead"
            ng-model="$ctrl.createBranchNodeId"
            ng-change="$ctrl.createBranchNodeIdChanged()"
            style="margin-left:30px; width:600px">
          <md-option ng-repeat="item in $ctrl.items | toArray | orderBy : 'order'"
              value="{{ item.$key }}"
              ng-class="{'node-select-option--group': $ctrl.isGroupNode(item.$key), 'node-select-option--node': !$ctrl.isGroupNode(item.$key)}">
            <span layout="row" layout-align="start center">
              <span class="node-select__text">{{ ::$ctrl.getNodePositionById(item.$key) + ': '}}{{ ::$ctrl.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
              <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
            </span>
          </md-option>
        </md-select>
      </div>
      <div ng-if='$ctrl.createBranchCriterion == "score" || $ctrl.createBranchCriterion == "choiceChosen"'>
        {{ ::'chooseComponent' | translate }}
        <md-select md-theme="at"
            class="node-select md-subhead"
            ng-model="$ctrl.createBranchComponentId"
            ng-change="$ctrl.createBranchComponentIdChanged()"
            style="margin-left:30px; width:600px">
          <md-option ng-repeat="component in $ctrl.getComponentsByNodeId($ctrl.createBranchNodeId)"
              value="{{ ::component.id }}">
            <span layout="row" layout-align="start center">
              <span class="node-select__text">ID: {{::component.id}} | Type: {{::component.type}} | Prompt: {{::component.prompt}}</span>
            </span>
          </md-option>
        </md-select>
      </div>
      <div ng-repeat='branch in $ctrl.createBranchBranches' style='border: 1px solid black'>
        {{ ::'branchPath' | translate }} {{::branch.number}}
        <div ng-if='$ctrl.createBranchCriterion == "workgroupId"'>
          {{ ::'WORKGROUP_ID' | translate }}
        </div>
        <div ng-if='$ctrl.createBranchCriterion == "score"'>
          {{ ::'SCORE' | translate }}
          <input type='text'
              ng-model='branch.scores'
              ng-change='$ctrl.createBranchScoreChanged(branch)'
              ng-list=','/>
        </div>
        <div ng-if='$ctrl.createBranchCriterion == "choiceChosen"'>
          {{ ::'choiceChosen' | translate }}
          <md-select ng-model='branch.choiceId'>
            <md-option ng-repeat='choice in branch.choices' value='{{ choice.id }}'>
               <span layout="row" layout-align="start center">
                 <span class="node-select__text">{{ ::'ID' | translate }}: {{choice.id}} | {{ ::'TEXT' | translate }}: {{choice.text}} | {{ ::'IS_CORRECT' | translate }}: {{choice.isCorrect}} | {{ ::'FEEDBACK' | translate }}: {{choice.feedback}}</span>
               </span>
            </md-option>
          </md-select>
        </div>
        <div ng-if='$ctrl.createBranchCriterion == "random"'>
          {{ ::'random' | translate }}
        </div>
        <button ng-click='branch.openStepsChooser = !branch.openStepsChooser'>{{ branch.openStepsChooser ? ('closeBranchPathXStepsChooser' | translate:'{ branchNumber: ' + branch.number + ' }') : 'openBranchPathXStepsChooser' | translate:'{ branchNumber: ' + branch.number + ' }' }}</button>
        <div ng-if='branch.openStepsChooser'>
          {{ ::'chooseStepsInPath' | translate }}
          <br/>
          <div ng-repeat='item in branch.items | toArray | orderBy : "order"'
              ng-class='{"node-select--group": $ctrl.isGroupNode(item.$key), "node-select--node": !$ctrl.isGroupNode(item.$key)}'>
            <input type='checkbox'
                ng-model='item.checked'
                ng-if='item.order!==0'
                ng-change='$ctrl.createBranchStepClicked(branch, item)' />
            <h6 ng-click='item.checked = !item.checked; $ctrl.createBranchStepClicked(branch, item)'
                style='display:inline; cursor:pointer'
                ng-class='{"groupHeader": $ctrl.isGroupNode(item.$key), "stepHeader": !$ctrl.isGroupNode(item.$key)}'
                ng-if='item.order!==0'>
              {{::$ctrl.getNodePositionById(item.$key)}} {{::$ctrl.getNodeTitleByNodeId(item.$key)}}
            </h6>
          </div>
          <button ng-click='branch.openStepsChooser = !branch.openStepsChooser'>{{ branch.openStepsChooser ? ('closeBranchPathXStepsChooser' | translate:'{ branchNumber: ' + branch.number + ' }') : 'openBranchPathXStepsChooser' | translate:'{ branchNumber: ' + branch.number + ' }' }}</button>
        </div>
      </div>
      <div>
        {{ ::'chooseMergePoint' | translate }}
        <md-select md-theme="at"
            class="node-select md-subhead"
            ng-model="$ctrl.createBranchMergePointNodeId"
            ng-change="$ctrl.createBranchMergePointNodeIdChanged()"
            style="margin-left:30px; width:600px">
          <md-option ng-repeat="item in $ctrl.items | toArray | orderBy : 'order'"
              value="{{ item.$key }}"
              ng-class="{'node-select-option--group': $ctrl.isGroupNode(item.$key), 'node-select-option--node': !$ctrl.isGroupNode(item.$key)}">
            <span layout="row" layout-align="start center">
              <span class="node-select__text">{{ ::$ctrl.getNodePositionById(item.$key) + ': '}}{{ ::$ctrl.getNodeTitleByNodeId(item.$key) }} ({{item.$key}})</span>
              <node-status-icon node-id="item.$key" custom-class="'node-select__status'"></node-status-icon>
            </span>
          </md-option>
        </md-select>
      </div>
    </div>
  </div>
  <div ng-if='$ctrl.showJSON' class='bodyDiv'>
    <h6 ng-if='$ctrl.isGroupNode($ctrl.nodeId)'>{{ ::'editActivityJSON' | translate }}</h6>
    <h6 ng-if='!$ctrl.isGroupNode($ctrl.nodeId)'>{{ ::'editStepJSON' | translate }}</h6>
    <md-input-container style='width: 100%;'>
      <textarea ng-model='$ctrl.authoringNodeContentJSONString'
          ng-change='$ctrl.autoSaveJSON()'
          ng-model-options='{ debounce: 1000 }'
          style='width: 90%; border: 1px solid black;'></textarea>
    </md-input-container>
  </div>
</div>
